[2021-04-07 05:42] gabrielke opened #17311 "state or states?"
### Feedback

Here:
states.sensor.livingroom.attributes["Battery numeric"].

is it states or state (a typo) there?
States as collection is not explained on the page.

### URL

https://www.home-assistant.io/docs/configuration/state_object/

### Version

2021.3.4

[2021-04-07 09:34] #17276 closed, assigned to Danielhiversen

[2021-04-07 11:44] ludeeus commented on #17311
It's both :)

In the context on that page where `state` is used, it's a representation of the State object for instance `sensor.livingroom`
To get a single state attribute of a state object, you use `states.sensor.livingroom.attributes["Battery numeric"]` or the more prefered way `state_attr('sensor.livingroom', 'Battery numeric')`

[2021-04-07 11:48] mtthsbrd commented on #17282
Not to be a pain, but it looks like last_changed can't be accessed via state_attr() (it will return none instead) - best explanation I could find is in https://community.home-assistant.io/t/last-updated-state-and-last-changed-in-lovelave/101701/2

So {{as_timestamp(now()) - as_timestamp(states.sensor["office_voltage"].last_changed) < 600}} looks to be the correct way

![image](https://user-images.

[2021-04-07 13:51] Mr-Grover opened #17313 "yale_smart_alarm update"
### Feedback

Hello,
The Yale app has gone untouched for awhile now.  The yale smart alarm client is on 0.3.1 and Home Assistant is still using 0.1.6.

0.1.6 added support for lock status but the integration itself was never updated to use it. 0.3.1 has gone even further now and added the abilities to lock and unlock the door now. For awhile now I been using a custom component based off of 0.1.6

[2021-04-07 16:01] lankylad9 opened #17316 "Temperature"
### Feedback

My Volvo knows what the outside temperature is (Volvo On Call App), but this isn't available in Homeassistant?

### URL

https://www.home-assistant.io/integrations/volvooncall/

### Version

2021.3.4

[2021-04-07 17:19] #16354 closed, assigned to nobody

[2021-04-07 20:10] tscibilia opened #17320 "provide instruction on how to opt-out of HIBP"
### Feedback

I think the documentation should be updated with instructions or at least a link to the community forum to show users how they can disable the addon.

https://community.home-assistant.io/t/block-ha-from-sending-out-passwords-to-third-party/286628/124

### URL

https://www.home-assistant.io/more-info/pwned-passwords/

### Version

2021.4.0

[2021-04-07 20:12] efficiencynerd opened #17321 "Not clear how to use select_tariff"
### Feedback

The only automation example shows how to use next_tariff, but select_tariff seems to function differently. In particular, it does not work with the "target:" as specified in the example. I'm not sure it this is also true for next_tariff, just that it doesn't work for select_tariff.

### URL

https://www.home-assistant.io/integrations/utility_meter/

### Version

2021.3.4

[2021-04-07 20:44] dgomes commented on #17321
what do you mean it does not work with target: ?

This works perfectly:

[code]

[2021-04-07 20:51] JakubAnderwald opened #17322 "Different app"
### Feedback

Hi, I'm using "Broadlink" app fro my RM4C mini, not e-Control as mentioned in the article. The app I'm using doesn't have "share" option so I can't transfer the learned codes to Home Assistant. It would be great to provide manual for this app as well.

### URL

https://www.home-assistant.io/integrations/broadlink/

### Version

2021.4.0

[2021-04-07 21:24] ericxls1978 opened #17323 "Node-Red?"
### Feedback

How to I include node-red in the logbook?

### URL

https://www.home-assistant.io/integrations/logbook/

### Version

2021.4.0

[2021-04-07 21:53] efficiencynerd commented on #17321
Aha, that particular combo is not something I tried.

This doesn't work:
[code]

And this also doesn't work:
[code]

But your example makes sense. I also got it to work like this:

[code]

Maybe my issue was just a lack of understanding with how the `target:` and `data:` selectors work. Perhaps a quick example in the docs would be helpful?

[2021-04-07 23:22] stolenvw opened #17324 "speedtest notworking after updating home assistant to 2021.4.0"
### Feedback

speedtest fails to load after update to home assistant

### URL

https://www.home-assistant.io/integrations/speedtestdotnet/

### Version

2021.4.0

`Logger: homeassistant.config_entries
Source: components/speedtestdotnet/__init__.py:194
First occurred: 7:11:40 PM (1 occurrences)
Last logged: 7:11:40 PM

Error setting up entry SpeedTest for speedtestdotnet
Traceback (most recent call

[2021-04-07 23:29] genem2 opened #17325 "Enable Analytics - not accessible on the General Configuration screen"
### Feedback

As stated in the doc, I'm not finding any evidence of the integration on my Configuration >> General screen. Would that be because: Editor disabled because config stored in configuration.yaml.

### URL

https://www.home-assistant.io/integrations/analytics/

### Version

2021.4.0

[2021-04-07 23:40] SeanPM5 commented on #17325
One possible cause for those being missing is that you need to be logged in to the "owner" account to see those settings. You can verify if you're an owner on the profile page:

![image](https://i.imgur.com/N7cLFzV.png)

Or at Configuration -> Users.

[2021-04-07 23:40] dgomes commented on #17321
I really don't think this is an issue with utility_meter... but an issue about how to use services in home assistant...

I advise you to use the UI interface in https://my.home-assistant.io/redirect/developer_services/ and to check the yaml produced by your UI options...

[2021-04-07 23:54] genem2 commented on #17325
Owner. That's a new one on me.
I'm an administrator. I'm reading:

https://www.home-assistant.io/docs/authentication/

that introduces Owner, but maybe my installation (user) was created before this time? I was never prompted like that page suggests (first time the owner user account is created).  If Owner, rather than Administrator is the reason, I need to figure out how to change my user account

[2021-04-08 00:29] ludeeus commented on #17325
For now you need to be owner to enable analytics, that will change in the next patch release to administrator instead.

[2021-04-08 00:29] #17325 closed, assigned to ludeeus

[2021-04-08 00:56] ericxls1978 opened #17328 "Power Sockets appear as lights!"
### Feedback

Have a bunch of Philips Hue power sockets but these appear under domain lights.xxxx when it should be switch.xxxx.

Searched quite a bit how to convert these from "lights" into switches -but no luck.

### URL

https://www.home-assistant.io/integrations/hue/

### Version

2021.4.0

[2021-04-08 07:37] SeanPM5 commented on #17324
Appreciate the report, but for future reference bug reports with integrations belong on the "core" repository (this one is just for documentation/website stuff).

There's an existing issue for the Speedtest integration here: https://github.com/home-assistant/core/issues/48803

[2021-04-08 07:37] #17324 closed, assigned to rohankapoorcom

[2021-04-08 08:34] evadim opened #17331 ""zeroconf default interface" is unclear"
### Feedback

I read in release post about Zeroconf integration changes. In docs I see following statement:
`By default, zeroconf will broadcast on the default interface.`

And right here I have question - which of my 11 interfaces considered as default one? I see no info in logs and short search docs/internet not give me any idea.

It would be great if docs page provide a way to determine how to

[2021-04-08 09:48] yashijoe opened #17337 "Redirect URL & First Reply Url"
### Feedback

I've no idea what to put in the Redirect URL & First Reply Url fields on the Legrand application page
Both of them are mandatory

thanks

### URL

https://www.home-assistant.io/integrations/home_plus_control/

### Version

2021.4.0

[2021-04-08 10:32] frenck commented on #17331
The interface holding the default route.

[2021-04-08 10:53] ugleatle opened #17338 "Cannot find configuration variables for automations"
### Feedback

Maybe I am looking the wrong place, but I am struggling with finding the configuration variables for automations. What variables are actually possible to use? (example from scripts: https://www.home-assistant.io/integrations/script/#-configuration-variables)

### URL

https://www.home-assistant.io/docs/automation/yaml/

### Version

_No response_

[2021-04-08 11:43] frenck commented on #17316
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests. It might be possible to add it, but... that is a feature :)

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat ser

[2021-04-08 11:43] #17316 closed, assigned to nobody

[2021-04-08 11:57] KevinDAdam opened #17339 "Update to core-2021.4.0 seems to break this integration"
### Feedback

Hi,
Just upgraded to core-2021.4.0 and this seems to have broken the speediest integration. (edited - **SpeedTest** integration! Flipin autocorrect! :)
When clicking on options for the integration, I get the error message:
------------------
Error
Config flow could not be loaded
------------------

### URL

https://www.home-assistant.io/integrations/speedtestdotnet/

### Version

202

[2021-04-08 13:08] drfinn15 opened #17341 "Description cut in outlier section"
### Feedback

the description of the outlier section is missing some words at the end.

### URL

https://www.home-assistant.io/integrations/filter/

### Version

2021.4.0

[2021-04-08 14:06] frenck commented on #17338
All, that is free-form.

You decide on what variables to pass into the script.

[2021-04-08 14:06] ubbeus commented on #17275
Also it still has the problem of only showing prayer time in UTC regardless of local time.

[2021-04-08 14:23] robertboccia commented on #17339
same issue, but i have not upgraded to 2021.4 as yet

[2021-04-08 15:02] evadim commented on #17331
Thanks for the explanation. I think this is nice to have documented.

From my point of view this is good if HA deployed on standalone hardware. In my case it installed on home router/firewall/file server/etc and default route have PPPoE interface from internet provider, and LAN reside on different interface, heh.

Is it possible to set this interface somehow?

[2021-04-08 15:11] frenck commented on #17331
Yes, as documented: <https://www.home-assistant.io/integrations/zeroconf/#default_interface>

[2021-04-08 15:23] dgomes commented on #17341
Incredible how this persisted for 3 years 😓

fixed in #17343

[2021-04-08 15:26] #17341 closed, assigned to dgomes

[2021-04-08 15:43] enricodx commented on #17339
Same here...

WARNING (MainThread) [homeassistant.bootstrap] Waiting on integrations to complete setup: speedtestdotnet

[2021-04-08 15:54] rkitzman opened #17344 "https://analytics.home-assistant.io not all graphs are updated"
### Feedback

https://analytics.home-assistant.io/#installations has 3 panels of graphs, line, pie and geographic.

the pie and geographic charts are not updating.

### URL

https://www.home-assistant.io/integrations/analytics/

### Version

2021.4.0

[2021-04-08 16:07] ludeeus commented on #17344
This is a known issue and stated at the top of the page <https://analytics.home-assistant.io/>

[2021-04-08 16:07] #17344 closed, assigned to ludeeus

[2021-04-08 16:19] frenck commented on #17339
Hi there @KevinDAdam!

Thanks for providing feedback on our documentation, but there is no amount of documentation I can adjust to fix an issue with the integration code.

If you want to report issues with an integration, please go here:

<https://github.com/home-assistant/core/issues>

In cases you don't know where to go with an issue, or anything else, check:

<https://www.home-assistant.io/help

[2021-04-08 16:19] #17339 closed, assigned to rohankapoorcom

[2021-04-08 17:15] stegmannb opened #17345 "Amazon Polly documentation contains invalid variable"
### Feedback

The documentation talks about the variable `name`, but that variable causes an error during validation.

I could not find any usage of that config variable in the code.
I assume that variable was replaced by [service_name](https://www.home-assistant.io/integrations/tts/#service_name).

### URL

https://www.home-assistant.io/integrations/amazon_polly/

### Version

2021.4.0

[2021-04-08 17:22] stegmannb commented on #17345
I created a [pull request](https://github.com/home-assistant/home-assistant.io/pull/17346) to simply remove the variable from the list.

[2021-04-08 17:22] frenck commented on #17345
You don't have to create issues for pull requests...

[2021-04-08 17:26] stegmannb commented on #17345
Sorry, I did not know that. I'm still new to this...

So I'm closing this issue and leaving the pull request open.

[2021-04-08 17:26] #17345 closed, assigned to pvizeli

[2021-04-08 17:26] frenck commented on #17345
Don't worry 👍

[2021-04-08 18:09] caylor93 opened #17347 "How to remove a dead node?"
### Feedback

Doesn't seem to have a way to remove a dead node / device.  Is there any way to do that?

### URL

https://www.home-assistant.io/integrations/zwave_js/

### Version

2021.4.0

[2021-04-08 18:12] frenck commented on #17347
You can't, its on the upstream roadmap, see: <https://github.com/home-assistant-libs/zwave-js-server-python/issues/56>

[2021-04-08 18:12] #17347 closed, assigned to nobody

[2021-04-08 19:06] cdn4lf opened #17349 "Saddle Case"
### Feedback

Is it possible to update the documentation to reflect that the entity_id should not include saddle case?

It isn't indicated in the documentation here, but does result in an invalid config error.

### URL

https://www.home-assistant.io/integrations/input_number/

### Version

2021.4.0

[2021-04-08 21:31] evadim commented on #17331
Document does not provide a way to set default interface, only option to enable all of them. But this is way to go in this case.

P.S. Looks like this thing tell me why in my setup different HA links for LAN and WAN access not work and it always show WAN link.

Thanks for explanation and help.

[2021-04-08 23:28] hamdanfadi opened #17351 "iCloud Integration"
### Feedback

The new update core-2021.4.0 cause iCloud integration to stop. I have revert to an old snapshot all working fine. May I know when are you going to fix this issue?

Cheers,

Fadi

### URL

https://home-assistant.io

### Version

core-2021.4.0

[2021-04-08 23:57] SeanPM5 commented on #17351
This was fixed in https://github.com/home-assistant/core/pull/48815 which was included in core-2021.4.1 (just released about an hour ago). So if you update your Home Assistant it should be working again.

[2021-04-08 23:57] #17351 closed, assigned to nobody

[2021-04-09 01:25] hamdanfadi commented on #17351
There is another issue with ZHA all devices become offline!

[2021-04-09 02:25] SeanPM5 commented on #17351
This `home-assistant.io` repository is intended for issues with the website/documentation only, not integrations. You can create an issue on the "core" repo here for any ZHA issues that you're experiencing: https://github.com/home-assistant/core/issues/new/choose

Thanks.

[2021-04-09 06:01] balloob commented on #17349
Saddle case?

[2021-04-09 06:10] emontnemery commented on #17349
Maybe it's auto correct version of "snake_case" ? :)

[2021-04-09 06:14] emontnemery commented on #17349
@cdn4lf can you explain your problem a bit further? Configuration of `input_number` takes existing `entity_id` as inputs, and those need to be correctly spelled.

[2021-04-09 06:34] frenck commented on #17349
It is the dictionary item keys he is referring to, for which the rules of a valid entity ID apply.

[2021-04-09 07:14] ugleatle commented on #17338
I don't understand that answer? You can obviously not use any configuration variable you choose in automations? Not in scripts either? There is a set specific amount of configuration variables to choose from, but I couldn't find a list for automations, where for instance scripts have a list.

[2021-04-09 07:17] frenck commented on #17338
Those variables are user variables, you can define and re-use in your automations.
They are really free-form and up to you.

[2021-04-09 07:18] emontnemery commented on #17349
Oh, I see. That's a general comment for all integrations where entities are specified as a dictionary rather than a list then, and I agree it's not clear from the documentation there are any restrictions on the keys.

We should maybe do something like:
[code]

[2021-04-09 07:25] ugleatle commented on #17338
I still don't understand. Take the script example.

The configuration variables "icon", " mode" and "max" does something. They are in a list of the possible configurations varaibles. If just add "random" as a configuration variable it will do nothing (except throw and error if you do check config), so there is a list of possible configuration variables for scripts. But I couldn't find a similar li

[2021-04-09 07:25] frenck commented on #17323
That is a question for Node-RED?

We cannot help you with using third-party software with Home Assistant.

[2021-04-09 07:25] #17323 closed, assigned to nobody

[2021-04-09 07:26] dc31xx opened #17352 "Reference to reevaluation details not found"
### Feedback

Regarding:

If I click on the binary_sensor link and <kbd>Cmd</kbd>+<kbd>F</kbd> the word `reevaluation` I end up with nothing.

Call me lazy, but I think this is how many people search for help :-)

Btw, thank you for all the work you put into this 👍

### URL

https://www.home-assistant.io/integrations/bayesian/

### Version

2021.4.1

[2021-04-09 07:49] frenck commented on #17352
That is correct! That has been removed and isn't needed anymore.

This is a reference that is leftover that needs to be cleaned up. Thanks for the feedback!

[2021-04-09 07:50] dc31xx commented on #17352
Thank you for the quick response!

[2021-04-09 08:02] frenck commented on #17338
Variables don't do anything, they are just available as you have set them. E.g., for re-use.

[code]

(Please note; the above is an example, quickly typed out just for the sake of the example. It has not been tested so it may contain an error.)

[2021-04-09 08:08] ugleatle commented on #17338
Look at the script documentation, they have a list of "legal" configuration variables. Like you are using there "variables:" "sequence" and "alias".

If i make the following

[code]

That will not work. In the script, the available configuration variables are listed here: https://www.home-assistant.io/integrations/script/#-configuration-variables

Automation doesn't seem to have the same.

[2021-04-09 08:28] frenck commented on #17338
That example you gave is wrong and not what is documented? I'm not sure how you came up with that.

[2021-04-09 08:55] LXFlyer commented on #16923
any idea?

[2021-04-09 09:07] ugleatle commented on #17338
The point is that there is a list of configuration variables you can use, look in the scrips-documentation under "configuration variables" if i just use something else, as you say, it will not work. Because you cannot use any configuration variable, there is a list of "legal choices" here https://www.home-assistant.io/integrations/script/#-configuration-variables (alias, icon, description, variabl

[2021-04-09 09:24] frenck commented on #17338
Ah right! Now I get!

Yes, that is indeed missing! Thanks!

For a quick reference right here in this issue, valid keys in an automation are:

- `id`
- `alias`
- `description`
- `initial_state`
- `max`
- `mode`
- `max_exceeded`
- `variables`
- `condition`
- `trigger`
- `actions`

[2021-04-09 09:51] cryptedx opened #17356 "Broken URL"
### Feedback

"several specifications of Markdown", https://marked.js.org/readme#specifications URL is broken

### URL

https://www.home-assistant.io/lovelace/markdown/

### Version

2021.4.1

[2021-04-09 09:53] frenck commented on #17328
Hi there @ericxls1978,

Thanks for providing documentation feedback, however, it seems like you are trying to report an issue with integration.

If you want to report an issue with an integration, please, do so here:

<https://github.com/home-assistant/core/issues>

Thanks already 👍

[2021-04-09 09:53] #17328 closed, assigned to frenck, balloob

[2021-04-09 10:32] happy-chap opened #17358 "Documentation implies Blink Mini Linked to Sync Module Cannot be Armed/Disarmed"
### Feedback

Under "Other Services" paragraph, currently the final sentence reads "Blink Mini cameras linked to an existing sync module cannot be armed/disarmed via Home Assistant." which made me think in the latest integration release, arming my system, which includes Blink Mini as well as XT2 and the originals, would no longer work (whereas it did previously). However, having tested it, the sen

[2021-04-09 10:32] cdn4lf commented on #17349
I tried to go
`input_number:
  accesscount_FrontDoor_Code1:
    name: Access Count
    min: 0
    max: 100`

HA didn't accept it and kept throwing an invalid config until I changed it `accesscount_frontdoor_code1`

Apologies I don't know how to  format the larger code block but the yaml was correct.

[2021-04-09 11:16] #17352 closed, assigned to nobody

[2021-04-09 12:55] red-yfronts opened #17360 "Google Actions has changed significantly since these instructions were written"
### Feedback

It is impossible to achieve the desired outcome using these out of date instructions.

I

### URL

https://www.home-assistant.io/integrations/google_assistant/

### Version

2021.4.1

[2021-04-09 14:26] Wim-N opened #17362 "No ‘scene.turn_off'"
### Feedback

In the documentation you state that there is no 'scene.turn_off'. Please explain how to turn off a scene. Do you need to create a new scene with all values off?

### URL

https://www.home-assistant.io/integrations/scene/

### Version

2021.4.1

[2021-04-09 15:41] emontnemery commented on #17349
Thanks @cdn4lf for clarifying 👍

[2021-04-09 15:43] cdn4lf commented on #17349
No problem.  I assume this comment goes for all of the other inputs.  It may be worth updating some of the other documents (input_text), etc.

[2021-04-09 16:07] dgomes opened #17365 "Remove Growl"
### Feedback

Growl Integration can **potentially** be removed: https://growl.github.io/growl/

### URL

https://www.home-assistant.io/integrations/gntp/

### Version

2021.4.1

[2021-04-09 16:52] balloob commented on #17362
Yep.

[2021-04-09 16:52] #17362 closed, assigned to nobody

[2021-04-09 17:10] #16376 closed, assigned to nobody

[2021-04-09 19:21] #16923 closed, assigned to bdraco

[2021-04-10 03:32] steve8995 opened #17371 "Hikvision sensors not being added"
### Feedback

I struggled with all the setting to get binary sensors to appear in HA
The issue I had was that when setting the security on the NVR to digest_basic - the NVR accepted the save but
I could not get any sensors to register at all
I then went into each camera individually and found that although it accepted the change on the NVR - IT DID NOT save it to individual cameras
Once I logged i

[2021-04-10 03:34] treforparr opened #17372 "Not integrating properly"
### Feedback

Not working properly keep getting aborted won't integrate properly

### URL

https://www.home-assistant.io/integrations/hive/

### Version

2021.4.2

[2021-04-10 05:15] robiecz opened #17374 "Example of Entity Card causes "No card type found""
### Feedback

The example:

[code]

shows "No card type found".

### URL

https://www.home-assistant.io/lovelace/entity/

### Version

2021.4.3

[2021-04-10 09:34] frenck commented on #17360
Duplicate of #17281

[2021-04-10 09:34] #17360 closed, assigned to nobody

[2021-04-10 09:37] KJonline commented on #17372
This needs closing as it’s raised in the wrong repo. This has already been raised in core repo and a PR had been merged to address the issue

[2021-04-10 10:02] #17372 closed, assigned to nobody

[2021-04-10 10:26] red-yfronts commented on #17281
Why thank you Franck, for your quick action.

However, this problem is not closed.

All the "solutions" are for fee based services and not really solutions at all.

So again, when will these instructions be updated to reflect the changes in google actions?

[2021-04-10 10:56] frenck commented on #17356
Thanks, @cryptedx!

Opened up a PR to address it 👍

[2021-04-10 11:01] frenck commented on #17281
@red-yfronts I didn't "close" the problem. I closed your duplicate issue. This issue is still open.

[2021-04-10 11:10] #17356 closed, assigned to frenck

[2021-04-10 11:13] #17358 closed, assigned to frenck

[2021-04-10 11:13] #17371 closed, assigned to nobody

[2021-04-10 12:02] DMailMan commented on #17159
Another detail to add to this: it seems that if the amplifier is powered off when Home Assistant starts up (as mine usually is, for power consumption reasons), then the base amplifier entity is still retained (maybe because it's specified explicitly in the config file), but the extra zones that had been discovered are removed. They are not automatically discovered even when the amplifier is later

[2021-04-10 12:15] frenck commented on #17309
Prepared a small change for the docs to clarify it.

Example use:

`{{ [1, 2, 3] | max }}` -> `3`
`{{ [1, 2, 3] | min }}` -> `1`

Thanks for the feedback! 👍

[2021-04-10 13:30] #17309 closed, assigned to nobody

[2021-04-10 13:52] frenck commented on #17311
This page is correct at this point. The example given is indeed bad practice, I've opened a PR to adjust that example: #17385

Closing this feedback at this point. If you have additional feedback, please lets us know.

[2021-04-10 13:52] #17311 closed, assigned to nobody

[2021-04-10 14:16] frenck commented on #16992
Could you clarify this change for me @bramkragten, I think I missed this somewhere 😓

[2021-04-10 14:30] frenck commented on #17135
Thanks for reporting @yann1420 👍

I've opened up a PR to address it.

[2021-04-10 14:34] #17135 closed, assigned to frenck

[2021-04-10 15:17] frenck commented on #17223
Thanks for the feedback @Back-Man 👍

I've added clarification in #17290

[2021-04-10 15:20] runwaygoats opened #17389 "Shelly Button1 _ Push Count and Push Type"
### Feedback

Shelly Button1 exposes the following data through MQTT

Battery

Push Count

Push Type

But with Home Assistant native Shelly integration, only Battery sensor is created.

<img width="317" alt="Screen Shot 2021-04-10 at 11 17 37 AM" src="https://user-images.githubusercontent.com/68604297/114274886-6c1c6b00-99ee-11eb-92f2-6d675dd81338.png">

### URL

https://www.home-assistant.io/inte

[2021-04-10 15:27] frenck commented on #17389
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-04-10 15:28] #17389 closed, assigned to balloob

[2021-04-10 15:30] frenck commented on #16885
There is no logic here that limits the file type. We don't limit the file type, thus is it not specified.

[2021-04-10 15:30] #16885 closed, assigned to nobody

[2021-04-10 15:31] frenck commented on #16905
Feel free to add such an example, however, we would prefer linking to external documentation if possible.

[2021-04-10 15:46] frenck commented on #17321
Checked the documentation page for this. It is correctly documented at this moment.

Closing this feedback for that reason 👍

[2021-04-10 15:46] #17321 closed, assigned to dgomes

[2021-04-10 15:49] frenck commented on #17337
Sorry for the ping, @chemaaa, normally the bot will send you a message. Unfortunately, the bot messed up for this issue 😅

Since you are the code owner for this integration, could you be so kind to clarify the URLs that need to be used in this case?

[2021-04-10 15:53] yashijoe commented on #17337
This is the reply I got from chemaaa on his GitHub:

Hi @yashijoe ,

Are you referring to the "New Application" form in the Legrand Developer website? If so, here you have some more information about how that should be filled in: https://developer.legrand.com/tutorials/create-an-application/

Basically, you have to fill in a "Url" which is just an informative URL about the application. If this is

[2021-04-10 16:03] skipishere opened #17391 "repeat_set documentation is unclear"
### Feedback

From trying this out myself (and from finding a post on the forum) it appears that the repeat_set method doesn't work for all speakers/media sources. If this is the case, a list of those that support (or those that don't) would be of benefit to help reduce people going crazy trying to figure out why it's not working

### URL

https://www.home-assistant.io/integrations/media_player/

[2021-04-10 16:14] frenck commented on #17391
We don't know which ones support it from this page. Please consult the page of the integration you are using for that information.

This is a base entity, that other (custom) integration can build upon. What they implement is not a concern for this page and should be documented for that specific integration.

Nevertheless, thank you for providing feedback 👍

[2021-04-10 16:14] #17391 closed, assigned to nobody

[2021-04-10 16:40] Quotacious opened #17392 "Home Assistant user realm"
### Feedback

The later section showing you how to setup a user in Proxmox VE are great, however, I kept getting an authentication failed message.

It fails because the configuration would need an additional line in this case:

    realm: pve

e.g.:
    username: homeassistant
    password: !secret proxmox_password
    realm: pve

Otherwise, Home Assistant tries to login using PAM, and the user cr

[2021-04-10 16:41] Quotacious commented on #17392
This one is a bit more confusing because the configuration example does not include the realm parameter as a hint...

[2021-04-10 16:55] frenck commented on #17392
The `real` is an optional parameter and thus not part of the initial example. This is correctly documented and complies with our documentation standards.

The additional example provide it, and also this section states:

<https://www.home-assistant.io/integrations/proxmoxve/#create-home-assistant-user>

I'm not sure how this could be documented it any better, to be honest 🤷‍♂️

[2021-04-10 16:56] GSV3MiaC opened #17393 "Incorrect raspberry install docs (create virtual env)"
### Feedback

"sudo -u homeassistant -H -s
cd /srv/homeassistant
python3.8 -m venv .
source bin/activate"

The line break after the . is wrong, and python 3.8 isn't a recognised command (python3 is)

### URL

https://www.home-assistant.io/installation/raspberrypi

### Version

_No response_

[2021-04-10 17:18] erbagiovanni opened #17395 "Legrand home+control config - Redirect URL"
### Feedback

Hi, from my side it's really not clear how should I fill "redirect URL" during custom app creation on legrand developer site. Is it possible to advice on this? Thanks

### URL

https://www.home-assistant.io/integrations/home_plus_control/

### Version

2021.4.3

[2021-04-10 17:19] frenck commented on #17395
Duplicate of #17337

[2021-04-10 17:19] #17395 closed, assigned to nobody

[2021-04-10 20:58] treforparr commented on #17372
What do you mean sorry

[2021-04-10 20:58] treforparr commented on #17372
Will this be fixed in the next update because I still can’t gain access to hIve

[2021-04-11 01:12] jhollowe commented on #17392
You can also include the realm in the username e.g. `username@realm` so you don't even have to set the separate config.

This feature could probably be better described in the documentation, but this *is* how PVE (and the proxmoxer library used for this integration) actually handle the username and realm. The separate realm config option is really just a nicety.

[2021-04-11 02:27] Quotacious commented on #17392
Ouch. It turns out I completely ignored that paragraph and went straight to the steps. My mistake.

Well, I guess you could make it more idiot proof. 🤣  The problem with hand-holding sets of instructions is that we sometimes turn our brain off. I literally did not read that paragraph. (#excuses).

It could be better if there was an another config at the bottom, indicating the need for the realm, o

[2021-04-11 08:09] KJonline commented on #17372
This will be fixed in 2021.5

[2021-04-11 08:33] alexkoel1958 opened #17403 "How to install Home assistant analytics"
### Feedback

Analytics seems to be great. Perhaps I'm a fool, but how to install? I can't find anything about it. I'm not a super user, but sometimes I'm wondering why something didn't work. So I want to be able to use it. Core is 2021.4.2

### URL

https://www.home-assistant.io/integrations/analytics/

### Version

2021.4.2

[2021-04-11 08:50] frenck commented on #17403
You don't have to install it, it is just there 😄

You can opt-in on the general settings page:

[![Open your Home Assistant instance and show your general Home Assistant settings.](https://my.home-assistant.io/badges/general.svg)](https://my.home-assistant.io/redirect/general/)

[2021-04-11 08:50] #17403 closed, assigned to ludeeus

[2021-04-11 10:11] skipishere commented on #17391
For other segments it says what ones are supported

and

I don't know what ones support Repeat, otherwise I'd be happy to add in that it's not supported by the media player that HA uses (which is a shame, I'd have thought it would be one of the ones that did given it's baked into HA)

[2021-04-11 14:59] ChrisWeiss opened #17408 "How does group name equate to entity_id?"
### Feedback

The example code block for a "Kitchen Lights" group is the following:

[code]

The example code block for leveraging that group is the following:

[code]

How does the name of the group defined in the configuration.yaml entry equate the `target/entity_id: light.kitchen_lights` being called in the script? Is the `name` lower cased and spaces turned to underscores?

### URL

https://ww

[2021-04-11 16:54] skynet-network opened #17409 "devices show unaccessible in home assistant after reboot of lamp"
### Feedback

devices show unaccessible in home assistant after reboot of lamp

I am seeing and can control the device in the akasa  app.

It has a fixed ip

### URL

https://www.home-assistant.io/integrations/tplink/

### Version

2021.4.3

[2021-04-11 17:16] SeanPM5 commented on #17409
For issues with integrations please [create a bug report](https://github.com/home-assistant/core/issues/new?assignees=&labels=&template=bug_report.yml&title=) on the "core" repository instead. This one is just for website/documentation issues.

Thanks.

[2021-04-11 17:16] #17409 closed, assigned to rytilahti

[2021-04-11 19:29] crozilla opened #17410 "Local code?"
### Feedback

Saw this: "replacing TOKEN with the access_token from the previous command. This will provide the local_code for each device." Not sure where to find the local code or where it goes. Do I replace the TOKEN with "user_id" or "device_key" or what? Wait, I found "local_code"!! Okay, maybe just add the quote marks to "local_code" and explain that you put the "local_code" in place of the

[2021-04-11 19:38] Frutsels opened #17411 "Supported model"
### Feedback

Please add model TX-P42VT30E as known supported model.

### URL

https://www.home-assistant.io/integrations/panasonic_viera/

### Version

2021.4.3

[2021-04-11 22:01] jlsjonas commented on #16504
Also (still) wondering about this.

Pinging @hunterjm as they are mentioned as code owner above

[2021-04-11 23:08] cocoproxy opened #17414 "Error: Reference to Standard Deviation"
### Feedback

The first paragraph makes reference to "**stdev**" as an attribute name for Standard Deviation. This did not work for me. It would seem that instead, "**standard_deviation**" functions properly.

Should **stdev** be changed to **standard_deviation** on this page?

### URL

https://www.home-assistant.io/integrations/statistics/

### Version

_No response_

[2021-04-11 23:30] cdrom1028 opened #17415 "MJPEG IP Camera"
### Feedback

Please include an example for MotionEye Cameras. I had to figure this out on my own as this is not documented properly even though there is an Add-on in the Home Assistant Community Add-on store. Considering there is a Blue Iris example I do not think this is to much to request.

[code]

### URL

https://www.home-assistant.io/integrations/mjpeg/

### Version

2021.4.3

[2021-04-12 02:52] #17411 closed, assigned to nobody

[2021-04-12 04:26] Jacksonbm1 opened #17416 "Documentation needs to include a section on unzipping/unarchiving as it is not a native function"
### Feedback

I'm using an early 2011 macbook pro and I following the instructions on the website will not work. When downloading the virutalbox vid file, you can't actually import it into virtual box. You must first uncompress it with a third party app like TheUnarchiver. I suspect that on newer macs, it's built in, but on older macs (and I'm guessing a lot of people using macs for this are using

[2021-04-12 08:21] frenck commented on #17415
There are literally thousands of possible URL combinations depending on the manufacturer, firmware versions or NVR used.

The documentation covers how to configure the integration, not which URL to use for all those thousands of cameras.

Nevertheless, thanks for providing feedback, that is always appreciated 👍

[2021-04-12 08:21] #17415 closed, assigned to nobody

[2021-04-12 08:31] frenck commented on #16504
Media source isn't UI configurable, configuration instructions are on the page linked/given feedback on.

Media folder/sources added, are local paths. How these local paths are mounted (remote or not) is not a concern for Home Assistant itself. I'll adjust the documentation to make that more clear.

[2021-04-12 09:02] frenck commented on #16494
Thanks! opened up a PR to correct it 👍

[2021-04-12 09:02] #17034 closed, assigned to frenck

[2021-04-12 09:06] #16494 closed, assigned to frenck

[2021-04-12 10:51] jlsjonas commented on #16504
With plex integration I expected some form of search/list to query items to play (as part of a home panel, to quickly broadcast something to my tv that I know by (part of) name)
Does this mean the plex integration is limited to exact queries, i.e. you'd practically be limited to playing your favorite song/movie(s) from it only?

[2021-04-12 10:54] frenck commented on #16504
That can be done, but it is up to the plex integration to handle that. This is not limited or provided by the media sources integration.

[2021-04-12 15:15] Danieldiazi opened #17421 "Is "json_attributes" deprecated/removed??"
### Feedback

Hi, I'm reading about  "json_attributes" but at https://community.home-assistant.io/t/solved-how-to-use-json-attributes-e-g-mqtt-sensor/40790/28 I can see a answer saying: "WARNING json_attributes is no longer deprecated; it has been REMOVED"

I don't know if "json_attributes" works at this moment and therefore the documentacion is ok, or maybe "json_attributes"  has removed.....

Th

[2021-04-12 15:20] frenck commented on #17421
The topic you link is about MQTT. This documentation feedback is given on the REST sensor.
Those are not the same things. Could you please clarify?

[2021-04-12 15:54] Danieldiazi commented on #17421
Hello! you're right, it's a mistake, I tried to use "json_atributtes" for the "rest" platform without success and I was confused reading similar post but about MQTT, sorry for the inconvenience

[2021-04-12 15:58] frenck commented on #17421
No problem! Glad we got it figured out 😄

[2021-04-12 15:58] #17421 closed, assigned to nobody

[2021-04-12 17:25] javierdc opened #17424 "Twilio configuration via UI fails after clicking on submit"
### Feedback

When I try to add Twilio integration, I get an error: Unknown error occurred

This is what I found on the logs:

Logger: aiohttp.server
Source: helpers/network.py:116
First occurred: 10:25:21 AM (1 occurrences)
Last logged: 10:25:21 AM

Error handling request
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/aiohttp/web_protocol.py", line 422, in _hand

[2021-04-12 19:02] oldfart101 opened #17425 "MQTT configuratiom"
### Feedback

The documentation for MQTT is incorrect
it says:
Create a new user for MQTT via the Configuration -> Users (manage users)

there is no such entry in the menu system

also
configuration - MQTT - configure
MQTT settings - re-configure MQTT
no information about these settings in the documentation

### URL

https://www.home-assistant.io/integrations/mqtt/

### Version

2021.4.3

[2021-04-12 19:08] Brtrnd opened #17427 "add option for issues"
### Feedback

see https://github.com/home-assistant/core/issues/24750
I had the same issue as described in the link above. I had searched for it on the documentation and couldnt' find it.
So I think it would be a good addition:
"unable to connect to home assistant"
If you can open the login screen, but get this issue, make sure websockets are enabled

### URL

https://www.home-assistant.io/docs/au

[2021-04-12 19:53] Kaximat opened #17428 "How to integrate your Niko Home Control into Home Assistant?"
### Feedback

I have a wireless smart hub for Niko Home Control. Type 552-00001.
I have connected switches and electrical outlets on this hub. I want to integrate them in home assistant.
How do i start?
Is the integration even posible?
On "https://www.home-assistant.io/integrations/niko_home_control/" they say it is.
Thats the reason i started with home assistant. But I don't get very far with it

[2021-04-12 21:29] frenck commented on #17427
This is not related to authentication. Home Assistant also doesn't provide guides on how to set up reverse proxies. We did in the past, but got too many guides and many became unmaintained or had multiple variants for all the use cases available.

As we consider it an advanced use case and out of scope for the Home Assistant project itself, we have removed all those guides quite a while ago. The C

[2021-04-12 21:29] #17427 closed, assigned to nobody

[2021-04-12 21:30] frenck commented on #17425
I cannot find any occurrence of that on the page you gave feedback on, I searched for "Create a new user for MQTT via the Configuration".

Was it a different page maybe?

[2021-04-13 00:15] balloob commented on #17408
Yep, unless the entity provides a suggested entity ID, we lower case the name and add underscores.

[2021-04-13 00:15] #17408 closed, assigned to nobody

[2021-04-13 04:47] #17215 closed, assigned to frenck, balloob

[2021-04-13 04:47] #17223 closed, assigned to frenck, balloob

[2021-04-13 05:19] balloob commented on #16548
I suggest to use the UI if YAML is too difficult

[2021-04-13 05:54] ren9821 opened #17431 "After checking remote in HomeKit, it prompts: Unknown error occurred"
### Feedback

This problem will occur when upgrading from 2021.3.4 to 2021.4.0-2021.4.4

Logger: aiohttp.server
Source: components/homekit/util.py:510
First occurred: 下午1:41:51 (2 occurrences)
Last logged: 下午1:41:52

Error handling request
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/aiohttp/web_protocol.py", line 422, in _handle_request
    resp = await self._

[2021-04-13 06:52] Jc2k commented on #17431
Hello. This traceback looks like a `homekit` issue rather than a `homekit_controller` issue. I will reassign it to the right area for you.

[2021-04-13 07:54] love768952693 opened #17432 "The default device homekit 123-45-678 setting code cannot be added"
### Feedback

I have a device, it uses the default setting code 123-45-678

I can add devices in iphone, but I cannot add devices in home assistant.

### URL

https://www.home-assistant.io/integrations/homekit_controller/

### Version

2021.4.4

[2021-04-13 08:57] Tokn59 opened #17435 "Coinbase Integration not working - Authentication error"
### Feedback

Hi, I tried to implement the Coinbase integration. Providee API Key and Secret in configuration.yaml. Starting HA (latest build and core) I get the following error:

Logger: homeassistant.components.coinbase
Source: components/coinbase/__init__.py:96
Integration: coinbase (documentation, issues)
First occurred: 10:53:11 AM (1 occurrences)
Last logged: 10:53:11 AM

Authentication erro

[2021-04-13 10:00] rigrig opened #17436 "Rename CLA to DCO"
### Feedback

The text of the Contributor License Agreement was [changed](https://github.com/home-assistant/home-assistant.io/commit/ed7ff529af63ba05535a83994251c6150ca28777#diff-390ad7c33679ebd00f1d7e9fff62821a796bab29e912a816ee4e48cfc1a7249f) to a Developer Certificate of Origin, but the page still calls it a CLA, even though it explicitly mentions it is now based on the Linux DCO.
There is quit

[2021-04-13 10:06] frenck commented on #17436
Yeah that might be correct, I do however, think that changing that process/title is not worth the squeeze.

I do not agree; I've personally not seen any occurrences, feedback, comments, or other references in the past years to justify that statement.

[2021-04-13 10:19] frenck commented on #17428
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-04-13 10:19] #17428 closed, assigned to nobody

[2021-04-13 10:42] frenck commented on #17435
Hi there @Tokn59!

Thank you for providing documentation feedback, however, it seems like you are trying to report a bug for an integration. If you want to report a bug; please create an issue in the core issue tracker:

<https://github.com/home-assistant/core/issues>

Thanks 👍

[2021-04-13 10:42] #17435 closed, assigned to nobody

[2021-04-13 10:43] rigrig commented on #17436
Simply changing the text without moving pages around seems like an improvement to me, but I agree it's probably not worth the effort to also change URLs and Github processes.

[2021-04-13 12:35] Hedda commented on #17072
FYI, there look to be a somewhat related discussion by the zigpy (and ZHA) developers here -> https://github.com/zigpy/zigpy/discussions/572

[2021-04-13 14:14] tggman opened #17442 "How does hs_color relate to HSL?"
### Feedback

hs_color is defined as "...two floats representing the hue (0-360°) and saturation (0-100%)".  I understand it's supposed to represent hue/saturation but I don't understand how it relates to the "standard" HSL (hue, saturation, lightness)

### URL

https://www.home-assistant.io/integrations/light/

### Version

2021.4.4

[2021-04-13 14:20] frenck commented on #17442
I think the best comparison is this website:

http://colorizer.org/

It allows you to see the difference between HSL and HS(B) pretty well.

[2021-04-13 14:20] #17442 closed, assigned to nobody

[2021-04-13 15:05] tggman commented on #17442
I've been there and played with it before I opened this issue. That tool does NOT answer my question and honestly, I'm by no means a light expert, but if its not clear to me (an engineer) its probably not clear in general?

By the way, this is why I'm asking:
https://github.com/home-assistant/core/issues/49002

[2021-04-13 15:09] frenck commented on #17442
What is not clear? You are asking a general question about colors? Home Assistant has HS (and a separate B for brightness). Not HSL. I'm not sure what your question about Home Assistant is? Could you clarify?

[2021-04-13 15:10] frenck commented on #17442
I'm not sure how the linked bug is related to HSL?

[2021-04-13 15:11] tggman commented on #17442
because the workaround is to specify hs_color ...

[2021-04-13 15:18] tggman commented on #17442
So specifying brightness is essentially = the B in HSB? I played with beforehand and changing the brightness changed the color. I didn't think that's how it was supposed to work.  That's certainly not how it works in the LIFX app.  I'm clearly missing something - but I'm not a light expert

[2021-04-13 15:22] parautenbach opened #17443 "Additional information on setting the sensor attributes"
### Feedback

The page states that it's possible to "populate a sensor state (and attributes)" but no examples are given. I've had a look at the code and it seems that besides the state getting set according to `column`, that all other columns from the query will become attributes with their corresponding values.

Just to explain how I picked this up: My actual use case is to have a SQL sensor wit

[2021-04-13 15:42] frenck commented on #17442
Sure, but that is a bug, I'm not sure what this mean for the documentation and the HSL stuff in this feedback.

[2021-04-13 15:54] tggman commented on #17442
if you search the internet for hs color you are pointed to all sorts of tools and info relating to hsl or hsb/hsv. To me, its not clear that specifying hs_color in Home Assistant in combination with brightness is the same as HSB/HSV. That's all. You asked for documentation feedback --- and there you have it. If you believe that the documentation is clear and correct as is, GREAT! Its on me. I'm th

[2021-04-13 15:59] Adminiuga commented on #17072
When you open the service in Developer tab, it does show the parameters
![image](https://user-images.githubusercontent.com/5826160/114583432-93be3e00-9c4f-11eb-99db-709fb1d8c5a8.png)

IEEE address of the device is available on the device card of Zigbee devices
![image](https://user-images.githubusercontent.com/5826160/114583553-b6505700-9c4f-11eb-92c9-72cd108806ce.png)

[2021-04-13 15:59] #17072 closed, assigned to dmulcahey, Adminiuga

[2021-04-13 16:29] colohan opened #17445 "What is XZ compression?"
### Feedback

The instructions link to virtual machine images which are compressed with a utility called "xz".  But if I follow the instructions.... VMWare doesn't recognize files with the "xz" extension.  Some Googling reveals that this is a compression scheme which has no native support in Windows, and may possibly be supported by some third-party utilities which I'm reluctant to install.

Sugge

[2021-04-13 16:46] kohekohebigsky opened #17446 "integration documentation add category and device function"
### Feedback

the description lacks context.  Would be much more helpful if the description included a description of what the device is eg: Portable battery operated inverter for mains operated devices, as many integrations are for unfamiliar brands and devices, It is not helpful when browsing to select a possible new solution.
Along with the integration name should be a category and function des

[2021-04-13 18:15] yrplus opened #17448 "Update Limitations for Zwave"
### Feedback

I bought the Telldus ZNet Lite V2 thinking it could be a good way to get both 433Mhz & Zwave into Hass.
For others in my situation I think it would be helpful to mention some of the limitations on the integrations page.

Some information is not being forwarded, I assume this is a limitation in the API:
-Battery percentage
-Low battery status
-Color and light temperature
-Possibly oth

[2021-04-13 18:34] dgomes commented on #17443
Well you clearly described everything 😄 Can't add anything to all you described. This is indeed the situation and those are the possibilities.

All is correct and since this would indeed be a feature request (and this is not the place for feature requests) I think we should close it.

[2021-04-13 18:41] ChrisWeiss commented on #17408
This is primarily a documentation bug - It's not explained in the docs how the name is chosen.

(as an aside, HA complains if I try to add `entity_id` to a `platform: group` block - that's a different bug though)

[2021-04-13 19:32] hesspoint opened #17450 "Lost how to install"
### Feedback

In the documentation it says I need to enter key and name during installation. However during the installation it asks me for IP address and MAC address. I am confused.

Also it links to a manual how I enable LAN access on the gateway. It says I need to change to region China Mainland. I have the hub and all the child devices setup in my region Germany. I did switch the region to Chi

[2021-04-13 20:06] chadthompsonallscripts opened #17451 "Request to Linksys SmartWifi router should succeed and be authorized"
### Feedback

I have a linksys EA9500.
I have used the code in the linksys_smart device tracker.py to attempt to connect to my router.  It fails.

I suspect this is because since this was created there was a large security update because these endpoints were not encrypted.

However, using this repo: https://github.com/reujab/linksys
I constructed code that in fact does communicate with my router.

[2021-04-13 20:20] mbloms opened #17452 "Can't get public IPv6 address"
### Feedback

I tried using this to get what ip addresses the host has:
[code]

But this only gives me local addresses, not the global ones. My guess is that the script doesn't accommodate multiple IPv6 addresses, which basically all IPv6 enabled interfaces has.

### URL

https://www.home-assistant.io/integrations/systemmonitor/

### Version

2021.4.4

[2021-04-13 20:32] syssi commented on #17450
Do you know the exact hardware version of the gateway do you own? If the version is supported you have to remove the gateway from the EU server, reset it, logoff from the EU server / mi cloud and login again at the mainland china server. Register/setup the gateway again and try to follow the documentation. If your hardware version doesn't fit you won't be able to enable the LAN access (at mainland

[2021-04-13 20:38] FelisucoVFR commented on #17072
Yes, thanks. As I said, later I could find it. I just wanted you to include a little more understandable instructions for future noobs.
I cannot live without ZHA now! ❤️

Thanks!

[2021-04-13 21:11] frenck commented on #17408
That is not a bug, that property does not exist. It also not documented as such.

[2021-04-13 21:52] ChrisWeiss commented on #17408
'unless the entity provides a suggested entity ID' - How would it do that?

[2021-04-13 21:56] frenck commented on #17408
Meaning, not you, but the entity itself, as in the integration that provides the entity.

[2021-04-13 23:16] #17451 closed, assigned to nobody

[2021-04-13 23:18] paqogomez opened #17453 "Request to Linksys SmartWifi router should succeed and be authorized"
### Feedback

I have a linksys EA9500.
I have used the code in the linksys_smart device tracker.py to attempt to connect to my router.  It fails.

I suspect this is because since this was created before there was a large security update.  The update was because these endpoints were not encrypted. (I think this one. https://www.linksys.com/us/support-article?articleNum=246427)

However, referencing

[2021-04-13 23:40] iMicknl commented on #17253
@berryvanesch I don't think the documentation repo is the place to report this.

However, this is a known issue of the Somfy integration. The official Somfy API has limited device support and the only way to get all devices in Home Assistant is to use their internal API. You could give [ha-tahoma](https://github.com/imicknl/ha-tahoma) a try, which hopefully should be added to core in the next rele

[2021-04-14 01:06] smougenot opened #17454 "describe add-on usage for container installation"
### Feedback

## Facts
A note explains add-ons are not available for evry one (sounds so strange to me but it is a fact)
But an almost salvation appears  telling us we can do it another way.

## Should
Please provide a link to the alternate way to use add-on for the unfortunate users that can not benefit of a nice UI to use add-on

### URL

https://www.home-assistant.io/addons/

### Version

2021.

[2021-04-14 01:13] ludeeus commented on #17454
There is no alternative way to run add-ons, you need the Supervisor for that.
The software that runs _inside_ the add-on, however, in most cases they also provide standalone containers, look at the documentation/website for the software that is running inside the add-on you wanted.

[2021-04-14 01:50] smougenot commented on #17454
Documentation is still failing us even if you close the issue @ludeeus

So you should either
*  remove the misleading comment
* or (as I suggested here) document it further

![2021-04-14 03-47-54](https://user-images.githubusercontent.com/1217669/114642443-391af580-9cd4-11eb-9f88-44a510bcccfa.png)

[2021-04-14 01:59] 0x3333 opened #17455 "Filter window_size does not accept template"
### Feedback

I need to pass a template to a `window_size` in `filter`, but it is not accepting.

[code]

Config:

[code]

I tried using `[:5]` after the state in the template to limit to `"24:00"`, but didn't work.

### URL

https://www.home-assistant.io/integrations/filter/

### Version

2021.4.4

[2021-04-14 07:12] Hedda commented on #17072
Like so perhaps? -> https://github.com/home-assistant/home-assistant.io/pull/17457

[2021-04-14 07:52] dgomes commented on #17455
Sorry, that is not supported

[2021-04-14 07:52] #17455 closed, assigned to dgomes

[2021-04-14 08:31] Bubule02 opened #17459 "Action on markdown"
### Feedback

Hi

It would be nice to have tap_action on markdown card.
(I never find a way to do it)

### URL

https://www.home-assistant.io/lovelace/markdown/

### Version

2021.4.4

[2021-04-14 08:56] frenck commented on #17459
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-04-14 08:56] #17459 closed, assigned to nobody

[2021-04-14 09:26] frenck commented on #17454
Agree, we can add a little bit of extra text there to tell what it means 👍

[2021-04-14 10:28] #17454 closed, assigned to frenck

[2021-04-14 10:57] 0x3333 commented on #17455
Sorry to bother with this, but, this is by design because of some constraint or because it is not implemented? If possible, I could implement it, but if this is by design, I can live without it. Thanks.

[2021-04-14 11:07] frenck commented on #17455
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-04-14 12:10] frenck commented on #16548
Reviewed the docs for this page. I think there are some small tweaks possible, but in general, it describes the manual / more advanced usage.

As suggested above (and in the documentation as well), if that is not comfortable for you, use the UI instead.

[2021-04-14 12:18] parautenbach commented on #17443
I'm glad my analysis is accurate. Thanks for the feedback.

I think the main issue is still as in my first paragraph (the rest was just to colour the issue): I couldn't understand from the docs what I will get as state attributes without reading the code (which every user will not be able to do). I think if the docs can just state that additional columns returned by the query will be set as attrib

[2021-04-14 13:45] Crono141 opened #17462 "Instructions unclear"
### Feedback

I edited the configuration.yaml as per the documentation, and then rebooted the HA server.  I am still unable to add the Leviton integration.  The integration just doesn't appear in the search inside the HA configuration dashboard.

### URL

https://www.home-assistant.io/integrations/decora_wifi/

### Version

2021.4.4

[2021-04-14 13:51] dgomes commented on #17443
We welcome contributions to the documentation :)

The here a link at the bottom of the page you can use to submit changes/additions

[2021-04-14 14:50] JPOliveGit opened #17463 "Automation not showing in the UI"
### Feedback

i made an automation in the UI, it show in automation.yaml but not showing in the UI

- id: '1618412215900'
  alias: Temperatura
  description: ''
  trigger:
  - platform: time
    at: 05:00
  condition:
  - condition: numeric_state
    entity_id: sensor.shelly_shsw_pm_68c63afae821_1_temperature_2
    below: '40'
  action:
  - service: switch.turn_on
    target:
      entity_id: swit

[2021-04-14 15:01] JPOliveGit commented on #17463
sorry I solved it automation.yaml was not linked well in the configuration.yaml

[2021-04-14 15:01] #17463 closed, assigned to nobody

[2021-04-14 15:38] frenck commented on #17462
It should not appear in the configuration dashboard. The integrations shown in the UI are only showing integrations that are set up via the UI.

In this case, the light entities should be added to Home Assistant; you can find them in the list of entities:

[![Open your Home Assistant instance and show your entities.](https://my.home-assistant.io/badges/entities.svg)](https://my.home-assistant.io/r

[2021-04-14 15:45] Crono141 commented on #17462
I see them now.  This could be made clearer in the documentation. Thanks.

I am not able to move them to a room, as the settings say "This entity ("light.theater_fan") does not have a unique ID, therefore its settings cannot be managed from the UI." Checking the documentation, I have enabled advanced mode for my user, but still cannot assign this entity to a room.

[2021-04-14 16:03] frenck commented on #17462
<https://www.home-assistant.io/faq/#this-entity-does-not-have-a-unique-id>

You cannot use frontend features for entities without unique IDs

[2021-04-14 16:08] frenck commented on #17452
Hi there,

It seems like you want to report a bug or feature request for this integration, however, you provided documentation feedback. There is no amount of documentation that I can adjust to change the behavior of the integration.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you want to rep

[2021-04-14 16:08] #17452 closed, assigned to nobody

[2021-04-14 16:40] paqogomez commented on #17453
I've just realized i put this in the documentation project, not the core.  My mistake.

[2021-04-14 16:40] #17453 closed, assigned to nobody

[2021-04-14 16:40] frenck commented on #16542
This has been resolved 👍

Thanks for providing feedback!

[2021-04-14 16:40] #16542 closed, assigned to nobody

[2021-04-14 19:39] b3nny27 opened #17465 "Binary sensor Door lock is inverted"
### Feedback

Hi, I've noticed that the sensor entity displayed as binary_sensor.REGNR_door_lock is inverted. Whenever the car is parked and locked (verified via volvo on call app), its status in home assistant shows "unlocked", vice versa.

### URL

https://www.home-assistant.io/integrations/volvooncall/

### Version

2021.4.4

[2021-04-14 19:41] frenck commented on #17465
Hi there @b3nny27!

Thanks for providing documentation feedback, however, it seems like you want to report a bug with an integration. There is no amount of documentation I can adjust to fix a bug in the code base.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-04-14 19:41] #17465 closed, assigned to nobody

[2021-04-14 20:35] frenck commented on #16552
Thanks for the feedback @filmgarage!

I've opened up a PR to adjust the documentation with your suggestion.

[2021-04-14 21:25] frenck commented on #17445
Duplicate of #17416

[2021-04-14 21:25] #17445 closed, assigned to nobody

[2021-04-14 21:34] frenck commented on #17392
Merged the PR above and with that, I'll declare this issue closed!

Thanks for the feedback, as it still caused an improvement to our documentation 👍

[2021-04-14 21:34] #17392 closed, assigned to nobody

[2021-04-15 13:39] parautenbach commented on #17443
Ok, let me check again... I thought that's what I did and then ended up here.

[2021-04-15 13:58] #17443 closed, assigned to dgomes

[2021-04-15 17:24] twistp opened #17474 "Shark IQ R101AE constantly unavailable"
### Feedback

Hi

I installed this integration but everyday the Shark's state goes back to unavailable. I don't have Pi-hole or AdGuard installed. The only way to fix this is to restart the server.

I can also access the vacuum remotely

Thanks

### URL

https://www.home-assistant.io/integrations/sharkiq/

### Version

2021.4.4

[2021-04-15 18:04] frenck commented on #16572
Thanks for the feedback @drsound! I've opened a PR to adjust this occurrence.

[2021-04-15 18:11] frenck commented on #17033
Thanks for that! I've opened a small PR to add a note.

[2021-04-15 18:17] frenck commented on #16565
Thanks, @iquix! I've opened up a PR to address your feedback.

[2021-04-15 19:26] jacopsd opened #17479 "scan_interval moved?"
### Feedback

Please see [this question](https://community.home-assistant.io/t/modbus-scan-interval-configuration/299772/3)

Was scan_interval moved?
Is it not valid anymore at "switch" level?

e.g.:

[code]

In my test, it seems to be ignored now while it was working in previous releases.

### URL

https://www.home-assistant.io/integrations/modbus/

### Version

2021.4.4

[2021-04-15 19:31] #16565 closed, assigned to frenck

[2021-04-15 19:32] #16572 closed, assigned to frenck

[2021-04-15 19:33] #17033 closed, assigned to frenck

[2021-04-15 19:35] frenck commented on #17416
Discussed this with the team, and we agree. While .xz is a widely used format, it isn't that well known to the public and not natively supported on all platforms.

We are changing the way we distribute the images soon, using well-known methods.

For reference: <https://github.com/home-assistant/operating-system/pull/1327>

Thanks for your feedback 👍

[2021-04-15 19:35] #17416 closed, assigned to nobody

[2021-04-15 19:35] frenck commented on #17445
Discussed this with the team, and we agree. While .xz is a widely used format, it isn't that well known to the public and not natively supported on all platforms.

We are changing the way we distribute the images soon, using well-known methods.

For reference: <https://github.com/home-assistant/operating-system/pull/1327>

Thanks for your feedback 👍

[2021-04-15 19:36] #16548 closed, assigned to frenck

[2021-04-15 19:38] frenck commented on #17479
Scan interval is a platform option, see:

<https://www.home-assistant.io/docs/configuration/platform_options#scan-interval>

As this integration is no longer configured as a platform, the integration itself would have to provide such an option, which at this point, it doesn't.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant

[2021-04-15 19:38] #17479 closed, assigned to nobody

[2021-04-15 19:40] colohan commented on #17445
Awesome, thank you!  (FWIW, I made it work for me by using the Cygwin64
tools, but I was surprised that the documentation didn't cover this part
better.  Switching to zip would solve the problem too.  ;-) )

On Thu, Apr 15, 2021 at 12:35 PM Franck Nijhof ***@***.***>
wrote:

[2021-04-15 19:44] jacopsd commented on #17479
Thank you for the update.

So we loose a feature. that’s unfortunate.
The default scan interval I now get is 15s, which is way too slow to be effective, and looks lousy in the smartphone app.

I will launch a feature request.

In mean timeL is it possible to downgrade?

Thank you

Regards
Davy

[2021-04-15 19:55] mbloms commented on #17452
Right, should've realized that. Seems like someone else has the same issue anyway:
https://github.com/home-assistant/core/issues/43254

[2021-04-15 20:29] b3nny27 commented on #17465
Ah ok my bad, thanks!

[2021-04-15 22:07] frenck commented on #16924
Hi there @yann1420!

This is out of scope for the documentation and is more of a support question.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-04-15 22:07] #16924 closed, assigned to nobody

[2021-04-15 22:34] #16504 closed, assigned to frenck

[2021-04-16 06:28] janiversen commented on #17479
Could you two please stop, scan_interval is supported on platform level.

In the old configuration style there are no changes, but in the new style you configure it in each switch and not for the  whole platform type. See
https://www.home-assistant.io/integrations/modbus/#configuring-platform-switch

@frenck I really do not understand your comment, scan_interval is implemented at platform level ju

[2021-04-16 06:58] frenck commented on #17479
@janiversen I've checked the code, but missed that reference. Thanks for clearing that up 👍

[2021-04-16 07:28] jacopsd commented on #17479
Then I do not understand why after the upgrade my configured scan_interval of 2 seconds is not taken into account anymore.

DJ

[2021-04-16 07:57] janiversen commented on #17479
First of all your example is the old configuration style, which are unchanged.

It works in our tests, so if it does not work for you, there are probably some hint in the logs.

please make an issue in core:
https://github.com/home-assistant/core/issues
(since this is not a documentation issue).
follow the debug guidelines:
https://www.home-assistant.io/integrations/modbus/#opening-an-issue

@fren

[2021-04-16 10:58] #16552 closed, assigned to frenck

[2021-04-16 11:29] frenck commented on #16585
Sorry, this one fell through the cracks of my notifications as it seems.

Looked at the forums and seems like you've already resolved it 👍

[2021-04-16 11:29] #16585 closed, assigned to nobody

[2021-04-16 13:11] CTJohnK commented on #17289
I added this to my configuration.yaml file and also expected to see it appear in the integration screen.  I do see it in the entity screen under 'climate'.

However, if I add 'thermostat' with the unit's four digit id (FxxD) or try it's twelve digit MAC address (00xxyyzzwwF3) the device no longer appears in my entity list.

I see nothing in the System Log regarding this.

[2021-04-16 13:15] frenck commented on #17289
The documentation has 0 mentions of mac addressed or the units digits, not sure where you found that or why you think that. This is a cloud-based integration, that just needs a username and password 🤷

[2021-04-16 13:21] CTJohnK commented on #17289
Both the ID and MAC are available from the thermostat's screen if you go looking for it.  The ID is used when you pair the unit to the mobile app for example.

As for adding the 'thermostat' tag to the configuration.yaml, it is noted in the documentation, so I tried it.

I do see everything I would expect in HA, so this is working.  Thank you.

I did notice the Fan Mode reports "On", "Auto" or "di

[2021-04-16 14:03] frenck commented on #17289
It is possible some modes or behaviors are slightly different in Home Assistant. As Home Assistant tries to provide a generic interface for all thermostats, regardless brand/make/model.

Glad you got it resolved 👍

[2021-04-16 14:03] #17289 closed, assigned to nobody

[2021-04-16 15:14] Wiggum127 opened #17487 "Known issue at Somfy server side"
### Feedback

There appears to be a known limitation at Somfy API level which limits the number of commands one can send within a short timeframe (see https://github.com/home-assistant/core/issues/49300). It would be helpful to mention this on the integration documentation page so that other users are aware.

### URL

https://www.home-assistant.io/integrations/somfy/

### Version

2021.4.4

[2021-04-16 19:15] schellj opened #17488 "Balena Etcher not usable if using Raspberry Pi itself to write Home Assistant OS image"
### Feedback

The installation instructions for the Raspberry Pi include a recommendation to use Balena Etcher to write the Home Assistant OS image to the installation media. This may be problematic if you are actually using the Raspberry Pi to attempt to write the image (e.g., to an SSD that the Pi will boot from) as Balena Etcher does not provide a pre-built binary or installer for the architect

[2021-04-16 19:20] O-Palda opened #17489 "Underlying problem"
### Feedback

It might be a good idea to provide a warning that for some types of sensors (especially 3 phase energy meters) can provide bogus values while underlying sensors goes from unknown / unavailable states under | float = 0 to real values after a while, especially during restart of hass.io.

To prevent this issue it is best to use template_availability in the sensor to prevent the sensor t

[2021-04-16 19:24] frenck commented on #17489
This isn't a general rule of thumb, as it depends on the integration used how that behavior of being unavailable or unknown works.

IMHO, unknown/unavailable should not be processed by this integration. Maybe file a bug instead?

PS: The term hass.io isn't used anymore, neither should you. It is ambiguous.

[2021-04-16 19:30] frenck commented on #17488
Hi there @schellj!

Thanks for providing feedback. We consider your use case relatively rare and assume a normal workstation/desktop to do these actions on.

As for the reason provided (to write to an SSD that the Pi will boot from), is actually something the project does not support. We recommend booting from SD and move the data partition to SSD instead.

<https://github.com/home-assistant/opera

[2021-04-16 19:30] #17488 closed, assigned to nobody

[2021-04-16 19:44] frenck commented on #17365
Thanks, @dgomes! The integration has been marked deprecated.

[2021-04-16 19:44] #17365 closed, assigned to frenck

[2021-04-16 19:58] schellj commented on #17488
@frenck Interesting. Booting from the SSD obviates the need to have an SD card in use at all. This seems desirable as it removes a component and a point of failure from the system. What's the reasoning for recommending the use of an SD card even when it isn't strictly necessary? My SSD-only Pi is functioning fine so far as far as I can tell.

[2021-04-16 21:42] dgomes commented on #17489
integration sensor handles UNKNOWN and UNAVAILABLE because it needs to skip those states, and it does it rightly so.

The issue @O-Palda is documenting is related to templates that cast the UNKNOWN and UNAVAILABLE to 0 (and this is the real issue!). When that happens **integration** sensor treats those states as an actual 0 causing erroneous values. If instead of casting to 0, **integration** sens

[2021-04-16 22:15] jofotoo opened #17490 "lacking a detail"
### Feedback

Does this allow for multiple commands? If so, how?

### URL

https://www.home-assistant.io/integrations/shell_command/

### Version

2021.4.4

[2021-04-16 23:09] fixx-er opened #17491 "You need to add the homeassistant user to the audio group"
### Feedback

is it homeassistant? or is it Hass.io?

Under users I have Hass.io

### URL

https://www.home-assistant.io/integrations/vlc/

### Version

2021.4.4

[2021-04-17 06:32] O-Palda commented on #17489
Dear all, I am not suggesting that something is wrong with the internal logic of HA, I am merely suggesting to put some warning into Utility meter documentation that such situation might happen and offer example or suggestion how to deal with it correctly, thank you for your consideration

[2021-04-17 06:38] frenck commented on #17489
They don't actually, as a template always results in a string (unless AST evaluated, however, that would still not result in those strings being casted to 0). Thus this must be a bug with integration.

[2021-04-17 06:46] frenck commented on #17490
Thanks for the feedback @jofotoo 👍

I've opened a PR to added some more examples.

[2021-04-17 06:51] frenck commented on #16602
Thanks for the feedback @GirzzlyAK 👍

I've opened a PR to adjust the information.

[2021-04-17 06:51] #16601 closed, assigned to nobody

[2021-04-17 06:53] frenck commented on #17491
This is not needed for Home Assistant OS or Supervised installation types.
~~The note on that page needs to be adjusted.~~

**EDIT**

So looking at that page, there is a big note on the top:

If you have an "Hass.io" user, then you are not a Home Assistant Core user, thus this integration is not available on your system.

[2021-04-17 06:56] #17491 closed, assigned to nobody

[2021-04-17 09:50] #16602 closed, assigned to frenck

[2021-04-17 10:02] #17490 closed, assigned to frenck

[2021-04-17 13:27] dgomes commented on #17489
If there is a bug, it's with template...

{{ states.sensor.im_still_loading | float }}

this template will render 0 and not UNAVAILABLE

[2021-04-17 13:50] Pantalooney opened #17497 "Restart required"
### Feedback

It should mention that a restart is required after changing the configuration.yaml. At least it didn't work for me until I did that.

### URL

https://www.home-assistant.io/integrations/home_connect/

### Version

2021.4.4

[2021-04-17 16:29] Pmonst opened #17498 "Authentication fails"
### Feedback

I am unable to get coinbase to  authenticate me.
I have followed the example in the integrations documentation.
I have  generated an API key and Secret that are required. but fails to work.
When I create these , Coinbase generates a hashed Pass phrase, which according to the API guide is also required.

Am I doing something wrong?

### URL

https://www.home-assistant.io/integrations/

[2021-04-17 17:52] olskar opened #17499 "manually curated list?"
### Feedback

Perhaps ellaborate a bit on what that means?

### URL

https://www.home-assistant.io/integrations/deconz/

### Version

2021.4.4

[2021-04-17 19:11] florinmihut opened #17501 "Unclear information for MQTT cover stop"
### Feedback

I am controlling outdoor blinds over MQTT using an ESP8266 and micropython.
I don't have any control over the actual position of the blinds and I am just simulating the remote.
Interesting is that I am trying to have nice transitions  e.g.  open command would trigger opening->open.
The problem is with stop. The stop command allows me to stop the blinds somewhere in between open and c

[2021-04-17 19:33] azrael783 commented on #17425
He his addressing the documentation of the MQTT addon of hassos. And I guess he doesn't now that all users of Home-Assistant are also available for the MQTT addon. Sometimes it helps reading the whole document.

[2021-04-17 19:56] chiefdeputy opened #17502 "Add Example for Modbus config of same hub in different files"
### Feedback

I'm using the following construct in my configuration.xml:
homeassistant:
    packages: !include_dir_named packages

So I'm able to have nice little config files, which I can separate rooms / devices / logical constructs without a 1000 line yaml file....

With the new Modbus config style I do not see a possibility to put a modbus switch in one yaml file and a modbus sensor connected

[2021-04-17 20:58] AlexBGoode opened #17503 "Why OS is the only comprehensive type of deployment? What's wrong with containers or virtual env?"
### Feedback

Hello

As for me, it is a really great achievement on the planet Earth to have virtualization technologies like python env or even better containers like docker... bit we can see both of them as very limited in support and only the option to have comprehensive support of all features is to go with a preinstalled OS image

### URL

https://www.home-assistant.io/installation/

### Vers

[2021-04-17 21:11] OldManOfTheSea69 opened #17504 "Specifying refresh rate."
### Feedback

It’s written "Additional sensors can be added but at the expense of a reduced refresh rate. 2 sensors can be updated every 2*87 = 174 seconds, and so on.". It’s not clear if refresh rate is calculated based upon the number of sensors specified, or if refresh rate is user specifiable value per sensor. If it is specifiable; how, and where?

### URL

https://www.home-assistant.io/integr

[2021-04-17 23:33] craigtappin opened #17505 "Stream page documentation"
### Feedback

- Include an actual example of the entire configuration of "stream".
- Include an actual example of a lovelace card utilizing the stream.
- What is "camera.quintal" in reference to? Does each camera need to exist under "camera" in configuration.yaml? If so include in documentation.

### URL

https://www.home-assistant.io/integrations/stream/

### Version

2021.4.4

[2021-04-17 23:46] craigtappin commented on #17505
Just noticed closed issue https://github.com/home-assistant/home-assistant.io/issues/17246.

The code example only has the stream: config. It would be good to have all the attributes in a YAML code snippet (I know they are listed underneath, but for people that are new to a language, it's easier to see a code block that can be copied).

Also as above, should mention that a camera entity is require

[2021-04-18 02:50] allenporter commented on #17505
My initial thought would be to remove all the docs and make it look similar to something like https://www.home-assistant.io/integrations/auth/ basically saying: This is internal, go look at camera.  We can remove all references to the services, since they are gone now, completely internal to camera.

Is `stream:` even needed in `configuration.yaml`? I've never used it directly or found a need to..

[2021-04-18 03:23] allenporter commented on #17505
@craigtappin From that issue you referenced " The example on the page is a complete example. There isn't more to configure" -- what configuration options are you expecting?  I'd like to clarify the documentation to understand why it is expected there are more options.

[2021-04-18 05:46] najamshah1 commented on #17275
Below will give you local time and not in terms of hours and events
    'format: time'

type: entities
entities:
  - entity: sensor.fajr_prayer
    format: time
    name: Fajr - الفجر
    icon: 'mdi:islam'
  - entity: sensor.sunrise_time
    format: time
    icon: 'mdi:white-balance-sunny'
  - entity: sensor.dhuhr_prayer
    format: time
    icon: 'mdi:islam'
    name: Dhuhr - الظهر
  - entity: se

[2021-04-18 07:24] frenck commented on #17489
Right, but that is the given example:

![image](https://user-images.githubusercontent.com/195327/115137720-e9b42c80-a027-11eb-86f6-3d58be7063ed.png)

[2021-04-18 07:26] frenck commented on #17497
I'll put up a small change to the docs, thanks for the feedback 👍

[2021-04-18 07:36] frenck commented on #17504
This rate is automatically calculated by the integration. There is no manual configuration needed for that.

I've opened up a small PR to adjust the documentation to make that clear.

Thanks for the feedback! 👍

../Frenck 🚂

[2021-04-18 07:58] frenck commented on #17503
Because many of those features cannot be offered in those environments in a reasonable, manageable, stable and maintainable way.

Every installation method offer pro's and cons 🤷

As this is not really documentation feedback, I'll go ahead and close this documentation feedback issue.

[2021-04-18 07:58] #17503 closed, assigned to nobody

[2021-04-18 08:22] frenck commented on #17425
Ok, if that document need changing, please file an issue or PR on the add-on repository 👍

[2021-04-18 08:22] #17425 closed, assigned to emontnemery

[2021-04-18 08:39] frenck commented on #17502
Using split configuration is considered an advanced subject and isn't specific to any integration, thus shouldn't be documented on specific integration pages either.

For more information about splitting up your configuration see: <https://www.home-assistant.io/docs/configuration/splitting_configuration/>

If you are in need of support with that, you should try our [Community Forum](https://commun

[2021-04-18 08:39] #17502 closed, assigned to nobody

[2021-04-18 10:29] sevorl opened #17509 "where to add the txt record?"
### Feedback

I got stuck here:
https://www.home-assistant.io/integrations/html5/#verify-your-domain - DuckDNS
3. Add the TXT record to your DNS. If you use DuckDNS, use the format:

Where do I need to add this? I have no idea

### URL

https://www.home-assistant.io/integrations/html5/#verify-your-domain

### Version

2021.4.4

[2021-04-18 11:21] Redblockmasteur opened #17510 "Update the integration in order to make it work on V3 clusters"
### Feedback

Hello since the TTN is shutting down V2 clusters at the end of the year. And this integration is not working for apps that are moved to V3 it would be nice if you could update this integration by the end of the year to prevent users from being stuck.
Best regards.

### URL

https://www.home-assistant.io/integrations/thethingsnetwork/

### Version

2021.4.4

[2021-04-18 12:06] #17497 closed, assigned to frenck

[2021-04-18 12:24] dsteinborn commented on #16574
In my opinion this is still relevant.

[2021-04-18 13:06] dgomes commented on #17489
and should work for sensors that don't have have "unavailable"/"unknown" state, since that entry was proposed by DMSR users...

From the point of view of the integration, I have no control on what sort of things the user types in the template :(
on the integration I only get 0 and act accordingly...

[2021-04-18 14:32] milanmeu commented on #17509
Open the provided URL in the browser and fill in your details.
[code]

Example:
[code]

[2021-04-18 14:41] milanmeu commented on #17509
I'll help you here but please use the [community forum](https://community.home-assistant.io/) or the [Home Assistant Discord](https://www.home-assistant.io/join-chat) for support 😃.
Feel free to ask for more info or close the issue if the problem is resolved.

[2021-04-18 16:25] #17504 closed, assigned to frenck

[2021-04-18 20:15] Wiggum127 commented on #17487
There is a soft limit at somfy side of 10 items in queue at the gateway. For example: closing 10 screens at the same time works, trying to close an 11th while the first 10 are still closing, you will get an error back.

[2021-04-19 00:45] mbbs1024 opened #17518 "Sharing Broadlink IR and RF codes"
### Feedback

Would it be interesting to add a link to the community forum topic for sharing Broadlink IR and RF codes ?
https://community.home-assistant.io/t/share-your-broadlink-ir-rf-codes/295055

In this way, more people would share their own recorded codes and in this way help others to find codes for their perhaps malfunctioning or lost remotes, or avoid having to record all of their remotes

[2021-04-19 08:35] Kane610 commented on #17499
`Perhaps ellaborate a bit on what that means? I noticed that HA treats the switches from deCONZ as lights, does that have something to do with this?`

What do you mean by this? I don't understand what you're requesting.

[2021-04-19 10:22] frenck commented on #17499
@Kane610 I think the question is about these notes in the integration docs:

![image](https://user-images.githubusercontent.com/195327/115221367-dda09b80-a109-11eb-82b9-f5b4ac492703.png)

I could raise questions like: What is this list? What is on this list? Can it be extended? How do I do this manually?

[2021-04-19 10:36] Kane610 commented on #17499
I mostly meant what he means by "I noticed that HA treats the switches from deCONZ as lights, does that have something to do with this?"

[2021-04-19 11:21] frenck commented on #17487
This is not a documentation issue, but an issue in the integration and the upstream libraries used. A user should not be able to break it like that, it should have been rate-limited.

As there is already an upstream issue open, I'll go ahead and close this one on the documentation end.

[2021-04-19 11:21] #17487 closed, assigned to nobody

[2021-04-19 11:31] frenck commented on #17518
It might make sense if such a topic is substantial. However, right now it is not.
In general, we try to avoid mixing up community-provided resources with our official documentation.

For now, I'm closing this, but maybe in the future. Thanks for providing feedback 👍

../Frenck 🚂

[2021-04-19 11:31] #17518 closed, assigned to Danielhiversen

[2021-04-19 11:43] frenck commented on #17509
Hi there @sevorl!

As suggested above, this is more of a support question with either DuckDNS (or their documentation) or maybe our community can help.

Closing this issue from our end. Nevertheless, thanks for taking the time to provide feedback 👍

../Frenck 🚂

[2021-04-19 11:43] #17509 closed, assigned to nobody

[2021-04-19 12:18] frenck commented on #16574
No, it is an entity by itself.

This belongs on the group integration page, which it already is (as you have linked above). All expcetions and "odd" behaviors are documented on their respective integration pages.

Therefore, closing this issue. Thanks for providing feedback though 👍

../Frenck 🚂

[2021-04-19 12:26] #16574 closed, assigned to nobody

[2021-04-19 13:29] DavidWhitley opened #17522 "Is there Something Missing"
### Feedback

Setup:
Raspberry Pi 4 with SD Card Hass.io
Home Assistant Version: core-2021.4.5
Xiaomi Temp Sensor 2 Info: Firmware 1.0.0_0109; Hardware B1.4

I've followed the steps and added everything to my configuration.yaml file, as stated in the example for temperature, humidity and battery life.  I have used the bluetoothctl method to ensure the Pi can see the devices.  I cross-referenced th

[2021-04-19 13:36] raviwarrier opened #17523 "Missing Instructions on installing Supervisor for HA Core + Incorrect python command"
### Feedback

Hi there, I installed HA core using the instructions on the page only to find that after all that effort there was no Supervisor and I couldn't find any instructions on how to install it separately.
Second, you have a command using python3.8 -m venv, but python3.8 is not the default python version.

Could you please fix both these instruction sets? Thx.

W.

### URL

https://www.home

[2021-04-19 13:42] frenck commented on #17522
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-04-19 13:42] #17522 closed, assigned to nobody

[2021-04-19 13:44] DavidWhitley commented on #17522
Idiot mistake, my apologies!

[2021-04-19 14:22] frenck commented on #17522
Don't worry! Stuff ain't always easy 👍

[2021-04-19 14:41] pipetboy opened #17524 "How to integrate air_quality sensors?"
### Feedback

Maybe it's just me, but I just can't figure out how to get the data about air_quality. There is nothing in the documentation about what to add to the yaml files. Or am I missing something very obvious?

### URL

https://www.home-assistant.io/integrations/air_quality/

### Version

2021.4.5

[2021-04-19 16:17] allenporter commented on #17505
We took a pass on cleaning up the documentation (mostly removing stuff) to clarify things. Thanks for the report!

[2021-04-19 16:17] #17505 closed, assigned to hunterjm, allenporter, uvjustin

[2021-04-20 04:01] #16517 closed, assigned to nobody

[2021-04-20 11:40] hmmbob commented on #17523
Home Assistant Supervised is only supported on generic Linux devices running Debian, and not on Raspberry Pi's as you can see in the docs: https://www.home-assistant.io/installation/

So, if you install _HA Core_, you will get _HA Core_ and not the _Supervised_ (or _HA OS_) version 🤷🏻
See the same page for the differences between the installation methods and the supported installation methods per

[2021-04-20 11:44] frenck commented on #17523
Yep, adding to that, we consider installation Home Assistant Core in a pure Python environment an advanced use case for more experienced users in e.g., Python.

Depending on your platform/OS/Linux flavor, the commands may differ. We assume one is able to adopt to that in those cases.

If this isn't the case for you, we don't recommend on using that installation method, but maybe use the OS or Cont

[2021-04-20 11:44] #17523 closed, assigned to nobody

[2021-04-20 11:48] hmmbob commented on #17524
The `air_quality`  integration is a base integration on which others can build. See https://www.home-assistant.io/integrations/#health for integrations that use this platform.

I'll add a note about this in the docs.

[2021-04-20 12:01] #16521 closed, assigned to nobody

[2021-04-20 12:17] AirKing555 opened #17534 "Yandex Transport not work."
### Feedback

https://yandex.ru/maps/10668/murom/stops/1543201926/?ll=42.036894%2C55.577853&utm_source=main_stripe_big&z=17.04

stops with the specified format do not work in the yandex.transport integration. The name of the bus stop is received, but the list of routes is not.

### URL

https://www.home-assistant.io/integrations/yandex_transport/

### Version

2021.4.6

### Additional information

[2021-04-20 16:20] hdjweb opened #17537 "why you don't activate again ezviz component??"
### Feedback

why you don't activate again ezviz component??

### URL

https://www.home-assistant.io/integrations/ezviz/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-20 17:58] frenck commented on #17524
Thanks, @hmmbob 👍

../Frenck 🚂

[2021-04-20 17:58] #17524 closed, assigned to nobody

[2021-04-20 18:36] frenck commented on #17534
Hi there @AirKing555!

It seems like you want to report an issue with an integration, but you provided documentation feedback instead. There is no amount of documentation I can change in order to fix an integration 😄

Please report a bug at the Home Assistant Core issue tracker:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck 🚂

[2021-04-20 18:36] #17534 closed, assigned to nobody

[2021-04-20 23:53] florinmihut commented on #17501
Found the problem in mqtt/cover.py:

if payload == self._config[CONF_STATE_STOPPED]:
                if self._config.get(CONF_GET_POSITION_TOPIC) is not None:
                    self._state = (
                        STATE_CLOSED
                        if self._position == DEFAULT_POSITION_CLOSED
                        else STATE_OPEN
                    )
                else:

[2021-04-21 00:10] treforparr opened #17538 "Still not integrating"
### Feedback

Constant problems with integration it says aborted Or it won’t integrate I’ve tried everything

### URL

https://www.home-assistant.io/integrations/hive/

### Version

2021.4.6

### Additional information

Or it won’t integrate I’ve tried everything is there any news of when this will be fixed so I can integrate it into him assistance again it has a two-step verification problem

[2021-04-21 01:20] SeanPM5 commented on #17538
As KJonline mentioned in the previous feedback you opened https://github.com/home-assistant/home-assistant.io/issues/17372 the fix for this will be included in the 2021.5 release. That is scheduled for Wednesday May 5th.

You can get access to it a week earlier (April 28th) by joining the beta channel (Supervisor -> System tab).

[2021-04-21 01:20] #17538 closed, assigned to nobody

[2021-04-21 08:35] thecode commented on #17501
From reading @florinmihut comment, I am not sure the information is not clear, but that he does not agree with the implementation.
If I also followed the first description correctly, I think you are using wrong MQTT topics.

Can you add yaml with your MQTT cover configuration and the exact MQTT messages you sent, what was displayed in the UI after each message and what did you expect to be shown t

[2021-04-21 09:03] OJBender opened #17540 "Documentation not applicable to hass.io aka homeassistant"
### Feedback

A remark about the documentation not applicable to homeassistant operating system would be useful.
Example:
If you have a home assistant operating system installation that comes with a supervisor container and many more functions in comparison to the core-installtion, none of the instructions will apply for you.
Installing the pylacrosse package will work differently, if at all.
Many

[2021-04-21 09:07] frenck commented on #17540
Thanks for the feedback @OJBender, that needs an update indeed 👍

Please note: "hassio" is not a term used anymore. It is ambiguous as well. Please avoid using it.

[2021-04-21 09:49] toomservice opened #17541 "dim display screen"
### Feedback

i want display screen alway on in app home assistant
ios, and android

### URL

https://www.home-assistant.io/docs/scripts/service-calls/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-21 10:18] OJBender commented on #17540
Apologies for the legacy terms. Changed them to best knowledge.
I stepped over this when trying to follow integration instructions in the supervised environment.

[2021-04-21 11:02] olskar commented on #17499
Sorry, I made a separate issue for this:
https://github.com/home-assistant/core/issues/49519

This issue was just about the information on this "manually curated list" could be clearer :)

[2021-04-21 11:06] frenck commented on #17541
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-04-21 11:06] #17541 closed, assigned to nobody

[2021-04-21 13:14] OJBender opened #17542 "Instead of device=/dev/ttyUSB0 it is recommended to use device=/dev/serial/by-id/<device-ID>"
### Feedback

You may see your device changing its USB port, depending where you will plug it in. If more dongles are connected, CULs, USB sticks etc. the ttyUSB0 address may change to ttyUSB1 etc.

To be more fault tolerant, you can use its "ID" as the device instead. USB devices are also created as path /dev/serial/by-id/... This ensures that devices can be connected to, despite their potentiall

[2021-04-21 16:16] mar-eid opened #17544 "Documentation on attributes"
### Feedback

Thanks for a great integration!

It would be nice to have documentation on the different attributes, especially PRICE_LEVEL and what calculations are done for the different levels.

Don't remember, but I think I had to dig in the included Tibber.py to find the doc on the attributes.

E.g:
NORMAL
The price is greater than 90 % and smaller than 115 % compared to average price.

CHEAP
T

[2021-04-21 17:23] OJBender opened #17545 "TX25 Dual Channel Sensors?"
### Feedback

Great work. Can we find a statement if the TX25 sensors with dual channel temperature can be facilitated?

### URL

https://www.home-assistant.io/integrations/lacrosse/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-22 00:02] #16550 closed, assigned to nobody

[2021-04-22 07:22] pnneil opened #17550 "Error - Config Flow could not be loaded"
### Feedback

I have attempted to add the Tasmota Integration into a new Home Assistant install on a Raspberry Pi 4 4GB. When I select it I get the error as above.  If I attempt to add another integration I get a spinning wheel with "Please wait while in integration is installed".  I quit this after 2 hours.  Is this still attempting to install Tasmota and if so how long should it take?

### URL

[2021-04-22 10:19] TheQue42 opened #17552 "Clarify difference between zwave_js.set_value and the old zwave.set_node_value"
### Feedback

The two API calls seem to aim towards the same thing, but the old zwave_set_node_value, only required a value, value_id, and the zwave node id.

The new zwavejs requires several more (unknown) parameters.

It would be good to clarify if this really is the same mechanism/api, and a mapping how to perform the old calls in the new, would of course be even better.

### URL

https://www.h

[2021-04-22 13:39] IanAber opened #17553 "Do not just assume people know what an acronym is"
### Feedback

In the Ignored job conditions page solution section you mention the use of the CLI.

Please do not use acronyms exclusively in documentation. The acronym should be spelled out at least once on the page or should have a functional link or tool tip to its explanation.

I have no idea what CLI stands for and it does not come up with anything when I search for CLI in the search function

[2021-04-22 14:16] kjacek1 opened #17554 "HA integration Onkyo tx_nr656 not unique entities"
### Feedback

Hallo,
I have a problem with player integration

Google integration detects it correctly as:
                "entity_id": "media_player.onkyo_tx_nr656_e8dcd0",
                "config_entry_id": "74c8b8f6ce1df7d4c1f35a61ceb02b25",
                "device_id": "82e3b80753514f48f27f0e067fa8881c",
                "area_id": null,
                "unique_id": "7b742973-a3bf-6664-722d-13d

[2021-04-22 20:13] florinmihut commented on #17501
Hi @thecode,

I have my own implementation of remotes using micropython.
The topic "`~/config`", in this example, `cover/living_room/lr_smalldoor/config` :
[code]
In yaml I don't have anything because everything is enabled by default (mqtt discovery for example).
As soon as the topic config is visible in network HA will show me the entities and I can put them in the UI.
Then, I am using Entities C

[2021-04-22 20:15] florinmihut commented on #17501
I forgot to mention that I am setting the position to 50 in the state = stopped but no change.

[2021-04-22 20:25] OndHas opened #17555 "How can i change password for synology"
### Feedback

I have change my password for synology. It ise very difficult to figure out how can I change passwort in Home Assistatn for already configured Synology DSM integration

### URL

https://www.home-assistant.io/integrations/synology_dsm/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-22 20:53] OndHas opened #17556 "Integration stopped working after HA update to new version"
### Feedback

Withings integration do not show data, it was warking before and I did not change any settings of this integration. Only what was done is HA update.

It is possible to delete integration and add it again, select profile but then I do not see any data (Not identified)
for example:
Withings diastolic_blood_pressure_mmhg. -> Not identified (I do not see data).

### URL

https://www.home

[2021-04-22 21:34] thecode commented on #17501
About stop button, HA always leaves stop button enabled, even if device is stopped.  I guess this is a safety measures, I have tested it in other cover integrations and this button is always left enabled.
About the grayed buttons, I was the one who added the "stopped" state to MQTT covers, but it was not to control which buttons will be enabled, but to allow working with cover types which can only

[2021-04-22 21:40] thecode commented on #17162
This is from the first paragraph ([Configuration](https://www.home-assistant.io/integrations/cover.mqtt/#configuration)):

"If neither a state topic nor a position topic are defined, the cover will work in optimistic mode. In this mode, the cover will immediately change state (`open` or `closed`) after every command sent by Home Assistant. If a state topic/position topic is defined, the cover will

[2021-04-22 22:15] josh-m-sharpe commented on #17162
No. Don’t define the word with the word that is being defined.

Restate everything you just said without using the word “optimistic”.

On Thu, Apr 22, 2021 at 5:41 PM Shay Levy ***@***.***> wrote:

[2021-04-22 22:47] thecode commented on #17162
I don't see where in the quote I copy from the configuration paragraph the word optimistic is used.
**"In this mode, the cover will immediately change state (open or closed) after every command sent by Home Assistant. If a state topic/position topic is defined, the cover will wait for a message on state_topic or position_topic"**

Your quoted statement is from the [CONFIGURATION VARIABLES](https:/

[2021-04-23 02:12] steppel opened #17559 "Z-Wave removed dead node is not accurate"
### Feedback

I have the latest version of Zwave JS and I have 3 dead nodes in the device list. In Developer those nodes do not show up. So the documentation doesn’t really help.

### URL

https://www.home-assistant.io/docs/z-wave/adding/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-23 07:22] frenck commented on #16685
No stale

[2021-04-23 08:04] pnneil commented on #17550
OK, I have loaded the 32 bit version of HA and gone through the neccessary prereqs.  Today it seems to have loaded but it only asked for a discovery topic prefix. I left the default of tasmota/discovery.  Is that it?

[2021-04-23 08:18] frenck commented on #17559
This is not the documentation of Z-Wave JS, but the documentation of the legacy `zwave` integration.

I'll make sure the page has a warning for that.

[2021-04-23 08:31] frenck commented on #17550
Hi there @pnneil,

It seems like you want to report an issue with an integration or are in need of help/support with setting up your system. However, you have now provided documentation feedback instead.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get

[2021-04-23 08:31] #17550 closed, assigned to emontnemery

[2021-04-23 08:55] frenck commented on #17545
That would be a support question / a community question.

The documentation states it has been texted with the TX29. Others might work. If not, a feature request can be raised on our community forums.

Thanks! 👍

../Frenck 🚂

[2021-04-23 08:55] #17545 closed, assigned to nobody

[2021-04-23 08:59] frenck commented on #16672
There are multiple variants that may work, depending on the network setup.

![image](https://user-images.githubusercontent.com/195327/115847215-0636d700-a423-11eb-90be-037631993650.png)

They are all listed.

[2021-04-23 08:59] #16672 closed, assigned to nobody

[2021-04-23 11:12] emontnemery commented on #16982
Thanks @tayfunulu for reporting this 👍

Fixed by  #17563

[2021-04-23 11:12] #16982 closed, assigned to emontnemery

[2021-04-23 12:00] #16581 closed, assigned to nobody

[2021-04-23 15:31] BenFR23 opened #17567 "integration not shown already configured"
### Feedback

Hello, Somfy ntegration is not shown and when I try to install it, it says that it's already configured and just one can be.

Check script is without effect.

### URL

https://www.home-assistant.io/faq/component/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-23 16:12] frenck commented on #17567
Thank you for reaching out. We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-04-23 16:12] #17567 closed, assigned to nobody

[2021-04-23 16:17] B0ndo2 opened #17569 "Speech, where does it go ?"
### Feedback

Please put more details on Speech, where does STT get processed

### URL

https://www.home-assistant.io/integrations/intent_script/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-23 16:19] florinmihut commented on #17501
Hi,

Thanks for the quit response!

Here is what I found out:
1. Using the optimistic mode - yes this solves the problem, all the buttons as active all the time - problem solved, since this implies less messages involved I will probably use it.
2. The second method - I definitively I send the position, here is a screen capture using MQTT explorer of the HA server. Position is set in stopped state

[2021-04-23 16:20] frenck commented on #17569
![image](https://user-images.githubusercontent.com/195327/115900629-744dbf00-a460-11eb-80e7-d5749ceeec72.png)

By the integrations that handle that, as written in the first paragraph. Maybe I'm misunderstanding your suggestion in this case?

../Frenck 🚂

[2021-04-23 16:22] florinmihut commented on #17501
Or maybe since the state stopped is not supported you disregard any message in that state until the device will return to a known state?
BTW I forced optimistic to false to be sure that we debug second option.

[2021-04-23 16:27] florinmihut commented on #17501
Nope, position is definitively disregarded, even if I go in state open when I press stop and set position to 50, no change. Position is not visible in the entity list (not sure if it is supposed to be, just sayin').

[2021-04-23 16:29] B0ndo2 commented on #17569
I understood the response as being the action part of the intent script. I am using Rhasspy for intent handling and from what is written it was not clear what happens with the text part of the script. Maybe an example or more explanation would be helpful

[2021-04-23 16:50] frenck commented on #17569
I'm sorry, I'm not following the concern you are raising (don't worry, I'm sure it's me in this case).

When an intent runs/triggers, it can do 3 things, return a text (which can be spoken if the device/integration supports that), trigger showing a card and run an action.

[2021-04-23 17:02] B0ndo2 commented on #17569
I understand now but maybe it's me, how about adding something like this

speech map (Optional)

Text or template to return. The text will be returned to the integration that fired the intent, if the integration supports TTS; speech will be played.

I feel this is the case with most of the documentation, the description under the parameters are not really saying much. I know you definitely see it

[2021-04-23 17:56] thecode commented on #17501
In your screenshot above the position topic is missing an `i`

[2021-04-23 19:47] carlosarmentac opened #17570 "Clarify pin mapping"
### Feedback

The docs just indicate pin selection as an integer but to be more clarify we need to know the internal pin mapping.
Inside the library ( ../xbee_helper/const.py ) we can know the pin mapping but this is not accesible to newbies.

[code]
The ping mapping is:

| PIN | Xbee PIN | Use           |
|-----|----------|---------------|
| 0   | dio-0    | Binary Sensor |
| 1   | dio-1    | Bin

[2021-04-23 21:41] florinmihut commented on #17501
OMG, embarrassing, didn't saw that, although I was checking for typos. :)
Sorry for the waste of time.

[2021-04-23 21:42] #17501 closed, assigned to emontnemery

[2021-04-23 21:45] thecode commented on #17556
You should open the issue here: https://github.com/home-assistant/core/issues/new/choose
This repo is only for documentation issues

[2021-04-23 22:06] enricodeleo opened #17571 "Ezviz not available on 2021.4.6 @ Raspberry 4"
### Feedback

I checked every piece of doc but couldn't find this integration. Should we update the docs stating supported OS versions?

### URL

https://www.home-assistant.io/integrations/ezviz/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-23 23:33] mib1185 commented on #17555
Hi @8811025080

I'm afraid there is no re-auth-flow implemented in synology_dsm integration, yet :confused:

For now I see two options:

1. remove and add integration again

- this is the easiest way via UI
- but history for all entities got lost

2. change password in configuration backend file

- file: `/config/.storage/core.config_entries`
- search for config block of you NAS and change passwor

[2021-04-24 05:53] #17556 closed, assigned to nobody

[2021-04-24 09:34] ugn79 commented on #17141
My a say some words on that. I have the same problem, but on my side it worked with my old Nissan LEAF. I got a newer LEAF 2 weeks ago and with this car, Nissan is unsing the newer Telematic system (Nissan Connect), the old one is Nissan Connect EV. The documentation at Hassio is refeering to the old telematic system (Nissan Connect EV). This works fine. The question now is: who has to be contacte

[2021-04-24 10:23] BenWoodford opened #17574 "Homekit docs: Add some notes about zeroconf and using a discovery tool to debug issues"
### Feedback

Just had to go through this myself, as it turned out the Homekit Integration was using the wrong interface for broadcasting due to `zeroconf`'s default value of `default_interface: true`

The moment I set that to false, everything worked.

A troubleshooting block when everything goes not responding or you can't add HASS as an accessory would be a big help for others with the same pro

[2021-04-24 11:23] toben1997 opened #17575 "no options button and no device update"
### Feedback

i renewed my tuya integration but i dont have any options button in the integration side for tuya and no device is updating if the state is changed  any other way then through home assistant

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-24 11:41] frenck commented on #17575
Hi there @toben1997!

Seem like you are trying to report an issue with the Tuya integration, however, you have submitted documentation feedback instead.

Please submit issues with an integration here:

<https://github.com/home-assistant/core/issues>

Thanks!

../Frenck 🚂

[2021-04-24 11:41] #17575 closed, assigned to nobody

[2021-04-24 12:15] frenck commented on #17555
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-04-24 12:15] #17555 closed, assigned to nobody

[2021-04-24 18:09] #15305 closed, assigned to nobody

[2021-04-24 19:02] bdraco commented on #17574
@BenWoodford Thanks for the report. We would appreciate it if you updated the documentation using this link: https://github.com/home-assistant/home-assistant.io/edit/current/source/_integrations/homekit.markdown

Thanks 👍

[2021-04-24 21:11] tuct opened #17577 "Can i have multiple triggers on one device?"
### Feedback

An example would be nice, like this:

Topic: "homeassistant/device_automation/colorkeys/config"
Payload:
{ "automation_type":"trigger", "topic": "homeassistant/device_automation/colorkeysA/button_1", "type": "toggle", "subtype":"button_1","device":{"name":"tos-colorkeys","mf": "tob","identifiers":"tos-color-keys-01","model":"tck-01"}}

Also i am wondering if i only can register one t

[2021-04-24 21:42] nickagian opened #17578 "MQTT sensor: device config variable doesn't say that connections and/or identifiers are required"
### Feedback

I think there is a small detail that is misleading in the documentation for the **device** configuration parameter.

More specifically, I think that we should indicate that this parameter requires either the **connections** or the **identifiers** fields. Both right now are optional but when I tried to set up a device via MQTT discovery without these fields I got the error that

(edit

[2021-04-24 22:00] nickagian opened #17579 "MQTT sensor: device config variable doesn't seem to accept "suggested_area""
### Feedback

When trying to create an MQTT device through MQTT discovery, the **suggested_area** doesn't seem to be accepted as a valid entry in the map. Here is the error message I get:

[code]

If this is indeed is true, I suggest we remove this from the documentation.

### URL

https://www.home-assistant.io/integrations/sensor.mqtt/

### Version

2021.4.6 (using core version core-2021.3.4)

##

[2021-04-24 22:07] Pzipp opened #17580 "DHT not working on pi4"
### Feedback

We need a note on the DHT dokument, that it's not working on PI4.

### URL

https://www.home-assistant.io/integrations/dht/

### Version

2021.4.6

### Additional information

_https://github.com/home-assistant/core/issues/37382

[2021-04-25 02:30] tuct commented on #17577
I figured out that if I use the node ID as well I can add multiple triggers to one device as long as  use different config and trigger URLs but the same device entry.
Only thing is I can't see the mqtt yaml Config in the UI, guess it's because I have multiple triggers. Using the device triggers work perfect!

Definitely the documentation can be enhanced, I could share what I did.

[2021-04-25 05:53] frenck commented on #17580
This is a bug, which needs to be fixed, not documented.

[2021-04-25 05:54] #17580 closed, assigned to nobody

[2021-04-25 08:10] 5349U11 opened #17582 "Home Assistant Core, auto start on machine restart"
### Feedback

When restarting the machine that HA runs on, you need to boot up HA again.
With an older install guide (home assistant core), the way that HA was installed it was easy enough how to google how to make it so HA starts with the machine (by creating a systemd services).

Maybe I'm just dense, but it does not appear to be straight forward with the current install method for core (python

[2021-04-25 08:37] emontnemery commented on #17579
Suggested area support was added to MQTT in 2021.4, please update your core version.

[2021-04-25 08:37] #17579 closed, assigned to emontnemery

[2021-04-25 08:41] emontnemery commented on #17578
Thanks @nickagian for the good suggestion 👍
Maybe something like (_with added text in italics_):

[2021-04-25 08:52] emontnemery commented on #17577
There's no need to use multiple `node_id`, but the device triggers do need a unique topic for each trigger in the same way as entities do.
A PR to clarify this and/or add examples of MQTT triggers would be welcome.

[2021-04-25 09:06] frenck commented on #17582
We consider this an advanced subject, if one uses this installation method, we assume one is capable of setting up a startup for their systems as well.

This is not something we will be documenting for various reasons. If one is not sure how to achieve this, it is probably better to pick one of the other offered installation methods.

../Frenck 🚂

[2021-04-25 09:06] #17582 closed, assigned to nobody

[2021-04-25 10:00] #16621 closed, assigned to nobody

[2021-04-25 16:03] JPOliveGit opened #17586 "Decimal numbers on Shelly"
### Feedback

Can you insert in the documentation about shelly integration how can we make it show the decimal numbers, because when we use the developer tools and call the state of the sensor it show the value in decimals ex: 22.6 but when we make a button with the sensor it shows 23 removing the decimal

### URL

https://www.home-assistant.io/integrations/shelly/

### Version

2021.4.6

### Addi

[2021-04-25 16:06] JPOliveGit opened #17587 "Battery powered Shelly's"
### Feedback

How is the development of the shelly integration on the battery powered shelly's because it continues to show the wrong state of it, in the shelly app it shows closed on home assistant open. thanks for all

### URL

https://www.home-assistant.io/integrations/shelly/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-25 16:07] schumi69 opened #17588 "Netatmo Doorbell"
### Feedback

Hello, I have just purchased the new netatmo doorbell.  do you know if integration is planned in HA?

https://www.netatmo.com/fr-fr/security/doorbell

Thank you!!😁

### URL

https://www.home-assistant.io/integrations/netatmo/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-25 16:13] schumi69 opened #17589 "Somfy protecial"
### Feedback

hello,

I have a Somfy Protexial alarm connected to my Tahoma.  I can only turn it off.  Is there a problem with the integration?

### URL

https://www.home-assistant.io/integrations/tahoma/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-25 18:38] chemelli74 commented on #17587
Hi @JPOliveGit , please enable debug log for `aioshelly` and attach log to a service like http://pastebin.com

Simone

[2021-04-25 18:56] thecode commented on #17587
@JPOliveGit there are no known issues about wrong states in Shelly integration.
If you have an issue please first look at the open issues in the core repo:
https://github.com/home-assistant/core/labels/integration%3A%20shelly

If you don't find something that help you there, open an issue at:
https://github.com/home-assistant/core/issues/new/choose

This repo is for documentation issues.
Thanks.

[2021-04-25 19:03] thecode commented on #17586
This is not related to Shelly integration documentation, the right place for this questions is in the community forums if you see the right value in developer tools the integration is working correctly. Anyhow if you need help start by showing the configuration you used to create the button.

[2021-04-26 06:39] hklages opened #17595 "sample size"
### Feedback

How many data are provided per second or minute for each of the sonsors?

I would like to calculate the min/max values of free memory, processor load for a day.
Statistic integration required the "sampling_size"  parameter.

### URL

https://www.home-assistant.io/integrations/systemmonitor/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-26 09:56] frenck commented on #17595
15 seconds

[2021-04-26 10:14] frenck commented on #17588
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-04-26 10:14] #17588 closed, assigned to cgtobi

[2021-04-26 10:45] #17587 closed, assigned to balloob

[2021-04-26 10:45] Friedi1970 opened #17597 "More services for NUKI please"
### Feedback

First: Thanks for this great integration but I wonder why there is only one service integrated which is the LOCK_N_GO.
It would be really helpful to add more services like OPEN, UNLOCK etc.
Anyway the LOCK_N_GO with unlatch is a bit weird. I am coming home, the service is triggered, I get into my flat and then the door will be locked.

Please add the additional services.

### URL

ht

[2021-04-26 10:49] #17586 closed, assigned to balloob

[2021-04-26 10:52] frenck commented on #17597
Those are generic services, provided by Home Assistant for it being a lock.

See: <https://www.home-assistant.io/integrations/lock#services>

[2021-04-26 10:52] #17597 closed, assigned to pvizeli

[2021-04-26 14:53] vahaldor opened #17602 "Additional useful information"
### Feedback

Please, add to the configuration flow following:
- if you changed the DSM port or force HTTPS access than add port leading to your DSM (the integration works with 5000 or 5001 as defaults)

### URL

https://www.home-assistant.io/integrations/synology_dsm/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-26 15:00] #16636 closed, assigned to bdraco

[2021-04-26 15:03] enricodeleo commented on #17571
Apparently the only way at the moment, is to install Ezviz via Hacs.

[2021-04-26 15:03] #17571 closed, assigned to nobody

[2021-04-26 15:52] #17553 closed, assigned to frenck

[2021-04-26 17:28] Trufax opened #17607 "Enable multiple usage"
### Feedback

Hello,

i would like to monitor the train departure in 2 directions. But i can only add this sensor once. Please make it possible to add the sensor multiple times so you can monitor multiple departures at once.

Regards

Trufax

### URL

https://www.home-assistant.io/integrations/deutsche_bahn/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-26 18:09] #16637 closed, assigned to nobody

[2021-04-26 18:11] frenck commented on #17607
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-04-26 18:11] #17607 closed, assigned to nobody

[2021-04-26 19:40] #17559 closed, assigned to frenck

[2021-04-26 23:37] Fox350 opened #17608 "Configuring platform binary sensor, input_type string (Optional, default: holding) type of adddress (holding/discrete/coil)"
### Feedback

Hy,
just to mention that Configuring platform binary sensor, input_type string (Optional, default: holding)  type of adddress (holding/discrete/coil) is incorrect.  If I try to enter holding, it is invalid :
Invalid config for [modbus]: value must be one of ['coil', 'discrete_input'] for dictionary value @ data['modbus'][0]['binary_sensors'][0]['input_type']. Got 'holding'. (See /con

[2021-04-27 06:27] craigtappin opened #17609 "Change "alarm_control_panel.alarm" to "alarm_control_panel.ha_alarm""
### Feedback

Configured the manual alarm panel as per https://www.home-assistant.io/integrations/manual/ and it created an entity called "alarm_control_panel.ha_alarm", yet the documentation for Alarm Panel Card refers to "alarm_control_panel.alarm". Suggest updating to include **ha_** in the entity name :)

### URL

https://www.home-assistant.io/lovelace/alarm-panel/

### Version

2021.4.6

###

[2021-04-27 06:29] craigtappin commented on #17609
Created a proposed change, sorry I'm a Github noob!

[2021-04-27 06:38] janiversen commented on #17608
I think you are using the "old" configuration style. Where you have "sensors" separated from modbus. As the examples shows and documentation reads, you have to have "sensors" within "modbus" (new configuration style).

"old" configuration style is no longer supported but silently accepted for a while.

If you still think there is a problem, please provide a sample configuration.yaml file, showing

[2021-04-27 08:27] badrhabib opened #17611 "Add SP4L-UK"
### Feedback

SP4L-UK now is integrated with home assistant. please add it to the list

### URL

https://www.home-assistant.io/integrations/broadlink/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-27 11:36] mathgim opened #17613 "consider_home"
### Feedback

Is there any way to edit the `consider_home` setting for this `device_tracker` integration?

### URL

https://www.home-assistant.io/integrations/freebox/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-27 16:41] frenck commented on #17609
There are multiple examples in that document, one always has to adjust the examples to their situation.
IMHO non of them are wrong and making them, all the same, isn't possible either.

[2021-04-27 19:25] AlexBGoode opened #17622 "Set the TXT record of your DuckDNS subdomain - isn't so obvoious really!"
### Feedback

I used to use DuckDNS services for a while but this advice to merely set the TXT record sounds isn't obvious! if we practically advise external people to follow this way then we'd better show how exactly to configure it! I mean a step-by-step instruction

If you are at the DuckDNS homepage then you are lost, as for me

### URL

https://www.home-assistant.io/integrations/duckdns/

###

[2021-04-27 19:38] smoresrock opened #17623 "Webpage Card - Feature Suggestion"
### Feedback

Apart from the aspect_ratio, which appears to resize the height of the card within its column, another variable to set either the zoom level or resolution size the webpage is constrained to would be nice. This would enhance views of webpages and even invoke implicit measures the website has taken to handle a given resolution.

### URL

https://www.home-assistant.io/lovelace/iframe/

[2021-04-27 20:01] frenck commented on #17622
I'm not sure what your feedback exactly is?

The integration exposes a service for setting a TXT record on the domain, there isn't really much more to that?

[2021-04-27 20:04] frenck commented on #17623
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-04-27 20:04] #17623 closed, assigned to nobody

[2021-04-27 20:53] ReticentRobot opened #17624 "Does this work without professional monitoring service?"
### Feedback

Can you add if you need professional monitoring service for this to work?  Thanks!

### URL

https://www.home-assistant.io/integrations/simplisafe/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-27 21:04] frenck commented on #17624
Thank you for reaching out. We use GitHub for tracking issues, not for providing support.
However, considering this is an integration that uses "Cloud Polling" (IoT class), it is safe to say it needs an account with SimpliSafe.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

Yo

[2021-04-27 21:04] #17624 closed, assigned to bachya

[2021-04-27 21:31] mib1185 commented on #17602
Hi @vahaldor

as you already wrote - the integration uses the default ports (_5000 for non-ssl and 5001 for ssl_).
If the user has changed port of DMS, it can be also used during setup of integration.
So to be honest, I do net get, what you would like to have added to the docs?

[2021-04-27 23:56] Fox350 commented on #17608
Hy Janiversen and thansk for your idea.  If I get it right, I do use the "new" way of editing the configuration.yaml.  I use HA for 3 months now.  I was not able to use the binary_sensor as described in the documentation for a holding register.  I was trying to read the first bit (weight of 1) in a 16 bit register using binary_sensor.  Unfortunately, HA is throwing me the error in the validation a

[2021-04-28 05:26] janiversen commented on #17608
your binar_sensor Sensor1 cannot be type holding as stated in the documentation.

[2021-04-28 06:30] vahaldor commented on #17602
Hi @mib1185,
I would add exactly what you wrote. I did not realize for hours that the integration uses DSM ports, the error message does not say anything and documentation does not contain this info. I would say that this tiny note in the documentation will save a lot of stress for future users.

[2021-04-28 07:10] jurgenhaas opened #17625 "Frontend caching is too aggressive"
### Feedback

When keeping the frontend open in the browser all the time on a desktop that runs 24/7, the cache size grows up to over 100 GB of data. Don't know what HA is doing with all that data on the client side, but I'm almost certain that's over the top.

On a mobile, where I open the app only now and then, the cache also grows to 4 GB which, I feel, is problematic.

### URL

https://www.hom

[2021-04-28 08:06] frenck commented on #17625
Hi there @jurgenhaas! 👋

It seems like you want to report a bug with the frontend, but instead, you have provided documentation feedback. There is no amount of documentation I can adjust to fix that issue...

Could you please raise a bug report at the frontend issue tracker instead?

<https://github.com/home-assistant/frontend/issues>

Thanks! 👍

[2021-04-28 08:06] #17625 closed, assigned to nobody

[2021-04-28 09:52] Marmitek-Peter opened #17629 "Marmitek Smart me app"
### Feedback

Is it possible to support the Tuya based Marmitek Smart me app?
We will promote Home assistant then in the app and our website.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-28 10:04] frenck commented on #17629
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-04-28 10:04] #17629 closed, assigned to nobody

[2021-04-28 10:05] frenck commented on #17629
@Marmitek-Peter On Discord, feel free to reach out to me directly! 👍

[2021-04-28 11:14] Hedda opened #17630 "Remove "beta" status for Climate in ZHA docs?"
### Feedback

Is it maybe time to remove "beta" status for `Climate` device types in ZHA documentation? Very few bug reports so it seems stable?

https://www.home-assistant.io/integrations/zha/

_There is currently support for the following device types within Home Assistant:_

- _Alarm Control Panel_
- _Binary Sensor_
- _Climate **(beta)**_
- _Cover_
- _Fan_
- _Light_
- _Lock_
- _Number (i.e. ana

[2021-04-28 14:42] hklages opened #17632 "secrets in add on configuration"
### Feedback

Are secrets also supported in add on configurations such as Node-RED?

### URL

https://www.home-assistant.io/docs/configuration/secrets/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-28 15:27] frenck commented on #17632
Yes. :)

[2021-04-28 18:18] Fox350 commented on #17608
Hy Janiverser, but it is stated like a input_type option...
That is what I am saying is to be removed cause this is not a valid option, either a valid default.
input_type string (Optional, default: holding)

type of adddress (holding/discrete/coil)

![image](https://user-images.githubusercontent.com/78315589/116453143-86e34200-a82c-11eb-962a-f0f07359ff50.png)

[2021-04-28 18:56] janiversen commented on #17608
Sorry I do not know why, but I have been looking at sensors until you submitted your config.

You are correct, that is a copy/paste error. I will correct it a.s.a.p.

[2021-04-28 19:01] janiversen commented on #17608
Again sorry for having misread your issue, I have submitted a PR so we can get it fixed.

Thanks for catching it.

[2021-04-28 19:30] #17608 closed, assigned to nobody

[2021-04-28 21:00] #16658 closed, assigned to nobody

[2021-04-28 21:16] Fox350 commented on #17608
Thanks for your work guys!  I appreciate

[2021-04-28 23:57] cinghialino opened #17637 "Update blueprints"
### Feedback

there is no info regarding how update existing blueprints, I believe somethimes the blueprint creator wants to tweak or add functionalities to the sequence, and there is no way of update it automatically

### URL

https://www.home-assistant.io/docs/blueprint/tutorial/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-29 00:01] frenck commented on #17637
There is no update logic to blueprints. One can re-import or overwrite them (even adjust).

[2021-04-29 00:01] #17637 closed, assigned to nobody

[2021-04-29 11:59] Mariusthvdb opened #17642 "group.all_lights still mentioned"
### Feedback

Current text under https://www.home-assistant.io/integrations/light/#default-turn-on-values still references the no longer existing `group.all_lights`

[code]

maybe it would be better changed in to:
[code]

### URL

https://www.home-assistant.io/integrations/light/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-29 12:05] frenck commented on #17642
This is actually correct, this still applies to light profiles. Although not actually used as a group, light profile still use the name to look it up in the csv.

[code]

https://github.com/home-assistant/core/blob/183220008d2ac80567cd15884e22dbc426ff65fa/homeassistant/components/light/__init__.py#L522-L525

[2021-04-29 12:08] JBoye commented on #17204
That is not mentioned anywhere

[2021-04-29 12:13] Mariusthvdb commented on #17642
now this is confusing.... the entity doesn't exist in the states machine,

<img width="1081" alt="Schermafbeelding 2021-04-29 om 14 12 21" src="https://user-images.githubusercontent.com/33354141/116548721-f1f84b80-a8f4-11eb-8b07-a25ce8d44ddf.png">

 but it is used in the backend python? What does it reference in this case? or put differently, where is this group.all_lights created?

[2021-04-29 12:15] frenck commented on #17642
100% agree 💯

That is correct.

It isn't used anywhere, it isn't created, it is nothing but a lookup/reference in the CSV.

[2021-04-29 12:25] Mariusthvdb commented on #17642
ok, ha, final 2 questions in that case:

if I use group.all_lights in the `light_profiles.csv`, it would still work, even though it doesn't exist?

can I also use other groups? I came across this because I wanted to set a default profile to my handmade `group.all_lights_only`, which itself contains other groups:

[code]

and is what I was referring to in my opening remark by handmade `your_group_o

[2021-04-29 16:07] #16675 closed, assigned to nobody

[2021-04-29 17:31] #16676 closed, assigned to fabaff

[2021-04-29 21:17] frenck commented on #17642
Correct :)

Yes :)

[2021-04-29 21:23] frenck commented on #17642
I'm keeping it open for a moment if you don't mind? :)

I think I can be either clearer in docs or... just nuke it from codebase 😄  (read: improve).

[2021-04-29 22:11] Mariusthvdb commented on #17642
Sure, improve would be my choice;-)

[2021-04-30 10:53] provinzio opened #17647 "Humidifier Documentation: Automation example uses wrong keyword"
### Feedback

Automation example for `Service humidifier.set_mode` uses legacy keyword `preset_mode` when it should be `mode`.

### URL

https://www.home-assistant.io/integrations/humidifier/

### Version

2021.4.6

### Additional information

_No response_

[2021-04-30 11:30] frenck commented on #17647
Well spotted @provinzio 👀 👍

[2021-04-30 14:12] afb12345 opened #17650 "Integration speedtestdotnet setup fails at ignore-servers list"
### Feedback

My setup: Intel NUC + Ubuntu server + Docker + HomeAssistant (not supervised) version 2021.3.4 (all up to date)

Setting up integration Speedtest.net fails everytime, both
- through Integrations panel
- manual setup at configuration.yaml

Logging as follows:

![afbeelding](https://user-images.githubusercontent.com/62421730/116706660-21c75200-a9ce-11eb-8102-156a38f10877.png)

Turns ou

[2021-04-30 16:07] #16693 closed, assigned to nobody

[2021-05-01 09:41] mkanet opened #17656 "Litter-Robot integration - Missing Waste Drawer sensor entity attributes"
### Feedback

[Litter-Robot](https://www.home-assistant.io/integrations/litterrobot/) documentation shows that the "WASTE DRAWER SENSOR ENTITY" should have the following attributes:

- cycle_count
- cycle_capacity
- cycles_after_drawer_full

However, when using a brand new Litter-Robot Connect, I can't find these attributes:
![Screenshot 05-01-2021 at 02 10 21 AM](https://user-images.githubusercon

[2021-05-01 10:33] rostislav-palivoda opened #17657 "modbus integration verify_state validation failed"
### Feedback

https://www.home-assistant.io/integrations/modbus#configuring-platform-switch - Switch has verify_state, if I put in config this parameter then I have error Invalid config for [modbus]: [verify_state] is an invalid option for [modbus]. Check: modbus->modbus->14->switches->3->verify_state. (See ?, line ?).    Latest version of HA. Probably caused by https://github.com/home-assistant/c

[2021-05-01 11:07] rostislav-palivoda opened #17658 "Breaking change PR46591"
### Feedback

I did not found how after https://github.com/home-assistant/core/pull/46591 to split modbus configuration in to packages.

https://www.home-assistant.io/docs/configuration/packages/
https://www.home-assistant.io/integrations/modbus

For example I have set of similar devices. Each has its configuration in package. After PR46591 each modbus sensor or switch had to have connection defin

[2021-05-01 11:27] frenck commented on #17658
Modbus has changed to a different configuration format. This was documented and noted in the release notes. Integration configuration can be split across packages but on a different level.

For example:

[code]

Or, if you want to split even more:

[code]

This is not a bug, but a different method of configuration, which basically applies to all configurations on the integration level.

[2021-05-01 11:40] janiversen commented on #17658
@frenck thanks, you explained it better than I was able to.

This method of configuration is a step on the road to use config_flow, which are planned around end of the year.

[2021-05-01 11:43] janiversen commented on #17658
The pymodbus entries in your log, is probably because you have enabled debug, I do not see these on my production system, but from time to time on my development system.

Pymodbus tries to tell that the receive buffer is not empty, which happens when a modbus message is sent as multiple packages, which are legal and causes no problem.

[2021-05-01 12:09] rostislav-palivoda commented on #17658
Then as I understand split by package is not possible any more. I mean each package includes everything necessary for the device to work -  sensor or switch, values post processing by template and required automations for this device.
To reduce RS485 traffic I make single request per device - "custom" format for sensors. Then all values are post processed with "template".

Here are my log levels:

[2021-05-01 12:16] frenck commented on #17658
It is, just works different as before.

[2021-05-01 12:31] rostislav-palivoda commented on #17658
Then I something does not understand, can you guide me (and other users) how to structure configuration for packages?

I see only this way:

[code]
How foo.yaml can contain modbus sensors, switches, templates and automations?

Then for new device copy-paste one file and change all configuration in one place.  This is the purpose of the packages?

[2021-05-01 13:02] frenck commented on #17658
It cannot. Packages do not solve the fact that integrations should only have a single occurrence. If you need support on how to use split configurations, please use on of our support channels (E.g., Discord & the Community forums). 👍

[2021-05-01 13:11] rostislav-palivoda commented on #17658
Thanks

[2021-05-01 13:11] #17658 closed, assigned to nobody

[2021-05-01 16:29] rostislav-palivoda commented on #17657
[code]

[2021-05-01 16:37] klakro opened #17659 "hass reports an error"
### Feedback

I used this documentation:
CREATE THE VIRTUAL ENVIRONMENT
First we will create a directory for the installation of Home Assistant Core and change the owner to the homeassistant account.
All steps are passed until tis command "hass"
(homeassistant1) homeassistant1@raspberrypi:/srv/homeassistant1 $ hass
Unable to find configuration. Creating default one in /home/homeassistant1/.homeass

[2021-05-01 17:04] janiversen commented on #17657
yes it is a known issue with 2021.4.6 please upgrade to 2021.5

[2021-05-01 17:11] rostislav-palivoda commented on #17657
Is there any open PR ? ...or a patch I can apply to go with 4.6 version?

[2021-05-01 17:22] rostislav-palivoda commented on #17657
I'm on Hass OS and it does not offer any updates.  2021.5 is in Beta stage now?

For my environment I really don't like idea of moving to Beta version and pulling other other untested changes. Rollback is a pain because configs already rewritten to new format. Just to enable  modbus Switch, is there a patch available? Any open PR for this?

Switch is critical functionality for me.

## System Healt

[2021-05-01 18:44] janiversen commented on #17657
There are no patch for this in here, since there are nothing to change in the documentation.

Problems with the code are raised in https://github.com/home-assistant/core/issues, but I can already now tell you, that you
have 2 choices for a fast solution:
a) install beta with all the pain it contains.
b) use your backup of the functioning config and downgrade.

Between 2021.3 and 2021.5 are many pa

[2021-05-02 00:28] rostislav-palivoda commented on #17657
For now I modified /switch.py line 253 with setting self._verify_state = True. This allows to bypass validation problem and keep verify _state set. Waiting for next stable release.

Here is my problematic config example that causes this error:
[code]
If  input_type: coil then it works.

Now it does not look like documentation fix. :)

What I miss in documentation page and see similar questions on

[2021-05-02 01:17] micarex opened #17661 "Query on Lau script for Netio device"
### Feedback

Hi.  I'm trying to get the sample Lua script from the [Netio integration page](https://www.home-assistant.io/integrations/netio/) going with my NETIO device and I haven't had any success.

Specifically I'm struggling to understand this line.

local path = '/api/netio/<host>'

I have made a few assumption which I'm hoping are correct but maybe this is where I'm going wrong.
Assumption

[2021-05-02 06:19] janiversen commented on #17657
Well this is open source so feel free to submit a patch with a struct example.

All integrations can be passed with templates, which is why that is documented in templates and not in every integration.

Can we agree that this issue is solved, so please close it.

[2021-05-02 08:01] #17657 closed, assigned to nobody

[2021-05-02 08:56] lein1013 opened #17663 "used by 100% of the active installations not possible due to opt in"
### Feedback

Hi, I think the wording must be updated to give the true statistics here - If user can opt-in, there are always users who do not opt-in. Hence the 100% is related to the active installation where the user has opt-in for analytics.
The number of active installations could maybe estimated by server metrics when the user does an update

Proposal:
change to "used by 100% of the active in

[2021-05-02 08:59] frenck commented on #17663
We actually don't have that number.

Considering the amount of instances reporting, it is safe to assume the result will be the same.

Nevertheless, thanks for your feedback! 👍

[2021-05-02 08:59] #17663 closed, assigned to ludeeus

[2021-05-02 16:21] new-kirte opened #17667 "Show_name in badges does not seem to work."
### Feedback

The following code does not work:
 badges:
      - type: state-label
        entity: media_player.samsung_tv_remote
        name: Samsung TV
        show_name: false

Same indicated at https://www.reddit.com/r/homeassistant/comments/jpwlfp/no_way_to_hide_statebadge_label_in_lovelace/.

Would you, please update the documentation?

### URL

https://www.home-assistant.io/lovelace/badges

[2021-05-02 19:36] frenck commented on #17659
Hi there @klakro 👋  Thank you for reaching out. We use this GitHub issue tracker for tracking documentation feedback, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-05-02 19:36] #17659 closed, assigned to nobody

[2021-05-02 20:27] plh4 opened #17671 "Cover attributes wrong?"
### Feedback

Seems like documentation is wrong.

Tried the "Cover", but the attributes move_long_address and move_short_address are not valid?

### URL

https://www.home-assistant.io/integrations/knx/

### Version

2021.4.6

### Additional information

-

[2021-05-02 20:29] frenck commented on #17671
Could you please provide the configuration you have used, that should have worked it didn't?

Thanks @plh4!

[2021-05-02 21:01] #16732 closed, assigned to bdraco

[2021-05-02 21:04] plh4 commented on #17671
Sorry.. it seems to be another problem.

I had a typing error.

Seems to be another problem..

[2021-05-02 21:04] #17671 closed, assigned to nobody

[2021-05-02 22:02] #16638 closed, assigned to nobody

[2021-05-03 00:17] #16738 closed, assigned to nobody

[2021-05-03 09:12] #17647 closed, assigned to frenck

[2021-05-03 09:32] maxwroc opened #17673 "The default_config documentation misses info about webhooks"
### Feedback

I have spent few hours trying to figure out why webhook doesn't trigger my automation. There was nothing in the logs and nothing in the documentation.

It turned out that I have `mobile_app` integration disabled which implicitly enables webhooks. The mobile_app integration is part of the default_config so it is not a problem for most of the people. The default_config docmentation doe

[2021-05-03 10:40] frenck commented on #16830
With our default setup, log pruning should not be needed. Journald, by default, will adjust if the amount of diskspace becomes problematic.

[2021-05-03 11:15] d4v3br4y opened #17674 "Broken link"
### Feedback

This link doesn't work  "Open Home Automation web site"
https://www.open-homeautomation.com/2016/08/24/monitor-co2-levels-in-your-house/

### URL

https://www.home-assistant.io/integrations/mhz19/

### Version

2021.4.6

### Additional information

_No response_

[2021-05-03 11:42] scstraus commented on #16830
Is there a reason journald isn't used for supervised installs? It seems to just spam all the logs- docker logs, syslog, user log.. I mean, I already have a homeassistant log, why do they have to go to so many places?

[2021-05-03 12:03] VdR1960 opened #17675 "Strange implementation of a discrete low pass filter?"
### Feedback

By the nature of HA I would think all sensor data is sampled. Skipping the math, a discrete low pass filter for sampled data is usually implemented as:

y[k]=a × y[k−1] + (1−a) × x[k], with a = e^(−ωT), where ω is the corner frequency in rad/s and T is the sample interval in s.

It looks like the HA implementation can be used with the following transformation:

time_constant = 1 / (1

[2021-05-03 12:08] dgomes commented on #17675
What are you addressing/trying to achieve with this issue ?

BTW: Not all home assistant sensors are sampled at a constant frequency.

[2021-05-03 12:25] frenck commented on #16830
On Supervised installations, this is out of scope for the project, as we don't control the operating system.

[2021-05-03 14:27] VdR1960 commented on #17675
The documentation is vague. The true meaning of time_constant in this context is unclear. That makes it difficult to make good use of this filter. I just wanted to be helpful improving that because a working filter can be very helpful for many automation tasks.I'm am aware that not all values are sampled at a constant rate. Definening a true low pass filter for such a situation is a bigger challen

[2021-05-03 17:03] dgomes commented on #17675
Well in that case you can propose a change directly to the documentation. Contributions are welcomed :)

[2021-05-03 17:41] spoolr opened #17679 "Tasmota Integration"
### Feedback

I'm having some issues with Tasmota Integration, mainly my devices become "Unavailable" after a few days of uptime.  I recognize this isn't the place for that, however, while trying to track down why this is, I've noticed Tasmota and Home Assistant say different things regarding a custom fulltopic (which I have)

Tasmota docs regarding Home Assistant Integration says:

Home Assistant

[2021-05-03 17:58] emontnemery commented on #17679
The wording in the Tasmota docs is very strict, and the reason is to not encourage configuring the `fulltopic` as it's very easy to get it wrong, but if the devices are discovered and can be controlled the configuration is sane.

Reversing the order of `%prefix%` and `%topic%` should be perfectly fine.

I'd suggest to:
- Open a PR (if that's how it works) to adjust the Tasmota docs to explain why

[2021-05-03 17:58] #17679 closed, assigned to emontnemery

[2021-05-03 18:10] rschuiling opened #17680 "Explain how to install Miiocli"
### Feedback

In the paragraph about 'Retrieving room numbers', the miiocli tool is mentioned. It is unclear how to find, obtain or install this miiocli tool. My suggestion is to explicitly mention this in the docs.

A Discord user mentioned it should not be installed on Home Assistant OS. But to use a separate machine running Python. Then follow the instructions on the offical python-mio website:

[2021-05-03 20:28] rytilahti commented on #17680
If you access the shell in homeassistant os and the (xiaomi miio) integration is installed, miiocli should be available there. It is not an optimal as it requires installing the shell add-on, so I suppose that is why it's not recommended.

Feel free to create a PR to change the documentation though!

[2021-05-03 22:42] scstraus commented on #16830
But it's either supervisor or core that's directing the logs to all those places isn't it? What about a feature at least to be able to tell it which places it should output logs to? I'd turn them all off except the home assistant logfile.

[2021-05-03 23:01] #16606 closed, assigned to nobody

[2021-05-04 01:54] #16696 closed, assigned to nobody

[2021-05-04 02:59] purcell-lab opened #17683 "KP115 missing power monitoring in first list"
### Feedback

https://www.home-assistant.io/integrations/tplink#:~:text=KP105-,KP115,-STRIP%20(MULTI-PLUG

KP115 should include standard text about power monitoring.

### URL

https://www.home-assistant.io/integrations/tplink/

### Version

2021.4.6

### Additional information

_No response_

[2021-05-04 07:41] rschuiling commented on #17680
The miiocli command does not seem to be available for me. Please check out the screenshot. The integration has been installed but miiocli is not available.
![image](https://user-images.githubusercontent.com/27766675/116973455-dc9c6c00-acbc-11eb-87ea-f5cd6e3edab5.png)

[2021-05-04 09:45] helgek opened #17685 "Additional endpoint examples"
### Feedback

Hi,

I finally found solution to change e.g. picture presets. Please see my last comment at:

https://community.home-assistant.io/t/lg-webos-change-picture-setting-mode-with-scripts/262915

Could these commands also be performed with the current integration of webostv? I'm not a developer so this the reason why I'm asking this potentially stupid sounding question. If it's possible I

[2021-05-04 10:54] TheDK opened #17686 "Z-Wave names and locations seem to be propagated to HA?"
### Feedback

Documentation says names and locations are only visible in HA if stored on device:
https://www.home-assistant.io/integrations/zwave_js/#i-renamed-my-devices-in-z-wave-js-2-mqtt-but-those-names-are-not-visible-in-home-assistant

Interestingly this seems to be working for me for all devices I have. Now, might be all my devices (mainly Fibaro wired switches / dimmer / roller shutter) st

[2021-05-04 11:01] #16749 closed, assigned to nobody

[2021-05-04 12:19] chentadot opened #17687 "Missing information"
### Feedback

I am missing a part usually found in integration documentation called "CONFIGURATION VARIABLES" with all the fields one can configure.

For instance, manual mode is mentiones in the page but not how to set it up.
Found in a community thread that to proper configuration is
`speedtestdotnet:
  manual: true`

In my humble opinion all options and examples should be found in the official

[2021-05-04 12:23] frenck commented on #17687
This integration can only be set up via the UI. All integrations connecting to a device or service, will all be migrated to the UI (in time) and the YAML configurations for setting them up will be removed.

In case an integration exposes UI configuration, the YAML configuration becomes deprecated and should not be used.

Thus there is no information missing in this case.

[2021-05-04 12:23] #17687 closed, assigned to rohankapoorcom

[2021-05-04 12:52] chentadot commented on #17687
Such a quick response.
Understood the logic.
Thank you.

[2021-05-04 14:01] #16759 closed, assigned to frenck

[2021-05-04 15:13] frenck commented on #17148
Actually the documentation states:

![image](https://user-images.githubusercontent.com/195327/117026368-05902180-acfc-11eb-876e-3bb3a9835842.png)

https://www.home-assistant.io/docs/locked_out/#to-reset-a-users-password-via-console

[2021-05-04 15:13] #17148 closed, assigned to nobody

[2021-05-04 15:24] #16850 closed, assigned to nobody

[2021-05-04 16:04] frenck commented on #17686
Thanks for reporting this @TheDK 👍

I've opened up a PR to adjust the documentation

[2021-05-04 16:16] rytilahti commented on #17683
Feel free to modify the documentation (there is an edit button at the bottom of the page) to account for this.

[2021-05-04 17:24] #16765 closed, assigned to nobody

[2021-05-04 17:28] #17674 closed, assigned to frenck

[2021-05-04 20:03] VanadiumJade opened #17693 "Mqtt discovery - Climate example doesn't work"
### Feedback

Hi,

Climate mqtt discovery example doesn't work.
I have managed to get it to create one entity "mode" but current and target temp entities are not created and device is not created.

Unless I'm misinterpreting the documentation. I'm sending config example expecting entities and device to be created.

Thanks in advance.

### URL

https://www.home-assistant.io/docs/mqtt/discovery/

##

[2021-05-04 20:36] helgek commented on #17685
follow-up information on ongoing implementations here:
https://github.com/merdok/homebridge-webos-tv/issues/371
https://github.com/klattimer/LGWebOSRemote

[2021-05-04 20:51] bendavid commented on #17685
There are a number of caveats to this:

1) These commands are intended to be used for calibration and not for general control.  If start_calibration is called without calling end_calibration, you can leave the image in a weird state (not sure if/when it resets itself)

2) Because the tv keeps track of presets separately for SDR, HDR10+HLG, and Dolby Vision, you can only change the preset for the c

[2021-05-04 20:57] helgek commented on #17685
Thank you for your remarks! I understand both points you raise. Especially I now better understand why for instance different presets are shown when I select my FireTV. It seems though that cinema, game, expert1, expert2 are available at least in SDR and Dolby Vision (FireTV) it seems.

[2021-05-04 20:59] bendavid commented on #17685
The presets are also tracked separately per HDMI input , and also for smart tv apps (but all the smart tv apps share the same preset)

[2021-05-04 21:00] helgek commented on #17685
wow, you have really deep knowledge! Thanks!

[2021-05-04 23:30] dmwyatt opened #17695 "Universal Media Player configuration variable types"
### Feedback

The data types are incorrect for `commands`, and `attributes`.  I started to fix it, but something came up and I've got to head out and I'm sure I'll forget about it...so here's a reminder for someone.

### URL

https://www.home-assistant.io/integrations/universal/

### Version

2021.4.6

### Additional information

_No response_

[2021-05-05 02:31] 50Pesos opened #17696 "Stopped communicating"
### Feedback

I had the Tesla app running great for weeks and the it had to be reset every 2 minutes. I logged out and tried to log back in and it is not letting me back in. When it kept failing it said failed attempt talpa?

### URL

https://www.home-assistant.io/integrations/tesla/

### Version

2021.4.6

### Additional information

_No response_

[2021-05-05 06:05] frenck commented on #17696
Hi there @50Pesos 👋

It seems like you wanted to report an issue with an integration of Home Assistant, however, you have submitted documentation feedback instead. There is no amount of documentation I can adjust to fix a bug in an integration, therefore, I suggest you raise an issue on the issue tracker:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

[2021-05-05 06:05] #17696 closed, assigned to nobody

[2021-05-05 11:01] #16703 closed, assigned to nobody

[2021-05-05 12:22] #17686 closed, assigned to frenck

[2021-05-05 13:23] Cylindric commented on #17148
Why did you close the issue though?  I was referring to the command line help text, not the website documentation. The CLI commands explicitly put quotes around things that don't expect them. Just because the docs are correct, doesn't mean the CLI docs shouldn't be fixed...

[2021-05-05 15:31] alandtse commented on #17696
This is also already patched too. No need to file  a new issue.

[2021-05-05 15:49] 50Pesos commented on #17696
I apologize if it made it to the wrong destination but that is where the
help link sent me. I would like to disagree that the problem has been
patched, otherwise it would be happening right now and I wouldn't be
sending an email about the difficulties.

On Wed, May 5, 2021 at 10:32 AM Alan Tse ***@***.***> wrote:

[2021-05-05 15:58] alandtse commented on #17696
It's in dev and waiting for the next release. If you search for this you'll find it was reported 2 weeks ago. If you open a new issue, it will be closed.

[2021-05-05 16:00] 50Pesos commented on #17696
included is the screenshot from trying reintegrate the application. I know
that my username and password works correctly

On Wed, May 5, 2021 at 10:49 AM Eric Martinez ***@***.***> wrote:

[2021-05-06 05:54] baronKanon opened #17707 "MotionEye documentation needs more detail"
### Feedback

Hi
There is little explanation on how to integrate MotionEye. I cannot find any explanation to how to integrate the Home Assistant Addon, and the (local) IP address to the Home Assistant instance is not sufficient. Can you please provide some explanation to this?

### URL

https://www.home-assistant.io/integrations/motioneye/

### Version

2021.5.0

### Additional information

_No re

[2021-05-06 05:56] provinzio opened #17708 "AVM FRITZ!Box Tools not available in HA"
### Feedback

I can't find the AVM FRITZ!Box Tools integration in home assistant UI. The quick add button in the documentation does not work for me.

I run HA on a raspberry with following versions
- core-2021.4.5
- supervisor-2021.04.3

### URL

https://www.home-assistant.io/integrations/fritz/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-06 07:28] kongo09 opened #17713 "Documentation unclear with respect to username configuration"
### Feedback

The config flow in the UI asks for a username during configuration. The fritzbox however doesn't necessarily make use of a username. The documentation should explain what to do in this case:

![image](https://user-images.githubusercontent.com/640121/117258408-3cc21800-ae4d-11eb-9c92-e20f0f6e75c4.png)

![image](https://user-images.githubusercontent.com/640121/117258540-5ebb9a80-ae4d-1

[2021-05-06 07:43] AaronDavidSchneider commented on #17713
The default username is `admin`

[2021-05-06 07:46] frenck commented on #17707
The add-on is a third-party application and thus how it should be used is not a concern for the Home Assistant documentation.

[2021-05-06 07:46] #17707 closed, assigned to nobody

[2021-05-06 07:56] wobeco opened #17714 "Configuration failed"
### Feedback

the described configuration with 'My button' as well the 'Manual configuration steps' failed on a installation of Home Assistant 2021.3.4 with well accessible SMA converter 'Sunny Tripower 6.0' (german)
Any ideas? Thx

### URL

https://www.home-assistant.io/integrations/sma/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-06 08:02] rklomp commented on #17714
Please upgrade to 2021.5.0 to have the GUI config supported

[2021-05-06 08:04] kellerza commented on #17714
Indeed, please update to the latest version as there are some significant changes and the docs refer to these...

[2021-05-06 08:04] #17714 closed, assigned to kellerza

[2021-05-06 08:08] frenck commented on #17708
Please upgrade to Home Assistant 2021.5, which added it to the UI.

[2021-05-06 08:08] #17708 closed, assigned to nobody

[2021-05-06 08:11] kongo09 commented on #17713
The default username doesn't work.

[2021-05-06 08:19] kongo09 commented on #17713
Ok, I figured it out. The fritzbox automatically creates a random username for the admin user as a security measure:

![image](https://user-images.githubusercontent.com/640121/117267464-94b14c80-ae56-11eb-902d-cc47614f1cb5.png)

I'm happy to create a PR for the documentation to reflect this.

[2021-05-06 08:32] kongo09 commented on #17713
This comes down to a change in FRITZ!OS 7.24 as documented here:
https://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/Recommendations%20for%20user%20guidance%20for%20logging%20into%20a%20FRITZBox_v1.1_EN.pdf

[2021-05-06 08:33] AaronDavidSchneider commented on #17713
Thanks for the clarification. Feel free to open up the PR for the documentation.

[2021-05-06 08:55] kongo09 commented on #17713
Reading the documentation by AVM it would actually be more user friendly to autodiscover the admin username. This can be done by calling the URL: http://fritz.box/login_sid.lua?version=2

I'll open a feature request for this.

[2021-05-06 09:18] d3wy opened #17717 "Scan_Interval"
### Feedback

Scan_Interval can't be set from UI, and attempting to set it in configuration.yaml comes up with a list of errors relating to the integration not being correctly configred. Clearer instructions for setting scan_interval from UI are required.

### URL

https://www.home-assistant.io/integrations/google_travel_time/

### Version

2021.5.0

### Additional information

https://www.home-as

[2021-05-06 09:29] gabriele-latino opened #17718 "Support for wifi smart air sensor"
### Feedback

Hi, I'm trying to configure a tuya wifi smart air sensor but the I think the integration doesn't support this item; do you have a chance to add it, please?
Please ask me if you need further info about this device.
Thanks a lot

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-06 09:35] kongo09 commented on #17713
I just had to find out that I cannot open a FR on github so I added the necessary info for autodiscovery to bug https://github.com/home-assistant/core/issues/47102

[2021-05-06 09:42] frenck commented on #17718
Thank you for reaching out @gabriele-latino 👋
We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks!

[2021-05-06 09:42] #17718 closed, assigned to nobody

[2021-05-06 09:42] frenck commented on #17717
You can't set the scan interval for Google Travel Time, thus it isn't documented either.

[2021-05-06 09:42] #17717 closed, assigned to nobody

[2021-05-06 10:33] bourliam opened #17719 "Mutesync integration Host parameter"
### Feedback

Hi ! I was trying to set up the mutesync integration but it was asking for a "host" parameter and I have no clue what it is or where i can find it.

Would be nice to talk about it in the documentation !

Thanks for the awesome work !

### URL

https://www.home-assistant.io/integrations/mutesync/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-06 11:28] wobeco commented on #17714
thx for quick response

done - but: the installation dialoge 'Set up SMA Solar' fails with 'connection failed'-error even the right information (proven at the web-access to the SMA-converter) have been entered, which are IP-adress (xxx.xxx.xxx.xxx), group (installer), password (...)
could the fault be due to the different GUI-languages of the SMA-converter (US vs. german)?
any idea?

[2021-05-06 12:55] frenck commented on #17719
The IP address or hostname that runs the MuteSync application you want to connect to.

[2021-05-06 12:55] vjmaz opened #17724 "how do i add !secret to SSH or samba or ftp it states invalid yaml"
### Feedback

how do i add !secret to SSH or samba or ftp it states invalid yaml
someone show a sample please

### URL

https://www.home-assistant.io/more-info/pwned-passwords/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-06 12:57] frenck commented on #17724
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-05-06 12:57] #17724 closed, assigned to nobody

[2021-05-06 13:13] yelkenli1 opened #17725 "Control panel clarification for JS server, and behavior when leaving supervised check box, and associations"
### Feedback

The paragraph "Running the Z-Wave JS Server" indicates there is a control panel for Z-wave JS, but my understanding is that is only via zwaveJS2mqtt.  Or, it should be clarified exactly what the control panel is (e.g. does not include the ability to make associations and update firmware)

This could be rewritten as

or

The second point is the [inability to stop the JS add-on](https:

[2021-05-06 13:17] frenck commented on #17725
This is incorrect.

![image](https://user-images.githubusercontent.com/195327/117304317-e6b99880-ae7d-11eb-8f6f-eb8dd6f7b62a.png)

![image](https://user-images.githubusercontent.com/195327/117304335-eae5b600-ae7d-11eb-8b8e-49504c62778d.png)

Futhermore, each device exposes a control panel as well:

![image](https://user-images.githubusercontent.com/195327/117304369-f76a0e80-ae7d-11eb-97f7-92e4e6cd

[2021-05-06 13:17] #17725 closed, assigned to nobody

[2021-05-06 17:11] mct370770 opened #17728 "This Integration is currently broken"
### Feedback

I am using this configuration.yaml (only the wirelesstag parts are shown)
homeassistant:
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.1.0/24
#        - 192.168.1.248
#      trusted_users:
#      - 192.168.1.248: 89d3c53eec8f4ae993535dfe3e98e6e7
#      allow_bypass_login: true

wirelesstag:
 username: x@y.z
 passwor

[2021-05-06 17:25] yelkenli1 commented on #17725
Thanks @frenck
I can put in a request for new features: one is the ability to stop Z-wave JS add-on in HA.  The other is to be able to set direct associations.  Is the community forum the [HA community forum](https://community.home-assistant.io/), tag with z-wave?

[2021-05-06 18:10] vanegmont opened #17729 "Feature Request"
### Feedback

I'm not sure if this is possible with the Tuya API, but are their plans, or is it possible to add the ability to read the power usage from their devices with this capability?

Thanks for your time and effort!

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-06 20:01] #16777 closed, assigned to nobody

[2021-05-06 20:47] ollo69 commented on #17729
Unfortunately the Tuya API used by HA (that are dedicated but not maintained anymore by Tuya) do not provide this information.

[2021-05-06 20:58] rschuiling commented on #17680
Should I create a separate bug report for this?

[2021-05-06 21:12] kongo09 commented on #17713
Reading-up on this a bit more, I now feel the username shouldn't be a required input field in the first place. The integration uses https://github.com/kbr/fritzconnection to manage connectivity with the FRITZ!Box. If I understand the [_reset_user function](https://github.com/kbr/fritzconnection/blob/b61c3b36819f7e5a82b1dfd0a97989b52007db19/fritzconnection/core/fritzconnection.py#L210) correctly, t

[2021-05-06 22:19] rytilahti commented on #17680
Oh, yes, so this ssh addon is running in a separate container that does not have access to the main system... But yes, I think it'd make sense to document this somewhere, but I'm not sure where. In the documentation of the shell addon?

After asking about this on the discord chat, your options would be to install python-miio outside the homeassistant and use the commands (recommended way), or use

[2021-05-06 22:23] AriaGen opened #17730 "Missing information"
### Feedback

Hi,

Not really an issue per say, more a FYI. Followed the guide to create my own Alexa Skill to incorporate, found that it was missing vital information, after several days of messing around, I found that the skill will only link once I was running my instance on port 443, it wouldn't even work with port forwarding enabled on my router.

I don't know if this would be the same for ev

[2021-05-07 00:03] zolstarym opened #17731 "ecobee integration page should have links to climate integration page"
### Feedback

For a user with an ecobee thermostat who installs the integration and then looks at the ecobee integration page for info on service calls, there should be a link to the climate page (https://www.home-assistant.io/integrations/climate/), since that has service calls listed in it that control ecobee thermostats that might otherwise be unknown to the user, since it might not be obvious

[2021-05-07 01:52] nmsousa76 commented on #17707
Couple of things.

1 - Yes 3rd party app, but it would make sense to add some documentation on how to easily integrate with the Motioneye Addon (installed locally on HASS).  Like that we should enable the web interface on the addon.  I am a power user this this took me a bit to figure out.

2- Does the integration support motion detection, or do we still manually need to configure webhooks to make

[2021-05-07 02:02] dermotduffy commented on #17707
@nmsousa76 I'm the author of the integration. I think it's reasonable to include documentation on the integration page to help users of the addon to configure the integration correctly. @frenck Does that sound okay to you, or is there somewhere more appropriate for such documentation to live?

@nmsousa76 The motionEye integration in Core today is just stage 1 of moving the functionality from the c

[2021-05-07 04:41] rod-fw opened #17733 "unique id not being settable, yet disabling config on the entity"
### Feedback

I cant imagine why anyone thought this was a good idea - surely on connections that dont provide an entity_id you should be able to set a manual one :/

this happened on camera mjpeg streams.

### URL

https://www.home-assistant.io/faq/unique_id/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-07 08:10] beajohnstone opened #17737 "customize entity"
### Feedback

Would it be possible to add customize_integration: as an option to select entities to add customizations to?

I am looking for a way to select entities created by DeConz so I can add additional attributes not currently created by that integration.  I would also want to use the feature with other integrations as I expand my Home Assistant configuration.

Thank you for a superb project

[2021-05-07 09:41] circa1665 opened #17739 "Panasonic Viera example WoL turn_on_action does not specify that "wake_on_lan:" needs to be added to configuration.yaml"
### Feedback

This example is provided in documentation:

[code]

However this causes an error and does not work unless:

`wake_on_lan:`

is added to configuration.yaml. This should be made explicit in the documentation.

### URL

https://www.home-assistant.io/integrations/panasonic_viera/

### Version

2021.5.0

### Additional information

_No response_

[2021-05-07 11:41] frenck commented on #17737
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-05-07 11:41] #17737 closed, assigned to nobody

[2021-05-07 12:02] frenck commented on #17729
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-05-07 12:02] #17729 closed, assigned to nobody

[2021-05-07 13:12] #16775 closed, assigned to dmulcahey, balloob

[2021-05-07 18:18] natekspencer commented on #17656
Hello, @mkanet!

Those attributes were removed as the Litter-Robot API is inconsistent with those values (they suddenly change +/-10 when the drawer level is reported as "full"). As such, it actually seemed to create more confusion than not. Hopefully they resolve it and it can be added back later. The attributes will probably be their own entities (per guidance from the Home Assistant team) in th

[2021-05-07 18:38] mkanet commented on #17656
@natekspencer thank you so much for taking the time to answer my questions!  I'm curious, is there a way for me to set up a custom On/Off switch toggle **(`vacuum.turn_on`, `vacuum.turn_off`, respectively)** in Home Assistant?  Below, is my best attempt to do this.  Do you mind checking to see if I did it correctly below?

Ultimately, I would like to create a real power on/power off switch entity.

[2021-05-07 22:11] mkanet commented on #17656
@natekspencer I'm truly sorry to bother you again.  Today I started getting a `NotImplemented` exception every time I execute `script.reset_litter_robot_waste_drawer`.  My script used to work perfectly before.  I'm not sure what changed.  Can you please tell me what I'm doing wrong?  I had to use the official Litter-Robot app to reset the waste drawer level to 0.  I'd really appreciate your help.

[2021-05-07 22:56] natekspencer commented on #17656
@mkanet, see https://github.com/home-assistant/core/issues/50219#issuecomment-834619200 for the changes from commands to services

[2021-05-07 23:02] natekspencer commented on #17656
You're just missing a `value_template` section. I think this would work:
[code]

[2021-05-07 23:44] Stormblade opened #17746 "Broadlink FastCon issue with multiple devices"
### Feedback

If you try to connect multiple devices to HA (issue seen with SP4L-UK) only one of the devices will work at a time.
This is due to the devices talking to each other via Broadlinks "FastCon" subnetwork.

Please add a comment about this to the documentation to warn/help users considering buying these devices.

Instructions for making the devices work properly with HA can be found [here

[2021-05-08 08:24] mkanet commented on #17656
Thank you very much @natekspencer.  I updated my empty waste drawer script.  BTW:  Do you know how I can display **vacuum.litter_robot_litter_box:** _(**attribute `status`**)_  below, so it lines up with the rest of the items in the card below?  The text is off to the right.  Is it supposed to be like that?

![Screenshot 05-08-2021 at 01 20 49 AM](https://user-images.githubusercontent.com/811008/1

[2021-05-08 14:01] #16797 closed, assigned to zxdavb

[2021-05-08 14:32] philipmjones opened #17751 "How to test for condition of an input_boolean"
### Feedback

Please can you provide further clarification or an example of how to use a condition which tests the state of a boolean input.

The documentation is very clear about numerical inputs and how to test for values above and/or below certain thresholds. However there is no guidance on how to test whether a boolean is on or off.

I guess it may be done using a State condition, but what are

[2021-05-08 16:04] #16654 closed, assigned to nobody

[2021-05-08 19:07] ckroth14 opened #17755 "API issue"
### Feedback

I found that the "Etekcity 7 Amp US outlet - ESW01-USA (Round)" has an error that pops up at the bottom of HA. Not all outlets will do this and I have 7.  I am in no way capable of fixing the issue in HA but I do know that the devices that dont throw the error are running Firmware version 1.1.27 and the ones that are throwing the error are running 2.125. There doesn't seam to be any

[2021-05-08 22:01] #16818 closed, assigned to nobody

[2021-05-08 22:56] frenck commented on #17755
Hi there, @ckroth14 👋

It seems like you want to report a bug with an Home Assistant integration, however, you've submitted documentation feedback. There is no amount of documentation that I can adjust to fix a bug in Home Assistant 😓

In case of an issue with an Home Assistant integration, please raise an issue here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

[2021-05-08 22:56] #17755 closed, assigned to nobody

[2021-05-08 23:09] frenck commented on #17719
Considering your PR, it seems you have figured out what it entails. Therefore closing the issue on this end.

[2021-05-08 23:09] #17719 closed, assigned to nobody

[2021-05-08 23:33] #16928 closed, assigned to nobody

[2021-05-08 23:38] frenck commented on #17751
For any entity, any integration, check the current values:

![image](https://user-images.githubusercontent.com/195327/117556235-fba55000-b066-11eb-9df9-bd8ec7d4f37d.png)

Check your own states:
[![Open your Home Assistant instance and show your state developer tools.](https://my.home-assistant.io/badges/developer_states.svg)](https://my.home-assistant.io/redirect/developer_states/)

This does not

[2021-05-08 23:38] #17751 closed, assigned to nobody

[2021-05-09 08:54] frenck commented on #17728
Hi there @mct370770 👋

It seems like you are trying to report an issue with an Home Assistant integration, however, you have submitted documentation feedback. There is no amount of documentation I can adjust to bugfix an integration. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks!

../Frenck 🚂

[2021-05-09 08:54] #17728 closed, assigned to nobody

[2021-05-09 10:01] #16824 closed, assigned to nobody

[2021-05-09 10:29] steeveno opened #17760 "Identifying namespace"
### Feedback

I tried the approach described in the article to identify the namespaces:

But I could not find anything related under Supervisor > System after startup (Core/Host/Supervisor).
As second approach, I also set the logger in configuration.yaml for homeassistant.loader to INFO, but I could not find anything in Settings > Logs after restart either.

[code]

### URL

https://www.home-assis

[2021-05-09 17:20] brantlk opened #17763 "TTS page should mention cloud_say"
### Feedback

It's not obvious from this page (or any documentation that comes up on a google search) that tts.cloud_say is also available. Might want to have a section about how to set up cloud_say. It was available on my HA deployment and I don't think I had to do anything. Consider switching the examples from google_translate_say to cloud_say. Consider moving the google_translate setup to a sec

[2021-05-09 19:16] frenck commented on #17739
Opened up a PR to mention it. Thanks, @circa1665 👍

[2021-05-09 19:24] frenck commented on #17713
The documentation has been adjusted, thus this issue can be closed.

[2021-05-09 19:24] #17713 closed, assigned to nobody

[2021-05-09 19:34] frenck commented on #17730
I don't want to be a douchebag, but it is the first line in the requirements actually:

![image](https://user-images.githubusercontent.com/195327/117584637-62ca0f80-b10e-11eb-91e7-a3c733aec6ab.png)

[2021-05-09 19:34] #17730 closed, assigned to nobody

[2021-05-09 20:06] AriaGen commented on #17730
Nope, that's fair. Please accept my apologies, I missed that somehow... 

    On Sunday, 9 May 2021, 20:35:09 BST, Franck Nijhof ***@***.***> wrote:

I don't want to be a douchebag, but it is the first line in the requirements actually:

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-09 20:28] steeveno opened #17765 "Model YLDP001 1SE color mostly working"
### Feedback

I am using the model mentioned above. It basically works, it just gets unavailable approx every 3 months.

### URL

https://www.home-assistant.io/integrations/yeelight/

### Version

2021.5.1

### Additional information

_No response_

[2021-05-09 21:42] brantlk opened #17766 "Multiple entity IDs not clear"
### Feedback

Doesn't this only apply to the state trigger? If so it should be in the State Trigger section.
Also, it's not clear what happens when there's multiple entities. If I have:

[code]

Does this fire when any sensor turns to 'on', or only if all 3 are on?

### URL

https://www.home-assistant.io/docs/automation/trigger/

### Version

2021.5.1

### Additional information

_No response_

[2021-05-09 21:45] brantlk commented on #17766
Also, what if I use

[code]

Does it fire if all 3 are on for 1 minute or if any are on for 1 minute?

[2021-05-09 22:35] AlphaEagle opened #17767 "zipped files without reference to expected 'state'"
### Feedback

the files provided re .xz and need to be unzipped. This is not mentioned. The 'unzipped' of the VDI is still a tar file, and it is unclear whether this is correct (i.e. ready for mounting) or not.

### URL

https://www.home-assistant.io/installation/windows/

### Version

2021.5.1

### Additional information

_No response_

[2021-05-09 22:51] frenck commented on #17313
Hi there @Mr-Grover 👋

It seems like you have a feature request. Please use the Home Assistant community forums for those. This is for documentation feedback, and there is no amount of documentation I can just to make happen what you described in this issue.

Thanks!

../Frenck

[2021-05-09 22:51] #17313 closed, assigned to nobody

[2021-05-09 22:53] frenck commented on #17196
One is totals, the other is the current rate of data going through... hence "throughput".

Closing this, as I'm going to assume this is caused by a small language barrier.

../Frenck

[2021-05-09 22:53] #17196 closed, assigned to nobody

[2021-05-10 07:02] i-C-o-d-e-r commented on #17196
Thanks for the explaination. I think I got it now. :-)

While I admit that my confusion can be caused by the language barrier, still network_in and network_out should have been named total_network_in and total_network_out then. As this would be an annoying breaking change, the documentation should be more clear about this.

Anyway, thank you very much!

[2021-05-10 13:18] kstewart-lab opened #17773 "Implies that command can be sent to microft, not just a notification"
### Feedback

<quote>
message: "Hey Mycroft. Turn on the office light. "
</quote>

The microft integration can only have mycroft speak the message, not execute a command.

### URL

https://www.home-assistant.io/integrations/mycroft/

### Version

2021.5.1

### Additional information

_No response_

[2021-05-10 14:39] #17739 closed, assigned to frenck

[2021-05-10 16:47] Roberto6969 commented on #17510
Any news regarding v3 integration will be appreciated!

[2021-05-10 20:07] scstraus opened #17781 "Adding considerations for which camera platform could be right for which use case"
### Feedback

Based on encouragement from @uvjustin [here](https://community.home-assistant.io/t/i-tried-all-the-camera-platforms-so-you-dont-have-to/222999/175?u=scstraus), I'm going to try to summarize some of the things from my [I tried all the camera platforms so you don't have to](https://community.home-assistant.io/t/i-tried-all-the-camera-platforms-so-you-dont-have-to) thread to provide a s

[2021-05-10 20:19] MaxVonEvil opened #17782 "Missing information re. host in MuteSync integration."
### Feedback

The instructions do not reference that you are prompted for a hostname. It is not clear which host this is. Presuming it's the computer where the mutesync software is installed. Also, if there's a port which needs to be opened in the local firewall that would be useful info too.

### URL

https://www.home-assistant.io/integrations/mutesync/

### Version

2021.4.6

### Additional info

[2021-05-11 02:49] natekspencer commented on #17656
@mkanet that I don't know about. I've never been too worried about the left/right alignment of the entities and statuses.

[2021-05-11 03:11] mkanet commented on #17656
No worries.  Anyway, thank you so much for all your help!

[2021-05-11 03:11] #17656 closed, assigned to nobody

[2021-05-11 03:53] 1920x1200 opened #17788 "Documentation not clear"
### Feedback

I've followed the documentation but its not clear what you are supposed to do with the two sets of code. It would be nice if the code was all together and in the correct order so I could know how to make it work without errors about the formatting.

### URL

https://www.home-assistant.io/integrations/min_max/

### Version

2021.5.2

### Additional information

_No response_

[2021-05-11 07:58] uvjustin commented on #17781
What specific things do you need confirmed? Bandwidth estimates can be found from a quick google search.
I think keeping it simple is good. The high/medium/low thing makes sense. Maybe something like:
[code]

[2021-05-11 09:31] TTDARK opened #17791 "Restart required after adding Ceiling15 via integrations page"
### Feedback

After having trouble to make the newly installed Jiaoyue 480 HomeKit version work with HA (https://github.com/home-assistant/core/issues/50397). It "magically" appeared today after updating to 2021.5.2 and works fine just like every other Yeelight I own.

I think that it was the restart after updating that made the light entity discoverable/controllable. Maybe this procedure should b

[2021-05-11 12:51] girlpunk opened #17794 "Azure Devops PAT Token Details"
### Feedback

Page should include details of what permissions are requied for the access token

### URL

https://www.home-assistant.io/integrations/azure_devops/

### Version

2021.5.2

### Additional information

_No response_

[2021-05-11 13:15] CRL1008 opened #17795 "Home Assistant Core install instructions for Mac are not specific to Mac OS"
### Feedback

The Home Assistant Core installation instructions for Mac OS are not specific to Mac.

### URL

https://www.home-assistant.io/installation/macos/

### Version

2021.5.2

### Additional information

_No response_

[2021-05-11 13:23] scstraus commented on #17781
These are the things I wanted confirmed:

For bandwidth, I agree you can find it with a google search, but to actually do a calculation, you'd need to know what's getting converted to what at what settings. That is not information that's currently available for each camera platform. So maybe that's a good place to start.

Your table is a good start. One question I would have is what it means to ha

[2021-05-11 13:58] WeterPeter opened #17796 "THis seems not to work anymore? 2021.1.5"
### Feedback

I am trying to add the Integration but I get a blank page with: 404: Not Found

HA version: 2021.1.5

### URL

https://www.home-assistant.io/integrations/lyric/

### Version

2021.5.2

### Additional information

_No response_

[2021-05-11 15:49] uvjustin commented on #17781
I'm only familiar with the stream component and the generic component so I can't speak definitively on the others without digging in to the code. Maybe someone else can help out with those.
I'm not sure a complete taxonomy of all camera platforms makes sense, since several of the camera platforms are just hardware specific ones. However, I do think it would make sense to clarify the distinction be

[2021-05-11 16:58] ChrisRomp opened #17797 "REST sensor pages missing scan_interval parameter info"
### Feedback

The REST component pages all show a `scan_interval` parameter in their examples, but fail to document it in the parameters list.

1. [RESTful](https://www.home-assistant.io/integrations/rest)
2. [RESTful Binary Sensor](https://www.home-assistant.io/integrations/binary_sensor.rest)
3. [RESTful Sensor](https://www.home-assistant.io/integrations/sensor.rest)

I'm checking the code to co

[2021-05-11 17:46] ChrisRomp commented on #17797
Looking at the source for core and some testing, it looks like the default value for `scan_interval` is 15 seconds for the REST component, and 30 seconds for the sensor and binary sensor components.  If this isn't correct I can fix it in the docs.

[2021-05-11 17:46] rytilahti commented on #17765
Are you sure it is an issue in the integration and not in the device? What does it say in the logs when this happens? Without logs we cannot do really anything, not even deduce if the issue could be caused by homeassistant and not the device itself...

[2021-05-11 17:47] frenck commented on #17797
`scan_interval` is a generic platform option, not specific to the rest platforms. It is documented here: <https://www.home-assistant.io/docs/configuration/platform_options#scan-interval>

[2021-05-11 17:47] #17797 closed, assigned to nobody

[2021-05-11 17:50] ChrisRomp commented on #17797
But where would a user find the default values for these components, other than looking at the source?

[2021-05-11 19:00] steeveno commented on #17765
Hi, unfortunately, the logs say absolutely nothing. At the device it just says "not available" and it is greyed out... I found some other posts related to this problem with Yeelight, and some proposed to add it via HomeKit, but it seems that mine do not support an integration via HomeKit. I now deactivated the sharing via LAN (or how it is called) in the Yeelight app, turned of the electricity, ac

[2021-05-11 19:54] frenck commented on #17781
✅  <https://www.home-assistant.io/integrations/#camera>

[2021-05-11 19:56] frenck commented on #17781
IMHO this does not belong on our website or on an overview page within Home Assistant. Overview pages are nice, but never cover all use cases and content; and more often are hard to read/impossible to view on mobile. Besides, we provide integration that match the device used and should therefore provide the best experience with your device.

If that isn't the case, a report should be filed.

A lot

[2021-05-11 21:07] scstraus commented on #17781
To be honest, that was kind of the response I was expecting which is why I didn't attempt the documentation route in the first place and just went with a forum post.

I think in general you are right, if you've got a camera platform that matches a brand and works perfectly, that would be ideal.

Real life isn't so simple unfortunately. In reality with my hikvision cameras, I have about 6-8 options

[2021-05-11 22:56] frenck commented on #17781
I see what you want to achieve, but let's say we now start talking about weather platforms, or motion sensors... heck light bulbs...

Why camera's and not those others?

It is great you did research and thanks for sharing that, but I don't see how that would fit in the docs for now and the future in a maintainable and more universal way.

[2021-05-11 23:01] #16877 closed, assigned to nobody

[2021-05-12 00:32] tdigu opened #17803 "Setup a service for HA core"
### Feedback

I get that this is for advanced users and many would probably look up or otherwise know how to do this.
However for the core install section it would be more useful to also have instructions on setting up HA core as a service to start automatically. Running the script it only runs as long as you have the ssh session open and at that prompt.

### URL

https://www.home-assistant.io/ins

[2021-05-12 08:32] frenck commented on #17803
There are many permutations on how this should be done and can be done in many different ways as well. In the past, we ended up with many variants for different versions, distributions and/or init managers. Therefore, we have decided not to provide those, as we assume this is not a problem for the target audience of this installation method.

Nevertheless, thanks for the feedback 👍

[2021-05-12 08:32] #17803 closed, assigned to nobody

[2021-05-12 09:00] kraaidelft opened #17807 "To what does it connect?"
### Feedback

Does it connect to my own device or to a webservice somewhere (like Tado)?

### URL

https://www.home-assistant.io/integrations/hunterdouglas_powerview/

### Version

2021.5.3

### Additional information

_No response_

[2021-05-12 09:01] frenck commented on #17807
From the documentation page: "Its IoT class is Local Polling"

Thus it uses a local connection.

[2021-05-12 09:01] #17807 closed, assigned to bdraco

[2021-05-12 21:15] kukacwap opened #17813 "HomeKit sprinkler support"
### Feedback

Hey,

im new to HA, and glad to see this integration available. As I use HomeKit as my main interface for the integration can this be shown as a sprinkler? Right now it tells it is a regular switch.

thanks

### URL

https://www.home-assistant.io/integrations/rainbird/

### Version

2021.5.3

### Additional information

_No response_

[2021-05-12 22:01] frenck commented on #17813
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-05-12 22:01] #17813 closed, assigned to nobody

[2021-05-13 03:45] jatgm1 opened #17816 "Openhardwaremonitor not working"
### Feedback

Openhardwaremonitor does not work when included in configuration yaml.

### URL

https://www.home-assistant.io/integrations/openhardwaremonitor/

### Version

2021.5.3

### Additional information

_No response_

[2021-05-13 08:38] orandaadnaro opened #17817 "Ive just added this elsewhere on HA Community:"
### Feedback

Ive just added this elsewhere on HA Community:
https://community.home-assistant.io/t/uk-envionment-agency-near-realtime-rainfall-monitor/307641

Please let me know if merging with your integration could/would be possible

### URL

https://www.home-assistant.io/integrations/eafm/

### Version

2021.5.3

### Additional information

_No response_

[2021-05-13 08:56] scstraus commented on #17781
My short answer to that question would be "you don't need additional information to make a weather, motion, or light bulb platform work." With those platforms you can largely just choose the one that matches your brand and standards. With cameras you often can't make it work without this information due to the fact there are too many choices that work for your specific device, and it's known only

[2021-05-13 09:08] frenck commented on #17781
I do not agree with that statement. I can hook up my ikea blubs to Home Assistant via:

The tradfri integration
The Hue integration
Via the deconz integration
Or use ZHA as the integration
Or use zigbee2mqtt with the mqtt integration.

Blubs are no different. All come with different pros and cons and make your bulb behave differently. For example, hue is polling.

Wat actually would work better on

[2021-05-13 09:42] frenck commented on #17817
Hi there @orandaadnaro 👋

I'm not sure about your suggestion or question here? You've left documentation feedback on the eafm integration, but I think your message isn't related to that?

What is it you think that should be adjusted to that page?

../Frenck 🚂

[2021-05-13 10:03] purcell-lab commented on #17683
Updated on document link.

[2021-05-13 10:03] #17683 closed, assigned to rytilahti

[2021-05-13 10:09] InscapeM opened #17818 "log purging"
### Feedback

Could you please provide concise information on how to clean up the logs as it is growing at an incredible rate.
I would this most people would find this handy rather than having a time bomb to system failure.

Thanks heaps

### URL

https://www.home-assistant.io/integrations/logger/

### Version

2021.5.3

### Additional information

I have looked everywhere, found a lot of confusio

[2021-05-13 10:12] frenck commented on #17818
Why is the log "growing at an incredible rate"? That sounds bad, is there something flooding your logs?

[2021-05-13 10:16] frenck commented on #17816
Hi there @jatgm1!

It seems like you want to report a bug with an integration, instead, you have provided documentation feedback. There is no amount of documentation that I can adjust to get an integration fixed.

Please report your issue here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-05-13 10:16] #17816 closed, assigned to nobody

[2021-05-13 10:28] InscapeM commented on #17818
Thanks mate for the amazingly fast response... I would not be surprised if
there are all sorts of issues as I am trying to learn this and I am finding
more issues that wins... are you able to provide any info on how to manage
these logs before it just clogs up and stops working? I have been looking
around and people are just throwing around one liners of code and i can not
find what to do with it.