[2022-01-24 16:59] bachya commented on #20958
Fixed via https://github.com/home-assistant/core/pull/64213.

[2022-01-24 17:00] #20958 closed, assigned to bachya

[2022-01-24 20:10] PulsarFX opened #21315 "Torque now has support for bearer token"
### Feedback

The documentation describes how to set up the integration with password via GET.
This is now obsolete, as torque provides a field to define a bearer token, when HTTPS is used.
From https://torque-bhp.com/forums/?wpforumaction=viewtopic&t=3.0
[code]

Furthermore, this field can be any string, it doesn't have to be a valid email address: https://www.home-assistant.io/integrations/torqu

[2022-01-24 21:28] hubikj opened #21316 "Mismatch of "target" description and the example given"
### Feedback

Page mentions

in the description of `target`, but these email addresses are nowhere in the examples given on the page.

### URL

https://www.home-assistant.io/integrations/smtp/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-24 21:34] wreuvers opened #21317 "GPSD Platform does not work due to lack of "sudo" in HassOS"
### Feedback

Hi

The instructions on how to get the GPSD Platform working, by installing with the command
$ sudo systemctl status gpsdctl@ttyUSB0.service
fails due to the key issue that sudo is not available in Hassio

Thanks
Wayne

### URL

https://www.home-assistant.io/integrations/gpsd/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-24 21:37] frenck commented on #21317
Well its not the fact "sudo" is missing, but more on  how the platform works.

This integration would only be available on setups running that are running the Home Assistant Core installation type. Other installation types (like Home Assistant Container, Home Assistant OS and Home Assistant Supervised), this integration won't be usable.

The page need to be adjusted to make that clear.

[2022-01-25 00:34] wreuvers commented on #21317
Hi Frenk

Is it because I am running Home Assistant on a Rasberry Pi4+? How can I access the GPS dongle to be able to use this HA as my yacht assistant?

Thanks
Wayne

[2022-01-25 02:34] stmoose commented on #21302
SOLVED

poked around at this tonight
discovered that zone.home was Amsterdam (still dont know why, but that is besides the point) updated the coordinates to my coordinates for zone.home and created a zone.home for Anchorage AK and now have earthquakes showing in AK

[2022-01-25 02:56] exxamalte commented on #21302
Great to hear.
A suggestion for next time you have trouble with an integration: In general you have a better chance of people helping in the [Home Assistant community forum](https://community.home-assistant.io/). Here on GitHub I guess you were just in luck that I am the registered code owner of this component and got notified, but this may not always be the case.

[2022-01-25 06:04] rainyvalley opened #21321 "API Depreciated: Workaround Found"
### Feedback

Due to the deprecation of the API that this integration was scraped from, the current workaround is currently suggested.

1: Create a Smart Things (Samsung) account and download the app on your IOS/ Android device
2: Download and install the Aladdin Connect app
3: Go into the Aladdin Connect app and select the drop down menu, before selecting "connect to smart home".
4: Select Smart

[2022-01-25 06:49] Kane610 commented on #20814
FYI support for outlets have been merged https://github.com/home-assistant/core/pull/64859

If you have the possibility I'd appreciate it if you could try out dev or the beta to flush out any issues

[2022-01-25 08:00] frenck commented on #21317
The Rapsberry Pi is not really the deciding factor. The Home Assistant installation method used is the deciding factor (as I wrote above).

[2022-01-25 10:05] #20356 closed, assigned to rytilahti

[2022-01-25 11:13] stevehurcombe opened #21324 "...but why"
### Feedback

I couldn't work out why I'd want to do this, so it would be good to link to the original (and may be more) blog entries.

I know I could Google this, but the easier you make adoption then the more users you get. Especially for newbies browsing...

### URL

https://www.home-assistant.io/integrations/cast/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-25 11:13] stevehurcombe commented on #21324
I did find this eventually:
https://www.home-assistant.io/blog/2019/07/09/home-assistant-cast-preview/

[2022-01-25 11:22] frenck commented on #21324
Yeah, but uh... what is the feedback? What is missing? Which part/functionality are you looking for that you could not find?

Having feedback is great, but some context would help.

Thanks 👍

[2022-01-25 12:03] stevehurcombe commented on #21324
Some introduction text explaining what it is intended to do. With a link to a blog too ideally. If you're lucky you might be able to link to a query for blog entries with a Cast tag, but we're not often that lucky.

I was thinking "Having a media player in Home Assistant doesn't make any sense. It's a dashboard of my smart things, why is Google Cast there?".

It's not functionality, it's "marketin

[2022-01-25 12:06] frenck commented on #21324
It that case I'm still not sure what you are trying to say. 🤷

It allows you to control and integrate Google Cast capable devices into Home Assistant.

[2022-01-25 12:14] stevehurcombe commented on #21324
I can think of no good reason why I'd want to do that. Lights, switches, sensors, but Google cast? Make no sense. I nearly deleted it because it seemed useless, just something the code found.

However I perservered, the blog says this:

"It will work with any Cast enabled device, and if available, will allow the user to use the touch screen to interact with the interface. The interface is built wi

[2022-01-25 12:17] frenck commented on #21324
That is a personal opinion. The cast integration is actually used by 40%+ of our user base, which makes it one of the most used integrations out there.

Most use cases are actually as a plain media player (for example, to send TTS messages to).

[2022-01-25 12:34] stevehurcombe commented on #21324
By that I mean that I haven't discovered what those good reasons are, not that I think there really are no good reasons. Clearly there are otherwise the documentation wouldn't be this good. Which is also why I'm today's PITA - I care.

This is the answer (well one) I'm looking for:

So you are saying they set HA up on a tablet just to play a selection of videos and streams?
I would never have real

[2022-01-25 12:34] #21324 closed, assigned to emontnemery

[2022-01-25 13:09] frenck commented on #21324
Announcements actually mostly. E.g., playing a doorbell sound or letting Google speakers announce the washing machine is ready, time for bed, or other stuff.

Examples on TTS: <https://www.home-assistant.io/integrations/tts/#service-say>

But those are generic media player features, not specific to cast.

[2022-01-25 14:05] wreuvers commented on #21317
Apologies for my ignorance, but I presumed I am running Home Assistant Core - as I see the "Core" panel in the System Menu. I now see that there is a different installation option called Home Assistant Core.

[2022-01-25 14:13] wreuvers commented on #21317
Just to confirm: There is no way to use GPSD when running Home Assistant Operating System?

[2022-01-25 14:40] kerhbal commented on #20814
@Kane610 thanks! yeah I'll try it this week.

[2022-01-25 14:42] eikowagenknecht commented on #20432
Closed by #20884 apparrently.

[2022-01-25 14:42] #20432 closed, assigned to danielperna84, pvizeli

[2022-01-25 15:23] dirksenrdh opened #21327 "documentation not in line with software"
### Feedback

Here:

the documentation refers to a "button" **Create Automation**.
I am running 2021.12.3 and in the indicated page I only have the button **Import Blueprint**
to me this is a bit confusing.
Of course it can be that in 2021.12.10 this is changed...

### URL

https://www.home-assistant.io/docs/automation/using_blueprints/

### Version

2021.12.10

### Additional information

_No res

[2022-01-25 15:34] MiAutomations commented on #20426
The problem persists please keep this issue open thank you

[2022-01-25 15:47] fabaff commented on #21317
Not an easy one. Could probably be solved by a "GPS addon" which acts as an intermediary between `gpsd` and Home Assistant OS.

[2022-01-25 17:26] frenck commented on #21317
You are definitely running the Core itself on your system, however, I was not referring to software, but the type of installation used.

<https://www.home-assistant.io/installation/#compare-installation-methods>

[2022-01-25 21:25] MiRoCZ commented on #20660
Hi, thank you for great TWC integration !
Does it support charging current setting/adjustment ?
I would like to set Automation to adjust charging current based on photovoltaic energy production.
THX.

[2022-01-25 21:48] MickPBduece opened #21330 "Feature request"
### Feedback

Great integration - I'd like to have ability to see multiple locations.  I understand there is a limit to call to the API but would like to see a couple places at same time each day.

### URL

https://www.home-assistant.io/integrations/openuv/

### Version

2021.12.10

### Additional information

Thanks for consideration

[2022-01-25 21:51] richardwonka opened #21331 "QR code generation renders blank file, invisible in dark mode"
### Feedback

creating my first tag, i wanted to generate a QR code and tapped the button- which disappeared against the dark background of my interface.

After a few attempts I guessed there might be an invisible image where the button was and behold, it was so. 😄

Below are screenshots of the process and the generated png

I’m running the default dark theme. (I don’t even know how to use themes)

[2022-01-25 21:51] frenck commented on #21330
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-01-25 21:51] #21330 closed, assigned to bachya

[2022-01-25 22:44] jmporter34 opened #21333 "Is there any interest in supporting Ring Alarm and/or its sensors ?"
### Feedback

This is actually a question rather than a comment on the documentation, which says clearly which Ring devices are supported.  But I didn't know where else to ask whether there's any interest in the Ring Alarm and its sensors.
BTW I've got 30 years of embedded C/C++, but so far I'm only using HA, not developing for it.  I'm willing to pitch in if somebody could show me where to start

[2022-01-26 03:46] bdraco commented on #19882
Please see my comment here :

https://github.com/home-assistant/core/issues/54722#issuecomment-1021832847

[2022-01-26 03:46] #19882 closed, assigned to bdraco

[2022-01-26 03:46] #20871 closed, assigned to bdraco

[2022-01-26 08:53] misse opened #21340 "Elgato Light Transition not working"
### Feedback

When calling light.on with transition set, the elgato light will instantly change settings to match the desired state, so the transition is always less than 1 second, ignoring the set transition

### URL

https://www.home-assistant.io/integrations/elgato/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-26 08:55] frenck commented on #21340
That is correct, Elgato lights do not support transitioning. They have a configurable global parameter for it (but not exposed in their app settings), but they don't support passing it in when turning on or off the light.

[2022-01-26 08:55] #21340 closed, assigned to frenck

[2022-01-26 09:27] frenck commented on #21333
Hi there @jmporter34 👋

Thank you for your interest. This is not really a documentation suggestion for the end-user documentation, as you have submitted feedback for that.

That said, all our development documentation can be found here:

<https://developers.home-assistant.io/>

Specifically how to get started with setting up a development environment: <https://developers.home-assistant.io/docs/dev

[2022-01-26 09:27] #21333 closed, assigned to balloob

[2022-01-26 16:14] allenporter commented on #21082
Hi @atroya can you elaborate on the problem you see here when having a hyphen in the project name? I just tried it and was able to create a project.

[2022-01-26 16:36] berkavil opened #21346 "Thanks devs for this integration!"
### Feedback

Thanks devs for this Integration !
I can confirm it also works with Klarstein split A/C

### URL

https://www.home-assistant.io/integrations/gree/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-26 16:38] berkavil commented on #21346
tested here: https://community.home-assistant.io/t/klarstein-air-conditioning-integration-please/305838

[2022-01-26 17:49] cmroche commented on #21346
I'll update the docs this weekend, thanks for the info.

[2022-01-26 20:56] dannytsang commented on #21327
@dirksenrdh I believe the documentation is correct. Each automation type blueprint has a "Create Automation" in the 4th column highlighted in orange below. Can you check and confirm you are able to see the same?

![image](https://user-images.githubusercontent.com/567982/151245566-b9b7f984-b264-4e6c-9938-1c26653a72d5.png)

[2022-01-26 22:09] dannytsang commented on #20670
@mrand A little bit late but [this](https://www.home-assistant.io/lovelace/area/) was added on December 22.

[2022-01-27 00:15] atroya commented on #21082
@allenporter Maybe it was a fluke. I just created a new project with a dash in the name and it assigned an ID. You can disregard. Thanks for the follow-up!

[2022-01-27 00:15] #21082 closed, assigned to allenporter

[2022-01-27 01:22] #20376 closed, assigned to nobody

[2022-01-27 09:00] #20381 closed, assigned to nobody

[2022-01-27 10:04] frenck commented on #20670
Ah right, this can be closed. Thanks @dannytsang 👍

[2022-01-27 10:04] #20670 closed, assigned to nobody

[2022-01-27 11:25] dirksenrdh commented on #21327
@dannytsang you are absolutely right. I am sorry for my remark. I just looked in the wrong place.
regards

[2022-01-27 12:06] nightmare1111 commented on #20651
all started working again December 2021

[2022-01-27 16:05] #19393 closed, assigned to nobody

[2022-01-27 17:33] nlpmartins opened #21361 "Efergy API Key"
### Feedback

Get API key from engage. efergy.com - tokens. Try to insert Efergy API Key, but receive the following info: Failed to connect. No Log is visible related with this issue

### URL

https://www.home-assistant.io/integrations/efergy/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-27 17:33] marcus-sonestedt opened #21362 "Yale Doorman L3 works, even if listed as "known not to work""
### Feedback

Just tested it?   I have the wifi bridge.

Device info
IRCN190916
by August Home Inc.
Firmware: 3.2.1-3.3.0-2.0.8

### URL

https://www.home-assistant.io/integrations/august/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-27 18:16] MissedLegend opened #21363 "Can't install"
### Feedback

Followed every Single Step to Install the "Home Assistant Operating System". SD Carf only got one tiny 32mb Partition. If the PI startet, i get the same Error Code every time. Tried 3 SD Cards. Adding a partition and the OS won't even start right

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2021.12.10

### Additional information

ERROR (SyncWorker_1

[2022-01-27 18:18] MissedLegend commented on #21363
well... forgot to enter the Error
ERROR (SyncWorker_1) [supervisor.docker.interface] Can't install ghcr.io/home-assistant/raspberrypi4-64-homeassistant:2021.12.10: 500 Server Error for http+docker://localhost/v1.41/images/create?tag=2021.12.10&fromImage=ghcr.io%2Fhome-assistant%2Fraspberrypi4-64-homeassistant: Internal Server Error ("Get "https://ghcr.io/v2/": net/http: request canceled while wait

[2022-01-27 18:19] tkdrob commented on #21361
Does it fail immediately or does it timeout? If you don't mind, could you please provide the API key for troubleshooting? You can find me on discord if you are not comfortable posting it here.

Another user once had to contact Efergy support about not having their account properly tied to their device. This could be your issue as well.

[2022-01-27 18:56] frenck commented on #21363
This is not an hardware issue, but an network issue.

It is unable to connect to `ghcr.io` (which is the GitHub Container Registry to download Home Assistant).

[2022-01-27 19:52] patman15 commented on #20481
This issue can be closed as a new [integration](https://github.com/danielperna84/custom_homematic) will be soon available which hopefully fixes the mentioned issues anyway.

[2022-01-27 19:52] #20481 closed, assigned to danielperna84, pvizeli

[2022-01-27 21:30] dannytsang commented on #19787
@frenck I think @matteocorti is referring to this:
![image](https://user-images.githubusercontent.com/567982/151446165-bf843ea9-4d1c-4c35-afd9-23db294767ac.png)

The days to show can be set to less than 1 day. To do this, you have to do something like this:
![image](https://user-images.githubusercontent.com/567982/151446638-f2b7f00b-11ab-4eea-addd-7a9167894585.png)

and then delete the leading num

[2022-01-27 21:39] dannytsang commented on #20390
@michalk-k do you know of an alternative site that is not behind a log-in with the same/similar information?

[2022-01-27 21:45] dannytsang commented on #20453
@harry2626 do you have more than one thermostat integration configured and wish to add it to the lovelace dashboard or create a thermostat entity?

[2022-01-28 01:18] bdraco commented on #21362
Its reported here https://github.com/home-assistant/home-assistant.io/issues/19882 and here https://github.com/home-assistant/core/issues/54722#issuecomment-1021832847 as not working

I don't have one myself so I can't validate either way.

[2022-01-28 01:38] thomasd- opened #21367 "Doc mention blocking issues that could be solved by now"
### Feedback

Hello, this documentation page mention this :

According to git blame, this mention is 6 years old, could these issues (which ones ?) be already solved by now ? Is there still any external factor blocking the support of GTFS Realtime ?

Can someone well versed in this topic update this paragraph ?

Thanks

### URL

https://www.home-assistant.io/integrations/gtfs/

### Version

2021.1

[2022-01-28 07:00] #19375 closed, assigned to nobody

[2022-01-28 07:03] kalina-p opened #21370 "Problem"
### Feedback

Two heaters controlled by an app.
 1. Relatively new - when you enter it, it has a blue background, simple interface - temperature on, off
 2. Bought much earlier (I enclose the screen)

 In case # 1, the integration works great.  In case 2, when the heater is turned off, it switches it to the antifrost mode (there are 3 modes) and it does not turn it on until the comfort mode is set

[2022-01-28 10:00] #18947 closed, assigned to Danielhiversen

[2022-01-28 10:10] nlpmartins commented on #21361
Hi @tkdrob ,
Thank you for your fast answer. it fails immediately. Here it is an activated token: w0kclAXFz4mRnZ8PAM_psiMkiqEhLoCu
Best regards,
Nuno

[2022-01-28 10:22] marcus-sonestedt commented on #21362
Ok. Let me know if you need any assistance from me to validate/test things either way.

I am a software developer and I have that lock, it works for me in Home Assistant right now, and I am willing to support you with my time if you need me to test/check things out..

[2022-01-28 11:00] #16992 closed, assigned to bramkragten

[2022-01-28 13:22] gshoebridge opened #21372 "Additional printer working on Workforce integration"
### Feedback

Have got this working with Epson Expression XP-235

### URL

https://www.home-assistant.io/integrations/epsonworkforce/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-28 13:23] berkavil opened #21373 "Question - write error?"
### Feedback

Hallo again, sorry for my dumb qiestion, I juste noticed, that since I have added this integration, sometimes the write errors appear in the HA log - the original log in CZ here:
===============
Connection was closed unexpectedly
14:19:09 – (CHYBA) /usr/local/lib/python3.9/site-packages/greeclimate/network.py - zpráva se poprvé objevila v 14:04:09 a zobrazuje se 28 krát
Error doing j

[2022-01-28 13:28] dominikkaniapl opened #21374 "Multiple utility meters configuratin"
### Feedback

Hello,

Is it possible have multpile utility meters instances? Like 1 to measure daily energy for fridge, another to measure daily energy for a TV, etc.?
I was trying to find a way to set it up in HA and it was unsuccessful - every combination ends up with an error message and I have not found any material on how to do it properly.

my example:

"utility_meter:
  daily_energy_serverr

[2022-01-28 13:43] klaasnicolaas commented on #21374
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-01-28 13:43] #21374 closed, assigned to dgomes

[2022-01-28 13:44] klaasnicolaas commented on #21373
Hi there @berkavil 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-01-28 13:44] #21373 closed, assigned to nobody

[2022-01-28 13:47] tkdrob commented on #21361
It looks like there is something wrong with your efergy setup. I am seeing no real-time statistics. I have some tweaks I'm working on but that will not solve your issue. The issue is with your device.

[2022-01-28 14:00] #20199 closed, assigned to fabaff

[2022-01-28 14:32] berkavil commented on #21373
Hallo, OK thank you for the reply, I sent the issue to the HA/core as you wrote, lets see if there is any clue - how to solve it.

BR.

Vilem

From: Klaas Schoute ***@***.***
Sent: Friday, January 28, 2022 2:45 PM
To: home-assistant/home-assistant.io ***@***.***>
Cc: Willy ***@***.***>; Mention ***@***.***>
Subject: Re: [home-assistant/home-assistant.io] Question - write error? (Issue #21373)

Hi

[2022-01-28 16:31] rytilahti commented on #20504
Inserting the IP address of the device to that prompt should work, are you sure it's not working?

[2022-01-28 16:39] bdraco commented on #21362
To validate we are doing everything correctly in `yalexs` I'll need dumps of all the calls to the `remoteoperate` endpoint when using the iOS or android add while the lock is added to Home Assistant along with debug logging turned on in Home Assistant for `pubnub` since I'll need to see what comes down on the `pubnub` channel during each operation.

The app uses certificate pinning so you'll have

[2022-01-28 18:42] gerbenf1 opened #21379 "Date"
### Feedback

hello,

how can i change the date from year month day to  day month year?
or add this option please

### URL

https://www.home-assistant.io/integrations/twentemilieu/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-28 18:44] frenck commented on #21379
All integrations providing dates or dates+time, are using the iso standards. This makes them al the same and predictable.

The frontend of home Assistant will render it based on your settings.

If you want to use is else where, templates can be used to change formats to anything you like.

[2022-01-28 18:44] #21379 closed, assigned to frenck

[2022-01-28 19:40] Angelos59 opened #21380 "I have a Thermador dishwasher and oven and they are not showing up as devices in the integration"
### Feedback

They exist in the Home Connect app. The Home Connect app has four devices a cook top, hood, dishwasher and oven. Only the cook top and hood integrate to HA the other two don't. I am not able to do this on my own so I am looking for help if it is not very difficult.  Thanks.

### URL

https://www.home-assistant.io/integrations/home_connect/

### Version

2021.12.10

### Additional inf

[2022-01-28 19:48] tkdrob commented on #21361
Are you setting up the hub for the first time? Any feedback on our documentation is appreciated.

[2022-01-28 20:36] frenck commented on #21370
Hi there @kalina-p 👋

It seems like you want to report an issue with a Home Assistant integration, however, you have submitted documentation feedback instead.

Please report issues with integrations here:
<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2022-01-28 20:36] #21370 closed, assigned to nobody

[2022-01-28 20:54] elpanda88 opened #21381 "disable jemalloc syntax on docker compose incorrect"
### Feedback

the tips to disable jemalloc it's wrong on thee compose file section. must be written like this:
version: '3'
services:
  homeassistant:
  ...
  environment:
    - DISABLE_JEMALLOC=true

### URL

https://www.home-assistant.io/installation/linux/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-28 21:30] nightmare1111 opened #21382 "disabled entities"
### Feedback

this caught me out i could not get the set a preset automation to work because i was copying the yaml, but if i had used the UI i would have not been able to find select.wled_preset because its a disabled entity by default

### URL

https://www.home-assistant.io/integrations/wled/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-28 21:37] frenck commented on #21382
The preset select entity is not disabled by default.

<https://github.com/home-assistant/core/blob/956ceb6c684ae16334395a6fc6e5488ea75313fa/homeassistant/components/wled/select.py#L74-L102>

[2022-01-28 21:37] #21382 closed, assigned to frenck

[2022-01-28 23:31] Qoheleth opened #21385 "How does one create a button entity?"
### Feedback

While the Button page explains important things like state, services, etc., there is no explanation of how to actually create a button entity.

### URL

https://www.home-assistant.io/integrations/button/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-29 01:57] Angelos59 commented on #21380
I am sorry for the confusion but I did find my issue. The integration works
for all my devices. We had the home appliances in two different user
accounts. No reason to do anything.

Thank you.

On Fri, Jan 28, 2022 at 2:40 PM probot-home-assistant[bot] <
***@***.***> wrote:

--
Angelos Spetseris
508 769 7093

[2022-01-29 02:49] #21380 closed, assigned to nobody

[2022-01-29 02:54] klaasnicolaas commented on #21385
At the moment it is only possible for integrations to create button entities. With the next release it is possible to create a button helper.

[2022-01-29 09:36] michal-bartak commented on #20390
Hello,
I don't know how originally  linked diagram looked like. So hard to say what is expected. Google search returns lot of them.

[2022-01-29 16:04] bimbar commented on #20963
Hi,

I wrote the integration.

the Easyfire itself is not IP / telnet capable. It has a RS485 serial console that can be used to connect a serial to telnet converter, then you can use telnet to access it, for example like this one: https://www.amazon.de/usr-tcp232-410S-RS485-seriell-Ethernet-Konverter-Unterst%C3%BCtzung/dp/B07C1TC165/ref=sr_1_5?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1I02F

[2022-01-29 16:47] sblessley opened #21389 "Documentation out of date?"
### Feedback

Under "actions" HA presents a potential list of targets, but not the opportunity to enter a free-form entity name "entity_id: all". Also, "blueprint" is an new option when an automation is added. This is not reflected in the documentation.

### URL

https://www.home-assistant.io/getting-started/automation/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-29 21:11] terren272 opened #21395 "Why does it not show HI and LOW temp for TODAY? only shows forecast hi and lows"
### Feedback

New user to hassio on pi 3B
Why does this card not show HI and LOW temp for TODAY?
It only shows forecast hi and lows which is not helpful for TODAY.
The example shows this, but not the card that I created on my hassio dashboard.
 I need the hi and low for TODAY please.  thanks!  how?
can't attach a photo here, so ?

### URL

https://www.home-assistant.io/lovelace/weather-forecast/

[2022-01-29 21:53] AddMoreLimes commented on #20203
@Xiondewah I've attempted to add some steps to the documentation that I found in the comment that @borpin linked. You _must_ have SSL set up on Home Assistant, otherwise the integration will not trigger appropriately when you add the data to your configuration.yaml file. There's no error message in the GUI to tell you that this is the problem.

The steps will appear under "Notifications" telling y

[2022-01-30 00:21] jon-bondy opened #21398 "remove addon"
### Feedback

How does one remove an addon that one no longer needs?

### URL

https://www.home-assistant.io/addons/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-30 00:55] jimmyz5150 commented on #20517
Still haven't heard any response

[2022-01-30 11:15] XinoGitHub commented on #21265
New firmware is available to ALL

[2022-01-30 13:56] reivilob commented on #20963
I am now able to retrieve all the necessary informations i need from my Easyfire:
I use modbus TCP directly, without any dongle ...
Modbus TCP should just be activated on the KWB, and the KWB restarted completelly !
I published my yaml here:
https://github.com/reivilob/HA-KWB-Easyfire
and just add in your configuration.yaml:
modbus: !include kwb.yaml

[2022-01-30 16:06] knwpsk opened #21402 ""Check Configuration" no longer available in Config > Server Control"
### Feedback

This page could be improved
https://www.home-assistant.io/docs/configuration/

It tells me I can/should test my config changes using command line, and points to the OS/Supervised/Container/Core pages. Those pages give me a very basic idea how to access the command line... but say nothing about how to test my config. More notes here about how to test config (once in command line) woul

[2022-01-30 19:36] barryhaertel commented on #21179
I have the same issue, unknowns or 0 which do not reflect what JHH's website shows
![image](https://user-images.githubusercontent.com/5238672/151714637-adf6d025-e506-4244-ae4f-a7f1816e6f4d.png)

[2022-01-31 00:28] nlpmartins commented on #21361
Hi Robert,

I have this hub for more than 5 years. Can see values in efergy app... Can
you setup the efergy module in HA? What other documentation you need?

Best regards,
Nuno Martins

On Fri, Jan 28, 2022, 19:48 Robert Hillis ***@***.***> wrote:

[2022-01-31 00:52] Lippy2929 opened #21404 "Sense integration not working"
### Feedback

Trying to install Sense energy monitor integration
Username and password are correct but it fails every time.  Tried manually to setup integration and tried the integration with the button. Failed to connect is what I get?????

### URL

https://www.home-assistant.io/integrations/sense/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-31 02:20] tkdrob commented on #21361
There is nothing more I can do. @Data-Monkey is a user of the integration. He may be able to weight in about how to get help from customer support.

[2022-01-31 08:41] mannebk79 opened #21408 "clarification of sin cos tan functionality"
### Feedback

Folks, thanks for the good documentation.

However, I would like to suggest, to amend it.

The way python and therefore HA is using the sin cos tan functions, is not what most folks expect, who would put an angle value into the function and would be terribly upset, as I was, by the result, as the function expects rad instead of the angular value even scientific calculators expect on

[2022-01-31 08:47] frenck commented on #21404
Hi there @Lippy2929 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please report issues with Home Assistant integration here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2022-01-31 08:47] #21404 closed, assigned to nobody

[2022-01-31 10:22] frenck commented on #21389
I agree, this part can use some updates.

This is when in YAML mode, which can still be accessed from the tree-dots menu.

[2022-01-31 10:22] frenck commented on #20511
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-01-31 10:22] #20511 closed, assigned to nobody

[2022-01-31 10:27] frenck commented on #21395
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-01-31 10:27] #21395 closed, assigned to nobody

[2022-01-31 10:30] frenck commented on #20517
Hi there @jimmyz5150 👋

The reason for that, it that this report is in an incorrect issue tracker. This issue tracker is used to track documentation suggestions, however, it seems like you want to report an issue with an Home Assistant integration.

Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-01-31 10:30] #20517 closed, assigned to hunterjm

[2022-01-31 10:40] ChrisMisker opened #21413 "Not able to select profile"
### Feedback

It says "Select the profile you chose while on the Withings site.", but I can't select anything (Safari), so I had to fill in the first and last name to get it to work.

### URL

https://www.home-assistant.io/integrations/withings/

### Version

2021.12.10

### Additional information

_No response_

[2022-01-31 10:40] frenck commented on #21385
As listed on this page:

![image](https://user-images.githubusercontent.com/195327/151779325-e4d78f96-86bb-4587-b177-60a874fcf879.png)

The `button` entities cannot be created manually.

[2022-01-31 10:40] #21385 closed, assigned to nobody

[2022-01-31 10:55] frenck commented on #20506
With the above notes PR merged, and the current documentation:

![image](https://user-images.githubusercontent.com/195327/151781545-c804e9a0-e573-4e93-8f6e-013d539c0b8b.png)

Which tells it will register itself for an API key, I think this has been resolved.

../Frenck

[2022-01-31 10:55] #20506 closed, assigned to nobody

[2022-01-31 11:00] #20438 closed, assigned to nobody

[2022-01-31 11:26] frenck commented on #21398
Basically, the same way as one installs add-ons. Click on the add-on you desire to install (or uninstall), and click the install button (or uninstall button for removal).

The install button becomes an uninstall button once the add-on is installed.

[2022-01-31 11:26] #21398 closed, assigned to nobody

[2022-01-31 12:09] blanchie42 opened #21416 "Daikin requires port 80 to be open as well"
### Feedback

Documentation improvement reqest for the Daikin AC integration, for the "Configuration" section.

I had an issue getting HA to work with my Daikin AC after opening the required autodiscover ports 30000/30050, I also had to open port 80 so:

From Home Assistant to the Daikin controller: TCP:<random port> => 80
From the Daikin controller to Home Assistant: TCP:80 => <random port>

It’s

[2022-01-31 13:32] marcus-sonestedt commented on #21362
I'll get back to you. I'm not feeling 100% after having had covid last week.  Also, I need to set up Android dev-env again as I have new computers. :)    Just letting you know.

[2022-01-31 15:36] bdraco commented on #21362
No worries.  Take your time. Feel better

[2022-01-31 15:54] fredrike commented on #21416
I've not seen any other integrations that mentions required ports. But feel free to update the docs.

[2022-01-31 22:02] ghost commented on #20340
Imagine that you have ring door integration and internet went offline. What then?

[2022-01-31 22:06] ghost commented on #20340
Is it home automation or cloud devices automation?

[2022-01-31 22:49] frenck commented on #20340
Then the ring doorbell is offline, as it is a cloud polling integration:

![image](https://user-images.githubusercontent.com/195327/151885753-7a81f513-2dd0-49ff-94f0-b89c0964b62b.png)

The automation is running locally in Home Assistant, however, if you have a device that can only be communicated to via the cloud, then well, you'll need an active internet connection. If you don't like that, you'd

[2022-02-01 00:52] Data-Monkey commented on #21361
Hi,
you seem to only have a power generated channel, not a consumption one.

if I run these I get some failure on the current consumption for your token.

[code]
this returns almost the same as my token, but you have a newer version.

[code]
here I get a cid:"PWER" while you get PWER_GAC that I think represents generated power, rather than consumed.

[code]
getInstant is looking for the current co

[2022-02-01 11:55] alexbela commented on #21179
Same for Germany:
![grafik](https://user-images.githubusercontent.com/90026867/151964029-467a81e5-22dd-4810-b173-324746888304.png)

Please advise...
Kind regards!

[2022-02-01 12:50] akloeckner opened #21425 "Clarify that `this` does not update during the course of the automation actions"
### Feedback

Currently `this` is described to be "the state object of the automation". This is not entirely true, because it holds the state object as it was "at the moment of triggering" the automation. (See https://github.com/home-assistant/core/pull/65201#issuecomment-1026522659) So, people should not rely on `this` actually holding the current state of the automation.

While I had to think qu

[2022-02-01 14:41] ton10g opened #21426 "Detected integration that called async_timeout.timeout"
### Feedback

Hi, today I got this warning:

Logger: homeassistant.helpers.frame
Source: helpers/frame.py:103
First occurred: 15:04:05 (1 occurrences)
Last logged: 15:04:05
Detected integration that called async_timeout.timeout with loop keyword argument. The loop keyword argument is deprecated and calls will fail after Home Assistant 2022.2. Please report issue for edl21 using this method at home

[2022-02-01 20:36] nchammas opened #21429 "Home page blurb about data staying local is confusing"
### Feedback

On the home page there is [a blurb describing how Home Assistant handles data][1]:

It's confusing because "no data is stored in the cloud" is preceded immediately by "will fallback to pulling data from the cloud". These two statements seem contradictory.

It would be great if this blurb could be reworded to eliminate the confusion. In addition, there should be a "Learn More" link im

[2022-02-01 21:59] mrand commented on #21402
Would you be interested in clicking "edit" at the bottom of that documentation page and making a pull request with proposed changes?

[2022-02-01 22:00] #20461 closed, assigned to nobody

[2022-02-01 22:05] mrand commented on #21372
Would you be interested in clicking "edit" at the bottom of that documentation page and making a pull request with proposed change(s)?

[2022-02-01 22:07] mrand commented on #21315
If this doesn't require any change to the integration itself, would you be interested in clicking "edit" at the bottom of that documentation page and making a pull request with proposed change(s)?

[2022-02-01 22:10] mrand commented on #21302
@stmoose, If you feel there are minor improvements that could be made to the documentation, would you be interested in clicking "edit" at the bottom of that documentation page and making a pull request with proposed changes?
Otherwise, please go ahead and close this issue.

[2022-02-01 22:15] mrand commented on #21202
Howdy, would you be interested in clicking "edit" at the bottom of that documentation page and making a pull request with proposed changes?

[2022-02-01 22:58] knwpsk commented on #21402
@mrand I would be very happy to do that, but am unfamiliar with how to make a pull request and submit changes. Also I don't know how the command line test works, so need help with that part anyway before I could document it.
If you want to educate me, I'm willing.

[2022-02-02 05:23] SickProdigy opened #21432 "Setup Media for Linux Ubuntu/Debian"
### Feedback

So to mount external locations or mounting a different media folder, symlinks seem to work.

ln -s /srv/media ~/.homeassistant

This command worked wonders. I have 20 tb of data in a raided drive and leaving a symlink file named media in the .homeassist folder seemed to link the media browser. Figured that'd be worth adding to the documentation.

### URL

https://www.home-assistant.i

[2022-02-02 08:13] frenck commented on #21432
Thanks for the suggestion! However, I'm going to skip on it.
There are many ways to put folders into place in Linux. Alternatively one could mount a drive directly in place, or even use bind mounts.

The point of the documentation here (for the Home Assistant Core part) is to show what the path is. Beyond that, I don't think it is up to us to provide instructions or a manual on Linux system admini

[2022-02-02 08:13] #21432 closed, assigned to nobody

[2022-02-02 08:15] #21143 closed, assigned to nobody

[2022-02-02 10:25] depuits opened #21433 "telegram bot doesn't send messages containing "_" when using markdown"
### Feedback

This issue is a followup on https://github.com/home-assistant/core/issues/45290. When including a markdown special character in a telegram message the message just is not send. I found lots of other people having issues with this, especially when including entity id's or names containing an underscore. The suggestion in the linked issue is to change the `parse_mode` for the bot but I

[2022-02-02 11:34] robloskamp opened #21434 "SolarEdge integration issue"
### Feedback

When I enter my Site ID and API key an “unknown error occurred” message is displayed.
HAS is running the most recent version (core-2021.12.10) and the side id and api key is working. Tested it via the URL https://monitoringapi.solaredge.com/equipment/<Site Id>/list?api_key=<API Key>

**The core log shows the following errors:**

Logger: aiohttp.server
Source: components/solaredge/con

[2022-02-02 12:00] #20456 closed, assigned to nobody

[2022-02-02 12:21] ojalaj commented on #20565
No one has replied/confirmed yet, so this is still open.

[2022-02-02 17:04] sudogirl opened #21438 "Implementing Device Tracking after phasing out Known_Devices.yaml"
### Feedback

The page explains that the "known_devices.yaml" has been phased out as of late. However, it does not provide an alternative way of implementing devices to be tracked or a link to a related page.

### URL

https://www.home-assistant.io/integrations/device_tracker/

### Version

2021.12.10

### Additional information

_No response_

[2022-02-02 19:00] #20473 closed, assigned to nobody

[2022-02-02 20:00] #20244 closed, assigned to nobody

[2022-02-02 23:37] gdeuss opened #21442 "Flume Integration no longer working when we moved from a PI to a NUC"
### Feedback

When trying to add the Flume integration to the home assistant in now returns "Unknown Error occurred" when trying to link the flume account to home assistant

<img width="838" alt="image" src="https://user-images.githubusercontent.com/95149025/152255827-cc5e570c-41f7-4900-a943-7872ff607272.png">

### URL

https://www.home-assistant.io/integrations/flume/

### Version

2022.2.0

###

[2022-02-03 01:39] cliffjao opened #21444 "Add instructions for turning on XMPP in Harmony Hub"
### Feedback

It took me a while to figure out that I need to turn on XMPP developer option in Harmony Hub to get this working. It'd be good to add that into the docs.

### URL

https://www.home-assistant.io/integrations/harmony/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 03:17] LCMilstein opened #21445 "Can't figure out the sendevent from this documentation"
### Feedback

The yaml snippet for how to use the sendevent is incomplete... When putting that code in a script, there's a malconfiguration error.

At the same time, putting the command itself into a button using the adb_command service call yields no noticeable response from the TV device.

Finally, putting the yaml on this page into the action of an automation and clicking "run action" also yiel

[2022-02-03 03:18] bdraco commented on #21442
This repo is for documentation issues.  Please open an issue here

https://github.com/home-assistant/core/issues/new/choose

Thanks 👍

[2022-02-03 03:18] #21442 closed, assigned to bdraco

[2022-02-03 03:19] bdraco commented on #21442
Also please provide logs in the new issue as we won't be able to help without them.
Thanks

[2022-02-03 04:04] tabbertmj opened #21446 "No files at stated location"
### Feedback

This appears to be outdated info as the files do not exist in either location.

### URL

https://www.home-assistant.io/faq/sdcard_files/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 07:32] ArnoutD opened #21449 "UDM base does not run Unifi Protect"
### Feedback

UniFi protect integration documentatiemateriaal: A UDM base is unable to run UniFi Protect

### URL

https://www.home-assistant.io/integrations/unifiprotect/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 08:43] Oumpa31 opened #21450 "august integration"
### Feedback

August log in no longer works it looks like they force 2 factor login. Wish there was a way to just add it to the HomeKit Controller without an ipad.

### URL

https://www.home-assistant.io/integrations/august/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 10:49] frenck commented on #21450
Hi there @Oumpa31 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please report issues with integrations here: <https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2022-02-03 10:49] #21450 closed, assigned to bdraco

[2022-02-03 11:00] frenck commented on #21446
Just looked at it, the documentation on that page is correct and valid.

[2022-02-03 12:56] Motordom opened #21458 "Display values in GB instead of MB"
### Feedback

It would be great if we could display values for NBN data in GB rather than MB (or have a switch)

### URL

https://www.home-assistant.io/integrations/aussie_broadband/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 13:50] frenck commented on #21458
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-02-03 13:50] #21458 closed, assigned to nobody

[2022-02-03 14:09] chiefmaster81 opened #21460 "Possibility to reconfigure Locations / Example for Card / Full warning message content should be delivered !"
### Feedback

It would be useful to be able to edit/change the Locations after config is finished isntead of having to delete it and newly integrate it.

Also an example Card to have all necessary information would be a great deal, including the full warning message's content !

### URL

https://www.home-assistant.io/integrations/nina/

### Version

2022.2.0

### Additional information

Tried to b

[2022-02-03 14:14] frenck commented on #21460
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-02-03 14:14] #21460 closed, assigned to nobody

[2022-02-03 14:52] maxwroc opened #21461 "Owned repositories available to track by default (like the starred ones currently)"
### Feedback

Currently only the starred repos are on the list. I think it make sense to include, on the list, owned repos too.

I use this integration mainy to track my repos and TBH I don't want to star my own repos just because of this integration.

There should be a way to add repo url manually. What is the point of having a fixed lits (such limit)?

### URL

https://www.home-assistant.io/inte

[2022-02-03 15:56] frenck commented on #21461
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-02-03 15:56] #21461 closed, assigned to ludeeus

[2022-02-03 16:16] bdraco commented on #21449
Fixes would be appreciated.  Here is the link to edit

https://github.com/home-assistant/home-assistant.io/blob/current/source/_integrations/unifiprotect.markdown

Thanks 👍

[2022-02-03 17:00] hansjochensen opened #21463 "Test scenario"
### Feedback

Danke  fuer diesen wichtigen Beitrag.
1) Please provide a list of attributes to the sensor, so I can prepare a readout.
2) An example yaml would be even more welcomed.
3) Is there a way to test and verify  the setup, without waiting for a desaster warning

### URL

https://www.home-assistant.io/integrations/nina/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 17:33] mincaeuro opened #21464 "PID file and Daemon options are gone"
### Feedback

PID and Daemon options are gone:
[code]

### URL

https://www.home-assistant.io/docs/tools/hass/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 17:35] frenck commented on #21464
Yes, what is the documentation feedback? Is it still listed somewhere?

[2022-02-03 17:37] mincaeuro commented on #21464
yes here: https://www.home-assistant.io/docs/tools/hass/
And I need those options for my /etc/init.d/

[2022-02-03 17:44] maxwroc commented on #21461
Created this topic - pasting it for other people who might be interested
https://community.home-assistant.io/t/github-integration-improvements-ha-2020-2/388098

[2022-02-03 18:35] wilfreddijksman commented on #20340
@buczoprazy you can find more information about the differenced IoT classes and there meaning at https://www.home-assistant.io/blog/2016/02/12/classifying-the-internet-of-things/#classifiers

[2022-02-03 18:56] gdeuss commented on #21442
Nick,

The issue was resolved as follows:

When adding the Flume integration I noticed that I had the option to add Flume or another instance of Flume. I did not notice that before. When I selected Flume I either got the error msg I told you after a while or later I got an “Abort” instantly. No idea why the error changed later.
When I selected the “Add another instance” the Flume integration came

[2022-02-03 19:23] KTHconsult opened #21467 "Deprecating rpi gpio - wwwhhhyyyyy :-)"
### Feedback

Is the support seriously being removed for rpi gpio in home assistant?
I get that the usage count might not be high but the impact for us users can be quite high.
A year ago I rebuild the entire heating system I my house using these io ports and home assistant. It works perfect with
switch:
  - platform: rpi_gpio
    ports:…

and

climate LivingRoom:
  - platform: generic_thermostat

[2022-02-03 19:33] frenck commented on #21467
Yes, as per announcement in the release notes.

Alternative routes have been given in the release notes. As for the `rpi_gpio`, there is already a custom integration available in HACS as a replacement.

[2022-02-03 19:33] #21467 closed, assigned to nobody

[2022-02-03 19:57] jonschwenn opened #21468 "20RESC genset_total_energy high"
### Feedback

Thanks for making this integration available. My 6 month old 20kW Kohler generator has only run for 9.7 total hours (weekly tests).

The genset_total_energy is reporting as 2,111,688.5 kWh which seems really high.

### URL

https://www.home-assistant.io/integrations/oncue/

### Version

2022.2.0

### Additional information

_No response_

[2022-02-03 20:00] DeerMaximum commented on #21463
- ATTR_HEADLINE: Headline of the warning
- ATTR_ID: ID of the warning
- ATTR_SENT: Time when the warning was sent
- ATTR_START: Time when the warning became effective
- ATTR_EXPIRES: Time when the warning expires

There is no example yaml

There is no best way, but currently you can simply use the corona warnings with the corona filter turned off.
If that's not enough, just select a few cities and

[2022-02-03 20:21] #21464 closed, assigned to nobody

[2022-02-03 21:33] PulsarFX commented on #21315
Will do so. There are still some issues with the bearer token on the torque side in v.  1.12.32 that need to be fixed first to be of any use for HA.

[2022-02-03 21:52] koldogut opened #21471 "Invalid authentication"
### Feedback

After upgrading to HA ver 2022.2.0 Unifi Protect integration stoped working and reconfiguration keeps saying invalid authentication. I've tried to change once and again the username and password in Unifi but no luck. No logs or further error information is provided.

I'm running HA core as a docker container and Unifi protect in a UDM-Pro

### URL

https://www.home-assistant.io/integ

[2022-02-03 21:54] AngellusMortis commented on #21471
Wrong repo. You want the [core repo](https://github.com/home-assistant/core)

[2022-02-04 03:52] bdraco commented on #21471
https://github.com/home-assistant/core/issues/65591

[2022-02-04 03:52] #21471 closed, assigned to bdraco

[2022-02-04 03:53] bdraco commented on #21468
It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integration here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

[2022-02-04 03:53] #21468 closed, assigned to bdraco

[2022-02-04 04:12] #21449 closed, assigned to bdraco

[2022-02-04 04:13] bdraco commented on #21444
Thanks for the edits

We used to recommend XMPP because we were worried about Logitech changing websockets, but now that Logitech has discoed Harmony and websockets is actually a bit more stable, its probably better to use websockets.

[2022-02-04 04:15] cliffjao commented on #21444
On my setup, websockets never seemed to work. I had to turn on XMPP before I finally got the integration working.

[2022-02-04 04:28] bdraco commented on #21444
Here is the link to edit the docs if you feel up to it

https://github.com/home-assistant/home-assistant.io/blob/current/source/_integrations/harmony.markdown

[2022-02-04 05:20] mclever opened #21475 "Add setup instructions for server"
### Feedback

Add some text on the integration setup screen about the add-on that is needed for the server

### URL

https://www.home-assistant.io/integrations/rtsp_to_webrtc/

### Version

2022.2.1

### Additional information

_No response_

[2022-02-04 05:23] allenporter commented on #21475
My impression is that integrations typically don't explain how to setup add-ons to run the servers they integrate with.  They may work with a standalone server or an add-on.

Am I wrong about that? Is there prior examples of this?

This is what the [community forum post](https://community.home-assistant.io/t/add-on-rtsptoweb-and-rtsptowebrtc/387846) is for that explains how to set up the add-on.

[2022-02-04 08:00] #20496 closed, assigned to nobody

[2022-02-04 08:36] frenck commented on #21475
We can, e.g., link to external resources (e.g., the rtsp server project) documentation.

[2022-02-04 08:40] allenporter commented on #21475
Yeah, ok, that is all linked already and it has setup instructions, though they could always be improved.  Closing.

[2022-02-04 08:40] #21475 closed, assigned to allenporter

[2022-02-04 08:53] frenck commented on #21446
Closing this issue/suggestion because of the above. Please let me know if you think otherwise and with an alternative suggestion in a response.

[2022-02-04 08:53] #21446 closed, assigned to nobody

[2022-02-04 09:00] #20494 closed, assigned to nobody

[2022-02-04 09:00] #20490 closed, assigned to fabaff

[2022-02-04 09:22] MeanderingWanderer commented on #21202
success!

[2022-02-04 09:22] #21202 closed, assigned to nobody

[2022-02-04 10:00] #20086 closed, assigned to nobody

[2022-02-04 11:00] #20027 closed, assigned to nobody

[2022-02-04 15:43] SeldomSeen31 opened #21480 "Possible to make a script to trigger a pattern seletion?"
### Feedback

I love my Fibonacci 256 and that I can control it from my home assistant dashboard.  I'm new to this so it is entirely possible that I'm missing something.  I have some WLED lighting that I've built and a couple of scripts that I've set to buttons in Lovelace to trigger some WLED presets, I have a red, green, blue, purple and rainbow preset buttons that calls some specific mood light

[2022-02-04 17:08] briangunderson opened #21482 "Not enough information"
### Feedback

A walkthrough with screenshots would really help people out here.

### URL

https://www.home-assistant.io/integrations/roomba/

### Version

2022.2.1

### Additional information

_No response_

[2022-02-04 17:12] frenck commented on #21482
Forgive me my ignorance, but it's a single click, select the Roomba to add and done?
Or am I missing something?

[2022-02-04 17:26] briangunderson commented on #21482
Thanks for the quick response! It appears the integration is designed to be
a single click, but in practice (my experience, anyway) both of my Roombas
(j7+ vacuum and m6 mopping robot) fail at the step where a physical button
is to be pressed on the roomba in order to allow it to accept a new
connection. Upon failure, a link is provided to a page that begins to
describe the manual process that mus

[2022-02-04 17:48] cliffjao commented on #21444
Pull request: https://github.com/home-assistant/home-assistant.io/pull/21484

[2022-02-04 18:00] #20197 closed, assigned to nobody

[2022-02-04 18:21] #21482 closed, assigned to nobody

[2022-02-04 18:44] okjed commented on #21315
Where can this be tracked on the Torque side? I spent some time hoping to leverage the bearer token but didn't get into the weeds debugging.

[2022-02-04 18:51] PulsarFX commented on #21315
The link is in the first post.
Torque version 1.12.46 (4-Feb-2022)  has a fix, so the bearer token is actually saved and sent.
I still have to verify that I can receive data in HA, though.
At least "Login attempt or request with invalid authentication" is gone from the HA logs. ;)

[2022-02-04 22:00] #20507 closed, assigned to nobody

[2022-02-04 22:00] #20509 closed, assigned to uvjustin

[2022-02-05 04:04] #21444 closed, assigned to bdraco, bramkragten

[2022-02-05 07:22] danielbrunt57 opened #21497 "Error in documentation re: HA 2022.1: IMMEDIATE IF (IIF)"
### Feedback

This
[code]
should be:
[code]

### URL

https://www.home-assistant.io/blog/2022/02/02/release-20222/#immediate-if-iif

### Version

2022.2.2

### Additional information

_No response_

[2022-02-05 08:42] harelabb opened #21498 "Last edited date on docs"
### Feedback

I would very much like to have the last edited date displayed on the doc pages.

### URL

https://www.home-assistant.io/docs/z-wave/controllers/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-05 09:15] ottopaulsen opened #21499 "Suggested integration name is not allowed because it is too long"
### Feedback

You suggest to name the integration "Home Assistant Integration", but there is not space for that many characters. Only one too short, actually. I suggest "HA Integration".

### URL

https://www.home-assistant.io/integrations/airthings/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-05 10:00] #20513 closed, assigned to elupus

[2022-02-05 10:44] dunemm3 commented on #21263
I'm interested in this functionality too

[2022-02-05 11:00] #20514 closed, assigned to nobody

[2022-02-05 16:00] #20520 closed, assigned to nobody

[2022-02-05 18:47] RadekLorenc opened #21502 "LG Web OS integration fails"
### Feedback

After updating HA to 2022.2.2 LG WebOS integration dont work properly. Can't power on the device via WOL service (before update everything works fine).

### URL

https://www.home-assistant.io/help/reporting_issues/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-05 20:37] mrand commented on #21402
The edit process actually leads you through github's PR steps quite well.  If you have to go back and alter things after submitting, it takes a few more steps, but still not bad.  I'm happy to help you through any questions.

As for the command-line-interface, I agree that it's not as obvious as it could be.
The following are the ways I'm aware of accessing the CLI:

1. On setups with supervisor p

[2022-02-05 20:44] bignadad opened #21503 "A note here would be very helpful"
### Feedback

homeassistant:
  packages: !include_dir_named packages

I have this implementation for my home Assistant.

I then have packages folder with subfolders and yaml files that look like this:
packages
--customize
----media.yaml
----tv.yaml
----lights.yaml
--functions
----media.yaml
--integrations
----lights.yaml

If you have yaml's named the same in multiple folders it won't pick up the s

[2022-02-06 00:02] #20528 closed, assigned to nobody

[2022-02-06 02:53] terren272 opened #21507 "Where do you put service call code? How do I apply this?"
### Feedback

Where do you put service call code?  How do I apply this?  In what context?
I'm sure this is helpful somehow, but it is all useless to us if we don't know where to put it.
In my hassio configuration.yaml ?
In my device's sonoffbasic.yaml ?
In my other device's featherhuzzah.yaml ?

Neither of these pages give usable examples, or say where to put the code, or how, so we spend HOURS tr

[2022-02-06 06:50] lidans5 opened #21508 "Listening mode"
### Feedback

Hi
something important I think is missing is the "listening mode"
when moving between movie/music/game/thx
there is several listening mode and it's very important to switch between the sound options

### URL

https://www.home-assistant.io/integrations/onkyo/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-06 08:38] mcsidor opened #21509 "Does it work in version 2022.2.2?"
### Feedback

how to make it work in version 2022.2.2?

### URL

https://www.home-assistant.io/integrations/shell_command/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-06 09:52] frenck commented on #21509
Thank you for reaching out. Sure, this does work, however, we use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-02-06 09:52] #21509 closed, assigned to nobody

[2022-02-06 11:23] andrebk opened #21511 "Code example for template filter `is_defined` doesn't render"
### Feedback

The documentation for the `is_defined` template filter has a code block with some example code, but this code block renders as empty.

Looks like this was added just a couple of days ago in #21459.

Looking at [the source code](https://github.com/jbouwh/home-assistant.io/blob/579293d4b8fb402d628afb6f149247361e040563/source/_docs/configuration/templating.markdown?plain=1#L519) it look

[2022-02-06 12:19] skynan22 opened #21513 "Connection failed"
### Feedback

I tried to connect PVOutput Integration within Home Assistant with my PVOutput account but I get always an error "connection failed - Verbindung fehlgeschlagen".
I used both API key and the read only key as u can see below together with the corresponding System ID of my PV - what can I try next?

### URL

https://www.home-assistant.io/integrations/pvoutput/

### Version

2022.2.2

##

[2022-02-06 14:54] jwildman16 commented on #19640
@tuya - any update?

[2022-02-06 17:00] smithbill17 commented on #19640
In addition to my original observation, it was apparent that the Tuya IoT 'Core' service is initially for 1-3months. There was an open ticket mentioning this, which directed me to 'apply' for a 12month extension - however, it took me sometime to realise that this simply does NOT work if you are using a mobile browser (eg. Chrome on Android). You *have* to use Chrome on a PC. Ludicrous!
And anyway,

[2022-02-06 17:07] terren272 opened #21516 "System monitor for Esp8266 or Esp32 ? Only works for Raspberry pi ?"
### Feedback

It there a System monitor for Esp8266 or Esp32 ?
I'm only able to get system monitor working for Raspberry pi 3b using hassio.
Please advise, thanks.

### URL

https://www.home-assistant.io/integrations/systemmonitor/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-06 17:08] mtdcr commented on #21426
Duplicate of https://github.com/home-assistant/core/issues/62253, fixed by https://github.com/home-assistant/core/pull/63664

[2022-02-06 17:10] frenck commented on #21426
Closing as a duplicate :)

Please note, this issue tracker is for tracking documentation feedback, not for reporting issues.

Thanks! 👍

[2022-02-06 17:10] #21426 closed, assigned to nobody

[2022-02-06 18:08] ton10g commented on #21426
Thank you!

[2022-02-06 19:24] HemiBob opened #21517 "Needs more info"
### Feedback

When using a service to force an update of the Restful the syntax looks like this:
**service: rest.reload
data: {}**
But if I don't want to refresh ALL my rest sensors, what goes in the curly brackets, I can't see that documented.
Is it a list of the rest sensors and if so, an example would be useful

### URL

https://www.home-assistant.io/integrations/rest/

### Version

2022.2.2

#

[2022-02-06 22:00] #20539 closed, assigned to nobody

[2022-02-06 22:23] adamf663 opened #21520 "add documentation on ${ fields} or at least a link to it."
### Feedback

add documentation on ${ fields} or at least a link to it.

### URL

https://www.home-assistant.io/integrations/notify/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-06 22:38] #21520 closed, assigned to nobody

[2022-02-06 23:28] mugnier102 opened #21522 "No more dev for the moment"
### Feedback

Should be interresting to note that this integration is not working anymore on documentation. That can change but for the moment, user can't use it for the moment.

### URL

https://www.home-assistant.io/integrations/enocean/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-06 23:53] grhawk opened #21523 "Installation issues"
### Feedback

I am using Home-Assistant installed into k8s.
I cannot find the open-meteo integration among the other integrations and if I try to install it from the website I get the error:  "Config flow could not be loaded".

Could you help pls?

### URL

https://www.home-assistant.io/integrations/open_meteo/

### Version

2022.2.2

### Additional information

_No response_

[2022-02-07 03:35] GrizzlyAK opened #21524 "- platform: homeassistant missing?"
### Feedback

Should not the above platform be detailed on this page as options for trigger variables? There is a reference [here](https://www.home-assistant.io/docs/automation/trigger/#home-assistant-trigger), but I don't know where I learned that I could do the following:

"{{  trigger.platform == 'homeassistant' }}"

Just a thought.

### URL

https://www.home-assistant.io/docs/automation/templa

[2022-02-07 07:25] frenck commented on #21524
Hi @GrizzlyAK 👋

I'm not sure what the suggestion is you are trying to make? The automation trigger variables are all documented, are they?

../Frenck

[2022-02-07 08:23] frenck commented on #21517
You can't.

Nothing, hence its not documented either.

Sorry, but it isn't documented because your suggested use doesn't exist.

../Frenck

[2022-02-07 08:23] #21517 closed, assigned to nobody

[2022-02-07 08:38] frenck commented on #21523
Thank you for reaching out. We use this GitHub issue tracker for tracking documentation feedback, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-02-07 08:38] #21523 closed, assigned to frenck

[2022-02-07 09:12] frenck commented on #21503
It depends a bit on how you set it up. If you use the filename as the key of the mappings, yeah, duplicate filenames would cause them to overwrite each other. That is how YAML works?

[2022-02-07 09:49] pex81 commented on #20622
The card map unfortunately still there is no way to change the dark_mode based on the sun sensor. The only way is to create a conditional card.

[code]

[2022-02-07 09:52] frenck commented on #20622
Hi!

That is correct, that isn't possible. Template cannot be used everywhere.

As documented:

![image](https://user-images.githubusercontent.com/195327/152764906-d19940b7-65da-4622-8804-d9aea13df2da.png)

The value can only be of a boolean type (either true or false) and is not of the `Template` type.

Closing this documentation suggestion, as it is correctly documented.

../Frenck

[2022-02-07 09:52] #20622 closed, assigned to nobody

[2022-02-07 09:58] HemiBob commented on #21517
Thanks for your reply, much appreciated.
Maybe it can be added one day.

[2022-02-07 10:26] frenck commented on #21434
Hi there @robloskamp 👋

It seems like you want to report an issue for an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2022-02-07 10:26] #21434 closed, assigned to frenck

[2022-02-07 13:08] #20437 closed, assigned to Danielhiversen

[2022-02-07 14:06] bignadad commented on #21503
k, no problem. I was not familiar with that so did not know. if a note it not needed then disregard.

[2022-02-07 14:06] #21503 closed, assigned to nobody

[2022-02-07 16:52] air720boarder opened #21535 "Add support for password 'for all users on network'"
### Feedback

I share my home wifi network with 9 individuals, and password protect my Airplay settings in my AppleTV app. It would be helpful to add password support, so I can protect others from connecting to my AppleTV, while enabling HomeAssistant to manage my device.

### URL

https://www.home-assistant.io/integrations/apple_tv/

### Version

2022.2.3

### Additional information

Alternativel

[2022-02-07 19:32] johanbee opened #21539 "DSMR - Entities found but receive no data"
### Feedback

Hi,

Not sure if I post my question in the right community, feel free to correct me here and put me in the right direction..

I have added the DSMR integration. I do see all the entities appearing, however I don't receive any data.

Setup:
Synology NAS with Home Assistant OS installed
P1 - USB cable from Synology NAS to Landis Gyr E360

When I add the integration, I get the option to

[2022-02-07 20:03] GrizzlyAK commented on #21524
Hi @frenck, on [this ](https://www.home-assistant.io/docs/automation/templating/) page is listed all of the trigger variable data available, and in each section there is a `trigger.platform` for `device`, `event`, `mqtt`, etc. I was just pointing out that nowhere on that page do I see where `trigger.platform` can be `homeassistant` as I use it in the example provided in the OP. Maybe this isn't th

[2022-02-07 22:35] bdurrer commented on #21522
@mugnier102 Can you please elaborate: _What_ is not working? The documentation website? The integration?
I can open the link above just fine

[2022-02-07 22:54] PulsarFX commented on #21315
opened PR [21543](https://github.com/home-assistant/home-assistant.io/pull/21543)

[2022-02-07 22:54] #21315 closed, assigned to nobody

[2022-02-08 02:04] dd871 opened #21545 "Wrong entity id in Home Assistant GoodWe example"
### Feedback

The example for manual polling lists:
[code]

This seems to be incorrect (at least in my installation). The correct value for me was _entity_id: sensor.goodwe_ppv_

### URL

https://www.home-assistant.io/integrations/goodwe/

### Version

2022.2.3

### Additional information

_No response_

[2022-02-08 08:15] ghost opened #21546 "Toon smartplug integration"
### Feedback

I do mis the smartplugs in the integration of Toon.

### URL

https://www.home-assistant.io/integrations/toon/

### Version

2022.2.3

### Additional information

_No response_

[2022-02-08 09:02] frenck commented on #21546
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-02-08 09:02] #21546 closed, assigned to nobody

[2022-02-08 09:41] frenck commented on #21545
All entity IDs in the documentation generally don't match and can differ. This is not an error, this is because entities are not guaranteed to be the same. As a matter of fact, you can even change entity IDs to your liking from the Home Assistant frontend.

In the documentation, they serve as an example.

../Frenck

[2022-02-08 09:41] #21545 closed, assigned to nobody

[2022-02-08 13:22] jwildman16 commented on #20549
This is included in the documentation:

But it doesn't indicate what to do (use Forgot Password) if you've already signed up using social login.

[2022-02-08 17:20] glyph-se commented on #18652
Please keep this open for a while, I will try to submit my own PR soon to update the documentation.

[2022-02-08 17:29] terren272 opened #21553 "Please DO NOT REMOVE Raspberry Pi GPIO"
### Feedback

Please DO NOT REMOVE Raspberry Pi GPIO
I'll be using this for a long as I can.
Please don't remove it.

If you do, how will I be able to use the pi IO ???

### URL

https://www.home-assistant.io/integrations/rpi_gpio/

### Version

2022.2.3

### Additional information

_No response_

[2022-02-08 17:42] frenck commented on #21553
It is going to be removed in the near future and is now deprecated.

For reasoning and/or alternative suggestions, please see breaking change section of the release notes.

Closing this issue, as this is not a documentation suggestion.

../Frenck

[2022-02-08 17:42] #21553 closed, assigned to nobody

[2022-02-08 19:11] GetUpdate opened #21555 "Integration works also with the tasmota_lite.bin in my case."
### Feedback

Integration works also with the tasmota_lite.bin in my case.
[Tasmota 10.0.0 by Theo Arends](https://bit.ly/tasmota)

### URL

https://www.home-assistant.io/integrations/tasmota/

### Version

2022.2.3

### Additional information

_No response_

[2022-02-08 19:52] #21539 closed, assigned to frenck

[2022-02-08 22:17] Hippe-Lip opened #21557 "Missing essential information on how to use"
### Feedback

I’ve tried to make a statistics graph card but got problems.

When adding a ‘statistics graph card, it says “You must include at least one entity”.
Then I entered one sensor (using the code editor) and got the error message: “Entities need to be an array” and “The provided value for 'entities' is not supported by the visual editor. We support (array) but received ("sensor.wp_nibe_ber

[2022-02-08 22:21] Hippe-Lip opened #21558 "Sorry, double issue. This one can be deleted."
Sorry, double entry.
Already in #21557

[2022-02-08 22:25] #21558 closed, assigned to nobody

[2022-02-08 23:00] #20429 closed, assigned to nobody

[2022-02-09 08:12] #21327 closed, assigned to nobody

[2022-02-09 08:22] ChristianLoacker opened #21563 "Can not be installed"
### Feedback

Hi there - I am highly interested in getting this integration running! Unfortunately I have not been able to install the integration. I have an account on https://pool.aseko.com

Using that credentials during installation brings "Unexpected Error"

I have changed my password - made it free from special characters and symbols - didnt help.

Any suggestion?

Best regards, Christian

##

[2022-02-09 08:31] frenck commented on #21563
Hi there @ChristianLoacker 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2022-02-09 08:31] #21563 closed, assigned to nobody

[2022-02-09 10:13] bartgrefte commented on #20566
This issue has not been resolved, I ended up disabling the entities to avoid flooding of the log.

[2022-02-09 12:53] andreasbrett commented on #20645
it is still relevant

[2022-02-09 13:34] macf0x opened #21564 "Insufficient info"
### Feedback

Seems this page could be greatly improved. If your Individual device does not appear, there should be clear instructions on why.

In my case I had a dozen Tasmota powerplugs that refused to be listed, despite the state_class and device_class and native_unit_of_measurement being set correctly as per https://developers.home-assistant.io/docs/core/entity/sensor/#long-term-statistics, th

[2022-02-09 14:00] frenck commented on #21564
That sounds like a bug, not something that needs to be documented.

That is not related at all.

Based on the above posted, it sounds like you are experiencing an issue and not lack of documentation.

[2022-02-09 14:07] #20567 closed, assigned to nobody

[2022-02-09 14:42] RealZack opened #21565 "Warning about interferences on the radio modules"
### Feedback

Hello,

I'm using HA on a pi 4 and I'm using ZHA with a conbee 2.

I strungle a lot to get it working, it was impossible to do any connection, or if I was, I was unable to do anything with it.

I finally found out the problem checking other documentations such as the one from zigbee2mqtt or from phoscon and deconz.

There is known issues about getting 2.4GHZ dongle near usb 3.0 port.

[2022-02-09 15:08] SNoof85 commented on #21565
See #18864 wich is still waiting for a review and has a warning about this feedback.

[2022-02-09 15:55] Wilkovf opened #21568 "Add lock unlock switch"
### Feedback

We have our Wallbox always locked. Geofencing is missing in the wallbox app and woud be a nice automation with HA

### URL

https://www.home-assistant.io/integrations/wallbox/

### Version

2022.2.5

### Additional information

_No response_

[2022-02-09 16:16] macf0x commented on #21564
Thanks Frenck,

Probably so. I couldn't see any documentation or reference to the entity name needing to include '_kwh', but I could reproduce this across the ZwaveJS and Tasmota integrations. Tasmota and ZWave being popular components, I assumed this must be known behaviour, just not documented.

 Simply renaming the entity dictated if it will show in the individual (energy) devices list. Assumin

[2022-02-09 17:28] jmmartinviana opened #21570 "As a suggestion"
### Feedback

As a suggestion, an example of how to calculate the temporary statistics of a season (from August to February of the following year) could be included.
Thank you.

### URL

https://www.home-assistant.io/integrations/history_stats/

### Version

2022.2.5

### Additional information

_No response_

[2022-02-09 21:08] mugnier102 commented on #21522
I did try integration. It didn't work. I may have miss a reboot but googling indicate that this module is not maintened anymore has the refactoring to be done is too huge for actual contributor. Forum indicate that a working solution is to use EnOceanToMQTT and MQTT to HA. Don't known if it still true (I tried to check change log but didn't see announce on this) but quiet dissapointting for me.
Af

[2022-02-09 21:39] collinwebb opened #21574 "Supported Devices"
### Feedback

Is there a list of supported devices for this feature? I have some iHome and iDevice plugs that will track power usage, but there are not specific integrations for those devices, and they don't give their energy use information out with HomeKit. I would love a list of supported devices that can track energy, so I can start tracking energy usage next time I want to buy a smart switch.

[2022-02-10 03:48] ellisharmony opened #21577 "Script editor docs don't explain how to list commands"
### Feedback

Within the script editor, under sequence/command it says, "A single command or a list of commands to send".  How do you do a list. Are the commands just concatenated or is there a separator like a semicolon?

I have multiple 'b64' commands for a remote control and nothing seems to work, except my own yaml which gets wiped out everytime I edit the script in the editor. My only workaro

[2022-02-10 05:06] mdegat01 commented on #21557
Which ones are you missing? Did you follow this direction at the top of the doc for that card?

Well it does say `list` for `entities`
<img width="353" alt="Screen Shot 2022-02-09 at 11 57 37 PM" src="https://user-images.githubusercontent.com/2037026/153340142-0a6c1346-1c1c-4232-8b73-0f8271bfc0c5.png">
Admittedly that is a different word then `array` so perhaps that error should be made consistent

[2022-02-10 05:40] mdegat01 commented on #21570
Seasons vary greatly based on location. You're referring to August to February as one season for example, for me that is 3: tail end of summer, all of fall, most of winter.

Assuming you want statistics for the current season you'd need a second integration that provides a `timestamp` sensor for "start of the current season". If you have that then this is trivial, start = that sensor, end = `now()

[2022-02-10 05:49] mdegat01 commented on #21574
Are you asking for a list of all devices that can provide HA with energy usage? That's not really possible... The list would be huge and changes literally every day as new devices come out.

I would recommend searching the forum, reddit and/or discord for a device you're interested in before buying it or asking about it if you don't see anything. Or stick with devices that use an open standard and

[2022-02-10 06:00] mdegat01 commented on #21577
I'm guessing by your entity ID that you have a broadlink remote. They have lots of examples of how to use the services provided by that integration, including [this one](https://www.home-assistant.io/integrations/broadlink/#sending-a-sequence-of-commands) showing how to send multiple commands with `remote.send_command`.

Also for future reference, any time you are sharing config please wrap it tri

[2022-02-10 08:14] frenck commented on #21577
By making it a list... as written exactly in that instruction...

[code]

[2022-02-10 15:21] ericleigh007 opened #21579 "Unfortunately, this page contains links to the old Virtualized 7.2 OS"
### Feedback

Unfortunately, [this page](https://www.home-assistant.io/installation/windows) contains links to the old Virtualized 7.2 OS, which is not the latest (as of this writing, 7.4 is).  Shouldn't the page just point to the /latest/ OS's?

### URL

https://www.home-assistant.io/installation/windows/

### Version

2022.2.5

### Additional information

_No response_

[2022-02-10 15:33] cannondale0815 opened #21580 "SwitchBot integration documentation needs reference to manual configuration.yaml code block"
### Feedback

When following the HA SwitchBot documentation to add the integration via the UI, the error "Aborted - Failed to connect” is shown.

The only way to successfully add the SwitchBot integration to HA (at least for some people, including myself) is to add something like the following to the configuration.yaml:

[code]

Please update the documentation accordingly.

This issue (and the wor

[2022-02-10 16:52] Rhodderz opened #21581 "ProxMox"
### Feedback

For ProxMox the below worked
Create new VM with the required resources (Use UEFI)
Make sure it is not set to start on creation
Download the qcow2 and extrat with xz --decompress
import the disk with via ssh
:- qm importdisk <vmid> image.qcow2 storagepool
via hardware, disconnect and remove the original disk
highlight the new improted disk and add
Start the new vm in console and hit e

[2022-02-10 17:41] nlpmartins commented on #21361
Hi Roland,

Thank you for your overview on this issue. Actually I had this sensor in a
power generation unit, probably that's the reason for this label. Neverthe
less, I've now removed and created a new sensor, classifying it as
Globak Consumption - the real use - currently.

In HA I keep having errors, now it's the following:
[image: image.png]
Using this token:Kws4XJNx9aRq7VyhQo4_QMZtrNugaOUP

M

[2022-02-10 20:48] A-Kamf opened #21584 "owserver?"
### Feedback

I'm running hass on a Raspberry pi 4, using the hass image. My 1wire USB stick is attached to the pi (with devices attached).
It is somewhat unclear what steps I need to take to get the 1wire integration running with my 1wire USB.
Do I need to set up owfs/owserver on my hass? How do I do that? Is there any other integration or addon required?

### URL

https://www.home-assistant.io/i

[2022-02-10 21:24] Data-Monkey commented on #21361
Hi Nuno, the images did not work, could you please try to edit your post and add the pictures?

[2022-02-10 23:15] ellisharmony commented on #21577
Thank you, I had gotten it working by editing the yaml directly using the broadlink documentation. (sorry I didn't use code blocks - I'm new at this and didn't think the spacing mattered much since it was a question about entering the stuff in the script editor. Was just trying to convey what I was trying to accomplish)

It's through the script editor that I'm having difficulties. How do I enter t

[2022-02-11 02:21] Data-Monkey commented on #21361
it seems your sensor in Efergy is still considered GAC
[code]
and there is no instant reading response
[code]

[2022-02-11 02:45] rahine opened #21592 "Connecting to Sense"
### Feedback

Unable to integrate using username and password if two-factor authentication is enabled for Sense.

### URL

https://www.home-assistant.io/integrations/sense/

### Version

2022.2.5

### Additional information

_No response_

[2022-02-11 08:36] frenck commented on #21577
👋 Welcome!

You might want to read up a bit on the YAML file format. YAML is a common/well-documented configuration format that has tons of resources around on the internet.

When not editing YAML, the YAML documentation doesn't apply.

[2022-02-11 08:56] epenet commented on #21584
I have OWFS/OWServer installed on a different machine, so I do not have any experience installing it on hass.

There are lots of tutorials on the internet for installing OWFS/OWServer on a Linux box, maybe you can use those to work out how to apply it to HASS?

One thing for sure: once you get it working you should create a PR to adjust the documentation.

[2022-02-11 09:01] frenck commented on #21584
While Home Assistant can hook up with an OWFS/OWServer, it is up to those projects to provide installation guides for their projects. This is not a Home Assistant documentation responsibility.

We don't want to become documentation for third-party projects. For example, we don't provide instructions on how to install your Philips Hue hub either.

We can always add a link to installation guides of

[2022-02-11 12:07] Wummeke opened #21595 "Version integration explanation"
### Feedback

Since the version integration is now available through GUI setup, the documentation only tells you how to use the GUI setup, but there's not explanation about the different options.

For example: I used to have a sensor to show me the latest available HA Core version. From the options in the GUI setup, it is not clear to me, which option I should pick. And if I also would like a sens

[2022-02-11 12:09] ludeeus commented on #21595
It only shows versions for Core.

[2022-02-11 13:08] tangyue1 opened #21596 "Simplisafe re-authorization every 30 days"
### Feedback

Simplisafe web app requires re-authorization every 30 days. I generated a new code, put it in after clicking the "CONFIGURE" on integration page. But it did not work. The integration stopped working. If I press arm, it shows 'Code' below.

If I delete the integration and added a new one, it works.

### URL

https://www.home-assistant.io/integrations/simplisafe/

### Version

2022.2.5

[2022-02-11 13:16] dougiteixeira commented on #20675
I would like to confirm this so that the card can be updated or the property can be used in the core by the integrations.

[2022-02-11 13:48] Homer76 opened #21598 "Energy Dashboard FuelCell"
### Feedback

Hi,
my wish is define a fuelcell in energy dashboard like solar. Maybe i am the first, but it would be great if you could do this.

Best Regards

Nils

### URL

https://www.home-assistant.io/docs/energy/individual-devices/

### Version

2022.2.5

### Additional information

_No response_

[2022-02-11 14:36] reefland opened #21599 "Incorrect / Missing information on Ring Intergration Documentation"
### Feedback

The documentation states:

Then you can use the following automation, with the entities from your system, which will save the video file under `<config>/downloads/ring_<camera_name>/`:

Based on example code, it will NOT create a file starting with name `ring_`, the filename only is based on the camera name such as:

`-rw-r--r-- 1 root root 2574316 Feb 2 20:12 'Front Door'`

In addit

[2022-02-11 14:50] frenck commented on #21596
Hi there @tangyue1 👋

It seems like you are trying to raise an issue for an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2022-02-11 14:50] #21596 closed, assigned to bachya

[2022-02-11 15:53] Wummeke commented on #21595
Ok that's cool. But still all the different possibilities/choices are not exactly clear to me. For example: this was my configuration.yaml entry:

[code]

But in the GUI configuration I don't see the option for supervisor anymore. I assumed that "Home-Assistant Versions" is the correct substitution for that, because all the other options seemed unlikely. I was hoping the documentation could clear

[2022-02-11 16:36] ellisharmony commented on #21577
Thank you. Putting aside the yaml for the moment (unless I need it to use the script editor correctly), my main question is how do I use the script editor for multiple commands?

[2022-02-11 19:23] tillboehringer opened #21606 "unique_id for derivatives"
### Feedback

At the moment, it's not possible to set a unique_id for a derivative sensor. If one is put in the configuration.yaml file, there is an error. Therefor, editing from the UI is not possible.

Could this be chanced?
![Bildschirmfoto 2022-02-11 um 20 20 44](https://user-images.githubusercontent.com/79526318/153656140-e3720d7e-c2ce-4f30-a233-8aaa5e6d1f6e.png)
![Bildschirmfoto 2022-02-11 u

[2022-02-11 20:48] xeor opened #21607 "Tips and tricks for kubernetes/container deployment"
### Feedback

There are more and more people that seams to have home-assistant running in containers. Either using plain docker/podman, or inside their kubernetes cluster running at home. The network inside these solutions often kills the containers ability to do multicast, zeroconf, mdns.

Even tho there are some info-pages in the documentation that is about stuff like ["why zeroconf extension do

[2022-02-11 20:59] A-Kamf commented on #21584
Thanks for the suggestions.
My point was that it is not clear from reading the instruction what steps the user needs to take in order to get the 1wire USB stick work in HASS.

From your answers, I now understand that the integration does not communicate directly with the hw, it is dependent on an OWFS/OWServer running somewhere to get communicate with the 1wire devices. I did not understand that b

[2022-02-11 22:03] JHGBaouns opened #21609 "Verisure - Cannot login ' invalid authentication'"
### Feedback

I cannot login with my account on the integration Verisure.
I get " invalid authentication" when I try. I use the same name/password as in my old Homey.
I get [homeassistant.components.verisure] Could not log in to Verisure, "name='vid', domain=None, path=None" in DEBUG.

As information, I wont get the Verisure smartbox autodetected.

### URL

https://www.home-assistant.io/integratio

[2022-02-12 12:00] #20605 closed, assigned to nobody

[2022-02-12 14:00] #20600 closed, assigned to nobody

[2022-02-12 17:43] clyra opened #21614 "Stream integration is needed to enable "stream_source""
### Feedback

If one wants to use the "stream_source" option, then the stream integration is needed. Usually this integration is loaded if the "default_config:" is used in configuration.yaml and this information is correctly presented at the "stream integration" page. Not everybody uses the "default_config", so perhaps a little warning should be added to the "stream_source" option paragraph of the

[2022-02-12 19:00] steffenbanhardt opened #21615 "maximum has to be "upper limit + 1""
### Feedback

The ***maximum*** variable in the range is not the highest value that will be returned back by random.
`{{ range( 0, 1 ) | random }}` will always return 0.

This should be made clear in the documentation.

### URL

https://www.home-assistant.io/integrations/random/

### Version

2022.2.6

### Additional information

_No response_

[2022-02-12 19:04] frenck commented on #21615
Your example show the use of the random function/filter of the Jinja2 template syntax, while this feedback is linked to the random integration.

As those are not related and not the same things, I am confused about your documentation feedback on this page.

Could you clarify?

[2022-02-12 19:21] steffenbanhardt commented on #21615
You are totally right. My fault! -> Closing

[2022-02-12 19:21] #21615 closed, assigned to fabaff

[2022-02-12 20:00] #20610 closed, assigned to nobody

[2022-02-12 21:22] caseyjmorton opened #21616 "Documentation on sensor types"
### Feedback

It would be really nice to have some sort of documentation or even just examples of the json for each call.

### URL

https://www.home-assistant.io/integrations/hp_ilo/

### Version

2022.2.6

### Additional information

_No response_

[2022-02-12 21:51] jmmartinviana commented on #21570
Thanks for your answer, If the season is from August to August of the following year
I have solved it with a conditional template whose values are:
[code]

[2022-02-12 23:15] dmperl commented on #20698
I got this to work by putting my scripts in  /config/myscripts

[2022-02-12 23:15] #20698 closed, assigned to nobody

[2022-02-13 03:00] Puch-tdi opened #21618 "How to install"
### Feedback

I was waiting and updating quite a while and never got the energy dashboard. Finally i took another Raspberry for a clean install and right away the dash appear. After testing some time with the config i found the problem, the dash only works in a "default_config". This was the problem in my system, since i use a lot of icons in front of my sensors i started about two years ago on a

[2022-02-13 09:00] #20619 closed, assigned to nobody

[2022-02-13 09:00] #20618 closed, assigned to nobody

[2022-02-13 09:37] Soepgroenten opened #21621 "Please make clear why devices are not shown on map when at home"
### Feedback

Actually not an issue, but a request for explanation and a suggestion for improvement on the official documentation page.

Please make clear why devices are not shown on map when at home.

Currently we know that there was made some decision to not show device tracker on the map when the owner of the device is at home, but it could be helpful to understand why it is what it is.

### U

[2022-02-13 09:40] ouwebaas opened #21622 "Feels incomplete"
### Feedback

Feels like i'm getting send from one page to the other, sometimes it's nice to receive some examples of how to use.
An example of just (API :) in an configuration.yaml file isn't really an example don't you think?

### URL

https://www.home-assistant.io/integrations/api/

### Version

2022.2.6

### Additional information

_No response_

[2022-02-13 10:23] jodasm opened #21623 "No directions how to get to the configuration panel?"
### Feedback

This documentation does not give any instructions as to how to configure energy.
i.e. where in the configuration should the menu item appear etc.

### URL

https://www.home-assistant.io/docs/energy/

### Version

2022.2.6

### Additional information

_No response_

[2022-02-13 13:15] hesselonline commented on #21568
Hi @Wilkovf, this has been on my to do list for a while now, I will see what I can do...

[2022-02-13 14:35] frenck commented on #21623
There are 2 big my Home Assistant buttons on top of that page, bringing you there...

[2022-02-13 14:58] frenck commented on #21622
There is only an example of "api:", as it doesn't have any more configuration capabilities 🤷

There are no more examples to show as far as configuration goes.

If you are looking for developing against Home Assistant (eg using the API), please check our developers documentation instead.

[2022-02-13 14:59] frenck commented on #21621
I am not sure what to tell or adjust? What is you adjustment suggestion?

There is no particular reason on "why" their are not shown when home, it just is like that since it was spawned back in the day.

As there is no real reason, I don't see what should be added?

[2022-02-13 15:01] frenck commented on #21618
It's documented here:

https://www.home-assistant.io/docs/energy/faq/#the-energy-panel-is-not-visible

[2022-02-13 15:02] #21618 closed, assigned to nobody

[2022-02-13 15:28] Puch-tdi commented on #21618
Frenck, thanks for the answer. It say add it manually and i did this yesterday but then there will be a totally different dashboard become visible. What i was looking for is an explaination how to add it manually, cant find anything about that.
But then again, for me it worked on having both "default config" and the "customize.yaml" and so far it runs fine.

Thanks for the quick responce

[2022-02-13 15:51] frenck commented on #21618
Customize.yaml should not be needed, if you end up needing such a solution you should report it instead of work around things

[2022-02-13 16:29] jodasm commented on #21623
Thanks found it.
Also found that I can configure the energy dashboard by actually configuring the dashboard.

seems straight forward now but for some reason I just assumed that was UI and not actually setup.

[2022-02-13 16:29] #21623 closed, assigned to nobody

[2022-02-13 19:32] rpartapsing opened #21630 "Adding image to media does not work"
### Feedback

Hi,

I am following the guidelines on displaying media to the media player.

When I try
[code]

It does not work.
while if I would do `media_content_id: http://example.com/test.png` it does work

The url https://xxx.duckdns.org:8123/local/test.png also does give me the image.
setting `media_content_id: https://xxx.duckdns.org:8123/local/test.png` also does not work

### URL

https://

[2022-02-13 20:16] TheGabeMan opened #21633 "Addition to make very good example"
### Feedback

When trying to scrape something from a website, I found this good community post that shows a nice example on how to fetch the data you need:
https://community.home-assistant.io/t/solved-need-help-to-scrape-data-from-website/240335/5

### URL

https://www.home-assistant.io/integrations/scrape/

### Version

2022.2.6

### Additional information

_No response_

[2022-02-13 20:16] wickedgalen opened #21634 "Bug with AVM FRITZ!Box Tools in combination with NODE-RED"
### Feedback

Dear AVM FRITZ!Box Tools Creator, / To whom it may concern (as searching brought me here for debug Feedback)

Home Assistant Integration : **AVM FRITZ!Box Tools**
in combination with NODE-RED Integration.

Using the fritzbox value from download_throughput:
There is a typo.

sensor.ROUTERXXX_download_throughput

this value is sent in "**msg.playload**" instead of "**msg.payload**"

![

[2022-02-13 20:28] frenck commented on #21634
This is not an Home Assistant issue. As Node-RED is third-party, the Home Assistant project does not support it either.

Please report your issue with the Project creating that node for Node-RED.

Thanks!

[2022-02-13 20:28] #21634 closed, assigned to mib1185

[2022-02-13 20:35] #21622 closed, assigned to nobody

[2022-02-13 23:41] lockiegarnett opened #21636 "Re: Installing pre-requisites on Ubuntu 20.04 - Error and Fix"
### Feedback

Re: Installing pre-requisites on Ubuntu 20.04  - Error and Fix

sudo apt-get install -y python3 python3-dev python3-venv python3-pip libffi-dev libssl-dev libjpeg-dev zlib1g-dev autoconf build-essential libopenjp2-7 libtiff5 libturbojpeg0 tzdata

libturbojpeg0  --> Error:  Unable to locate package
...
libjpeg-turbo8  (this worked instead) or
libjpeg-turbo8-dev (this worked instead)

[2022-02-14 05:17] kbickar commented on #21592
This issue is against the wrong project (should be core), but the fix is in https://github.com/home-assistant/core/pull/66498

[2022-02-14 11:13] Esc4pe opened #21639 "Clarify this is for Wifi clients only"
### Feedback

Works for Wifi clients, but for Bluetooth returns:
[homeassistant.components.meraki.device_tracker] Invalid API version: 2.1

Only API v 1.0, 2.0 or 3.0 can be selected in the Meraki Dashboard

--> although this could technically be a bug or issue, wanted to mention here there is a difference for wifi/bt, which could be mentioned

### URL

https://www.home-assistant.io/integrations/m

[2022-02-14 12:17] frenck commented on #21630
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-02-14 12:25] frenck commented on #21636
Yup, things can differ a bit, depending on the Linux distribution used.

Hence this big warning is listed:

![image](https://user-images.githubusercontent.com/195327/153863979-19f55e3c-e0f8-4971-b213-32502241cd45.png)

[2022-02-14 12:25] #21636 closed, assigned to nobody

[2022-02-14 14:38] #21595 closed, assigned to fabaff, ludeeus

[2022-02-14 14:43] overkill32 opened #21642 "Add additional instructions for restoring from backup on new install"
### Feedback

The process of restoring from backup on new install could be improved to manage user expectations.  The webpage says that HA will restart when completed, but I didn't experience that just now.  I was using a new install of 7.6 and applying a backup from 7.4 and core-2022.2.5.

I started a ping throughout the entire process and it never dropped.  The webpage did not reload at any poin

[2022-02-14 15:02] sab0tajue opened #21644 "warning"
### Feedback

все прописал по инструкции отсюда:
появляется ошибка при попытке включить:

Не удалось вызвать службу vacuum/turn_on. <iq type="error" to="fcef6fld784519bf@ecouser.net/723c1bd68d3ff50fa803230e3523c3cd" from="158cd97b-2f2b-45ab-9a06-de6b1d5359e8@y79a7u.ecorobot.net/atom" id="0d8e85d2-bbf9-45dc-b478-9c23e77ecf13-14"><error type="wait" code="404"><recipient-unavailable xmlns="urn:ietf:p

[2022-02-14 15:04] frenck commented on #21644
We cannot process documentation suggestions in other languages. Please use the English language when providing a documentation suggestion.

Thanks! 👍

[2022-02-14 15:04] #21644 closed, assigned to OverloadUT

[2022-02-14 15:22] frenck commented on #21642
This sounds like this is not a documentation suggestion? However, that is what you have submitted.

[2022-02-14 17:59] overkill32 commented on #21642
I guess I was thinking the documentation could be improved to better set user expectations.  If the instructions had said to manually refresh the primary URL, my user experience would have been improved.   As currently stated, I'm just staring at the screen waiting for something to happen, which it does not.

[2022-02-14 19:07] frenck commented on #21642
I think that it should not rely on manual refreshing and that should be something that should be solved.

[2022-02-14 21:08] boomam commented on #20716
This requires response and categorization by the development team. No further activity can be added from my part other than adding this note to keep it alive.

[2022-02-14 21:35] overkill32 commented on #21642
I want to be helpful.  Would you prefer that I document my experience in another location?   Would it be Core?

[2022-02-15 01:39] seraphx2 opened #21647 "When making documentation act like who you're writing it for has no clue what's going on."
### Feedback

It literally does not tell where to put the camera configuration. Just a snippet of properties with no instruction on what file to open. I am a total noob. A block of properties means nothing to me.

### URL

https://www.home-assistant.io/integrations/octoprint/

### Version

2022.2.6

### Additional information

_No response_

[2022-02-15 05:46] vingenuity commented on #21445
I'm also having issues trying to use `sendevent`, but a different kind. I'm trying to control an NVIDIA Shield TV on the latest 9.0 update (Android TV 11), and I can "successfully" control it somewhat using either `command: RIGHT` or `command: input keyevent KEYCODE_DPAD_RIGHT`. However, I cannot get commands working with `sendevent`.

I can get the correct event sequence using `androidtv.learn_se

[2022-02-15 07:19] #21614 closed, assigned to hunterjm, allenporter, uvjustin

[2022-02-15 07:31] frenck commented on #21647
@seraphx2 Thanks for the feedback, and you are right.

We are moving towards configuration to the UI for a lot of thing, but we are still in transition and not everything works like that yet.

That said, we have extensive documentation on configuring Home Assistant via its configuration files:

<https://www.home-assistant.io/docs/configuration/>

[2022-02-15 08:19] rpartapsing commented on #21630
@frenck I tend to disagree. As it seems now the `mediasource` reference to a local path with respect to a picture does not seem to work. Since the media player is a core component I have created this gh issue.
Nevertheless I had also posted it on the community forum indeed.

[2022-02-15 08:41] frenck commented on #21630
You are mixing up local paths and media paths. Hence I redirected you to support sources

[2022-02-15 10:01] bakoscsaba opened #21652 "Provide example how to turn faults into sensors."
### Feedback

Please provide example in the documentation how to turn the TempZoneActuatorLowBattery fault into a sensor that could trigger a low battery alert or notification.

### URL

https://www.home-assistant.io/integrations/evohome/

### Version

2022.2.6

### Additional information

_No response_

[2022-02-15 11:05] psteinweber opened #21653 "Clarify entity id vs. unique_id"
### Feedback

I would expect more explanation about the entity id that is being generated automatically from the `name` if I understand it correctly, as long as no `unique_id` is set.

How do those two correlate?

Is it recommended to include a domain in the `unique_id`, for example `light.my_new_id`?

### URL

https://www.home-assistant.io/integrations/light.group/

### Version

2022.2.6

### Add

[2022-02-15 11:18] frenck commented on #21653
Entity IDs is always based on the name and not related to unique ID.
A unique ID is an stable identifier that uniquely identifies this entity, now and in the future, regardless if their name, entity ID or anything else changes.

As per documentation:

[2022-02-15 12:43] psteinweber commented on #21653
Got it. By the way, my prespective is obviously that of a beginner.

So in those docs I would love to learn what the entity ID of my light group will be, ideally with example. "Kitchen Lights" becomes "light.kitchen_lights". As I need to reference that in other places.

[2022-02-15 12:44] frenck commented on #21653
That depends, the entity ID is not guaranteed, you can look them up in Home Assistant once created.

Additionally, when a unique ID is set, you can customize the entity ID to your liking in the Home Assistant frontend.

[2022-02-15 13:46] sillvva opened #21654 "HTML5 Notification Docs"
### Feedback

One thing I noticed is that there is no list of supported action types for html5 notifications.

I noticed that the URI action type doesn't work on Windows notifications. When I created a URI action, the action button just dismissed the notification without doing anything. I would have expected it to open the app (I installed the nabu casa link as an app) to the desired view. When I

[2022-02-15 13:57] Omcsesz opened #21655 "Integrations >> Person missing info about deleting user"
### Feedback

Hello, team!

I`m not able to find info on page https://www.home-assistant.io/integrations/person/ on how to remove a user. Can you please update this page?

### URL

https://www.home-assistant.io/integrations/person/

### Version

_No response_

### Additional information

_No response_

[2022-02-15 14:32] #20737 closed, assigned to nobody

[2022-02-15 15:19] phrz commented on #20631
Hello, this issue is still relevant insofar as I'm unsure if any Roomba team members exist to answer it, and it is an important documentation issue.

[2022-02-15 16:07] pensivealbatross opened #21657 "Unclear how to deal with trial plan, I think"
### Feedback

Hello there,  I'm really confused as I've followed this setup and in quite a vanilla way I think, and yet my API key is now getting

The doc here says that the integration will calculate all this for me and I won't run out.

Have others got this problem or is it just me?   I see that the plans section on transportapi says my plan is trial (expired), I'm trying not to read too much in

[2022-02-15 16:36] psyphin234 opened #21659 "Integration into Home assistant Energy"
### Feedback

Hello,

Thanks for the integration. I cannot select the Growatt sensors while trying to do Energy setup. I only get the lifetime sensors to choose from.

Apparently this needs to be looked at?
https://developers.home-assistant.io/docs/core/entity/sensor/#long-term-statistics

### URL

https://www.home-assistant.io/integrations/growatt_server/

### Version

2022.2.6

### Additional in

[2022-02-16 03:21] scpotter opened #21663 "Frontend config: Unclear how filter building works."
### Feedback

Not intuitive how Inclusion Mode selections work and if it applies to domains, entities, or both. Especially confusing how it relates to "Domains to Include"

<img width="585" alt="Screen Shot 2022-02-15 at 6 37 50 PM" src="https://user-images.githubusercontent.com/5929993/154168252-7d2e7283-a462-4ca3-a310-4d5230043c93.png">

Some possible interpretations of "Domains to Include" when

[2022-02-16 04:09] bdraco commented on #21663
If you feel like taking a shot at improving it, here is the link to edit the strings

https://github.com/home-assistant/core/edit/dev/homeassistant/components/homekit/strings.json

[2022-02-16 11:12] Soepgroenten commented on #21621
I'm Sorry for my late reply, didn't mention your comment.

On Page: https://www.home-assistant.io/integrations/map/
there's a statement that says: "Devices that are currently at home won't show on the map."
![image](https://user-images.githubusercontent.com/85663848/154250916-531f3ea7-5853-45fe-8fc6-2402b63103e9.png)

But there's no explanation to be found why there was chosen to not show devices

[2022-02-16 11:14] frenck commented on #21621
You are looking for a Why that isn't there.

It has been that way historical.

[2022-02-16 11:23] Soepgroenten commented on #21621
Ok Thanks, I understand...thanks for your time and answer, I'll close this one ;-)

[2022-02-16 11:23] #21621 closed, assigned to nobody

[2022-02-16 13:32] povelauskas opened #21668 "Mi flora sensor recognized but not found"
### Feedback

The Mi Flora sensors are visible under Xiaomi Miio integration.
However when selected it asks to manual choose a device type. In the list of available devices no device similar, that could give light, humidity, fertility output.

### URL

https://www.home-assistant.io/integrations/xiaomi_miio/

### Version

2022.2.7

### Additional information

_No response_

[2022-02-16 13:34] tkozel70 opened #21669 "Google Maps redirect"
### Feedback

It appears that all requests to maps.google.com are redirected to www.google.com/maps and resultantly it appears that the cookie file does not work as intended. I tested this via Chrome and Firefox and the behavior appears to be the same on both. In my case, the result was that location tracking does not appear to work.

### URL

https://www.home-assistant.io/integrations/google_maps

[2022-02-16 15:58] LeifGOlsson opened #21673 "Volvo on call"
### Feedback

https://www.home-assistant.io/integrations/volvooncall
Following the URL and edit the configuration.yaml and no succsess.
logg is saying
[log_volvo_on_call.pdf](https://github.com/home-assistant/home-assistant.io/files/8081314/log_volvo_on_call.pdf)
need help to understand so i can make it work in HA.

### URL

https://www.home-assistant.io/integrations/volvooncall/

### Version

202

[2022-02-16 17:38] sblessley opened #21674 "Add Integration prompts for fields but does not explain what their values should be"
### Feedback

When using the "add integration" button at https://www.home-assistant.io/integrations/nut or the "add integration" from Config/Integrations, the integration prompts for a username and password. There is no indication whether this are the HA login credentials, something info I should know (e.g. a default login) or if its  establishing some authentication for the NUT service.

### URL

[2022-02-16 18:37] ollo69 commented on #21674
Because you are configuring NUT integration, this are credentials to connect to NUT service. The right user name and password depend on how you configure NUT service.

[2022-02-16 18:55] branitelj91 opened #21675 "Marantz AV8801"
### Feedback

As far as I was able to use it so far, it works with AV8801 MARANTZ preamp/processor

### URL

https://www.home-assistant.io/integrations/denonavr/

### Version

2022.2.7

### Additional information

_No response_

[2022-02-17 22:23] ScottyGuy opened #21681 "Wrong file path in broadlink integration docs?"
### Feedback

The documentation states:

Should that be

/config/.storage instead?  I cannot find a /configuration directory and if I look there is a /config/.storage/broadlink_remote_macaddr_codes file in my system (seen via web terminal addon)

### URL

https://www.home-assistant.io/integrations/broadlink/

### Version

2022.2.8

### Additional information

_No response_

[2022-02-17 22:47] vilcinskasMidaugas opened #21682 "Lithuanian language is not supported but Google translate it supports"
### Feedback

it says:
Check the [complete list of supported languages](https://translate.google.com/intl/en_ALL/about/languages/) (languages where “Talk” feature is enabled in Google Translate) for allowed values. Use the 2 digit language code which you can find at the end of URL when you click on Language name.

I have chaked  in provided link above Lithuanian  language has "Talk" feature in Goo

[2022-02-18 17:04] chris-in-texas commented on #20660
So as state numbers go, I would like to add what I know here for others:
1 - Not plugged into car
4 - Plugged in but not charging
9 - Plugged in but not charging
11 - Plugged in and charging

Not sure the exact difference between 4 and 9.

Also the "COST" function does reset from time to time, not sure why but will reset to zero for some reason.

[2022-02-18 18:27] TRusselo opened #21687 "Torque does not support https"
### Feedback

This app does not support https, legacy methods of connecting no longer work

### URL

https://www.home-assistant.io/integrations/torque/

### Version

2022.2.8

### Additional information

_No response_

[2022-02-18 18:38] TRusselo commented on #21687
work around found here
https://www.youtube.com/watch?v=ZggbvMXGOxg
requires 4th party app on android device

[2022-02-18 18:56] TRusselo commented on #21687
issue brought up with possible fix to be built into HASS companion app, but dismissed by maintainer.
apperantly there is a way to get working with android "intents"
no documentaion or instrcutions provided.  maybe add intent instructions to torque integration page as dshokouhi says its easy.
https://github.com/home-assistant/android/issues/1408
https://github.com/home-assistant/core/issues/28836

[2022-02-18 20:19] AntBurdin commented on #20705
Hi,
No, there’s no such option in the official App. However the proposed command worked for my dimmer perfectly. It would be grate to get this control in UI for dimmers as we have it for switches.
Thank you!

[2022-02-18 22:23] rytilahti commented on #20705
Hi @AntBurdin and thanks for reporting back, glad to hear it's working! The linked PR should fix this by adding the LED switch also to dimmers!

[2022-02-18 22:54] #21511 closed, assigned to nobody

[2022-02-19 00:53] TRusselo commented on #20577
![image](https://user-images.githubusercontent.com/1154815/154779207-e883f5b0-9001-4904-98eb-e2db3ea8dc04.png)

![image](https://user-images.githubusercontent.com/1154815/154779184-aab95c01-a824-48b0-8e48-81ccd896abbb.png)

im lost too

[2022-02-19 01:41] TRusselo commented on #20577
![image](https://user-images.githubusercontent.com/1154815/154781013-c97aa455-98ae-44ec-a196-6b85346944e6.png)
log entry
Can not load data from *hole: 192.168.1.20:53

the *hole has me raising an eyebrow

[2022-02-19 09:43] ferreto1978 opened #21692 "Climate card, doesn't explain possible values of preset mode"
### Feedback

In the manual it states that there is a "preset mode".
As an explanation, it syas "New value of preset mode." but nowhere can I find what values this can have.
From an example a bit lower on the page, I noticed "eco" is one of them, but it seems to render an error.
From that error I learned I had to use either "none" or "away", so I'm very confused now.
I was hoping it would have pre

[2022-02-19 11:47] meyca opened #21697 "Documentation does not state how to enable color and brightness control"
### Feedback

This part misses the description about how to enable color temperature control and brightness for the other Elgato devices.

### URL

https://www.home-assistant.io/integrations/elgato/

### Version

2022.2.9

### Additional information

What I have done:

1. My Elgato Key Light Air was automatically detected, Wow! :-)
2. I added the device to my homeassistant config

Now I am able to

[2022-02-19 11:50] frenck commented on #21697
Hi @meyca 👋

I'm a little confused about your documentation suggestion, as there is nothing to enable regarding this?

<img width="1091" alt="CleanShot 2022-02-19 at 12 50 07@2x" src="https://user-images.githubusercontent.com/195327/154799554-a65367a3-9ca2-4360-81bf-9e480187b5ea.png">

../Frenck

[2022-02-19 12:49] #21280 closed, assigned to klaasnicolaas

[2022-02-19 15:47] meyca commented on #21697
Sorry, I was confused to, while adding my first device on Homeassistant with a color temperature feature. I had no idea that the additonal control only shows up, when the device is switched on. Additionally I mixed up color temperature and color support...

[2022-02-19 15:47] #21697 closed, assigned to frenck

[2022-02-20 09:51] mastermarkush opened #21706 "wrong metrics in fronius energy values"
### Feedback

Hello, I have discovered that the values provided through the fronius integration have the wrong metrics attached. The "Energy real consumed" is today displayed in kWh, it is however reported in Wh through the integration. The same goes for the "Energy real produced".

Therefore - as a workaround - I need to take the values which are currently reported in homeassistant (9 Million Wat

[2022-02-20 09:58] farmio commented on #21706
Hi 👋!
Do you have anything customized? Your state_class is also not correct. See
https://github.com/home-assistant/core/blob/833cba71d717509e53e9bfee176e4dd3cd21a00f/homeassistant/components/fronius/sensor.py#L311-L317

PS: this is the documentation repository, bug reports for integrations should go in [homeassistant/core ](https://github.com/home-assistant/core)

[2022-02-20 10:22] mastermarkush commented on #21706
Found 2 "messes" from my side: customization set, so that Wh were converted to kWh -> solved
Second thing is that I am still using the configuration.yaml integration. Question: would this explain why my state_class is "measurement" instead of total_increasing?

[2022-02-20 10:42] richardwonka commented on #20811
Has this been fixed? I don’t feel qualified to fix it myself, but a simple fix would be changing one word. - surely worthwhile to get an interface that correlates with reality?

[2022-02-20 10:43] farmio commented on #21706
No it wouldn't. configuration.yaml fronius setup is just ignored as soon as it was imported.
Maybe you configured it before and it was saved for some reason. Don't know.

[2022-02-20 10:59] mastermarkush commented on #21706
in fact, I was still running on a 2021.8.8 version which did not allow Fronius integration via GUI yet. Updating now. Thanks for your support!

[2022-02-20 11:24] #21706 closed, assigned to farmio

[2022-02-20 12:00] #20704 closed, assigned to frenck

[2022-02-20 12:52] FreeBSD75 opened #21708 "Allow self signed certificates by config option"
### Feedback

Hi,

please add an option to allow self signed certifcates by an configuration option.
Probably this would be verify_ssl=None from aiohttp.
Using a none ssl connection is really not state of the art.
Even if I have a own CA where I created the certificate for the VuDuo, python doesen't accept it.
(Hassio 2021 inside a FreeBSD jail)

Thanks

### URL

https://www.home-assistant.io/inte

[2022-02-20 14:58] MiRoCZ opened #21709 "Documentation details"
### Feedback

Would it be please possible to share more information about this integration functionalities. Is it possible to start and stop charging, adjust charging current etc. via this integration ? Few screenshots with available devices/entities/sensor would be also very helpfull. Thank you.

### URL

https://www.home-assistant.io/integrations/tesla_wall_connector/

### Version

2022.2.0

###

[2022-02-20 15:12] PaulFurnival opened #21710 "Initial username / password for GUI"
### Feedback

I followed the instructions at https://www.home-assistant.io/installation/raspberrypi/#install-home-assistant-operating-system to install Home Assistant on  a new raspberry pi 4.  Once intallation was complete I was directed to https://www.home-assistant.io/getting-started/onboarding/

However, nowhere on either page does it say what the default username / password is to access the s

[2022-02-20 15:22] PaulFurnival commented on #21710
Whoops!!!

This installation of Home Assistant was to replace my old one (running on a raspberry PI3).  I used my workstation browser to visit "http://homeassistant.local:8123" but my old PI must have responded before my new PI.  Consequently My browser was accessing the old system which already had usernames setup.  My mistake sorry about that.

(I would like to think the new PI would have respon

[2022-02-20 15:22] #21710 closed, assigned to nobody

[2022-02-20 15:49] 007-DJ opened #21711 "Attempting to add intergration "Hunter Hydrawise""
### Feedback

Following the instructions... Adding  to my config:
hydrawise:
  access_token: 0000-0000-0000-0000
  scan_interval 60
  binary_sensor:
  - platform: hydrawise
  switch:
  - platform: hydrawise

No errors found, but no devices are available for monitoring.
Did I miss something?
Thanks in advance for assistance with integration.

### URL

https://www.home-assistant.io/integrations/hydr

[2022-02-20 18:27] frenck commented on #21708
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-02-20 18:27] #21708 closed, assigned to nobody

[2022-02-20 18:35] TRusselo opened #21713 "Documentation needs wrok"
### Feedback

needs to include networking/dns resolving requirements for non .io users connecting to a separate host.

### URL

https://www.home-assistant.io/integrations/pi_hole/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-20 19:00] #20706 closed, assigned to nobody

[2022-02-20 19:02] frenck commented on #21713
I'm not entirely sure what you mean or try to suggest.
Could you extend your suggestion to make it more clear?

[2022-02-20 19:44] TRusselo commented on #21713
honestly, i dont know. i cant get this to work with the insturcitons provided, with searching,  other people who has the issue, someone else mentions DNS resolving and the issue is resolved somehow.
i dont know.
https://github.com/home-assistant/core/issues/61788

[2022-02-20 20:00] #20691 closed, assigned to nobody

[2022-02-20 21:02] EduardoOliveira opened #21715 "Home assistant supervised only on debian"
### Feedback

Hello,
I could be clearer from the installers page that the supervised edition only works on Debian.

Thank you,
The guy that just installed ubuntu server and is now reinstalling the OS xD

### URL

https://www.home-assistant.io/installation/linux/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-20 21:07] steverep opened #21716 "Expand frontend items in release notes"
### Feedback

I find the release notes very useful, and yes I read them every time.  My only issue is that the frontend changes are not treated equal to core when the automated (I assume) list of pull requests is  published.  In core, each PR gets a bullet making it easy to skim the changes for anything I might care about.  The frontend, however, is rolled up into a single bullet, such as:

or

To

[2022-02-21 00:01] #20714 closed, assigned to fabaff

[2022-02-21 02:32] frenck commented on #21715
You literally skipped step one?

<img width="554" alt="CleanShot 2022-02-21 at 03 30 56@2x" src="https://user-images.githubusercontent.com/195327/154879505-300b1163-81d2-4aad-9e40-adb50e678886.png">

The requirements are extensively described and documented. It's not just Debian that is required.

[2022-02-21 02:37] frenck commented on #21713
I think you are mixing up things, looking at the issue you linked.

<img width="380" alt="CleanShot 2022-02-21 at 03 36 31@2x" src="https://user-images.githubusercontent.com/195327/154879928-a48363ea-ae10-420c-aedf-b19f4743fc5c.png">

Port 53, is the port that runs DNS in Pi-Hole. You are not configuring DNS servers in this case.

[2022-02-21 05:06] melyux opened #21718 "Docs for MQTT Number and MQTT Select's new command_template option need to include the available variables"
### Feedback

Thanks to @jbouwh for implementing `command_topic` for MQTT Select and MQTT Number back in last November. Today I tried them out, and ran into something: the documentation for these two don't include the actual variables that are available to this template. Usually, like with [MQTT Alarm Control Panel](https://www.home-assistant.io/integrations/alarm_control_panel.mqtt/), the docs in

[2022-02-21 08:10] jbouwh commented on #21718
The common variables are documented here:
https://www.home-assistant.io/docs/configuration/templating/#using-value-templates-with-mqtt

[2022-02-21 08:18] kcoffau opened #21720 "5min/30min duration selector"
### Feedback

Hi, the application is pulling in duration of 30mins, but users are billed in 5 min increments.

Can we include an option of selection 5/30 min intervals?

### URL

https://www.home-assistant.io/integrations/amberelectric/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-21 09:08] frenck commented on #21720
This is already possible.

First, disable polling for this integration in the integrations dashboard. Click on the three dotted menu and choose "System options"

![image](https://user-images.githubusercontent.com/195327/154922612-df413afe-76b6-4e7e-b2fa-21eba3cd2ba5.png)

Next disable polling:

![image](https://user-images.githubusercontent.com/195327/154922694-dc1fcda2-dab2-4e0a-b5ef-51c7a5b063a2

[2022-02-21 09:08] #21720 closed, assigned to nobody

[2022-02-21 11:50] NineEighty opened #21723 "UK Transport Integration"
### Feedback

TransportAPI have changed the way their API works (their free plan referred to in the documentation)
Their free tier now only lasts 30 days before expiry, and will require the user to either pay or re-create an application every 30 days.

(Details of changes at link below)
https://www.transportapi.com/blog/2021/08/transportapi-evolves-the-free-offer/

### URL

https://www.home-assist

[2022-02-21 11:52] NineEighty commented on #21657
Hi @pensivealbatross,
TransportAPI changed their API in September 2021 (or announced the changes back then atleast)
I've passed on feedback under issue https://github.com/home-assistant/home-assistant.io/issues/21723

You have to completely recreate the application on the transport api side to get it working again, but this will again be limited to 30 days and will need recreating over and over. I

[2022-02-21 12:50] andiukas commented on #21682
Same problem :(

[2022-02-21 13:03] #20722 closed, assigned to nobody

[2022-02-21 14:23] cliffordwhansen commented on #21713
@TRusselo The PiHole details you are entering here are for the PIHole API, which by default runs on port 80 (443 if you have SSL configured)

PIHole also uses port 53 but that is for the DNS requests and not used by this integration.

Looking at the issue you linked, you said you using unraid, it looks like the container is not exposing the web ports, if you expand the arrow in the bottom right co

[2022-02-21 14:32] cliffordwhansen commented on #21655
@Omcsesz I see that this page needs a lot of updating.

If you have configured the user via the HomeAssistant interface then you can delete the user by going to:
Configuration > People & Zones > _person_
In the modal that pops up there is a delete button in the bottom left corner

[2022-02-21 16:41] TRusselo commented on #21713
@cliffordwhansen @frenck
tired 80 first...  spent 4 hours trying to get this working.

cliff - i think you are on the right track... but i dont know~~!

![image](https://user-images.githubusercontent.com/1154815/154996233-49944b3a-e9c7-4aad-92e9-4da54ff39806.png)
you mean this?

[2022-02-21 18:02] #20705 closed, assigned to rytilahti

[2022-02-21 18:09] TRusselo commented on #21713
dont know what im supposed to do with this information....

step 1 install pihole
step 2 install integration
fail.

[2022-02-21 18:19] lainwir3d commented on #21101
Same here. Model C3X v5.2.5 build 210511.

[2022-02-21 18:41] lainwir3d commented on #21101
Doesn't work with v5.2.5 build 210930 either.

[2022-02-21 19:00] #20728 closed, assigned to nobody

[2022-02-21 19:32] madpilot commented on #21720
Hi @kcoffau,

No one is being billed 5-minute increments yet. Once it is enabled the API will automatically show the 5-minute price.

See: https://help.amber.com.au/hc/en-us/articles/4411273786637-Five-minute-settlement-explained-

[2022-02-21 19:35] madpilot commented on #21720
@frenck this isn't about polling times - it's about price resolution (the API can return the 5-minute or averaged 30-minute price)

[2022-02-21 19:46] frenck commented on #21720
aah but in that case it would be a feature request (or bug), however, you have submitted documentation feedback.

Please check https://www.home-assistant.io/help

[2022-02-21 19:49] Omcsesz commented on #21655
@cliffordwhansen Thanks! So you say that this page will be updated in the near future, right?

[2022-02-21 20:00] #20688 closed, assigned to nobody

[2022-02-21 20:53] Abdull opened #21729 "Documentation for "AVM FRITZ!Box Tools" misses important prerequisite"
### Feedback

The [AVM FRITZ!Box Tools integration](https://www.home-assistant.io/integrations/fritz/) (`integration: fritz`) requires a login. Despite providing the correct credentials, I received errors with setting up the integration.

By coincidence, I found out how to make it work: The Fritz!Box needs to be configured to allow external applications.

To allow external applications, log in via

[2022-02-21 20:58] mib1185 commented on #21729
Hi @Abdull
This is already mentioned in the docs:

TR-064 is the used protocol for application access ( _is also noted in the FritzBox UI_ )

[2022-02-21 21:00] #20683 closed, assigned to nobody

[2022-02-21 21:16] Abdull commented on #21729
No one can deduce this.

[2022-02-21 22:05] #21592 closed, assigned to nobody

[2022-02-21 22:45] erd82 opened #21730 "details about entity requirements"
### Feedback

I could not find anything about entity requirements in the [Home Assistant](https://www.home-assistant.io/docs/energy/electricity-grid/) documentation up to now. Wouldn’t it make sense to document the entity requirement on the Home Assistant documentation?

I just figured out the I explicitly had to define these attributes for my MQTT sensor:
- state_class: measurement
- device_class

[2022-02-22 00:13] chemelli74 commented on #21729
Hi @Abdull, please open a PR and suggest a change for the wording.

Simone

[2022-02-22 02:06] #20924 closed, assigned to nobody

[2022-02-22 04:17] Scm1001 opened #21733 "Whats next?"
### Feedback

Once the file is pushed to home assistant, how can you find it? What is the landing directory?

### URL

https://www.home-assistant.io/integrations/push/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-22 05:18] #20849 closed, assigned to nobody

[2022-02-22 05:19] ddorish commented on #20849
I still think the example is not clear, but I realized what the solution was.

[2022-02-22 05:42] cliffordwhansen commented on #21713
What url do you access PIHole on? I'm guessing http://192.168.1.20?
And what is the IP of your HomeAssistant server?

It might be that they cannot see each other on the network?

[2022-02-22 05:46] TRusselo commented on #21713
yes http://192.168.1.20 is pihole running in a docker on br0 (bridge 0?) on my urnraid server
and http://192.168.1.12 is the unraid server
and http://192.168.1.12:8123 is home assistant docker as a host on the same unraid server
i can browse all from  .14 .16 ,ect, any ip on the same subnet

[2022-02-22 05:51] cliffordwhansen commented on #21713
Since they are running on the save docker let try something.

When setting up PIHole in HomeAssistant, try using `pihole` as the hostname and `80` as the port

[2022-02-22 05:54] TRusselo commented on #21713
Log Details (ERROR)
Logger: hole
Source: /usr/local/lib/python3.9/site-packages/hole/__init__.py:53
First occurred: 10:52:23 PM (1 occurrences)
Last logged: 10:52:23 PM

Can not load data from *hole: pihole:80

TLDR; same result
tried this too
![image](https://user-images.githubusercontent.com/1154815/155071528-ff758e66-0e09-464b-a437-b9ea13b4d15c.png)

[2022-02-22 06:02] cliffordwhansen commented on #21713
Have you tried unchecking the `Verify SSL certificate` option

[2022-02-22 06:03] TRusselo commented on #21713
yes tried all on, all off, ect

[2022-02-22 06:03] TRusselo commented on #21713
ok so its not the documentations... its me! bummer

[2022-02-22 06:14] cliffordwhansen commented on #21713
Sorry man, but yeah, seems like a network issue between your docker containers.
If you install a terminal addon for HomeAssistant (or connect to the container), you can try pinging the PIHole host from the HA container.
Might even be a firewall rule?

[2022-02-22 06:15] TRusselo commented on #21713
thanks, ill head to the unraid forum or discord for assistance.

[2022-02-22 06:15] #21713 closed, assigned to fabaff

[2022-02-22 06:38] cliffordwhansen commented on #21655
@Omcsesz I have added a link to the configuration page which should help a bit

[2022-02-22 07:00] #20731 closed, assigned to nobody

[2022-02-22 07:27] Moonj64 opened #21736 "Times of day documentation for "before" and "after" options are reversed"
### Feedback

The entries describing what the "before" and "after" options specify seems to conflict with the examples given below as well as the functionality implemented.

The "before" option is described as "The absolute local time value or sun event for beginning of the time range." but the implementation of the "before" option indicates the end of the time range (IE the time before this indic

[2022-02-22 07:46] frenck commented on #21733
@Scm1001 Use it?

As in, there isn't much more to it, as the first sentence in the documentation states:

![image](https://user-images.githubusercontent.com/195327/155085736-df1ef72b-a606-428f-8bda-cd517861ca96.png)

It will show up a camera in Home Assistant.

The images file isn't stored on disk, but the image is shown in the camera entity created.

[2022-02-22 08:00] #20681 closed, assigned to nobody

[2022-02-22 08:03] njilk opened #21737 "Question / request: maximum number of octoprint devices allowed"
### Feedback

It seems that I can add only one octoprint instance, however I have multiple 3D printers using octoprint. Did I miss something or is this a limitation of this Integration?

### URL

https://www.home-assistant.io/integrations/octoprint/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-22 09:00] #20674 closed, assigned to nobody

[2022-02-22 10:00] #20667 closed, assigned to nobody

[2022-02-22 10:38] Omcsesz commented on #21655
Thanks!

[2022-02-22 10:41] lsgv opened #21740 "OnCue by Kohler"
### Feedback

I can confirm this integration works with model 14RESA https://kohlerpower.com/en/residential/generators/product/14resa
OnCue data fields which are NA (depends on generator model I guess) appear as 0 which has been documented in a closed issue. This is not a problem as it is easy and straightforward to not show those data fields in HA.
Thanks for building this integration, very helpf

[2022-02-22 11:02] #20664 closed, assigned to nobody

[2022-02-22 12:01] #20663 closed, assigned to nobody

[2022-02-22 12:34] Hedda commented on #21565
FYI, help is wanted to make the text in https://github.com/home-assistant/home-assistant.io/pull/18864 more "readable"

[2022-02-22 13:04] #20657 closed, assigned to nobody

[2022-02-22 13:21] Scm1001 commented on #21733
Do you have an example of how to call or access it in home assistant? Looking to pass it to a DOODS server or call it in Node Red as an example.

[2022-02-22 13:30] frenck commented on #21733
@Scm1001 I'm sorry, your question is a bit unclear. It shows up as a standard camera entity in Home Assistant. Which can be used as input for the DOODS integration? <https://www.home-assistant.io/integrations/doods#configuration>

Or am I missing something?

[2022-02-22 13:34] Scm1001 commented on #21733
Thank you - that helps!

[2022-02-22 13:51] pebblebed-tech opened #21743 "Python Scripts - Needs better instructions"
### Feedback

Do to the lack of clear documentation for a newbie. I have wasted 4 hours.
1. For some reason the name field does not appear in the services gui. Which completely threw me. As I am use to ESPHome services where the fields are displayed. It would be good to show the full YAML. eg service call and name field.
2.  Although there is a note about logs, it could do with being more explicit

[2022-02-22 13:59] frenck commented on #21743
This is documented right here:

https://www.home-assistant.io/integrations/python_script/#documenting-your-python-scripts

Did you find it to be incorrect? Could you describe what the issue is?

I'm confused on this note, there is only 1 Home Assistant log file? Which other one are you referring to, and, it is wasn't the Home Assistant log file: Why did you think it would have been written there?

[2022-02-22 14:00] #20653 closed

[2022-02-22 14:10] rfleming71 commented on #21737
The integration does validation to prevent duplicate Octoprint instances from being added. Try following the steps here on your second instance: https://github.com/home-assistant/core/issues/59216#issuecomment-963224245

[2022-02-22 14:13] zipzagster opened #21744 "Changing Humidity?"
### Feedback

I don't see a choice to change humidity under the Venstar device. Could I get some help on how to make the change? Thanks

### URL

https://www.home-assistant.io/integrations/venstar/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-22 14:15] frenck commented on #21744
The Humidity setting would be part of the climate entity in Home Assistant (and can be set using to the UI, or by using the [`climate.set_humidity`](https://www.home-assistant.io/integrations/climate#service-climateset_humidity) service.

Please note, this feature is only available on the ColorTouch T7900, do you meet that requirement?

[2022-02-22 15:00] #20637 closed, assigned to nobody

[2022-02-22 15:33] zipzagster commented on #21744
Yes, I have the 7900 and the humidity sensor in history. Thanks for the response.

[2022-02-22 15:37] frenck commented on #21744
So this is solved then?

[2022-02-22 15:50] #21744 closed, assigned to nobody

[2022-02-22 17:05] #20711 closed, assigned to nobody

[2022-02-22 17:40] SirRob008 opened #21746 "it is possible to get LongTermStatistik with a Sensor without state_class"
### Feedback

with a Template Sersor is it possible to get longtermstatistic from a sensor without state_class.
My Example:
template:
  - sensor:
      - name: "Luftdruck"
        unique_id: average_pressure
        unit_of_measurement: Pa
        state_class: measurement
        device_class: pressure
        icon: mdi:gauge
        state: >
          {% set temp_press = states('sensor.absolute_p

[2022-02-22 17:47] frenck commented on #21746
So, if an integration or entity is missing support for long-term statistics, we should not document a workaround using templates, we should fix it.

Please report it as an issue in our issue tracker so support can be added for that integration/entity.

The Home Assistant Core issue tracker can be found here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2022-02-22 17:47] #21746 closed, assigned to nobody

[2022-02-22 18:00] #20326 closed, assigned to nobody

[2022-02-22 18:53] SirRob008 commented on #21746
Ok thanksGesendet mit der GMX Mail AppAm 22.02.22 um 18:47 schrieb Franck Nijhof

                    Von: "Franck Nijhof" ***@***.***>Datum: 22. Februar 2022An: "home-assistant/home-assistant.io" ***@***.***>Cc: "SirRob008" ***@***.***>,"Author" ***@***.***>Betreff: Re: [home-assistant/home-assistant.io] it is possible to get LongTermStatistik with a Sensor without state_class (Issue #21746)

the

[2022-02-22 19:00] #20283 closed, assigned to nobody

[2022-02-22 20:00] #20144 closed, assigned to nobody

[2022-02-22 20:22] lintaba opened #21748 "workday sensor, added working days"
### Feedback

Currently `workday` sensor supports workdays/holidays for most of the cases.
Unfortunately I havent found a way to add "extra" workdays to its list, either by date, or by name.
Not sure how it happens in other countries, but in my country sometimes they move a workday to weekends, so another time it can be "merged together" to have a longer weekend.
ie.: `2022-03-26` (Saturday) count

[2022-02-22 20:45] frenck commented on #21748
This isn't possible with the integration at this point. So, that makes this a feature request.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

../Frenck

[2022-02-22 20:45] #21748 closed, assigned to fabaff

[2022-02-22 22:36] JHGBaouns commented on #21609
As update. After update I now get my smart box detected but still get p
 2022-02-22 23:32:21 DEBUG (MainThread) [homeassistant.components.verisure] Could not log in to Verisure, "name='vid', domain=None, path=None"
when I tru to log on.

[2022-02-22 22:37] frenck commented on #21609
Have you read: <https://www.home-assistant.io/integrations/verisure/#2-factor-authentication-prerequisite> ?

Considering your report, is sounds like you have 2FA enabled on your account.

[2022-02-22 23:16] masdak commented on #13274
how to chance the language to pt-br?

[2022-02-23 00:22] bdraco commented on #21740
The api currently doesn't have a way to determine which data should be displayed as `NA`

https://github.com/home-assistant/core/issues/65628#issuecomment-1040423184

[2022-02-23 00:22] #21740 closed, assigned to bdraco

[2022-02-23 01:26] #20742 closed, assigned to dmulcahey, Adminiuga

[2022-02-23 01:55] irowan opened #21753 "Can't add new mill oven"
### Feedback

Trying to add my new 3rd gen oven. Typing the correct ip.  Getting this.

Oven is on 2.4GHz network. The official mill app works with the oven.
I have chosen "no cloud and local api." in the config of the oven.

### URL

https://www.home-assistant.io/integrations/mill/

### Version

2022.2.9

### Additional information

<img width="433" alt="Screenshot 2022-02-23 at 02 51 02" src="ht

[2022-02-23 02:10] irowan commented on #21753
Logger: mill_local Source: /usr/local/lib/python3.9/site-packages/mill_local/__init__.py:89 First occurred: 00:10:28 (2 occurrences) Last logged: 02:50:58
Failed to get status
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/aiohttp/connector.py", line 986, in _wrap_create_connection
    return await self._loop.create_connection(*args, **kwargs)  # type: ignore[ret

[2022-02-23 11:04] frenck commented on #21753
Hi there @irowan 👋

It seems like you want to report a bug with an Home Assistant Core integration, however, you have submitted documentation feedback instead.

Please report issues with integrations here:
<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-02-23 11:04] #21753 closed, assigned to Danielhiversen

[2022-02-23 11:13] cliffkristensen opened #21755 "blank assistant.io/integrations/"
### Feedback

there is nothing

### URL

https://www.home-assistant.io/integrations/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-23 11:16] frenck commented on #21755
Cannot reproduce

![image](https://user-images.githubusercontent.com/195327/155309070-6cde3208-5042-4de2-9c42-0ec8c25a7a41.png)

Can you provide some more information? Like, used browser, operating system, versions and those kinda things?

../Frenck

[2022-02-23 12:06] cliffkristensen commented on #21755
sorry it's something with my, Intrusion Detection in my router opnsense.

[2022-02-23 12:11] #21755 closed, assigned to nobody

[2022-02-23 15:05] #20741 closed, assigned to nobody

[2022-02-23 15:22] ThaDuhFeez opened #21756 "Daily emails because of iCloud integration"
### Feedback

There has been an issue ([#46308](https://github.com/home-assistant/core/issues/46308)) open for over a year now regarding this integration.  Specifically, users who activate the integration receive daily emails (I get 2 per day) from Apple saying:

I am currently trying a suggested workaround to log into the Apple Id website beforehand ([https://appleid.apple.com/account/manage](htt

[2022-02-23 20:05] #20701 closed, assigned to nobody

[2022-02-23 21:00] #18800 closed, assigned to frenck

[2022-02-23 22:27] zipzagster opened #21762 "climate.set_humidity enforced minimum is incorrect in the visual editor"
### Feedback

The slider bar minimum for the service climate.set_humidity in the visual editor should be 0. The minimum is currently 30. The Venstar API does accept the value of zero.

### URL

https://www.home-assistant.io/integrations/venstar/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-23 22:43] mmiller7 opened #21763 "Migration missing information"
### Feedback

The migration states "Write down/copy your Z-Wave network key somewhere, you are going to need it later."

I don't see this listed anywhere in the old integration or my configuration.yaml.  The directions do not state how or where I should look to figure out what this mysterious "key" is, where to find it, or even what format it might be in that I'd recognize if I saw it.

### URL

h

[2022-02-23 22:46] mmiller7 opened #21764 "Z-Wave Migration Doc missing information"
### Feedback

The migration states "Write down/copy your Z-Wave network key somewhere, you are going to need it later."

I don't see this listed anywhere in the old integration or my configuration.yaml.  The directions do not state how or where I should look to figure out what this mysterious "key".

It also does not provide an example or details about what the format of such a key might be to try

[2022-02-23 22:48] mmiller7 commented on #21763
Duplicate, browser crashed.

[2022-02-23 22:48] #21763 closed, assigned to nobody

[2022-02-24 00:01] #20751 closed, assigned to MartinHjelmare

[2022-02-24 00:30] purcell-lab opened #21766 "Undocumented? Breaking Change 2022.3.0b0 - Requirements for custom components not found"
### Feedback

Thanks for the new beta to play with!

Looks like maybe an undocumented breaking change, related to custom integrations and the way upstream libraries are referenced in pip.

https://github.com/pypa/pip/issues/10825

I presume each dependent library will need to fix their pip install dependencies, before the custom component can load.

### URL

https://rc.home-assistant.io/blog/2022/

[2022-02-24 00:36] MartinHjelmare commented on #21764
Here's the documentation for the network key in the old zwave integration:
https://www.home-assistant.io/integrations/zwave/#network-key

[2022-02-24 06:48] frenck commented on #21766
Thanks, @purcell-lab 👍

So, there are two things. 1, is the warning about the HTML doc type, for which you linked the issue. That is not causing problems, just a warning. Going to check if we can fix that on our end.

The dependency conflict show, causing problems installing some custom components, is more a side effect actually. It's caused by Python `pip`s newer resolver.

Those components and p

[2022-02-24 07:13] purcell-lab commented on #21766
This issue looks like another instance:

https://github.com/custom-components/alexa_media_player/issues/1523

[2022-02-24 07:42] piio commented on #21766
Hi,

I have found in my logs another packages which can't be installed after updating to 2022.3.0b0 due to this issue:

2022-02-24 07:41:04 ERROR (SyncWorker_4) [homeassistant.util.package] Unable to install package PyP100==0.0.18: warning: missing-index-doctype

× The package index page being used does not have a proper HTML doctype declaration.
╰─> Problematic URL: https://wheels.home-assistant.

[2022-02-24 07:44] frenck commented on #21766
Please report that with the author of that custom integration. Thanks! 👍

[2022-02-24 09:41] njilk commented on #21737
Thanks for the info. It’s working now :-)

Groeten, Regards,
Ad
On 22 Feb 2022, 15:11 +0100, Ryan Fleming ***@***.***>, wrote:

[2022-02-24 09:46] #21737 closed, assigned to nobody

[2022-02-24 15:02] MiAutomations opened #21778 "Uable to add this integrationn"
### Feedback

I try using the Button   available in this link

[https://rc.home-assistant.io/integrations/radio_browser ](url)

But I'm receiving a error

![image](https://user-images.githubusercontent.com/47602733/155549696-07d5225b-9b7c-49e9-9a39-55c24b3972c7.png)

Can you please verify and help me in order to solve this issue ?

Thank you

### URL

https://www.home-assistant.io/integrations/rad

[2022-02-24 16:05] #20760 closed, assigned to nobody

[2022-02-24 16:45] frenck commented on #21778
Hi there @MiAutomations 👋

It seems like you are having issues setting up an integration and want to report an issue with it, however, you have submitted documentation feedback instead.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks already 👍

../Frenck

[2022-02-24 16:45] #21778 closed, assigned to nobody

[2022-02-24 17:25] smithbill17 commented on #20537
This integration is still not working & is simply not fit for purpose. Tuya should be 'called out' for their inept development & support of this integration.

The 'Local Tuya'' integration is the only one that works & should be adopted as the official HomeAssistant Tuya integration with some form of tool to enable easier device ID & LocalKey discovery.

[2022-02-24 17:33] pebblebed-tech commented on #21743
Hi Frenck,
I have written these comments issue from the perspective of a new user, rather than an experienced user as the page is there to show new users the way
1. To aid new users the example shown in the "writing you first script" section should  have an associated services.yaml extract.
2.  The newbie user would naturally look in the gui log Configuration| Setting | Logs not the actual log fil

[2022-02-24 17:37] dannytsang commented on #21692
@ferreto1978 I believe different thermostats will support different modes. The best way to see what your one supports would be to go to **Developer Tools > States** and enter the entity ID.

Here's an example from mine and there's a attribute called _preset_modes_
![image](https://user-images.githubusercontent.com/567982/155576841-c1e2d48e-4770-4982-a029-a3917a5774e8.png)

The only way I know to t

[2022-02-24 17:41] dannytsang commented on #21674
For me, it's using the upsmon.conf user credentials. See **Create a MONITOR directive for upsmon** section in the [NUT user manual](https://networkupstools.org/docs/user-manual.pdf).

[2022-02-24 17:45] frenck commented on #21743
I get that, yet, I try to ask additional question to understand how you got there and what caused you to waste 4 hours.

From your initial message, the core of the issue isn't clear.

Having a service.yaml file is not needed?

I don't get that comment, as those are the same things?

That said, now you have gained the experience recently, from a new user perspective, it would be great if you would/

[2022-02-24 18:12] dannytsang commented on #21507
@terren272 the first paragraph in your first link states it can be used when

source: https://www.home-assistant.io/docs/scripts/service-calls/

I agree the examples which I don't mind looking into. I can't help you with your sonoffbasic.yaml example because I haven't used gpio integration and you might get a better, more specific help on this if you post on the community site if you haven't done

[2022-02-24 20:01] #20761 closed, assigned to nobody

[2022-02-24 21:45] ferreto1978 commented on #21692
@dannytsang
It seems that I had to define the preset temperatures first.
Then I can swap between these preset modes:
[code]
![image](https://user-images.githubusercontent.com/54818622/155612825-463c615a-5c25-4933-9843-a44f89cfb158.png)

[2022-02-24 21:48] dziadeck47 opened #21790 "Excessive recorder records"
### Feedback

I am just writing to report my finding that the recorded does not recors just entity state, but it adds up e.g. all its attributes
In effect any change in attribute creates additional record which the database needs to process and store, but which cannot be fairly used in history (or anywhere else I am aware of).
As an example my switch.zigbeesonoff entity has hundreds of records dai

[2022-02-24 22:00] #20770 closed, assigned to nobody

[2022-02-24 22:37] balloob commented on #21790
We have moved to splitting all data points to individual entities. So in this case your "link quality" data point should have been a seperate sensor and should have been disabled by default.

`zigbeesonoff` doesn't sound like an integration that is part of core and adapted to this new standards. I suggest you report this to the custom component author.

[2022-02-24 22:37] #21790 closed, assigned to nobody

[2022-02-24 23:01] mmiller7 commented on #21764
Doesn't seem to line up with what I see in my configuration.yaml.  From what I recall when I set up Home Assistant originally it said to leave it blank and it would auto-generate...though I don't see anywhere in the GUI that it tells what it generated.

[code]

Seems like though that link and whatever other info I haven't yet found ought to be added to the documentation for where you find this "ke

[2022-02-25 00:09] MartinHjelmare commented on #21764
Where to find the key depends on the integration you're migrating from and what setup you did when configuring the integration. This will be described in more detail in the respective integration docs and there are also more detailed community guides linked already from the migration docs.

If you're migrating from the Z-Wave integration we recommend using the migration wizard after upgrading to c

[2022-02-25 00:51] mmiller7 commented on #21764
Ah, ok.  I've been dreading the migration (since everything with the legacy zwave is working perfectly) but I've been increasingly worried that I'll get an update and it will be gone leaving me with nothing working and no time to un-break it.

'grep'-ing thru I found something that might be it (looked right) under a hidden folder but trying to put that in the wizard just failed with no error infor

[2022-02-25 02:19] ElderRing commented on #20537
@Lepelot @smithbill17 The Tuya integration is free, you cannot expect too much for a free integration. Currently, it works well on my side. If you don't like it, just give it up and move to another integration, it's that simple.

[2022-02-25 04:58] rockymountainnative opened #21793 "Unclear when query will be run"
### Feedback

It's unclear when the query is run and updated. Unclear on how to trigger the query to be re-run and updated. Currently this appears that it is only run upon server restart.

### URL

https://www.home-assistant.io/integrations/sql/

### Version

_No response_

### Additional information

_No response_

[2022-02-25 06:31] smithbill17 commented on #20537
The minimum to be expected of a free integration, is that it actually works. This Tuya integration does NOT work (you only have to look at the posts & issues raised to verify that). And the reality is that 'features' such as integration to Alexa, GoogleHome & HomeAssistant are built into the price of the product (ie. Tuya SmartPlugs) - so it's not "free".
It's nothing to do with "liking" the integ

[2022-02-25 07:00] Lepelot commented on #20537
Thank you for the comments and advises. I have now moved away from the Tuya integration and I am using Local Tuya with much better rersults.

[2022-02-25 07:00] #20537 closed, assigned to nobody

[2022-02-25 07:07] OmegaX-NL opened #21797 "Add how to get BREL API Key"
### Feedback

Hi,

It took me some time to get how to get the API key from the BREL app. Maybe you can put the info somewhere on the page?

**In iOS, you need to multi-tap on the “version x.x.x(xxxx)” grey info, which is showed at the bottom in the ‘me’ tab (4th tab).

For the Android app, Tap 5 times on the rightside of the photo place (4th tab).**

Kind regards,
Eltjo

### URL

https://www.home-

[2022-02-25 08:21] pebblebed-tech commented on #21743
Hi Frenck,
The core issue was I believed the script was not working, because the log output in the gui did not show messages. But when I looked in the file I found them. Maybe I configuration.yaml is not correct so I dont see all the messages in the gui.
`logger:
  default: info`
This is as per the notes on the page

[2022-02-25 08:21] kellyatkinson opened #21799 "Groups have their own .yaml file"
### Feedback

This documentation page describes groups as part of `configuration.yaml` but I instead see a groups.yaml file in my (latest) HAOS installation. I'm not sure whether to add some syntax (what syntax?) to the groups.yaml file or to the configuration.yaml file. Can this please be made clearer on the page for people who are encountering groups for the first time?

### URL

https://www.hom

[2022-02-25 08:31] frenck commented on #21799
`groups.yaml` is for general groups: <https://www.home-assistant.io/integrations/group>

Which is not the same as light groups.

`groups.yaml` is btw no longer created/used in new installations (to prevent confusion like this).

[2022-02-25 08:37] frenck commented on #21743
![CleanShot 2022-02-25 at 09 36 47](https://user-images.githubusercontent.com/195327/155682812-87c25ca6-16bd-4d68-8027-14de16fecf07.png)

[2022-02-25 08:59] pebblebed-tech commented on #21743
Well as a newbie I assumed that loaded older log entries and entries that had been cleared! So that what the root of the issue not understanding the log mechanisms

[2022-02-25 08:59] #21743 closed, assigned to nobody

[2022-02-25 09:02] dgomes commented on #21793
"Its IoT class is [Local Polling](https://www.home-assistant.io/blog/2016/02/12/classifying-the-internet-of-things/#classifiers)."

That means that sensor is periodically updated (as with **all** poll based sensors in HA)

[2022-02-25 09:02] #21793 closed, assigned to dgomes

[2022-02-25 09:03] kellyatkinson commented on #21799
Thanks, this makes sense.
But my HA installation is about four weeks old! Should I delete the
groups.yaml file (and automations, scripts, and scenes) and remove the
include statements from the configuration.yaml file then? For a new user
this is awfully confusing.

It would be helpful if the documentation page on Groups referred to the
Light Groups page, and vice versa. These also do not appear on

[2022-02-25 09:21] frenck commented on #21799
Yeah, that will do the trick (it has been removed in the previous release, so that was recently done, you just missed that change in your instance :D)

Actually, we don't agree on that. The older groups more generic groups, had a UI function back in the days. Nowadays, they don't add that much anymore (and are actually almost the wrong choice all the time). Platform-specific groups are the better

[2022-02-25 10:15] Rvh91 opened #21800 "lifetime energy output reports zeros"
### Feedback

Hello,

Thank you for making the integration.

For me the "sensor.fmh0a4802f_lifetime_energy_output" entity is actually reporting a zero value between 12PM and approx 6:30AM. Meaning that in my dashboard, I get a huge minus spike at the start of each day, and then a huge positive spike when the sensor reports a non-zero value.

### URL

https://www.home-assistant.io/integrations/grow

[2022-02-25 10:45] skepticautonetic opened #21802 "I get the error "Error setting up platform legacy luci" in the logs."
### Feedback

I get the error "Error setting up platform legacy luci" in the logs.

Logger: homeassistant.components.device_tracker
Source: components/luci/device_tracker.py:54
Integration: Device tracker ([documentation](https://www.home-assistant.io/integrations/device_tracker), [issues](https://github.com/home-assistant/home-assistant/issues?q=is%3Aissue+is%3Aopen+label%3A%22integration%3A+devi

[2022-02-25 11:19] frenck commented on #21802
Have you installed `luci-mod-rpc` as per integration documentation and the error message shown?

[2022-02-25 11:39] frenck commented on #21800
Hi there @Rvh91 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-02-25 11:39] #21800 closed, assigned to nobody

[2022-02-25 12:11] GianlucaCollot opened #21804 "How to configure meter in Consumption path (1)?"
### Feedback

Hi,
I am using the Fronius integration that seems well written and works well for production and consumption.
Unfortunately, if the meter is in the consumption path, it does not provide the value of Energy "returned to grid".
So there is noway to configure this value in the energy dashboard.
Could you add to the documentation this case and explain possible workarounds?

Thank you in

[2022-02-25 12:13] JBoye opened #21805 "Addresses no longer supported?"
### Feedback

It looks like the waze integration no longer supports using addresses as destination, instead of zones or GPS Coordinates

`2022-02-25 13:10:09 ERROR (SyncWorker_4) [homeassistant.helpers.location] Entity sensor.jenny_next_destination does not contain a location and does not point at an entity that does: Amalienborg Slotsplads 5, 1257 København K
`

### URL

https://www.home-assistan

[2022-02-25 13:19] nsolvepaul opened #21806 "Sun offset needs more explanation"
### Feedback

 "offset": "-01:00:00"

is that before or after the sunset?

### URL

https://www.home-assistant.io/integrations/sun/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-25 14:01] farmio commented on #21804
Hi 👋!

I don't know which entities are even available with a consumption path meter. If you have power_flow entities you could do something like this
[code]
and use these as source for a Riemann sum integration.

There is a fantastic forum thread explaining such calculations regarding batteries - I'm sure you can get some inspiration from it: https://community.home-assistant.io/t/howto-fronius-int

[2022-02-25 15:20] GianlucaCollot commented on #21804
Thank you,I prefer to use the values already calculated by the meter
I have available 2 energy values: 

- Consumed Energy (from meter in consumption path):  `sensor.energy_real_consumed_fronius_meter_0_http_192_168_1_xxx`
- Produced Energy (from the inverter): `sensor.energy_total_fronius_inverter_1_http_192_168_1_xxx`

So I built a Template entity with the difference:
[code]
I am waiting to see

[2022-02-25 16:22] farmio commented on #21804
This will decrease its value when you import energy from grid. I think the energy panel expects a `total_increasing` value for grid export and import.

You'd also need a second one to get an ever-increasing `from-grid` state.

Also for some extra resilience you could add an `available` template based on both used states being numeric (not "unknown"/"unavailable").

[2022-02-25 17:03] portigui opened #21808 "YAML example invalid"
### Feedback

I copy/pasted the light group example verbatim into my configuration and I got this:
`Invalid config for [group]: value should be a string for dictionary value @ data['group']['light']['entities']. Got None. (See /config/configuration.yaml, line 137).`
Changing the values to valid entities does not change the error.

### URL

https://www.home-assistant.io/integrations/light.group/

#

[2022-02-25 17:10] portigui commented on #21808
Sorry to bother, turns out it was something on my end.

[2022-02-25 17:10] #21808 closed, assigned to nobody

[2022-02-25 21:53] purcell-lab commented on #21766
tesla_custom dependencies have been fixed.
debot is a bit unmaintained at the moment and has been removed from HACS.

[2022-02-25 21:53] #21766 closed, assigned to nobody

[2022-02-26 04:12] Lx commented on #18257
Still relevant.

[2022-02-26 11:44] otmezger opened #21817 "Cant set icon and unique_id for derivative"
### Feedback

Why can't we set the icon for the derivative in the config file? it also does not support unique_id, which is strange.

### URL

https://www.home-assistant.io/integrations/derivative/

### Version

2022.2.9

### Additional information

I expected to be able to set icon and unique_id from the config file for the derivative integration. In my case, I'm using the derivative to calculate

[2022-02-26 14:18] jon-bondy opened #21818 "clarifications please"
### Feedback

Under "Entries as JSON" I find "Assuming that the log file contains..."

What log file?

And how would the entry in the configuration.yaml file shown know which file is the source of the data.

A lot of this appears to be magical, which means unfathomable to a new user.

### URL

https://www.home-assistant.io/integrations/file/

### Version

2022.2.9

### Additional information

_No

[2022-02-26 15:52] frenck commented on #21818
An imaginary one to set add story to the example.

I'm not sure what you are trying to say with the above? Could you try explaining your comment in different wording maybe?

[2022-02-26 20:00] thekiefs opened #21823 "update camera documentation"
### Feedback

`rtsp_transport: udp` option created in #46623 is not documented

https://github.com/home-assistant/core/pull/46623

### URL

https://www.home-assistant.io/integrations/camera/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-26 22:00] Derweis opened #21827 "incorrect display of current consumption per day in history"
### Feedback

I noticed deviations in history, and this is only with sockets from tp-link, what could it be? Known issue? Fake total consumption per day

### URL

https://www.home-assistant.io/integrations/tplink/

### Version

2022.2.5

### Additional information

I noticed deviations in history, and this is only with sockets from tp-link, what could it be? Known issue? Fake today consumption

[2022-02-26 22:01] Derweis commented on #21827
![Снимок](https://user-images.githubusercontent.com/15996927/155860473-5f5d0fab-f75f-49fe-b0a7-9955aab93c91.JPG)

[2022-02-26 22:08] Derweis commented on #21827
sensor.xxx_today_s_consumption

XXX-name switch

[2022-02-26 22:19] Derweis commented on #21827
![image](https://user-images.githubusercontent.com/15996927/155860868-71643c85-b62e-45e1-930e-dd002a865a40.png)

[2022-02-26 22:39] Derweis commented on #21827
in fact, there is nothing like this in the kasa application, everything is fine there, as with the recorder itself (mariadb from the addon store), there are no problems like this, I ask for help in solving the problem. This is already 3 times, then I completely demolished the addon

[2022-02-27 02:12] xricluc opened #21828 "Assista a "O uso INÚTIL do comando LS" no YouTube"
https://youtu.be/I1d6jPL28lk

[2022-02-27 02:12] xricluc commented on #21828
Ebi

[2022-02-27 07:00] Swamp-Ig commented on #21806
This probably doesn't even belong here, it's [documented here](https://www.home-assistant.io/docs/automation/trigger/#sun-trigger)

[2022-02-27 10:57] flosoft opened #21831 "Tado Smart AC Control V3+ cannot be set to heat/cool/fan"
### Feedback

Tado Smart AC Control V3+ cannot be set to heat/cool/fan. The only command that works is turning the AC off.

### URL

https://www.home-assistant.io/integrations/tado/

### Version

2022.2.9

### Additional information

https://community.home-assistant.io/t/tado-smart-ac-control-v3-cannot-be-set-to-heat-cool-fan/390689

[2022-02-27 17:23] #21828 closed, assigned to nobody

[2022-02-27 18:00] wanderingwonderer opened #21832 "Adding P1 Monitor integrations instructions are insufficient."
### Feedback

Specify what is expected as "Host" value and in what format. Also what the Host is expected to deliver. The "documentation" of this in it's current state is useless. It says "Follow the instruction on screen to complete the set up.", but there are no instructions.

### URL

https://www.home-assistant.io/integrations/p1_monitor/

### Version

2022.2.9

### Additional information

_No

[2022-02-27 18:16] frenck commented on #21832
Sorry, maybe a bit blunt to ask, but I really want to understand: What is unclear about "Host" when connecting Home Assistant to a P1 Monitor instance?

[2022-02-27 18:17] klaasnicolaas commented on #21832
A `host` is the device you want to connect to over a network and a common term. You enter the IP address of the device that runs P1 Monitor.

[2022-02-27 18:20] frenck commented on #21823
This documentation linked it the page on high level options of camera entities, and nog implementation specific details?

The PR linked has nothing to do with the page you are giving feedback on?

Maybe I am missing something?

../Frenck

[2022-02-27 18:23] frenck commented on #21817
Because it hasn't been build and contributed 🤷‍♂️

Anyways, you have submitted documentation feedback. For requesting features, please use our community forum.

thanks!

../Frenck

[2022-02-27 18:23] #21817 closed, assigned to nobody

[2022-02-27 18:34] thekiefs commented on #21823
rtsp_transport: udp is not documented on either the Cameras documentation or the Stream documentation.

Shouldn't all the options & flags be documented somewhere?

[2022-02-27 19:37] frenck commented on #21823
It is? <https://www.home-assistant.io/integrations/generic/#rtsp_transport>

I think you are mixing up integrations

[2022-02-27 19:41] #21823 closed, assigned to nobody

[2022-02-27 21:00] #20825 closed, assigned to nobody

[2022-02-27 22:00] #20828 closed, assigned to nobody

[2022-02-27 23:00] #20827 closed, assigned to nobody

[2022-02-27 23:39] Gonioul opened #21836 "rfxtrx replace device"
### Feedback

Replacing device, at least in the french translation, is the reverse of what it should be.

It let us to believe we should select the new device to configure and then the old to replace.

### URL

https://www.home-assistant.io/integrations/rfxtrx/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-28 00:51] randrcomputers opened #21837 "Rollease integration not reloading after Home assistant reboot..."
### Feedback

Integration don't seem to restart with Home Assistant. If i reboot Home Assistant i need to Manually reload integration then all blinds work fine again. Any ideas?

### URL

https://www.home-assistant.io/integrations/acmeda/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-28 01:16] wanderingwonderer commented on #21832
Thank you, so no http:, just the hostname/ip then. I still don’t quite understand if ”P1 Monitor” is a specific product or what’s required from the host. I think just a tiny bit of further info, like a link to some product info or specs would be helpful in the documentation.

[2022-02-28 02:00] zhizhang123 opened #21838 "USB 无法发现"
### Feedback

根据文档 但是我不理解为什么不能够发现USB设备

### URL

https://www.home-assistant.io/integrations/usb/

### Version

2022.2.9

### Additional information

_No response_

[2022-02-28 02:35] klaasnicolaas commented on #21832
At the bottom of the page is an edit button, anyone can update the documentation 😉

[2022-02-28 02:36] klaasnicolaas commented on #21837
Hi there @randrcomputers 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-02-28 02:36] #21837 closed, assigned to nobody

[2022-02-28 07:27] frenck commented on #21832
Yes, if it was `http://` prefixed, it would not be called "Host", those are called "URLs".

https://www.ztatz.nl/p1-monitor/

To integrate Home Assistant with the P1 Monitor software, it will need a running instance of P1 Monitor, which needs a computer (host) to run on?

There is a link in the first sentence of the P1 Monitor integration page in our documentation. Please check out their project f

[2022-02-28 07:34] frenck commented on #21838
Sorry, we handle documentation feedback only when written in English.

Please re-create the feedback using the English language.

Thanks! 👍

../Frenck

[2022-02-28 07:34] #21838 closed, assigned to bdraco

[2022-02-28 08:13] otmezger commented on #21817
Thanks. Makes sense.

[2022-02-28 10:04] Theskyer opened #21839 "Aborted: Unexpected error"
### Feedback

I've treid the official home energy wizard intergration for Home Assistant but when I enter the IP adres of my P1 meter I get the following error:

![image](https://user-images.githubusercontent.com/96866590/155963591-b68a4b86-56e3-4fca-9671-9a561fc675c4.png)

i've verified the IP adres is correct via the MAC Adres and when I call the API using the webbrowser (http://{IP_ADDRESS}/api

[2022-02-28 10:09] DCSBL commented on #21839
Try to powercycle your P1 meter, If that works it maybe is related to https://github.com/home-assistant/core/issues/66669 and will be fixed in an upcoming firmware-update.

[2022-02-28 10:11] Theskyer commented on #21839
I've tried the powercycle and even completely setup the device again to no avail.

[2022-02-28 10:23] Theskyer commented on #21839
It might be good to know that my p1 meter didn't work on the older core version either....

[2022-02-28 10:38] DCSBL commented on #21839
Is there something to see in the log that maybe helps with debugging? You also can add/update this in `configuration.yml` to see more.

[code]

[2022-02-28 11:45] Theskyer commented on #21839
Done, where can I view the log ?

[2022-02-28 11:53] wanderingwonderer commented on #21832
And there it is. I can’t believe I missed the link - in the first sentence as you said. In dutch though, but there’s always Google translate. (I probably missed a link to an english version to!)
Thank you for your patience guys, and sorry to have bothered you. I’m closing this now.

[2022-02-28 11:53] #21832 closed, assigned to klaasnicolaas

[2022-02-28 11:56] starkillerOG commented on #21797
@OmegaX-NL thank you very much for the feedback.
I will update the documentation to include the instructions for Brel.

[2022-02-28 12:08] frenck commented on #21832
Don't worry @wanderingwonderer 👍

[2022-02-28 12:14] klaasnicolaas commented on #21832
@wanderingwonderer there is no English version, originally it was made for Dutch / Belgian users.

[2022-02-28 12:16] IT-Gipsy opened #21841 "Why is instructions writing so DIFFICULT"
### Feedback

Guys...

it's lovely to find all possibilities and Options.... But I JUST want to be able to see the EVOHOME settings in Home Assistant
(like the temperature etc)
So I can Switch OFF my Heat Pump if the temperature is above 22,5 degrees and On when below 22 degrees

I have to Plow Through Github to find what needs to be loaded where... Why not just write the proper procedure and THEN

[2022-02-28 12:21] frenck commented on #21841
Thanks for the feedback!

(like the temperature etc)

That is the climate entity that shows? Which is a generic entity in Home Assistant?

We welcome contributions to the documentation! So, please, help with making it better. Each page has a link to suggest an edit to every page.

👍

../Frenck

[2022-02-28 12:26] IT-Gipsy commented on #21841
Thanks Frenck,

But I don't even get to integrate EvoHome in Home assistant yet.
I would like to find Simple and plain instructions

- download xxxxx
- open Hoe Assistent
- go to Settings
- Find and open xxx
- copy and paste the downloade info to xxxx
and so on

just Plain and Simple
because at this moment I don't even know where to start
THANKS

[2022-02-28 12:28] IT-Gipsy commented on #21841
Don't understand

[2022-02-28 12:28] #21841 closed, assigned to zxdavb

[2022-02-28 12:45] DCSBL commented on #21839
https://my.home-assistant.io/redirect/logs/

[2022-02-28 12:47] DCSBL commented on #21839
@frenck, can you move this issue to core?

[2022-02-28 12:58] bonanitech opened #21843 "device_tracker still refers to known_hosts.yaml"
### Feedback

This one still refers to the `known_hosts.yaml` file, which doesn't exist anymore

I would create a PR but I'm wondering if simply deleting those references is the correct solution

### URL

https://www.home-assistant.io/integrations/device_tracker/

### Version

_No response_

### Additional information

_No response_

[2022-02-28 15:25] frenck commented on #21839
We generally don't move issues from docs to core, as the issues form for core and documentation feedback is totally different.

This issue should have been closed instead of handled as it was submitted as documentation feedback. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-02-28 15:43] Theskyer commented on #21839
Is this helpfull? (the log you directed me to)

_Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/homewizard/config_flow.py", line 175, in _async_try_connect_and_fetch
    await energy_api.initialize()
  File "/usr/local/lib/python3.9/site-packages/aiohwenergy/hwenergy.py", line 69, in initialize
    if not await device.update():
  File "/usr/local/lib/pyt

[2022-02-28 15:46] DCSBL commented on #21839
@Theskyer, as mentioned by Frenck, please close this issue and reopen one in [here](https://github.com/home-assistant/core/issues/new?template=bug_report.yml). You can reference this issue.

[2022-02-28 15:51] Theskyer commented on #21839
Done as requested:

https://github.com/home-assistant/core/issues/67388

[2022-02-28 15:51] #21839 closed, assigned to nobody

[2022-02-28 19:03] frenck commented on #21766
Small update, I've added a breaking change note to the beta release notes for custom integration developers on the effects of the new Python pip may have on their custom integration.

Thanks for bringing it to my attention @purcell-lab 👍

[2022-02-28 19:58] gdeuss commented on #20896
Sorry about not responding earlier, the issue was resolved by the author and it should be closed

Gustav Deuss
GRD Energy, Inc.
1 Avenue of the Palms, Suite 10C
San Francisco, CA 94130
O 415 891 8824
M 650 291 2569

From: github-actions[bot] ***@***.***>
Sent: Monday, February 28, 2022 10:01 AM
To: home-assistant/home-assistant.io ***@***.***>
Cc: Gustav Deuss ***@***.***>; Author ***@***.***>
Sub

[2022-02-28 21:49] dannytsang commented on #21599
I'm also seeing the same using the example from the documentation. If I did something like this:
`filename: "{{state_attr('camera.front_door', 'friendly_name')}}mp4"`

then it will take the extension as a file name and it will create files like this:
`Front Doormp4`
`Front Doormp4_2.`
`Front Doormp4_3.`

[2022-03-01 00:03] #20852 closed, assigned to nobody

[2022-03-01 02:45] flight2k opened #21852 "Option missing in thermostat lovelace card"
### Feedback

Hi,

The thermostat lovelace card is very good but 1 thing is missing : the min/max limit. If we can but limitation on min max themperature the user can set this card will be perfect.

Thanks

### URL

https://www.home-assistant.io/lovelace/thermostat/

### Version

2022.2.9

### Additional information

_No response_

[2022-03-01 14:26] mcselede opened #21854 "No WIFI cable"
### Feedback

I followed the instructions and used this etcher program to copy the hass programm. I put the SD card then into to Raspberry Pi 3B+. The next step says I should connect the raspberry to mu router using a Lan Cable.
The problem is I have a ASUS wireless lan router but I don't own a fitting wireless lan cable. I searched all over the interweb: your shop, amzoom, ibay, alibubba, I even

[2022-03-01 15:17] frenck commented on #21854
Home Assistant can only be set up when connected via Ethernet.

There is no such thing as a wireless LAN cable...

That is not possible.

[2022-03-01 15:48] frenck commented on #21852
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-03-01 15:48] #21852 closed, assigned to nobody

[2022-03-01 17:29] walshtj opened #21856 "Reference the Note at the end of the page in the 'Configure Filter' section"
### Feedback

Suggest that you reference the 'Note' at the bottom of the page in the first line of the [Configure Filter](https://www.home-assistant.io/integrations/logbook/#configure-filter) section.

I suggest you change the first line of this section from
`By default, no entity will be excluded. `
to something like
`By default, no entity will be excluded - except for entities with assigned unit

[2022-03-01 18:13] mcselede commented on #21854
But the seller on ebay said the Raspberry Pi 3B+ has Wifi and can connect to my ASUS router. Because he lied to me I gave him only 1 star.

How do I use this ether thingy? I know ether is a solvent used in glue. Do you recommend a special brand of glue? And where do I glue Raspberry Pi 3 B+ to? Do I glue it to the router?

[2022-03-01 22:01] ausserirdischesindgesund opened #21858 "Messagebird integrations page does not show logo from "brands", message_bird vs. messagebird"
### Feedback

In the brands repository there is a high quality logo/icon for the messagebird integration, but on the web page for this integration, the placeholder "logo not available" is shown.

Supposedly this is the case, because brands has a "messagebird" directory, but on the website the integration is called "message_bird" with underscore.

### URL

https://www.home-assistant.io/integrations

[2022-03-01 22:10] ausserirdischesindgesund opened #21859 "HDMI-CEC integrations page does not show logo, "hdmi_cec" vs. "hdmi-cec""
### Feedback

The brands repository has high quality logos for HDMI-CEC, but the integrations webpage shows only the "logo not availible" placeholder.

Supposedly this is because the brands repository spells the folder "hdmi-cec" while the integrations page calls it "hdmi_cec" (hyphen vs. underscore).

### URL

https://www.home-assistant.io/integrations/hdmi_cec/

### Version

2022.2

### Addition

[2022-03-01 23:48] BobBob9999 opened #21860 "Need example for tracking amount of time a person spent in a zone"
### Feedback

The documentation states that an example of what can be tracked is "How long you were at home this week", but fails to provide any example configuration for such a thing.

### URL

https://www.home-assistant.io/integrations/history_stats/

### Version

2022.2.9

### Additional information

_No response_

[2022-03-02 01:35] th48178 opened #21862 "no option to change ip in gui"
### Feedback

Hi,

I just moved to a UDM pro from my previous protect setup and I have not found any option to just simply change the ip. It seems like I have to completely delete the integration to change ip, username and or password.

can this be made a simpler option for this plugin.

thanks

### URL

https://www.home-assistant.io/integrations/unifiprotect/

### Version

2022.2.9

### Additiona

[2022-03-02 01:44] th48178 opened #21863 "change ip"
### Feedback

Hi,

I just moved to a UDM pro from my previous network controller setup and I have not found any option to just simply change the ip. It seems like I have to completely delete the integration to change ip, username and or password.

can this be made a simpler option for this plugin.

thanks

### URL

https://www.home-assistant.io/integrations/unifi/

### Version

2022.2.9

### Addit

[2022-03-02 08:34] frenck commented on #21863
Hi there @th48178 👋

You don't need to delete it. Just add a new one (add it again); Home Assistant will recognize it's the same as the existing entry and update it.

This applies to almost all integrations/configuration entries Home Assistant has.

[2022-03-02 09:58] DavyLandman opened #21867 "Add serial forwarder to the network options"
### Feedback

I've made a small project: https://github.com/DavyLandman/p1-esp8266 that uses a small esp8266 and pipes the serial port to any tcp listener.

So it might be a nice addition to the list of [Serial to network proxies](https://www.home-assistant.io/integrations/dsmr/#serial-to-network-proxies)?

### URL

https://www.home-assistant.io/integrations/dsmr/

### Version

2022.2.9

### Addit

[2022-03-02 21:30] andorardo opened #21873 "Error 400: invalid_request due to Google Auth policy change"
### Feedback

In the "Configure OAuth Consent screen" section, the documentation item 6 suggests adding a Test User. But such an option no longer exists in the Google flow. (There is no mention of a "Test User" anywhere in creating the app.)

### URL

https://www.home-assistant.io/integrations/nest/

### Version

2022.3.0

### Additional information

_No response_

[2022-03-02 21:43] andorardo commented on #21873
By the way, I followed the instructions to a T, and get an `Error 400: invalid_request` at the end.

I made sure to select Desktop rather than Web app, and it still gives that error. The only deviation I had from the instructions was that I was not able to add a Test user, since that option is gone. Could that be the reason?

[2022-03-03 02:11] rjing001 opened #21877 "Need more info on the Documentation"
### Feedback

Had to add the Version Integration for to replace Updater in Lovelace.  In the docs you explain how to install (pretty simple, almost overspained it).  But you don't tell us anything about the integration.  What entities does it have? What are their values? Please add those items.

### URL

https://www.home-assistant.io/integrations/version/

### Version

2022.3.0

### Additional inf

[2022-03-03 03:15] allenporter commented on #21873
Hi,

I just went through the oauth consent steps and I see the test user steps and references test steps in the instructions:

<img width="828" alt="Screen Shot 2022-03-02 at 7 06 11 PM" src="https://user-images.githubusercontent.com/6026418/156488963-a9ffd91f-b8a8-4a9d-b292-7d68256f4400.png">
<img width="898" alt="Screen Shot 2022-03-02 at 7 06 21 PM" src="https://user-images.githubusercontent.co

[2022-03-03 03:15] chaseoes commented on #20462
👍

[2022-03-03 03:39] andorardo commented on #21873
Wow, this is what I saw:

![](https://lh3.googleusercontent.com/pw/AM-JKLV8Ubv4qb4XeEONhRCoYOfXPkhOK6QNEYPKIGMW42C75XlfLHZ1-ff9zspLolDDRADkHkBCCd-MxD5uqJri5hC1-P1ZShc-y0Akr316VAJVeq66pp_A__T9h24Wv4eNYlUv9Hasb90qet-npKQIYuQzuBp9vI1W3EfkPTaQUQeCWtUsJ_D9Uhfx9IQkWKskYsciM8Selzqu9E8i9NvtjxfITRpW9nI167t-ZyZN4s_tJRYorzo77uvI1jh-cH_k2Oo7ATVOYu_RnLXJqLDlw7O0LYEBwCuyVIdPSUcTB86Az8QcbCa2XrE3nAqShv6i0OEHjotHM

[2022-03-03 03:45] allenporter commented on #21873
To answer your specific question I think the documentation here is relevant:
https://developers.google.com/identity/protocols/oauth2/production-readiness/policy-compliance#separate-projects-testing-production

However, i've personally never seen this happen. It implies that one of the steps may be out of whack? I'd recommend watching the video, as it shows you how to get this setup within ~18 minu

[2022-03-03 03:56] andorardo commented on #21873
For good measure, I just did everything from scratch. That is to say, I created a brand new project, enabled the apis, added the oauth consent, added the credentials, added the device project_id. All for a completely new cloud project, and I'm still seeing the same 400 error.

I just watched the video and did the whole thing AGAIN, and the same error. The only difference is I put my ids in a secre

[2022-03-03 03:58] andorardo commented on #21873
And the authentication page I'm seeing is slightly different to the one in the video: [authorize your account](https://lh3.googleusercontent.com/pw/AM-JKLWuwUCFheKcAcV-XX1Eq9BtYzT6DWDMgOCCZvSUGfcp0D1H3mllY08OWRQ_Gh8gvt3ibbS4IAFOAOJNCWQdJkJVeDuWVtLL4QajG7d5lzs6lEQQKEit0JIZi9bn-8_cMEca1QiV43V5HNzDJgU97aeDsN-okRLOepTuGfzBBrrqYVp5dQ0-GTN17vpm2I8490bo1aDwAhsR4F_7xrdtKwFJibTlwQt4guaNmTowwOBq6L9V9ao5gNCv

[2022-03-03 04:00] zer010gic commented on #21873
I am also having the same issue trying to configure the Nest Integration with the same kind of error.  I have went through the setup twice now.

[2022-03-03 04:00] zer010gic commented on #21873
Here is the error I am getting as well.

<img width="465" alt="Screen Shot 2022-03-02 at 10 50 31 PM" src="https://user-images.githubusercontent.com/73259984/156493773-0737bf38-cbd5-489f-9b02-7aa2f8cff728.png">

[2022-03-03 04:02] zer010gic commented on #21873
FYI I used my actual google account and not a test account.

[2022-03-03 04:07] zer010gic commented on #21873
SO I got it to work.  I had to put the app back in Testing, Authorize it, get the token etc, and then set it to published.

[2022-03-03 04:31] andorardo commented on #21873
That worked for me too. Bravo Corey, thanks for figuring it out!

[2022-03-03 04:34] allenporter commented on #21873
Just a warning, this likely will mean that your credentials will expire in 7 days. I think we need to figure out the actual problem that you're hitting when in Production.

[2022-03-03 04:53] andorardo commented on #21873
Thanks for the heads up! How can we debug this further?

Could there be a way in which our defaults are different and leading to a different result?

[2022-03-03 05:26] allenporter commented on #21873
Hi, I just created a new totally new device access project and totally new cloud project and just completed setup. I was not able to reproduce this issue.

Are you setting extra options in the oauth consent flow? e.g. a logo or something? I'm out of ideas but i would look out for any extra steps in the oauth consent flow. That was also where you said the test users option was not an option.. howev

[2022-03-03 05:54] andorardo commented on #21873
Initially I reused my existing HA project, because I didn't realize the
process was so brittle.

Since then I have completed two more projects from scratch, literally
following the text in one case and the video in the other. I skipped no
items.

Apparently I'm not the only one seeing this error. :-)

Like I said, all I can think of is that I have some sort of global setting
somewhere from my many

[2022-03-03 06:24] allenporter commented on #21873
I appreciate that view, but I don't have that information.  The current steps have been developed over the last year and a half and improved over 30+ documentation changes based on new feedback where people get stuck.  This is a new state I've never seen before after helping 50 to 100 users of the thousands of users who have set this up, in conversations like this.

May I suggest following the pur

[2022-03-03 10:06] ludeeus commented on #21877
This is at the top of the page?

[2022-03-03 11:53] joaquinvacas opened #21881 "Some radios cannot play but, somehow it's just a HA issue"
### Feedback

Running Home Assistant 2022.3 on a Docker, tried also on latest HomeAssistantOS on a VM from another PC and another network.
Also tried from a personal VPN.

Radio-browser looks good, but when I try to play "Cadena SER Mallorca" which is a Spanish radio, it's stuck keep loading.

Also, if I try to cast the radio it shows this on the logs:

"2022-03-03 12:26:14 ERROR (Thread-12) [home

[2022-03-03 12:31] philou669 opened #21882 "search"
### Feedback

It would be great to have a search button. With this ton of radio stations it is hard and long to find a specific station.

thank you for your amazing work

### URL

https://www.home-assistant.io/integrations/radio_browser/

### Version

2022.3.0

### Additional information

_No response_

[2022-03-03 13:00] Hippe-Lip opened #21883 "Link to image missing"
### Feedback

Nice page with instructions, but the most essential part is missing. the page states "WRITE THE IMAGE TO YOUR BOOT MEDIA", but I've searched everywhere on the site, but couldn't find any suggestion or link to where to find this image! Why does the page start with step 2 and not with step ONE: where to get this image?

### URL

https://www.home-assistant.io/installation/raspberrypi/

[2022-03-03 13:26] zer010gic commented on #21873
Not sure if it helps but I migrated from Hubitat where i had this setup and did not have this issue.  They use a very similar process.  I had already deleted all of the Hubitat related elements from google and the smart device section before starting the workflow for Home Assistant.

[2022-03-03 13:31] andorardo commented on #21873
And just to add another datum: I used to have this working with HA over the
web app, using the same user and Cloud account. Unfortunately I scrubbed
all that in an effort to remove anything that might be interfering with the
current setup.

On Thu, Mar 3, 2022, 8:26 AM Corey Layton ***@***.***> wrote:

[2022-03-03 14:51] aquavass opened #21884 "DLNA Digital Media Server Playlist"
### Feedback

Fantastic integration, is it possible to play the playlist which automatically plays all the songs in the list. Currently it only allows the choice to select and play one song play within the playlist?

### URL

https://www.home-assistant.io/integrations/dlna_dms/

### Version

2022.3.0

### Additional information

If this was to be updated and resolved would be great to have an opti

[2022-03-03 15:21] allenporter commented on #21873
Still trying to think outside of the box on ideas here...
- OAuth Consent screen is usually a place where issues crop up -- e.g. extra data
- A mismatch between the Device Access Console OAuth client id and the Google Cloud console oauth client id. (e.g. every time you create a new oauth client id, it needs to be refreshed in the device access console) however it sounds like that isn't the case he

[2022-03-03 17:21] frenck commented on #21882
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-03-03 17:21] #21882 closed, assigned to frenck

[2022-03-03 20:24] bikeophilipp opened #21888 "Radio browser automation not working with lage radio libraries"
### Feedback

When I want to create an automation with the radio browser to play a certain radio station I cannot create it.
When selecting a radio station from the Radio Browser it always returns to the Overview of Automations and does not safe the recently created one.

I was able to limit this problem to large libraries. Tested out several radio stations from US and Germany and this error happe

[2022-03-03 20:52] JaCoLJcL opened #21889 "Wrong link do PDF"
### Feedback

Hello, link to _DLNA ContentDirectory SearchCriteria_ is actual down (500 serwer error)

### URL

https://www.home-assistant.io/integrations/dlna_dms/

### Version

2022.3.0

### Additional information

_No response_

[2022-03-03 21:57] Xorfor opened #21890 "No API key can be provided"
### Feedback

During the integration set up, no API key can be provided! Is there a way to add this manually?

### URL

https://www.home-assistant.io/integrations/pi_hole/

### Version

2022.3.0

### Additional information

_No response_

[2022-03-03 23:01] joaquinvacas opened #21891 "MAC Address, name or pairing options"
### Feedback

There's no option to set a MAC for the device, not even the name of the emulated bridge.

This causes issues with some apps, for example, Hue Essentials.

(00:00:00:00:00:00 MAC Address + no name)

Also, as the UI doesn't represent a thing about this integration, how can we link this to other devices that request to press a link button?

Other solutions like diyHue use a web UI and h

[2022-03-04 03:13] M1K3SD1 commented on #21873
Just got the same thing. Set it to testing and it worked immediately.
I want to add that I too had a very old HA project that I have removed before starting this. Not sure if it's related.