[2021-10-17 04:13] joel0 commented on #19703
I think linking to the glossary would be great.  I think the Supervisor description there would be very beneficial to people who are just getting started and looking at the comparison chart.

[2021-10-17 07:27] hossamnagy opened #19810 "SNMP Mode of operration requires authentication password and Privacy Password"
### Feedback

When enabling the suggested snmp mode of operation : "SNMPv3 read-write access and v1/v2c read-only access" , the printer asked to setup two password entires; Authentication Password and Privacy Password.
The Home assistant integration does not  allow to configure these passwords.  Now I get the below error after updating the SNMP mode of operation

ERROR (MainThread) [homeassistant.

[2021-10-17 07:54] FrankBurmo opened #19811 "Add-on config 'snapshot_exclude' is deprecated, 'backup_exclude' should be used instead"
### Feedback

In the system-log during boot , this message is displayed:

_Add-on config 'snapshot_exclude' is deprecated, 'backup_exclude' should be used instead. Please report this to the maintainer of AdGuard Home_

### URL

https://www.home-assistant.io/integrations/adguard/

### Version

2021.10.5

### Additional information

_No response_

[2021-10-17 08:12] bartmarchand1 opened #19812 "Additional sale names and coutries for the LK IHC controller"
### Feedback

added:
The controller is sold under other names in different countries - “ELKO Living system” in Sweden and Norway, Gardy Freedom and Schneider Electric IHC Freedom in Europe.

### URL

https://www.home-assistant.io/integrations/ihc/

### Version

2021.10.5

### Additional information

_No response_

[2021-10-17 08:21] CarlosGS commented on #19411
Keeping an eye on Discord and it seems this keeps causing confusion, it would be nice to incorporate this edit to the blog post.

[2021-10-17 09:02] bieniu commented on #19810
The documentation says "For **some** Brother devices, SNMPv3 read-write access and v1/v2c read-only access is the option required". So if the default "SNMP v1/v2c read-write access" works, you don't need to change anything.

[2021-10-17 09:29] hossamnagy commented on #19810
The point here is the option in the documentation for write access requires password configuration . These passwords are not configurable in the integration ..

[2021-10-17 09:32] hossamnagy commented on #19810
I believe either the documentation or the integration need to be changed for both to to correctly align.

[2021-10-17 13:37] frenck commented on #19411
This sounds weird as well... Tags do not trigger automations directly and can be scanned by other apps, authenticated to other systems.

[2021-10-17 14:41] CarlosGS commented on #19411
Did a deeper search in Discord, here are some of the messages to put the problem in context:

The direction is clear, though I agree my edit proposal wasn't too clear x)
Maybe we could do with this leaner version? Open to suggestions here:

[2021-10-17 15:18] HFeenstra opened #19816 "Additional info"
### Feedback

In the section Flashing an Odroid-N2+ I would like to suggest some extra information:

Between:
_The ODROID-N2+ will now boot into a terminal. Select Exit to shell from the menu.

Exit to shell

Use the following command at the console to confirm the storage device node:_

I would like to add:
_**When using the command line, the command line will return: can't access tty; job control

[2021-10-17 15:24] ikifar2012 commented on #19703
Alright, I will create a PR later today

[2021-10-17 15:30] belowthedrone opened #19818 "What if you have tuya and smartlife devices in both apps?"
### Feedback

Not recognizing devices from both apps even if they are configured on the tuya IoT site.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.5

### Additional information

_No response_

[2021-10-17 15:46] frenck commented on #19818
You can add the integration twice?

In case that causes problems, please raise a bug report in the core issue tracker:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

[2021-10-17 15:47] #19818 closed, assigned to nobody

[2021-10-17 15:54] frenck commented on #19411
So what is the catch? Its about security right?

“Tags are not bound to the device that wrote them, any phone can scan them. They contain no private information, authentication, or information about your Home Assistant instance.”

[2021-10-17 15:57] belowthedrone commented on #19818
But I’m receiving invalid authentication error even when placing the correct information and also the following error as well.

Roberto Fernandez

On Oct 17, 2021, at 11:47 AM, Franck Nijhof ***@***.***> wrote:

﻿
You can add the integration twice?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the

[2021-10-17 16:14] frenck commented on #19818
In that case, please file an issue as I mentioned above. Thanks! 👍

[2021-10-17 16:23] CarlosGS commented on #19411
That clarifies it very well :D

[2021-10-17 16:27] lein1013 commented on #19113
This note is maybe more for advanced users? For me it helped.

For the inital configuration I'd recommend to used the external callback AND the internal callback url in the spotify developer settings and AFTER the setup the external can be removed again

[2021-10-17 16:57] frenck commented on #19811
This is not an issue of the Home Assistant project, but with the add-on you linked.

[2021-10-17 16:57] #19811 closed, assigned to frenck

[2021-10-17 17:16] frenck commented on #19792
Hi there @ArdJonker 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

[2021-10-17 17:16] #19792 closed, assigned to nobody

[2021-10-17 17:20] frenck commented on #19785
Hi there @danielccm 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have now submitted documentation feedback instead.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

../Frenck

[2021-10-17 17:20] #19785 closed, assigned to nobody

[2021-10-17 17:21] frenck commented on #19782
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-10-17 17:21] #19782 closed, assigned to elupus

[2021-10-17 17:21] frenck commented on #19783
You can help us with this issue by providing some information about your device.

To do that, please follow the next steps:

- Login into https://iot.tuya.com/cloud/
- Go to the "Cloud" tab in the left menu bar
- Click on the Project Name/Description that you are using for your Home Assistant instance.
- Once on that page, click on the "Devices" tab.
- Find this device in that list and click on th

[2021-10-17 17:22] #19781 closed, assigned to nobody

[2021-10-17 17:24] frenck commented on #19780
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-17 17:24] #19780 closed, assigned to rytilahti

[2021-10-17 18:38] Jottlas opened #19819 "More info in configuration wizard"
### Feedback

I am missing information about what this step in the "configuration wizard" actually means:
![image](https://user-images.githubusercontent.com/35530660/137640482-a3ce2fc3-cb62-4fe2-b638-d51ad9110676.png)
Especially "Autostart" is confusing.

And a more minor thing while we are at it..:
I would prefer "Next" instead of "Submit". "Submit" is too technical and makes you think you are do

[2021-10-17 18:39] maprolim commented on #19742
Same problem here. I apreciate if we have the answers on this: this issue like make the tutorial useless.

@zlinoliver, Can you take a look please?

[2021-10-17 18:45] steenderen commented on #19774
OK, I found something to make it work for me (but still can't explain what is actually happening).

I've found there are two types of sensors available from this integration, the ones starting with sensor.fnh2b11xxx and the ones starting with the username of my account in it. The latter seem to work fine, and I use now the one with total_lifetime_energy_output in the name for the Energy dashboard.

[2021-10-17 18:45] #19774 closed, assigned to nobody

[2021-10-17 19:00] frenck commented on #19742
@maprolim Please don't ping people to get things fixed. They have been already notified above. Patience is key. Thanks for understanding 👍

[2021-10-17 19:02] danielccm commented on #19783
Product Name
Smart Socket-16A
Product Category
cz

[
  {
    "code": "switch_1",
    "value": true
  },
  {
    "code": "countdown_1",
    "value": 0
  }
]

[2021-10-17 19:03] frenck commented on #19819
It actually needs to be removed 😬
Its a leftover (hence the docs have been removed in the past already).

[2021-10-17 19:27] dave-parsons opened #19821 "date class not accepted."
### Feedback

date class not accepted.  Remove and use timestamp.

### URL

https://www.home-assistant.io/integrations/sensor/

### Version

2021.10.5

### Additional information

_No response_

[2021-10-17 19:31] dave-parsons opened #19822 "invalid device classes"
### Feedback

only the following device classes are accepted.

Valid values: "battery", "current", "energy", "humidity", "illuminance", "power", "power_factor", "pressure", "signal_strength", "temperature", "timestamp", "voltage".

### URL

https://www.home-assistant.io/integrations/sensor/

### Version

2021.10.5

### Additional information

_No response_

[2021-10-17 20:00] #18896 closed, assigned to nobody

[2021-10-17 23:00] #18899 closed, assigned to nobody

[2021-10-17 23:44] dmr1987 commented on #19696
I'm just added integration from UI and wrote correct IP. Strip has been identified as "yeelight_strip6".

[2021-10-18 00:10] ikifar2012 commented on #19816
How does this sound?
When using the command line, the it may return the following error:
`can't access tty; job control turned off.`
You can safely ignore this message and proceed with the installation
Also, is that the exact error?

[2021-10-18 00:35] ikifar2012 commented on #19816
I have made some changes and a draft PR
Please take a look at the deploy preview and let me know what you think
https://deploy-preview-19828--home-assistant-docs.netlify.app/common-tasks/os/#flashing-an-odroid-n2

[2021-10-18 05:21] HFeenstra commented on #19816
Hello Mathewson,

That looks pretty clear! Exactly in the way Home Assistant gives warnings.
The first line mentions *the it may…*, I guess that needs to be replaced by *the device may …* ?

Thanks, this helps Noobs like me 😉

Greetings,

Hette Feenstra
The Netherlands

[2021-10-18 05:54] frenck commented on #19822
It sounds like yoi are running an older version of Home Assistant?

[2021-10-18 05:54] frenck commented on #19821
It is accepted here. Are you running an older version of Home Assistant?

[2021-10-18 06:44] GrizzlyAK opened #19832 "Could this be made clearer?"
### Feedback

On [this ](https://www.home-assistant.io/docs/automation/trigger/) page, it appears that the following text and example is true ONLY after an entity's state has changed following a restart or automation reload. If the entity's state hasn't changed since a restart, this trigger will never fire. Based upon reading the text, I believed that it would. We might want to make that clear, or

[2021-10-18 07:36] gitawayu opened #19833 "Might be useful to include information about how to check configuration in an automation"
### Feedback

Might be useful to include information about how to check configuration as a condition in an automation, for example: for an automation that does a regular reboot - so that the reboot can be avoided (and a different action taken) if the configuration check fails.

### URL

https://www.home-assistant.io/docs/tools/check_config/

### Version

2021.10.6

### Additional information

_No

[2021-10-18 07:42] frenck commented on #19833
I'm confused by your suggestion for the following reasons:

- A regular reboot should not be needed?
- Home Assistant restarts are already protected again restarting with invalid configuration
- There is no action to run such a check from an automation

[2021-10-18 07:46] frenck commented on #19833
OMG, I just learned we do have a service for that. Being here for 4 years now, I never knew... can you believe it? It does indicate a bit on how low the use is 😬

[2021-10-18 08:09] ghost opened #19834 "Battery level missing from the integration with VOC"
### Feedback

Hi,

I can't see the battery level in the integration with my car, in particular the parameters from below that are marked in **bold**:

battery_range
**battery_level**
time_to_fully_charged
**battery_charge_status**

I wonder if these appear only if the car is electric, or I can see the 12V battery status by looking at the **battery_level** and **battery_charge_status**. The model o

[2021-10-18 08:17] FlyingHavoc commented on #19675
This new Tuya integration is just another headache :(

I created the cloud app on iot.tuya.com, but I'm unable to authorize later in my Tuya/SmartLife app using QR code from the app.
Just getting the error in the message:
"You cannot scan the QR code to add a device deployed in another data center"

How come?

The app on iot.tuya has permissions for ALL data centers
"China Data Center, Central Eur

[2021-10-18 08:50] bramhendriks opened #19835 "Tuya cover switches not working in new Tuya integragion"
### Feedback

With the new Tuya integration the covers do not seem to be integrated into Home Assistant. I have two Tuya cover devices. I setup the cloud development API platform on the Tuya IoT platform page.

I've added the devices with the APP account (scanning the QR code) and the devices show up under the My Device list.

However when adding the Tuya integration in Home Assistant the devices

[2021-10-18 09:01] atxbyea commented on #19735
https://github.com/home-assistant/home-assistant.io/pull/19836

Like this perhaps @dpawson ?

[2021-10-18 09:04] atxbyea commented on #19696
https://github.com/home-assistant/home-assistant.io/pull/19837

[2021-10-18 09:13] muppet3000 commented on #19774
@steenderen FYI, this should have been logged over in the https://github.com/home-assistant/core/issues section as it's an issue with the integration rather than the UI (I've only just realised this).
Anyway, I believe this issue is actually a duplicate of this ticket: https://github.com/home-assistant/core/issues/56500
which only seems to affect certain types of systems and is really a problem wi

[2021-10-18 09:13] danielccm commented on #19785
@frenck could this be an issue like the other issue I added with the power metering, that the option to dim the light isn't encoded in the device drivers or something?

[2021-10-18 09:15] frenck commented on #19785
@danielccm  This is the documentation repository and this is submitted as documentation feedback. This is not the right place.

That said, I'm currently fully rewriting Light support adding support for the full spectrum, expect it to be finished today.

[2021-10-18 09:17] frenck commented on #19835
This is correct, Cover has not been added to the new version.

This is also noted in the release notes of Home Assistant 2021.10 and in the breaking changes section of 2021.10.

[2021-10-18 09:17] #19835 closed, assigned to nobody

[2021-10-18 09:20] #19696 closed, assigned to rytilahti

[2021-10-18 09:40] danielccm opened #19838 "workday sensor usage if not using sensors in configuration.yaml"
### Feedback

There's only an example of how to code the "workday" sensor using the configuration.yaml file.

In my case I have a few xyz_sensor.yaml files and they all work except for this one, that I get the following error while verifying the server config:

`Platform error sensor.workday - No module named 'homeassistant.components.workday.sensor'`

Ideas?

### URL

https://www.home-assistant.i

[2021-10-18 09:43] frenck commented on #19838
`sensor.workday`

Its a binary sensor, not a sensor.

[code]

[2021-10-18 09:43] #19838 closed, assigned to fabaff

[2021-10-18 09:44] FlyingHavoc commented on #19675
Finally, I was able to login into iot.tuya...
I had to specify ONLY ONE data center, based on the link above
https://developer.tuya.com/en/docs/iot/oem-app-data-center-distributed?id=Kafi0ku9l07qb

For my country it was - "Central Europe Data Center"

So, if you select multiple data center (though this is ALLOWED on iot.tuya) that won't work unless you choose only ONE.

[2021-10-18 10:01] #19735 closed, assigned to rytilahti

[2021-10-18 10:08] atxbyea commented on #19834
All of these are hybrid \ EV only values, will never be produced on a pure ICE car.

[2021-10-18 10:15] ghost commented on #19834
I can see that they might be suitable for an EV/PHEV, and I still wonder if there is any parameter related to the 12V battery that is missing and can be added into the development.

I am sometimes getting warnings on the car’s computer from the dashboard that the audio system will shut down due to lower battery, and I wish I could be able to see the battery’s voltage without using a multimeter or

[2021-10-18 10:15] atxbyea commented on #19769
Is this on proxmox by chance ? If not, what is the base OS, what is the version of KVM and did you specify the UEFI fimware to use ?

[2021-10-18 10:18] atxbyea commented on #19834
If the main battery is not displayed it in the VOC app either it cannot be polled naturally.

There are generally two reasons for battery voltage problems
1. Battery is dying, I suggest buying a AGM battery from Biltema (I see you are swedish)
2. Alternator is not providing enough charge to keep the battery topped up at all times, this is either an issue with the regulator or the brushes, and can

[2021-10-18 10:22] atxbyea commented on #19697
Could you elaborate on "manually updating the RM4C Pro code in the list" @kim2140

[2021-10-18 10:27] atxbyea commented on #18947
The old docs stated the following, does that still work @jimmyeao

`For now, please use the [sp_cli.py](https://github.com/rcastberg/sure_petcare/blob/master/sp_cli.py) from [@rcastberg](https://github.com/rcastberg) to fetch the IDs from the Sure Petcare API. With default setting, the IDs will be written as JSON to `~/.surepet.cache`.`

[2021-10-18 10:34] atxbyea commented on #18988
https://github.com/home-assistant/home-assistant.io/pull/19841

[2021-10-18 10:35] kim2140 commented on #19697
@atxbyea  Currently, I manually uploaded the code in the broadlink while updating supervisor
Please see this youtube clip.
https://www.youtube.com/watch?v=mnUF-dpVvGo&t=673
I just followed this instruction. Thanks,

[2021-10-18 10:46] danielccm commented on #19838
ouch, thanks! Fixed it, works!

[2021-10-18 10:49] atxbyea commented on #19113
what have you actually put in the redirect uri field in the spotify developer console ? And what does it redirect to when you try to connect it @giluriel

[2021-10-18 11:40] flypenguin opened #19842 "how to _update_ fritz!box credentials?"
### Feedback

i changed the credentials for the user which was used by fritz tools. i had to delete and re-add the integration. is that the only way? seems cumbersome.

if there is another way it would be nice to have it documented here.

### URL

https://www.home-assistant.io/integrations/fritz/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-18 11:44] chemelli74 commented on #19842
HI @flypenguin , you should have just waited for the integration to ask for reauth.

Also please take care that this space is for issues, not for support.
For that, please refer to the community: https://community.home-assistant.io/

Simone

[2021-10-18 11:53] danielccm commented on #19785
If you need some testing, give me a shout.

[2021-10-18 11:54] flypenguin commented on #19842
well, there's a "provide feedback" link on the doc page which leads here. and my feedback is that i would have expected that kind of information on the page, so i think it is actually completely valid.

also, there was no asking for re-auth, which might be a support question, so nothing for here.

[2021-10-18 11:55] mrsnyds opened #19843 "How to use the Number and Select Maps in Template integration"
### Feedback

I have two suggestions related to the documentation of the "Template" integration.  My suggestions relate to the use of the Number map and the Select map that are documented in the Configuration Variables section of the doc'.

The first suggestion is to fix the hyperlink that appears in the "On this page" at the top, right, of the page.   The "Configuration Variables" hyperlink doesn

[2021-10-18 12:11] flypenguin commented on #19807
which I - of course - also tried. and which also didn't work. I should have mentioned that, sorry. it does seem to work now (I just wanted to re-create the error message), **still it would be nice to update the documentation** with a concrete example or at least correct that old reference.

[2021-10-18 12:20] steenderen commented on #19774
HI @muppet3000 , looking at the description of home-assistant/core#56500 I think you are right. Sounds like exactly the same issue!

[2021-10-18 12:53] chemelli74 commented on #19807
Sorry, but I miss the place with the old reference. Can you point it out ?

EDIT: Found out and fixed: https://github.com/home-assistant/home-assistant.io/pull/19844

Simone

[2021-10-18 13:04] fcassirer commented on #19675
I found the same, you need to select only one data center.   For me, my assumption is that having previously setup the standard tuya/smartlife app, the app used the Western data center as a behind the scenes default when my devices were configured.   Selecting anything else for the cloud caused them to not show up.  It is not clear if there is a way to make the app select an alternate data center

[2021-10-18 13:32] aperr69 opened #19845 "Trying to add Epson EB-585W to Home Assistant- Connection Failed"
### Feedback

Set-up Projector Management (5.4) and iProjector (V3) and all working fine. Can turn projector on and off etc.

Attempting to add the integration to Home Assistant and completion of Host and Name in characters always give the error Failed to connect after around (4secs). If using the IP address the error message Failed to connect comes immediately.

### URL

https://www.home-assistan

[2021-10-18 14:28] DJF3 opened #19847 "Ability to use the notification "target" field for the msg destination?"
### Feedback

Team,
When I configure "call service" and the Webex Notification service, there's a number of fields.
One of them is "target".
Is that a field that could be used to configure the notification destination? (`roomId` _or_ `personEmail`)

Cheers
DJ

### URL

https://www.home-assistant.io/integrations/cisco_webex_teams/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-18 15:57] felipediel commented on #19697
Hi. This device is already in the dev branch, coming soon.

[2021-10-18 16:24] pszafer commented on #19845
Show logs. I can't tell you anything from information you provided.

[2021-10-18 16:30] frenck commented on #19845
Hi there @aperr69 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-18 16:30] #19845 closed, assigned to nobody

[2021-10-18 16:44] #19807 closed, assigned to chemelli74

[2021-10-18 18:50] cfgroenewald opened #19849 "Decimals"
### Feedback

Would it be possible to see more detailed decimal values for Shelly uni vcc sensor please?

### URL

https://www.home-assistant.io/integrations/shelly/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-18 18:52] thecode commented on #19849
This repo is used for documentations issues, for please create a feature request here:
https://community.home-assistant.io/c/feature-requests/13

[2021-10-18 18:52] #19849 closed, assigned to bieniu, balloob, thecode, chemelli74

[2021-10-18 20:49] capritzl opened #19851 "Foot Warmer Device?"
### Feedback

Does this integration provide access to the foot warmer?  I see the Sleep Number number but nothing else.  I want to setup an automation to turn on the foot warmer if the temperature falls below a certain temp.  There is no device for the foot warmer.

### URL

https://www.home-assistant.io/integrations/sleepiq/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-18 21:01] frenck commented on #19851
It does not support that.

[2021-10-18 21:01] #19851 closed, assigned to nobody

[2021-10-18 21:10] ikifar2012 commented on #19816
Ahh I must have made a typo I was thinking either `the device` or `it may`. I was thinking it because we are talking about the command line on the device not the actual device

[2021-10-18 21:22] lein1013 opened #19852 "Multiple Spotify accounts"
### Feedback

I've upgraded to the Spotify Premium Duo account. Created a second spotify user account and added this to my main account.
In the developer portal I tried to add the user to the existing application, but the `Users and Access` button was still disabled. Hence I added a new Application and there the button was enabled.
So I added the new account and changed the Client ID and Secret in

[2021-10-18 21:23] ikifar2012 commented on #19816
Check out the preview at:
https://deploy-preview-19828--home-assistant-docs.netlify.app/common-tasks/os/#flashing-an-odroid-n2
Changed to `it may`

[2021-10-19 01:07] jofotoo commented on #18999
Wondering if someone could address this (or at least respond)

Also, I recently came across another potential issue: I did a shift swap and worked a day of the week i don't usually work, but i don't think the sensor considered it a workday. Is this expected?

[2021-10-19 02:29] niko123456000 commented on #19675
in Australia with the Smart Life app, I found that my data centre needed to be Central Europe.

On the HA integration setup, I needed to select 'Germany' as the country, otherwise I received the skill id error. The skill id error code suggestion (ensure your app is created after May 25) was not applicable in my case.

Fortunately I only own two low-value Tuya switches (Toppersun), otherwise I'd be

[2021-10-19 02:29] niko123456000 commented on #19675
You can select many data centres. On the app console of iot, you can toggle the data centre. Keep doing this until you find the correct match for your app.

![image](https://user-images.githubusercontent.com/20216236/137833944-3ca16166-5dc2-4b73-9ef5-a9b14e223e67.png)

[2021-10-19 02:49] bdraco commented on #19643
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-19 02:49] #19643 closed, assigned to bdraco

[2021-10-19 07:30] chemelli74 commented on #19842
Usually we don't document main HomeAssistant features in each integration to avoid duplications.

I just changed password and I got the reauth prompt after a while.
Maybe you were just too quick.

Simone

[2021-10-19 08:04] flypenguin commented on #19842
well the while was a couple of days at least, don't know how long i'm supposed to wait ;)

[2021-10-19 08:12] chemelli74 commented on #19842
Indeed to much, here I got the prompt after a few minutes.

I would suggest to close this issue and open a new one on https://github.com/home-assistant/core/issues once you have again the no reauth prompt.

Simone

[2021-10-19 08:15] flypenguin commented on #19807
ah you were faster @chemelli74 ;) . thanks!

[2021-10-19 08:15] flypenguin commented on #19842
if i remember i'll change the credentials and try to replicate, then will do! thanks :)

[2021-10-19 08:15] #19842 closed, assigned to chemelli74

[2021-10-19 09:11] stamendimitrov opened #19858 "Tuya integration of a project"
### Feedback

When I add the integration Tuya, the input fields are different.
I have Username, Password, Country Code and registered app, while lacking the Tuya IoT Access ID and Tuya IoT Access Secret, as it is stated in the documentation.
Possibly I'm doing something wrong, I'll keep on digging.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.6

### Additional i

[2021-10-19 09:57] frenck commented on #19858
Please follow the steps to create an developer account and project as described here:

<https://www.home-assistant.io/integrations/tuya/#create-a-project>

After you did that, you can get those values as described here:

https://www.home-assistant.io/integrations/tuya/#get-authorization-key

[2021-10-19 09:57] #19858 closed, assigned to nobody

[2021-10-19 11:05] nanosonde opened #19861 "KNX states in case of GroupValueRead failure"
### Feedback

The sync_state option is a bit unclear. What exactly happens if "expire" is used, but the KNX group address could not be read due to KNX device failure.
Will the state show something like "unavailable"?

### URL

https://www.home-assistant.io/integrations/knx/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-19 12:48] farmio commented on #19861
The timer is reset on sending the read request. It will be tried again after it expired again. A warning will be logged.

As these issues are very unlikely to happen (unless it's a configuration issue, which should be fixed by the user) it is not very throughly covered.

That depends on the entity type and feature the state_address is for.
Eg. a sensor would keep its value if it already had one. I

[2021-10-19 13:47] stamendimitrov commented on #19858
Right, I did that part, but when adding a Tuya integration I don't have some options.
See image.

![image](https://user-images.githubusercontent.com/30045621/137922927-2f56dd03-1e56-421b-82f1-4864e99cf957.png)

[2021-10-19 14:35] stamendimitrov commented on #19858
An upgrade on the whole system changed the menu to what it should be, apologies.
Thanks for the support,
Stamen

[2021-10-19 15:02] ahbrims opened #19862 "not unique IDs can never be changed in HA"
### Feedback

This page explains what the message "This entity does not have a unique ID" means.  There is no help in sorting this out, like how to set the unique id.
It says "CAN BE CHANGED? Unique ID: No. It is a static identifier."  So I take from this that a unique ID can not be set for my entity that has a non unique ID?
It would be help if this page suggested what can be done.

### URL

http

[2021-10-19 16:01] mjojo1508 opened #19863 "Cover support"
### Feedback

Thanks for this integration. Please support covers. My home assistant routines do not work anymore 😪

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-19 16:05] #18788 closed, assigned to nobody

[2021-10-19 18:23] ikifar2012 commented on #19816
Let me know what you think @HFeenstra and I will mark it ready for review

[2021-10-19 18:53] vkuehn opened #19866 "No sensor.random_sensor available"
### Feedback

the senso.randodom_sensor mentioned in the URL is not always available

### URL

https://www.home-assistant.io/docs/automation/editor/

### Version

2021.10.6

### Additional information

just manually installed HomeAssitant in a virtual env and tried to follow the first steps to create the first automation.

not sure if/how there can be things installed  missing with such an approac

[2021-10-19 19:50] HFeenstra commented on #19816
Matheson, it looks good. Good for a newbie. These kind of errors may confuse new users extremely!

So thank you, let’s go for it 💪

[2021-10-19 20:00] #18925 closed, assigned to frenck, balloob

[2021-10-20 03:36] ikifar2012 commented on #19816
It has been marked ready for review

[2021-10-20 04:44] maceace opened #19868 "Not working properly"
### Feedback

Even if the installation procedure is strictly followed, integration is not functional. Doesn't work!

### URL

https://www.home-assistant.io/integrations/home_connect/

### Version

2021.10.6

### Additional information

Doesn't work.

[2021-10-20 06:38] DavidMStraub commented on #19868
Wrong repository, useless description, suggest to close this.

[2021-10-20 07:14] aribasadme opened #19870 "Unable to turn on Hyperion light from frontend"
### Feedback

When LED Output is enabled on Hyperion server and you try to turn the light off from Home Assistant frontend, it works correctly, and LED Output is disabled. Instead, when you try to turn the light on from Home Assistant, it never turns on the LED Output. I don't even see any reference in the Hyperion log, while when turning the light off I do.

This problem started to show after upg

[2021-10-20 07:37] Kateriine opened #19871 "Service does not work anymore"
### Feedback

The integration can't be found

### URL

https://www.home-assistant.io/integrations/surepetcare/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-20 08:40] frenck commented on #19871
I'm not sure what you mean by that message? Could you clarify your documentation suggestion?

[2021-10-20 08:43] #19868 closed, assigned to nobody

[2021-10-20 08:44] frenck commented on #19868
Hi @maceace 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted a documentation suggestion instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-10-20 08:44] Kateriine commented on #19871
Hello,

Sorry, it seems the feed back button gave you pretty vague infos indeed ^^

Actually I searched the integration of Sure Pet Care, but I can’t find it anywhere https://www.home-assistant.io/integrations/surepetcare/ <https://www.home-assistant.io/integrations/surepetcare/>

The button « Add integration » leads to a 404, andit doesn’t exist in ha config > integration > Add integration.

I ho

[2021-10-20 08:47] frenck commented on #19871
![image](https://user-images.githubusercontent.com/195327/138060364-7e50df52-4b24-4487-87ae-43edf9cd539a.png)

Are you running an older version of Home Assistant maybe?

[2021-10-20 08:49] Kateriine commented on #19871
Oh that’s weird: my version is not that old (core-2021.9.7)

I’m gonna update it and I’ll let you know

Many thanks!

[2021-10-20 08:51] frenck commented on #19871
That should be new enough, any custom integrations related to this one?

[2021-10-20 09:01] Kateriine commented on #19871
Well it seems that was indeed an issue with the version, many thanks for your efficiency! (and many thanks from my cat, too!)

Kind regards

Catherine

[2021-10-20 09:02] Danielhiversen commented on #19871
Config flow was added in 2021.10
https://github.com/home-assistant/core/pull/56127

[2021-10-20 09:03] #19871 closed, assigned to Danielhiversen

[2021-10-20 09:19] frenck commented on #19863
This has been listed in the release notes of Home Assistant 2021.11.

Additionally, this is not really documentation feedback, but a feature request.

[2021-10-20 09:19] #19863 closed, assigned to nobody

[2021-10-20 09:20] Dutchy-79 opened #19872 "Add more cycle please"
### Feedback

Hi,

I would also like to see "past hour" "yesterday" "last month" "last year" etc

regards,

Jasper

### URL

https://www.home-assistant.io/integrations/utility_meter/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-20 09:21] frenck commented on #19862
There is nothing to be done. These features are not available. It requires either coding or in some cases, the device or service simply cannot be identified uniquely.

[2021-10-20 09:21] #19862 closed, assigned to nobody

[2021-10-20 09:21] frenck commented on #19872
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-20 09:21] #19872 closed, assigned to dgomes

[2021-10-20 09:30] dgomes commented on #19872
You can use a "cron" pattern and use whatever imaginable cycle you can think of

[2021-10-20 09:44] frenck commented on #19866
![image](https://user-images.githubusercontent.com/195327/138069942-8262fadb-f4a6-4f55-a037-67523531a91c.png)

You need to set it up, or use any other numeric sensor. It uses a "random" sensor as example.

[2021-10-20 09:44] #19866 closed, assigned to nobody

[2021-10-20 11:47] rophome opened #19875 "Getting error on this integration"
### Feedback

Getting this error

"Retrying setup: Request failed: An update to Mazda app is required to continue"

Looking forward to an update.

Regards
Ronnie Pedersen

### URL

https://www.home-assistant.io/integrations/mazda/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-20 14:33] dermotduffy commented on #19870
This is likely an upstream issue rather than with the integration itself, likely https://github.com/hyperion-project/hyperion.ng/pull/1354 which is merged but not yet in a build. I'd suggest trying a downgrade to alpha.10 ?

[2021-10-20 14:34] dermotduffy commented on #19870
Also, this is the wrong repo for this bug, it should be under https://github.com/home-assistant/core .

[2021-10-20 14:46] DPAmes opened #19876 "Lacks context"
### Feedback

The page describes the syntax for defining Lovelace badges, but lacks sufficient context - in what location can this syntax be found? Keep in mined that people will arrive at this page by direct search for "Home Assistant badges", and will not understand that they need to read through the Lovelace content listed on the right. For example see discussion here: https://community.home-as

[2021-10-20 17:17] Tiwing1 opened #19879 "confirmed motion detection working on model ERI-K104-PR"
### Feedback

with firmware V3.4.100 build 190222

### URL

https://www.home-assistant.io/integrations/hikvision/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-20 18:00] crystal-way opened #19880 "Where is that configuration.yaml file?"
### Feedback

Hello. I'm very new user. Installed just 1 hour ago my first home assistant server on RPi 4. The problem is that i see a lot of information about configuration file configuration.yaml. But where i can find it? Tried to SSH in to RPi, but looks like there is no SSH service running. I have only web access to the home assistant. So how do i edit this file?

Thank you

### URL

https://w

[2021-10-20 18:42] frenck commented on #19880
Its written right on the page you left feedback on:

https://www.home-assistant.io/docs/configuration/#editing-configurationyaml

[2021-10-20 18:55] marcusferbrache opened #19881 "Install Home Assistant Operating System - instructions for installation on Windows"
### Feedback

In https://www.home-assistant.io/installation/windows#install-home-assistant-core I believe the following two lines need to be combined into a single line:

python3.8 -m venv .
source bin/activate

### URL

https://www.home-assistant.io/installation/windows/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-20 20:18] Sredna17 opened #19882 "Yale doorman L3"
### Feedback

Hi!
I just want to feedback that i can control my Yale Doorman L3 so it seems that the August integration supports this lock.
I can connect to my Yale doorman L3 with the August integration and get the possibility to lock and unlock my door. Get battery status, if the door is closed or opened and who was the last user.

Best regards
Anders Sandmark

### URL

https://www.home-assistan

[2021-10-20 21:00] bdraco commented on #19882
We have issues opened against this device that are still outstanding before we can move it to a supported state:

https://github.com/home-assistant/core/issues/54722
https://github.com/home-assistant/core/issues/54348

Its unlikely to reach supported state since none of the codeowners for this integration have access to this device.

[2021-10-20 21:07] kraaidelft opened #19883 "Possible values?"
### Feedback

It doesn't tell what values the boolean can hold. The example uses string "on" while the yaml specs allow only true and false, sinds v1.2
So what values will the boolean return?

### URL

https://www.home-assistant.io/integrations/input_boolean/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-20 22:33] frenck commented on #19883
Either works.

In the end, the entity state is always a string (thus the right example). However, we handle it gracefully.

[2021-10-20 22:33] #19883 closed, assigned to nobody

[2021-10-20 22:58] #19875 closed, assigned to nobody

[2021-10-21 03:48] mezz64 commented on #19879
Thanks for reporting.  I will add to the list in the documentation.

[2021-10-21 05:29] Lx commented on #18257
Still relevant.

[2021-10-21 06:31] bakerboy908 opened #19886 "Add Integration links to wrong integration (Waze linking to Samsung TV)"
### Feedback

The Add integration button on the Waze Travel Time is adding the wrong integration to Home assistant.

### URL

https://www.home-assistant.io/integrations/waze_travel_time/

### Version

_No response_

### Additional information

_No response_

[2021-10-21 06:34] frenck commented on #19886
![image](https://user-images.githubusercontent.com/195327/138223959-4b9b8a45-7941-41df-b825-9f8da337c669.png)

Seems correct?

[2021-10-21 06:49] marcokreeft87 opened #19887 "Error 1013 is missing"
### Feedback

There is a reported bug : https://github.com/tuya/tuya-home-assistant/issues/534
This error code is missing from the docs

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-21 06:53] bakerboy908 commented on #19886
Strange, still not for me.
![image](https://user-images.githubusercontent.com/11485213/138226414-38dfa8a5-f668-4b1f-9c79-c1bec65bf74b.png)
I have also tried in incognito too
Using Chrome

[2021-10-21 06:57] bakerboy908 commented on #19886
Looks like this link is redirecting to different integrations for me.
https://my.home-assistant.io/redirect/config_flow_start?domain=waze_travel_time

Any advice on who i can find out what is causing this?
Tried in edge too.

[2021-10-21 15:13] frenck commented on #19886
That link is perfectly fine.

[2021-10-21 16:09] ToaSD commented on #19648
No test seems to work for me and give a "Connection or login error: please check your configuration" error, however, if I use my local IP rather than routerlogin.net and port 80 I get the additional error (not a different error as the prior persists as well) "Unknown error occurred".  I don't know if it makes any difference but  (Gateway) UPnP/IGD integration is successful. I'm guessing that has n

[2021-10-21 16:16] easuvorov opened #19891 "Please add support for recently released Smartmi Humidifier"
### Feedback

Please add support for recently released Smartmi Humidifier model deerma.humidifier.jsq4 (CJSJSQ01DY). It's a nice little guy who does his job quite decently. It's supported in Mi Home but curently Xioami Miio integration fails to connect to the device.

### URL

https://www.home-assistant.io/integrations/xiaomi_miio/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-21 16:25] bieniu commented on #19891
This is a documentation repository. You shouldn't open issues that target `core` here. Besides, feature requests should be opened [here](https://community.home-assistant.io/c/feature-requests/13). You can tag me in the feature request on the community and I'll try to help.

[2021-10-21 16:25] #19891 closed, assigned to bieniu, syssi, rytilahti

[2021-10-21 16:34] crystal-way commented on #19880
Thank you :)

[2021-10-21 16:34] #19880 closed, assigned to nobody

[2021-10-21 16:46] hmakmur opened #19892 "Add sample Sensor definition specifically for watching Electricity usage, Solar production"
### Feedback

Could you add sample sensors definition needed for this statistics? I have been trying to get my solar production to show up but had not been able to do so since I dont know what is expected.

### URL

https://www.home-assistant.io/more-info/statistics/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-21 17:01] aswdo opened #19893 "How to change unit_of_measurement in history graph?"
### Feedback

Hi, name of entity can be overwritten by name:, but how to overwrite unit_of_measurement as e.g. „nb“?

Thanks for your support!

Achim

### URL

https://www.home-assistant.io/lovelace/history-graph/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-21 17:22] starkillerOG commented on #19648
@ToaSD do you have the trace log of the "Unknown error occurred"
Are you sure you are using the correct username and password for the router?
Did you have the netgear integration setup earlier or is this the first time you try it?

[2021-10-21 18:43] koskila commented on #18838
I don't think this was as clear-cut as I thought. I got upgraded to 500 after a while too. This can probably be closed as-is :)

[2021-10-21 18:43] #18838 closed, assigned to raman325

[2021-10-21 20:11] koskila commented on #19725
This is a fair point, but I'm not sure if that file is the right place to add that information - templates can be used for multiple different use cases, and depending on what you're trying to do (and to an extent, how you've decided to order your files), the template would go to a different file.

For example, [Template-integration's docs](https://www.home-assistant.io/integrations/template/) go i

[2021-10-22 03:39] LA-cctv opened #19897 "According to the installation operation on the official website, the installation error is reported, and the same problem occurs when installing the latest version or the old version on Pi4b! !"
### Feedback

21-02-02 17:19:06 INFO (MainThread) [supervisor.host.sound] Updating PulseAudio information
21-02-02 17:19:06 INFO (MainThread) [supervisor.host] Host information reload completed
21-02-02 17:19:34 WARNING (MainThread) [supervisor.jobs] 'Updater.fetch_data' blocked from execution, no supervisor internet connection
21-02-02 17:19:34 WARNING (MainThread) [supervisor.homeassistant.core]

[2021-10-22 04:19] stuarts0011 opened #19898 "Installation of integration fails with API Key"
### Feedback

The integration does not accept the API key generated from the Amberelectric dev website

### URL

https://www.home-assistant.io/integrations/amberelectric/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-22 05:08] madpilot commented on #19898
Can you email info@amber.com.au with your account info? I'll need it to troubleshoot.

[2021-10-22 05:20] madpilot commented on #19898
Account has no active sites, need to show error message when that occurs.

[2021-10-22 05:32] madpilot commented on #19898
Will also update HA docs to include note about requiring an active site

[2021-10-22 07:35] LA-cctv commented on #19897
Can anyone help me

[2021-10-22 08:44] stuarts0011 commented on #19898
Why not enable former clients to monitor?

On Fri, 22 Oct 2021, 4:32 pm Myles Eftos, ***@***.***> wrote:

[2021-10-22 08:58] frenck commented on #19892
This page is not about sensors?
Statistics is something the integration needs to support, to adjust an integration, please consult the developer documentation.

[2021-10-22 08:58] #19892 closed, assigned to nobody

[2021-10-22 09:05] frenck commented on #19887
Could you provide full error details on this?
Like logs?

[2021-10-22 09:09] madpilot commented on #19898
Privacy - we have no way to know if you still live at that house.

The fact you can still see it in the app at the moment is a bug.

[2021-10-22 09:16] marcokreeft87 commented on #19887
There is no log entry in the log. It says "Aanmeldingsfout (1013): request time is invalid"

[2021-10-22 09:22] marcokreeft87 commented on #19887
Ah I've resolved it. The time on my NAS wasnt correct.

[2021-10-22 09:22] #19887 closed, assigned to nobody

[2021-10-22 09:24] frenck commented on #19887
Oh, then SSL will become an issue! Nice find and glad you got it resolved.

[2021-10-22 10:32] Xiondewah opened #19902 "Shopping List - Sort Order"
### Feedback

It would be great to be able to sort these alphabetically

### URL

https://www.home-assistant.io/lovelace/shopping-list/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-22 10:43] frenck commented on #19902
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-22 10:43] #19902 closed, assigned to nobody

[2021-10-22 12:29] dobytunn opened #19905 "iCloud Recofiguration"
### Feedback

When I restarted HA today the iCloud integration is asking to be reconfigured.  After I enter my password I never get the verification code from apple until I restart HA and then the code doesn't work.  I have looked in my config for the .storage and do not have one, I also searched for a iCloud folder and I do not have one either.

Is there another fix for this?

### URL

https://ww

[2021-10-22 13:05] #18941 closed, assigned to bdraco

[2021-10-22 16:15] frenck commented on #19905
Hi there @dobytunn 👋

It seems like you want to report an issue with an Home Assistant integration, or a looking for support; However, you have submitted documentation feedback instead.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [

[2021-10-22 16:15] #19905 closed, assigned to Quentame

[2021-10-22 17:13] Persisto60 opened #19907 "Mochad"
### Feedback

I think that

as mentioned in the documentation is not correct:
I'm starting with HA 2021.10.6 Supervisor on a Raspberry Pi. I have installed mochad on the Rasberry Pi separate from Home Assistant.  and can access it via Putty on 192.169.0.80  The "localhost" for the HA container is 172.30.33.0.  (Ifconfig from the HA terminal) and the suggested conguration does not work. I am not fa

[2021-10-22 18:32] iotemylabs opened #19908 "Update to include Instructions for Nabu Casa users"
### Feedback

Updating the documentation for the Flash Briefing API to include instructions for the Nabu Casa users :)

### URL

https://www.home-assistant.io/integrations/alexa.flash_briefings/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-22 20:00] #18177 closed, assigned to nobody

[2021-10-22 20:05] frenck commented on #19908
This won't work with the Home Assistant cloud features.
You can use the manual instructions on that page, while using the Home Assistant Cloud Remote UI URL.

This indeed can be clarified on the page referenced.

[2021-10-22 20:06] averdion opened #19910 "This tutorial is outdated, many of the Tuya's services are no longer avaliable"
### Feedback

Trying to configure Tuya iot I am having problems that the tutorial cannot solve.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-22 20:38] frenck commented on #19910
Could you be more specific? This documentation is not even 3 weeks old and seems up to date.

Are you running the latest version of Home Assistant?

[2021-10-22 21:05] nelgmo opened #19911 "Correct sensors to use when configuring the (native) Energy dashboard in HA ?"
### Feedback

I would like to know what are the correct sensors to use when configuring "Grid consumption" and "Return to grid" in the Energy dashboard.

It is not clear to me what sensors to use when configuring the costs and money back.
Since you have the following sensors:
- sensor.accumulated_consumption_<name>_cost
- sensor.accumulated_production_<name>_compensation

I would expect to be able

[2021-10-22 22:33] YANG-Mingcong commented on #19675
I find out there is a problem:
in this page [https://www.home-assistant.io/integrations/tuya/#28841105-no-permissions-this-project-is-not-authorized-to-call-this-api](https://www.home-assistant.io/integrations/tuya/#28841105-no-permissions-this-project-is-not-authorized-to-call-this-api) it shows we have to subscribe a service which called :"Smart Home Devices Management".

But in IoT Tuya Platfor

[2021-10-23 03:47] ikifar2012 commented on #19897
I don't think this is a docs issue but it seems like this is a problem with your Pi's internet connection

[2021-10-23 05:21] stuarts0011 commented on #19898
I can't see usage. Just the current price?

On Fri, 22 Oct 2021, 8:10 pm Myles Eftos, ***@***.***> wrote:

[2021-10-23 05:51] madpilot commented on #19898
Usage isn't supported in home assistant yet, as we don't provide it in real-time.

We are working on being able to add it retrospectively, but that requires some change to the home assistant recorder

[2021-10-23 06:09] GrizzlyAK opened #19914 "Can't find Binary Sensor page via Search"
### Feedback

If I do a search for Binary Sensor, Binary, or Sensor, Search results never show the Binary Sensor page in the results.  I've noticed this on other pages as well. The title of the page (or the URL) should ALWAYS appear in the searches.

### URL

https://www.home-assistant.io/integrations/binary_sensor/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-23 09:26] dpawson opened #19918 "Home Assistant Cloud"
### Feedback

There is nothing on this page about setting up HA cloud?
Links to features / pricing
and
HA setup?

Where is the HA cloud setup documentation please?

### URL

https://www.home-assistant.io/cloud/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-23 09:27] frenck commented on #19914
![image](https://user-images.githubusercontent.com/195327/138550850-ccb1c383-d06c-42ae-b109-65cecfcc918a.png)

![image](https://user-images.githubusercontent.com/195327/138550859-fa8ec1a1-c7fc-4e68-94b2-d3e3bd57979b.png)

Seems to work?

[2021-10-23 09:29] frenck commented on #19918
The page writes and links:

![image](https://user-images.githubusercontent.com/195327/138550875-22bf13fd-536e-4dbb-b787-3bf50e28cd44.png)

All of your suggestions and questions are answered on these linked pages.

[2021-10-23 09:29] #19918 closed, assigned to nobody

[2021-10-23 09:31] frenck commented on #19897
Thank you for reaching out. It seems like you are in need of support, however, you have submitted a documentation feedback form instead.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-10-23 09:31] #19897 closed, assigned to nobody

[2021-10-23 09:52] dpawson commented on #19918
Usual response. "It's good enough for Frank"?
All it does it link to advertising and the general HA documentation?

[2021-10-23 09:56] frenck commented on #19918
It's not about being good enough for me, all information is on the linked pages.

We don't add pricing information for other products or services in the Home Assistant documentation either.

As a matter of fact, this was changed in the past because of maintenance reasons. So you are actually looking at something that was changed from what you are suggested for other reasons.

Hence, we are ok with

[2021-10-23 10:00] #18959 closed, assigned to nobody

[2021-10-23 10:58] Tom-ahawk opened #19919 "Flashing an ODROID-N2+: Documentation steps to succeed"
### Feedback

The docs are not precies enought.

**Flashing an ODROID-N2+**

Change the following:
"Connect a USB keyboard and HDMI connected monitor to your ODROID-N2+, and then connect power."

to

**Enabling SPI boot mode**
"1. Remove the power cord the ODROID-N2+
 2. Toggle the ODROID-N2+ boot mode switch from MMC to SPI.
 3. Connect a USB keyboard and HDMI connected monitor to your ODROID-N2+

[2021-10-23 11:20] samimasad opened #19920 "calculation of Adhan time"
### Feedback

Hi
I  just do not know where do you set the location for the Adhan calcualtion because it is not part of the config and it is wildly wrong from my side

### URL

https://www.home-assistant.io/integrations/islamic_prayer_times/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-23 12:37] matteocostantini commented on #19375
Hi,
I’ve create an home+control account for my living now environment… perfectly working!

well, i’ve follow instructions for integration enable. Starter kit api (primary key and secondary key, im using primary) and new application as described in official guide. Then i ve configure configuation.yaml, enable third party access in home + control app and voilà: i see my 2 nlp module (2 washing machi

[2021-10-23 13:04] #18225 closed, assigned to nobody

[2021-10-23 13:09] module0x90 opened #19921 "asterisk_mbox: Works, with minor adjustments"
### Feedback

Thank you for this module.

I have some feedback though:

- On my Asterisk version (FreePBX 14.0.16.11 with Asterisk 13.38.3) the DB is asteriskcdrdb and the table is cdr still.
- I did create an Google API key for Cloud Speech-to-Text API, but I am getting a "Could not request results from Google Speech Recognition service; recognition request failed: Unauthorized." Though my key is

[2021-10-23 13:40] sdknij opened #19923 "Change in price structure"
// wrong module //

[2021-10-23 13:45] frenck commented on #19920
The integration picks up the location setting from Home Assistant itself.
You can configure those coordinates in the general settings of Home Assistant.

[![Open your Home Assistant instance and show your general Home Assistant settings.](https://my.home-assistant.io/badges/general.svg)](https://my.home-assistant.io/redirect/general/)

[2021-10-23 13:45] #19920 closed, assigned to nobody

[2021-10-23 18:43] GrizzlyAK commented on #19914
No, sorry. I didn't mean there. I mean using the search function at the top right of [this ](https://www.home-assistant.io/)page. If you put Binary in that search field, you don't see the page I referenced above. I DO see Binary Sensor Group though.

I wouldn't normally search for help on the Integrations page, unless I KNOW for sure something is an Integration, and I hardly ever know that for sur

[2021-10-23 19:26] #19923 closed, assigned to nobody

[2021-10-23 19:26] sdknij commented on #19923
Nothing wrong.

[2021-10-23 20:45] stuarts0011 commented on #19898
Sure. What I mean is that there is no privacy issue allowing former
customers to use the integration. It's just pricing data, not site usage.

On Sat, 23 Oct 2021, 4:51 pm Myles Eftos, ***@***.***> wrote:

[2021-10-23 21:29] madpilot commented on #19898
The limitation is at the API level (there are some legacy technical reasons for this)

We are going to add demo accounts soon (once we sort out those limitations) that will allow you to do what you want to do.

----------------------------------------------
Myles Eftos
Mobile: +61-409-293-183
On 24 Oct 2021, 07:46 +1100, stuarts0011 ***@***.***>, wrote:

[2021-10-24 01:03] santibur06 opened #19932 "Measurement Units configured in Dashboard are not the same ones in HA"
### Feedback

I've changed the measurement units all to Metric/Celsius, etc. in my Ambient Weather's website dashboard but when I set up the integration in HA it defaults to Imperial, i've tried changing them back and forth, creating new API and App keys, deleting and re-adding the integration and nothing has helped.

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/931

[2021-10-24 04:26] BarryMar opened #19934 "Notes on preparing the JeeLink hardware and usage of this Integration"
### Feedback

A link to the instructions on how to prepare the JeeLink module would probably be useful.  Since it's in the German Wiki and Home Assistant docs are English, here's a Google Translate:

https://wiki-fhem-de.translate.goog/wiki/JeeLink?_x_tr_sl=de&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=nui,sc

Most important section is:

------------ snip ------------

In order to be able to use the JeeLin

[2021-10-24 09:11] frenck commented on #19932
Hi there @santibur06 👋

It sounds like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-24 09:11] #19932 closed, assigned to bachya

[2021-10-24 11:34] PoOoZaQ opened #19946 "Climate integration for sensibo wrong hvac_mode referemce"
### Feedback

The documentation for [Climate control of Sensibo](https://www.home-assistant.io/integrations/sensibo/) devices references using:
[code]

Doing that causes following error:
[code]

Aligning the turn_off switch to how the turn_on does it, fixes it:
[code]

### URL

https://www.home-assistant.io/integrations/sensibo/

### Version

0.44

### Additional information

_No response_

[2021-10-24 17:16] OzanDost opened #19947 "mieu01 Manual Alarm Triggering"
### Feedback

I'm trying to use my non-mi sensors to trigger my mi hub's siren but I can't seem to manually trigger the alarm. It's an european version gateway (lumi.gateway.mieu01)

### URL

https://www.home-assistant.io/integrations/xiaomi_miio/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-24 17:39] frenck commented on #19947
hi there @OzanDost 👋

It seems like you are in need of support, however, you have submitted documentation feedback instead.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

../Frenck

[2021-10-24 17:39] #19947 closed, assigned to bieniu, syssi, rytilahti

[2021-10-24 18:22] PatrickGlesner opened #19949 "Broken link"
### Feedback

Broken link "OS-Agent" in "Diagnostics" section.

Best regards,
Patrick.

### URL

https://www.home-assistant.io/integrations/analytics/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-24 21:30] GPrince00 commented on #19919
@Tom-ahawk , Is it just makes this simple text changes?

[2021-10-25 09:47] Tom-ahawk commented on #19919
As the N00b I am, I used a couple hours not getting the N2+ to appear as a hard drive on my PC. Did eventually find a post in the HA forum where others have had the same problem and the solution explained, - the USB-USB Mini cable must be hooked up between the N2+ and the PC **before t**he N2+ is powered on.
Would think this eliminates a lot of frustration for N00bs starting with N2+.

[2021-10-25 12:33] DTTerastar opened #19960 "Withings w/ nabu casa"
### Feedback

How the heck do you configure this with nabu casa?  I can't get it to work and it'd be nice to include a config in the documentation w/ nabu casa setup.

### URL

https://www.home-assistant.io/integrations/withings/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-25 17:28] Flaming-crossbow opened #19964 "using tracker with Huawei HG659"
### Feedback

I am missing what one should do when one wants to follow the example with different parameters.
The example shows a Netgear router for example but i have a Huawei HG659 router. How do i figure out how to make use of the device tracker with a huawei router?

the second thing i am missing is an example of what ends up on the dashboard when the example was followed incorrectly.

### URL

[2021-10-25 18:01] frenck commented on #19964
The example on the page you linked, is a random example to give an idea of what device_tracker does/is.

If you want to configure your device, you need to see if there is an integration for it that supports your device. You can find all our integrations on this page: <https://www.home-assistant.io/integrations/>

[2021-10-25 22:36] kbray0009 opened #19973 "Sensor definitions"
### Feedback

Hey I'm new to this, and I would appreciate a little more detail around what the sensors are measuring. Thanks.

### URL

https://www.home-assistant.io/integrations/powerwall/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-25 23:10] frenck commented on #19973
I'm not sure what kind of details you are looking for, isn't this enough?

![image](https://user-images.githubusercontent.com/195327/138783021-01463d1d-4879-4928-b518-0fb2a5c5d0ce.png)

If not, could you try to explain what you'd expected?

[2021-10-26 00:38] nrichards0000 opened #19974 "hue accessories"
### Feedback

It is unclear to me if we must have the Hue "Hub" device to control Hue Accessories.

For example can I just buy Hue motion sensor and add it or can I only add the hub and subsequently the devices?

thank you

### URL

https://www.home-assistant.io/integrations/hue/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-26 01:08] kbray0009 commented on #19973
Specifically, I don't know the different between Site and Load. Thanks!

[2021-10-26 03:05] cralwalker opened #19977 "Some versions no longer seem supported"
### Feedback

[Newbie warning]

Hi, would it be possible to update this document? I have tried to update versions myself and got into a knot, not able to successfully install Home Assistant.

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-26 05:03] balloob commented on #19974
The first sentence on the linked page mentions you need a Hue bridge: (emphasis mine)

[2021-10-26 05:03] #19974 closed, assigned to frenck, balloob

[2021-10-26 06:48] frenck commented on #19973
Site is what Tesla calls Grid in their mobile app, and I think Load is what is called Home in the mobile app. But I can't verify that (don't own a Powerwall).

[2021-10-26 07:30] frenck commented on #19977
This document is up to date.

I would help if you could tell us a little more about the problems you have been experiencing.

[2021-10-26 08:58] sir90ha commented on #19675
did not create a new thread of the question, but in truth the Tuya integration does not work correctly.  Here's an example: the list indicates support for the air conditioner, but when authorizing in the integration, the air conditioner is not observed.  as well as smart ir tuya.  I saw only 5 out of 10 available devices.
https://vfl.ru/fotos/99b9a84236420015.html

[2021-10-26 10:43] Flaming-crossbow commented on #19964
okay thanks, another "new to HA" question: if my device is not supported in the current integrations what would be the next step? i was thinking to raise a request on the community.home-assistant and contact the developers behind the Huawei LTE and Huawei Router integrations to ask what is needed to get the Huawei HG659 routers supported. Would that be a logic step? I like HA but i am really havin

[2021-10-26 10:44] WeR-Best opened #19981 "Data cannot be updated continuously"
### Feedback

The data can only be updated continuously for a few hours, after which real-time data cannot be obtained.

This question started on the weekend
core-2021.10.6
supervisor-2021.10.6

### URL

https://www.home-assistant.io/integrations/atome/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-26 10:46] frenck commented on #19964
If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-26 10:46] #19964 closed, assigned to nobody

[2021-10-26 11:11] frenck commented on #19981
Hi there @ideatechfr 👋

It sounds like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. We cannot fix such an issue by adjusting the documentation.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-26 11:11] #19981 closed, assigned to nobody

[2021-10-26 11:53] Flaming-crossbow opened #19984 "Using tracker with Huawei HG659 router"
### Feedback

Are there plans to add support for the Huawei HG659 routers? Is there anything i can do to help creating support for these routers?

### URL

https://www.home-assistant.io/integrations/huawei_router/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-26 11:53] Flaming-crossbow opened #19985 "Using tracker with Huawei HG659 router"
### Feedback

Are there plans to add support for the Huawei HG659 routers? Is there anything i can do to help creating support for these routers?

### URL

https://www.home-assistant.io/integrations/huawei_lte/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-26 12:19] Tokn59 opened #19986 "Statistics Graph - Colors"
### Feedback

Hi, great implementation but it would be very nice if could define colors of the lines/bars ourselves. Also a combination of bars and lines in the same graph would be very nice.

### URL

https://www.home-assistant.io/lovelace/statistics-graph/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-26 13:10] lecocqe commented on #19675
Hello,

on my side i got all the tuya devices in HA, i can add them in lovelace... but when switching on a switch of light, nothing happens...

best regards

[2021-10-26 13:36] drsmarsden commented on #19675
I was told to delete device from smart life and re-add
This worked for a test contact sensor which had the same problem , looking for a solution which does not involve doing this for all devices

[2021-10-26 13:38] frenck commented on #19985
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-26 13:38] #19985 closed, assigned to scop

[2021-10-26 13:38] frenck commented on #19984
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-26 13:38] #19984 closed, assigned to nobody

[2021-10-26 13:38] frenck commented on #19986
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-26 13:38] #19986 closed, assigned to nobody

[2021-10-26 13:47] nrichards0000 commented on #19974
Thank you for your response

Recommend for clarity title be changed to Philips Hue Bridge.

Kind regards

On Mon, Oct 25, 2021, 22:04 Paulus Schoutsen ***@***.***>
wrote:

[2021-10-26 14:00] kbray0009 commented on #19973
Honestly the only values that make sense to me are the Powerwall Site Now, Powerwall Load Now, and Powerwall Solar Now.  These correspond to values in the ap.  Here are some screenshots of my integration.
![IMG_7873](https://user-images.githubusercontent.com/1383878/138894390-974716c5-1f96-41c9-8a40-1e6d77451e85.PNG)
![IMG_7872](https://user-images.githubusercontent.com/1383878/138894400-78148284-

[2021-10-26 14:01] frenck commented on #19973
I have no idea, maybe the one of the codeowner can respond ohis.

[2021-10-26 14:19] KoryIII opened #19988 "Tuya intergation not full support Smart Socket"
### Feedback

The integration does not fully support outlet control.
You can turn on / off the light, but you cannot turn it on / off.
Consumption cannot be viewed.

Thanks!

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.6

### Additional information

Product Name: Smart Socket
Product Category: dj

[
  {
    "code": "switch_led",
    "value": false
  },
  {
    "

[2021-10-26 14:33] frenck commented on #19988
This has been fixed in dev and will be part of Home Assistant 2021.11

Additionally, please note you have submitted documentation feedback (not a bug report).

[2021-10-26 14:33] #19988 closed, assigned to nobody

[2021-10-26 17:09] kbray0009 commented on #19973
I think I figured it out, thanks for your help.

[2021-10-26 17:24] #19973 closed, assigned to bdraco

[2021-10-26 18:57] TheS1ngularity opened #19994 "Secure access guideline"
### Feedback

Hi there,
Thanks a lot for your hard work on Home Assistant, an amazing ecosystem.
I've been trying to configure secure remote access to my HA, but I'm finding mixed blogs mostly, nothing official from HA?

Please add DuckDNS + Let's Encrypt + HTTP configuration tutorial directly in HA documentation, it's critical that all remote access is correctly secured and not hindered by some b

[2021-10-26 18:59] benblb opened #19995 "Suspend on Debian"
### Feedback

I know it doesn't exactly pertain to the HA installation, but a note to **disable Suspend mode on Debian** would be awesome! I did a fresh Debian 11 install and was super confused that HA kept going down. Finally tracked it back to the OS going to sleep.

Might save some others a bit of time. This note might belong with the convenience installation script or on HA docs. Either would

[2021-10-26 19:32] frenck commented on #19994
We don't have anything official, as with security, things are hard. Our recommendation is: If you don't know what you are doing: do not expose your instance to the outside internet. Use a VPN solution or Home Assistant Remote UI (Cloud) if you really want to access it remotely.

There are community guides, but like everything with security, things quickly change and might give you a false sense of

[2021-10-26 19:32] #19994 closed, assigned to nobody

[2021-10-26 19:41] frenck commented on #19995
This is system configuration and considered out of scope for the Home Assistant project.
When using a Home Assistant Supervised installation, we expect the user to have sufficient  knowledge to maintain and configure their own system (it is considered an advanced installation method).

Nevertheless, thanks for your suggestion.

[2021-10-26 19:41] #19995 closed, assigned to nobody

[2021-10-26 19:46] benblb commented on #19995
That's fair. What may be considered in scope is that HA supervised does not keep the system awake. Maybe a note about that somewhere? I made the (unfounded and incorrect) assumption that it would which is why during installation I totally forgot to disable suspend.

While I know this instruction isn't in scope, I don't see the harm in including it if it could help others. Even advanced users have

[2021-10-26 19:58] frenck commented on #19995
Again, out of scope. We assume one know how to manage their Debian systems. If one needs these hints, we recommend looking into a different installation method.

❤️

[2021-10-26 20:24] info-path commented on #19910
A few days back, everything also worked for me according to the instructions, but today nothing works. Some API services have disappeared on the developer.tuya.com server, such as:

* Smart Home Devices Management
* Smart Home Family Management

There are some new ones, but most are charged.

[2021-10-26 20:31] frenck commented on #19910
Aah right, A PR is pending to update that indeed.

[2021-10-27 00:22] DTTerastar opened #20002 "Really?"
### Feedback

I find this warning quite ridiculous.  Docker contains things.  Thus why we call them containers...

### URL

https://www.home-assistant.io/more-info/unsupported/software/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-27 03:16] avviano opened #20003 "The new Tuya integration is a real mess"
### Feedback

First, setting up the new Tuya integration is super complicated. Second, I followed the instruction yet nothing works. The APIs are missing (not the same as in the instructions). Then, when I try to scan the QR code, I get an error message something about not using the right data center. And and and. Terrible experience.

### URL

https://www.home-assistant.io/integrations/tuya/

###

[2021-10-27 03:22] avviano commented on #20003
The API Services "Smart Home Devices Management" does not exist. Its in the screenshot on the instructions page, but missing when you try to set up the APIs.
When I try to scan the QR code in the iOT Platform, I get an error message "You cannot scan the QR code to add a device deployed in another data center".

Why did my previous integration stop working after I updated HA without a warning? Now

[2021-10-27 03:50] avviano commented on #20003
I think I am just going to sell all my tuya devices. I am really fed up with this nonsense.

[2021-10-27 05:36] frenck commented on #20003
Thanks for your opinion on the new Tuya integration, but that is not what this form is for.

If you'd like to express and discuss suchs things, please use the community forums. Thanks!

[2021-10-27 05:36] #20003 closed, assigned to nobody

[2021-10-27 07:28] frenck commented on #20002
If you want to have full control and do your own thing, please use the Home Assistant Container installation method.

Furthermore, this is not documentation feedback, and thus closing this.

[2021-10-27 07:28] #20002 closed, assigned to nobody

[2021-10-27 07:47] lecocqe commented on #19675
hello,

i gave a try but after troubleshooting a little, my problem is as follows:

if switch on a switch in ha, i see it changing in the smart app. but in ha, button state goes back to off but it is on. at that moemnt, i can't do anything more in ha until i reload integration  :(

[2021-10-27 11:00] JayMcG opened #20010 "Tuya power, voltage and current?"
### Feedback

Hi.

I have updated my HA to incorporate the latest Tuya integration. I see that it still does not import power, voltage and current information from the devices? Is there a way to get this information?

I am currently using the Local Tuya integration but the attributes are only being updated when I go into the Smart Life app, which is frustrating and makes the data useless. I am not

[2021-10-27 11:14] frenck commented on #20010
Sensors are not supported in Home Assistant 2021.10 (not listed in the documentation as support either).

It will be part of the upcoming 2021.11 release though.

[2021-10-27 11:14] #20010 closed, assigned to nobody

[2021-10-27 12:01] #19021 closed, assigned to nobody

[2021-10-27 12:01] #19020 closed, assigned to nobody

[2021-10-27 12:22] axilleas commented on #19766
@adekloet I added some docs in https://github.com/home-assistant/home-assistant.io/pull/20012, can you verify it looks good to you?

[2021-10-27 14:11] adekloet commented on #19766
Yes, look good to me,

The main intend is to show that blueprints, unlike software are NOT
downwards compatible and that an upgrade requires actually a new
blueprint with a different name with the new functionality. So these are
indeed not upgrades as we think in terms of software updates.

On 27-10-2021 14:22, Achilleas Pipinellis wrote:

Links:
------
[1] https://github.com/adekloet
[2] https://

[2021-10-27 14:32] Edo78 opened #20014 "Clarification on cold/hot tolerance"
### Feedback

First thing first: english isn't my first language so bear with me.
Reading the descriptions and the examples of `cold_tolerance`/`hot_tolerance` let some gray areas.

Following such examples

Let's check what happens when HA start and the temperature is actually between 24.5 and 25.5 ... it's not below 24.5 so the heater should not start and it's not above 25.5 so the heater should

[2021-10-27 14:42] Hippe-Lip opened #20015 "Example of use of services missing"
### Feedback

Nice page! But for the just a bit less technical people I miss examples how to use the services like
SERVICE BLUESOUND.JOIN
Sorry, but I have no idea how and where to use these. Any help or clear example for at least one of the services would be appreciated!

### URL

https://www.home-assistant.io/integrations/bluesound/

### Version

2021.10.6

### Additional information

_No respon

[2021-10-27 18:26] RiffRaff5 opened #20016 "suggestion for example of how to report data such as azimuth or elevation would be helpful"
### Feedback

would like to report azimuth but am a beginner so don't know how to extract the data

thx!

### URL

https://www.home-assistant.io/integrations/sun/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-27 23:52] bschatzow opened #20024 "Not understanding what code to use? I assume the code in the URL after the email from SS?"
### Feedback

Tried the code in the url and it does not work.
https://tsv.prd.platform.simplisafe.com/v1/tsv/confirm?code=xxxxxx.x.xx...........
I used the information after code=xxx and got invalid authentication
### URL

https://www.home-assistant.io/integrations/simplisafe/

### Version

2021.10.6

### Additional information

Updated integration, deleted, tried to reinstall and code fails.

[2021-10-27 23:55] briglx commented on #19598
I have a pull request open for this https://github.com/home-assistant/core/pull/58554

[2021-10-28 04:51] ClaireRovic opened #20027 "Somfy API"
### Feedback

The documented API is only available for end-users from Europe, Middle-East and Africa.

https://developer.somfy.com/faq-page (Who is the program designed for ?

### URL

https://www.home-assistant.io/integrations/somfy/

### Version

2021.10.6

### Additional information

Have rang Australian support and they clearly stated it was not available - so angry as bought it based on HA So

[2021-10-28 07:06] frenck commented on #19598
This is submitted as documentation feedback. There is no amount of documentation I can adjust to add such a thing.

[2021-10-28 07:06] #19598 closed, assigned to nobody

[2021-10-28 07:49] cdrfun opened #20028 "The expand function and filter can not be used with media player and light groups"
### Feedback

The `expand` function and filter can not be used directly with media player and light groups. This should be addressed in the documentation. A working alternative could be:
`{{ expand(state_attr('media_player.lautsprecher', 'entity_id')) | map(attribute='entity_id') | list }}`

### URL

https://www.home-assistant.io/docs/configuration/templating/

### Version

2021.10.6

### Addition

[2021-10-28 08:01] frenck commented on #20028
- Isn't this a bug?
- How would it map `entity_id`? As that is a single value?

[2021-10-28 09:23] MichaelRV82 opened #20030 "Adax - get KWh Energy reading"
### Feedback

Hi,

it would be great to add energy readings to the ADAX integration. The Adax App is providing the total energy usage for the heating. Would be great if that reading can be part of the Adax Home Assistant Integration so it can be used in the Energy Dashboard.

It might be a limitation on Adax side though: https://adax.no/en/wi-fi/api-development/

/Michael

### URL

https://www.hom

[2021-10-28 11:07] stefanroelofs commented on #19949
This issue may be closed.
Is fixed by: #19958

[2021-10-28 11:21] Danielhiversen commented on #20030
Data are not available from the Adax API.
Ask Adax to add support for it :)

[2021-10-28 11:21] #20030 closed, assigned to Danielhiversen

[2021-10-28 11:32] cgtobi commented on #19949
Thanks for letting us know.

[2021-10-28 11:32] #19949 closed, assigned to ludeeus

[2021-10-28 14:16] bachya commented on #20024
This was added in the 2021.11.0 beta; are you sure you're using 2021.10.6?

Either way, the docs that go with this haven't been released yet. They refer to these instructions: https://simplisafe-python.readthedocs.io/en/latest/usage.html#accessing-the-api (pay particular attention to step 8 and the structure of the URL that contains the code – you're attempting to use a different URL).

[2021-10-28 15:12] bschatzow commented on #20024
I am using the beta. Not sure where the 2021.10.6 came from, maybe the supervisor version. I have the latest and am updating the supervisor to .8. I will try again after the update to the supervisor update. Tried several times getting different authorization codes each time. Each failed.  I looked at your instructions again and 8 references a different url then I am getting.  When verify the code

[2021-10-28 16:23] LucaMannella opened #20034 "Storing Secrets -> Debugging Secrets"
### Feedback

Hi all,

I am sorry if this issue could be solved with more experience with Home Assistant, but I am new to this platform (like other developers that read the documentation, I guess :D).
Currently, inside the documentation page "Storing Secrets", specifically in "Debugging Secrets", there is written to execute this command to retrieve the list of secrets:

[code]

However, this comma

[2021-10-28 17:17] drsmarsden commented on #19675
I have switched now to the Dev version of the core Tuya integration (Nov release) - appears much better and more stable, just missing a couple of critical sensors for me, which I might try to add if all else fails

[2021-10-28 17:54] ikillratz opened #20036 "Nest Integration doesn't comply with Google's OAuth 2.0"
### Feedback

I am following the steps to add Nest to HA and I get towards the end and I get an Authorization Error page that says the app doesn't comply with OAuth 2.0 policy for keeping apps secure.  It comes up when I am trying to finish step 2 under OAuth and Device Authorization steps when I am actually adding Nest to HA.  Any help would be appreciated.

### URL

https://www.home-assistant.io

[2021-10-28 17:59] cgtobi commented on #19159
An area is the amount of space a two dimensional surface takes up. A weather area in this context is the realm between coordinates that you want to retrieve weather information for.

No, as there is no such API.

[2021-10-28 18:16] cdrfun commented on #20028
I don't exactly know. This seems to be common knowledge within the community. I stumbled upon this when [I asked for help in the forum](https://community.home-assistant.io/t/template-to-get-entities-with-specific-state-out-of-a-media-group/350751).

You are correct - this was specific for my use case. I'd think it's `{{ expand(state_attr('media_player.lautsprecher', 'entity_id')) | map(attribute='

[2021-10-28 18:57] allenporter commented on #20036
Can you give me more details about your configuration, screenshots, example urls, etc? I am not able to reproduce.

[2021-10-28 19:14] ikillratz commented on #20036
In the details of the error it says there is an issue with the
redirect_uri:

   - redirect_uri: http://homeassistant.local:8123/auth/external/callback

However, the redirect URI I used when setting this up is

https://79nphiam8q7h5cnid1r9bg8as94n88nr.ui.nabu.casa/auth/external/callback

not sure why it isn't using what I put in.  I attached a screenshot.

On Thu, Oct 28, 2021 at 2:57 PM Allen Por

[2021-10-28 19:26] frenck commented on #20034
Option 2 is not available on normal installations, but only on the manual Home Assistant Core installation types.

We need to adjust the documentation to make that clear indeed.

[2021-10-28 21:53] ikillratz commented on #20036
I got the setup to work on my phone.  The only issue now is I just have
camera snapshots, no events.  The main reason I did this was for HA to
catch my doorbell button being pressed and then make alexa announcements. I
can see the feeds from the cameras but that is all I do with it.

On Thu, Oct 28, 2021, 3:13 PM Chris Birkhimer ***@***.***> wrote:

[2021-10-28 22:30] allenporter commented on #20036
Check out device automations in the nest instructions

[2021-10-28 22:30] allenporter commented on #20036
I assume you are expecting binary sensors? It uses device automations and triggers

[2021-10-28 22:48] danielccm commented on #19783
I saw some improvements today with the new beta! But the power consumption isn't there yet... I know it's a work in progress... Thanks!!

[2021-10-28 23:28] ikillratz commented on #20036
Ok that works, thanks.  Is it normal for each of my nest devices to show in
HA with same name?  I know I can go in and rename as needed but by default
they were all named Home.  That normal?

On Thu, Oct 28, 2021, 6:30 PM Allen Porter ***@***.***> wrote:

[2021-10-29 02:21] shivrick opened #20041 "usage of data_template"
### Feedback

Could you mention data_template on this page, or link to a page that describes more about it?
I spent a lot of time watching the UI eat my template because I was trying to put it on a data: element.

For example, the "light" page example (https://www.home-assistant.io/integrations/light/)
uses data:
`  - service: light.turn_on
    target:
      entity_id: light.master_bathroom_lamp

[2021-10-29 03:13] allenporter commented on #20036
I had not seen that before, but i re-checked the logic and I see the name comes from:
- [Custom name](https://developers.google.com/nest/device-access/traits/device/info) *Corresponds to the Label value for a device in the Nest App.* Example: Example: "Hotel Room 101"
- [Room name](https://developers.google.com/nest/device-access/traits/structure/room-info?hl=en) *"Corresponds to the name in the G

[2021-10-29 06:27] hklages opened #20045 "recorder: db_url with secret.yaml"
### Feedback

It is not clear whether db_url supports the use of passwards, usernames stored in secret.yaml

### URL

https://www.home-assistant.io/integrations/recorder/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-29 06:52] ludeeus commented on #20045
That is not an integration consern.
The `db_url` is a string, you can not have parts of that string be from secrets, but you can have the entire `db_url` as a secret.

[2021-10-29 07:08] #20045 closed, assigned to nobody

[2021-10-29 10:12] frenck commented on #20041
`data_template` doesn't exist anymore.

It is a thing from the past, it has been removed from Home Assistant over a year ago.
It still works though, but is simply an alias to `data`. So, there is no difference at this point in using `data` vs `data_template`.

We recommend using `data` as `data_template` might be deprecated or removed in the future.

[2021-10-29 10:12] #20041 closed, assigned to nobody

[2021-10-29 10:46] primoz-k opened #20048 "Missing login command under Console access"
### Feedback

Hi,

in **Console access** section it should mention the `login` command so users know how to get to login prompt for the `root` access.

### URL

https://www.home-assistant.io/common-tasks/os/#console-access

### Version

2021.10.6

### Additional information

_No response_

[2021-10-29 10:48] ccsrsj opened #20049 "SENSOR_ID requires quotes"
### Feedback

Feedback

Although all are strings, I found SENSOR_ID requires quotes around it to work?

sensor:
platform: neurio_energy
api_key: CLIENT_ID
api_secret: CLIENT_SECRET
sensor_id: SENSOR_ID

didn't work, I kept getting errors about wrong type in sensor.py.

sensor:
platform: neurio_energy
api_key: CLIENT_ID
api_secret: CLIENT_SECRET
sensor_id: "SENSOR_ID"

solved the problem.

### URL

[2021-10-29 11:01] #19050 closed, assigned to frenck

[2021-10-29 11:52] LucaMannella commented on #20034
Dear Franck,
Thank you for your fast reply.

I would like to propose you also to clarify the Option 1.

From my point of view, it is not completely clear how to visualize this debug information.
I understand that the line `logger: debug` should be added in the `secrets.yaml` file (e.g., I put it on the top of the secrets file).
However, I don't understand where and exactly when I can visualize thi

[2021-10-29 12:02] frenck commented on #20034
Honestly, I don't see the whole point of all this debugging.
Just click on check configuration button on the Server Controls page and be done.

[2021-10-29 12:41] frenck commented on #20049
That depends on the contents and YAML, not Home Assistant.

[2021-10-29 14:13] ConorIA opened #20057 "Include information on event triggers for MotionEye core integration"
### Feedback

From the motioneye integration options, it was clear to me that Home Assistant created a webhook for motion detection. What was not clear to me was how this information was actually used. I eventually found the information over at the [readme](https://github.com/dermotduffy/hass-motioneye#motion-event) by @dermotduffy. I recommend that this information be incorporated into https://gi

[2021-10-29 16:33] craigsup93 opened #20061 "Unable to scan QR code - wrong data center."
### Feedback

Hi,

I have followed the guide, and added all the data centers to my cloud project (I tried both singular China & Western Europe to no success). When I scan the QR code on my Smart Life app, I get "You cannot scan the QR code to add a device deployed in another data center."

I thought adding all the data centers to the project would allow me to link my account but it doesn't seem to

[2021-10-29 16:45] craigsup93 commented on #20061
to add further information, when attempting to authorise on the home assistant integration, I get "Login error (2406): skill id invalid". I have set everything to be UK but I still get these errors. My Tuya IOT platform account is registered as the UK too.

[2021-10-29 18:22] zivgin opened #20062 "Feature: Adding humidity sensor"
### Feedback

I believe we should also add the possibility for humidity sensor to be attached to the thermostat

### URL

https://www.home-assistant.io/integrations/generic_thermostat/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-29 18:23] zivgin opened #20063 "Feature request: Multiple modes - we should provide the option to turn on 'cool', 'heat', 'dry' etc... if this is an AC"
### Feedback

I believe we should also add the possibility for humidity sensor to be attached to the thermostat

### URL

https://www.home-assistant.io/integrations/generic_thermostat/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-29 19:18] scop commented on #19985
To expand a bit, if the huawei_lte integration doesn't work with your router, I suggest first verifying if https://github.com/Salamek/huawei-lte-api/ works with it. If it doesn't, then that's the project to look into, we use it under the hood. If it does, you can file another issue here along with details what exactly doesn't work, and tracebacks and log entries with diagnostic info and we can hav

[2021-10-29 19:39] dermotduffy commented on #20057
Yes. I plan to move that entire README over to Core, once the code is all submitted for the migration (the PRs are all awaiting review for multiple months). If you'd like to accelerate that, PRs are very welcome to move parts of the README over now.

[2021-10-29 21:30] denilsonsa commented on #16992
I understand this is low priority, but since the documentation is still not complete, this ain't stale yet.

[2021-10-30 00:30] ray557913 opened #20068 "Access onkyo-eiscp"
### Feedback

I am not sure how to access onkyo-eiscp to check sources.  I see the query but when I try to run it in the Home Assistant terminal, running it in vm player says it can't be found

### URL

https://www.home-assistant.io/integrations/onkyo/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-30 04:04] BorisAbakumov opened #20071 "the free space on the virtual hard disk has run out"
### Feedback

 what can be done to increase the free space?

### URL

https://www.home-assistant.io/getting-started/onboarding/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-30 09:48] ghost opened #20074 "QVR Elite (not QVR Pro)"
### Feedback

I've used QVR Pro until now. Qnap is prioritizing QVR Elite from now.
I can't make QVR Elite work with the qvr_foscam config. Any suggestions?

### URL

https://www.home-assistant.io/integrations/qvr_pro/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-30 10:33] kingo55 opened #20075 "notify.notify service data target parameter is unclear"
### Feedback

It's not clear which entities to use here for the service data `target` parameter.

It sounds like it would support `notify.{{mobile app reference}}` but that doesn't work. E.g.:

[code]

### URL

https://www.home-assistant.io/integrations/notify/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-30 11:35] tekrox opened #20079 "List of devices?"
### Feedback

Is there a list of devices? For example, I have a Somfy alarm system in my Tahoma which is not recognized. Maybe the device will help

### URL

https://www.home-assistant.io/integrations/tahoma/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-30 12:36] frenck commented on #20079
Alarm Control Panel isn't listed in the list that is in the top of the page you linked?
So, not sure what is missing in this case?

[2021-10-30 13:48] frenck commented on #20075
It is not entities. Target is a specific implementation for the notification platform that is implemented. For example, on SMS-based platforms, that is most likely a phone number, while the email-based notification is an email address.

This is also listed in the documentation page you have commented on:

![image](https://user-images.githubusercontent.com/195327/139535452-21fdd2fb-d387-4bf0-a1bd-b

[2021-10-30 14:04] frenck commented on #20068
For information on the use and installation of third-party tools, please consult the third-party tools documentation or website.

In this case: <https://github.com/miracle2k/onkyo-eiscp>

[2021-10-30 14:04] #20068 closed, assigned to nobody

[2021-10-30 14:06] frenck commented on #20071
Expand the size of the virtual harddrive used. Please consult the documentation of the hypervisor software you are using for how to do that.

[2021-10-30 14:06] #20071 closed, assigned to nobody

[2021-10-30 14:46] frenck commented on #20063
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-30 14:46] #20063 closed, assigned to nobody

[2021-10-30 14:46] frenck commented on #20062
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-30 14:46] #20062 closed, assigned to nobody

[2021-10-30 14:47] frenck commented on #20061
@zlinoliver Any idea on this?

[2021-10-30 14:51] frenck commented on #20048
It is either not needed or, in case it does, already listed on that page. Am I missing something?

[2021-10-30 15:16] axilleas commented on #20048
It is mentioned here https://www.home-assistant.io/common-tasks/os/#enable-i2c-via-home-assistant-operating-system-terminal, but not under https://www.home-assistant.io/common-tasks/os/#console-access.

I submitted https://github.com/home-assistant/home-assistant.io/pull/20083 :rocket:

[2021-10-30 17:17] bachya commented on #20024
Correct, the code comes with the `com.simpliSafe.mobile` URL. Glad you got it working.

[2021-10-30 17:17] #20024 closed, assigned to bachya

[2021-10-30 19:58] ipogodin opened #20086 "No Information on how to reach the command line execution from the web UI"
### Feedback

No Information on how to reach the command line execution from the web UI
Would you like to add any info?

### URL

https://www.home-assistant.io/docs/tools/hass/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-30 20:00] #19072 closed, assigned to nobody

[2021-10-30 20:45] ellaizee opened #20087 "SwitchBot integration page does not mention Bluetooth conflicts"
### Feedback

The SwitchBot integration page does not mention that other integrations using Bluetooth may interfere with the SwitchBot integration (including BLE tracking). I understand that many users are knowledgeable enough to know this already, but there are plenty of us who don't.

### URL

https://www.home-assistant.io/integrations/switchbot/

### Version

2021.10.6

### Additional informati

[2021-10-31 01:19] stuarts0011 opened #20089 "Tuya Integration - Can't setup"
### Feedback

I have linked my Tuya app to the IOT platform and can see my Tuya devices on the IOT platform

On configuring the HA integration I get "Unknown error occurred"

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-31 01:22] #19065 closed, assigned to nobody

[2021-10-31 01:29] stuarts0011 commented on #20089
Ok I'm now getting Login error (2406): skill id invalid but all the details are correct.

[2021-10-31 02:57] bakerboy908 commented on #19886
Must have been some strange DNS issue, working fine now

[2021-10-31 02:57] #19886 closed, assigned to nobody

[2021-10-31 04:09] kingo55 commented on #20075
Yes, I read that - I still think it's confusing because I understood the "recipient" to be a service/entity. As you've described it here makes more sense that it's platform-specific data.

I think it would be clearer if we had:

And perhaps calling out the [notify.notify_group](https://www.home-assistant.io/integrations/notify.group/) integration on this page as a way to reach specific users/devic

[2021-10-31 05:14] Moonj64 opened #20090 "Information about automation upgrade path was removed from the document"
### Feedback

Originally the automation editor document included information about using "automation old:" in configuration.yaml in order to simultaneously use the new automation editor alongside automations that were already created using the older yaml based format.  However this information was removed in commit [b6f43edbb3e5232a2c3ea2afb1d5fe27bef605ba](https://github.com/home-assistant/home-a

[2021-10-31 06:46] jlhcmx opened #20091 "Multiple IFTTT keys not working"
### Feedback

If I set 3 IFTT keys I get the following errors:

Invalid config for [ifttt]: expected a dictionary for dictionary value @ data['ifttt']['key']. Got None
extra keys not allowed @ data['ifttt']['YOUR_KEY_NAME1']. Got 'YOUR_API_KEY1'
extra keys not allowed @ data['ifttt']['YOUR_KEY_NAME2']. Got 'YOUR_API_KEY2'
extra keys not allowed @ data['ifttt']['YOUR_KEY_NAME3']. Got 'YOUR_API_KEY3

[2021-10-31 09:09] karkaaa opened #20092 "swing positions"
### Feedback

Hello,

Please add feature to set swing positions (bottom, middle, low etc.)

Thank you.

### URL

https://www.home-assistant.io/integrations/gree/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-31 09:26] majuss opened #20093 "Cargo is missing on the dependency list"
### Feedback

2021.10 requires cargo, otherwise cryptographie package cannot be installed.

https://www.home-assistant.io/installation/raspberrypi#install-dependencies

### URL

https://www.home-assistant.io/installation/raspberrypi#install-dependencies

### Version

2021.10

### Additional information

_No response_

[2021-10-31 11:57] frenck commented on #20093
That installation method is considered advanced. The packages can differ, depending on the OS, system architecture, choice between 32/64 bits OS and depending on how one manages their Python/System environments.

We are expecting users the use such advanced installation method, to know what they are doing and expect them to be able to handle these things.

If this is not the case, we don't recomme

[2021-10-31 11:57] #20093 closed, assigned to nobody

[2021-10-31 11:58] drthanwho commented on #20091
This is the repository for the documentation. You should open your issue under /core repo not here.

IFTTT can also be setup via the UI maybe that is easier for you to set up. If you open an issue please also provide your configuration

[2021-10-31 12:00] frenck commented on #20091
As per above, please report issues with Home Assistant integration in the Core issue tracker here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-31 12:00] #20091 closed, assigned to nobody

[2021-10-31 12:02] frenck commented on #20092
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-31 12:02] #20092 closed, assigned to nobody

[2021-10-31 12:16] drthanwho commented on #20087
Was it not a `Config flow could not be loaded` error? Because that is already mentioned here https://www.home-assistant.io/integrations/switchbot/#config-flow-could-not-be-loaded

[2021-10-31 12:28] frenck commented on #20075
Feel free to add that link.

Notify group is another notification platform that is implemented, just like the others. I'm not sure why that one is more relevant to others.

Yes, because this is the notification integration which is correct. Not sure what the point of Google is in this case 🤷

[2021-10-31 12:29] frenck commented on #20090
This is part of splitting a configuration, and information on that subject can be found here:

<https://www.home-assistant.io/docs/configuration/splitting_configuration/#example-combine-include_dir_merge_list-with-automationsyaml>

[2021-10-31 12:29] #20090 closed, assigned to nobody

[2021-10-31 13:36] Marow opened #20099 "Wrong speedtest"
### Feedback

I use the speedtest integration.
But for some reason, there is much lower download, upload and the ping is also bad.

Please make it possible to add server_id back or just in input field in the Configuration of the integration where can typing in the server_id of speedtest.net or just make that the server_list in dropdown has all servers that also speedtest.net gives please

If i mak

[2021-10-31 14:23] #20034 closed, assigned to nobody

[2021-10-31 14:25] frenck commented on #20099
Hi there @Marow 👋

It seems like you want to report an issue with an Home Assistant Core integration, however, you have submitted documentation feedback instead.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-31 14:25] #20099 closed, assigned to rohankapoorcom

[2021-10-31 14:46] frenck commented on #20086
You can't.

If anything,  we should add a note about this tool only being available to Home Assistant Core users.

[2021-10-31 14:54] samimasad opened #20101 "problem with day saving"
### Feedback

when time switch to day saving , praying times are not adjusted , so it is offseted by one hour

### URL

https://www.home-assistant.io/integrations/islamic_prayer_times/

### Version

2021.10.6

### Additional information

_No response_

[2021-10-31 15:03] frenck commented on #20101
Hi there @samimasad 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please, report an issue with an integration here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-31 15:03] #20101 closed, assigned to nobody

[2021-10-31 16:41] drthanwho commented on #19684
This can be closed 😃

[2021-10-31 16:47] jlhcmx commented on #20091
I'm sorry, I have post it here because I followed documentation and documentation is wrong.

[2021-10-31 16:54] frenck commented on #20091
Could be, or the documentation is correct and it's a bug. The latter can only be concluded as a result from a bug report:

[2021-10-31 17:10] drthanwho commented on #20091
I suspect your ifttt configuration is not correct. Double check your structure. I just set up 3 keys and I got no errors so something else is wrong

[2021-10-31 18:04] jlhcmx commented on #20091
Restart your server and you will see the issue

[2021-10-31 18:25] drthanwho commented on #20089
There are common errors and their solutions further down on the page e.g. https://www.home-assistant.io/integrations/tuya/#2406-skill-id-invalid

[2021-10-31 18:30] drthanwho commented on #20086
I'd also argue that both hass and check_config pages should be merged into one since check_config relies on hass

[2021-10-31 18:44] drthanwho commented on #20091
I did restart and had no issue. Anyway this is now closed.

Either open an issue under Core repository and provide an example of your configuration or on Discord and someone should be able to help 😃

[2021-10-31 19:04] jlhcmx commented on #20091
What!! How?! I've just checked again and still get the same error, how did
you set them up? I set them as follows:

-------------------------------------------------------------------
ifttt:
  key:
  jlhmx: dBZl_YRGl9kEIzdk6QKE7W
  jlh_mx: bNRvpvkVtd0M86r2c5wA9
  jorgedez: d6rF-seo4W-Jw25XOeHylD
-------------------------------------------------------------------

then after config validation I get

[2021-10-31 19:34] drthanwho commented on #20091
Look back at the documentation on multiple keys. Your YAML is not valid. There is no spacing between key: and the list of keys . That explains your error you've been getting.

Also probably not a good idea to be sharing your keys. You might want to revoke them now.

[2021-10-31 19:53] jlhcmx commented on #20091
Really? spaces matter in this type of code? I fix it using the exact same
spaces thanks for your help and apologies for you and Franck again. 🙈 Dont
worry about the keys thanks, they are fake.

El dom, 31 de oct. de 2021 a la(s) 13:34, Thanasis ***@***.***)
escribió:

[2021-10-31 19:57] drthanwho commented on #20091
Its YAML. Spaces matter everywhere! 😆

[2021-11-01 02:12] #19083 closed, assigned to nobody

[2021-11-01 02:39] ellaizee commented on #20087
No. And even if it was that error, the explanation doesn't make sense to a mid-level user like me. Not every person who uses Home Assistant is a developer. I'm just simply suggesting a more straightforward note that you cannot have two Bluetooth dependent integrations using the same Bluetooth dongle. I would also argue the BLE tracker is not a "custom integration" (as mentioned in the error descri

[2021-11-01 04:24] stuarts0011 commented on #20089
Yes I read that. All of the inputs are correct. I should not be getting error 2406

[2021-11-01 10:50] hell1337hound opened #20107 "get state information rather than whole country"
### Feedback

it would be amazing if we could get state info i'm in western australia

### URL

https://www.home-assistant.io/integrations/coronavirus/

### Version

2021.10.6

### Additional information

_No response_

[2021-11-01 13:20] RubenWeijers-TomTom commented on #20089
I'm experiencing the same error

[2021-11-01 13:31] drthanwho commented on #20089
In most cases I've seen it's the difference between data centre chosen and region. Also some specific countries seem to be affected as well based on this [#57945](https://github.com/home-assistant/core/issues/57945). Regardless, better to ask in that issue which is in the Core repository. This repository is about issues with the documentation itself.

[2021-11-01 16:10] balloob commented on #20107
We're bound by our data source and they don't split it up.

[2021-11-01 16:10] #20107 closed, assigned to nobody

[2021-11-01 23:00] #19095 closed, assigned to nobody

[2021-11-02 00:03] joshsinykin opened #20110 "Tuya Smart Platform Step 3 needs more screen shots"
### Feedback

The Tuya Cloud Platform needs more screen shots of the process. For instance scan the QR code is not enough to show people how to find the QR scanning feature in those apps.

Also with the Tuya Cloud Platform steps, I am getting a odd error about linking accounts due to Data Center selections. There is no information about this and what it means. I tired all of the data center choice

[2021-11-02 00:19] joshsinykin commented on #20110
FYI in the smart life app, if you click on the account profile, then in the top right corner there is a[-] symbol which is the QR scanning feature. I finally got my tuya integration to connect. but this was not obvious the first time thru.

[2021-11-02 00:20] joshsinykin commented on #20110
Data center choice appears to be only one correct data center, not all of them in the list. For the US, I had to reference the error table at the bottom of the documentation for the correct choice.

[2021-11-02 02:15] Talor-A opened #20111 "How do I add all entities to the logbook card?"
### Feedback

I'd like to enter "all" into the logbook so I can see the last few logbook entities at a glance. is this possible? I can't find a way to do it in the UI and it's not documented. but since that's what the main "logbook" screen is doing it seems like the card should be able to do this

### URL

https://www.home-assistant.io/lovelace/logbook/

### Version

2021.10.7

### Additional info

[2021-11-02 04:00] #19079 closed, assigned to bdraco

[2021-11-02 07:56] vjmaz opened #20113 "will light bulbs be supported soon LB27 r1 team"
### Feedback

Hi is will wifi Broadlink LB27 R1 be supported please i have purchased 38 and need to add to HA please

### URL

https://www.home-assistant.io/integrations/broadlink/

### Version

2021.10.7

### Additional information

_No response_

[2021-11-02 07:59] frenck commented on #20113
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-11-02 07:59] #20113 closed, assigned to Danielhiversen

[2021-11-02 08:00] frenck commented on #20111
It can't do that.

[2021-11-02 08:00] #20111 closed, assigned to nobody

[2021-11-02 09:26] Flaming-crossbow commented on #19985
Thanks for the reply and explanation Scop.
I will look into it!

[2021-11-02 09:47] xbeaudouin opened #20115 "Installing without docker?"
### Feedback

Hello,
According to your installation document you suggest to install HA without docker for some good reasons (hint "compare installation methods").
But looking on the Installation, you always suggest to either install the prebuild images (whatever is for RPI / virtual environement / whatever) or launch a docker.
As non Linux user but a FreeBSD user, I would like to install that on a

[2021-11-02 09:51] ludeeus commented on #20115
<https://www.home-assistant.io/installation/linux#install-home-assistant-core> is what you want.

[2021-11-02 09:51] #20115 closed, assigned to nobody

[2021-11-02 10:01] xbeaudouin commented on #20115
Well this was not really "easy" to find inside the documentation. Regards

[2021-11-02 10:02] ludeeus commented on #20115
At the top of the installation page it's described like this:
<https://www.home-assistant.io/installation/>

  ...
  **Home Assistant Core**: Manual installation using Python virtual environment.

 Evey section below it shows which installation method is supported on that platform.

[2021-11-02 13:32] LucaMannella commented on #20034
I am new to the platform, and I was trying to understand the functionalities offered by Home Assistant.
I would like to understand how I can use this feature and, at the same time, help you in improving the documentation.
If this feature is not particularly useful, I forget about it, and I will follow your suggestion.

Thank you again for your time.

[2021-11-02 18:38] sdwilsh opened #20124 "`last_reset_topic` for MQTT sensors has been deprecated, but not listed as such in docs"
### Feedback

https://github.com/home-assistant/core/pull/55463 appears to have deprecated this and added a warning, but the documentation does not indicate it is deprecated.

### URL

https://www.home-assistant.io/integrations/sensor.mqtt/

### Version

2021.10.7

### Additional information

_No response_

[2021-11-02 18:43] sdwilsh commented on #20124
I also don't see a blog post about this on https://developers.home-assistant.io/blog/, so this change may surprise other makers of X2mqtt software.

[2021-11-02 21:14] auveele opened #20126 "Spain electricity hourly pricing (PVPC) Dont works"
### Feedback

Since this afternoon this integration doesn't load the data from de API.
I didn't find any error in the current log about this integration.
![imagen](https://user-images.githubusercontent.com/5937690/139952158-37e8c264-2c9b-4d9a-844e-51f7101d5618.png)

### URL

https://www.home-assistant.io/integrations/pvpc_hourly_pricing/

### Version

2021.10.7

### Additional information

_No res

[2021-11-02 21:16] auveele commented on #20126
No, I'm not listed as code owner!

[2021-11-02 21:18] auveele commented on #20126
I found this:
`sensor.pvpc_2_0_dha: repeated bad data update, mark component as unavailable source`

[2021-11-02 21:22] acrespog commented on #20126
Edit: mi error. Mixed log output.

[2021-11-02 23:12] noswanson1982 opened #20127 "The documentation for the IFTTT integration is lacking in passing values from IFTTT to HA"
### Feedback

It is largely incomplete.  Yes, there is plenty of documentation on how to send data from Home Assistant back to IFTTT, but there is next to no documentation on how to pass values from IFTTT to Home Assistant.  Google Assistant (as far as I know) doesn't allow you to pass values to be used in Home Assistant scripts.  So, IFTTT has built in "Numberfield" and "TextField".  However, the

[2021-11-02 23:36] bschatzow opened #20128 "joaoapps_join.xxxx_send_tasker"
### Feedback

I am getting a failed to call service calling any of the send_tasker devices.  The error says "unknow error".
The only error in the log is:
[code]
not sure if this helps.

### URL

https://www.home-assistant.io/integrations/joaoapps_join/

### Version

2021.10.8 supervisor, core-2021.11.0b4

### Additional information

_No response_

[2021-11-03 00:00] #19104 closed, assigned to nobody

[2021-11-03 05:57] proasnet opened #20129 "Panels to more world sides"
### Feedback

Hi. This is a great integration.
Now I am using it, but is possible add only one world side of panels. On my roof I have a string to two world sides and it can not possible add more than one world side.

### URL

https://www.home-assistant.io/integrations/forecast_solar/

### Version

2021.10.7

### Additional information

_No response_

[2021-11-03 06:56] shadsnz opened #20132 "Thank you"
### Feedback

I am so grateful for the effort and time that has gone into preparing this documentation.  The instructions worked first time for me.  Thank you to all the contributors

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.7

### Additional information

_No response_

[2021-11-03 07:23] frenck commented on #20132
Thanks @shadsnz! 👍

[2021-11-03 07:23] #20132 closed, assigned to nobody

[2021-11-03 07:26] emontnemery commented on #19104
For the record: Both your examples work fine @MickW69, maybe you made some mistake when editing. The script actions are unordered maps so changing the order makes no difference.

[2021-11-03 07:29] frenck commented on #20129
You can just add the integration multiple times. 2, 3, 4, 5, ..10 times if you wanted too :)

[2021-11-03 07:29] #20129 closed, assigned to frenck, klaasnicolaas

[2021-11-03 07:36] frenck commented on #20128
Hi there @bschatzow 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-11-03 07:36] #20128 closed, assigned to nobody

[2021-11-03 07:42] azogue commented on #20126
It appears they updated 'something' in the ESIOS API server and now it needs some headers to make a successful call :(

I'll try to make a hotfix in the `aiopvpc` library asap 👍

[2021-11-03 07:47] emontnemery commented on #20124
@sdwilsh you're right that the documentation update was forgotten, fixed here: https://github.com/home-assistant/home-assistant.io/pull/20133

[2021-11-03 07:48] frenck commented on #20126
Hi there @auveele 👋

It seems like you want to report an issue with an integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-11-03 07:48] #20126 closed, assigned to azogue

[2021-11-03 08:26] #20124 closed, assigned to emontnemery

[2021-11-03 09:48] auveele commented on #20126
Oh sorry! The page of homeAssistant brought me here. I've seen that there is already an issue
Thanks a lot!

[2021-11-03 10:16] Bubi504 opened #20135 "ASCII conversion error"
### Feedback

I think there's an error when parsing telegram data not in ascii:

2021-11-03 11:01:47 ERROR (MainThread) [homeassistant] Error doing job: Fatal error: protocol.data_received() call failed.
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/asyncio/selector_events.py", line 870, in _read_ready__data_received
    self._protocol.data_received(data)
  File "/usr/local/l

[2021-11-03 11:53] redstone99 opened #20136 "Logbook default filter clarification"
### Feedback

Hi,
The docs for logbook currently say "By default, no entity will be excluded.".  That's not quite true. Entities that have the property unit_of_measurement defined, even if it is the empty string, will be excluded.  This happens in the logbook code at:
  https://github.com/home-assistant/core/blob/1af621ef13e9ea24b4e6444c10294e681fa3be36/homeassistant/components/logbook/__init__.py

[2021-11-03 11:59] redstone99 commented on #20136
I just noticed that doc page does say entities with unit_of_measurement defined will be excluded.  Maybe correct the sentence in the 'Configure Filter' section, possibly by moving that sentence from the bottom up to that point.

[2021-11-03 16:35] MiAutomations opened #20138 "ZIGBEE 3.0 USB DONGLE PLUS ZHA integration issues"
### Feedback

Hello

I'm trying to add the integration ZHA working with a new Sonoff ZIGBEE 3.0 USB DONGLE PLUS in a HA machine that is based into the proxmox

But as you can see I can't load the integration/USB PEN into the integration is still in -  Retrying setup always or not loaded This for several Minutes, after this some times the integration and the PEN is discovered ....

I Already perfor

[2021-11-03 17:21] Adminiuga commented on #20138
This is not a support forum. Try Zigbee channel on HA Discord server

[2021-11-03 17:22] #20138 closed, assigned to dmulcahey, Adminiuga

[2021-11-03 18:09] MiAutomations commented on #20138
Thank you for your reply can you please let me know the  link for this support forum?

By the way I think this is a issue ... Sorry for the post.

Thank you and best regards

[2021-11-03 20:58] sbcrumb opened #20165 "SimpliSafe documentation is unclear on 2021.11.0 Core"
### The problem

Upgraded to new Core version today and my SimpliSafe integration that was working stopped working. I would try to use the authcode and it would say invalid.
I rolled back and did a restore to core-2021.10.6, and I was able to re-verify and get it working with no issues.

### What version of Home Assistant Core has the issue?

core-2021.11.0

### What was the last working version o

[2021-11-03 22:29] schoenof commented on #20165
The new instructions to reauth do not work....The 1st page changes to "Verification Successful - You will be redirected momentarily..." but redirect never happens and Continue button is greyed out.  Instructions say "The browser will show an error about not being able to navigate to the page; ignore it." but this never happens....I can't find anywhere to get the code.....I tried on desktop Chrome,

[2021-11-03 22:52] bachya commented on #20165
The docs were written based on my usage of Safari; I'm learning that other browsers may do different things.

I'll submit an update to the docs soon, but in the meantime, this community forum thread may be helpful:￼ ￼ https://community.home-assistant.io/t/new-simplisafe-auth/352345/3

[2021-11-04 00:15] sirKitKat opened #20142 "Automation with trigger id used in actions"
### Feedback

On this [trigger page](https://www.home-assistant.io/docs/automation/trigger/)   it states you can assign id's to triggers that are then referenced by conditions or actions but no example was found on how to implement this

### URL

https://www.home-assistant.io/docs/automation/action/

### Version

2021.11.0

### Additional information

_No response_

[2021-11-04 07:07] ronjtaylor opened #20144 "Tuya Country Regions and Data Centres"
### Feedback

In the section
or the Data Center field, select the zone you are located in.   It would be very helpful if you had a link to look up the Data Center that serves your region.  For example I am in Australia, who would have thought my Data center was central Europe!
![image](https://user-images.githubusercontent.com/46874942/140271654-410205df-d4f0-4aa6-a0c8-3a617a98ca2b.png)

### URL

[2021-11-04 07:47] frenck commented on #20142
Using IDs with triggers is documented on the triggers page:

<https://www.home-assistant.io/docs/automation/trigger/#trigger-id>

Using them in conditions is documented in the conditions page:

<https://www.home-assistant.io/docs/scripts/conditions/#trigger-condition>

[2021-11-04 07:47] #20142 closed, assigned to nobody

[2021-11-04 07:48] frenck commented on #20144
You mean this link?

![image](https://user-images.githubusercontent.com/195327/140276141-49894fb1-010e-4a86-8edc-e8cdb71ab741.png)

[2021-11-04 07:55] ronjtaylor commented on #20144
Yes but this is way down in the error codes at the bottom of the doco.
I am suggesting that the same link be included when you are creating the
project.
This would save getting the error!
[image: image.png]

On Thu, 4 Nov 2021 at 17:48, Franck Nijhof ***@***.***> wrote:

--

*CheersRT*

[2021-11-04 08:37] stuarts0011 commented on #20089
thanks
Regards

Stuart

On Tue, 2 Nov 2021 at 00:32, Thanasis ***@***.***> wrote:

[2021-11-04 08:47] #20089 closed, assigned to nobody

[2021-11-04 10:18] WeR-Best opened #20146 "Prompt error: 1106: permission deny"
### Feedback

Could not establish connection
Prompt error: 1106: permission deny

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.11.0

### Additional information

The account information and region are confirmed to be correct, there is no problem logging in to tuya.com

[2021-11-04 10:20] frenck commented on #20146
duplicate of https://github.com/home-assistant/core/issues/58145

[2021-11-04 10:20] #20146 closed, assigned to nobody

[2021-11-04 11:21] borpin opened #20147 "Casting local media to Google Devices"
### Feedback

The page states that Google Cast can only be done via HTTPS then shows examples of HTTP URLs.

The note should be amended to add this (only HTTPS) and remove any reference to HTTP URLs as they will not work.

I suggest these steps are added as part of the solution to cast local media.

1.  Open Home Assistant Media browser.
1.  Choose Player → Select Web Browser.
1.  Open Dev Console

[2021-11-04 12:38] cofw2005 opened #20148 "Yeelight service YEELIGHT.SET_COLOR_TEMP_SCENE will switch off the 'moonlight' mode"
### Feedback

I was creating an automation that set the Yeelight Ceiling light (ceiling2, YLXD03YL):
1. first step to 'moonlight' mode with service YEELIGHT.SET_MODE.
2. then I want to set to a specifc brightness with service YEELIGHT.SET_COLOR_TEMP_SCENE.
[code]
It turns out this service also set the mode back to 'normal'.
I choose back to use light.turn_on service instead, but I would like to re

[2021-11-04 12:45] BeyondPixels opened #20149 "Feature request: adding inverter capacity (in VA) on top of PV capacity"
### Feedback

Hello,

First of all, I wanna thank the people involved in this integration.

Here is a feedback I thought it was worth sharing to the community.
My first PV install consisted of 7110 Wp of PV with an 7 kVA inverter. Last year, I added panels to my installation to go with 12000+ Wp but keeping the same inverter.

It would be nice if we could specify the size the inverter on top of ho

[2021-11-04 12:58] Gferretta commented on #20146
Hello
The exact same thing has happened to me for last 4 hours.
The new Tuya integration was correctly configured in HA.
I did the update to 2021.11.0 yesterday and it worked fine.
Today in the morning it stopped working without explanation, so I uninstalled the integration and now when trying to add it I receive the error 1106, but all the login  data are totally correct.
I'm from Argentina
Thank

[2021-11-04 13:01] #20149 closed, assigned to frenck, klaasnicolaas

[2021-11-04 13:33] cofw2005 opened #20150 "The climate service CLIMATE.SET_TEMPERATURE didn't set temperature after turned the heating on."
### Feedback

I want to call the service to turn on the heating and in the mean time to set the temperature to 25.
But below service will not work as expected, no matter in automation or directly call service in Development Tool.
[code]
The problem is, if the radiator was in 'off' mode, this service will only turn it to 'heat' mode, but not set the temperature. I have to call the service again aft

[2021-11-04 13:42] smarthomejunkie opened #20151 "Diwscard my last edit"
### Feedback

Hi,
You can discard my last edit of the documentation. It doesn't solve the whole problem.

Sorry,
Ed

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.11.0

### Additional information

_No response_

[2021-11-04 14:38] frenck commented on #20148
hi there @cofw2005 👋

Seems like you want to report a bug with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-11-04 14:38] #20148 closed, assigned to rytilahti

[2021-11-04 14:39] frenck commented on #20150
hi there @cofw2005 👋

Seems like you want to report a bug with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-11-04 14:39] #20150 closed, assigned to nobody

[2021-11-04 14:59] shemeel commented on #20165
I have the Same issue

[2021-11-04 15:03] sbcrumb commented on #20165
@shemeel did you try any of the methods mentioned in the link.
https://community.home-assistant.io/t/new-simplisafe-auth/352345/3

[2021-11-04 15:25] smitterer opened #20153 "Home Connect: Can not turn off"
### Feedback

So I just installed my first Home Connect device, a Siemens Dryer.

Unfortunately the following problem appears:
I can not turn off the device via the Power Switch from the integration. Each time I try to switch it off, it switches back on automatically while it doesn't matter if remote control is activated on the dryer or not.
The log provides the following output:
`2021-11-04 16:17

[2021-11-04 16:04] piotrtobolski opened #20154 "Counter docs issue"
### Feedback

I think there is issue in the counter documentation. It states that:

I think it should be:

In the current form it doesn't make sense in combination with previous paragraph

### URL

https://www.home-assistant.io/integrations/counter/

### Version

2021.11.0

### Additional information

_No response_

[2021-11-04 16:27] jeffdupont commented on #20165
same issue here as well. I tried all the mentioned methods and none worked for me.

[2021-11-04 16:32] sbcrumb commented on #20165
Did you try adding 2fa to your account? When I did that and used edge I was able to see the error in the dev console and use that code to get it to work.

[2021-11-04 16:46] bachya commented on #20165
@sbcrumb Interesting insight – I've experienced that SimpliSafe is forcing people to use 2FA. Are you saying you originally didn't have it?

[2021-11-04 16:48] sbcrumb commented on #20165
Correct I wasn't using it, Turned it on and I was able to see the error everyone else was getting use that code and I am back and working.

[2021-11-04 17:01] bachya commented on #20165
Okay, here are the docs changes I'm stacking up so far:

1. Instructions for Safari
2. Instructions for Edge/Chrome (they're the same)
3. Callout that so far as we know, 2FA is required in order for this to work
4. You have to use a "normal" OS (Windows, Mac, Linux) – other OS's, like ChromeOS, don't see to work ([x](https://community.home-assistant.io/t/new-simplisafe-auth/352345/12?u=bachya))

[2021-11-04 17:16] sbcrumb commented on #20165
what I can say is if it worked before I turned on 2FA I had  no way to tell the dev console would keep on refreshing and I couldn't see relevant data. Hopefully all this helps.

[2021-11-04 17:18] shemeel commented on #20165
Yes, The token from chrome dev tools worked, Appreciate the solution, you might want to update the documentation

[2021-11-04 18:04] craigccfl commented on #20024
Know this is closed, had the same issue and fixed successfully using developer tools and using the code in the console.

[2021-11-04 18:17] jeffdupont commented on #20165
I'll give that a try. I've been meaning to set 2fa on it anyway.

On Thu, Nov 4, 2021, 10:18 AM Shemeel Basheer ***@***.***>
wrote:

[2021-11-04 18:33] user9931 opened #20155 "Cisco dns resolver that shows wan ip are closed (free service), change to google or alternative"
Cisco dns resolver that shows wan ip are closed (free service), no response with dig or nslookup

[2021-11-04 21:14] drthanwho commented on #20147
As far as I know Google Home, whether it's a mini or a display device, can play media either via https or http.

The requirement for HTTPS is for **Home Assistant** Cast only, not Google Cast. As in you need HTTPS in order to cast your Lovelace through the build in home assistant cast. Playing an audio clip can be anything. HTTP certainly works as I have audio clips that I play to Google Minis ove

[2021-11-04 22:18] drthanwho commented on #18214
In YAML anything that has a `#` in front of is considered a comment. It's as simple as that. You can write anything you want and as long as it starts with `#` it will be ignored.

Have a look here about a detailed explanation https://www.tutorialspoint.com/yaml/yaml_comments.htm

[2021-11-05 02:05] panisin000 opened #20156 "Ezviz's account has not entities."
### Feedback

Ezviz's account has not entities.
Can not stream video to home assistant.
But the older version is useable.

### URL

https://www.home-assistant.io/integrations/ezviz/

### Version

2021.10.6

### Additional information

_No response_

[2021-11-05 04:19] parautenbach commented on #18214
I think you misunderstood my question. I know a hash is a comment in YAML, but note the section I quoted: it's about when it's _quoted_ and _not_ a comment. A hash is used in the examples which make it seem like it potentially has a special meaning to the integration/Google.

![3EFC1794-1D35-48D8-9B3B-41F963F24124](https://user-images.githubusercontent.com/743320/140457643-53fb989e-904a-4040-a28a-

[2021-11-05 04:36] msmith9xr4 opened #20157 "Smarthings security"
### Feedback

Is there a way to determine Smarthings IPs for firewallingt? It seems absurd to open a HASS to the internet when you can just buy a  <$99 box to bridge to a HASS from within your network.

But, for some locations a firewall rule would be enough, allowing Samsung Sthings ranges to an exposed 443 public. Also one less point of failure. Today, this gets done with vera/smarthings boxes (

[2021-11-05 07:17] farmio commented on #20156
Hi 👋!

It seems like you want to report a bug with an Home Assistant integration, but this repository is for documentation feedback only.
Please report issues with Home Assistant integrations at https://github.com/home-assistant/core/issues

Thanks! 👍

[2021-11-05 07:17] #20156 closed, assigned to nobody

[2021-11-05 07:24] hklages opened #20158 "SONOS integration, services"
### Feedback

The SONOS Integration documentation page shows several services such as " SONOS.RESTORE".
On the Home Assistant integration page the SONOS integration shows 4 devices, 4 entities but does not mention any services.

On the other hand the integraton "Speedtest" shows 1 service and 3 entities.

Question: Why is the amount of SONOS services not show on the integration page?
What services

[2021-11-05 07:32] T1ppes opened #20159 "Unclear Instructions on automatically added devices / entities"
### Feedback

The Fritz Box Integration provides device tracker entities for devices connected to the network by creating a Home Assistant Device including a device tracke entity. By default it seems that new devices are being created in Home Assistant, but the device tracker entity is being disabled by default.

The integration provides a system option to "enable newly added entities".
Further it

[2021-11-05 07:54] frenck commented on #18214
Aah I see the confusion, but that is a google calendar feature and not Home Assistant specific.

The hashtag in those searches indicate a tag search.

[2021-11-05 08:07] raderarn opened #20160 "Per capita option in statistics world map"
### Feedback

I think it would be great to see installations per capita as well as in exact numbers. In the active installations and version history there is a checkbox for logaritmic scale. A checkbox in world map "show per capita" would be a nice thing.

### URL

https://analytics.home-assistant.io/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-05 08:16] KeeerD opened #20161 "Possibly a little unclear"
### Feedback

Hi.  I've tried to add the Switchbot integration to my Home Assistant running via Docker on a Synology NAS.  I'm assuming that it doesn't work because my NAS does not currently have any Bluetooth capability.  If this is indeed the case, it would be worth adding the need for bluetooth to the Integration documentation.  It may seem obvious, but to the layman it might seem a little ambi

[2021-11-05 08:17] #20161 closed, assigned to Danielhiversen

[2021-11-05 08:17] KeeerD commented on #20161
How on earth I missed the explicit fact about Bluetooth in the documentation is beyond me.  God, I feel stupid, sorry.

[2021-11-05 10:58] drthanwho commented on #18214
I see now. I was under the impression it meant if what you search actually has a hashtag in the name of your event

[2021-11-05 12:16] jjlawren commented on #20158
Those are the services you can call from scripts or automations. You can review them at `Developer Tools > Services`.

[2021-11-05 12:17] #20158 closed, assigned to cgtobi, jjlawren

[2021-11-05 12:19] frenck commented on #18214
Anyways, whatever it is... it is the search Google provides with its calendars and not something specific to Home Assistant. So your question is better answered by the Google documentation/support pages in this case.

[2021-11-05 12:32] grzestel opened #20163 "Gas Detector"
### Feedback

unsupported  GAS and CO detector can u add this device ?

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.11.1

### Additional information

Device Information
Product Name
燃气一氧化碳复合报警器
Device ID
201814225002916b2128
Product Category
dgnbj
Device Status
Online
Activated At
2020-12-10 16:50:18
Device Association
Project
HomeAssistant
Association
grzestel@gma

[2021-11-05 12:35] frenck commented on #20163
Hi there @grzestel 👋

I think you are in the wrong place, as you have submitted documentation feedback.
Please see http://www.home-assistant.io/help on where to go with these requests.

Thanks! 👍

../Frenck

[2021-11-05 12:35] #20163 closed, assigned to nobody

[2021-11-05 13:03] frenck commented on #20160
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-11-05 13:03] #20160 closed, assigned to nobody

[2021-11-05 13:04] frenck commented on #20157
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-11-05 13:04] #20157 closed, assigned to andrewsayre

[2021-11-05 13:10] frenck commented on #20151
I don't see an last edit?

![image](https://user-images.githubusercontent.com/195327/140515355-9d4c6358-e62c-4792-b87c-5c39361d2895.png)

<https://github.com/home-assistant/home-assistant.io/pulls?q=is%3Apr+sort%3Aupdated-desc+author%3Asmarthomejunkie>

[2021-11-05 14:05] #18449 closed, assigned to nobody

[2021-11-05 16:05] #19137 closed, assigned to nobody

[2021-11-05 16:43] parautenbach commented on #18214
Thanks for chiming in, @frenck – you're a busy man, so it's really appreciated.

Yes, I was aware this might be a Google-specific question, but struggled to find any relevant info. I tried to highlight that in the my original report.

My intention is still to submit a PR for the HA docs to some Google help pages – unless linking to such 3rd party content is discouraged (I don't think so, from what

[2021-11-05 16:43] #18214 closed, assigned to nobody

[2021-11-05 17:52] mike1627 opened #20167 "Homekit "User input malformed" error message"
### Feedback

After upgrading Home Assistant to 2021.11.x, HomeKit now reports an error "User input malformed" error message when trying to add/remove entities from the configuration.  I have deleted the integration and then re-created it, this temporarily resolved the issue but the problem unexpectedly came back.  The logs do not report any relevant errors.

### URL

https://www.home-assistant.io

[2021-11-05 18:21] shemeel commented on #20165
I don't have 2FA set but the above method is working for me.

[2021-11-05 21:46] ericvb opened #20170 "Install Home Assistant Core on Linux : propose to use Python 3.9 + extra dependency if using mysql or mariadb"
### Feedback

Adapt this installation page to use python 3.9 and not anymore python 3.8

I should also mention for people using a mysql or mariadb database, that they must install an extra dependeny : libmysqlclient-dev
`sudo apt install -y libmysqlclient-dev`

and install also the mysqlclient:
`python3 -m pip install wheel mysqlclient`

### URL

https://www.home-assistant.io/installation/linux/

[2021-11-06 02:34] mrnegpants opened #20173 "offset understanding"
### Feedback

your examples shows an offset but not explanation what does a negative offset do ? is before or after the event ?

### URL

https://www.home-assistant.io/integrations/sun/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-06 12:11] rodders99 opened #20175 "Efergy Sensor Consumption Breakout"
### Feedback

I have multiple sensor with my efergy setup. One monitoring the whole house, one measuring the EV Charger.

However,there appears to only be one consumption total.

Is there any way of splitting out the separate sensor consumption figures ?

### URL

https://www.home-assistant.io/integrations/efergy/

### Version

2021.11.1

### Additional information

![image](https://user-images.gi

[2021-11-06 12:39] richardwonka opened #20176 "How to update / keep blueprints up to date?"
### Feedback

Blueprints are likely subject to change.

How do I update them?

### URL

https://www.home-assistant.io/docs/automation/using_blueprints/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-06 15:28] tkdrob commented on #20175
You have 2 sensors. The screenshot shows 3 consumption totals: one for the whole system and the other two are for each sensor.

[2021-11-06 15:37] rodders99 commented on #20175
Thanks for responding.

Those are power readings for each sensor, not consumptions readings. The sensor doesn't increase during the day, it's recording the load at that moment in time.

While I can use the [Reimann Sum ](https://www.home-assistant.io/integrations/integration/) integration platform to sort of overcome the limitation, it would be nice if we could access each sensor separately.

I ap

[2021-11-06 16:03] jofotoo opened #20181 "Add link to info on packages"
### Feedback

I suggest adding a link to [packages](https://www.home-assistant.io/docs/configuration/packages/) from this page.  I think that many people looking to break up their config file would want to organize the files by integration/concept/etc, so you can add and remove them all in one shot when adding/removing the related integration (for ex, alexa, fordpass, garbage collection). I spent

[2021-11-06 16:28] borpin commented on #20147
@drthanwho, Sorry I don't understand the difference.

All I am doing in the integration is...

![image](https://user-images.githubusercontent.com/1322749/140616619-5f21d149-072c-4d6a-8955-81f6a13dc9e9.png)

The 'Home Assistant Cast' appears from the documentation to be part of the 'Google Cast' page.

![image](https://user-images.githubusercontent.com/1322749/140616679-5d438a1f-ff95-4507-b094-2e7e

[2021-11-06 17:21] robi59italy opened #20182 "Smartplug power monitor is not updated"
### Feedback

Teckin SP21 smart plug with power monitor
In the past connected to home assistant vers. 9.7 with localtuya - working perfectly

Now with Tuya integration HA 2021.11.1
at the first installation, HA shows the right power,current,ect. but they are never updating. The entities show the first numbers...

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.11.1

##

[2021-11-06 18:20] tkdrob commented on #20175
Here is the documentation: http://napi.hbcontent.com/document/index.php

I will look into it but can't promise anything.

[2021-11-06 18:40] frenck commented on #20181
Feel free to suggest an edit to do that! 👍

[2021-11-06 18:41] frenck commented on #20182
This is not something we can do anything about. We receive updates pushed from Tuya. If they don't push data, data won't be updated.

Please contact Tuya support about this.

[2021-11-06 18:41] #20182 closed, assigned to nobody

[2021-11-06 20:30] frenck commented on #20173
negative time means before the event, positive time after the event.
The offset is added to the event time.

[2021-11-06 20:30] #20173 closed, assigned to Swamp-Ig

[2021-11-06 20:40] sevorl opened #20183 "device class: tamper"
### Feedback

device class: tamper seems to be no longer supported.

### URL

https://www.home-assistant.io/integrations/binary_sensor/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-06 21:00] #19153 closed, assigned to nobody

[2021-11-06 21:06] ludeeus commented on #20183
It is <https://github.com/home-assistant/core/blob/dev/homeassistant/components/binary_sensor/__init__.py#L98-L99>, <https://github.com/home-assistant/core/blob/dev/homeassistant/components/binary_sensor/__init__.py#L134>

[2021-11-06 21:06] #20183 closed, assigned to nobody

[2021-11-06 22:27] mrnegpants commented on #20173
Please look at the page you just sent a link to. it does not explain the
offset. I am sure you know what it does, but others do not.

Frank

On Sat, Nov 6, 2021 at 4:30 PM Franck Nijhof ***@***.***>
wrote:

[2021-11-07 02:03] jamesprez opened #20186 "I followed the instructions, but it didn't work (sorry)"
### Feedback

I've followed these steps and nothing happens...  Just trying to use the basic setup my configuration.yaml file looks like this... I've rebooted the server management, but everything is the same when it comes back. There is no Sensibo integration visible with all my other integrations (and I've checked that I'm not filtering it out) and there is nothing on my overview that indicates

[2021-11-07 02:36] Talor-A commented on #20167
+1, I'm also seeing the same error on the adaptive lighting integration (issue is being tracked [here](https://github.com/basnijholt/adaptive-lighting/issues/213))

[2021-11-07 04:18] jamesprez commented on #20186
Turns out it is working afterall.

and I now understand that the switch code isn't meant to be in the configuration.yaml either.

[2021-11-07 04:18] #20186 closed, assigned to andrey-git

[2021-11-07 07:48] frenck commented on #20173
I am sorry, I don't think it needs further explanation.

Feel free to suggest an edit of the page in a PR

[2021-11-07 09:17] solarjoe opened #20191 "Rest API api/history/period does not state the format of the returned data"
### Feedback

For the endpoint `/api/history/period/<timestamp>`
it is not clear what the nested list
`[ [ {something entry ] ]`
in the response is about.

Is there a inner list entry for each `entity_id` passed as `filter_entity_id=<s>` passed as parameter to the request?

### URL

https://developers.home-assistant.io/docs/api/rest/

### Version

_No response_

### Additional information

_No res

[2021-11-07 10:46] claasse4 opened #20192 "Upgrade HomeAssistant to Python3.9"
### Feedback

Please update the Windows (WSL) instructions to work on Python 3.9 (3.8 warned for deletion per Feb. 22).

### URL

https://www.home-assistant.io/help/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-07 12:06] lukerix opened #20193 "Graph units"
### Feedback

Hi there,
The graph is shown in basic units, but it would be nice to be able to set it to show with a multiply.
A example is in the additional information.

Regards,
lukerix

### URL

https://www.home-assistant.io/lovelace/statistics-graph/

### Version

2021.11.1

### Additional information

A atmospheric presure sensor (in "hPa") is shown in "Pa". So the graph instead oscillating a

[2021-11-07 12:27] iridris opened #20195 "Documentation Search provides duplicate results"
### Feedback

The documentation search will occasionally provide duplicate results. In the screenshot below, there are two results for "Notifications". If I hover over the links, one will have a trailing "/" on the URL, and the other will not.

Example:
`https://www.home-assistant.io/integrations/notify/`
`https://www.home-assistant.io/integrations/notify`
![image](https://user-images.githubuserco

[2021-11-07 14:00] #18365 closed, assigned to balloob

[2021-11-07 14:05] txusebe opened #20196 "Old install within Python3.8"
### Feedback

venv is created in Python3.8

### URL

https://www.home-assistant.io/installation/windows/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-07 15:08] esbart commented on #20110
![TuyaIiot2](https://user-images.githubusercontent.com/58782700/140650685-3db00ede-c4b8-45dd-be03-489881310dcb.PNG)
![TuyaIiot3](https://user-images.githubusercontent.com/58782700/140650692-772009f7-e2e1-4559-ae18-56f45f5b9523.PNG)
![TuyaIiot6](https://user-images.githubusercontent.com/58782700/140650699-f8703e73-fc70-45dd-96b4-9a5ffcfcc69d.PNG)
![TuyaIiot7](https://user-images.githubusercontent.c

[2021-11-07 15:09] esbart commented on #20110
the  4  4 Curtain Switch  but can oly swich with one switch  Two are oly  visble but dont respond to switch commands  If I look in the  Tuya iot debug of the switch i see that the new Tuya doenot com on the IOT platform. The last one is only in the tuya old seen and olso working
The working one in Tuya old and new is a  Curtain Switch
The  2 others  who are working in the old and well in the new t

[2021-11-07 16:11] rodders99 commented on #20175
Thanks, I'll have a look at it.

[2021-11-07 18:22] eitau opened #20197 "Unclear documentation on packages"
### Feedback

I just can't quite parse this paragraph:

What's <q>core `homeassistant/packages` </q>? It refers to a part of software? From later reading i infer it's a directory. It's unusual wording considering the rest of the documentation.

Secondly: the example given here is not in right form to be placed in `packages` directory but rather in main `configuration.yaml` file.

### URL

https://

[2021-11-07 18:29] gody01 opened #20198 "Solaredge integration has unavailable enitites after Hassio core update to core-2021.11.1"
### Feedback

Hi,

After core update to 2021.11.1 solaredge integration show most sensors as unavailable.
Only current_power and lifetime_energy are working normaly.

Unavailable sensor.se_go_energy_this_year SolarEdge Integration
Unavailable sensor.se_go_energy_this_month SolarEdge Integration
Unavailable sensor.se_go_energy_today SolarEdge Integration
Unavailable sensor.se_go_site_details SolarE

[2021-11-07 19:05] wperry1 opened #20199 "Missing Configuration Information"
### Feedback

The basic configuration information for the Pi-Hole is missing from this page. There also appears to be no information on how to provide an API key so that the Pi-Hole can be controlled.

### URL

https://www.home-assistant.io/integrations/pi_hole/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-07 20:04] ivanhgg opened #20202 "Broken"
### Feedback

No data is being received from this integration.

### URL

https://www.home-assistant.io/integrations/pvpc_hourly_pricing/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-07 20:30] Xiondewah opened #20203 "Fitbit Integration"
### Feedback

“Go to the frontend. You will see a new entry for configuring Fitbit. Follow the instructions there to complete the setup process.”

I’ve no idea where this new entry for configuring is - can find a new card, but nothing requiring configuration after updating the configuration.yaml file and restarting.

### URL

https://www.home-assistant.io/integrations/fitbit/

### Version

2021.11

[2021-11-07 22:02] jd1900 opened #20205 "Remove [orphan] entities"
### Feedback

There is no way to remove entities.

I don't know how, but the addon "restarted", and all of the renamed entites became orphan.
And newly created entities with names from 1 to n were created.

Orphan entities don't work anymore, but I can't delete them.

### URL

https://www.home-assistant.io/integrations/homekit_controller/

### Version

2021.11.1

### Additional information

_No re

[2021-11-07 22:21] Jc2k commented on #20205
Hi - this is the place for documentation issues not bugs in home assistant or user support.

You'll need to raise an issue here:

https://github.com/home-assistant/core

Please make sure to include details of what hardware you are using as it might be the root of the problem. E.g. I use Hue with homekit and they (hue) recently changed the serial numbers of all my devices and did exact same thing t

[2021-11-07 22:21] #20205 closed, assigned to Jc2k, bdraco

[2021-11-08 00:10] akloeckner opened #20206 "Add linked devices and group retrieval"
### Feedback

The rest interface also supports linking it to an existing number on signal. So, this should be lined out in the docs. The current docs suggest you need a free phone number to use this integration.

Also, notifying a group has a few pitfalls that should be clarified:
1. In order to see any group, the receive command has to be issued. (https://github.com/AsamK/signal-cli/issues/82)
2.

[2021-11-08 00:14] akloeckner commented on #20206
:-) @bbernhard, I avoided to open the issue in your repo, as I wasn't sure of the owner of the HA docs. I hope, it'll find its way to you anyways.

[2021-11-08 00:17] ClausCaus opened #20207 "Tentando novamente a configuração: [Errno 111] Connect call failed ('192.168.0.98', 5577)"
### Feedback

Hello,

Can you help and insert on documentation what is the meaning of the error codes?

Tks!

### URL

https://www.home-assistant.io/integrations/flux_led/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-08 00:42] subarunut333 opened #20208 "SimpliSafe Web api authentication"
### Feedback

Trying to re-authorize my HomeAssistant with my SimpliSafe and following the directions on both my windows laptop's as well as my android phone, I am unable to get past the text code.  The browser window just stops.  It appears that it is using the iOS auth page.  I this correct?  Should I be trying on my iOS device instead?

### URL

https://www.home-assistant.io/integrations/simpli

[2021-11-08 01:29] bachya commented on #20208
Duplicate of https://github.com/home-assistant/home-assistant.io/pull/20164.

[2021-11-08 01:29] #20208 closed, assigned to bachya

[2021-11-08 07:58] azogue commented on #20202
Hi there @ivanhgg  👋

Seems like you wanted to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please submit issues with Home Assistant integrations in the issue tracker here:

https://github.com/home-assistant/core/issues

Thanks! 👍

BTW, this one looks like a duplicate of #20126 (also misplaced here), and it was already registered

[2021-11-08 07:58] #20202 closed, assigned to azogue

[2021-11-08 11:14] landaisbenj opened #20216 "What is scan_interval"
### Feedback

In rest integration, scan_interval is not documented. What is the default value ? Is it 60 ?

### URL

https://www.home-assistant.io/integrations/rest/

### Version

2021.11.1

### Additional information

Documentation referer to rest sensor of binary sensor, but here's no info on scan_interval too

[2021-11-08 12:13] drthanwho commented on #20147
Here is an example from one of my automations
[code]

This is stored in the `www` folder (thus /local) which means it's accessible both locally and externally (this is mentioned in the note that it has to be publically accessible). What you are trying to play is stored in /media which is why you can only get it to work by copying the url from the dev console.
If you want them to play normally you

[2021-11-08 13:10] #19169 closed, assigned to nobody

[2021-11-08 14:15] borpin commented on #20147
Hi @drthanwho, thanks. I think I understand this now and seem to have got it to work.

So the part re the `www` folder is what needs adding to the documentation as that isn't clear (or a link to where this is explained more fully).

![image](https://user-images.githubusercontent.com/1322749/140756448-f8963445-1261-4a17-93f2-3c1a0d8c82e9.png)

Might I suggest this is added, please?

"To cast media

[2021-11-08 15:01] #19123 closed, assigned to nobody

[2021-11-08 16:05] #19135 closed, assigned to Danielhiversen

[2021-11-08 17:27] darkvampire1 opened #20221 "Update first"
### Feedback

First is neesery the update!

opkg update
opkg install luci-mod-rpc

https://openwrt-luci-rpc.readthedocs.io/en/latest/usage.html

### URL

https://www.home-assistant.io/integrations/luci/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-08 17:56] bbernhard commented on #20206
Thanks for the feedback!

regarding 1. & 2.: Please have a look at the new [JSON-RPC Mode](https://github.com/bbernhard/signal-cli-rest-api#modes). This mode works way faster than the normal/native mode and doesn't have the issues you've mentioned above.

regarding the documentation: I can try to make the documentation more clear, but especially for the documentation I highly appreciate input (in

[2021-11-08 18:54] Struan1207 opened #20222 "Small problem"
### Feedback

I had a problem with the virtual environment. it states python3.8, which was unknown.
Thanks for providing this manual.

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2021.11.1

### Additional information

_No response_

[2021-11-09 06:32] purcell-lab commented on #20198
Have a look at this article here to assist:
https://community.home-assistant.io/t/solaredge-energy-module/327131/37

[2021-11-09 07:55] jespermeyer opened #20229 "Link not working"
### Feedback

The top link / URL to https://github.com/ciotlosm/lovelace-thermostat-dark-card/tree/master/group-card doesn't work.

### URL

https://www.home-assistant.io/integrations/light.group/

### Version

2021.11.2

### Additional information

_No response_

[2021-11-09 08:08] ludeeus commented on #20229
Where did you find that link?
It is not anywhere in the documentation source

[2021-11-09 09:43] frenck commented on #20198
Please, read the release notes. We put a lot of effort into those to help you with these things.

<https://www.home-assistant.io/blog/2021/11/03/release-202111/#breaking-changes>

![image](https://user-images.githubusercontent.com/195327/140900623-0c76a3d5-fa4c-4d60-b347-1a24fff1769c.png)

[2021-11-09 09:43] #20198 closed, assigned to frenck

[2021-11-09 10:03] jespermeyer commented on #20229
HI,

Please see attachment, the URL is marked with the red circle

![image](https://user-images.githubusercontent.com/4678618/140903840-460e56c4-9a4f-4814-9996-ee2fd4633813.png)

[2021-11-09 10:17] ludeeus commented on #20229
That is not a part of this documentation, please add a comment in that thread on the forum :+1:

[2021-11-09 10:17] #20229 closed, assigned to nobody

[2021-11-09 10:55] frenck commented on #20222
So, when using the core installation method, in a Python environment, your Python runtime might differ from the examples. This can be caused by using different distributions or personal preferences of managing runtimes.

Anyways, this is an advanced installation method, we expect people that use this, to be aware of how to manage their Python runtime and environment.

[2021-11-09 10:55] #20222 closed, assigned to nobody

[2021-11-09 11:10] frenck commented on #20216
Scan interval is a generic platform option, documented here: <https://www.home-assistant.io/docs/configuration/platform_options/#scan-interval>

[2021-11-09 11:10] #20216 closed, assigned to nobody

[2021-11-09 11:17] frenck commented on #20207
I'm not sure how more clear it could be?

[2021-11-09 11:28] frenck commented on #20199
Its right in the middle of the page?

![image](https://user-images.githubusercontent.com/195327/140916177-d75a8bd3-b30d-4625-90fc-835fb83b6c75.png)

[2021-11-09 11:40] frenck commented on #20193
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-11-09 11:40] #20193 closed, assigned to nobody

[2021-11-09 13:26] gody01 commented on #20198
Thanks,

I was confused, as most entities become disabled. Now I enabled them and are visible again.

[2021-11-09 13:38] frenck commented on #20198
👍  As described :)

[2021-11-09 15:59] wperry1 commented on #20199
I apologize if this is not the place to put this. I've never actually had someone respond to a feedback button on a website before. When I went through the GUI to configure my pi-hole I did not see an option to add my API key so I was looking to add it to my configuration.yaml. The YAML config is listed for the pi-hole disable service but the basic YAML config is missing.

[2021-11-09 16:51] frenck commented on #20199
There is no YAML configuration for this integration.

[2021-11-09 17:11] #19194 closed, assigned to nobody

[2021-11-10 08:22] akloeckner commented on #20206
So, this mode auto-receives? Or how does it circumvent the issue in the underlying `signal-cli`? I'll try the new mode at least to gain some speed. Thanks for the hint!

Alright! I'll try and contribute to your repo then probably, because the setup is described there.

[2021-11-10 10:14] LucVanDyck opened #20244 "heating_type is not optional anymore"
### Feedback

In the description of this integration is mentioned that the configuration variable _**heating_type**_ is optional. This is no longer correct. My log shows this error: "Invalid config for [vicare]: value must be one of ['auto', 'fuelcell', 'gas', 'heatpump', 'oil', 'pellets'] for dictionary value @ data['vicare']['heating_type']. Got None. (See /config/configuration.yaml, line 65). P

[2021-11-10 10:39] ludeeus commented on #20086
Check configuration already exists in each common task page:
- https://www.home-assistant.io/common-tasks/os/#configuration-check
- https://www.home-assistant.io/common-tasks/container/#configuration-check
- https://www.home-assistant.io/common-tasks/core/#configuration-check
- https://www.home-assistant.io/common-tasks/supervised/#configuration-check

[2021-11-10 15:01] superwangmeng opened #20247 "Gree Climate does not work with my device,my device type is FHBQGL-D2.5DC"
### Feedback

Gree Climate does not work with my device,my device type is FHBQGL-D3.5DC, FHBQGL-D2.5DC is a new HVAC ,it is a Ventilation Device,  It can work in Gree APP+, this is the log:

Logger: homeassistant.components.gree.bridge
Source: components/gree/bridge.py:64
Integration: Gree Climate (documentation, issues)
First occurred: 22:52:01 (10 occurrences)
Last logged: 22:52:28

Timeout send

[2021-11-10 15:35] cmroche commented on #20247
Enabled debug logging please

[code]

And repost complete logs. Additionally, describe your network setup and if possible a tcpdump or wireshark capture of any UDP traffic with the device using the Gree+ app would help identifying any potential issues.

Thank you.

[2021-11-10 17:26] bbernhard commented on #20206
In normal/native mode, we are invoking the `signal-cli` binary (with the appropriate parameters) for every REST request. In JSON-RPC mode a `signal-cli` instance per registered number is started in daemon mode, which listens for incoming/outgoing requests. That means that we do not need to periodically call the `receive` endpoint anymore, but instead `signal-cli` tells us when a new message is rec

[2021-11-10 19:53] TechBrain64 opened #20250 "Integration Documentation Lacking"
### Feedback

It would be helpful if there were examples accompanied with this integration. Actually, I've been looking up documentation on several integrations and the examples are lacking adequate details for understanding their use.

FYI: You cannot expect someone with no understanding of a program to document it's use.

### URL

https://www.home-assistant.io/integrations/number/

### Version

[2021-11-10 19:56] frenck commented on #20250
This is an integration component, it cannot be used directly, it is provided by other integrations.

Looking at the documentation, it isn't clear from the description, so that should be added.

[2021-11-10 20:02] TechBrain64 commented on #20250
@frenck I believe it's understood "number" is a variable and used to hold a value, however, how does one go about using this variable is in question.

[2021-11-10 20:06] frenck commented on #20250
It is not a variable, it is an entity. An entity that can be provided by other integrations. For example:

The WLED integration provides a number entity (shown as slider) to set the speed of the effect on the LED strip:

![image](https://user-images.githubusercontent.com/195327/141185561-6660889b-9cc7-4915-9fb9-d22628a28496.png)

So, number entities (like light, switch, fan, climate, ... entities)

[2021-11-10 20:10] TechBrain64 commented on #20250
So then I (a user) cannot use the "number" entity in a custom sensor, script, automation...etc?

[2021-11-10 20:11] frenck commented on #20250
The user version of such a thing would be Input Number (aka a Number helper):

<https://www.home-assistant.io/integrations/input_number/>

[2021-11-10 20:22] TechBrain64 commented on #20250
Got It....then yes, you are correct in stating the "number" entity doc needs to clearly indicate it's purpose.

BTW: the reason I'm looking into this, i'm trying to figure out how i can calculate a value (cost) based on whether a value is above or below another entity, then executes a mathematical formula where results are assigned to entity.

[2021-11-10 20:47] frenck commented on #20250
Your description sounds more like a templated sensor?

[2021-11-10 21:29] TechBrain64 commented on #20250
Yes, that's what I've chosen to use, but I'm having difficulty figuring out the syntax that will bring it all together. I've search to forums, youtube and online; most are using it with devices comparing/manipulating attributes. I need to use state values (input_number) greater than/less than state of another input number.

Hence, my comment about the examples lacking adequate details.

[2021-11-10 23:08] markrharvey opened #20252 "is there any way to rotate the image"
### Feedback

i would like to rotate the image so that it is horizontal rather than verticle is there any way i could do thi

### URL

https://www.home-assistant.io/lovelace/picture-elements/

### Version

2021.11.2

### Additional information

_No response_

[2021-11-11 00:23] akloeckner commented on #20206
Ah ok. I think, I get the idea. Thanks.

I'll close the issue, as it's adressed now in your repo.

[2021-11-11 00:23] #20206 closed, assigned to nobody

[2021-11-11 08:24] superwangmeng commented on #20247
thanks ，I will try tonight（repost complete logs），by the way，how I can use tcpdump capture on the device？I dont know how to ssh the device, could you tell some details? I could  capture UDP on the  Home Assistant server，I will try this and tell you the network setup. how to sent the .pcap to you?

[2021-11-11 10:01] Xaos1990 opened #20261 "Stookalert intergration not in current homeassitant?"
### Feedback

RIVM Stookalert intergration is not showing up in integrations page on homeassitant core-2021.10.2.

### URL

https://www.home-assistant.io/integrations/stookalert/

### Version

2021.10.2

### Additional information

_No response_

[2021-11-11 10:14] frenck commented on #20261
It has been added to the UI in Home Assistant Core 2021.11. Please upgrade your instance.

[2021-11-11 10:14] #20261 closed, assigned to frenck

[2021-11-11 12:39] ghost opened #20262 "Plugin not working correct (read only)"
### Feedback

Since the last updates (last months) you cannot do any action on the risco system. It seems you have read-only access.
Upon further investigation you can see that you cannot POST to the API due to some errors.

### URL

https://www.home-assistant.io/integrations/risco/

### Version

2021.11.2

### Additional information

_No response_

[2021-11-11 13:05] superwangmeng commented on #20247
this is the log, I control the interface in HA and HK, it does not work,@cmroche

021-11-11 20:39:31 DEBUG (MainThread) [homeassistant.components.gree.climate] Setting HVAC mode to cool for device c67dd420
2021-11-11 20:39:31 DEBUG (MainThread) [greeclimate.device] Pushing state updates to (Device: c67dd420 @ 192.168.1.49:7000 (mac: 502cc67dd420))
2021-11-11 20:39:31 DEBUG (MainThread) [greeclimat

[2021-11-11 13:12] marcus-aa opened #20263 "HAN port incorrect!"
### Feedback

”Swedish meters with a ‘HAN port’ are not supported by this integration.”

No, you MUST have a meter with a HAN port for this to work…..

All the new meters have HAN ports, but they can be different formats and specs. This works with all Swedish HAN ports that use RJ12 and the P1 protocol. Som early models used RJ45 and the Norwegian M-bus protocol, which  is NOT compatible. But it i

[2021-11-11 13:16] OnFreund commented on #20262
Please attach logs and any other information that can help.
Also, please make sure you can use Risco cloud through the app (in some markets cloud access requires a subscription)

[2021-11-11 13:48] cmroche commented on #20247
@superwangmeng This is indeed an odd case. From what I can see the device is connected and bound, and can even request and receive updates from the device state. But, every attempt to change the state the device fails to respond.

I think this might mean there is something specific about the device, or protocol that has changed. Doing a network capture from homeassistant will be sufficient, you ca

[2021-11-11 15:27] kryptonitecb3 opened #20265 "Workday sensor does not allow adding named holidays"
### Feedback

This may be related to issue #18999.

I noticed today, Veterans Day, that a couple of my automations didn't fire and realized the culprit was that my workday sensor was off. Since my work only observes specific holidays I attempted to "add_holidays" for just the observed holidays. When I do this I get errors in the logs:

[code]

Config entry:
[code]

If "add_holidays" is only for sp

[2021-11-11 15:40] LucaMannella opened #20266 "List of all components for each quality scale level"
### Feedback

Hi everyone,

I found really interesting the concept of integration "Quality Scale".
From my point of view, it could be a good idea to provide a direct link to all the components that have reached a certain quality level. So, for example, if I'm interested in installing in my Home Assistant only _platinum_ integrations in my Home Assistant, it could be easier to find them.

I tried t

[2021-11-11 16:15] allenporter commented on #17835
One other thing I noticed when testing: you can select devices across multiple homes and they all get added to home assistant. That is pretty nice.

[2021-11-11 16:39] dirksenrdh opened #20268 "placing of additions to yaml files"
### Feedback

in many cases the HA documentation advises to make changes in configuration, boot, script or yaml files.
sometimes thes additions can be placed anywhere, but I can imagine that some additions are place sensitive.
It would be helpfull to always give a reference as where to place an addition.

### URL

https://www.home-assistant.io/integrations/python_script/

### Version

2021.11.2

#

[2021-11-11 16:46] superwangmeng commented on #20247
thanks for your help，how to get the device binding key from the log？：）, I copy the whole log from 20:35 -00:26, could I have your Email, I will sent the pcap and the log to you.

[2021-11-11 16:48] cmroche commented on #20247
The device binding key will be output in the log. It will look like this:

[code]

This is a single use email address you can use to contact me: dogged.raffle-0n@icloud.com

[2021-11-11 17:29] frenck commented on #20268
Not really?

[2021-11-12 00:30] smarthomeproxy opened #20276 "Example"
### Feedback

`FULL CONFIGURATION FOR 2.XX INSTALLATIONS`

Has the sample config:
influxdb:
  api_version: 2
  **ssl: false**

Why is ssl set to false in the sample config?

### URL

https://www.home-assistant.io/integrations/influxdb/

### Version

2021.11.2

### Additional information

_No response_

[2021-11-12 01:37] superwangmeng commented on #20247
Email sent, thanks a lot :)

[2021-11-12 08:00] #19219 closed, assigned to nobody

[2021-11-12 08:38] knag1 opened #20278 "ha displays 24 hours old data from volkszähler integration"
### Feedback

I found out that the values provided by the volkslzähler integration are exactly 24 hour old and not actual!
![haActual](https://user-images.githubusercontent.com/93338468/141436211-a71f9b11-88ce-4592-9447-0085f874632e.png)
![vz2last2days](https://user-images.githubusercontent.com/93338468/141436212-b998d1e3-755b-427f-b074-d1626e4be6ae.png)

### URL

https://www.home-assistant.io/int

[2021-11-12 08:45] knag1 commented on #20278
wäre auch nett die werte im neuen ENERGIE irgendwie zu sehen....

[2021-11-12 10:01] dirksenrdh commented on #20268
ok,
that makes life easy.
thnx

[2021-11-12 10:13] #20268 closed, assigned to nobody

[2021-11-12 10:51] DJF3 opened #20279 "SNMP - mention scan_interval as an option"
### Feedback

In several places I read that scan_interval is an option for the SNMP integration. Could this be added documentation? It is a very valuable option.

### URL

https://www.home-assistant.io/integrations/snmp/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-12 14:42] dm-home opened #20280 "simplify instructions"
### Feedback

In latest release of Rasperian, you can now just sudo apt install pianobar. Remove Raspbian Jessie references?

### URL

https://www.home-assistant.io/integrations/pandora/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-12 15:24] cmroche commented on #20247
@superwangmeng That capture you sent me does indeed confirm that the device isn't responding. So to add support for the device it will mean decoding the protocol. However, to do this the network capture has to come from a device working between the phone and the A/C, such as your router, or by connecting the phone and A/C both to a PC working as a wireless access point. Please let me know if you a

[2021-11-12 16:28] superwangmeng commented on #20247
@cmroche Thank you very much. I will try to do it. I need to make it clear,All I need is GREE + APP, device and router (or PC hotspot as router)？no need Home assistant？, is there anything I need to do on GREE +? In addition, I will provide a screenshot of GREE + APP to your email for your reference . I will try it later tomorrow.

[2021-11-12 16:36] superwangmeng commented on #20247
@cmroche Email address does not exist :(，do you need the screenshot？

[2021-11-12 16:46] cmroche commented on #20247
@superwangmeng Sorry, I reactivated the email.

[2021-11-12 17:41] cmroche commented on #20247
@superwangmeng I didn’t read your full message, was in a bit of a hurry. But exactly what you said. We need the network traffic from the phone, so homeassistant isn’t important here.

[2021-11-12 19:09] GNious opened #20283 "Tuya "integration" impossible if user only has a phone"
### Feedback

Following the process for Tuya integration fails if user only has a phone (e.g. on the step of scanning the barcode with that phone, but also repeatedly earlier due to issues with the Tuya website)

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-12 19:11] mdegat01 commented on #20276
Because it is showing an example configuration if someone had deployed InfluxDB locally, just like the 1.xx one above. When deploying services locally that are only accessible within their network people usually don't use SSL since they don't want to mess with self-signed certificates.

[2021-11-12 19:14] mdegat01 commented on #20276
Also `ssl` is `true` by default there wouldn't be any point in including `ssl: true` in the example, you would just omit `ssl`. With the examples I thought generally it was good to pick something realistic that leverages as many of the configuration options as possible, hence I picked non-ssl local.

[2021-11-12 22:28] CumpsD commented on #11082
Shame this got locked. I ran into issues backing up incorrectly.

I run HA on a Raspberry in Container mode, it uses SQLite. I copied my `config` folder while HA was running. When I needed to restore, it turned out the SQLite db was corrupt.

Now I always stop the container before backing up.

[2021-11-13 00:55] maplebed opened #20289 "Troubleshooting Automations page needs more clarity on keeping more traces"
### Feedback

I am confused by what the effect of adding `trace: stored_traces: 1` to my automation configuration will do. I can think of two different things - maybe it's a boolean and setting it to `1` means "true", or "keep all the traces", or maybe it means "only keep 1 trace, the most recent".

I went looking for this documentation in order to keep _more_ traces, so I'm confused about the val

[2021-11-13 06:35] Daneish commented on #20167
While it seems 2021.11.3 fixed this error for some other integrations, I’m still seeing this error with HomeKit on core-2021.11.3 (supervisor-2021.10.8, Home Assistant OS 6.6). It still occurs after rebooting the host and in both the web interface and iPadOS app (v2021.11.1).

[2021-11-13 09:27] RolandGoud commented on #19670
@frenck this integration is awful....it does not find all devices and refuses to give the command to the curtain.

 On top of that the developer provides no support....not even a small remark on. any of the issues. This integration is HA unworthy

[2021-11-13 09:29] frenck commented on #19670
So uh, why ping me for that? Additionally, you are providing documentation feedback right now... you might want to raise an Core issue for issues you have instead?

[2021-11-13 10:26] #19320 closed, assigned to nobody

[2021-11-13 13:05] Tylast opened #20293 "Power Not Yielding Expected Behavioir"
### Feedback

"Leave out to keep the power as it is."

I have no power elements in my commands in Node Red, yet when triggered - my lights always come on.  They should retain the current power state.

### URL

https://www.home-assistant.io/integrations/lifx/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-13 13:10] frenck commented on #20293
I'm not sure what the documentation feedback is you are giving in your message, could you please clarify?

[2021-11-13 14:15] #20293 closed, assigned to nobody

[2021-11-13 14:37] summer600 opened #20295 "This guide does not explain enought for new users"
### Feedback

I am a complete noob but do know computers and setting up stuff. The honeywell setup does not say where to put the configuration. he setup does say something about configuration. But in the UI I cannot find any place to put this. I assume it goes in the configuration.yaml, but this guide says you can do it from the UI.
The My add integration button mentioned just sends you to the add

[2021-11-13 14:39] yepperak opened #20296 "Platform directv does not generate unique IDs."
### Feedback

Logger: homeassistant.components.media_player
Source: helpers/entity_platform.py:586
Platform directv does not generate unique IDs. ID 802994074984 already exists - ignoring media_player.fam_rm
Platform directv does not generate unique IDs. ID 80299407573F already exists - ignoring media_player.mstrbed

Works for 5 min then stops working.  Last know working HAss version 10.6.6. No du

[2021-11-13 14:56] summer600 commented on #20295
Wow. I finally got it to work somehow. The guide sends you to the developer portal of honeywell. There I created an account as instructed by the guide. I created the App, everything clear.
Then the guide did not clearly say I hade to add the lines shown to the configuration.yaml. It just said add it to the configuration. I hd to go to the config folder and sudo nano the configuration.yaml. After t

[2021-11-13 16:13] superwangmeng commented on #20247
@cmroche I use the wireless of imac as a access point (router), and the iphone is connected to it. At the same time, a static route is added under the original router. The following is some network information:
Router: 192.168.1.1 (add a static route: 192.168.2.0/24 192.168.1.4)
imac lan: 192.168.1.4, Imac wifi: 192.168.2.1 (as a router)
Iphone: 192.168.2.2 (gateway: 192.168.2.1), wireshark captur

[2021-11-13 16:18] #20295 closed, assigned to nobody

[2021-11-13 20:52] Milan1989 opened #20300 "Gree climate integration not working"
### Feedback

Gree climate integration can not find my Gree comfort X  air conditioner on my network.
HA server and the air conditoner are on the same network.
My device is pingable and controllable by Gree+ app.
Gree climate firmware version:  V3.71
My device has fix ip on my network.

### URL

https://www.home-assistant.io/integrations/gree/

### Version

2021.11.3

### Additional information

_

[2021-11-13 23:30] Phrede opened #20301 "Honeywell TCC"
### Feedback

Include in the instructions........If coming from a previous (depreciated) version where the User and Password were under climate-platform-honeywell you must delete and reinstall the integration itself.  This lets you set the user and password

I wonder where the credentials are now stored and where to set the polling interval.

### URL

https://www.home-assistant.io/integrations/hon

[2021-11-13 23:42] stirls1 opened #20302 "Github link no longer valid"
### Feedback

Hi,  https://github.com/home-assistant/operating-system/releases/download/6.6/haos_rpi4-64-6.6.img.xz doesn't work any more - it gives a 'needs authorisation' error and then fails.

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-13 23:51] stirls1 opened #20303 "Github link is actually working - my new Windscribe VPN was blocking it from working properly"
### Feedback

My previous feedback was that the link was broken (because it kept starting to download and failing after 10 minutes). I've now turned Windscribe VPN off and the download worked.

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-14 00:45] VictorS42 opened #20304 "Doesn't say if the Airthings hub is required or which models it is known to work with."
### Feedback

I'm shopping right now for an indoor AQ monitor, and I hope that an Airthings Mini will work, but I can't tell from reading the integrations page. I see that some Airthings devices go on the network, but it looks like the Mini is a Bluetooth device. The Airthings product page says "works with Alexa".

### URL

https://www.home-assistant.io/integrations/airthings/

### Version

2021.1

[2021-11-14 01:02] tescher opened #20305 "Need example"
### Feedback

Could use a usage example. Many HA pages are like this. They show a sensor or other entity, but no example about how to use it.

### URL

https://www.home-assistant.io/integrations/ping/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-14 06:23] AeroV95 opened #20307 "Failed to call service climate/set_hvac_mode. 'val' when using lovelace"
### Feedback

When try to power on or change the hvac mode from the lovelace dashboard, the following error is displayed.
Failed to call service climate/set_hvac_mode. 'val'

However, pressing the button a second time works and the hvac mode is correctly set. However, this cannot be used in automation and outputs an error 'val' each time.

Device is a gree Pular Series.

### URL

https://www.home-

[2021-11-14 07:00] #19256 closed, assigned to nobody

[2021-11-14 07:59] superwangmeng commented on #20247
@cmroche Once the capture started, I repaired the device and reconnected successfully, then I did some configures on the GREE + app（turn on, turn off..) and captured the whole course.
.pcaps are attached.

phone: 192.168.2.2 (gateway: 192.168.2.1)
there are two new IP :192.168.2.3 ,192.168.2.4,I do not know which one is device's, or both.

[2021-11-14 09:53] #20303 closed, assigned to nobody

[2021-11-14 09:54] frenck commented on #20302
see #20303

[2021-11-14 09:54] #20302 closed, assigned to nobody

[2021-11-14 10:39] chemelli74 commented on #20159
Current system option (`entry.pref_disable_new_entities`) is not built to avoid adding all entities to the registry; instead is meant to avoid adding the entities to the state machine (this means that entities are still created but disabled).

More details @ https://github.com/home-assistant/core/pull/56740#discussion_r718912465

Simone

[2021-11-14 10:39] #20159 closed, assigned to chemelli74

[2021-11-14 12:43] fsfikke opened #20311 "SMA entity doesn't show up in Energy Dashboard"
Sorry, my bad.

[2021-11-14 12:48] #20311 closed, assigned to kellerza

[2021-11-14 12:48] fsfikke commented on #20311
Sorry, mistake was on my end.

[2021-11-14 13:50] T1ppes commented on #20159
If I understand you correctly, the intended behavior of that switch in other words is,
* if enabled, disabled entities are created for all newly added devices
* if disabled, no entities are created for newly added devices.
Can you please confirm or correct my statement?
Further, there is currently no option to automatically add enabled device tracker entities, ever since the integration moved to a

[2021-11-14 14:00] #19202 closed, assigned to jjlawren

[2021-11-14 15:14] cmroche commented on #20307
@AeroV95 I'm sorry, but the description of the issue here isn't really clear to me, additionally there are no logs to go by. Please enable debug logging and copy the relevant lines to the issue. Thank you.

[code]

[2021-11-14 15:31] cmroche commented on #20247
@superwangmeng I took a look at the capture, unfortunately you have a device that I believe only functions with the cloud. While the Gree+ APP does discover the device locally, device only responds with a **configok** message, then it connects to various Gree servers to receive the commands from your phone. Related to this issue: https://github.com/tomikaa87/gree-remote/issues/32 and https://githu

[2021-11-14 19:31] hieblmedia opened #20313 "Update existing entities with resolvenames"
### Feedback

Hello,
would be nice if there is a function to trigger resolvenames for all entities without has an name yet.

The problem is, if are new devices in the CCU and not instaltly changed the name, HomeAssistant does not regognice it and i have to change the name and also the entity-id anyways.

Only way i see is to shutdown HomeAssistant before pairing and renaming all new devices.

###

[2021-11-14 19:35] frenck commented on #20313
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-11-14 19:35] #20313 closed, assigned to danielperna84, pvizeli

[2021-11-14 19:46] ridderr opened #20314 "Add Integration is missing"
### Feedback

The button for the Add Integration is missing

### URL

https://www.home-assistant.io/integrations/google_assistant/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-14 19:47] ludeeus commented on #20314
That button is only for integrations that are set up in the UI, the `google_assistant` integration is YAML only, so that button is not shown here.

[2021-11-14 19:47] #20314 closed, assigned to nobody

[2021-11-14 21:16] jasontucker opened #20315 "Use an entity tracking the total costs"
### Feedback

I'm unable to select an entity to track costs even though it's available. I'm using an Eagle-200

More info here: https://developers.home-assistant.io/docs/core/entity/sensor/#long-term-statistics

<img width="730" alt="Screen Shot 2021-11-14 at 1 15 28 PM" src="https://user-images.githubusercontent.com/108426/141698908-2a235fa4-6eca-4e80-a8fe-4fb029f128b3.png">

### URL

https://www

[2021-11-14 21:17] jasontucker commented on #20315
I'm attempting to use this as values for the Energy intregration new to HA

[2021-11-15 02:35] superwangmeng commented on #20247
"there are options to spoof the cloud server and bridge your device to MQTT (in fact from the DNS queries I see, it looks like the Gree APP uses mqtt.gree.com to control devices)"

@cmroche Hi,thanks a lot, I have no experience in this,I dont mind local or cloud,is there any integration solution i can use which i dont need coding or decoding？

[2021-11-15 02:40] strarsis opened #20316 "Windows supports Docker containers"
### Feedback

Windows 10+ supports Docker Linux containers, Docker for Desktop implements this very nicely now.
However, the documentation currently doesn't reflect this: home Assistant Container is not listed as an option for Windows and not further hints or instructions for installing the prerequisites for Docker Linux containers on Windows are given.

### URL

https://www.home-assistant.io/inst

[2021-11-15 04:44] dsimonet opened #20317 "Don't forget to restart instance after created www folder in config folder"
### Feedback

as title say

### URL

https://www.home-assistant.io/lovelace/iframe/

### Version

_No response_

### Additional information

_No response_

[2021-11-15 07:17] frenck commented on #20316
It is not listed as an option, because it is not supported. Docker on Windows behaves a bit different in the networking department, making it unsuitable.

[2021-11-15 07:17] #20316 closed, assigned to nobody

[2021-11-15 08:18] Stooovie opened #20318 "focuses on music only"
### Feedback

The documentation is a bit confusing as it solely focuses on music, not tv/movies. For example, media_type says "Media type identifier. It must be one of SONG or ALBUM".

### URL

https://www.home-assistant.io/integrations/kodi/

### Version

2021.11.3

### Additional information

_No response_

[2021-11-15 12:00] #19274 closed, assigned to nobody

[2021-11-15 12:15] frenck commented on #20315
Hi there @jasontucker 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

[2021-11-15 12:15] #20315 closed, assigned to nobody

[2021-11-15 13:05] #18372 closed, assigned to nobody

[2021-11-15 13:57] #20165 closed, assigned to bachya

[2021-11-15 14:00] #19276 closed, assigned to nobody

[2021-11-15 15:02] AeroV95 commented on #20307
Hello,

My apologies. please see logs attached

[logs.txt](https://github.com/home-assistant/home-assistant.io/files/7539505/logs.txt)
.

[2021-11-15 15:06] Flotteemse opened #20321 "Suggestion to being able to represent "individual devices" and "electricity grid" in same graph"
### Feedback

First of all I am not sure if this suggestion should have been posted somewhere else, as this is more for feedback on the document I guess. Second of all I am not sure if I am just an idiot who does not know how to do the below... :)

But my suggestion is that you should be able to add the input from your electricity meter and individual devices in the same graph - like I have tried

[2021-11-15 15:09] cmroche commented on #20307
@AeroV95 Thanks, it's much clearer now. I wonder if this is a unique case with the Power On/Off command, does it work fine for you when you increase or decrease the temperature, or change other settings? Is it just the power call?

[2021-11-15 15:14] AeroV95 commented on #20307
I just checked and it is happening for every command that is sent to the AC. When I change the temperature, the error is displayed but the temperature is changing on the AC. A second press and the error is not there.

Same happens when powering on/off or changing hvac mode, the error is displayed but the command is triggered. However, for it to show on the card, a second click is required.

[2021-11-15 15:40] cmroche commented on #20307
@AeroV95 Your device behaves differently from mine. Could you repeat the test with several different settings using the debug logging, and send the log, so that I can confirm a patch for this behaviour.

Thanks.

[2021-11-15 15:48] AeroV95 commented on #20307
Hello @cmroche, I have tried to run different functions and attached the logs. The mac and key has been replaced - hope that is fine
[logs.txt](https://github.com/home-assistant/home-assistant.io/files/7539833/logs.txt)
.

[2021-11-15 15:50] cmroche commented on #20307
@AeroV95  Ok, the logs confirm my suspicion, your device has a slight variation in the protocol. The fix will be pretty simple and I'll test and push it over the new few days.

[2021-11-15 16:06] #19277 closed, assigned to nobody

[2021-11-16 08:35] fraulout commented on #20203
Check in your configurations -> logs, see if there's an error for fitbit.

[2021-11-16 11:47] Xiondewah commented on #20203
Nothing in the logs but I now have the configurator.

However:

The app you're trying to connect did not provide valid information to Fitbit. Please report this issue to them.
Developer information: unauthorized_client - Invalid client_id

[2021-11-16 12:01] Xiondewah commented on #20203
Uninstalled/Reinstalled (having deleted the .conf file) now the configurator doesn't show up I'm afraid.

[2021-11-16 14:39] danieldur opened #20326 "Not working with QTS 5"
### Feedback

After upgrading my QNAP TS-231P to QTS 5 the HA integration doesn't seem to be working anymore.
Is this something specific to me or a general issue?

### URL

https://www.home-assistant.io/integrations/qnap/

### Version

2021.11.4

### Additional information

_No response_

[2021-11-16 14:48] DJF3 opened #20327 ""wait template" or "wait for a template""
### Feedback

On [this page](https://www.home-assistant.io/docs/scripts/#wait-template) I see "WAIT TEMPLATE"

In the HA scripting/automation GUI it says "Wait for a template"

Searching for "Wait for a template" gives you 0 results (HA site, HA community, Duckduckgo, google)

So either the GUI should be updated or the documentation?
I think that initially the docs should reflect what the GUI show

[2021-11-16 15:03] #19287 closed, assigned to frenck, balloob

[2021-11-16 16:23] colinodell commented on #20326
Hi @danieldur,

It's highly likely that the underlying [qnapstats library](https://github.com/colinodell/python-qnapstats) does not support QTS 5.  I would recommend submitting an issue over there.  When submitting that issue, it would be extremely helpful if you could provide any error messages that you see in HA.  Additionally, if you have some Python experience and would be able to run the `deb

[2021-11-16 17:01] frenck commented on #20327
At this point, the UI script wording has been changed in a recent version, and does not match the documentation anymore indeed.

The UI change was made by de frontend team to add clarity between wait template, wait for action and delay.

Feel free to open up a PR to adjust that! 👍

[2021-11-16 21:26] danieldur commented on #20326
Before I open an issue for qnapstats, here are some logs I get inside HA (maybe it helps):

Logger: homeassistant.components.qnap.sensor
Source: components/qnap/sensor.py:296
Integration: qnap (documentation, issues)
First occurred: 22:22:39 (3 occurrences)
Last logged: 22:23:50

Failed to fetch QNAP stats from the NAS
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant