[2018-12-13 12:31] #7311 closed, assigned to nobody

[2018-12-13 12:32] fabaff commented on #7310
`update_credits.js` was moved to `hass-release`.

[2018-12-13 12:32] #7310 closed, assigned to nobody

[2018-12-13 16:11] tommyjlong opened #7827 "MyChevy Component Document update needed"
As of 0.84, MyChevy component no longer requires Selenium, yet the
current documentation says Selenium is needed.

This component works with my Chevy Volt (with a V), so may want to add it
to the list of supported cars to the documentation as well.

[2018-12-13 17:22] leoruiz opened #7828 "Rainmachine configuration documentation is incorrect."
As of commit https://github.com/home-assistant/home-assistant/commit/08702548f3b74b07923fc49d37533303e7196524
in 0.84.1 the documentation for rain machine is incorrect.
[code]

shoud probably be:

[code]

[2018-12-13 17:37] uchagani commented on #7311
@fabaff will the credits be updated automatically now or do we need to do it manually and submit a PR?

[2018-12-13 18:22] leoruiz commented on #7828
There is already a PR for this https://github.com/home-assistant/home-assistant.io/pull/7721.

[2018-12-13 21:35] fabaff commented on #7828
Fixed with https://github.com/home-assistant/home-assistant.io/commit/b0f737bcc055a17981262af49adb40a2b7225c6b

[2018-12-13 21:35] #7828 closed, assigned to nobody

[2018-12-14 09:40] fabaff commented on #6387
That would be awesome. Adding a feature to filter the integration according the `ha_iot_class` is still on the ToDo list somewhere.

[2018-12-14 14:06] nwesterhausen commented on #7827
I created a pull request to make your suggested changes to the documentation.

If you ever wanted to, anyone is able to create a pull request with documentation changes, using the "Edit on GitHub" button at the top of the documentation page.

[2018-12-14 18:27] robinostlund opened #7844 "Platform tellduslive does not generate unique IDs"
After upgrade to 0.84.1 i get these type of errors:
[code]

And i cannot see the power usage from tellduslive in sensors anymore, check this picture: https://www.dropbox.com/s/nor3l7h6f4vg8cj/Screenshot%202018-12-14%2017.55.03.png?dl=0

Earlier i could see:
sensor.switch_1_power
sensor.switch_1_power_1
sensor.switch_1_power_2
sensor.switch_1_power_3

That showed this information from telldus:
http

[2018-12-14 18:48] MartinHjelmare commented on #7844
/move to home-assistant

[2018-12-14 18:49] ghost commented on #7844
This issue was moved by [MartinHjelmare](https://github.com/MartinHjelmare) to [home-assistant/home-assistant#19302](https://github.com/home-assistant/home-assistant/issues/19302).

[2018-12-14 18:49] #7844 closed, assigned to nobody

[2018-12-15 16:10] Mr-Meorzipan opened #7862 "Update to Synology installation guide"
Hello Home Assistant community,
I have written a new guide for the older [Home Assistant on Synology](https://www.home-assistant.io/docs/installation/synology) guide, but it is my first time doing a pull request for documentation.
It is based mine and others research at: https://community.home-assistant.io/t/python-3-5-3-on-synology/46372

The old guide is based on installing Python 3.5.1, which i

[2018-12-15 18:24] AsWaM opened #7866 "Request: Support of Xiaomi PHILIPS Zhirui 9290019202 Smart Bedside Lamp"
Hello,

Would it be possible to add support for the bedside lamp?

I could not get the token yet, but i will try the current support.

http://www.xiaomimagazine.com/xiaomi-philips-zhirui-smart-bedside-lamp-review/

[2018-12-15 18:40] MartinHjelmare commented on #7866
You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum. Thanks!

[2018-12-15 18:40] #7866 closed, assigned to nobody

[2018-12-16 00:45] carlyang1986 opened #7871 "Aqara Air Conditioning Companion (lumi.acpartner.v3) is not appeared in the homeassistant"
I want to use Aqara Air Conditioning Companion (lumi.acpartner.v3) as the gateway access to homeassistant. During hass start wo noticed the xiaomi_aqara gateway is detect by homeassitant and found 2 devices. But I can't see any devices(the weather and humidity sensor of lumi.sensor which has accessed in this air conditioner) or the gateway in the website. The homassistant has been upgrade to newes

[2018-12-16 13:33] MartinHjelmare commented on #7871
/move to home-assistant

[2018-12-16 13:33] ghost commented on #7871
This issue was moved by [MartinHjelmare](https://github.com/MartinHjelmare) to [home-assistant/home-assistant#19350](https://github.com/home-assistant/home-assistant/issues/19350).

[2018-12-16 13:33] #7871 closed, assigned to nobody

[2018-12-16 19:30] ghost opened #7876 "Installation errors on Armbian OdroidC2"
*@sunjam commented on Dec 16, 2018, 7:22 PM UTC:*

**Description:**
`Debian GNU/Linux 9.6 (stretch) Armbian 4.18.8-odroidc2`
`python3 is already the newest version (3.5.3-1).`

Following the [installation documentation for Armbian here](https://www.home-assistant.io/docs/installation/virtualenv/). First issue I ran into was while installing latest homeassistant via a python virtualenv was I was mi

[2018-12-16 19:30] ghost commented on #7876
*@MartinHjelmare commented on Dec 16, 2018, 7:29 PM UTC:*

Sounds like a documentation issue.

[2018-12-17 10:00] dagobert opened #7882 "Documentation issue on !include_dir_merge_named"
https://github.com/home-assistant/home-assistant.io/blob/current/source/_docs/configuration/splitting_configuration.markdown

I have just read about splitting the configuration file. In your last explanation about `!include_dir_merge_named` I stumbled on a possible mistake.
As I understand it the ...`named`... part in this "command" means that the filename in a directory will be used as a YAML ide

[2018-12-17 14:28] nwesterhausen commented on #7882
No it wouldn't have those identifiers when using `!include_dir_merge_named`. The `merge_named` is for importing named items to be part of a dictionary (in this case, groups), and the files get merged and put as children where the include is.

To get what you describe with the interior and exterior you actually would use `!include_dir_named`.

The `merged` includes just combine what files are being

[2018-12-17 21:24] Diesel5ohGaming opened #7887 "install hassbian service command not found"
i am using a pi b+ on the latest HASSBIAN installer

[2018-12-18 12:40] dagobert commented on #7882
Thank you for your answer.
I am sorry that I misread the whole thing. I am relatively new. Probably because of the way the examples were chosen, I was under the impression, that the directory name was also taken into account such as:

[code]

 This could also be split into

[code]

and file `groups/interior/bedroom.yaml`

[code]

I was probably thinking to complicated.

If I understand correctly `

[2018-12-18 13:11] nwesterhausen commented on #7882
It is definitely confusing, I had to find examples of them in use to really understand it. (There are lots of home assistant configurations on github, and after taking a look at some of them I was able to understand). I think it would be beneficial to add something about why they are `_list_` and `_named_` to the documentation, or at least make it more clear. I will try to think of how to word it

[2018-12-18 13:29] dagobert commented on #7882
If you are fine, I would like to help making the whole section more clear for a (advanced) beginner. I think that the page has most all information needed but also due to its length some information are overlooked. Specially, as I was looking for the `include_dir...` statements after trying to find out about them while reading others configurations, I skipped a lot in the beginning of the page.

I

[2018-12-18 13:52] nwesterhausen commented on #7882
That's fine with me! 😄

[2018-12-18 14:16] 5V715 opened #7894 "asuswrt device tracking keeps failing"
running hassio 0.84.2
and using asuswrt in telnet mode (router does not support ssh)
most of the time the requests fails so the device tracking fails =(

[ErrorLog](https://pasteboard.co/HSjcWiX.png)

[code]

[2018-12-19 21:45] fabaff commented on #7894
This is the issue tracker for the Home Assistant Documentation.

Please report Home Assistant issues at https://github.com/home-assistant/home-assistant/issues/new or use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2018-12-19 21:45] #7894 closed, assigned to nobody

[2018-12-19 21:46] fabaff commented on #7887
This is the bug/issue tracker for the Home Assistant documentation. Please use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2018-12-19 21:46] #7887 closed, assigned to nobody

[2018-12-19 21:49] fabaff commented on #7876
There is a section on the page you linked that is mentioning the requirements.

[2018-12-19 21:49] #7876 closed, assigned to nobody

[2018-12-21 05:13] #6509 closed, assigned to nobody

[2018-12-23 00:34] #6809 closed, assigned to nobody

[2018-12-26 12:30] frenck commented on #7882
IMHO this is how YAML works, there is no deep merging happening because that would make it impossible to override things (since it will always be added).

Since this concludes the original issue, I'll go ahead and close this one.
Feel free to open a PR if you'd like to enhance/clarify things. 👍

[2018-12-26 12:30] #7882 closed, assigned to nobody

[2018-12-26 12:31] frenck commented on #7008
The issue is running stale (an in our opinion, not an issue), closing it.

[2018-12-26 12:31] #7008 closed, assigned to nobody

[2018-12-26 14:20] kjacksonmusic opened #7953 "Nest Away Mode Documentation"
The documentation states the away mode is set with "away" or "home".

If you try to call the service with these settings it fails. Changing this to "true" or "false" resolves the issue and future confusion.

[2018-12-27 14:37] frenck commented on #7655
I think it is fine to remove them in most cases. But adding and/or leaving them harms no one as well.

[2018-12-27 15:00] nwesterhausen commented on #7953
I tested this on my Home Assistant (version 0.84.6) and was successfully in calling `nest.set_away_mode` with `{"away_mode":"home"}` and `{"away_mode":"away"}` and actually failed when calling it with `{"away_mode":"false"}` and `{"away_mode":"true"}`.

Can you provide more details on what you're doing that isn't working?

[2018-12-27 17:27] kjacksonmusic commented on #7953
Thanks for trying this out.
I was calling the service via the frontend, while troubleshooting a automation that I set to call it as well.
I just re tried this and got the same message.
[Here are photos](https://photos.app.goo.gl/5mFL9u2DJpCc7iKG7) showing the error message as well as the exact method I am using to execute this.

I am running Hassio 0.84.6 my thermostat is a Nest E.

Thanks

[2018-12-27 20:31] nwesterhausen commented on #7953
Thanks for the additional information. I think I see the issue: there is a separate service named `nest.set_away_mode` that I was calling. In your pictures, you are calling `climate.set_away_mode` which is explained both beneath it on the frontend, where the default is 'false' and [here](https://www.home-assistant.io/components/climate/) on the documentation site (slightly different services than

[2018-12-27 22:27] kjacksonmusic commented on #7953
Yup. My mistake thanks for the clarification!

[2018-12-27 22:28] #7953 closed, assigned to nobody

[2018-12-28 02:18] ghost opened #7964 "alarm_control_panel alarm_arm_night does not work"
*@brdhse1 commented on Dec 27, 2018, 8:21 PM UTC:*

**Home Assistant release with the issue:**
0.84.6

I'm using alarmdotcom. I can disarm, arm away, arm stay, but arm night does not work. I need this as I don't see any other way to arm the system "without entry delay."

The call to arm night is documented here: [https://www.home-assistant.io/components/alarm_control_panel.alarmdecoder/](https://w

[2018-12-28 02:19] MartinHjelmare commented on #7964
We should update the docs and don't mention the service that isn't implemented.

[2018-12-28 07:52] farmio opened #7966 "`rake preview` not updating from markdown"
I am trying to work on some documentation on my local device (Macbook), but the live preview isn't updating my changes from the .markdown files.
I am modifying `source/_components/light.knx.markdown`.
I am sure I have saved the changes and have also cleared my browser cache (Safari 12.0.2).

I have installed everything according to https://developers.home-assistant.io/docs/en/documentation_index.h

[2018-12-28 11:14] tjorim opened #7968 "Document snapshots (and services)"
Currently there is no documentation on snapshots yet (AFAIK).
This should be considered to add (as well as the service calls).

- hassio.snapshot_full
- hassio.snapshot_partial
  - addons
  - folders

This is just an issue to remind me to create those docs,
if someone else can do it or it already exists that's fine.

Should probably go somewhere here: https://www.home-assistant.io/hassio/

[2018-12-28 13:03] WebSpider commented on #6388
Don't think this general ticket should be closed

[2018-12-28 16:22] brdhse1 commented on #7964
That would be a solution, but would it be possible to implement this for alarmdotcom?  Or some way to arm with no delay?

[2018-12-30 12:51] #7827 closed, assigned to nobody

[2018-12-30 13:49] frenck commented on #7802
I'm closing your issue since it looks misplaced. This is the issue tracker for the Home Assistant Documentation & Homepage.

Please report technical Home Assistant issues at https://github.com/home-assistant/home-assistant/issues/new or use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration, and usage.

Thanks!

[2018-12-30 13:49] #7802 closed, assigned to nobody

[2018-12-31 18:20] RonJ103 opened #8006 "Unknown min_max sensor value"
Hopefully this is in the right place.  I created this forum post in the home assistant community: https://community.home-assistant.io/t/min-max-platform-mean-showing-unknown/84407

My min_max sesnor is displaying "unknown" with a unit of "err".  It seems like it is this issue from the documentation:
[code]
However, when I check the individual sensors, they both have the same units (degrees F)

[2019-01-01 15:44] frenck commented on #7368
PR's have been merged. Crisis diverted 😆

[2019-01-01 15:44] #7368 closed, assigned to nobody

[2019-01-02 04:24] mhirsch opened #8014 "HDMI CEC Documentation out of date"
The [HDMI CEC documentation](https://www.home-assistant.io/components/hdmi_cec/) seems out of date. There's a link to the default virtual environment of a [HASSbian Image for Raspberry Pi](https://www.home-assistant.io/getting-started/installation-raspberry-pi-image/) which is a 404. It also says to symlink to the installed version of _cec.so, but in raspbian the python-libcec package doesn't have

[2019-01-03 14:56] nwesterhausen commented on #8006
I replied to you on the forums. I cannot get your issue to duplicate. With more information maybe we can figure out what's going on.

I looked at the sensor and it should put an error in the log saying which sensor it is having a problem with. What is in your log?

[2019-01-03 17:29] RonJ103 commented on #8006
Thank you for the reply.  It is working at the moment.  I suspect it had to do with one of the sensors (Xiaomi) becoming unavailable.  I am not 100% sure.  I'll report back with more details if I see it again.

[2019-01-04 09:58] fabaff commented on #8006
This is the issue tracker for the Home Assistant Documentation.

Please report Home Assistant issues at https://github.com/home-assistant/home-assistant/issues/new or use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2019-01-04 09:58] #8006 closed, assigned to nobody

[2019-01-04 15:41] alex206cc opened #8045 "History Graph not refesh"
hi,
in lovelance home assistant 0.84.6 i configuring the refresh but not function:

  - title: Internet performance
    refresh_interval: 20
    hours_to_show: 6
    entities:
      - sensor.internet_upload
      - sensor.internet_download
    type: history-graph

[2019-01-04 18:54] fabaff commented on #8045
This is the issue tracker for the Home Assistant Documentation.

Please report Home Assistant issues at https://github.com/home-assistant/home-assistant/issues/new or use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2019-01-04 18:54] #8045 closed, assigned to nobody

[2019-01-05 13:22] ghost opened #8067 "No documentation for sonos component listening on port 1400"
*@viertaxa commented on Jan 4, 2019, 9:50 PM UTC:*

**Home Assistant release with the issue:**

0.84.6

**Last working Home Assistant release (if known):**
Unknown

**Operating environment (Hass.io/Docker/Windows/etc.):**

Debian Python VEnv
**Component/platform:**

[https://www.home-assistant.io/components/sonos/](https://www.home-assistant.io/components/sonos/)

**Description of problem:**
There

[2019-01-05 13:22] ghost commented on #8067
*@jensihnow commented on Jan 4, 2019, 10:10 PM UTC:*

Hi,

are you sure this is on your Home Assistant instance?

Just to confirm as every speaker is having this interface running on port 1400, which is stock and nothing Home Assistant is adding or responsible for.

What did you get if you access the interface with your browser e.g. using http://:1400

[2019-01-05 13:22] ghost commented on #8067
*@viertaxa commented on Jan 4, 2019, 10:14 PM UTC:*

Positive.

[code]

That's my instance PID. Browser returns this:

[code]

[2019-01-05 13:22] ghost commented on #8067
*@jensihnow commented on Jan 4, 2019, 10:51 PM UTC:*

Confirmed and this is the Event Listener from the integrated SoCo lib, see
[https://github.com/SoCo/SoCo/blob/f20a7ae7d30f98f3b3af76a4465f72af68161ab5/soco/config.py#L54](https://github.com/SoCo/SoCo/blob/f20a7ae7d30f98f3b3af76a4465f72af68161ab5/soco/config.py#L54)

Of course this could be documented or at least a reference to
[https://soco.rea

[2019-01-05 13:22] ghost commented on #8067
*@viertaxa commented on Jan 4, 2019, 10:56 PM UTC:*

I would expect a reference to the port number, and a short explanation.

Something like "Note: the Sonos component uses the soco library which creates a webserver listening on port 1400\. This is for xxxx function."

Additionally any info on how to configure it would be very useful, i.e. it's bound to the default IP, but my instance is in a DMZ.

[2019-01-05 14:53] Konstigt opened #8069 "Quotes on binary_sensor.command_line"
In the examples and guide text regarding payload_on/off on https://www.home-assistant.io/components/binary_sensor.command_line/ there are no quotes, single quotes, double quotes + a note in the bottom that says that you should use single quotes.

Confusing yes?

[2019-01-06 13:10] sblantipodi opened #8077 "Lovelace default themostat is unusable."
As title.
I'm using celsius degrees and in celsius half degree is important.

1) The new lovelace UI does not let me choose 20.5 degree but only 20 or 21.

2) I cannot visually set the away mode.

3) New UI does not have an history of temp and furnance use like the old one.
https://postimg.cc/hhY45kBP

I think that this "component" in this state is a huge regression over the older one.
Please remo

[2019-01-06 13:21] Vasiley commented on #8077
This is the wrong repo this is for doc changes and you erased the template of relevant information

[2019-01-06 13:21] #8077 closed, assigned to nobody

[2019-01-06 13:24] sblantipodi opened #8078 "Views not loading graphs / media players at first click"
Views not loading graphs / media players at first click

I need to click on another view and then back to the original view to see graphs inside, everything apart graphs loads at first shot.

here an example image, first click a view after some time I don't open HA
https://i.postimg.cc/fLFJBFwW/shot1.jpg
and then if I click another view and then return to the original
https://i.postimg.cc/HkC6kYqm

[2019-01-06 13:26] sblantipodi commented on #8077
sorry

[2019-01-06 13:30] sblantipodi commented on #8078
wrong place to put the issue

[2019-01-06 13:30] #8078 closed, assigned to nobody

[2019-01-06 20:58] emontnemery commented on #8069
Then please submit a PR to improve the examples and guide text. This can be done by just clicking the "edit this page on GitHub" link.

[2019-01-06 21:34] fabaff commented on #7966
You could try to limited the build to the changed page with `isolate[filename-of-blogpost-or-component]`.

[2019-01-06 21:41] farmio commented on #7966
Thank you! This worked after i found out that i have to escape the brackets when using zsh
`bundle exec rake isolate\[light.knx.markdown\]`

[2019-01-06 21:41] #7966 closed, assigned to nobody

[2019-01-06 21:53] farmio commented on #6385
How should a configuration variable be described when it represents an enum (a string with only several acceptable values in my case)?
Just `type: string` and all possible values listed in the description or `type: string` together with `keys: ` key?

[2019-01-07 10:28] klaasnicolaas commented on #7968
I want to help where necessary 😉
I also learned last week that these services existed.

[2019-01-07 10:34] klaasnicolaas commented on #7806
I still have a [PR open](https://github.com/home-assistant/home-assistant.io/pull/7154) about the intent_script, only ended up in a pile of all the other PRs.

[2019-01-07 19:46] JustinDwy opened #8092 "Template Developer Tool on / off don't need to be quoted"
The template developer tool will work fine with unwrapped on / off, but the same yaml used in configuration.yaml will work differently due to needed 'on', etc.

[2019-01-07 20:34] Konstigt commented on #8069
Sorry, can't. Because I don't know what is the correct one of these three options. That's why I visited the page in the first place :)

[2019-01-07 20:39] emontnemery commented on #8069
Aha, I didn't realize it was a question!

yaml supports both no quotes, single quotes and double quotes for strings.

With double quotes, escaping is possible, maybe this is why there is a suggestion to use single quotes to not have unintended escaping of commands.

@bphermansson you added the note about using single quotes, can you comment?

[2019-01-08 08:12] bphermansson commented on #8069
My experience is that single quotes is what's working with system commands.

[2019-01-08 08:23] njakobsen commented on #5491
I am very new to this and I have the same problem with this device. I wonder if it's because when you reset it, it loses its wifi connection so you can't actually see it on the network.

[2019-01-08 14:55] nwesterhausen commented on #8014
I looked at the page HDME CEC doc page. Following the link for the virtualenv installation instructions sent me to a redirect to the actual page. I will fix the link.

From what I read up on in the doc, it seems if your Home  Assistant venv can utilize the python-libcec package you are OK, not sure based on your post if you have tried this and it doesn't work or if you were reading up on this befo

[2019-01-08 15:35] mhirsch commented on #8014
Thank you! I have already tried it, but my problem is that I'm using raspbian and the `libcec-dev` they ship seems to not include the python bindings, among other problems. I filed a bug with raspbian (https://bugs.launchpad.net/raspbian/+bug/1804365) about that and other issues related to the `libcec-dev` package (https://bugs.launchpad.net/raspbian/+bug/1802820). Is there a version of `libcec` o

[2019-01-08 16:28] #8067 closed, assigned to nobody

[2019-01-09 08:57] cyc666666 opened #8107 "group switch The entities on the right"
Suggested (Picture Glance Card) group switching switches are classified as entities on the right side

[2019-01-09 09:22] fabaff commented on #8107
This is the issue tracker. Please use the forum for [feature requests](https://community.home-assistant.io/c/feature-requests) as stated in the PR template. Thanks

[2019-01-09 09:22] #8107 closed, assigned to nobody

[2019-01-09 15:55] Bennekom commented on #7968
Yes, want to help. Was already surprised had no documentation in the dev.tools.

With a little bit of trail and error was i able to this syntax.

{
  "name":"test",
  "password":"testing123"
}

[2019-01-09 16:58] marcogazzola opened #8110 "Automation editor with "Automation old" error config"
In this [commit](https://github.com/home-assistant/home-assistant.io/commit/f6b1e6aa8c519b47fb15cce55928cb8ef1118f6d#diff-7e0a13a3a96b84134f13c39a07a53a05) there is an error.

the correct config should be:
[code]

[2019-01-09 18:13] klaasnicolaas commented on #7968
Would like to start with some text and example script, etc. Only I have no idea how to add images or add the page to the menu.

[2019-01-09 18:39] Obicom opened #8112 "Homematic IP Alarm "Arm Home" doesn't work correct with Manual Alarm Control Panel"
Home Assistant release with the issue: 0.84.6

Last working Home Assistant release (if known): unknown

Operating environment (Hass.io/Docker/Windows/etc.): Hass.io

Component/platform:
https://www.home-assistant.io/components/alarm_control_panel.manual_mqtt/
https://www.home-assistant.io/components/alarm_control_panel.manual/
https://www.home-assistant.io/components/alarm_control_panel.homematici

[2019-01-09 19:28] tjorim commented on #7968
If adding to the place I suggested these would be the steps I think:
(**disclaimer:** just tried to figure it out myself, I know almost nothing about Jekyll)

1. Create a new file [here (/source/hassio)](https://github.com/home-assistant/home-assistant.io/tree/current/source/hassio), e.g. `snapshots.markdown` (base it on commandline.yaml or similar). What it is (basically simply a good backup), th

[2019-01-10 09:09] fabaff commented on #8112
/move to home-assistant/home-assistant

[2019-01-10 09:09] ghost commented on #8112
This issue was moved by [fabaff](https://github.com/fabaff) to [home-assistant/home-assistant#19905](https://github.com/home-assistant/home-assistant/issues/19905).

[2019-01-10 09:09] #8112 closed, assigned to nobody

[2019-01-10 14:58] Dudu67 opened #8123 "OpenUV free plan change"
The free OpenUV plan limitation will change on the 1. Feb 2019.
The free plan will go from 500 free request per day to 50 request per day.
The actual default parameter is set to 1800s (that's 48 request a day) that meen no more buffer as intendeed.
It will be maybe good to reduce the number of request per day to limit the risk of over request.

proposition:
1800 -> 2400s

Olivier

[2019-01-11 04:40] pabelanger commented on #5775
How is this issue stale? This is a valid issue, as I've just ran into it myself.

[2019-01-12 23:12] klaasnicolaas commented on #7968
Unfortunately, I did not have the time yet, I took a quick look at your PR and posted a comment with a link to a part of my config which you could use as an example script.

[2019-01-13 10:57] s0n1c-hedgehog opened #8154 "lupusec component currently only supports model XT1"
Hello Home Assistant community,

not sure, if this is the right place for my issue, but lupupy v0.0.17 currently supports only the Lupusec XT1 alarm control panel. This should be mentioned on the [lupusec component page](https://www.home-assistant.io/components/lupusec/).

I bought the Lupusec XT2 alarm control panel in the belief it would be working in combination with Home Assistant but it turns

[2019-01-13 17:43] #8154 closed, assigned to fabaff

[2019-01-13 19:32] ikifar2012 opened #8157 "Remove Caddy Docs?"
I just wanted to ask what was happening to the documentation for Caddy server. When I made the pull request Update Caddy Docs #6996 It seemed like @frenck wanted to remove the Docs completely but that has not been done. are the docs going to be removed or just left as is?

[2019-01-14 08:51] cubilon opened #8165 "Prezzibenzina service attribute"
There's a problem with the new prezzibenzina platform.

If the choosen petrol station has different services for each kind of fuel (for example: "Diesel" could have 3 different services, "Servito", "Self service", "Pre-paid"), this create 3 different sensors:

sensor.name_of_the_station_benzina
sensor.name_of_the_station_benzina_2
sensor.name_of_the_station_benzina_3

The point is that if each sen

[2019-01-14 16:16] frenck commented on #8165
/move home-assistant/home-assistant

[2019-01-14 16:16] ghost commented on #8165
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant#20104](https://github.com/home-assistant/home-assistant/issues/20104).

[2019-01-14 16:16] #8165 closed, assigned to nobody

[2019-01-14 16:22] frenck commented on #8092
Thanks for letting us know, although, I'm unsure what you are suggestion right now...?

[2019-01-14 21:56] frenck commented on #8123
Fixed in #8124

[2019-01-14 21:56] #8123 closed, assigned to nobody

[2019-01-15 00:32] frenck commented on #6385
@farmio For YAML, it is still just a string...

[2019-01-15 00:34] frenck commented on #6385
The last PR, #7154 has been finished and merged.

Therefore, this issue can be closed! 🎉

Thank you all for your contributions. 👍 ❤️

A major shoutout to @klaasnicolaas who has done an impressive amount of PRs on this issue!🥇

[2019-01-15 00:34] #6385 closed, assigned to nobody

[2019-01-15 18:36] JustinDwy commented on #8092
The built in Templating Tool accepts yaml with on / off not wrapped in quotes. But then a user can paste that "working" yaml into their config file and it will not work the same way. But it won't throw an error either. The user will struggle to find out why their thing doesn't work when it works in the Template Tool.

Either unwrapped on / off needs to throw an error, or the Templating Tool needs

[2019-01-15 18:41] JustinDwy commented on #8092
Nevermind, must have been fixed in a recent version.

[code]

That was returning the same result in the Templating Tool, but different results when ran. Now it seems to be working properly in Templating Tool too.

Closed.

[2019-01-15 18:41] #8092 closed, assigned to nobody

[2019-01-16 12:23] bossie78 opened #8188 "WV-1716 supported"
Is the oldest version WV-1716 supported in Home Assistant. It is a bit unclear. In the first part of the text the version is included (tested on) WV-1716, but a bit further down the version is not mentioned.

So is the version included? If not would it be possible to support this version? I am very new to HA and a noob, so thanks for your help! :-)

[2019-01-16 13:10] frenck commented on #8188
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2019-01-16 13:10] #8188 closed, assigned to nobody

[2019-01-17 09:56] kouinkouin opened #8200 "README : Razberry board - config.txt editable from Linux systems"
Hi,

https://github.com/home-assistant/home-assistant.io/blob/current/source/hassio/zwave.markdown#-linkable_title-razberry-board-

Just a note to say the config.txt is editable from a Linux system.
You have to mount the partition `/dev/mmcblk0p1`, from the gnome-disk-utility, or manually.
It's a partition FAT, and for me, the edition doesn't damage the partition or the boot.

I can of course do a

[2019-01-17 13:27] Obicom opened #8202 "Alarm ever activate arm_away never arm_home"
**Home Assistant release with the issue:** 0.84.6/0.85.0/0.85.1

**Last working Home Assistant release (if known)**: unknown

**Operating environment (Hass.io/Docker/Windows/etc.):** Hass.io

Component/platform:
https://www.home-assistant.io/components/alarm_control_panel.manual_mqtt/
https://www.home-assistant.io/components/alarm_control_panel.manual/
https://www.home-assistant.io/components/alar

[2019-01-17 15:06] nwesterhausen commented on #8200
To me that page is trying to say you can't edit config.txt from the system running from the SD card, and perhaps we should reword that sentence to be more specific so it can't be read as though you can't edit the config.txt from a Linux system.

[2019-01-19 02:53] #6555 closed, assigned to nobody

[2019-01-21 22:35] klaasnicolaas commented on #8202
Think that it is better to put the issue [here](https://github.com/home-assistant/home-assistant/issues). This repository is about the documentation of HA not HA itself

[2019-01-21 22:49] frenck commented on #8202
/move home-assistant/home-assistant

[2019-01-21 22:49] ghost commented on #8202
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant#20307](https://github.com/home-assistant/home-assistant/issues/20307).

[2019-01-21 22:49] #8202 closed, assigned to nobody

[2019-01-22 02:50] arigilder opened #8238 "Refactor jewish_calendar to work as binary_sensor and sensor."
Based on comment on https://github.com/home-assistant/home-assistant.io/pull/7838 and https://github.com/home-assistant/home-assistant/pull/19278 the issur_melacha_in_effect sensor should be a binary_sensor platform.
@tsvi

[2019-01-22 09:14] frenck commented on #8238
@arigilder I do not get what issue you are trying to raise?
Is the documentation incorrect?

[2019-01-22 09:51] tsvi commented on #8238
This issue should be moved to the home-assistant repository.

[2019-01-22 10:02] frenck commented on #8238
check.
/move home-assistant/home-assistant

[2019-01-22 10:02] ghost commented on #8238
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant#20315](https://github.com/home-assistant/home-assistant/issues/20315).

[2019-01-22 10:02] #8238 closed, assigned to nobody

[2019-01-23 10:12] dgomes opened #8248 "Sense Duplication ?"
I'm unsure if this is a duplication or not. @kbickar since you edited one of them, can you check ?

https://www.home-assistant.io/components/sense/
https://www.home-assistant.io/components/sensor.sense/

[2019-01-23 11:29] frenck commented on #8248
The second one is the right one:

https://www.home-assistant.io/components/sensor.sense/

[2019-01-23 14:19] kbickar commented on #8248
The second one should redirect to the first one.  The sensor platform "sense" was replaced by the component "sense" that creates sensors and binary sensors

[2019-01-23 21:36] ghost opened #8251 "Auto discovery docs are really missleading"
*@lichtamberg commented on Jan 23, 2019, 9:20 PM UTC:*

**Description of problem:**
The MQTT Documentation is quite missleading:

[https://www.home-assistant.io/docs/mqtt/discovery/](https://www.home-assistant.io/docs/mqtt/discovery/)

**this is not the case**, see here: [#9135 (comment)](https://github.com/home-assistant/home-assistant/issues/9135#issuecomment-325052344)

**Additional information

[2019-01-24 19:37] point-4ward commented on #8110
Nope, the configuration as stated in the commit is correct.

To use the automation editor you must use

[code]

If you want to add other automations to the system in other files you must add them separately, and can merge them in any of the available formats such as

[code]

The suggested tag of 'old' in the docs, with the suggested merge method is to make it easier for people to understand, but i

[2019-01-24 22:08] #8069 closed, assigned to nobody

[2019-01-24 22:15] #8251 closed, assigned to fabaff

[2019-01-24 22:16] h0jeZvgoxFepBQ2C commented on #8251
Thank you!

[2019-01-24 22:23] frenck commented on #8110
Yep, the documentation is correct.

[2019-01-24 22:23] #8110 closed, assigned to nobody

[2019-01-24 22:32] #8248 closed, assigned to fabaff

[2019-01-25 16:54] darconada opened #8284 "With the last home assistant 0.86 tado integration stops working"
With the last home assistant 0.86 tado integration stops working:

After the update 0.86 the integration stops working. Previously was working fine.

Hostname | hassio
-- | --
System | HassOS 1.12
Deployment | production

[2019-01-25 16:54] marchingphoenix commented on #8284
Please fill out the template. It is not optional.

[2019-01-25 16:54] marchingphoenix commented on #8284
/move home-assistant/home-assistant

[2019-01-25 16:55] ghost commented on #8284
This issue was moved by [marchingphoenix](https://github.com/marchingphoenix) to [home-assistant/home-assistant#20426](https://github.com/home-assistant/home-assistant/issues/20426).

[2019-01-25 16:55] #8284 closed, assigned to nobody

[2019-01-25 19:32] ghost opened #8286 "Capitals causing issues in 0.86.2 (not in breaking changes)"
*@jaburges commented on Jan 25, 2019, 4:37 PM UTC:*

**Home Assistant release with the issue:**

0.86.2

**Last working Home Assistant release (if known):**
0.85.1

**Operating environment (Hass.io/Docker/Windows/etc.):**

docker on Synology

**Component/platform:**

Only seen this for
media_player [sonos]
notify [ios]

**Description of problem:**
Capital letters no longer work. Log compains that

[2019-01-25 19:32] ghost commented on #8286
*@Uniwatcher commented on Jan 25, 2019, 7:30 PM UTC:*

I had the same issues with my LIGHT.TURN_ON / LIGHT.TURN_OFF services. mAde them lower case and issues are resolved. Also not in breaking changes

[2019-01-25 19:32] ghost commented on #8286
*@marchingphoenix commented on Jan 25, 2019, 7:32 PM UTC:*

uppercase letters in entity_ids were never supported, it is now enforced. Docs changes will come.
moving this issue to docs.

[2019-01-25 19:32] ghost commented on #8286
*@Uniwatcher commented on Jan 25, 2019, 7:32 PM UTC:*

[code]

=================================

Invalid config for [automation]: Service LIGHT.TURN_ON does not match format . for dictionary value @ data['action'][0]['service']. Got None. (See /config/configuration.yaml, line 247). Please check the docs at [https://home-assistant.io/components/automation/](https://home-assistant.io/components/aut

[2019-01-26 16:31] meaniegreenie opened #8293 "Alarm Panel Card (lovelace) fails for codes entered via keyboard"
Using the Alarm Panel Card to control Elk M1 alarm in HASS 0.86 correctly arms/disarms the alarm when code is entered using the on-screen buttons.   However, the code input allows users to type in values as well.  When this is done, the arm/disarm does not occur and HASS logs the following error.
Since the log seems to indicate that no string was passed to the alarm, I suspect this component is no

[2019-01-26 16:37] meaniegreenie commented on #8293
It appears that I have created this issue in the wrong location.  I didn't realize this was the "documentation" part of Home Assistant.
Please advise as to whether the issue can be transferred to the code repo or if I should create a separate issue.
Sorry for the error.

[2019-01-26 16:42] meaniegreenie commented on #8293
Will close this issue and open correctly formatted one in code repo.

[2019-01-26 16:42] #8293 closed, assigned to nobody

[2019-01-29 12:02] #6299 closed, assigned to nobody

[2019-01-30 03:37] cogneato opened #8343 "Lovelace: Light card does not change for non-dimming lights"
When choosing a light with supported_features: 0, the card will still show a dimmer slider.

[2019-01-31 02:56] FrankXLT opened #8354 "Lovelace picture-glance improvement"
I would like to suggest the following improvements to the lovelace picture-glance card.  Incorporate an entity's attribute list that you want to be displayed.  For example, my cameras (synology proxy) show recording as their state, hence why they are included as an entity, however motion detection is an attribute and I have no way of including that as a status icon in the picture-glance card.  For

[2019-01-31 03:01] klaasnicolaas commented on #8354
But is this something you want to change to the documentation of Home Assitant or to lovelace itself? In the last case I will refer you to this Repo: https://github.com/home-assistant/home-assistant

[2019-01-31 14:03] FrankXLT commented on #8354
Ahh, I missed that subtle difference. I will post over there for a feature change.

[2019-01-31 14:10] klaasnicolaas commented on #8354
👍 I will close it here then

[2019-01-31 14:10] #8354 closed, assigned to nobody

[2019-01-31 14:31] jankatins commented on #8286
https://www.home-assistant.io/components/notify.telegram/ has the same problem

[2019-01-31 19:52] brianharwell opened #8362 "GeoFency documentation is incompete"
I followed the instructions in the [docs](https://www.home-assistant.io/components/geofency/) and the part that changes was...

I did that, and restarted HA, and configured the iPhone app. Posting from the app works but in HA logs I see...

Received message for unregistered webhook 31212bfd284124b6ac865478bc68aaf1c6d74bd6f1f43b85003db5820

[2019-01-31 23:08] dagobert opened #8364 "Trusted network without authentification"
I am happy that you added a required Login mechanism for HASS. It is also glad that you have a "trusted network" option. I am not sure what your plans are for authentication. I read the Documentation and there is a hint that you are planning to enhance it anyway.

I would propose the following change:

In a trusted network one does not need to do any action to see the WebUI.
Right now one has to s

[2019-01-31 23:24] klaasnicolaas commented on #8364
-> https://github.com/home-assistant/home-assistant

[2019-01-31 23:55] dagobert commented on #8364
Sorry completely missed that I should use the forum.

[2019-01-31 23:55] #8364 closed, assigned to nobody

[2019-02-01 13:40] nwesterhausen commented on #8362
You might get better traction troubleshooting your issue at the [forums](https://community.home-assistant.io/) or [chat](https://discord.gg/c5DvZ4e). This repository is for the documentation, and you mention the documentation is incomplete.. but your statement is about an error in Home Assistant without clear reasons to suggest the documentation is wrong.

I googled for "home assistant geofency we

[2019-02-01 13:42] nwesterhausen commented on #8343
This issue belongs to the [Home Assistant frontend](https://github.com/home-assistant/home-assistant-polymer), not the Home Assistant documentation.

[2019-02-01 13:46] brianharwell commented on #8362
Yes that is my post. I am suggesting the documentation is incomplete because there seems to be a step missing from the set up. I thought by posting an issue here the author of the change would hopefully fill in the missing step(s). If I find the solution I will submit a PR to amend the docs but until then I am at an impass.

In addition, the link to the `geofency.py` file on [this](https://www.hom

[2019-02-01 14:17] nwesterhausen commented on #8362
@rohankapoorcom authored the recent changes to the docs and to the component in Home Assistant. Hopefully he can help straighten everything out

[2019-02-01 15:32] dlo opened #8372 "Add instructions in FAQ for potential prerequisites for manual pip install"
Hi all! I just wanted to add something small to the FAQ.

When running the pip installation command, I got a missing header error for <Python.h>. Being around the block a few times, I knew that this was because my RPi install was missing the python3-dev package. After installing this package via apt-get, the pip installation went smoothly. I'm just not sure how to add a FAQ entry so figured I'd po

[2019-02-01 15:36] rohankapoorcom commented on #8362
Thanks for the tag. There's a small bug where things don't work if you don't have the `geofency:` section in configuration.yaml (which shouldn't be needed).

https://github.com/home-assistant/home-assistant/pull/20631 fixes this and should be merged soon.

[2019-02-01 15:41] brianharwell commented on #8362
@rohankapoorcom I have that entry in my configuration.yaml.

[2019-02-01 15:46] rohankapoorcom commented on #8362
Do you have any mobile beacons defined? I think the same bug may require at least one mobile beacon to finish setup. If you look at your logs, do you see the geofency component loading successfully?

[2019-02-01 15:48] nwesterhausen commented on #8372
All the FAQ sections are [here](https://github.com/home-assistant/home-assistant.io/tree/current/source/_faq), looks like they all get combined into the [documentation page](https://www.home-assistant.io/faq)

[2019-02-01 15:50] dlo commented on #8372
@nwesterhausen Thanks! I'll submit a PR.

[2019-02-01 15:56] brianharwell commented on #8362
I do not have any mobile beacons.

I do not see anything in my `home-assistant.log` matching `geofency`. I have logger configuration set to `warn`. Should I set it to `info` and restart HA?

Or can I see if geofency loaded another way?

[2019-02-01 16:03] rohankapoorcom commented on #8362
If you go to the info page (part of the sidebar, `/dev-info`), you should see a link that has a list of loaded components.

[2019-02-01 16:07] brianharwell commented on #8362
Got it. Thanks. Yes, geofency is loaded. As well as webhook.

[2019-02-01 17:19] rohankapoorcom opened #8374 "Embedded platform source links don't work"
Ever since we started embedding components into platforms, a bunch of the "source" links in the documentation started 404'ing.

https://www.home-assistant.io/components/light.hue/ source link points to https://github.com/home-assistant/home-assistant/blob/master/homeassistant/components/light/hue.py

The file that should be pointed to is now here: https://github.com/home-assistant/home-assistant/b

[2019-02-01 19:02] balloob commented on #8374
I think that the one true solution is to migrate every Python platform file to the new embedded format.

[2019-02-01 22:09] #8362 closed, assigned to nobody

[2019-02-01 22:10] brianharwell commented on #8362
So to fix the issue I remove geofency from my `configuration.yaml`?

[2019-02-02 06:19] rohankapoorcom commented on #8374
Then we'll need to adjust the links for all component/platform sources to point to the correct place. Definitely easier to maintain just one approach moving forward.

[2019-02-02 07:08] rohankapoorcom commented on #8374
I pushed up a PR (https://github.com/home-assistant/home-assistant.io/pull/8379) with the changes needed to make this work (once https://github.com/home-assistant/home-assistant/pull/20677 is merged).

[2019-02-02 12:24] DubhAd commented on #8200
PR submitted

[2019-02-02 12:24] #8200 closed, assigned to nobody

[2019-02-02 15:13] #8374 closed, assigned to rohankapoorcom

[2019-02-02 18:03] #8372 closed, assigned to nobody

[2019-02-05 20:08] #6549 closed, assigned to nobody

[2019-02-05 23:37] grischard commented on #5856
So should this be closed as wontfix?

[2019-02-06 22:01] bramkragten opened #8429 "Remove `-` from Lovelace config examples"
All the lovelace examples have a `-` in front of the card.

This should be removed as the UI editor doesn't work with an array, and it makes copy pasting difficult.

[2019-02-07 13:58] brianharwell commented on #8362
With 0.87.0 update, this still doesn't work.  See [comment](https://github.com/home-assistant/home-assistant/pull/20631#issuecomment-461428604)

@rohankapoorcom @balloob

[2019-02-08 07:52] gpbenton opened #8447 "Link to source on git hub no longer works"
At least on
https://www.home-assistant.io/components/light.mqtt/
https://www.home-assistant.io/components/switch.mqtt/

I get a 404 error from github.

[2019-02-08 23:11] DoubelJ opened #8454 "Database take over all diskspace"
The default database will grow untill the disk is full. Maybe to add an option to let the database take max X% of the diskspace or calculate till the disk is max X amount of free space.

[2019-02-08 23:19] klaasnicolaas commented on #8454
I think you can better place this in the main repo: https://github.com/home-assistant/home-assistant

[2019-02-09 18:46] Jpsy commented on #7968
This is what I found out about the available services.
They are shown in form of complete automations (nearly) ready to use.

### Full Backup:

[code]
### Partial Backup

[code]

### Methods to geht the identifiers for addons and folders:

#### Method 1:
Do a full backup, copy the tar to your PC and unpack it. It contains sub-tars. Their names are the identifiers, but you have to guess a bit which

[2019-02-10 12:54] #8454 closed, assigned to nobody

[2019-02-12 05:41] ghost opened #8495 "Yi Camera - Additional information needs to be added to install instructions"
*@GuitarSkater commented on Feb 12, 2019, 4:47 AM UTC:*

Not a bug, but should be addressed in the install document.

There is a setting in the Yi Camera app that will prohibit HA from retrieving still frames. After following the instructions of installing the custom firmware/etc, you must go back into the settings on the app and make sure that the "Activity Detection Recording" is turned OFF.

*T

[2019-02-12 08:40] arthurlutz commented on #6402
dear @stale I'm going to work on this.

[2019-02-12 10:14] Nebukadneza opened #8497 "Lovelace: Cannot delete card on mobile"
When using a mobile (mobile simulation in firefox, iOS 12.1.3), cards cannot be deleted in lovlace »configure ui« mode. It works fine on desktop browsers / in desktop mode, where a javascript alert is shown for confirmation. This alert is missing alltogether on mobile.

I couldn’t find a open bug for this, please excuse me if i’ve overlooked one.

Thanks for the great project, and best~,
-Dario

[2019-02-12 10:37] arthurlutz opened #8499 "Use some sort of linter for the documentation"
It would be nice to have some sort of linter for the documentation to help existing and new contributors.

In the python/restructured text world, I'm used to using https://github.com/openstack/doc8

Does anyone know an nice equivalent for markdown ?

For jekyll a quick search lead me to http://www.plainionist.net/Plainion.JekyllLint/ which seems to have a good approach but might be difficult to in

[2019-02-12 10:42] arthurlutz opened #8500 "Use data from TOSDR to complete component documentation"
Follow up of #6402

It would be awesome to use data and grading from https://tosdr.org/ to add context to help users select their components and the services they are associated with.

I think the home page "pitch" "Open source home automation that puts local control and **privacy first**. " would be benefit from this.

TOSDR has some easy to read categories A/B/C/D with colors associated.

For ex

[2019-02-12 11:15] frenck commented on #8499
Recently, the liquid checks have been tightened to fail on warnings.
I currently working on slowly making everything pass the Markdown linting.

Even though, in general, a good idea, we have to keep in mind that less technical users will contribute to the documentation. We should be careful not to scare those away since they often deliver to most valuable documentation (as seen from a user perspec

[2019-02-12 11:20] arthurlutz commented on #6402
Am looking into using icons from font awesome :

* opensource https://fontawesome.com/icons/osi?style=brands
* cloud https://fontawesome.com/icons/cloud?style=solid
* registration-required https://fontawesome.com/icons/sign-in-alt?style=solid
* proprietary https://fontawesome.com/icons/door-closed?style=solid

[2019-02-12 11:24] frenck commented on #6402
@arthurlutz I've responded on your PR and thinking about closing the PR. Please see: https://github.com/home-assistant/home-assistant.io/pull/8498#issuecomment-462722672

[2019-02-12 11:30] klaasnicolaas commented on #6387
not `stale` still a work in progress

[2019-02-12 11:35] frenck commented on #8500
I like the idea, but I fail to see how that would relate to #6402.

The problem with linking to such a source is the endorsement.
We linking to that particular website, is kinda telling our users that that website is right, which is something we cannot assure. Since this has to do with legal, I would reframe from doing this.

Secondly, the first two examples linked (Google & Amazon) are already in

[2019-02-12 11:46] klaasnicolaas commented on #8497
This Repo is for the documentation of Home Assistant, you must look here: https://github.com/home-assistant/home-assistant

[2019-02-12 11:47] arthurlutz opened #8502 "Display and filter by ha_iot_class on components search page"
On https://www.home-assistant.io/components/ it would be nice to have the `ha_iot_class` displayed and part of the facets.

[2019-02-12 12:01] frenck commented on #8502
Already covered in #6387

[2019-02-12 12:01] #8502 closed, assigned to nobody

[2019-02-12 12:02] frenck commented on #8497
/move home-assistant/home-assistant-polymer

[2019-02-12 12:02] ghost commented on #8497
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant-polymer#2733](https://github.com/home-assistant/home-assistant-polymer/issues/2733).

[2019-02-12 12:02] #8497 closed, assigned to nobody

[2019-02-12 12:03] frenck commented on #5856
Yep, let us do that for now.

[2019-02-12 12:03] #5856 closed, assigned to frenck, grischard

[2019-02-12 12:05] frenck commented on #8447
This is because of recent changes to the code base structure.
Will look into this, thanks!

[2019-02-12 12:06] frenck commented on #8343
/move home-assistant/home-assistant-polymer

[2019-02-12 12:06] ghost commented on #8343
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant-polymer#2734](https://github.com/home-assistant/home-assistant-polymer/issues/2734).

[2019-02-12 12:06] #8343 closed, assigned to nobody

[2019-02-12 12:12] Nebukadneza commented on #8497
Sorry! Indeed, i had both tabs open, and caught the wrong one :/. Sorry for the additional work and inconvenience!

[2019-02-12 12:20] frenck commented on #8286
Capitalized parts of sentences indicate a replacement/placeholder.

E.g.,  from the Telegram page linked by @jankatins

[code]

`NOTIFIER_NAME` -> is a placeholder, which needs replacement by a valid entity in your system.

Service `LIGHT.TURN_ON`, as given by @Uniwatcher, was not found in the documentation. @Uniwatcher, Could you please point on where you've found that one?

Same for `notify.IOS_

[2019-02-12 12:23] frenck commented on #8286
Ow @jaburges the title of the issue mentions:

It was, actually, pretty big as well.

https://www.home-assistant.io/blog/2019/01/23/release-86/#noteworthy-breaking-changes

[2019-02-12 13:08] arthurlutz commented on #8500
Hi @frenck thanks for taking a look at this.

If legal is involved, is there a way to phrase or present the information in a way that says "this is not an endorsement, the linked information is a collaborative effort to summarize terms of service, it might be inaccurate".

The relation with #6402 is that to empower the home assistant users to choose components that put their privacy first, I think

[2019-02-12 13:43] frenck commented on #8500
IMHO a reason not to do it. Everybody has to agree to TOS and stuff when they use/buy/signup for a service. I don't believe HA should take part in that. (But that is my opinion).

From a maintainability point of view, having the score from "TOSDR" in our page, is not really wished for. Who is maintaining and updating those?

[2019-02-12 15:41] arthurlutz commented on #8502
Sorry for the duplicate, will update my pull request.

[2019-02-12 15:44] arthurlutz commented on #8499
@frenck I am not suggesting linters should be mandatory for contributing. I'm just suggesting that it might be some help for certain quality assurance of the documentation. I've seen other projects where the maintainer team actually modifies the pull request to match quality standards to avoid making the project inaccessible to "non technical users".

What tool are you using for "Markdown linting"

[2019-02-12 15:54] arthurlutz commented on #8500
Indeed, a better technical solution would be to have a bit of javascript (or a simple svg link like badges) that gets and displays the classification from the original data source. I'm checking with the project if such ease of integration can be done.

Sure, but very rare are the people who spend time reading them. If home-assistant stands for **privacy first**, then I think home-assistant should

[2019-02-12 17:17] balloob commented on #6402
https://github.com/home-assistant/home-assistant.io/pull/8498#issuecomment-462849329

[2019-02-12 17:17] #6402 closed, assigned to nobody

[2019-02-12 17:22] balloob commented on #8500
https://github.com/home-assistant/home-assistant.io/pull/8498#issuecomment-462849329

[2019-02-12 17:22] #8500 closed, assigned to nobody

[2019-02-12 18:41] frenck commented on #8499
We do modify for "non technical users".
We simply focus on content for the docs, not how the Markdown looks.

Thanks.

[2019-02-12 21:32] jankatins commented on #8286
From a usability standpoint, I find this practise misleading now since the "no capitals in entities" change: I will usually copy and paste an example from the docs, change it a bit (and probably not the capitalisation part: it's in the doc in capitals, why should I change that part?). And then it does not work, and without a helpful error message: the validation page doesn't mention any capitaliza

[2019-02-13 10:17] arthurlutz commented on #8499
OK, I understand. We can close this issue if you want. Thanks for taking the time.

[2019-02-13 11:58] frenck commented on #8499
No problem! 👍

[2019-02-13 11:58] #8499 closed, assigned to nobody

[2019-02-13 12:16] frenck commented on #8286
@jankatins Sorry, maybe I'm missing your point.
Entity ID's need to be changed anyway, right? Copy and pasting wouldn't have worked anyway. Now it fails, instead of silently failing without having a clue on why... I see it as a win, to be honest.

[2019-02-13 13:07] jankatins commented on #8286
@frenck for the telegram case: yes and no. From the logical standpoint, it's just a name which has to be the same in both places. The restriction that it has to be lowercase comes from someplace else.

It also worked before: the telegram config was in place for over a year until it broke on an upgrade. The error message (on validation) didn't indicate that it was a capitalisation problem (where it

[2019-02-13 13:49] frenck commented on #8286
That is an issue for the main repo, not for the documentation.

This might be better for this specific case, but causes issues on other parts. Some months ago we had tons of different methods to show placeholders. We have chosen to use this method, which still stands.

[2019-02-14 12:11] #8429 closed, assigned to frenck

[2019-02-14 15:34] #7786 closed, assigned to nobody

[2019-02-14 15:49] #8447 closed, assigned to frenck

[2019-02-14 18:08] arthurzenika opened #8577 "Update privacy policy to mention Google Analytics, Algolia, Cloudflare and JSDelivr"
The current version of the documentation uses a number of third parties to serve assets or services. I think these services should be mentioned in the privacy policy.

![screenshot from 2019-02-14 18-58-47](https://user-images.githubusercontent.com/445200/52807478-dd209c00-308b-11e9-8474-90eae0b8252a.png)

Services used :

* Google Analytics
* Algolia
* Cloudflare
* jsdelivr
* netlify

[2019-02-16 03:53] lysdexik commented on #7964
Bump, can anyone help implement this functionality?? I know we’re not the only 2 people who would like to see this happen.

[2019-02-16 09:50] MartinHjelmare commented on #7964
This is not a feature request. Please don't comment about that. We should just fix the docs. Feature requests are directed to our forum.

[2019-02-18 04:23] kjake opened #8616 "home-assistant doesn't register pushId for iOS Companion App"
iOS seems to be doing things, but on the home-assistant side, .ios.conf never registers the pushId.

`.ios.conf`:
[code]

iOS debug:
[code]

[2019-02-18 07:28] GuyKh opened #8617 "How to edit the link on the side bar? Github link is broken"
In [notify.telegram](https://www.home-assistant.io/components/notify.telegram/) the github link is broken.
Tried to tackle this myself, but under the [notify.telegram.markdown](https://github.com/home-assistant/home-assistant.io/blob/next/source/_components/notify.telegram.markdown) - there's no github link whatsoever.

Thanks

[2019-02-18 10:45] eliseomartelli opened #8619 "Links broken in components pages."
The links are broken on the components pages.

Some examples:
https://www.home-assistant.io/components/media_player.emby/
points at:
https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/emby/media_player.py
but it should be:
https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/media_player/emby.py

[2019-02-18 13:37] fabaff commented on #8619
I think that @frenck knows the current state of the changes to make the links work again.

[2019-02-18 14:46] klaasnicolaas commented on #8619
This is something that is being worked on, more people have opened that same type of issue.

[2019-02-18 14:55] klaasnicolaas commented on #8617
See also #8619

[2019-02-18 15:31] DoctorIOT opened #8622 "Darksky Source link is incorrect"
...it should be https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/weather/darksky.py

[2019-02-18 16:06] brianharwell opened #8623 "WorkDay source link"
Website links to

https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/workday/binary_sensor.py

but the correct link is:

https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/binary_sensor/workday.py

[2019-02-18 16:35] klaasnicolaas commented on #8623
Please see: #8619

[2019-02-18 16:35] #8623 closed, assigned to nobody

[2019-02-18 16:36] klaasnicolaas commented on #8622
Please see: #8619

[2019-02-18 16:36] #8622 closed, assigned to nobody

[2019-02-18 16:37] klaasnicolaas commented on #8619
let's use this issue for discussion, I notice that many people are going to open issues that are about the same. You can better respond to this issue.

[2019-02-18 16:38] #8617 closed, assigned to nobody

[2019-02-18 17:56] fabaff commented on #8616
/move to home-assistant/home-assistant-iOS

[2019-02-18 17:56] ghost commented on #8616
This issue was moved by [fabaff](https://github.com/fabaff) to [home-assistant/home-assistant-iOS#220](https://github.com/home-assistant/home-assistant-iOS/issues/220).

[2019-02-18 17:56] #8616 closed, assigned to nobody

[2019-02-19 14:25] damyanor opened #8638 "picture-elements with state-icon element style issue"
When state-icon is used with style which changes the icon size (--iron-icon-width and --iron-icon-height), the icon is not placed as expected.  Example:
[code]
results in:
![notok](https://user-images.githubusercontent.com/46784312/53021215-fd1fd900-3458-11e9-81e1-279cec0e1290.jpg)
Without --iron-icon-width and  --iron-icon-height params it is centered correctly.

Testing the same style with a sta

[2019-02-20 13:49] #8638 closed, assigned to nobody

[2019-02-21 16:40] DoctorIOT opened #8668 "Script Editor not creating friendly entity id"
When creating a script using the Script Editor the script is saved with an alias as entered in the name field along with a numeric entity id. This entity id is not displayed or editable from the script editor. The result is that the script is hard to choose from elsewhere unless to know the random numeric id.

Modify the script editor to allow editing of the entity id and default it to a sanitized

[2019-02-21 18:45] klaasnicolaas commented on #8668
https://github.com/home-assistant/home-assistant-polymer

[2019-02-22 05:26] CountParadox opened #8678 "FitBit sensor unable to configure"
Hello,

I and a few other users ([`see`](https://community.home-assistant.io/t/fitbit-unable-to-authorize/80470/4) are having difficulty setting up the fitbit sensor component, the issue occurs when authorizing our custom application to fitbit,

When it comes time to
[code]

Checking the boxes, and clicking allow takes to a Home Assistant error page that says
[code]

I am unsure how to proceed fro

[2019-02-22 06:46] klaasnicolaas commented on #8678
This repo is for the documentation of Home Assistant, I think that you should be here: https://github.com/home-assistant/home-assistant

[2019-02-22 10:38] MartinHjelmare commented on #8678
/move to home-assistant

[2019-02-22 10:39] ghost commented on #8678
This issue was moved by [MartinHjelmare](https://github.com/MartinHjelmare) to [home-assistant/home-assistant#21305](https://github.com/home-assistant/home-assistant/issues/21305).

[2019-02-22 10:39] #8678 closed, assigned to nobody

[2019-02-22 10:39] ghost commented on #8678
This issue was moved by [MartinHjelmare](https://github.com/MartinHjelmare) to [home-assistant/home-assistant#21306](https://github.com/home-assistant/home-assistant/issues/21306).

[2019-02-22 14:09] increddibelly opened #8687 "option to stop covers by re-triggering last up or down movement"
my rflink klik-aan-klik-uit cover switch do not respond to STOP commands. If I want to stop them halfway while going up, I have to press up once more, and that stops them.

**proposal:**
add option to cover component, 'resend_to_stop', default false.
if this option is set to true, the stop script doesn't send a stop command, but resends the last sent command. It probably helps to cache the last se

[2019-02-22 14:38] robin13 opened #8689 "SSH daemon has debug logging"
In the ssh daemon configuration, debug logging is enabled:

[code]
This results in this line being output every time one connects:

[code]
And this in turn breaks backuppc from being able to connect to make a backup and other ssh based automations.

Is it possible to set LogLevel to INFO?

[2019-02-22 16:02] fabaff commented on #8689
This is the issue tracker for the Home Assistant Documentation.

Please report Home Assistant issues at https://github.com/home-assistant/home-assistant/issues/new. It's hard to tell where that issue belongs as there are only generic information available.

Hassbian, Hass.io, Docker, default installation...

[2019-02-22 16:03] fabaff commented on #8687
This is the issue tracker for the Home Assistant Documentation.

Please use the forum for [feature requests](https://community.home-assistant.io/c/feature-requests). Thanks

[2019-02-22 16:03] #8687 closed, assigned to nobody

[2019-02-22 16:03] fabaff commented on #8668
This is the issue tracker for the documentation.

Please use the forum for [feature requests](https://community.home-assistant.io/c/feature-requests). Thanks

[2019-02-22 16:03] #8668 closed, assigned to nobody

[2019-02-22 16:06] #8689 closed, assigned to nobody

[2019-02-22 16:10] robin13 commented on #8689
See: https://github.com/home-assistant/home-assistant/issues/21325

[2019-02-23 08:53] peternijssen commented on #8619
Just noticed the same thing in the following pages:
https://www.home-assistant.io/components/sensor.buienradar/
https://www.home-assistant.io/components/weather.buienradar/

[2019-02-23 11:18] hmmbob commented on #8619
Lol, that's how I came into this issue - noticed the same while I was fixing a key error for the buienradar sensor

[2019-02-24 14:15] Joshfindit opened #8714 "Clarify the config of the new people component"
Request from an end-user: Could the documentation be updated to cover the following?

1. Where the `user_id` can be found? _Not just for the logged-in user, but for other users._
2. What the requirements are for the `id:`. Could it just be `1` and `2`? `alyssa` and `seth`?

[2019-02-24 23:31] MartinHjelmare commented on #8714
2. The requirement for `id` is that it's unique among persons. No person should have the same id as another person.

[2019-02-24 23:39] MartinHjelmare commented on #8714
1. `user_id` of users can be inspected in the users/manage users screen in the configuration panel.

[2019-02-25 03:10] dcshoecomp opened #8723 "config component value template entry text box unable to enter any text"
config: component has an issue with editing automations/scripts when template is selected. It allows for a supposed template to be entered however no text can be actually entered. When yaml is edited manually and reloaded it does show up in automation/script as a correct template, however that also cannot be edited via gui
![screenshot from 2019-02-24 22-10-03](https://user-images.githubuserconten

[2019-02-25 11:35] frenck commented on #8723
/move home-assistant/home-assistant

[2019-02-25 11:35] ghost commented on #8723
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant#21429](https://github.com/home-assistant/home-assistant/issues/21429).

[2019-02-25 11:35] #8723 closed, assigned to nobody

[2019-02-25 22:26] rikroe commented on #6350
@IVData are you sure this works? If so, could you provide a config?

I just cannot get the api part to work with basic out. If I use a second block for that, it works as long I don't add another `auth_basic` directive. But this way, the frontend is secured but the api is accessible without any additional reverse proxy security 👎

What does work (excerpts) but I can access /api without proxy:

[cod

[2019-02-25 22:54] pimoon opened #8736 "Frontend bug with multiple cards horizontal"
If I have multiple light cards in an horizontal card, they are shrink :
![capture d ecran 2019-02-25 a 23 53 46](https://user-images.githubusercontent.com/46498300/53374445-a3d41000-3958-11e9-82c2-94481f3157e7.png)

[code]

[2019-02-26 06:42] nikolak commented on #8619
Note that also (all?) binary sensors have invalid links:

For example

https://www.home-assistant.io/components/binary_sensor.template/

https://www.home-assistant.io/components/binary_sensor.trend/

https://www.home-assistant.io/components/binary_sensor.bayesian/

https://www.home-assistant.io/components/binary_sensor.iss/

The docs structure points to e.g:

`/components/trend/binary_sensor.py`

[2019-02-26 08:16] frenck commented on #8619
## ⚠️ Please DO NOT add all the broken links you can find to this issue.

The links are generated and currently we know which links break and why.
The breakage is caused by [The Great Migration](https://developers.home-assistant.io/blog/2019/02/19/the-great-migration.html) in our code base.

I've added a couple of fixes to make them work in around 80% of the cases.

[2019-02-26 13:03] frenck commented on #8736
/move home-assistant/home-assistant-polymer

[2019-02-26 13:03] ghost commented on #8736
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant-polymer#2848](https://github.com/home-assistant/home-assistant-polymer/issues/2848).

[2019-02-26 13:04] #8736 closed, assigned to nobody

[2019-02-26 13:04] ghost commented on #8736
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant-polymer#2849](https://github.com/home-assistant/home-assistant-polymer/issues/2849).

[2019-02-27 17:43] dougclarknc opened #8762 "Component "Last Updated Release" Attribute"
As a Hass User, I like to stay up to date with releases.
However, breaking changes are not infrequent and may be missed if skimming the release notes.
This leads to occasional config errors where Dev-Info panel simply states that some component did not load.
It would be nice to have an attribute on each components page in their right panel that details the last release this component was updated;

[2019-02-28 16:23] skop1986 opened #8782 "h and J series connection method"
h and J series connection method:

https://github.com/kkapitan/homebridge-homesung

this method works in home bridge.

[2019-02-28 17:01] ronschaeffer opened #8783 "Light entity icon disappears when overwriting brightness state attribute via API or dev-state"
Raising an issue here, because it seems to have stumped the Community.

Using curl via a terminal, the dev-service page and a rest_command to overwrite the brightness attribute of a light results in the light entity icon in the frontend disappearing. The behavior is the same in Lovelace and States. Simply setting on or off state without brightness toggles the icon between blue and yellow as expect

[2019-02-28 18:27] Joshfindit commented on #8714
(Disregard 88a3b1d, it was against next. 7cba3dc targets current.)

[2019-02-28 21:10] hamishfagg commented on #6350
@rikroe you are absolutely right, my solution lets you use /api/ without authorisation =\

Well then, now I am back to square one.

[2019-02-28 21:16] rikroe commented on #6350
Sorry for being the bearer of bad news...

I changed my nginx to Certificate Authentication because everything else is just buggered... If you don't want to use `openssl` on command line (and need a guide to recreate certificates etc.), try [XCA](https://hohnstaedt.de/xca/) which worked well for me...

[2019-02-28 21:30] Joshfindit commented on #8714
Merged. Closing issue. Cheers!

[2019-02-28 21:30] #8714 closed, assigned to nobody

[2019-03-01 11:43] frenck commented on #8782
Hi @skop1986,

This does not seem to be related to HA, therefore I'm closing this issue.
If I'm wrong about it, please let me know and provide some details on the intents you had with this.

../Frenck

[2019-03-01 11:43] #8782 closed, assigned to nobody

[2019-03-01 13:59] Konstigt opened #8794 "Google Assistant Guide is outdated (again)"
I have just switched Google accounts and I have to redo my integration between HA and Google Assistant.

I could not follow the guide on https://www.home-assistant.io/components/google_assistant/#first-time-setup, I think the Google pages have changed.

If I figure out how to do it, maybe I can update myself but right now I don't know how to do it.

It was on the 2nd step I got stuck.

Edit: I use

[2019-03-01 14:07] #8794 closed, assigned to nobody

[2019-03-03 08:55] mrvanes opened #8809 "Config checker wrongly warns for name key deprecation"
In 0.88 the new config checker is a bit too enthousiastic about the _name_ key of the buienradar sensor I think. Without name, buienradar sensor creates sensor.br_temparature, but I want it to read sensor.utrecht_temperature, which is correctly created when supplying ```name = Utrecht```, but as stated in the title this is frowned upon by the config checker?
![image](https://user-images.githubuser

[2019-03-03 11:11] john-arvid opened #8811 "known_devices.yaml is not created"
Home Assistant 0.88.1

When I add the device_tracker in configuration.yaml the known_devices.yaml file is not created automatically.
There is also a error in the logs that shows that the file is missing.
After a manual creation of the file it becomes populated.

[2019-03-03 12:25] klaasnicolaas commented on #8811
/move home-assistant/home-assistant

[2019-03-03 12:25] ghost commented on #8811
This issue was moved by [klaasnicolaas](https://github.com/klaasnicolaas) to [home-assistant/home-assistant#21616](https://github.com/home-assistant/home-assistant/issues/21616).

[2019-03-03 12:25] #8811 closed, assigned to nobody

[2019-03-03 12:28] klaasnicolaas commented on #8809
/move home-assistant/home-assistant

[2019-03-03 12:28] ghost commented on #8809
This issue was moved by [klaasnicolaas](https://github.com/klaasnicolaas) to [home-assistant/home-assistant#21618](https://github.com/home-assistant/home-assistant/issues/21618).

[2019-03-03 12:28] #8809 closed, assigned to nobody

[2019-03-04 01:11] rohankapoorcom commented on #6388
Removing stale from this issue

[2019-03-04 14:36] timbru31 opened #8821 "Incorrect note in speedtestdotnet.markdown regarding Raspberry Pi's LAN adapter"
The file `home-assistant.io/source/_components/speedtestdotnet.markdown` states in the Notes section that

This is not quite right anymore. The "new" Raspberry Pi 3+ model comes with a Gigabit LAN adapter - the sentence needs to be rephrased. (maximum throughput is now 300 Mbps due to USB 2.0 - see https://www.raspberrypi.org/products/raspberry-pi-3-model-b-plus/)

[2019-03-04 16:11] #7655 closed, assigned to nobody

[2019-03-04 20:37] DGordeenko opened #8824 "Incorrect link to sensor.py from DHT component page"
I noticed that on https://www.home-assistant.io/components/sensor.dht/ the link in the right hand column is broken and should point to something like
https://github.com/home-assistant/home-assistant/blob/master/homeassistant/components/sensor/dht.py

[2019-03-04 21:08] klaasnicolaas commented on #8824
Please see: #8619

[2019-03-04 21:08] #8824 closed, assigned to nobody

[2019-03-05 12:03] #7862 closed, assigned to nobody

[2019-03-05 23:04] bobcroft opened #8835 "Problems with NGINX reverse proxy server."
Hi people I hope someone can help me.  I installed the duck DNS addon and that appeared to load OK and there are no errors in the logs.  I then installed the Nginx reverse proxy addon.  In both configs I set my domain to "xxxx.duckdns.org".  in my configuration.yaml I have base_url set to xxxx.duckdns.org.  I have forwarded external port 443 to internal port 8123 and also port 80 forwarded to port

[2019-03-06 13:42] ronschaeffer commented on #8783
Simple mistake on my part in the end! I was passing the brightness value as a string instead of an integer.

[2019-03-06 13:42] #8783 closed, assigned to nobody

[2019-03-06 18:42] frenck commented on #8835
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2019-03-06 18:42] #8835 closed, assigned to nobody

[2019-03-06 19:26] bobcroft commented on #8835
Franck, thanks for pointing out my error, sorry about that.  I thought it funny that I couldn’t see it on the community forum.

Bob

From: Franck Nijhof <notifications@github.com>
Sent: 06 March 2019 18:43
To: home-assistant/home-assistant.io <home-assistant.io@noreply.github.com>
Cc: bobcroft <rdg3@lineone.net>; Author <author@noreply.github.com>
Subject: Re: [home-assistant/home-assistant.io] Pr

[2019-03-07 09:35] Toffendask1 opened #8852 "RFXtrx Sensor - Missing parameters"
Home Assistant receive data from RFXtrx Sensor, but can only display a few types.

Please update:  home-assistant/homeassistant/components/rfxtrx/__init__.py
with some more data types.

Today the list is:
DATA_TYPES = OrderedDict([
	    ('Temperature', TEMP_CELSIUS),
	    ('Temperature2', TEMP_CELSIUS),
	    ('Humidity', '%'),
	    ('Barometer', ''),
	    ('Wind direction', ''),
	    ('Rain rate',

[2019-03-08 08:58] ukmgranger opened #8862 "Switchbot documentation needs addition"
I've been having issues with the switchbot component, and it seems it was down to me not using lower-case letters for the mac in my config.

It would be helpful if the documentation indicated this.

The location where you attain the mac address (switchbot app) displays the mac in uppercase, so it is an easy mistake to make.

https://www.home-assistant.io/components/switch.switchbot/

[2019-03-08 11:24] Toffendask1 commented on #8852
Posted in wrong forum. Moved/closed

[2019-03-08 11:24] #8852 closed, assigned to nobody

[2019-03-08 15:34] #8821 closed, assigned to fabaff

[2019-03-08 19:35] #8862 closed, assigned to fabaff

[2019-03-08 21:03] speedmann opened #8872 "tplink switch documentation still available"
Hi all,

i just saw the "old" tplink documentation is still available at https://www.home-assistant.io/components/switch.tplink/ and https://www.home-assistant.io/components/light.tplink/

I think after [#18091](https://github.com/home-assistant/home-assistant/pull/18091)  it should redirect to https://www.home-assistant.io/components/tplink/ (Like the ikea documentation does)

I'm not sure if thi

[2019-03-10 21:55] escoand commented on #7806
@klaasnicolaas any update?

[2019-03-10 22:17] alebodo opened #8907 "Demo account not working on iPad"
Hi I just wanted to tell you that https://demo.home-assistant.io seems not to be working on iPad with Safari.

It works fine on macbook pro and iphone but not with iPad.

You might wanna check that out!

Thanks for the great service ;)

[2019-03-11 01:44] klaasnicolaas commented on #8907
/move home-assistant/home-assistant-polymer

[2019-03-11 01:44] ghost commented on #8907
This issue was moved by [klaasnicolaas](https://github.com/klaasnicolaas) to [home-assistant/home-assistant-polymer#2906](https://github.com/home-assistant/home-assistant-polymer/issues/2906).

[2019-03-11 01:44] #8907 closed, assigned to nobody

[2019-03-11 17:48] jakezp opened #8912 "Link to "differences between the bridges" is broken"
The link in "Check here for the differences between the bridges." on https://github.com/home-assistant/home-assistant.io/blob/next/source/_components/tahoma.markdown is broken. Currently it's pointing to https://somfyhouse.freshdesk.com/nl/support/solutions/articles/14000058145-wat-is-het-verschil-tussen-de-tahoma-en-de-connexoon-, which redirects to https://somfyhouse.freshdesk.com/nl/support/log

[2019-03-14 21:06] melyux opened #8937 "The "Securing" page makes multiple references to an "All installs" section, but there is no link and it's nowhere to be found"
This is the page: https://github.com/home-assistant/home-assistant.io/blob/current/source/_docs/configuration/securing.markdown

Multiple times, "All installs" is referenced with no clue of what or where that is. Not sure what it's referring to.

[2019-03-15 09:16] #8937 closed, assigned to fabaff

[2019-03-16 16:00] #8014 closed, assigned to nobody

[2019-03-17 08:55] fabaff commented on #8762
I'm not sure where we should draw the line here. If we only increment the release number if there is a breaking change then will it lead to a wrong impression. There are integrations which are changed/improved/modified on a regular base. Technically they are updated.

In most cases the documentation should be up-to-date when a breaking change occurs and then the log entry is pointing one to the do

[2019-03-17 18:38] Jeltel opened #8969 "Snips documentation: Link to docker install broken"
The link to the docker installation guide for snips is broken:
https://github.com/snipsco/snips-platform-documentation/wiki/6.--Miscellaneous#using-docker

on

https://www.home-assistant.io/components/snips/

And I didn't find another reliable source for a snips docker unfortunately.

[2019-03-19 09:14] #5775 closed, assigned to nobody

[2019-03-21 08:19] raxpa opened #8996 "Iliad Italy Component"
Hi everyone the "Iliad Italy" component introduced in release 0.7 is not available anymore. Looks like there was no python script in 0.8x release neither in this 0.9

[2019-03-21 16:31] mrand opened #8998 "Device Tracker page doesn't list Google Home"
The list on the right side of https://www.home-assistant.io/components/device_tracker/ doesn't include Google Home (https://www.home-assistant.io/components/googlehome/).

Maybe there is some distinction about "platforms" that I don't understand, but it seems like a it should be listed regardless since most users would assume the Device Tracker page would list all the possible components that coul

[2019-03-21 17:51] fabaff commented on #8996
Component was removed: https://github.com/home-assistant/home-assistant/pull/22175

[2019-03-21 17:59] fabaff commented on #8996
Was already in the 0.91 release thus integration will be gone with the next release.

The issue you see is related to #8619

[2019-03-21 17:59] #8996 closed, assigned to nobody

[2019-03-21 20:06] #8157 closed, assigned to nobody

[2019-03-24 19:37] razion12 commented on #5968
@MartinHjelmare ok

[2019-03-25 15:39] andre2007 opened #9036 "Samba 8.1 ip v6 issue"
With latest update samba share plugin is using IP v6 instead of v4. The help page of the plugin does only contain info how to setup for IP v4.
Please add some info for v6, e g. How to add a fully specified v6 address (I got from ipconfig /all)

[2019-03-25 16:19] frenck commented on #8619
The great migration on the code-base has been finished, this means all links now work as expected (including all listed above).

🎉

[2019-03-25 16:19] #8619 closed, assigned to nobody

[2019-03-26 14:14] klaasnicolaas commented on #8872
We can close this PR, the pages are already merged and the `switch` and `light` platform pages are removed.

[2019-03-26 14:14] #8872 closed, assigned to nobody

[2019-03-26 22:11] awarecan commented on #8762
Could be done via https://github.com/home-assistant/architecture/issues/179

[2019-04-01 23:01] 3M1F opened #9096 "I need code for voice recorder in Basic or javascribt language"
please help me I have delivery the program after two days

[2019-04-02 08:03] frenck commented on #9096
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2019-04-02 08:03] #9096 closed, assigned to nobody

[2019-04-04 10:28] fredrike opened #9133 "Updated documentation for Daikin"
The PRs #9033 should have reached the documentation of 0.91.

[2019-04-04 11:22] frenck commented on #9133
@fredrike According to Git the following PR's are currently on `current`: #9100 #9040.
So regarding those 2, I'm not sure what is wrong with them?

#9033 is indeed not on current, which is weird. I'm looking into why this happened.
Instead of making the PR #9134 against `current`, shouldn't we just cherry-pick #9033 to `current`?

[2019-04-04 12:01] fredrike commented on #9133
Yes but there are merge conflicts for #9033, the #9134 outdates #9033.

[2019-04-04 19:47] frenck commented on #9133
#9033 is already merged, so #9134 would inevitably create a merge conflict when syncing our main branches...

[2019-04-05 05:38] fredrike commented on #9133
Could the #9033 be cherry picked into the `current` branch and I'll rebase #9134 against that (as you can see, I changed quite some text in that pr).

[2019-04-06 02:30] yajrendrag opened #9158 "Pushbullet notification not working in 91.1"
Pushbullet notification has stopped working for me as of 91.1.  it was working fine in 90.2.  upgraded to 91.1 and it stopped.  nothing appears in the log (no info, no error, no traceback).  just no notification happens.  It doesn't even work from the dev panel.  If i downgrade to 90.2, notification functionality is restored.

python 3.6.7, ubuntu 18.04 venv

[2019-04-06 04:01] yajrendrag commented on #9158
fixed my issue above wrt pushbullet - i didn't name my notifier - i was simply using notify.notify since pushbullet was the only notifier i was using.  91.1 seems to have added another notifier (i didn't add it, but i noticed it was there from the info message in the log): notify.mobile_app.  So notify was confused i suppose.  After naming my notifier, all is well again.  if anyone else is only us

[2019-04-06 04:01] #9158 closed, assigned to nobody

[2019-04-08 11:56] fredrike commented on #9133
What is the status on this?

[2019-04-13 12:05] jimmycuadra opened #9209 "default_config docs point to a file that is no longer useful"
https://www.home-assistant.io/components/default_config says "The components that will be loaded can be found [here](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/default_config/__init__.py)," but it seems the list of components was removed from that file in https://github.com/home-assistant/home-assistant/pull/23024. Can this reference be updated to something

[2019-04-15 00:18] klaasnicolaas commented on #9209
https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/default_config/manifest.json

Pherhaps it is this file?

[2019-04-15 07:09] jimmycuadra commented on #9209
Yeah, that appears to be where the information moved. I think just having that list be in the documentation itself, with links to each of the default components' documentation pages, would be much better UX, though.

[2019-04-15 11:00] klaasnicolaas commented on #9209
Well make a PR and make it better 😉

[2019-04-15 19:10] arthurlutz commented on #8577
ping

[2019-04-16 07:14] fabaff commented on #9036
/move to home-assistant/hassio-addons

[2019-04-16 07:14] ghost commented on #9036
This issue was moved by [fabaff](https://github.com/fabaff) to [home-assistant/hassio-addons#569](https://github.com/home-assistant/hassio-addons/issues/569).

[2019-04-16 07:14] #9036 closed, assigned to nobody

[2019-04-17 20:21] #7968 closed, assigned to nobody

[2019-04-18 08:17] Hucksleyy91 opened #9240 "Fan support for HomeKit controller support ?"
When trying to add my HomeKit bridge to home assistant with the HomeKit controller support addon it shows the bridge let’s me add it then it goes away so it must of worked but nothing shows up

Would that be because it contains a fan accessory that is not shows as supported

Is it normal for no accessories to show up at all

[2019-04-18 20:03] DBaakman opened #9248 "MQTT link to EMQ is not working"
On the page https://www.home-assistant.io/docs/mqtt/broker the link 'EMQ' points to http://emqtt.io/ which gives an empty page.

When googling a bit, I found two possible replacements:
- https://www.emqx.io/ : Homepage of the company that creates EMQ; included links to the open source version of EMQ, but also to closed source commercial offerings.
- https://github.com/emqx/emqx : Github page of th

[2019-04-19 14:30] stepanov1975 opened #9255 "Setup of domain binary_sensor takes long time with lot of ping sensors"
I have ~10 ping sensors defined like this:
- platform: ping
  name: "Switcher"
  host: 192.168.0.152
  count: 2
  scan_interval: 120
Setup of domain binary_sensor takes sometimes more then 10s

[2019-04-19 14:37] klaasnicolaas commented on #9255
/move home-assistant/home-assistant

[2019-04-19 14:37] ghost commented on #9255
This issue was moved by [klaasnicolaas](https://github.com/klaasnicolaas) to [home-assistant/home-assistant#23243](https://github.com/home-assistant/home-assistant/issues/23243).

[2019-04-19 14:38] #9255 closed, assigned to nobody

[2019-04-20 06:45] #8495 closed, assigned to nobody

[2019-04-20 13:44] #6387 closed, assigned to nobody

[2019-04-21 14:59] #8286 closed, assigned to nobody

[2019-04-24 10:30] #7964 closed, assigned to nobody

[2019-04-25 14:38] fabaff commented on #9248
Thanks for bringing it up.

[2019-04-25 14:38] #9248 closed, assigned to fabaff

[2019-04-27 15:36] anrada73 opened #9334 "Netatmo Public sensors not available."
https://github.com/home-assistant/home-assistant/issues/23474?fbclid=IwAR0_XlaLFo-4btAhQwa07tzmYHKyLIJAvCMaVNRtu0u6hKNIj0jFjUp2J14

[2019-04-27 16:13] andrewsayre commented on #9334
This is not a documentation issue...

[2019-04-27 16:13] #9334 closed, assigned to nobody

[2019-04-27 16:15] andrewsayre commented on #9240
This is not an issue with the website or documentation...  Please seek help in one of the [appropriate channels](https://www.home-assistant.io/help/).

[2019-04-27 16:15] #9240 closed, assigned to nobody

[2019-04-29 06:08] fredrike commented on #9133
Closed by #9134

[2019-04-29 06:08] #9133 closed, assigned to frenck

[2019-04-29 07:58] blademckain opened #9349 "Lovelace support WebRTC"
Lovelace support WebRTC?

if not, could it be included in future upgrades?
support for webrtc (videocamera + microphone) is an excellent solution for doorbell

[2019-04-29 22:10] ngsimon opened #9352 "k"

[2019-04-29 22:19] klaasnicolaas commented on #9352
Please fill your issue with content otherwise we will close it

[2019-04-29 22:32] #9352 closed, assigned to nobody

[2019-05-02 08:10] JanLankhorst opened #9366 "DSMR documentation incorrect"
The next release will no longer support the current setup of the DSMR compnent. A change in the documentation is required; Home assistant frontend reports: 'group', 'meter readings' etc are no longer valid.

`group:
  meter_readings:
    name: Meter readings
    entities:
      - sensor.power_consumption_low
      - sensor.power_consumption_normal
      - sensor.power_production_low
      - sensor

[2019-05-02 11:25] fredrike opened #9368 "`next`branch is deviated from `current` for daikin.markdown"
The Daikin documentation in the `next` branch is incorrect, it should be the same as the `current` branch.

Could someone please rebase `source/_components/daikin.markdown` from `current` to `next`?

[2019-05-02 17:03] klaasnicolaas commented on #9366
I think this is due to a typo in your own config. Nothing changes with the dsmr component

[2019-05-02 22:54] fabaff commented on #9368
`current` was merged into `next`.

[2019-05-02 22:54] #9368 closed, assigned to nobody

[2019-05-03 13:51] JanLankhorst commented on #9366
Well it all started with this warning message..

![Capture](https://user-images.githubusercontent.com/38151193/57141564-c6e8c900-6dba-11e9-976d-e9f0dbef0090.JPG)

This is the code that still works but triggers the warning message:
`- platform: dsmr
  port: /dev/ttyUSB0
  dsmr_version: 5
  group:
    meter_readings:
      name: Meter readings
      entities:
        - sensor.power_consumption_low

[2019-05-03 13:53] JanLankhorst commented on #9366
[code]

[2019-05-03 16:14] klaasnicolaas commented on #9366
You are wrong in your own config.

The first 3 lines belong to the DSMR component. The rest is a separate block from the group component. This is how you must do it:

[code]

[2019-05-03 16:56] fabaff commented on #9349
This is the issue tracker. Please use the forum for [feature requests](https://community.home-assistant.io/c/feature-requests) as stated in the PR template. Thanks

[2019-05-03 16:56] #9349 closed, assigned to nobody

[2019-05-03 17:39] klaasnicolaas commented on #9366
For further assistents please ask help on the community forum or discord server. I will close this PR.

[2019-05-03 17:39] #9366 closed, assigned to nobody

[2019-05-03 23:18] Darthmonkey opened #9378 "Example configuration doesn't work"
Using either the default settings or the example configuration from 'https://www.home-assistant.io/addons/dhcp_server/' provide the error:

The same error is shown if all the values are changed to valid ones, and the hosts section is removed completely, see 'https://community.home-assistant.io/t/cannot-start-dhcp-server-with-default-or-suggested-configuration/113589' for further information.

[2019-05-08 12:40] klaasnicolaas commented on #8998
![image](https://user-images.githubusercontent.com/20448157/57375977-1fdfa500-719f-11e9-89e9-93da761fce7c.png)

In the meantime, the Google Home now also has the presence detection label

[2019-05-08 12:40] #8998 closed, assigned to nobody

[2019-05-10 01:33] #6388 closed, assigned to nobody

[2019-05-10 16:00] andrewpmiller opened #9428 "Broken links to source in the configurator component docs"
Links to the source from the [documentation for the configurator component](https://www.home-assistant.io/components/configurator/) result in 404 errors.

Possibly related to Issues #3869 (stale/closed) and #8619 (closed).

Link text: "the source of the demo component"
404: https://github.com/home-assistant/home-assistant/blob/master/homeassistant/components/demo.py#L132

Link text: "the source"
4

[2019-05-13 08:57] nickma82 opened #9443 "Strange navigation experience /docs/ and /lovelace/"
For me as a HA beginner it was hard to realize the difference between the "[*lovelace docs*](https://www.home-assistant.io/lovelace/)" and "[*all the other docs*](https://www.home-assistant.io/docs/)".

What confused me:
* the changing (right) navigation menu when one switches between the "*lovelace docs*" and "*all the other docs*"
  * No link in both of the navigation menus to easily switch over

[2019-05-14 21:05] PieBru opened #9455 "HassIO doc addition: Arch Linux simple install commands"
Hi, just a quick note on how I successfully installed HassIO on computers running Arch Linux.
Maybe it can be added to https://www.home-assistant.io/hassio/installation/#alternative-install-on-generic-linux-server , which now explains only Debian.

`
 $ sudo pacman -S docker apparmor avahi ca-certificates curl dbus jq socat

 $ sudo -i

 \# curl -sL "https://raw.githubusercontent.com/home-assistan

[2019-05-15 07:31] flemmingss opened #9461 "components/rest does not mention scan_interval"
I se a lot of people using scan_interval with the rest component, but it is not documented.
regarding this documentation: https://github.com/home-assistant/home-assistant.io/blob/current/source/_components/rest.markdown

If this is a feature that is avaiable it should be documented, but I don't think I know enaugh about how it works to do it.

Some examples of people using it:
https://community.ho

[2019-05-16 05:20] robmarkcole opened #9465 "GCP pub/sub config description error"
The [pub/sub docs](https://www.home-assistant.io/components/google_pubsub/) list filter as `optional` but it is in fact required. Also an example of filter config should be included as [it is required](https://github.com/home-assistant/home-assistant/blob/6b359c95daaa50876d574c5168ddaf57afb37a08/homeassistant/components/google_pubsub/__init__.py#L30), e.g.
[code]
Ping @timvancann

[2019-05-16 07:01] jkmaxwell opened #9466 "error, ignore"
nevermind, error.

[2019-05-16 07:02] #9466 closed, assigned to nobody

[2019-05-16 23:11] #7806 closed, assigned to nobody

[2019-05-17 07:37] fabaff commented on #9461
`scan_interval` is available for most integrations that are polling and [documented](https://www.home-assistant.io/docs/configuration/platform_options/#scan-interval).

[2019-05-17 07:37] #9461 closed, assigned to nobody

[2019-05-17 19:09] #8912 closed, assigned to nobody

[2019-05-18 11:01] DominikPalo opened #9477 "[HADashboard/AppDaemon] Link to the Hassbian installation scripts is broken"
Link to the [Hassbian installation scripts](https://github.com/home-assistant/hassbian-scripts/blob/dev/docs/appdaemon.md) (to install AppDaemon) located on the page https://www.home-assistant.io/docs/ecosystem/hadashboard/ is broken and points to 404. Could you please fix that link?

[2019-05-18 11:38] klaasnicolaas commented on #9477
I have opened a PR to fix it 😉

[2019-05-18 11:46] klaasnicolaas commented on #9465
Made a PR to fix it 😉

[2019-05-18 22:13] #9477 closed, assigned to nobody

[2019-05-20 14:45] #9465 closed, assigned to robmarkcole

[2019-05-20 21:49] jimz011 opened #9495 "Samsung TV Component: Samsung TV UE46ES5500 partially working."
I don't know if this is the place to put it, but I have an older Samsung UE46ES5500 in my bedroom. It works partially. Discovery works fine (though I set it up to be static).

All commands work except for one. It can't turn on from an off state as the network card in the TV gets turned off whenever the TV is turned off or standby. No way around this without adding extra components.

You might want

[2019-05-22 17:40] jakubradziwon opened #9500 "After writing automation from web gui check where user stores automations.yaml"
Hi, I divided my setup like this :
`automation: !include includes/automations/automations.yaml`

everything works fine until i want to add new automation from www gui. When automation is saved the system (i presume) checks if there is a file in default position : automations.yaml, if there is it adds automation to its end, but when there is no file (like in my example) it creates new file in defau

[2019-05-22 20:45] #9495 closed, assigned to nobody

[2019-05-22 21:03] #9455 closed, assigned to nobody

[2019-05-23 19:24] #8969 closed, assigned to nobody

[2019-05-30 14:46] GoWithitRoger opened #9536 "Create API Key (at Google) isn't an option, initially"
Regarding:

When trying to get an API key from Google for the 'google_assistant:' yaml configuration, the instructions suggest that Create Credentials > API Key is an option. API Key isn't/wasn't an option when I tried it. It did become an option *after* I created a Service Account Key (I've no idea if this is correct; I simply tried something).

[2019-06-01 23:45] #8762 closed, assigned to nobody

[2019-06-02 11:55] klaasnicolaas commented on #9428
I have made a PR to fix the 404 errors

[2019-06-02 21:48] #9428 closed, assigned to nobody

[2019-06-03 22:42] exenza opened #9562 "installation fails due to missing avahi"
Installation script was failing on:
command -v avahi-daemon > /dev/null 2>&1 || { echo "[Error] Please install avahi first"; exit 1; }

Avahi was installed and running on my system, commenting the line successfully completed the installation.

Distributor ID: Debian
Description:    Debian GNU/Linux 9.9 (stretch)
Release:        9.9
Codename:       stretch

[2019-06-03 22:44] exenza opened #9563 "IKEA TRÅDFRI cannot be configured"
Hass autodiscover my IKEA TRÅDFRI but once I submit the security code nothing happen, no error message, nothing.

If I add it manually by providing host and security code I have the same issue

[2019-06-03 22:49] exenza commented on #9563
user mistake... I was misreading a lowercase L as upper case i :)

[2019-06-03 22:49] #9563 closed, assigned to nobody

[2019-06-03 23:10] klaasnicolaas commented on #9562
/move home-assistant/home-assistant

[2019-06-03 23:11] ghost commented on #9562
This issue was moved by [klaasnicolaas](https://github.com/klaasnicolaas) to [home-assistant/home-assistant#24288](https://github.com/home-assistant/home-assistant/issues/24288).

[2019-06-03 23:11] #9562 closed, assigned to nobody

[2019-06-05 21:54] rpitera opened #9571 "Suggesting that some delivery components that no longer work be removed"
The USPS component, the UPS component and the FedEx components are all based on outdated scraper methods and have all been relatively abandoned.  I'd like to suggest removing all three since they haven't worked in some time now and there are other methods developed to do roughly the same thing.

[2019-06-05 23:04] balloob commented on #9571
I agree.

[2019-06-06 04:07] balloob commented on #9571
CC @happyleavesaoc

[2019-06-07 13:38] yaroto98 opened #9581 "History Graph Lovelace Card showing wrong Temperature measurement C/F"
I have a few Xiaomi zigbee sensors which, through deconz, show up as binary sensors. Using a template I'm extracting the temperatures to create temperature sensors.

`      mudroom_temperature:
        friendly_name: "Mudroom Temperature"
        unit_of_measurement: "°C"
        value_template: "{{ state_attr('binary_sensor.mudroom_door', 'temperature') }}"
      mailbox_temperature:
        frie

[2019-06-09 07:01] robmarkcole opened #9592 "Recommend clarification in Docker on Synology docs"
As per [this thread](https://community.home-assistant.io/t/whitelist-external-dirs-path-in-docker/120794) the docs for using HA in Docker on Synology could be clearer. I recommed a change e.g. from:
`
Within “Volume” click on “Add Folder” and choose either an existing folder or add a new folder. The “mount path” has to be “/config”, so that Home Assistant will use it for the configs and logs.
`

t

[2019-06-09 13:09] stephanmiehe opened #9594 "Recommend clarification in Rainbird component docs"
It's currently unclear if the durations (trigger_time, scan_interval) are in seconds/minutes/hours.

[2019-06-09 13:34] arsaboo commented on #9592
Sounds good to me 👍

[2019-06-10 10:12] #9594 closed, assigned to nobody

[2019-06-10 10:25] ghost opened #9601 "Delete"
Delete

[2019-06-10 12:27] klaasnicolaas commented on #9601
You can skip this step and continue with the steps below.

[2019-06-10 12:41] YRRK commented on #9601
Pfffew with a lot of trail and error, and making use of my regular PC to detect the AppleTV bridge ID. I managed to get it working.

So it works now. But if you start from scratch with a clean homeassistent setup....the manual is outdated. Please revise the manual according to the current situation :-)

[2019-06-10 12:43] YRRK commented on #9601
Maybe keep the post open for anyone to see the manual needs revision.

[2019-06-10 12:43] #9592 closed, assigned to nobody

[2019-06-10 12:43] klaasnicolaas commented on #9592
Merged 😉

[2019-06-10 12:45] klaasnicolaas commented on #9601
You can always create a PR yourself with the changes you would like 😉

[2019-06-10 12:49] YRRK commented on #9601
Hmm I definately want to contribute to the homeassistent society. But i'm still such a noob that i don't want to mixup other peoples hard work writing it. :-) Plus I did so many trial and error, I accutually don't know what I did anymore

[2019-06-11 18:03] #9601 closed, assigned to nobody

[2019-06-11 19:45] warcanoid opened #9615 "0.94 update broke OpenCV image processing"
No OpenCV library found! Install or compile for your system following instructions here: http://opencv.org/releases.html

How to get opencv dependecies back?

[2019-06-14 21:34] jimmycuadra commented on #9209
Still relevant.

[2019-06-14 23:30] warcanoid commented on #9615
https://imgur.com/a/GKPgGml

[2019-06-15 08:50] arthurlutz commented on #8577
this is still an issue

[2019-06-15 13:34] RyuzakiKK opened #9636 "Alexa account linking with custom port"
Following the [Alexa guide](https://www.home-assistant.io/components/alexa.smart_home/) I saw that if I used an `Authorization URI` and an `Access Token URI` with a custom port number I wasn't able to link the amazon skill.

To solve that I forwarded my HA 8123 port to the 443 and used an url like `https://[YOUR HOME ASSISTANT URL]/auth...`

If someone confirms that Alexa is not able to handle cus

[2019-06-15 13:37] nguyenanh87 opened #9637 "Microsoft Text-to-Speech issues when add language code: vi-VN"
HI,
When i config Microsoft TTS service with language code is vi-VN, the system say:

Invalid config for [tts.microsoft]: value is not allowed for dictionary value @ data['language']. Got 'vi-VN'. (See ?, line ?). Please check the docs at https://home-assistant.io/components/tts.microsoft/

I've checked language code, type at the document: https://docs.microsoft.com/en-us/azure/cognitive-services/

[2019-06-15 13:54] klaasnicolaas commented on #9637
What if you do it lowercase? like `vi-vn`

[2019-06-16 02:07] nguyenanh87 commented on #9637
I’ve tried with same issues

[2019-06-18 05:50] aidbish commented on #9637
The only supported languages currently for the component are

    'ar-eg', 'ar-sa', 'ca-es', 'cs-cz', 'da-dk', 'de-at', 'de-ch', 'de-de',
    'el-gr', 'en-au', 'en-ca', 'en-gb', 'en-ie', 'en-in', 'en-us', 'es-es',
    'es-mx', 'fi-fi', 'fr-ca', 'fr-ch', 'fr-fr', 'he-il', 'hi-in', 'hu-hu',
    'id-id', 'it-it', 'ja-jp', 'ko-kr', 'nb-no', 'nl-nl', 'pl-pl', 'pt-br',
    'pt-pt', 'ro-ro', 'ru-ru', 'sk

[2019-06-18 06:15] DubhAd commented on #9615
Would appear to be related to [your previous issue](https://github.com/home-assistant/home-assistant/issues/24456)

Also, the *documentation repository* is not where you need to open issues about the back end.

[2019-06-18 06:15] #9615 closed, assigned to nobody

[2019-06-18 23:23] frenck commented on #9378
We are currently migration add-on documentation to the add-ons itself.
As soon as that is completed, the site will be adjusted accordingly.

The correct documentation for this particular add-on can be viewed by clicking on the add-on in the add-on store or by visiting the repository of the addon:

<https://github.com/home-assistant/hassio-addons/tree/master/dhcp_server>

[2019-06-18 23:23] #9378 closed, assigned to nobody

[2019-06-19 22:55] mgguinne opened #9664 "Examples config causes error - source/_lovelace/entities.markdown"
The following Lovelace example page at source/_lovelace/entities.markdown produces an error in the UI config page (for special row). Though it does actually still work. Just not good for new users trying to copy paste (aka me).

![image](https://user-images.githubusercontent.com/10627164/59806773-e8851c00-9338-11e9-8a0f-b261ecf629b1.png)

[2019-06-20 05:23] warcanoid commented on #9615
I updated HA from 0.94.3 to 0.94.4 and something again deleted OpenCV library:No OpenCV library found! Install or compile for your system following instructions here: http://opencv.org/releases.html
Is this a bug? Delete library after each update?

[2019-06-20 06:49] robbiet480 commented on #9615
@warcanoid Please don't use the documentation repository to report issues in the code. The documentation repository only relates to the documentation of Home Assistant. Furthermore, please don't comment on closed issues trying to revive them unless it was improperly closed. Finally, please don't spam the same comment on multiple issues. Thank you.

Locking as dupe of https://github.com/home-assist

[2019-06-21 12:40] Petro31 opened #9670 "Add adding card to lovelace video."
So many people cannot find that orange plus button to add a card.  I usually have to spend 10 replies in a 'beginner' thread showing these people where the button is to create a card instead of editing because the video doesn't show creating a card.

We could move the button, but honestly, it's in the best spot.  So I would recommend adding a video that adds a card as well as edits a card.

[2019-06-23 18:41] thostie2002 opened #9683 "Nederlandse spoorwegen intergration"
Hello, as password for the nederlandse spoorwegen account you neet to have a special sing like an @ but this is not supported for the config. What will
Work or do you please wanna fix it.

[2019-06-24 08:49] frenck commented on #9683
Hi, there @thostie2002,

Please file a bug report @ https://github.com/home-assistant/home-assistant/issues

This GitHub repository is purely for tracking issues with the documentation.

Thanks already 👍

[2019-06-24 08:49] #9683 closed, assigned to nobody

[2019-06-25 18:55] menant opened #9691 "Could the Sense HAT documentation be updated for Hass.io"
Could the documentation page for Sense Hat ([https://www.home-assistant.io/components/sensehat/ ](url)) be updated for Hass.io?

I installed Hass.io on top or Raspbian following this documentation [(https://github.com/home-assistant/hassio-installer)](url) and I'm missing important steps. Troubleshooting has been unsuccessful due to my limited knownledge of Hass.io internals and its permission sys

[2019-06-27 06:37] robmarkcole opened #9700 "Hassbian database links are 404"
The links for databases on https://www.home-assistant.io/docs/installation/hassbian/customization/

[2019-06-28 10:39] frenck commented on #9691
@menant I do agree on improvements can be made here. Nevertheless, we as maintainers don't know everything as well since integrations and documentation is contributed. For example, I don't use the sensehat and have no clue what it is.

To me, it sounds like a bug in the first place.

Please file an issue on https://github.com/home-assistant/home-assistant/issues

Thanks!

../Frenck

[2019-06-28 10:39] #9691 closed, assigned to nobody

[2019-06-28 10:43] frenck commented on #9670
Hmm, that is interesting. We could add a screenshot, animation or video. But to be honest, I think this is not a documentation issue.

If users are having trouble finding things in an interface, then it is usually a problem with UX.

I'm moving this issue to a different location to see if we can improve the UX.

ESPHome is a nice example, it draws attention to those areas the first time using a ba

[2019-06-28 10:44] frenck commented on #9670
/move home-assistant/home-assistant-polymer

[2019-06-28 10:44] ghost commented on #9670
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/home-assistant-polymer#3315](https://github.com/home-assistant/home-assistant-polymer/issues/3315).

[2019-06-28 10:44] #9670 closed, assigned to nobody

[2019-06-28 10:45] frenck commented on #9664
Thanks for reporting @mgguinne! That is appreciated.

[2019-06-28 10:47] frenck commented on #9637
Let's add the list to the integration page.

[2019-06-28 10:50] frenck commented on #9636
This is the issue tracker for our website and documentation.

For support and getting answers to your questions, please use our community forum or hop onto our Discord chat server 👍

If you find the answer and conclude the documentation is incorrect, feel free to open an issue or even better, create a PR that addresses it!

../Frenck

[2019-06-28 10:50] #9636 closed, assigned to nobody

[2019-06-28 10:52] frenck commented on #9443
I agree this part of the navigation could be improved significantly.

Thanks for you suggestion.

[2019-06-28 10:54] frenck commented on #9209
Agreed. Adding it to the project board.

[2019-06-28 13:09] frenck opened #9709 "Remove Bluetooth BCM43xx add-on from docs"
This add-on is no longer available and was already deprecated since HassOS was introduced.

Page to remove: <https://www.home-assistant.io/addons/bluetooth_bcm43xx/>

Also, remove it from the index on <https://www.home-assistant.io/addons/> (which is dynamical, so removing the page should do it).

[2019-06-28 13:15] frenck opened #9710 "Stalebot should not touch "Help wanted""
If we mark an issue with "Help wanted" that send the intend we want it fixed and it has to be done.

In that case, Stalebot should not mark the issue as stale.

Stalebot needs to be adjusted to support that.

[2019-06-28 13:50] frenck opened #9711 "states.xxx -> states('xxx')"
`states.xxx` can cause warning/message in the logs when it is not ready yet (e.g. during HA startup).

Using `states('xxx')` is a better method for this.

The documentation needs to be scanned and updated to reflect this best practice.

This applies to:

- `states('xxx')`
- `is_state('xxx', 'home')`
- `state_attr('xxx', 'battery')`
- `is_state_attr('xxx', 'battery', 40)`

[2019-06-28 15:06] frenck commented on #9711
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:06] frenck commented on #9710
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:07] frenck commented on #9709
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:07] frenck commented on #9700
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:07] frenck commented on #9664
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:08] frenck commented on #9637
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:08] frenck commented on #9209
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:11] frenck opened #9712 "Remove hassio/external_storage"
The following page is not valid and should be removed:

<https://www.home-assistant.io/hassio/external_storage/>

It also needs to be removed from the navigation.

[2019-06-28 15:11] frenck commented on #9712
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 15:14] frenck opened #9713 "Remove hassio/run_local"
Remove the following page:

<https://www.home-assistant.io/hassio/run_local/>

Needs to be removed from the navigation as well.

The page contains tons of invalid info and is actually about add-on development (which is covered by our development docs).

[2019-06-28 15:14] frenck commented on #9713
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 20:21] frenck opened #9718 "Cleanup older CI configurations and artifacts"
The `home-assistant.io` still has a lot of left-overs from the era before we started using `Netlify`. This needs to be cleaned up.

To remove/clean up:
- [x] TravisCI configuration
- [x] `_deploy` git submodule
- [x] Unneeded/unused targets from the `Rakefile`

* It might be needed to update the `Rakefile` for some of these.

[2019-06-28 20:21] frenck commented on #9718
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-28 21:00] muller119 opened #9719 "tahoma service call cover op en closed reversed"
tahoma cover position is now ok but service call close cover and open cover are reversed
cover.open_cover is now closing cover
cover.close_cover is now opening cover

[2019-06-29 00:10] aidbish commented on #9637
PR submitted.
https://github.com/home-assistant/home-assistant.io/pull/9721

[2019-06-29 11:34] aidbish commented on #9709
PR Submitted https://github.com/home-assistant/home-assistant.io/pull/9728

[2019-06-29 12:13] frenck commented on #9637
PR merged. Thanks for addressing this @nguyenanh87!
And @aidbish, thanks for doing the PR, your help is greatly appreciated ❤️

[2019-06-29 12:13] #9637 closed, assigned to aidbish

[2019-06-29 12:39] frenck commented on #9709
PR is merged! Thanks again @aidbish! ❤️

[2019-06-29 12:39] #9709 closed, assigned to aidbish

[2019-06-29 13:07] frenck opened #9729 "Update getting start on configuration, some parts moved to UI"
https://www.home-assistant.io/getting-started/configuration/

This is no longer true since it now can be done via the UI.

[2019-06-29 14:14] frenck commented on #9729
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-06-30 09:24] frenck commented on #9711
Picking this one up.

Helpful regexes (in this order):

- `states\.(\w*)\.(\w*)\.attributes\.(\w*) == '(\w*)'` ->  `is_state_attr('$1.$2', '$3', '$4')`
- `states\.(\w*)\.(\w*)\.attributes\.(\w*)` -> `state_attr('$1.$2', '$3')`
- `states\.(\w*)\.(\w*)\.state == ('|")(\w*)('|")` -> `is_state('$1.$2', '$4')`
- `states\.(\w*)\.(\w*)\.state` -> `states('$1.$2')`

[2019-06-30 16:55] klaasnicolaas commented on #9209
Think that we can close this PR now

[2019-06-30 16:55] #9209 closed, assigned to nobody

[2019-06-30 17:03] #9710 closed, assigned to frenck

[2019-06-30 19:00] frenck commented on #9711
Done!

[2019-06-30 19:00] #9711 closed, assigned to frenck

[2019-06-30 22:22] frenck commented on #8577
The privacy policy has been reviewed and adjusted where needed.

[2019-06-30 22:22] #8577 closed, assigned to nobody

[2019-07-01 06:44] #9712 closed, assigned to nobody

[2019-07-01 06:47] frenck commented on #9718
Done.

[2019-07-01 06:47] #9718 closed, assigned to nobody

[2019-07-01 07:22] #9713 closed, assigned to nobody

[2019-07-01 09:19] RexS98 opened #9749 "How to use 2 base url for http"
According to the instruction, should be
[code]

But think is it possible to include 2 base url.
Trying to write like
[code]
But failed.
for SSL file, already include both domain.
Any suggestions?

[2019-07-01 09:47] klaasnicolaas commented on #9749
This is not the right place for this question.
Ask your question again in the Discord server or on the [Community forum](https://community.home-assistant.io/).

But the answer to your question is: You can only use 1 base url and not add more.

[2019-07-01 09:47] #9749 closed, assigned to nobody

[2019-07-01 21:33] arthurlogilab commented on #8577
Great news. @frenck thanks for taking a look at this issue and fixing some things.

I now find mention of "Google Analytics" in the https://www.home-assistant.io/privacy/ document. A few things are still missing from my point of view : mention of the other services used, for example links to https://www.algolia.com/policies/privacy/ and https://www.netlify.com/privacy/

Another note : it's a shame

[2019-07-01 21:35] arthurlutz commented on #8577
Great news. @frenck thanks for taking a look at this issue and fixing some things.

I now find mention of "Google Analytics" in the https://www.home-assistant.io/privacy/ document. A few things are still missing from my point of view : mention of the other services used, for example links to https://www.algolia.com/policies/privacy/ and https://www.netlify.com/privacy/

Another note : it's a shame

[2019-07-02 08:18] frenck commented on #8577
@arthurlogilab First of all, I did not update it. I merely closing the issue as an effort to keep things clear in the issue tracker.

It was reviewed and adjusted to what was needed.

The changelog mentions it, this is git, commits are our changelog (for docs & website). Secondly, a link to the merge request is in this issue request as well.

[2019-07-02 09:31] leytpapas commented on #9729
Just did a pull request.
The .md files were moved from '/hassbian-scripts/blob/master/docs' to 'hassbian-scripts/tree/dev/docs/suites' so apart from fixing the configuration/ page each script must have its links updated for proper navigation. Will update when fixing them too

[2019-07-02 09:34] leytpapas commented on #9700
Just did a pull request.
The .md files were moved from '/hassbian-scripts/blob/master/docs' to 'hassbian-scripts/blob/master/docs/suites' so apart from fixing the configuration/ page each script(in the hassbian repository) must have its links updated for proper navigation.

Will update when fixing them too

[2019-07-02 18:57] S-Przybylski opened #9759 "met.no documentation needs to be updated after breaking change"
Please update the documentation for met.no

see https://github.com/home-assistant/home-assistant/issues/24824
THX

[2019-07-03 18:08] frenck commented on #9759
Documentation has been updated.

[2019-07-03 18:08] #9759 closed, assigned to nobody

[2019-07-03 18:09] frenck commented on #9700
Documentation has been adjusted.

[2019-07-03 18:09] #9700 closed, assigned to nobody

[2019-07-04 13:39] frenck opened #9774 "Fixing 404's"
A simple scan showed a bunch of links leading to 404 pages.
This issue tries to keep track of that.

- [ ] homeassistant://auth-callback
- [ ] http://192.168.0.109:8123
- [ ] http://192.168.1.1
- [ ] http://192.168.1.10
- [ ] http://192.168.1.10/analog/2
- [ ] http://192.168.1.10/digital/7
- [ ] http://192.168.1.10/temperature
- [ ] http://192.168.1.21:2112
- [ ] http://192.168.10.100:80
- [ ] htt

[2019-07-07 21:25] klaasnicolaas commented on #9774
https://github.com/miniconfig <- This link is still working

[2019-07-10 09:07] Garfius opened #9826 "Hassbian random freezes over ssh"
I just updated from 0.84, and realized this version randomly freezes ssh with no apparent reason.

Looke like an O.S. issue?

If needed, will upload video.

Thanks a lot.

[2019-07-10 09:43] frenck commented on #9826
Hi there m8!

This is the repository for the project documentation and mainly for tracking issues and tasks with the docs and our website.

For Hassbian, I would highly recommend you to jump onto our Discord chat server and ask in the `#hassbian` channel. This makes troubleshooting way quicker.

Thanks 👍

[2019-07-10 09:43] #9826 closed, assigned to nobody

[2019-07-12 19:21] truglodite opened #9842 "serial.markdown example code uses deprecated methods"
The example code given in /source/_components/serial.markdown was written for an older version of ArduinoJSON.h (v5), and it will not compile with the current library (v6). Using the new methods in v6, the example code can be replaced by something like this:
[code]
Perhaps this can be expanded on by adding additional lines from the library example code "JsonGeneratorExample.ino". I'm too much a gi

[2019-07-12 20:39] MatthewFlamm opened #9843 "Lovelace weather card displays incorrect data in one of the platforms"
As noted here:

https://github.com/home-assistant/home-assistant/issues/24524

The weather forecast card in the documentation displays pressure in the wrong units.  This image was presumably generated using the dark sky integration before it was fixed.  I'm not sure how the images were generated in terms of quality, etc., or I would make a PR.

https://www.home-assistant.io/lovelace/weather-foreca

[2019-07-13 08:57] surlymatt commented on #9842
Got a fix for it using the latest arduinojson driver... all I have to do now is work out how to make a pull request..  Coincidentially the same doc I was going to update anyway so adding your changes will be done at the same time.

[2019-07-13 09:08] surlymatt commented on #9842
see pr #9844

[2019-07-14 00:42] surlymatt commented on #9842
PR #9844 closed as I couldn't work out how to rebase onto the correct branch.
PR #9845 has your requested changes.  Hope you like them.

[2019-07-14 12:35] Bazmundi opened #9852 "Do some testing of setup use cases"
I burnt an sd card, set up network on usb, booted, waited, system came up and prompted for name, password, so I entered the details I wanted recorded.

I then went to the page in wizard which asked for my locale.  I selected link for it to grab my locale automatically, but it missed by not a few kilometers.

I thought the link to openmap would allow me go into the map to move the pointer,  it simp

[2019-07-14 12:47] frenck commented on #9852
That is not a website or documentation issue, however, you did report it at our documentation repository.

Please create the issue in the appropriate location, furthermore, you are adding a lot of stuff in there (like your SD card) which does not matter for the bug you are reporting. Please, keep things simple and to the point if you consider reporting it again.

👍

[2019-07-14 12:47] #9852 closed, assigned to nobody

[2019-07-15 10:28] kmlucy opened #9861 "RSS/Atom feed broken"
The [RSS/Atom feed](https://www.home-assistant.io/atom.xml) is throwing the following error:
[code]

[2019-07-15 21:54] frenck commented on #9861
Fixed contributed by @bradleywehmeier! 🏅

[2019-07-15 21:54] #9861 closed, assigned to nobody

[2019-07-16 09:19] #9842 closed, assigned to nobody

[2019-07-17 14:52] augustjanse opened #9880 "Mosquitto docs outdated"
On [this page](https://www.home-assistant.io/addons/mosquitto/), under "Using Mosquitto with Hass.io", step 3 doesn't work. Instead it appears that the `logins` config needs to be set. In addition, there is a warning about ACLs that seems to be correct, but it should probably be added as an explicit step. See home-assistant/hassio-addons#626 for more info.

[2019-07-18 18:49] SauRoNZA opened #9898 "Documenation Update - Apple TV Component tvOS13"
Just a request that someone with access please update the https://www.home-assistant.io/components/apple_tv/ page to make a big bold note that this no longer works on tvOS13.

[2019-07-18 19:00] frenck commented on #9898
Everybody has access. Feel free to open up a pull request! 👍

[2019-07-18 19:11] SauRoNZA commented on #9898
Okay, let's see if my n00b ass can figure that out.

THanks.

[2019-07-18 19:14] SauRoNZA commented on #9898
Nah, not going to happen, I've got no idea how this is meant to work.

A simple edit page here would have been nice. :)

Github maybe not the best place for those of us who can document, but not code.

[2019-07-18 19:17] frenck commented on #9898
There is an edit button on every single page on the top. There is no coding experience required to use GitHub.

[2019-07-18 19:19] SauRoNZA commented on #9898
The only edit button I have is an "edit in fork" one which I'm sure isn't the right thing?

[2019-07-18 21:24] WeaselBreath opened #9900 "HVAC mode value must be double quoted"
initial_hvac_mode
(string)(Optional)Set the initial HVAC mode. Valid values are `heat`, `cool` or `auto`. Value has to be double quoted. If this parameter is not set, it is preferable to set a *keep_alive* value. This is helpful to align any discrepancies between *generic_thermostat* and *heater* state.

and in example configuration.yaml

initial_hvac_mode: "off"

[2019-07-18 21:27] frenck commented on #9900
Feel free to open up a PR with the suggested change 👍

[2019-07-18 21:54] jimbob1001 opened #9901 "Template Binary Sensor docs"
Hi, just noticed that in the docs for Template Binary Sensor, the following section no longer makes sense, as the two examples of templates are exactly the same!

[code]

[2019-07-18 22:08] WeaselBreath commented on #9900
It's not about double quotes.  Docs list 3 options for initial_hvac_mode.  heat, cool or auto, but then in the example configuration.yaml a fourth option of "off" is listed.

[2019-07-19 08:58] Anonym-tsk opened #9908 "Typo in Mi Flora docs"
https://www.home-assistant.io/components/miflora/
Typo in example:
[code]

[2019-07-19 10:37] #9908 closed, assigned to nobody

[2019-07-19 15:27] provegard opened #9916 "These packages do not match the hashes..."
I downloaded the "Minor summerbump" Hassbian release from here: https://github.com/home-assistant/pi-gen/releases/tag/v1.6.1

After booting up, I get 404 from hassbian.local:8123. When I check the log, I find:

[code]

I tried `sudo hassbian-config upgrade homeassistant` but it says that I have the latest version already.

I also tried `sudo hassbian-config upgrade hassbian` + reboot but it had no

[2019-07-19 16:18] provegard commented on #9916
Apologies if this issue is in the wrong repo, but there is another (closed) issue with the same topic so I didn't really reflect on the repo...

[2019-07-20 02:41] AlienPlan opened #9922 "Hassio Docker Image"
Hi home-assistant community,
I'm totally new to home assistant but really like the idea of it when fully working. I did install home assistant and then also hassio on another instance and decided to use hassio.
I'm running Ubuntu 18.4 on Odroid XU4 I also have docker ce running. I would like to download hassio docker image but I only see homeassistant/odroid-xu-homeassistant. Just wondering if som

[2019-07-20 06:59] SeanPM5 commented on #9898
At the top of each page on the Home Assistant website you'll see an "Edit this page on GitHub" link.

Click that and it will take you to the `apple_tv.markdown` page on Github.

Then you will want to click the "Pencil" icon / edit in fork.

You'll see a blue box at the top which says something like "You’re editing a file in a project you don’t have write access to. Submitting a change to this file

[2019-07-20 09:25] frenck commented on #9922
Hi there @Johnatservice!

Welcome to Home Assistant 🎉

For installing Hass.io on a generic Linux distribution (like Ubuntu), please follow this part of the manual: <https://www.home-assistant.io/hassio/installation/#alternative-install-on-a-generic-linux-host>

Please note, that we use GitHub for tracking issues and bugs, not for support. If you are in need of support, please try our community for

[2019-07-20 09:25] #9922 closed, assigned to nobody

[2019-07-20 17:33] AlienPlan commented on #9922
Hi Frank
thank you for the push in the right direction here. I also found what i was
doing wrong,  -m arm71 was wrong machine, armhf fixed everything
Thank you again
JOhn

On Sat, Jul 20, 2019 at 5:25 AM Franck Nijhof <notifications@github.com>
wrote:

[2019-07-20 19:06] frenck commented on #9922
Happy you got it resolved! 🎉

[2019-07-21 10:55] megapearl commented on #9916
I've got the same problem after updating from 0.96.1 to 0.96.2.
`2019-07-21 11:47:58 ERROR (SyncWorker_11) [homeassistant.util.package] Unable to install package home-assistant-frontend==20190719.0: ERROR: THESE PACKAGES DO NOT MATCH THE HASHES FROM THE REQUIREMENTS FILE. If you have updated the package versions, please update the hashes. Otherwise, examine the package contents carefully; someone

[2019-07-21 22:20] ristomatti commented on #9880
@augustjanse Did you get it working in the end? I've setup Mosquitto a couple of times on itself but these instructions seem strangely confusing considering how important MQTT integration is to most DYI home automation environments. I've installed Mosquitto addon from the store and enabled anonymous login out of curiosity, as that is what I would prefer it to have. I see authentication as another

[2019-07-22 06:42] SeanPM5 opened #9944 "Mobile experience on Integrations page"
Maybe it's just me, but I think the mobile experience for the [Integrations page](https://www.home-assistant.io/components/) can be improved.

I'm primarily referring to the filter type stuff. This is displayed as a nice left sidebar on desktop, but that's obviously not possible with limited width of mobile screens. So instead it's displayed as like 50+ buttons at the top of the page. Meaning a lo

[2019-07-22 08:46] augustjanse commented on #9880
Yes, it was quite easy when I found the correct instructions (which took me very long though). To be honest, I have given no thought to security or other considerations at all.

[2019-07-22 09:05] frenck commented on #9944
Sure, at this point I'm working towards a refactor on how this even works under the hood. After that this might be something to look at.

[2019-07-22 09:06] frenck commented on #9901
Feel free to open up a PR to fix it! 👍

[2019-07-22 09:07] frenck commented on #9880
We are currently working on updating all add-on documentation and relocating them.

[2019-07-22 11:09] ristomatti commented on #9880
@augustjanse Were the ACL settings required?

@frenck Great, thanks for the update! I'll maybe postpone my initial setup until then if there's some other similar issues. There seems to be quite a lot of confusion like the OP described especially with the Mosquitto addon. I hope it's high on the priority!

[2019-07-22 13:06] augustjanse commented on #9880
I believe they were, yes. Though I'm not entirely sure I tried it with `logins` in the config but without ACL settings.

[2019-07-22 16:02] jimbob1001 commented on #9901
Actually i tried, but I keep getting a server error

[code]

[2019-07-22 23:12] miawgogo opened #9949 "Miss-Truths on the updater integration page"
Currently the updater component page contains miss-truths about what is stored about the user. Currently it states

Whilst accurate on the component end, according to the back-end documentation the home assistant project is storing GeoIP determined latitude & longitude. Whilst GeoIP in most cases is inaccurate(Most databases think I'm in Westminster, London), it can sometime be accurate depending

[2019-07-22 23:13] miawgogo commented on #9949
Pages in question
Backend: https://www.home-assistant.io/docs/backend/updater/
Component: https://www.home-assistant.io/components/updater/

[2019-07-23 09:24] cinquemic opened #9956 "Remote GPIO component missing Hassbian instructions"
in remote gpio component page is missing to install pigpio component in virtual environment in hassbian installation.

[2019-07-23 10:15] frenck commented on #9956
Thanks for letting us know @cinquemic! Feel free to open up a PR to add it 👍

[2019-07-24 07:49] fabaff commented on #9843
/move to home-assistant/home-assistant-polymer

[2019-07-24 07:49] ghost commented on #9843
This issue was moved by [fabaff](https://github.com/fabaff) to [home-assistant/home-assistant-polymer#3417](https://github.com/home-assistant/home-assistant-polymer/issues/3417).

[2019-07-24 07:49] #9843 closed, assigned to nobody

[2019-07-27 08:15] iditude opened #9983 "Meteo France Broken with 0.96"
Meteo France integration is now returning errors at startup since last main release of 0.96. It started with 0.96.0 and is still an issue in 0.96.5

Configuration file
[code]

Error log
[code]

Thanks

[2019-07-28 00:19] sinclairpaul commented on #9774
Any chance of re-running while excluding the _posts, which is likely to be out of date?

[2019-07-28 00:38] paultje95 opened #9986 "Home assistant and RFXCOM"
hello

i recently installed them home assistant on my raspberry pi B3 +.  now I would like to connect my RFXCOM to my rapsberry pi (via usb) and then with my home assistant I want to operate my click on click off switches.  is this possible and how should I do this?

greeting paul

[2019-07-28 10:25] klaasnicolaas commented on #9986
The issues here are to report problems with the documentation, we do not offer support through this route. I will therefore close this issue.

For help with your installation I would like to refer you to the [community forum](https://community.home-assistant.io) and the [Discord server](https://discord.gg/c5DvZ4e).

Ps. Take a look at the [RFXtrx integration](https://www.home-assistant.io/componen

[2019-07-28 10:25] #9986 closed, assigned to nobody

[2019-07-28 13:16] maresob opened #9991 "Add two devices xiaomi air purifier 2s"
Hi,
I have two devices zhimi.airpurifier.mc1 and i'm able to integrate only one...
Integration "fan" allows add only one device...

[2019-07-28 13:20] Vasiley commented on #9991
your configuration must be wrong and please do not delete template.... fill in what it ask to give info but here is a example of 3 purifiers configed in my system https://github.com/Vasiley/Home-Assistant-Main/blob/master/packages/xiaomi_purifier.yaml#L81

[2019-07-28 13:20] #9991 closed, assigned to nobody

[2019-07-28 17:33] frenck commented on #9774
Did a rescan, updated original openings post.

[2019-07-29 03:39] nickrout opened #9997 "z-wave Climate instructions need updating"
Oops posted too soon

https://github.com/home-assistant/home-assistant.io/blob/current/source/_components/zwave.markdown#automating-z-wave-climate-devices

Has the example has climate.set_operation_mode, which I think is now deprecated for climate.set_hvac_mode. However I am not sure enough about the new climate stuff to correct it, there may be other stuff that needs correcting too.

[2019-07-29 07:43] frenck commented on #9997
Feel free to jump in and help by changing it and opening up a PR 👍

[2019-07-29 20:59] jimbob1001 commented on #9901
Opened a PR https://github.com/home-assistant/home-assistant.io/pull/10007

[2019-07-31 08:12] #9901 closed, assigned to nobody

[2019-07-31 17:12] akasma74 opened #10024 "state_format attribute missing from MQTT switch/sensor description but exists in Processing JSON example"
In the first example [here](https://www.home-assistant.io/docs/mqtt/processing_json/) a `state_format` attribute is used, but there is nothing about it in MQTT [switch](https://www.home-assistant.io/components/switch.mqtt/) and [sensor](https://www.home-assistant.io/components/sensor.mqtt/) documentation.

[2019-07-31 21:51] trommegutten opened #10026 "Install on Freenas 11.2"
I'm referring to install instructions at https://www.home-assistant.io/docs/installation/freenas/

When I follow the install guide, at the point
`virtualenv -p python3.7 .`
I'm getting:
`virtualenv: Command not found.`
Anyone having the same issue?

Second, I don't understand why some of the markdown has an # before the code and some other code don't? Is this just forgotten in the markdown, or doe

[2019-08-01 12:30] pattyland commented on #10026
You could try installing virtualenv through pip. The GitHub issue tracker should be uses for problems with the homepage, for help installing HA you should ask here: https://www.home-assistant.io/help/

The differences in formatting are presumably because many different people worked on the documentation. Would you like to submit a push request and unify the formatting? Most guides seem to always u

[2019-08-02 19:32] trommegutten commented on #10026
I found out that these two lines with code will do the trick:
[code]
If you need z-wave usb stick, then just click edit on the jail (in the ui), and then under "jail properties" change the devfs_ruleset to "4". That's it.. Very easy.

I am not able to understand args against, but shouldn't this overwrite the whole manual way (and the manual method is not working..) Should someone do a push request

[2019-08-02 19:33] trommegutten commented on #10026
I found out that these two lines with code will do the trick:
[code]
If you need z-wave usb stick, then just click edit on the jail (in the ui), and then under "jail properties" change the devfs_ruleset to "3". That's it.. Very easy.

I am not able to understand args against, but shouldn't this overwrite the whole manual way (and the manual method is not working..) Should someone do a push request

[2019-08-02 19:34] trommegutten commented on #10026
I found out that these two lines with code as root in freenas shell (ui) will do the trick:
[code]
If you need z-wave usb stick, then just click edit on the jail (in the ui), and then under "jail properties" change the devfs_ruleset to "3". That's it.. Very easy.

I am not able to understand args against, but shouldn't this overwrite the whole manual way (and the manual method is not working..) Sh

[2019-08-02 19:35] trommegutten commented on #10026
I found out that these two lines with code as root in freenas shell (ui) will do the trick:
[code]
If you need z-wave usb stick, then just click edit on the jail (in the ui), and then under "jail properties" change the devfs_ruleset to "3".

That's it.. Very easy!

I am not able to understand args against, but shouldn't this overwrite the whole manual way (and the manual method is not working..) S

[2019-08-05 15:51] #9536 closed, assigned to nobody

[2019-08-06 08:49] pamm01 opened #10060 "Tellstick protocol comen?"
Protocol comen works in tellduscenter, but not in tellstick for home assistant.

[2019-08-06 09:58] frenck commented on #10060
Thank you for reaching out. This is the issue tracker for our website, not for our code base.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

If you suspect a bug, please create one on the appropriate repository.

You are more likely to get the answer you are looking for in tho

[2019-08-06 09:58] #10060 closed, assigned to nobody

[2019-08-07 20:58] mbo18 opened #10074 "Integrations Search improvement/idea"
It would be nice if we can search or sort integrations by the following (already existing) attributes: IoT Class and Quality Scale.

Users will be able to search for local polling integrations in order to find/buy devices with local mode. Or to find/buy devices with Gold or Platinum integrations.

[2019-08-07 21:13] frenck commented on #10074
Related to some rough sketches of this: #8895

Currently, I'm working on syncing data with the codebase & docs to make the data actually correct and available to allow for these kind of things.

[2019-08-07 21:25] mbo18 commented on #10074
Nice sketch! Will love it.

[2019-08-08 12:39] gadgetchnnel opened #10087 "Developer credit auto update"
Do the developer credits at https://www.home-assistant.io/developers/credits/ still auto-generate?

I have had two pull requests merged, one on the homeassistant/home-assistant repo and one on NabuCasa/hass-nabucasa but notice that I am not showing.

Could this be due to me having email privacy enabled on GitHub?

[2019-08-08 14:07] jbrody17-zz opened #10088 "Nest Documentation has a typo"
In the documentation for the Nest component, the sensors listed for the Nest Thermostat are:

hvac_mode should actually be hvac_state

[2019-08-08 17:58] frenck commented on #10088
Hi there @jbrody17!

Every page has an edit button, feel free to use it and contribute to the docs this way! 👍

[2019-08-09 10:35] barns102 opened #10093 "Can't connect Home Assistant Bridge with HomeKit"
Hi

I was having problems with my Home Assistant Bridge in the HomeKit app, all the devices stopped responding.  So I removed the bridge from the App and deleted the HomeKit.state file from my HA config.  Now I can't add it back again.  HA discovers it and provides me with the pairing code.  In the Home app I can see the bridge, but when I go to add it its says it can not connect accessory.  I am

[2019-08-09 12:05] klaasnicolaas commented on #10093
The issues here are to report problems with the documentation, we do not offer support through this route. I will therefore close this issue.

For help with your config I would like to refer you to the [community forum](https://community.home-assistant.io) and the [Discord server](https://discord.gg/c5DvZ4e).

[2019-08-09 12:05] #10093 closed, assigned to nobody

[2019-08-10 14:09] G8YTZ opened #10103 "HASS.IO v0.97.1 Lovelace Card not displaying correct KNX Operation Modes"
In the States UK thermostats appear with the ability to select one of the 4 KNX Operation Modes. With 0.97 the Lovelace Card only displays 3 Operation modes and these do not work to change the Operation mode. The picture shows the Graphic that is incorrect, but the "drill-down" is ok.
<img width="618" alt="Screenshot 2019-08-10 at 15 08 49" src="https://user-images.githubusercontent.com/35895759/6

[2019-08-12 18:53] lseufer opened #10121 "fan.xiaomi_miio Humidifier US version"
zhimi.humidifier.cb1 is which is the US version of zhimi.humidifier.ca1 is not recognized. Could someone add it?

[2019-08-12 20:10] frenck commented on #10121
Hi there @lseufer,

This is the GitHub repository for our website & documentation. We use the GitHub Issue tracker to track issues.

For feature requests, please join our community forums. Thanks! 👍

[2019-08-12 20:10] #10121 closed, assigned to nobody

[2019-08-13 18:53] jbrody17-zz commented on #10088
Sounds great. Happy to join the gang and start contributing!

[2019-08-13 18:59] jbrody17-zz commented on #10088
Created pull request #10133

[2019-08-13 19:21] klaasnicolaas commented on #10088
PR merged so we can close this one 😄

[2019-08-13 19:21] #10088 closed, assigned to nobody

[2019-08-14 11:55] hellcry37 opened #10134 "service: light.toogle doesnt take atributes like service: light.turn_on"
I believe service: light.toggle doesn't take any data that is provided is provided.

docs:
[code]
If i change the color from HA to blue or red for example and use the switch to toggle after it keeps the settings I've selected in HA, doesn't take any of the data provided.

Bulb used: Xiaomi Yeelight model: YLDP02YL
Automation used is one of those:
[code]
or this:
[code]

if i try the automation wit

[2019-08-14 16:17] RamonKranendonk opened #10136 "Hass.io acces USB poort"
Can sombody help/explain how to acces the USB poort in de docker container. to allow the acces of a smart meter.

https://www.home-assistant.io/components/dsmr/

best regards Ramon

[2019-08-14 18:02] klaasnicolaas commented on #10136
Hi there @RamonKranendonk ,

This is the GitHub repository for our website & documentation.
We use the GitHub Issue tracker to track issues.

For help with your config, please join our community forum or Discord server. Thanks! 👍

[2019-08-14 18:02] #10136 closed, assigned to nobody

[2019-08-15 12:25] sretalla opened #10140 "WazeRouteCalculator needs updating"
The current version of WazeRouteCalculator doesn't allow for the use of toll roads in European countries that use the vignette system (like Switzerland, Austria...) so even if avoid_toll_roads is false, no toll roads will be used for routing on those countries.

I created a pull request that was just accepted for that project to fix it and add a separate optional argument for avoid_subscription_ro

[2019-08-15 14:59] sretalla commented on #10140
Closing this an moving it to the homeassistant project as I guess it belongs there.

[2019-08-15 14:59] #10140 closed, assigned to nobody

[2019-08-15 17:34] fabaff commented on #10087
The credits page is auto-generated but executed manually on a irregular base. I haven't done it in a while...

[2019-08-15 17:35] fabaff commented on #9949
Looks like that we need some clarification.

[2019-08-17 17:35] MaurizioB84 opened #10162 "tuya components: access denied - username or password wrong"
Hello,

I try to setup the integration with HA but I receive always username or pwd are wrong, I checked it via efamilyCloud app and that are correct, my configuration is the following:

tuya:
  username: !secret tuya_username
  password: !secret tuya_pwd
  country_code: 39
  platform: **smart_life**

username like 3401122333
my pwd without " or '

where i'm wrong?

thanks for anyone can help me

[2019-08-17 17:55] klaasnicolaas commented on #10162
Hi there @MaurizioB84  ,

This is the GitHub repository for our website & documentation.
We use the GitHub Issue tracker to track documentation issues.

For help with your config, please join our community forum or Discord server. Thanks! 👍

[2019-08-17 17:55] #10162 closed, assigned to nobody

[2019-08-18 17:49] #9729 closed, assigned to nobody

[2019-08-18 17:49] #9774 closed, assigned to nobody

[2019-08-18 22:31] ghost opened #10179 "after upgrading to 0.97.2 - Google location sharing"
After upgrading to 0.97.2 from 0.96.4 the tracking using google location sharing stopped working.
The error was caused by the removal of the password property that was previously needed in the configuration.yaml.
The instructions prompt the user to install mapscookiegettercli, which if location sharing was already working in Home Assistant in the prior version is not necessary.
Simply delete the p

[2019-08-18 23:13] klaasnicolaas commented on #10179
Feel free to open up a PR with a suggested change 👍

[2019-08-19 09:04] surak opened #10184 "Third-party addons doesn't make it clear the difference between homeassistant and hass.io"
It's very unclear from the website that installing homeassistant without using a whole raspberry pi for it won't let you do things you otherwise could.

Here, for example, a note would be welcome saying that this won't work on the standard homeassistant: https://www.home-assistant.io/hassio/installing_third_party_addons/

[2019-08-19 12:50] klaasnicolaas commented on #10184
Sorry, but I don't quite understand the problem. Could you perhaps explain how you would improve it?

[2019-08-19 15:41] surak commented on #10184
The problem is that the page says "Home Assistant" at the top, and it does not specify that this is specifically the hass.io disk image. I would improve it by adding a note that this only works for the hass.io image, and *NOT* for other methods of installing home assistant (such as a python venv or a proper raspbian package).

It's unclear and there are long threads around about the confusion of w

[2019-08-22 17:21] DubhAd commented on #10184
The Add-ons page (https://www.home-assistant.io/addons/) makes that clear.

Sadly the confusion with Hass.io and add-ons isn't going to be solved easily.

[2019-08-22 17:41] surak commented on #10184
That exact note which says

[code]

is what is missing on the third-party page, which is linked from many other places. That's it.

[2019-08-23 16:04] wisesokol opened #10214 "Error in Version 2.2/ Hassio, Docker"
I have in Log:
[INFO] Running nginx...
nginx: [warn] the "ssl" directive is deprecated, use the "listen ... ssl" directive instead in /etc/nginx.conf:45
In Home assistent forums there is such a problem
https://community.home-assistant.io/t/i-get-this-message-after-updating-nginx/132845

[2019-08-24 12:18] surak commented on #10184
Same story for this page: Would I have gone through the whole install like this, if I knew that half the functionality wouldn't be there? That simple note would have solved that:

[Installing home assistant with virtualenv](https://www.home-assistant.io/docs/installation/virtualenv/)

[2019-08-24 13:19] amahlaka commented on #5643
was this ever resolved?

[2019-08-24 15:43] DubhAd commented on #10184
There's nothing stopping you submitting document updates, however I would be surprised if there was any interest in documenting the lack of add-on support in all non-Hass.io installs. The add-on page itself explains that it's specific to Hass.io, and the only other one that _might_ make sense would be the one you first highlighted.

[2019-08-24 20:10] frenck commented on #10214
Hi there!

This is the issue tracker for our website and documentation.

I guess your issue is related to one of the Hass.io add-ons, please create an issue on the hassio-addons repository in that case:

https://github.com/home-assistant/hassio-addons

Thanks!

👍

[2019-08-24 20:10] #10214 closed, assigned to nobody

[2019-08-27 14:01] Misiu opened #10244 "Unify description for enabling one wire, i2c and add new one for configuring gpio"
Current page (https://www.home-assistant.io/hassio/enable_i2c/) shows how to enable I2C using a USB Drive.
There isn't a separate page for one wire? Should it be added? Possibly at https://www.home-assistant.io/hassio/enable_onewire/

One wire sensor page (https://www.home-assistant.io/components/onewire/) describe how to enable one wire using SSH.

There should be a single place that describes ho

[2019-08-31 02:36] chadlyy opened #10258 "Error: invalid literal for int() with base 10:"
I integrated in Elk M1 : https://www.home-assistant.io/components/elkm1/
I can trigger the arm/disarm with no issues from developer tools calling the services directly but when trying to use the alarm panel card I get an error (https://www.home-assistant.io/lovelace/alarm-panel/)

ERROR:
Failed to call service alarm_control_panel/alarm_arm_home.invalid literal for int() with base 10:

I'm really n

[2019-08-31 18:49] MarshallCS opened #10263 "Ecobee defaults to Heat when turning on"
If I turn the ecobee off with home assistant, and then turn it back on, it defaults to Heat instead of the last state that it was in.

Example. I'm currently in cool mode. I turn the ecobee off, and then turn it back on. It comes back on in Heat mode instead of cool mode.

[2019-09-01 23:31] brubakerjeff opened #10270 "Z-Wave Query Stage"
Hi,
I'm reading this documentation for Z-Wave Query Stage.

https://github.com/home-assistant/home-assistant.io/blob/current/source/_docs/z-wave/query-stage.markdown

A statement which is causing me concern is below.

Is there any way to bound the statement how long to maybe an order of magnitude? My devices (first alert Zcombo-G, 1 in Initializing (Probe), 3 in Initializing (Static) and 1 in Init

[2019-09-01 23:35] brubakerjeff commented on #10263
Hi,
I'm still learning the ecobee integration myself. Are you using the dashboard such as below to control the ecobee?
![image](https://user-images.githubusercontent.com/6541166/64083568-97f24d80-ccef-11e9-95a4-dbaadd00881c.png)

Thanks,
Jeff

[2019-09-01 23:51] klaasnicolaas commented on #10263
Feel you free to make an PR and make the right adjustment 😉

[2019-09-01 23:57] brubakerjeff commented on #10263
@klaasnicolaas  are you sure it needs a PR?

[2019-09-02 00:55] MarshallCS commented on #10263
HI Jeff -  No, I'm not using the dashboard.  I"m using it in automations. In the dashboard - it allows you to turn off using the power icon, but to turn on you must select one of the other icons. When writing automations (or using things like node red) there is a climate.turn_on and a climate.turn_off.

When using the climate.turn_on instead of coming back on in the state that it was in previously

[2019-09-02 07:36] klaasnicolaas commented on #10263
@MarshallCS PR is a Pull Request. In other words, if the current documentation is incorrect, you can change this by means of a pull request, we will check it and eventually merge it.

[2019-09-02 08:25] fabaff commented on #10258
This is the issue tracker for the Home Assistant Documentation.

Please report Home Assistant issues at https://github.com/home-assistant/home-assistant/issues/new or use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2019-09-02 08:25] #10258 closed, assigned to nobody

[2019-09-02 09:44] surak commented on #10184
how?

[2019-09-02 12:52] brubakerjeff commented on #10263
@MarshallCS a shot in the dark, does climate.ecobee_resume_program get the desired result?

Per your statement the thermostat program is losing its state when being turn_on'd and turn_off'd(?)
Could you post the whole automation if you don't mind?

[2019-09-02 15:28] frenck commented on #10270
Depends on your device and the configuration of that device. There is no way for us to tell what it will be or what to expect.

[2019-09-02 15:28] #10270 closed, assigned to nobody

[2019-09-02 16:21] brubakerjeff commented on #10270
Is it reasonable to expect the devices won’t be in initializing (cachload) after 24 hours?

[2019-09-02 17:25] frenck commented on #10270
That depends on the device and the settings.
If you are in need of support, I would highly suggest joining our community forum or Discord chat.

[2019-09-02 17:28] MarshallCS commented on #10263
Thanks for the explanation. I was actually looking more for a fix to this issue than documenting what it currently does.

I'm doing my automation is node-red, but the same thing can be observed if you manually do it from the services tab in the developers options.

Climate.ecobee_resume_program does not bring the ecobee out of an "Off". It's mostly used for bringing it out of an "Away" comfort set

[2019-09-02 18:28] DubhAd commented on #10184
Find the page, and in the top right select _Edit this page in Github_ (or something like that)

[2019-09-02 21:56] brubakerjeff commented on #10263
node-red? Can you paste the your automation.yaml and configuration.yaml file?

[2019-09-02 22:35] klaasnicolaas commented on #10263
Please guys stick with the issue that was created.

This is the issue tracker for our website and documentation. For help with your own config we would like to refer you to the other channels such as the Discord server or the community forum.

[2019-09-02 23:21] MarshallCS commented on #10263
I just want to reiterate that this is an issue with the integration, not with an automation or node red or anything else.

This can be reproduced by calling the climate.turn_off and climate.turn_on in the services tab.

[2019-09-03 01:28] brubakerjeff commented on #10263
I'm reproducing it here thank you. I'm thinking this is on-topic now? I'd like to help, could I ask for some help with breadcrumbs.
In the following example, where could I expect to see turn_on implemented when using an ecobee?

https://github.com/home-assistant/home-assistant/blob/8ae5ece6bb88da72fdc4f4e2c5537a66b53344d9/homeassistant/components/climate/__init__.py#L449

    async def async_turn_

[2019-09-03 04:37] MarshallCS commented on #10263
I apologize for not understanding the terminology. Are you asking for the example of what I'm using the on off functions for?

[2019-09-04 05:36] ghost opened #10290 "Lovelace weather card displays incorrect data in one of the platforms"
*[move[bot]](https://github.com/apps/move) commented on Jul 24, 2019, 7:49 AM UTC:*

_[MatthewFlamm](https://github.com/MatthewFlamm) commented on Jul 12, 2019, 8:39 PM UTC:_

As noted here:

[home-assistant/home-assistant#24524](https://github.com/home-assistant/home-assistant/issues/24524)

The weather forecast card in the documentation displays pressure in the wrong units. This image was presum

[2019-09-04 05:36] ghost commented on #10290
*@MatthewFlamm commented on Jul 24, 2019, 11:10 AM UTC:*

[fabaff](https://github.com/fabaff) the frontend has no issue. This is purely a documentation issue. The example card displayed in the documentation shows a bug that was fixed in the backend. I don't think my description was very clear

[2019-09-04 05:36] ghost commented on #10290
*@MatthewFlamm commented on Sep 3, 2019, 11:09 PM UTC:*

[bramkragten](https://github.com/bramkragten) was this fixed?

[2019-09-05 20:27] matt-snelling opened #10299 "dnsmasq add-on configuration"
I cannot work out how to add various local machines to dnsmasq, and believe the config entry box is buggy in some way, preventing successful configuration with multiple local hosts.

Similar issues have been raised in the past, without answer: #3200 and #6205

the hassio dnsmasq config entry box accepts the following for example:

{
  "defaults": [
    "8.8.8.8",
    "8.8.4.4"
  ],
  "forwards": [

[2019-09-08 14:22] UMH-Home opened #10315 "Documentation Inaccuracy/Ambiguity, Sun Platform"
Referencing the sun component I visited the [https://www.home-assistant.io/cookbook/automation_sun/] page.
On it are some example config’s
Specifically, one of them lists a template example : - '{{ state.attributes.elevation }}'
Paste this into the template editor and you just get : - ‘none’
It should be made clear to people visiting the page that the full statement should read (for use in other t

[2019-09-08 15:40] UMH-Home commented on #10315
I would also suggest that you show a template along the lines of : -
"{{ state_attr('sun.sun', 'elevation') }}" which a) is a bit shorter than : -
"{{ states.sun.sun.attributes.elevation }}" and also gets away from people using "states." which now seems to be frowned upon

[2019-09-08 19:50] mclaudiopt opened #10318 "Tizen app for samsung TV"
hello to all
any chance to have a app for interface on tizen TV's ?
it would be great to have an app on our samsung tv's...

[2019-09-09 14:27] klaasnicolaas commented on #10318
Hi there @mclaudiopt ,

This is the GitHub repository for our website & documentation.
We use the GitHub Issue tracker to track issues.

For help with your config or feature requests, please join our community forum or Discord server. Thanks! 👍

[2019-09-09 14:27] #10318 closed, assigned to nobody

[2019-09-10 22:44] JavierSegoviaCordoba opened #10337 "Xiaomi Gateway dgnwg05lm"
I can't get the key of this gateway, is there any way to add it to Home assistant?

[2019-09-11 06:17] klaasnicolaas commented on #10337
Hi there @JavierSegoviaCordoba ,

This is the GitHub repository for our website & documentation.
We use the GitHub Issue tracker to track issues.

For help with your config, please join our community forum or Discord server. Thanks! 👍

[2019-09-11 06:17] #10337 closed, assigned to nobody

[2019-09-11 17:50] mase60 opened #10343 "update Coinmarketcap sensor for their new API"
it seems like the coinmarketcap sensor is broke now because they want to have an api-key.

can be deleted, seems like it works now.

[2019-09-11 18:18] #10343 closed, assigned to nobody

[2019-09-12 01:41] larry-tx opened #10348 "Getting scenegen to work"
I have been struggling to get scenegen to work. Even though I have been developing for Windows and the web for over two decades, I find Linux and Home Assistant incredibly frustrating, so any help anyone might give will be most appreciated. I have carefully tried to follow each step in the ecosystem documentation, when I run scenegen, this is what I get:
[code]
Once again any guidance will be most

[2019-09-12 07:25] frenck commented on #10348
/move home-assistant/scenegen

[2019-09-12 07:25] ghost commented on #10348
This issue was moved by [frenck](https://github.com/frenck) to [home-assistant/scenegen#13](https://github.com/home-assistant/scenegen/issues/13).

[2019-09-12 07:25] #10348 closed, assigned to nobody

[2019-09-13 05:36] Santobert opened #10355 "Binary Sensor and binary_sensor in Integrations"
In the integrations overview there is a category 'Binary Sensor' with currently 108 platforms. But there is a category 'binary_sensor' with only one platform. They both direct to the same subsets of platforms.

Binary Sensor | binary_sensor
---|---
![Screenshot_20190913-073331](https://user-images.githubusercontent.com/15657682/64839842-3f795500-d5f9-11e9-9d50-910b5db92bae.png) | ![Screenshot_2019

[2019-09-13 05:38] Santobert commented on #10355
I would fix this by myself, but I have no idea where to start...

[2019-09-13 07:36] klaasnicolaas commented on #10355
We already know about it, but have not yet found the pin in the haystack 🤣

[2019-09-13 09:17] Santobert commented on #10355
What are we looking for? How does the wrongly tagged platform differ from the others?

[2019-09-13 09:24] klaasnicolaas commented on #10355
It is all about using `- Binary Sensor` (good) or `- binary_sensor` (bad). But I may have already found the problem and a PR to solve it.

[2019-09-13 09:48] Santobert commented on #10355
Oh no. I have converted the updater to a binary sensor. I didn't know that the documentation doesn't use the backends definition of domains :see_no_evil:

[2019-09-13 12:20] #10355 closed, assigned to nobody

[2019-09-17 07:30] poudenes opened #10383 "use of - in yaml"
Hi All,

Maybe a b.llsh.t request but for newcomers a handy thing to know.
I find it out myself and want to help others to get the feeling as well and become real HA users!

When you write yaml scripts and have conditions, actions, etc... sometimes you use:

`- service:`
or
`service:`

same for

`- condition:`
or
`condition:`

I cant find in document the reason of the -

When you have 1 service ac

[2019-09-17 15:31] matt-snelling commented on #10299
I think this issue probably needs to be re-raised in https://github.com/home-assistant/hassio-addons/issues ?

[2019-09-17 15:31] #10299 closed, assigned to nobody

[2019-09-18 19:39] fabaff commented on #10383
How about [this](https://www.home-assistant.io/docs/configuration/yaml/)?

[2019-09-18 20:11] poudenes commented on #10383
Yes!! Very clear 😁

[2019-09-20 11:05] #10383 closed, assigned to nobody

[2019-09-22 23:45] brgerig commented on #5656
I just found this issue after spending several hours figuring out everything you documented here. This issue really needs to be re-opened and addressed.

I actually created a Home Assistant script to put the output of `echo $PATH` into a file in `/tmp`, then manually substituted that into the Environment line.

In addition, the quotes are in the wrong place anyway. Here's what my applicable line o

[2019-09-22 23:52] brgerig opened #10430 "CentOS SCL Systemd file is incorrect, and causes some Home Assistant commands to fail"
There is an unresolved but closed issue that documents everything fully:
https://github.com/home-assistant/home-assistant.io/issues/5656

[2019-09-23 07:58] JerTeske opened #10432 "No way to add weekday condition in automations UI"
The way I see it, the only way to add in a weekday condition under automations is to create the automation but then to manually edit it for weekdays.

[2019-09-23 08:07] #10432 closed, assigned to nobody

[2019-09-23 11:16] magiva opened #10435 "waze embed for iframe doesnt work with home assistant iframe"
https://developers.google.com/waze/iframe/
specifically states it can be used in an iFrame but it doesnt work with home assistant iframe

i found some notes in the forum, from a pc, it did not work in IE or Edge, only Chrome and Firefox
https://www.waze.com/forum/viewtopic.php?f=12&t=288615

[2019-09-23 20:42] fabaff commented on #10435
Waze works fine in a [`iframe`](https://www.home-assistant.io/lovelace/iframe/) with Firefox, Chrome and Midori.

If it doesn't work with Edge then it should be fixed by Waze. Nothing we can do.

[2019-09-23 20:42] #10435 closed, assigned to nobody

[2019-09-24 08:21] cometsfernbroccoli opened #10446 "Clicksend change sender"
Hi All,

I use ClickSend for the first time, but adding a custom name for the SENDER, will not make the SMS to be send to clicksend.

When I remove the option "sender", it will use "hass" and the message is send.

I have no idea to debug more specific information.

[2019-09-24 13:21] jan-rivo commented on #9536
Was this ever solved?

[2019-09-24 20:13] GoWithitRoger commented on #9536
I assume not, but I haven’t checked. I eventually found where the create a key interface was moved to, but I forget exactly where.

[2019-09-25 12:34] fabaff commented on #10446
This is the bug/issue tracker for Home Assistant. Please use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2019-09-25 12:34] #10446 closed, assigned to nobody

[2019-09-26 11:08] jan-rivo commented on #9536
I found out where, for future reference I had to create an api key at a higher level, basically I had to select credentials relating to APIs and Services and NOT relating directly to Homegraph

[2019-09-27 14:25] #9880 closed, assigned to nobody

[2019-09-28 06:55] frenck commented on #10430
Re-opened #5656, since that contains more detail.

[2019-09-28 06:55] #10430 closed, assigned to nobody

[2019-09-28 06:58] frenck commented on #9898
Closing this issue, since we have introduced Home Assistant alerts that integrate with the Documentation.

For tvOS13 an alert has been issued.

[2019-09-28 06:58] #9898 closed, assigned to nobody

[2019-09-28 06:59] #9997 closed, assigned to nobody

[2019-09-29 10:12] Machaeon opened #10481 "Let's Encrypt addon port"
Is it possible to change working port? HASS.IO run on docker at system with Apache and Nginx installed so default 80 port is busy.

[2019-09-29 11:33] KMiNT21 opened #10482 "Just little inaccuracy in installation process"
1) Scripts path
2) Python modules aiohttp_cors and sqlalchemy

Config: Debian 10, Python 3.7.3, fish shell

----------------------------------------------------

[code]

May be change line in documentation to
`~/.local/bin/hass --open-ui` ? Or add something about PATH...

[code]

So had to install these modules by
`pip3 install aiohttp_cors sqlalchemy`

[2019-09-29 13:33] jgfdsa commented on #9880
Can anybody update on the staus on how to configure MQTT broker under latest hassio version?

I have one week following every possible guide, but with no luck.

[2019-09-29 19:07] klaasnicolaas opened #10486 "📚 Page/File name for Generic IP Camera"
After reviewing PR #10484 I noticed that some integrations actually have strange meaningless names or are too global, so there is no structure.

In this case the **[Generic IP Camera](https://github.com/home-assistant/home-assistant.io/blob/next/source/_components/generic.markdown)**
It has the name `general.markdown`, I suggest something like `generic_ip_camera.markdown`.

**Checklist:**
- [ ] Ma

[2019-09-29 19:16] klaasnicolaas opened #10487 "📚 Page/File name for Manual Alarm Control Panel"
After reviewing PR #10484 I noticed that some integrations actually have strange meaningless names or are too global, so there is no structure.

In this case the **[Manual Alarm Control Panel](https://github.com/home-assistant/home-assistant.io/blob/next/source/_components/manual.markdown)**
It has the name `manual.markdown`, I suggest something like `manual_alarm_control_panel.markdown` or move t

[2019-09-29 19:25] klaasnicolaas opened #10489 "📚 Page/File names for Telegram"
After reviewing PR #10484 I noticed that some integrations actually have strange meaningless names or are too global, so there is no structure.

In this case the **Telegram** pages:
- [`broadcast.markdown`](https://github.com/home-assistant/home-assistant.io/blob/current/source/_components/broadcast.markdown) to `telegram_broadcast.markdown`
- [`telegram_bot.markdown`](https://github.com/home-assi

[2019-09-29 20:09] frenck commented on #10482
You didn't create a virtual env?

[2019-09-29 20:37] frenck commented on #10481
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2019-09-29 20:37] #10481 closed, assigned to nobody

[2019-09-29 20:46] frenck opened #10491 "🔗 Fixing broken links on our website"
Our website has been aging a bit over the last couple of years, unfortunately, this means a lot of links to external sites, have broken down. E.g., due to the website no longer exists, page has moved and bunch of other reasons. This is unfortunate for the users of our website.

This GitHub issue serves as a placeholder to get all those links fixed (or removed if fixing seems impossible).

**Want t

[2019-09-29 20:53] klaasnicolaas commented on #10491
O and btw scanning takes some hours 🤣 What if we do the scanning and publish the Xenu file here?

[2019-09-29 22:50] flashtel commented on #10024
I can't get state_format to work and this article suggests it doesn't exist for the switch platform.

I think it should be removed from the JSON example.

https://community.home-assistant.io/t/setup-mqtt-switch-with-json-status-reply-need-help/9402/7

"state_format and state_template doesn’t exist in mqtt switch"

[2019-09-30 06:17] KMiNT21 commented on #10482
No.

[2019-09-30 19:32] frenck commented on #10482
Well, that might be the cause of the issue (the path thing for sure).
All our documentation is guiding through the venv process (unless it isn't, in that case, I would love to know which part you did follow and is missing this information).

[2019-09-30 21:29] marthoc commented on #10263
Just scanning this issue - if this is not a documentation issue then please open an issue on the main Home Assistant GitHub page and I will look into it: https://github.com/home-assistant/home-assistant.

[2019-09-30 22:39] srg74 commented on #10491
https://www.home-assistant.io/blog/ - error https://github.com/emontomery -> should be https://github.com/emontnemery

[2019-09-30 22:56] srg74 commented on #10491
on page https://www.home-assistant.io/components/qwikswitch/ link https://www.home-assistant.io/components/qwikswitch/components/binary_sensor is broken

[2019-09-30 22:58] frenck commented on #10491
@srg74 Nice sir! 👍

On all pages, there is a link in the top right "Edit on GitHub", which allows you to change it and open a PR! That way, you can contribute and help to fix those! 🏅

Happy Hacktoberfest 🎉

[2019-09-30 22:59] srg74 commented on #10491
Not on a first one :(

[2019-09-30 23:02] frenck commented on #10491
@srg74 Here you go: <https://github.com/home-assistant/home-assistant.io/blob/current/source/_posts/2019-09-18-release-99.markdown>

[2019-10-01 00:56] klaasnicolaas commented on #10263
We can also transfer the issue to there 😉

[2019-10-01 01:12] marthoc commented on #10263
@klaasnicolaas OK go ahead! I'll keep dealing with it there.

[2019-10-01 02:18] marthoc commented on #10263
@MarshallCS @brubakerjeff
The functionality here is easy to implement but there will be some guesswork in one scenario: if the thermostat is "off" when Home Assistant starts. In that case there won't be a last known mode to return to. I think the sensible default in that case is "auto" but am open to suggestions.

[2019-10-01 04:57] MarshallCS commented on #10263
I apologize that this was in the wrong place, but I'm grateful that it's moving to the correct one and is being actively worked on.

I do believe that in the event of an unknown last state (such as home assistant being off, auto would be the smartest move.

Thanks everyone

[2019-10-01 05:05] Rita-Okonkwo commented on #10487
can I work on this? @klaasnicolaas

[2019-10-01 06:05] frenck commented on #10487
Sure go ahead @Rita-Okonkwo! 👍

[2019-10-01 06:12] paras151 commented on #10489
Well, I can perform 1st 2nd and 3rd step, but what about the fourth step. Can you help, in which file links can be adjusted

[2019-10-01 06:15] thatguynikita commented on #10486
@klaasnicolaas, @frenck , I'd like to help with this one.

[2019-10-01 08:16] frenck commented on #10489
@paras151 Those links can be in any file on our website. All the code need to be searched for occurrences and adjusted.

[2019-10-01 08:16] frenck commented on #10486
Sure @thatguynikita! 🎉

[2019-10-01 08:57] klaasnicolaas commented on #10263
/move home-assistant/home-assistant

[2019-10-01 08:57] ghost commented on #10263
This issue was moved by [klaasnicolaas](https://github.com/klaasnicolaas) to [home-assistant/home-assistant#27091](https://github.com/home-assistant/home-assistant/issues/27091).

[2019-10-01 08:57] #10263 closed, assigned to nobody

[2019-10-01 09:14] klaasnicolaas commented on #10491
In the main message I have put a zip file with an export of my scan with Xenu, so you can get started right away. To show only the broken links, click on **View** -> **Show broken links only**. Of course it is wise to do your own scan in a few days to keep it up to date 😉

[2019-10-01 11:18] thatguynikita commented on #10486
PR was merged. Yay! 🎉
I guess we could close this one. Although it seems I'm lacking permissions to do so.
Thanks again for the opportunity to get the first time issue done!

[2019-10-01 13:02] augustjanse commented on #9880
@jgfdsa Did you try [these](https://community.home-assistant.io/t/mosquitto-mqtt-4-1-doesnt-work-after-update/104855/225)?

[2019-10-01 13:15] frenck commented on #10486
Yep! Let's close this! 👍

[2019-10-01 13:15] #10486 closed, assigned to thatguynikita

[2019-10-01 19:02] #10290 closed, assigned to nobody

[2019-10-01 19:38] jensihnow commented on #9900
Already fixed, see https://github.com/home-assistant/home-assistant.io/commit/26701e281a5011b6db5d9c2009463ebb166d00b0#diff-f49b7881f35f9fa104fcae2eebeb53c3 which seems to be correct looking at https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/generic_thermostat/climate.py#L78

[2019-10-01 19:58] jensihnow commented on #9664
Instead of adding a hint to the documentation the better approach would be to support the additional entity types like divider and weblink within the UI editor and not promting an issue for them. Well in the meantime we a one line should be enough.

[2019-10-01 20:46] frenck commented on #9900
Check, thanks! So we can close this issue 👍

[2019-10-01 20:46] #9900 closed, assigned to nobody

[2019-10-02 00:12] claughinghouse commented on #10179
@ciejepro is this still documented incorrectly? I cant find any reference to password here: [Google Maps](https://www.home-assistant.io/integrations/google_maps/)

[2019-10-02 00:42] claughinghouse commented on #10491
Maybe we should advise everyone not to spam the site and other sites linked to from HA with Xenu? I ran it and hit a lot of "Temporarily overloaded".

@klaasnicolaas could you post an updated scan every so often while this issue is open?

[2019-10-02 01:41] klaasnicolaas commented on #10491
@claughinghouse I just performed a new scan, the zip file has been replaced with a new version.

[2019-10-02 09:42] #9664 closed, assigned to nobody

[2019-10-02 14:59] #10315 closed, assigned to nobody

[2019-10-02 15:08] RezzZ opened #10566 "mqtt climate control incomplete"
I like the fact that I can register mqtt climate components in HA (in my case fibaro heat controllers that are connected to a separate zwave2mqtt docker container), but right now the component available is only usable as a **read-only component** in case the supported modes of your device does't conform to the default modes that HA offers:
[code]
There is a cool feature to create a template for ma

[2019-10-02 15:17] frenck commented on #10566
Hi there,

Thank you for opening an issue on GitHub. We use GitHub to track issues and bugs. For feature requests, please use the Community Forums.

Besides that, this is the GitHub repository for our website 😉

[2019-10-02 15:17] #10566 closed, assigned to nobody

[2019-10-02 15:56] Rita-Okonkwo commented on #10487
Hi, I can't seem to find the _components file on the repo anymore

[2019-10-02 15:59] frenck commented on #10487
It has been moved to _integrations

[2019-10-03 11:21] Hedda opened #10587 "[REQUEST] Zigbee documentation needed"
Zigbee Home Automation integration is missing or needs to be improved.

I have created pull requests #10585 and #10586 to try to get this started.

I believe that much information can probably be copied from the existing Z-Wave documentation because their design and functionality Home Assistant should be very similar to each other.

My purpose of this request is just to get the existing Zigbee Hom

[2019-10-03 11:46] frenck commented on #10587
I don't get why you first open a bunch of PR's and next create an issue with `[REQUEST]` in the title?

The only thing that is will achieve at this point, it that discussions are prone to take place in different places. Let's close this and continue the discussion on the PR.

[2019-10-03 11:46] #10587 closed, assigned to nobody

[2019-10-03 18:41] YRRK opened #10590 "sensor.solaredge tooo detailed values"
Dear developers,

The sensor.solaredge gives idiotic values. Like sensor.solaredge_energy_this_month | = 11774.392578125 Wh

Can this be a little bit less accurate, without "fixing" it myself with a template? So like 11774.1 Wh
The other solar-edge sensors also report these kind of values. I thinks this also overloads my history graph with too much data to process.

Latest: Home Assistant 0.99.3
F

[2019-10-03 20:28] tuxick opened #10591 "Page Troubleshooting Automations "Check Config" doesn't exist."
The page mentions "go to Configuration -> Server Control and click on Check Config button in Configuration validation section".
There is no such section, just "Server management: restart/stop"

[2019-10-03 20:36] frenck commented on #10591
This might need a big of updating indeed.

### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-10-05 08:11] UddeshJain commented on #10491
Is it still open? Can I work on it?

[2019-10-05 08:28] frenck commented on #10491
Yes! Go ahead! Scan our website, there are still many left!

[2019-10-05 13:41] TomBrien commented on #10591
I'm happy to take this on if you want to stick me down as an assignee. I take it we think the correct update is to explain that "Check Config" can be found by enabling "Advance Mode" in your user profile.

[2019-10-05 16:32] akasma74 commented on #10491
For some reason currently all "Edit on GitHub" links give Error 404 because instead of

they lead to

Could you look into it as well as I don't think non-devs can fix it.

[2019-10-05 19:00] Santobert opened #10622 "Integrations/Fan page should list available services"
The page [integrations/fan](https://www.home-assistant.io/integrations/fan/) is not very helpful at the moment. It should list available services and automation examples like [integrations/climate](https://www.home-assistant.io/integrations/climate)

[2019-10-05 19:06] Santobert opened #10623 "Some page titles are named in the plural"
Some page titles are named in the plural (lights instead of light). The majority of pages use the singular (e.g. [sensor](https://www.home-assistant.io/integrations/sensor), [fan](https://www.home-assistant.io/integrations/fan), [climate](https://www.home-assistant.io/integrations/climate) and [automation](https://www.home-assistant.io/integrations/automation/)).

The following pages use the plura

[2019-10-06 09:39] frenck commented on #10622
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-10-06 13:34] klaasnicolaas commented on #10491
I have updated the Xenu file with a new fresh scan 😄

[2019-10-06 14:34] SoldierCorp commented on #10622
Hi, can I take this one?

[2019-10-06 14:38] klaasnicolaas commented on #10622
Yes ofcourse, I will assign it to you

[2019-10-06 19:28] morrydavis opened #10643 "listen_port 80"
Can't use this home assistant throws an error permission denied probably due to non root user running homeassistant but setcap command to alleviate this also doesn't work do to illegal option when used as stated

[2019-10-06 19:36] klaasnicolaas commented on #10623
Can we close this issue?

[2019-10-06 19:39] Santobert commented on #10623
Looks good to me

[2019-10-06 19:40] #10623 closed, assigned to nobody

[2019-10-06 19:54] akasma74 commented on #10491
It works!

[2019-10-06 20:48] frenck commented on #10643
Thank you for reaching out. We use GitHub for tracking issues, not for providing support.
Furthermore, this repository (and this issue tracker) is our documentation/website. If you believe it is a bug, please submit a bug at our main repository.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discor

[2019-10-06 20:48] #10643 closed, assigned to nobody

[2019-10-07 02:18] thompsa opened #10648 "Trend binary sensor examples unlikely to work"
**Home Assistant release with the issue:**
Home Assistant 0.99.0

**Last working Home Assistant release (if known):**

**Operating environment (Hass.io/Docker/Windows/etc.):**
Hass.io

**Integration:**
https://www.home-assistant.io/integrations/trend

**Description of problem:**
The trend component defaults to max_samples of two and creates a deque object to hold the samples with a `maxlen` of `ma

[2019-10-07 07:39] frenck commented on #10648
I've moved this issue over to the documentation repository.

[2019-10-07 07:39] frenck commented on #10648
### 🆘 Marked as "Help wanted"

If you want to help out on this, go ahead, it is really appreciated!

Please leave a comment if you started working on this, so we can avoid multiple people working on the same things. Thanks! 👍

[2019-10-07 15:56] SoldierCorp commented on #10622
I do have a question,

I couldn't found any field for the `optional` column for each service so I just added `no` to all of them, is that ok?

[2019-10-07 20:44] Jsifontez commented on #10648
I want to help with this :smiley:

[2019-10-07 23:40] Jsifontez commented on #10648
I need to add the following entries the `configuration.yaml` example?:

[code]

[2019-10-08 01:08] thompsa commented on #10648
No, those are from my config.

[2019-10-08 11:25] #10591 closed, assigned to TomBrien

[2019-10-08 12:13] SoldierCorp commented on #10622
One more thing @klaasnicolaas

For this issue, I create a simple script to convert the content of the `fan.xml` service to a `markdown template`, I created this to avoid copy one service at time and editing the fields one by one.

https://github.com/SoldierCorp/integracion-service-markdown-homemeassistant.io

[2019-10-08 20:26] #10026 closed, assigned to nobody

[2019-10-10 03:05] saurabhsharma001 commented on #10491
Link to http://bluesensenetworks.com/ is broken on following page. There is no "Edit this page" link on this page. How to solve it? These are blog pages. More like these exist.

[iBeacons: How to...](https://www.home-assistant.io/blog/2016/05/26/ibeacons-how-to-track-things-that-cant-track-themselves-part-ii/)

[2019-10-10 03:11] saurabhsharma001 commented on #10491
[Pushetta integration](https://www.home-assistant.io/integrations/pushetta/) may no longer be there as the website http://www.pushetta.com is no longer accessible.
Instead of fixing the link, would it be better to remove the integration?

[2019-10-10 03:25] saurabhsharma001 commented on #10491
Fixed link for Microsoft TTS page.

Pull request: Update microsoft.markdown #10681

[2019-10-10 14:50] claughinghouse commented on #10491
@saurabhsharma001 I asked about this one in discord yesterday and @balloob mentioned that it could be removed.

[2019-10-10 17:06] balianurag opened #10699 "Twitter Trends"
import tweepy
consumer_key=xxxxxxxxxxxxxxx
consumer_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
access_token=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
access_token_secret=xxxxxxxxxxxxxxxxxxxxxxxxx
auth=tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth,wait_on_rate_limit=False,wait_on_rate_limit_notify=False,compression=False)
trends_result=

[2019-10-10 17:27] fabaff commented on #10699
This is the issue tracker for the Home Assistant Documentation.

Please report Home Assistant issues at https://github.com/home-assistant/home-assistant/issues/new or use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2019-10-10 17:27] #10699 closed, assigned to nobody

[2019-10-12 10:53] hmmbob commented on #10491
Any chance of getting edit rights in the existing blog items? Those contain loads of broken links too....

[2019-10-12 10:58] frenck commented on #10491
@hmmbob You can edit them just like any other file in the repository :+1:

[2019-10-12 14:08] klaasnicolaas commented on #10491
Again I have updated the .xenu file with a scan from today

[2019-10-12 21:44] peternijssen opened #10755 "0.10X is not appearing at the top of the version selection"
https://www.home-assistant.io/integrations/

If we take a look on this integrations page and you use the filter on version at the left side, you will notice 0.10X is missing. Well, it's not missing, it's part of 0.1X and thus is somewhere down in the drop down while it should be at the top.

I guess the problem is within this method, but I am lacking Ruby knowledge:
https://github.com/home-assista

[2019-10-12 21:53] frenck commented on #10755
Nice! Thanks for reporting this one in, will take a look 👀

[2019-10-13 03:09] saurabhsharma001 commented on #10491
I see the website is back up. I think we can leave it as is for now.

[2019-10-13 21:56] #10074 closed, assigned to nobody

[2019-10-13 23:15] circa1665 opened #10771 "-"

[2019-10-13 23:21] #10771 closed, assigned to nobody

[2019-10-14 18:48] MajorLOLGaming opened #10780 "Creating multiple automations with same webhook."
I was trying to get something working, which required multiple automations, and discovered that if you create multiple automations, with the same webhook trigger, things start to go wrong, and suddenly the automations (with the same webhook trigger) start to disappear.

I don't really know how to explain it better, as i had no idea that it was happening, until i deleted an automation, that also co

[2019-10-15 09:45] Ayoazeez26 commented on #10489
@frenck I can see a task has been completed here I want to know what's left if I can help with it

[2019-10-15 18:04] frenck commented on #10755
Fixed in #10775

[2019-10-15 18:04] #10755 closed, assigned to frenck

[2019-10-19 08:47] springstan commented on #10482
@KMiNT21 have you just followed the steps on the 'Get started section':

on the [home-assistant github page](https://github.com/home-assistant/home-assistant#home-assistant-)?

@frenck Since a virtual environment is not listed as a requirement in these instructions.

[2019-10-19 11:16] hmmbob commented on #10491
Did a fresh scan with Xenu today, with "max depth" set to 2. No further broken links than above pull request.

I'll start running a scan with "max depth" set to 3 now, see what that returns.

[2019-10-19 15:03] JinxTL commented on #10024
is there a way to do it without removing the state_template?

[2019-10-19 15:35] hmmbob commented on #10491
My latest PR (#10889) should have fixed all remaining items that showed up after the scan with max-depth 3.

Found two integrations (Stride, Hipchat) that should be decommissioned, I'll pick that up separately.

[2019-10-19 16:31] klaasnicolaas commented on #10491
@hmmbob Hipchat will be removed at the 0.101 release 😉

[2019-10-19 16:32] hmmbob commented on #10491
And stride? Same deal....

Edit: PR for removal made: https://github.com/home-assistant/home-assistant/pull/27934 & https://github.com/home-assistant/home-assistant.io/pull/10897

[2019-10-19 19:02] frenck commented on #10482
Check, will make sure that will be taken away, we have you manual on https://www.home-assistant.io

[2019-10-20 12:23] #10134 closed, assigned to nobody

[2019-10-21 18:13] #10087 closed, assigned to nobody

[2019-10-21 18:13] #9949 closed, assigned to nobody

[2019-10-22 05:05] ahartman opened #10939 "critica issue with offset-naive and offset-aware datetimes"

[2019-10-22 05:05] #10939 closed, assigned to nobody

[2019-10-22 05:08] ahartman opened #10940 "CalDav integration, critical issue"
I need a calendar component to drive lighting dependent on start and end times of work.
This plugin should be perfect for that.
Unfortunately it has a critical issue with:
"can't compare offset-naive and offset-aware datetimes". I am using an iCloud calendar

I do not know what that means but the plugin is inoperable because if this.
I would be very grateful if someone could fix this.

Regards, ah

[2019-10-25 15:52] jrconlin opened #10989 "400 returned for MyQ/Chamberlain Cover Integration"
I'm seeing a number of error messages in my logs around the MyQ garage door integration (e.g.
[code]
I note that the [site's splash page](https://www.mychamberlain.com/) states the web login will no longer be supported.
![image](https://user-images.githubusercontent.com/35755/67584788-30f78080-f703-11e9-84a5-435335bc9b8c.png)

I am still able to log in, and it appears that there's still some API c

[2019-10-26 13:33] tomlut opened #11000 "Document headings not linkable using iOS"
I am unable to link to document headings when using Safari on my iPad (iOS 13.1.3).

Works fine from Firefox and Chrome on a Windows PC.

[2019-10-26 15:31] vishnuparikh opened #11003 "hello-world"

[2019-10-26 16:37] frenck commented on #11003
👋

[2019-10-26 16:37] #11003 closed, assigned to nobody

[2019-10-28 09:49] Misiu commented on #10244
This is still missing.

[2019-10-28 11:15] zaarab001 commented on #10024
Am thinking we can do without state_template

[2019-11-01 23:25] MYeager1967 opened #11081 "Excluding items..."
Is it possible to exclude the scenes from Vera like you can with individual entities?

[2019-11-02 12:08] ghost opened #11082 "What is the correct and recommended way to backup home-assistant's sqlite DB?"
*@fermulator commented on Nov 2, 2019, 2:04 AM UTC:*

**Home Assistant release with the issue:**
`0.98.3`

**Last working Home Assistant release (if known):**
N/A

**Operating environment (Hass.io/Docker/Windows/etc.):**
linux + python venv

**Integration:**
N/A

**Description of problem:**
[https://www.home-assistant.io/docs/backend/database/](https://www.home-assistant.io/docs/backend/database/)

[2019-11-02 12:08] ghost commented on #11082
*@fabaff commented on Nov 2, 2019, 12:08 PM UTC:*

This is a documentation issue.

[2019-11-02 12:20] fabaff commented on #11082
Sure, that can be added. So far, nobody missed those details.

The focus is on the configuration because people who are interested in their home's history are often not using SQLite but mariadb or postgresql for long-time storage.

I guess so. Making a copy of `home-assistant_v2.db` is the most obvious way to create a backup.

Not in particular...in SQLite case yes. I'm backing up the SQLite DBs o

[2019-11-02 12:21] fabaff commented on #11081
This is the bug/issue tracker for the Home Assistant Documentation. Please use the [forum](https://community.home-assistant.io/) for questions about installation, setup, configuration and usage.

[2019-11-02 12:21] #11081 closed, assigned to nobody

[2019-11-03 21:19] edegraaff opened #11093 "Documentation seems to contain several errors due changes in os and process"
Hi, it tried to use this manual to enable lets encrypt on my pi and home assistant. It is a clean install and it failed. I found out the sudo instructions can't be used but need to be sudo on the pi user. Also stopping the ha services  should be done by pi user. The main issue is the current lets encrypt scripts are failing to pull the right software. the apt-get install certbot
 did do the job.

[2019-11-03 21:59] frenck commented on #11093
It all depends on the installation methods used.

Could you provide some more information on how you've installed Home Assistant, and which part of the documentation you are trying to apply? (URL).

Thanks 👍

[2019-11-04 15:24] jacobhallgren opened #11097 "Support for custom sensor homekit"
I wanna be able to add custom sensor can this be done?

Example my washer to display minutes left of the cycle like 22min. I can now make it a temp but its silly to say washer 55 celsius.

Example two display a string ie message like Tesla battery 50 %.

found this on apple should be possible?

"For other characteristic types, the corresponding value might be a plain number, a string, or Boolean,

[2019-11-04 15:29] #11097 closed, assigned to nobody

[2019-11-04 15:29] jacobhallgren commented on #11097
Wrong place for request

[2019-11-07 10:33] frenck commented on #10491
Hacktoberfest is over! Thanks for all the URL's fixed guys! You are amazing! 👍 🎖

[2019-11-07 10:33] #10491 closed, assigned to nobody

[2019-11-07 17:10] RichardUUU opened #11124 "Can't force Roku to load multiple devices"
[code]
That works.
[code]
That produces the following notification even though each roku will load properly by itself.
[code]

[2019-11-08 19:34] #10184 closed, assigned to nobody

[2019-11-10 20:36] akloeckner opened #11147 "IoT class of Neato"
The Integration for neato is missing its IoT class.

https://github.com/home-assistant/home-assistant.io/blob/current/source/_integrations/neato.markdown

I would change it, but I don't know the class. That's how I realized it's missing.

[2019-11-12 17:28] altimmons commented on #11093
While I know its a work in progress..., this reads a bit like it once existed then was accidentally deleted.

https://github.com/home-assistant/home-assistant.io/blob/current/source/_integrations/alarm_control_panel.markdown

home-assistant.io/source/_integrations/alarm_control_panel.markdown

https://www.home-assistant.io/integrations/alarm_control_panel/

[2019-11-12 17:35] altimmons commented on #11093
The Command line help is wrong in several places.

also:

https://www.home-assistant.io/docs/configuration/group_visibility/

example at the bottom contains what I have eventually figured out related to the old `/states` UI, which I don't know about.

Further, there is a leap that has to be made in implementing Home Assistant for the new user (like myself).  The docs cover initial set up, and then

[2019-11-12 17:41] altimmons commented on #11093
Actually, I think the CLI errors were mostly in HassOS.  The distinction between HassOS, HassIO, Home Assistant, and Nabu Casa or an Integration is rather fuzzy to us new comers

[2019-11-13 23:06] larry-tx commented on #10482
I wish that was all there was to it. After following the manual installation process to the letter down to copying and pasting the commands with the venv installation, this is what I get:
[code]
Seems like a pretty defective product. Oh well, after spending four days trying to get this to work, I'm worn out and down, totally disgusted. If you've got a very quick fix, I'd like to hear it. Otherwise

[2019-11-15 00:59] mrand opened #11184 "Some documentation links provided by Configuration validation are invalid"
I'm putting this here because it seems like the documentation group would be in the best position to know the proper mapping and all the changes that were made and be able to use that to intelligently search and fix the links in the code.

If Configuration >> Server Control >> Check Config doesn't pass, some of the links it provides are invalid.   Here is an example:

I remember noticing it on a f

[2019-11-16 08:45] frenck commented on #10482
This is a known issue: https://github.com/home-assistant/home-assistant/issues/28361

Workaround is to install the `hass_frontend` dependency manually.

[2019-11-16 12:05] unikitty37 opened #11195 "Apple TV documentation refers to field which does not appear on screen"
The documentation says "Select apple_tv as domain and apple_tv_scan as service then press the button" — but there is no domain selector, even with advanced mode enabled:

![image](https://user-images.githubusercontent.com/139183/68992697-92c08b80-0866-11ea-93d7-9be0b842f7e2.png)

This is with a version of hass.io that was downloaded a week and a half ago — has something changed in a recent version