[2021-06-28 09:02] frenck commented on #18323
There is no feature taken away? The package functionality has not been adjusted in any way.

It is there. You have to use it to match the situation you are using it in.

Packages are a complex matter, it is unfortunately often used incorrectly.
The feature request will introduce workarounds that are not part of the general package or integration functionality. In general, those workarounds should

[2021-06-28 09:42] CharlyLara opened #18330 "Can't find Purifier or Humidifier in Xiamo_miio"
### Feedback

I'm trying to use the integration provide by Home Assistant but it doesn't work with my xiaomi device.

When I'm setting up the integration, neither of my devices is found automatically.
"The device model is not known, not able to setup the device using config flow."

When I try to choose the device in the following step, neither of the devices appears listed... So I'm stuck.

Purifi

[2021-06-28 10:07] bramkragten commented on #16992
Uuuh... what needs clarification exactly? 😅

I aligned it with the other service call syntaxes (only this one uses `service_data` instead of `data` 😠 )

[2021-06-28 10:23] Atomykatt opened #18331 "Epson TW-5650"
### Feedback

Hi,

Tested and working on Epson TW-5650

Regards,
A.

### URL

https://www.home-assistant.io/integrations/epson/

### Version

2021.6.6

### Additional information

_No response_

[2021-06-28 11:00] #17552 closed, assigned to nobody

[2021-06-28 14:14] mgriffin13 commented on #18306
@thecode I'm not sure if you saw https://github.com/home-assistant/home-assistant.io/pull/14352, which already includes all the documentation for v2, as well as including the blurb that the current integration is v1 only.

[2021-06-28 15:05] #17554 closed, assigned to nobody

[2021-06-28 16:33] tristanmunday opened #18334 "Array issue"
### Feedback

I'm getting error on the sensor_id stating 'expecting array' when using the proper hex code for the sensor.

### URL

https://www.home-assistant.io/integrations/neurio_energy/

### Version

2021.6.6

### Additional information

_No response_

[2021-06-28 16:34] frenck commented on #18334
Hi there @tristanmunday 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please submit issues with Home Assistant integration here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-06-28 16:34] #18334 closed, assigned to nobody

[2021-06-28 20:13] artiflo commented on #18106
I have the same Failed to connect.

Specified API key, origin and destination (both zone and coordinates in form lat/long and lat,long).

[2021-06-28 21:39] eblot opened #18338 "No idea how to follow this guide on HA OS"
### Feedback

Trying to migrate my DB from local SD card to a remote MariaDB server, but
- sudo does not seem to be installed - or I do not understand from where to run it, I'm remotely connected using SSH
- homeassistant user does not exist.

### URL

https://www.home-assistant.io/integrations/recorder/

### Version

2021.6.6

### Additional information

_No response_

[2021-06-28 23:00] #17162 closed, assigned to emontnemery

[2021-06-28 23:03] frenck commented on #17642
Still on my radar, go away bot :)

[2021-06-29 03:08] usul0184 commented on #18323
Thanks for walking me through this; I'll close it and leave it to more knowledgeable people to discuss.  I guess my last comments are: (1) you are probably correct that people are using packages incorrectly, but if so, I think it's helpful to query why they are doing so and whether clearer documentation might help, and (2) I'm not that familiar with KNX, but I see what you are saying.  Maybe the d

[2021-06-29 03:08] #18323 closed, assigned to nobody

[2021-06-29 06:54] shawnzhou1120 opened #18342 "The new integrations/braviatv can not turn on the TV"
### Feedback

we used the yaml function to control MY braviatv in the older HA,it worked well.
but its can not work now when i update the HA to the new revision.
following the new instruction, i re-add my braviatv in the HA by the Integrations/braviatv  in the UI.
The TV come back.
but i met a issue.that i can not turn on MY TV by the media_player.turn_on function.
the turn off,select_source all a

[2021-06-29 07:01] bieniu commented on #18342
You opened an issue in documentation repository.

Your issue is not related to the documentation or integration but to the backend library https://github.com/dcnielsen90/python-bravia-tv

[2021-06-29 07:01] #18342 closed, assigned to bieniu

[2021-06-29 09:05] #16685 closed, assigned to nobody

[2021-06-29 10:14] farmio commented on #18323
If I'm not mistaken the packages functionality relies on a platform config style
[code]
which is deprecated as of https://github.com/home-assistant/architecture/blob/master/adr/0007-integration-config-yaml-structure.md

So my question: shouldn't the 'package' function be marked deprecated as well - at least in documentation?
Users trying to 'package' eg KNX entities will fail without any hint?!

[2021-06-29 10:21] frenck commented on #18323
That is incorrect.

Packages are not limited or related to platform configuration? I'm not following.

[2021-06-29 10:33] farmio commented on #18323
Ok then I was informed wrong.

I've seen some complaints from KNX users that packages wouldn't work anymore after moving away from `- platform: ` to new-style
[code]
configuration. But I've never tried it.

[2021-06-29 10:40] frenck commented on #18323
These aren't platforms configurations but integrations.

[2021-06-29 12:55] flirtysanchez opened #18344 "FinTS Integration - Deprecated"
### Feedback

Hi!

A few days ago I found the "FinTS" Integration for HA. I already had the suspicion before testing that this will no longer work like this. This has also been confirmed in the test!

I think this integration isn't working since ~14.09.2019. Since the introduction of the PSD2 guidelines, any software that wants to communicate with a bank via FinTS must be registered once by the "D

[2021-06-29 18:01] #17569 closed, assigned to nobody

[2021-06-29 20:55] #17414 closed, assigned to fabaff

[2021-06-29 21:00] #17570 closed, assigned to nobody

[2021-06-29 21:08] Bubbi opened #18348 "readme.md has incorrect link to duckdns.org"
### Feedback

On https://github.com/home-assistant/addons/blob/master/duckdns/README.md, the link to Duck DNS points to https://duckdns.org/, but this page is not currently being used, or is rather an admin page for the duckdns.org site..
instead the link should point to https://www.duckdns.org/, which is the official site of Duck DNS.

### URL

https://github.com/home-assistant/addons/blob/master

[2021-06-30 12:06] #18348 closed, assigned to nobody

[2021-06-30 12:58] nikito7 opened #18352 "Modbus: retries missing docs"
### Feedback

https://github.com/home-assistant/core/pull/51412

https://github.com/home-assistant/home-assistant.io/pull/18073

Closed without merge

### URL

https://www.home-assistant.io/integrations/modbus/

### Version

_No response_

### Additional information

_No response_

[2021-06-30 12:58] nikito7 commented on #18352
@janiversen

[2021-06-30 15:55] mciaio opened #18354 "String example."
### Feedback

A state string example would be helpful here.  I had to go to reddit and ask.  ie:  state: ["Cooling", "Heating"]

Thanks.

### URL

https://www.home-assistant.io/integrations/history_stats/

### Version

2021.6.6

### Additional information

_No response_

[2021-06-30 15:59] frenck commented on #18354
Hi there @mciaio 👋

I'm not following your suggestion or question? Could you elaborate?

The type specified for the state is a string or a list.

![image](https://user-images.githubusercontent.com/195327/123993513-c5cc7a00-d9cc-11eb-8447-bbcea5542398.png)

The very first example shown on the linked page has a state as a string.

![image](https://user-images.githubusercontent.com/195327/123993601-d

[2021-06-30 16:11] mciaio commented on #18354
I guess I meant list, not string.  I had 2 states I wanted to track.
Heating and cooling.  I couldn't find the proper syntax and formatting to
add multiple states.

Someone on reddit suggested state: ["Cooling", "Heating"] which seems to
have worked.

On Wed, Jun 30, 2021 at 11:59 AM Franck Nijhof ***@***.***>
wrote:

[2021-06-30 16:15] frenck commented on #18354
I would not recommend that format.

[code]

But your question/problem is not with this integration, but it is with YAML knowledge I guess.

Some basic YAML introduction can be found here:

<https://www.home-assistant.io/docs/configuration/yaml/>

If you like to many YAML examples and how you could style your configuration; You could check out our YAML Style Guide:

<https://developers.home-assista

[2021-06-30 16:19] mciaio commented on #18354
I appreciate your input.  I only suggest maybe adding an example at the
bottom with multiple states for new people like me.

On Wed, Jun 30, 2021 at 12:16 PM Franck Nijhof ***@***.***>
wrote:

[2021-06-30 16:24] frenck commented on #18354
Thanks for your suggestion, but I'm going to friendly decline it.

Mainly, because we have thousands of fields that can accept multiple items and even more fields that can accept multiple types. In the end, we cannot provide an example for every combination. That is not maintainable or even presentable in a respectable way.

Hoping the above links will at least help you 👍

../Frenck

[2021-06-30 16:24] #18354 closed, assigned to nobody

[2021-06-30 21:12] denilsonsa commented on #16992
When I look at `tap_action`, `hold_action` and `double_tap_action` on the https://www.home-assistant.io/lovelace/actions/ documentation, the following keys are documented:

* `action` (for the purposes of this issue, only `action: call-service` is relevant)
* `navigation_path` (irrelevant for this case)
* `url_path` (irrelevant for this case)
* `service`
* `service_data`
* `confirmation` (irreleva

[2021-07-01 01:44] smck83 opened #18357 "No ability to change password after update"
### Feedback

Can you please assist with providing detail on where credentials are stored so they can be manually updated - if the password is changed.

There is no ability to change the credentials after connecting the integration.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.6.6

### Additional information

_No response_

[2021-07-01 05:56] frenck commented on #18357
Thank you for reaching out.  We use this GitHub tracker for collecting documentation feedback, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-07-01 05:56] #18357 closed, assigned to nobody

[2021-07-01 09:05] #17577 closed, assigned to emontnemery

[2021-07-01 11:39] ovitters opened #18364 "Possible typo in the MQTT beta release notes for 2021.7"
### Feedback

This for the beta release notes of 2021.7 as per the rc website/blog.

For MQTT it mentions:

I think what is meant is it _could_ lead to _**un**expected_ behaviour, no?

### URL

https://rc.home-assistant.io/blog/2021/06/30/release-20217/#post-comments

### Version

2021.7

### Additional information

_No response_

[2021-07-01 11:42] frenck commented on #18364
Thanks for that! Well spotted! 👀

I have adjusted it locally, will push it with more correction later today (and close this issue when that has been done).

../Frenck

[2021-07-01 18:34] randrcomputers opened #18365 "ring cameras stop working after a min or less. reload integration fixes for another min or so. started happening about 1 week ago(6-24-2021) or so."
### Feedback

Log is full of errors like i have attached here:
any ideas?

Error fetching Ring history data for device xxxxxxxxxxx: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
Error fetching Ring history data for device xxxxxxxxx: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
Error fetching Ring history

[2021-07-01 20:50] vMotionFailed commented on #18365
I just set up HA for the first time and am seeing the same issues.  Reloading the integration fixes the issue temporarily, and I see the same log errors.  I'm also on version Home Assistant 2021.6.6

[2021-07-01 22:57] louisdcoulombe opened #18366 "Linux VM installation"
### Feedback

Hi,
 Just wanted to add the precision to unzip the KVM image before creating the virtual machine.

The creation of the VM will work but won't boot if not done. I would add the precision to avoid loosing time.

### URL

https://www.home-assistant.io/installation/linux/

### Version

2021.6.6

### Additional information

_No response_

[2021-07-02 05:16] frenck commented on #18366
Hi there @louisdcoulombe 👋

The KVM image is distributed in the xz format and can be directly used without unpacking. Hence, that detail isn't needed.

../Frenck

[2021-07-02 05:16] #18366 closed, assigned to nobody

[2021-07-02 06:05] hklages opened #18368 "Speedtest - reload"
### Feedback

In my environment the speedtest integration rather often stops working and I have to reload it manually.

Is there any service to reload this integration? I would like to use it in a script / lovelace dashboard.

Thanks for your answer.

### URL

https://www.home-assistant.io/integrations/speedtestdotnet/

### Version

2021.6.6

### Additional information

_No response_

[2021-07-02 07:45] frenck commented on #18368
Hi there @hklages 👋

Not really, to be honest, it sounds like you want to report an issue. However, you have provided documentation feedback instead.

Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

../Frenck

[2021-07-02 07:45] #18368 closed, assigned to rohankapoorcom

[2021-07-02 08:14] hklages commented on #18368
... thanks. Just did it.

On Fri, Jul 2, 2021 at 9:45 AM Franck Nijhof ***@***.***>
wrote:

[2021-07-02 09:19] frenck commented on #18364
I've just pushed the update with the rest of the release blog progress.

Again, thanks for reporting! 👍

../Frenck

[2021-07-02 09:19] #18364 closed, assigned to frenck

[2021-07-02 11:59] starkillerOG commented on #18330
see: https://github.com/home-assistant/core/pull/47924#issuecomment-869523612

[2021-07-02 14:34] ahgray opened #18371 "Wet Bulb Globe Temperature?"
### Feedback

The NWS appears to now be observing and forecasting the Wet Bulb Globe Temperature. Is it possible to have this as one of the sensor entities that are initially disabled.

https://digital.mdl.nws.noaa.gov/?zoom=4&lat=37&lon=-96.5&layers=F000BTTTFTT&region=0&element=8&mxmz=false&barbs=false&subl=TFFFFF&units=english&wunits=nautical&coords=latlon&tunits=localt

### URL

https://www.hom

[2021-07-02 14:42] frenck commented on #18371
Thank you for reaching out. It seems like you wanted to request a feature, however, you have submitted documentation feedback instead.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-07-02 14:42] #18371 closed, assigned to nobody

[2021-07-02 15:36] mediocaballero opened #18372 "Supported devices list"
### Feedback

A list of supported devices for somfy integration would help, as in: Tahoma, Connexoon, etc...

I'm specially interested in knowing whether the new "Somfy Switch" would work as well...

### URL

https://www.home-assistant.io/integrations/somfy/

### Version

2021.6.6

### Additional information

_No response_

[2021-07-02 15:37] frenck commented on #18330
This feature is under development.

That said, you are trying to either report a bug, or do a feature request. However, you have submitted documentation feedback. There is no amount of documentation we can adjust to provide a solution to either of those. Therefore, I'm closing this feedback.

Thanks!

../Frenck

[2021-07-02 15:37] #18330 closed, assigned to syssi, rytilahti

[2021-07-02 18:31] ciceroaferreira opened #18375 "Growatt Home Assistant"
### Feedback

Hey, first of all thanks for share this add on.
Second, the HA website is very poor, i´m already set the integraton in HA but not able to get the monthly generation. Maybe would be nice some instructions or improvement how to get same data there is in Growatt Server website like data by time / day / month / year.

Thanks

### URL

https://www.home-assistant.io/integrations/growatt_se

[2021-07-02 19:04] frenck commented on #18375
Hi @ciceroaferreira 👋

Thank you for reaching out. Having additional data points is not about documentation or bugs. It is about having a feature request.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/

[2021-07-02 19:04] #18375 closed, assigned to nobody

[2021-07-03 09:32] breti opened #18377 "Link to international AVM page"
### Feedback

Perhaps it would be better to link to the international AVM homepage (https://en.avm.de/) instead of the german one.

### URL

https://www.home-assistant.io/integrations/fritz/

### Version

2021.7.0

### Additional information

_No response_

[2021-07-03 10:00] #17611 closed, assigned to Danielhiversen

[2021-07-03 10:20] chemelli74 commented on #18377
Yes, I agree.
Please submit a PR for that change.

Thx,

Simone

[2021-07-03 12:00] #17613 closed, assigned to nobody

[2021-07-03 14:47] pkininja opened #18379 "Synology Docker update documentation is out of date"
### Feedback

Procedure for updating Home Assistant on Synology Docker has changed. Synology Docker 20.10.3-0554 (June 2021 update) changed the relevant Action menu item from "Clear" to "Reset".

Old Documentation:
Right-click on it and select “Action”->“Clear”
Proposed New Documentation:
Right-click on it and select “Action”->“Reset”

### URL

https://www.home-assistant.io/installation/alternativ

[2021-07-03 18:00] #17609 closed, assigned to nobody

[2021-07-03 18:46] philsson opened #18382 "Access generated credentials"
### Feedback

Love that this is now an official addon! Although after switching to using this component my ambilight does no longer work as the TV has generated new credentials. It would be awesome to get these somehow so I can continue using the custom integration for the ambilight.

### URL

https://www.home-assistant.io/integrations/philips_js/

### Version

2021.6.6

### Additional information

[2021-07-03 19:56] elupus commented on #18382
Not really right place for this support. But you can find them in config/.storage/config_entries.json

[2021-07-03 19:56] #18382 closed, assigned to elupus

[2021-07-03 20:19] smizles opened #18383 "Feature Request? Use icon instead of first letter(s) of entity's name on Map Cards in Lovelace"
### Feedback

I don't see a GitHub repository linked to this card, so I'm not sure where to submit feature requests. If it can be forwarded to the right place or person, I would ***extremely*** appreciate the ability for the map card to use the device tracker's icon instead of the letter(s) of its name.

### URL

https://www.home-assistant.io/lovelace/map/

### Version

2021.6.6

### Additional in

[2021-07-03 21:00] #17622 closed, assigned to nobody

[2021-07-03 22:11] breartoni opened #18384 "TRÅDFRI integration - TRÅDFRI shortcut button limitations"
### Feedback

Would be extremely helpful to mention in the IKEA TRÅDFRI integration documentation that TRÅDFRI Shortcut Buttons will only show up as a battery level sensor when using the IKEA TRÅDFRI Gateway with the associated IKEA TRÅDFRI integration.

![image](https://user-images.githubusercontent.com/565502/124367617-cf511e80-dc26-11eb-98be-dbec797e3381.png)

In addition to checking the entity

[2021-07-04 07:00] #17602 closed, assigned to nobody

[2021-07-04 07:58] Arrgg opened #18386 "VPNs for Remote Access"
### Feedback

It is a shame that VPNs are not mentioned for remote access, especially Wireguard since there is an add-on available.

### URL

https://www.home-assistant.io/docs/configuration/remote/

### Version

2021.6.6

### Additional information

_No response_

[2021-07-04 08:55] #16830 closed, assigned to nobody

[2021-07-04 11:59] bLackCat-79 opened #18387 "Toon integration problem with engie"
### Feedback

I configurated my toon api key in the configurations.xml file, I see the integration but when it needs to connect to the callback API URL I get this:
![afbeelding](https://user-images.githubusercontent.com/56641399/124384089-18a97880-dcd0-11eb-8fc2-20526e45a10a.png)

### URL

https://www.home-assistant.io/integrations/toon/

### Version

2021.6.6

### Additional information

_No resp

[2021-07-04 16:00] #17632 closed, assigned to nobody

[2021-07-04 17:00] craigmcewen commented on #18365
I am so glad to see that I am not the only one with this issue! It was working fine up until about 4 days ago prior to that there was always an image displayed in the pic entity card and you could click to view the previous video capture, now no images and no vids.

[2021-07-04 17:31] MairusuPawa commented on #17935
Hello, I'm confused about the initial setup as well. A list of supported camera models would be nice, I suppose.

I was given an old Foscam FI8918W and wanted to add it to my HA setup, however I have no clue what RTSP port it is using. Default settings don't work (generic "can't connect" error), and neither the WebUI of the camera nor a quick nmap scan shows a RTSP port being a thing. Is this mode

[2021-07-04 17:54] skgsergio commented on #17935
Is difficult to give a list of supported models as Foscam doesn't give much
info about the cameras. I know there are at least 2 different camera
software, one that is not supported at all and another that is supported
but depending on the version the RTSP port reported is wrong and you have
to try it manually (usually between 88 and 554).

I'm sorry but I can't tell you more....

Maybe just try th

[2021-07-04 18:06] MairusuPawa commented on #17935
Thanks for the quick reply!

Turns out there's no "CGIProxy.fcgi" for this old camera, known as part of the "SD video" series now on the Foscam site. So, yeah, still getting an error. The MJPEG feed URI is thus also different from what this addon seems to expect:
https://www.foscam.com/faqs/view.html?id=128

I can confirm this method works for controlling movement:
https://tutoriels.domotique-stor

[2021-07-04 18:09] skgsergio commented on #17935
Looks like only the HD series (and even then and not all) are the only that
are supported as this integration uses that CGI.

[2021-07-04 21:37] ilfante opened #18390 "start cycle? the service was removed to start the litter cycle."
### Feedback

the service was removed to start the litter cycle.

### URL

https://www.home-assistant.io/integrations/litterrobot/

### Version

2021.6.6

### Additional information

_No response_

[2021-07-05 06:39] frenck commented on #18390
You can use the normal turn on methods of the entities provided instead.

[2021-07-05 06:39] #18390 closed, assigned to nobody

[2021-07-05 08:20] frenck commented on #18387
Anything in the logs?

[2021-07-05 08:24] frenck commented on #18386
This is the Home Assistant documentation, not the VPN or system administration documentation.

We keep these subjects out of our documentation deliberately, as they are not in scope of the Home Assistant software itself.

Nevertheless, thanks for your feedback 👍

../Frenck

[2021-07-05 08:24] #18386 closed, assigned to nobody

[2021-07-05 08:30] frenck commented on #18384
I'm not sure what the feedback is?

Momentary buttons send events, at they do not retain a state. Although it sounds you expected an entity?

[2021-07-05 08:41] frenck commented on #18383
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-07-05 08:41] #18383 closed, assigned to nobody

[2021-07-05 10:27] bLackCat-79 commented on #18387
Can you tell me what log file you need?

[2021-07-05 10:29] bLackCat-79 commented on #18387
I don't see anything in the logs, the forward URL is: https://api.toon.eu/authorize?response_type=code&client_id=AJAAECvieQxdAPR72naAzh2GfzCnu5Gi&redirect_uri=https://home-assistant.telkom.be/auth/external/callback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmbG93X2lkIjoiOWU2Yjk5OGVlYzViNDQ3ZDllMTA5ZTFjZGNhMTQyOTUiLCJyZWRpcmVjdF91cmkiOiJodHRwczovL2hvbWUtYXNzaXN0YW50LnRlbGtvbS5iZS9hdXRoL2V4dGVybm

[2021-07-05 10:58] frenck commented on #18387
The Home Assistant log file.

[2021-07-05 13:18] danlun opened #18393 "Two way auth with IMAP"
### Feedback

Thanks for good info. Worked perfect when I, after been asking on FB groups, realised I need another password than my normal for this integration since I use two way auth. It would be great if this info also was available for us newbies on the this page.

### URL

https://www.home-assistant.io/integrations/imap_email_content/

### Version

2021.6.6

### Additional information

_No re

[2021-07-05 13:31] frenck commented on #18393
Hi there @danlun 👋

I'm confused about your feedback, there is no two-factor authentication in the IMAP protocol, so are you confusing it with another integration?

[2021-07-05 14:20] danlun commented on #18393
Hi, no don’t think so. But who knows.

When using my normal password for my google mail it doesn’t work. When I
exchange the password to a new generated application password it does work.
I thought that had to do with 2 way authorizing?

//dan

mån 5 juli 2021 kl. 14:32 skrev Franck Nijhof ***@***.***>:

[2021-07-05 14:22] frenck commented on #18393
exchange the password to a new generated application password it does work.
I thought that had to do with 2 way authorizing?

That is specific for the service you are using and is not related to this integration or the IMAP protocol.

[2021-07-05 15:56] bLackCat-79 commented on #18387
Nothing in log files.
I just click on configure
![afbeelding](https://user-images.githubusercontent.com/56641399/124496782-29361d80-ddba-11eb-939f-ece54914e839.png)
Then open website
![afbeelding](https://user-images.githubusercontent.com/56641399/124496827-3e12b100-ddba-11eb-81a1-2cb7987a88a6.png)
I enter my account details, but it seems toon API is not making a correct callback or something

[2021-07-05 15:56] bLackCat-79 commented on #18387
https://community.home-assistant.io/t/toon-integration-for-belgian-engie-electrabel-boxx/313616/7

It seems I am not the ony one with this problem

[2021-07-05 16:01] danlun commented on #18393
I know, I was just hoping that by adding this as a general statement, other
people new on HA as I, don't get confused and quicker get things going. My
feeling is that this is part of the overall ambition of you all deeply
involved in the HA project. I think Im correct in that statement but you of
course better know when info gets too much on each page. For me it had
helped a lot. Of course you don

[2021-07-05 16:02] frenck commented on #18387
The discussion in the forums shows a recent change that caused this, however, the Home Assistant Toon integration hasn't had any updates in that timeframe specified.

The upstream documentation is also unchanged: <https://developer.toon.eu/authentication>

As I am not an Engie user myself (but an Eneco/Toon user), I cannot help in resolving the issue and would rely on a contribution.

[2021-07-05 16:07] frenck commented on #18393
This has nothing to do with the Home Assistant project. But is something your email provider does. There are millions of email providers in the world, it is not our responsibility to document how IMAP works for each of them.

Entities if the log in at the IMAP source is unsuccessful would also help I
think.

This applies to all manual configured integrations. This is not unique for this integratio

[2021-07-05 16:27] danlun commented on #18393
Thanks Franck, sorry to be so bad in my English (Im from Sweden) so I was
misunderstood trying to imply you were to document all millions of e-mail
providers. That was absolutely not my thinking. Maybe more one sentence
mentioning it, as a general statement. Probably it also came to my mind
since the example used is Gmail.

I save your mail for future reference and please don't get angry with me i

[2021-07-05 16:32] frenck commented on #18393
I'm not sure what to mention? That is my problem. The integration needs an IMAP username & password... 🤷

I'm not angry? 🤷

[2021-07-05 16:41] danlun commented on #18393
Franck, this is funny now :-) I didn't say you are angry did I? You can't
just take half of a sentence. In the full sentence I said I hope you will
not get angry *next time* I use the "suggest better documentation" button
in a similar situation.

Again, keep up the good work, love HA!!!!

Best Regards

Dan

Den mån 5 juli 2021 kl 17:33 skrev Franck Nijhof ***@***.***>:

[2021-07-05 16:48] #18393 closed, assigned to nobody

[2021-07-05 20:18] #18352 closed, assigned to janiversen

[2021-07-05 20:24] bLackCat-79 commented on #18387
If you can tell me what I need to do, I am willing to help?

[2021-07-05 21:15] AntBurdin opened #18399 "Samsung TV & SmartThings sensors"
### Feedback

Hi,
I like that this integration is running locally, but through the cloud SmartThings integration I got many more sensors for the device (media_input_source, media_playback_status, tv_channel, tv_channel_name, volume). Is there some way to get best of both? Is it possible to pull this data locally or to combine it for one entity?
Sincerely,
Anton

### URL

https://www.home-assistant

[2021-07-05 21:18] bLackCat-79 commented on #18387
@frenck I can even give you ssh access to my HA if you want?

[2021-07-05 21:24] frenck commented on #18387
That is not what is needed. What needs to debug the OAuth flow for the Toon integration with Engie, this would need knowledge of setting up a development environment for Home Assistant, knowing Python and knowing how to use a debugger.

[2021-07-05 21:38] chemelli74 commented on #18379
Hi @pkininja , you can edit the doc yourself and submit a PR for the change to be accepted and merged.

Thx,

Simone

[2021-07-05 22:13] breartoni commented on #18384
I follow you about momentary buttons sending an event. To the best of my knowledge, the IKEA TRÅDFRI integration (which works with the IKEA TRÅDFRI Gateway) is not providing an event when a IKEA TRÅDFRI Shortcut Button is pressed.

If this is the case, the feedback would be to caution existing HA users looking to add the Shortcut Buttons to their home automation system to use a different Zigbee ga

[2021-07-06 07:12] frenck commented on #17680
As of HA 2021.7, this becomes less relevant. As we now have token discovery (by temporary logging into your cloud account).

[2021-07-06 07:41] yunjies opened #18402 "Homeconnect login issue"
### Feedback

Hi there,

Trying to connect my homeconnect app(Chinese version) to home assistant. However, it seems Chinese version of homeconnect is not allow to login via email (I tried and said wrong password and my email cannot receive the reset password email from homeconnect). I tried to connect homeconnect chinese representatives but haven't heard from them yet.

So, is there a way that the

[2021-07-06 09:23] bLackCat-79 commented on #18387
I can give you a develop machine?

[2021-07-06 09:31] bLackCat-79 commented on #18387
When I click on open website it goes to this URL:

https://api.toon.eu/authorize?response_type=code&client_id=AJAAECvieQxdAPR72naAzh2GfzCnu5Gi&redirect_uri=https://home-assistant.telkom.be/auth/external/callback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmbG93X2lkIjoiOWU2Yjk5OGVlYzViNDQ3ZDllMTA5ZTFjZGNhMTQyOTUiLCJyZWRpcmVjdF91cmkiOiJodHRwczovL2hvbWUtYXNzaXN0YW50LnRlbGtvbS5iZS9hdXRoL2V4dGVybmFsL

[2021-07-06 09:33] bLackCat-79 commented on #18387
My guess is that the callback url needs to be in a different syntax

[2021-07-06 09:38] bLackCat-79 commented on #18387
I don't know if this is related, but I saw this in my log:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/aiohttp/web_protocol.py", line 422, in _handle_request
    resp = await self._request_handler(request)
  File "/usr/local/lib/python3.8/site-packages/aiohttp/web_app.py", line 468, in _handle
    match_info = await self._router.resolve(request)
  File "/usr/

[2021-07-06 09:41] bLackCat-79 commented on #18387
Maybe I should just enter the token to my configuration.yml?
Can you tell me what tag @frenck ?
toon:
  client_id:
  client_secret:

[2021-07-06 10:13] frenck commented on #18387
That is a different authentication method, and only applies to Eneco users. Additionally, that authentication method is not used by this integration.

[2021-07-06 11:04] frenck commented on #18402
Hi there @yunjies 👋

I'm not sure if you are trying to report a bug or are looking for support. Either way, you have submitted documentation feedback, which will not help you with either case.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

If you want to report a bug, please u

[2021-07-06 11:04] #18402 closed, assigned to nobody

[2021-07-06 11:11] bLackCat-79 commented on #18387
But I cannot add the access token to my configuration.yml? Correct? @frenck

[2021-07-06 11:28] frenck commented on #18387
That is what I said.

[2021-07-06 12:16] kbridger commented on #17773
Agreed I found this statement misleading when setting it up for the first time.  Suggest an example that isn't like a command, and omits the trigger word etc.  Examples:

- "Good morning.  It is 8am so your lights will be turned on."
- "I sense a change in the force.  Your Dad must be home."

[2021-07-06 16:00] #17650 closed, assigned to rohankapoorcom

[2021-07-06 16:50] amaisano opened #18410 "Debugging instructions incompatible with HASS OS, no disclaimer provided."
### Feedback

https://www.home-assistant.io/docs/configuration/splitting_configuration/#debugging-multiple-configuration-files

These debug commands do not work with HASS OS. A disclaimer or alternate method should be provided for HASS OS.

### URL

https://www.home-assistant.io/docs/configuration/splitting_configuration/

### Version

2021.6.6

### Additional information

Hass OS install method d

[2021-07-06 16:56] frenck commented on #18410
Agreed, the right documentation is here: <https://www.home-assistant.io/docs/configuration/troubleshooting/#problems-with-the-configuration>

We should indeed adjust this part (maybe just link it even)

[2021-07-06 17:40] #18410 closed, assigned to nobody

[2021-07-07 09:08] gerardsamara opened #18413 "Introduction INTERVAL parameter"
### Feedback

The IMAP integration cannot be setup to interrogated the IMAP server   with a frequency depending of the user need , for example each hour , each day.

Is it possible to add this parameter ?
Thank you

### URL

https://www.home-assistant.io/integrations/imap/

### Version

2021.6.6

### Additional information

_No response_

[2021-07-07 09:11] ludeeus commented on #18413
Set the desired `scan_interval`  for that platform <https://www.home-assistant.io/docs/configuration/platform_options#scan-interval>

[2021-07-07 09:11] #18413 closed, assigned to nobody

[2021-07-07 21:56] amaisano opened #18421 "Devices are becoming unavailable every 2-3 minutes"
### Feedback

After upgrading to core-2021.7.0 today, all of my climate devices become 'Unavailable' every 1-3 minutes, and then return to working order again. This process has been repeating constantly since the core update.

The devices are using Homebridge and the [Frigidaire plugin](https://github.com/karlg100/homebridge-frigidaire) in a local docker container. I have 2 other similar Homebridg

[2021-07-07 22:08] Jc2k commented on #18421
Hi - this is the wrong place for reporting bugs. This is where we track documentation issues. Can you file an issue here? https://github.com/home-assistant/core/issues/new?assignees=&labels=&template=bug_report.yml

[2021-07-07 22:10] Jc2k commented on #18421
Also can you include some debug logs. They will help us figure out whether homebridge is returning data we can't parse or whether there is something strange happening in the network stack. We tend to suggest putting this in your config:

[code]

Thanks!

[2021-07-07 22:10] #18421 closed, assigned to Jc2k, bdraco

[2021-07-07 22:12] amaisano commented on #18421
My bad @Jc2k! Will move over there and update once I see some of those debug logs.

[2021-07-07 22:16] Jc2k commented on #18421
No worries! Will keep an eye out for your ticket, though it's getting late here so if I don't reply it might be in the morning.

[2021-07-07 22:42] bLackCat-79 commented on #18387
Anyone else who can help?

[2021-07-08 02:54] fhopley opened #18422 "Retrying setup: Error occurred while communicating with Forecast.Solar API"
### Feedback

After adding the forecast.solar integration (with all required fields populated - no API key or damping set). I get the following error message:

Retrying setup: Error occurred while communicating with Forecast.Solar API

I'm super keen to use this functionality - please let me know what if any troubleshooting steps are worth taking.

### URL

https://www.home-assistant.io/integratio

[2021-07-08 07:06] philkirby opened #18427 "PV Inverter Size"
### Feedback

Given the relative costs of solar panels many people install more panel wattage than what there inverter is capable. Therefore their PV output in the middle of the day will be limited to the inverter rating. For example the typical system in Australia has 6.6kW of panels coupled to a 5kW inverter.

Please add an inverter size rating/limit.

### URL

https://www.home-assistant.io/inte

[2021-07-08 07:08] frenck commented on #18427
Hi there @philkirby 👋

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-07-08 07:08] #18427 closed, assigned to frenck, klaasnicolaas

[2021-07-08 08:23] exup commented on #18422
Hi same here, I even registered for an account and put the API key in but same message.

"Retrying setup: Error occurred while communicating with Forecast.Solar API"

Core Version core-2021.7.0  and supervisor-2021.06.8
Error log also shows
Logger: homeassistant.config_entries
Source: config_entries.py:324
First occurred: 5:30:18 PM (1 occurrences)
Last logged: 5:30:18 PM

Config entry 'city and n

[2021-07-08 09:04] klaasnicolaas commented on #18422
I see more people getting the same error. Could you give me all your entered data from the config flow, then I'll see if I can reproduce the problem in my dev environment.

Ps. @frenck can you transfer this issue to core? 😄

[2021-07-08 09:08] exup commented on #18422
Hi, not sure what you mean. Are you suggesting the values I put into the configuration like Azimuth inclination etc, only I would not like to post that publicly. I can PM you via email if that helps.

[2021-07-08 09:13] frenck commented on #18422
Hi there @fhopley 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. There is no amount of documentation we can adjust to fix a bug in the code.

Please raise an issue in the Home Assistant core issue tracker instead:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-07-08 09:13] #18422 closed, assigned to frenck, klaasnicolaas

[2021-07-08 09:16] ghost opened #18428 "Please would you like to update the information for TTNv3"
### Feedback

Dear,

Would you please update the information to match with the current situation of TTNv3.

The setup part about the API key does not match.

The sensor part of the TTN does not match. I've added the "storage" thing but for example _"You could check the output after clicking on go to platform in an interactive web interface."_ does "go to platform" does not seems to excist.

Below

[2021-07-08 13:21] jonisnet opened #18432 "Utility meter doesn't work correctly after update to 2021.7.0"
### Feedback

Since the new Version (2021.7.0) of the core the method for DSMR doesn't work any more.
the result will be the total sum of the template and will not show the current day or month only.

![prtscr development tools](https://user-images.githubusercontent.com/82890949/124928128-a3a3af00-dfff-11eb-91fc-e681aa115759.png)
![prtscr utility meter yaml files](https://user-images.githubusercon

[2021-07-08 14:02] jonisnet commented on #18432
After watching the lovelace a short while i think the problem is that the kWh value showed on daily and monthly is total meters minus today instead of today only.
Hoop this helps.

Greetz Kees

[2021-07-08 14:08] Maxxell opened #18434 "I think you should add mention of the new "Trigger.ID" in the page about Automation Trigger Variables"
### Feedback

I think you should add mention of the new "Trigger.ID" in the page about Automation Trigger Variables.  There's no mention of it yet and it's super useful.

You can put  {{ trigger.id }} into an outbound action and it will spit out the ID of the trigger that started the automation.

I have an automation that closes my water main when a leak sensor detects water.  With this Trigger.ID

[2021-07-08 14:20] dgomes commented on #18432
CC @emontnemery

[2021-07-08 15:18] frenck commented on #18432
Hi there @jonisnet 👋

It seems like you want to report an issue with a Home Assistant integration, however, you have submitted documentation feedback instead.

If you want to submit an issue for an integration, please use the issue tracker here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-07-08 15:18] #18432 closed, assigned to dgomes, frenck

[2021-07-08 17:09] #17667 closed, assigned to nobody

[2021-07-08 17:59] Dutcherik opened #18436 "Configuration multiple connections"
### Feedback

Before the update you could refer to the right modbus connection by using the connection name in variable 'hub'.

# Example
modbus:
  - type: tcp
    host: IP_ADDRESS_1
    port: 2020
    name: "hub1"

  - type: udp
    host: IP_ADDRESS_2
    port: 501
    name: hub2

Now e.g. with old 'registers' you could write:

  - platform: modbus
  scan_interval: 5
  registers:
    - name: Batt

[2021-07-08 18:15] janiversen commented on #18436
The right modbus hub is selected automatically via the yaml structure (see example in documentation). Your example looks correct, so I not sure what is the problem?

[2021-07-08 18:38] Dutcherik commented on #18436
The large example is what I use.

I have 3 variables: power, Hz en freq and I have 2 inverters (sb4000, sb25). But the values returned are the same for both inverters. (power = power, Hz= Hz and freq=freq) Which is so, I think, because only one connection is used.

Before the update It worked fine (with registers and hub etc).

I do not see an example in the documentation with 2 connections and so

[2021-07-08 18:53] janiversen commented on #18436
There is a documentation of multiple connections, albeit without sensors, and I see you did it correct.

Examples can always be better, suggestions (in form of PR) are always welcome.

[2021-07-08 19:08] Dutcherik commented on #18436
OK. So I did it correct. Then it is not a documentation issue, but probably a bug. I ‘ll try to open an issue.

Thank you for your replies!

Van: jan iversen ***@***.***>
Verzonden: donderdag 8 juli 2021 20:54
Aan: home-assistant/home-assistant.io ***@***.***>
CC: Dutcherik ***@***.***>; Author ***@***.***>
Onderwerp: Re: [home-assistant/home-assistant.io] Configuration multiple connections (#1843

[2021-07-08 19:13] chemelli74 commented on #18377
Closed this via #18417

[2021-07-08 19:13] #18377 closed, assigned to chemelli74

[2021-07-08 19:15] janiversen commented on #18436
If you have 2 inverters connected to the same electric circuit, I would for sure hope that power = power, Hz= Hz and freq=freq, otherwise you would have an inbalance in your installation.

Try to look at e.g. solar production.

And you have 2 connections, one going to ip .10 and the other going to .11

[2021-07-08 19:30] Dutcherik commented on #18436
You are right. Hz should be Hz and freq should be freq. But that is not always the case. It differs slightly in practice. Most important Power differs a lot, it is the power production of the inverter in watt. Since the number of solar panels differs also, the power output is not the same at all.
As I wrote, before the modbus update it all worked fine.

Verstuurd vanaf mijn iPad

[2021-07-08 20:45] pkuiBUKVgbvku opened #18437 "recuperator bypass-flap"
### Feedback

How can I read and set the state of the bypass-flap of the recuperator?

### URL

https://www.home-assistant.io/integrations/vallox/

### Version

2021.7.1

### Additional information

At least reading is already working in OpenHAB.

Several other read/write options are sadly only available in OpenHAB and not in HomeAssistant yet (Channel-List).

https://www.openhab.org/addons/bindin

[2021-07-08 20:52] hermanops opened #18438 "scan_interval"
### Feedback

Hi,

What's the default scan interval? The documentation says 1800 seconds, but I think the code has 10 minutes as a default?

### URL

https://www.home-assistant.io/integrations/luftdaten/

### Version

2021.7.1

### Additional information

_No response_

[2021-07-08 23:14] msmith9xr4 opened #18440 "Maybe no longer working"
### Feedback

Error: 500 Server Error: Internal Server Error for url: https://wifiaquatimer.com/get_cu_and_fu_status?controller_serial=mycorrectserial%0A2&faucet_serial=mycorrectvalce%0A2
You will need to restart hass after fixing.

the URL is broken by browser but not sure if that's important.

I can login fine from web and raincloud app. for sure it was working last year in HA. I'm 100% up to da

[2021-07-09 06:05] exup opened #18443 "Update Wiki to make it clear it does not work in ASIA PAC"
### Feedback

Suggest to put a comment to say click here to see if your area is supported.
https://re.jrc.ec.europa.eu/pvg_tools/en/tools.html

So AU NZ CHINA JP KR etc it wont work.

As per feeback in this git hub message. https://github.com/home-assistant/core/issues/52691#issuecomment-876303982
I re read the wiki and found no mention of this fact.

### URL

https://www.home-assistant.io/integra

[2021-07-09 14:17] mikeykau opened #18448 "Mention firmware that doesn’t work"
### Feedback

Should mentioned that it doesn’t support Envoy firmware D7.0.43

### URL

https://www.home-assistant.io/integrations/enphase_envoy/

### Version

2021.7.1

### Additional information

_No response_

[2021-07-09 16:19] kdbulldog opened #18449 "Modern Forms Integration"
### Feedback

I am not sure what it is asking form when it asks for a host in the configuration of the integration.  The documentation does not address this.

### URL

https://www.home-assistant.io/integrations/modern_forms/

### Version

2021.7.1

### Additional information

_No response_

[2021-07-09 16:50] wonderslug commented on #18449
This is the network Hostname or IP address for the Fan in this case.

[2021-07-09 18:00] #17675 closed, assigned to dgomes

[2021-07-10 09:58] aschor opened #18453 "processor_use inconsistency"
### Feedback

ressource is named "processor_use", but the sensor created is named "processor_use_percent" .... shouldn't both be identical ?

### URL

https://www.home-assistant.io/integrations/systemmonitor/

### Version

2021.7.1

### Additional information

_No response_

[2021-07-10 22:00] #17693 closed, assigned to nobody

[2021-07-11 00:00] #17695 closed, assigned to nobody

[2021-07-11 09:58] maurizioalpi opened #18456 "Problem with version 2021.7.1"
### Feedback

hello,
after installation of core 2021.7.1 I have found many issues.
supervisor doesn't restart. all the zones of rainbird are unavailable.

this is the log that I have found:

Logger: aiohttp.server
Source: components/rainbird/__init__.py:4
First occurred: 11:48:14 (1 occurrences)
Last logged: 11:48:14

Error handling request
Traceback (most recent call last):
  File "/usr/local/lib

[2021-07-11 10:34] klaasnicolaas commented on #18456
Hi there @maurizioalpi 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. There is no amount of documentation we can adjust to fix a bug in the code.

Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

Klaas

[2021-07-11 10:34] #18456 closed, assigned to nobody

[2021-07-11 10:36] klaasnicolaas commented on #17796
Hi there @WeterPeter 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. There is no amount of documentation we can adjust to fix a bug in the code.

Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

Klaas

[2021-07-11 10:36] #17796 closed, assigned to nobody

[2021-07-11 10:39] tuxick opened #18457 "Documentation about updating is confusing"
### Feedback

In  section "Best practice for updating a Home Assistant installation" (which is confusing already)
the section about updating Home Assistant Operating System  says
"To update Home Assistant Core when you run Home Assistant Operating System you have 2 options:"
But isn't Home Assistant Core a different beast? Maybe the "Core" bit should be left out/replaced?

### URL

https://www.hom

[2021-07-11 10:40] klaasnicolaas commented on #18453
If I look at the other options, this change would be more in line, but this has to be adjusted in core and then in the documentation.

[2021-07-11 16:11] landandseatechnology opened #18460 "East-West roof configuration"
### Feedback

Good Day,
I like the first implementation of the Forecast.Solar in Home Assistant, and do see a great benefit from it, to automate and plan consumer in the house.
A lot of houses in Europe do have the sloping roof facing east and west, hence one part of the solar panels are installed facing east and the other part of the solar panels are facing west.

It would be great if a multiple

[2021-07-11 16:42] ondras12345 opened #18461 "Docker update instructions miss `stable` tag in `docker pull`"
### Feedback

Update instructions for Home Assistant Container specify that I should update the container like this:
[code]

However, this did not work for me. The first command pulled the absolute latest version (`Using default tag: latest`) and the subsequent `docker run` kept the old stable version 2021.6.6. I had to replace the first command with this to get to 2021.7.1:
[code]

I think the pr

[2021-07-11 17:49] Aviatorpaal opened #18463 "Severity ascending or descending color"
### Feedback

I would like a button or command to describe if the gauge should be increasing or decreasing in color as the thresholds are reached

### URL

https://www.home-assistant.io/lovelace/gauge/

### Version

2021.7.1

### Additional information

_No response_

[2021-07-11 18:55] appezatto opened #18464 "Floodlight switch not showing up"
### Feedback

Ring integration page says:

"Once you have enabled the Ring integration, you can start using the light platform. This will add a light for every camera that supports a light (such as a floodlight)."

Not being able to find the light entity on Ring Integration for my recently added/configured Ring Floodlight Wired Plus.

### URL

https://www.home-assistant.io/integrations/ring/

###

[2021-07-11 23:43] klaasnicolaas commented on #18460
Hi there @landandseatechnology  👋

It seems like you want to report an feature request for an Home Assistant integration, however, you have submitted documentation feedback instead. You can raise suggestions for an integration on our [community forum](https://community.home-assistant.io/c/feature-requests/13).

Ps. You can add the integration multiple times for each side and combine the values wit

[2021-07-11 23:43] #18460 closed, assigned to frenck, klaasnicolaas

[2021-07-12 06:06] stefanuytterhoeven opened #18470 "api secret"
### Feedback

api secret only available for coinbase Pro?
it's not available in coinbase (non pro)....

### URL

https://www.home-assistant.io/integrations/coinbase/

### Version

2021.7.1

### Additional information

_No response_

[2021-07-12 06:12] ludeeus commented on #18470
You have this for non-pro as well, but it's only shown when creating the API key, not later when you hit "Show" in their UI

[2021-07-12 06:54] scop opened #18471 "Breaking changes links do not work in blog main page"
### Feedback

Clicking breaking changes links do not work, they do nothing at https://www.home-assistant.io/blog/, and there' are no messages in the console. They do work on per-release pages such as https://www.home-assistant.io/blog/2021/07/07/release-20217/

Tested with current Ubuntu 20.04 Firefox and Chromium.

### URL

https://www.home-assistant.io/blog/

### Version

_No response_

### Addi

[2021-07-12 07:32] emontnemery opened #18473 "Remote documentation is outdated"
### Feedback

Documentation for the remote entity is outdated with no documentation for `remote.learn_command`, `remote.send_command`, `remote.delete_command`

### URL

https://www.home-assistant.io/integrations/remote

### Version

_No response_

### Additional information

_No response_

[2021-07-12 07:33] emontnemery commented on #18473
@felipediel `delete_command` was added in https://github.com/home-assistant/core/pull/40605, could you take a stab at user-facing documentation for it?

[2021-07-12 07:50] TomBrien commented on #18470
Yep the secret is only ever shown one time in the pop up after creating the API key. You can create the a new key and delete the old one
![image](https://user-images.githubusercontent.com/12411302/125250435-28d3e000-e2ee-11eb-90e8-e37b587b4c21.png)

[2021-07-12 07:50] #18470 closed, assigned to TomBrien

[2021-07-12 09:17] #18471 closed, assigned to nobody

[2021-07-12 10:21] frenck commented on #18437
Thank you for reaching out. We use GitHub for tracking documentation suggestions, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-07-12 10:21] #18437 closed, assigned to nobody

[2021-07-12 10:41] frenck commented on #17766
It is actually the very first sentence of the paragraph:

![image](https://user-images.githubusercontent.com/195327/125274659-795b3580-e30e-11eb-8c9a-4193c1f8d20d.png)

If any of them changes.

[2021-07-12 10:41] #17766 closed, assigned to nobody

[2021-07-12 10:49] #18438 closed, assigned to frenck

[2021-07-12 10:49] frenck commented on #18440
Hi there @msmith9xr4 👋

It seems like you want to report an issue with an Home Assistant integration, however, instead, you have submitted documentation feedback instead. There is no amount of documentation we can adjust to fix issues.

Please report issues with an Home Assistant integration here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-07-12 10:49] #18440 closed, assigned to nobody

[2021-07-12 11:03] #18461 closed, assigned to nobody

[2021-07-12 11:12] frenck commented on #18457
Nope, the wording is correct.
All installation methods run the Core.

[2021-07-12 11:12] #18457 closed, assigned to nobody

[2021-07-12 11:36] #17817 closed, assigned to nobody

[2021-07-12 11:58] frenck commented on #18463
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-07-12 11:58] #18463 closed, assigned to nobody

[2021-07-12 12:24] frenck commented on #18464
Hi there @appezatto 👋

It seems like you want to report an issue with an Home Assistant integration, however, instead, you have submitted documentation feedback. There is no amount of documentation I can adjust to fix an integration issue.

Could you please raise issues with integration in the issue tracker?

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-07-12 12:24] #18464 closed, assigned to balloob

[2021-07-12 12:45] frenck commented on #17795
not stale, needs adjustment.

[2021-07-12 14:03] appezatto commented on #18464
Well. I can certainly do that, however, either the documentation is incorrect or the integration is not working as expected. Either way, you as the documentation owner should be concerned and also interested in getting either fixed. Will submit the issue.

From: Franck Nijhof ***@***.***>
Sent: Monday, July 12, 2021 7:25 AM
To: home-assistant/home-assistant.io ***@***.***>
Cc: appezatto ***@***.**

[2021-07-12 14:42] frenck commented on #18448
Is that a bug? or designed as such?

[2021-07-12 15:33] Alan-Guggenheim opened #18478 "My TV Entity is apparently turning on and off all the time, even when the actual TV is off."
### Feedback

This is creating a lot of log entries, and mostly it is messing up my lights Automation, which is triggered by the state of the TV entity.
July 12, 2021
Samsung Q90 85 Living room turned off
10:10:21 AM - 22 minutes ago
Samsung Q90 85 Living room turned on
10:10:04 AM - 23 minutes ago
Samsung Q90 85 Living room turned off
10:05:20 AM - 28 minutes ago
Samsung Q90 85 Living room turned

[2021-07-12 15:39] #17673 closed, assigned to nobody

[2021-07-12 16:03] RobJ835 opened #18480 "Light Groups Expanded Detail"
### Feedback

The documentation shows a single light group being defined in the configuration.yaml

However, I'm not seeing how to create multiple groups without the yaml being deemed invalid.

Not sure the solution to this, and i'll keep looking online, but I feel this should be something in the base documentation.

### URL

https://www.home-assistant.io/integrations/light.group/

### Version

20

[2021-07-12 16:04] frenck commented on #18181
Hi there @Padi1111 👋

Thank you for reaching out, it seems like you have a feature request, however, you have submitted documentation feedback instead.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5D

[2021-07-12 16:04] #18181 closed, assigned to fabaff

[2021-07-12 16:08] frenck commented on #18480
The example shows each light group being an item in the list. You can add more items if you like, as it is a list. This is basic YAML logic. I suggest reading into YAML basics if this raises questions for you.

As for an example:

[code]

Hopefully, that makes things more clear.

[2021-07-12 16:08] #18480 closed, assigned to nobody

[2021-07-12 18:59] mshuflin opened #18481 "Include a list of available regions"
### Feedback

Ambee seems to support some areas (e.g. United States) but not others (e.g. Malaysia) when configuring, there is no error feedback suggesting that the problem is the coordinates. A list of locations that will work would be helpful for the documentation.

### URL

https://www.home-assistant.io/integrations/ambee/

### Version

2021.7.1

### Additional information

_No response_

[2021-07-12 19:00] frenck commented on #18481
They don't provide such a list.

[2021-07-12 19:11] mshuflin commented on #18481
Then maybe something like this, "Ambee is not available in all regions. The error, 'failed to connect' during configuration could mean Ambee is not available for your coordinates"

[2021-07-12 19:13] frenck commented on #18481
There is an issue open for that, as that is not handled correctly. Documentation based on an issue sounds a bit backward.

[2021-07-13 00:53] #18481 closed, assigned to frenck

[2021-07-13 01:22] #17731 closed, assigned to nobody

[2021-07-13 05:00] #17733 closed, assigned to nobody

[2021-07-13 05:40] zolstarym opened #18484 "ecobee integration page should have links to climate integration page"
### Feedback

Feedback

For a user with an ecobee thermostat who installs the integration and then looks at the ecobee integration page for info on service calls, there should be a link to the climate page (https://www.home-assistant.io/integrations/climate/), since that has service calls listed in it that control ecobee thermostats that might otherwise be unknown to the user, since it might not b

[2021-07-13 06:10] maxl67 opened #18485 "Integrations: dwd_weather_warnings link to DWD Documentation broken"
### Feedback

The link into DWD Documentation is broken.
New link is:
https://www.dwd.de/DE/leistungen/opendata/help/warnungen/warning_codes_pdf.pdf?__blob=publicationFile&v=5

### URL

https://www.home-assistant.io/integrations/dwd_weather_warnings/

### Version

2021.7.2

### Additional information

Attention: the numbers identifying different weather types have been changed.

[2021-07-13 10:24] #18485 closed, assigned to frenck

[2021-07-13 17:36] cgarwood opened #18498 "SMA sensor tables not rendered correctly"
### Feedback

The tables listing the different sensors are not correctly rendered:
![image](https://user-images.githubusercontent.com/7545841/125499334-fcbf41af-e5ed-47b0-9be5-3cab0df700f5.png)

### URL

https://www.home-assistant.io/integrations/sma/

### Version

2021.7.2

### Additional information

_No response_

[2021-07-13 17:54] frenck commented on #18498
@cgarwood PR in #18499

[2021-07-13 18:02] #18498 closed, assigned to frenck

[2021-07-13 18:25] mginsburg opened #18500 "Abode Cam 2 does not work with current Abode Integration"
### Feedback

### The problem
Abode recently released their [Abode Cam 2](https://goabode.com/security-devices/security-cameras/abode-cam-2). While the Abode HA Integration has documentation for camera support, it appears the new Cam 2 does not work with the existing integration out of the box.

### What is version of Home Assistant Core has the issue?
Home Assistant 2021.7.2

### What was the las

[2021-07-13 20:56] ryphez opened #18501 "Unifi Integration Options (Uptime/Rx/Tx) can cause large DB increases"
### Feedback

I'd suggest adding a warning to the integration for Unifi as the entities that get created have an extremely high write frequency which added 10s of GBs in a short time to my logs. There is a similar post existing in the community warning about this https://community.home-assistant.io/t/be-very-careful-with-the-unifi-integration-and-im-sure-others-as-well/322073

A suggestion to use

[2021-07-13 21:49] gator73 opened #18502 "Integration will no longer work with American Standard"
### Feedback

American Standard recently released their own app. It no longer uses mynexia.com for login. The new AS login site is  https://asairhome.com/  As a result, this integration no longer works with American Standard tstats.

### URL

https://www.home-assistant.io/integrations/nexia/

### Version

2021.7.2

### Additional information

_No response_

[2021-07-14 00:01] #17746 closed, assigned to Danielhiversen

[2021-07-14 03:00] #17661 closed, assigned to nobody

[2021-07-14 04:13] allenporter commented on #17835
Still relevant

[2021-07-14 05:23] jluo98 opened #18507 "Apple TV integration compatibility issues with tvOS 15 beta"
### Feedback

The Apple TV integration is not working with the tvOS 15 beta. HA returns an error `A problem occurred while pairing protocol MRP. It will be ignored.` on the first stage.

### URL

https://www.home-assistant.io/integrations/apple_tv/

### Version

2021.7.2

### Additional information

_No response_

[2021-07-14 06:53] stefanuytterhoeven commented on #18470
apparently it's only for coinbase pro?

[2021-07-14 06:57] ludeeus commented on #18470
I do not have pro, and got the same screen as @TomBrien shared when testing

[2021-07-14 07:18] frenck commented on #18507
Hi there @Steve-luo 👋

It seems like you want to report an issue with an Home Assistant integration, however, instead, you have submitted documentation feedback. There is no amount of documentation I can adjust to fix an issue in the integration itself.

Please report issues with Home Assistant integrations in the Core issue tracker:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../

[2021-07-14 07:18] #18507 closed, assigned to nobody

[2021-07-14 08:22] frenck commented on #18502
Hi there @gator73 👋

It seems like you want to report an issue for this integration, however, you have submitted documentation feedback instead. There is no amount of documentation we can adjust to fix this issue.

Please report issues with Home Assistant integration in the Core issue tracker:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-07-14 08:22] #18502 closed, assigned to bdraco

[2021-07-14 09:32] frenck commented on #18501
I get that this integration might drive it a little harder, so it might be useful to add a note to the integration page somewhere.

That said, this of course applies to every single entity that has frequent updates.

[2021-07-14 12:28] Sennahoi commented on #18344
Yes, there are also some information on the library's page:

Source: https://python-fints.readthedocs.io/en/latest/quickstart.html

Because I'm also interested in this integration, I could check whether we can register Home Assistant to get a valid registration id which is needed to make API calls now.

But I can't just try a registration for project, can't I?

[2021-07-14 13:23] ghost commented on #18428
@fabaff

The strange thing is, I tried changing the "App ID" of the example:
[code]
I tried the "application ID" and the "End device ID" here, now I just added the here "the name of the API".... is this the right value sinds the above mentioned error in the log changes to this other error below when rebooting:

[code]
Does this mean I have found the right value, and it is trying to acces a TTNv2 A

[2021-07-14 13:34] TRusselo commented on #2927
documentation instructions no longer work.
https://www.home-assistant.io/integrations/torque/

[2021-07-14 13:38] frenck commented on #2927
@TRusselo This is an closed issue from 2017, please don't bump stuff that old. Thanks 👍

[2021-07-14 13:55] robchandhok commented on #18256
@benleb I'd be happy to work on the docs (entities and other instructions) but should I wait until your aforementioned "big update"?  Also happy to test if that's useful.  and thank you!

[2021-07-14 14:03] gator73 commented on #18502
Sorry for the incorrect post, new to this format.

Thanks for the redirect.

⁣Get BlueMail for Android ​

On Jul 14, 2021, 3:22 AM, at 3:22 AM, Franck Nijhof ***@***.***> wrote:

[2021-07-14 14:11] benleb commented on #18256
Hey, [sureha](https://github.com/benleb/sureha) is the upcoming version I am currently porting to get merged into home assistant (https://github.com/home-assistant/core/pull/52206) :) If you keep that in mind, I think theres no problem 👍

[2021-07-14 15:12] sekt1953 opened #18510 "Enable i2c for argon40"
### Feedback

I have to enable i2c on home assistant os befor start of installation
I follow this link https://www.home-assistant.io/common-tasks/os#enable-i2c-via-home-assistant-operating-system-terminal

but it du not work all the way, so from console I did this

mkdir /tmp/mnt
mount /dev/sda1 /tmp/mnt
cd /tmp/mnt
vi config.txt

found the chapter:
#Uncomment some or all of thise to enable the op

[2021-07-14 17:14] flirtysanchez commented on #18344
Thanks for the Feedback. I'm from Germany and I'm also working in a bank for electronic banking support.

Maybe I can help by the registration process and testing?!

[2021-07-14 17:50] frenck commented on #18510
That is what is written in the docs? You describe a slightly different method, but the result it the same.

[2021-07-14 18:18] NotSoScientific opened #18511 "Update Installation Python Module"
### Feedback

Please consider updating the installation guide for the Home Assistant Core. The guide reads under the CREATE THE VIRTUAL ENVIRONMENT section:

[code]

This should be updated to `python3.9` as follows:

[code]

The installation process halts when using `python3.8` since this is an older version which has been updated to `python3.9`.

### URL

https://www.home-assistant.io/installatio

[2021-07-14 19:31] sekt1953 commented on #18510
hej

if i follow thise step it do not work
echo dtparam=i2c_vc=on >> /tmp/mnt/CONFIG/config.txt echo dtparam=i2c_arm=on

if I edit config.txt direct
/tmp/mnt/config.txt
it works

that is the thing

Svenn-Erik

Den ons. 14. jul. 2021 kl. 19.50 skrev Franck Nijhof <
***@***.***>:

[2021-07-14 20:30] AalianKhan commented on #16996
This will be still highly useful today

[2021-07-14 21:27] frenck commented on #18511
That depends on the environment you have set up. Python 3.8 is the current minimum version we support.
This is an advanced installation method, for which we expect our users to be able to adapt to their situation. If one isn't able to do that, we don't recommend using this installation method.

[2021-07-14 21:27] #18511 closed, assigned to nobody

[2021-07-14 21:36] frenck commented on #18510
That is expected, as that is not was it written in the manual. you are missing a new line there, those are separate commands.

Nevertheless, glad you have figured out a method that works for you 👍
At this point, the documentation is correct though, therefore closing the issue on this end.

[2021-07-14 21:36] #18510 closed, assigned to nobody

[2021-07-14 21:47] NotSoScientific commented on #18511
Fair enough, thanks for the feedback!

[2021-07-14 23:45] mikeykau commented on #18448
I think its a bug, I have logged a bug but no one seems interested to investigate it, so in the mean time I think the documentation needs updating so no one tears their hair out trying to get something to work that wont.

[2021-07-15 00:06] egesanli619 opened #18513 ""code expired""
### Feedback

I'm trying to setup google calendar integration. I need to click on a link on a home assistant notification, then write a code on the same notification. The problem is, this notification only shows for a moment. than it says "Authentication code expired, please restart Home-Assistant and try again". I'm restarting but nothing changes.

### URL

https://www.home-assistant.io/integrati

[2021-07-15 00:07] ryphez commented on #18501
I cleaned up my DB yesterday and I went from 22GB to 9GB with 51 entities on Unifi. Sharing the recording frequency I think would be the most beneficial as uptime is recorded every 1 second with default Recorder settings

[2021-07-15 04:53] sekt1953 commented on #18510
sorry Franck
I did this, and it did not work:
if i follow thise step it do not work
echo dtparam=i2c_vc=on >> /tmp/mnt/CONFIG/config.txt
echo dtparam=i2c_arm=on >> /tmp/mnt/CONFIG/config.txt

if I do this:
echo dtparam=i2c_vc=on >> /tmp/mnt/config.txt
echo dtparam=i2c_arm=on >> /tmp/mnt/CONFIG/config.txt
it do not work, the dtparm wil bee added to the [All] section of the
config.txt file, so I had

[2021-07-15 07:14] andrey170183 opened #18516 "How to set iframe size?"
### Feedback

It would be nice to set the dimensions of the iframe

### URL

https://www.home-assistant.io/lovelace/iframe/

### Version

2021.7.2

### Additional information

_No response_

[2021-07-15 07:29] frenck commented on #18516
Hi there @andrey170183 👋

Thank you for reaching out. It seems like you want to submit a feature request, however, you have provided documentation feedback instead.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://d

[2021-07-15 07:29] #18516 closed, assigned to nobody

[2021-07-15 07:37] frenck commented on #18448
In general, we don't document bugs 🤷

[2021-07-15 07:39] frenck commented on #18513
Hi there @egesanli619 👋

I'm not sure if you want to report a bug or are seeking for support... In either case, you have submitted documentation feedback, which is not going to provide either.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer

[2021-07-15 07:39] #18513 closed, assigned to nobody

[2021-07-15 07:39] frenck commented on #18501
That sounds like an integration bug, as uptime sensors should only update once every time they come online.

[2021-07-15 07:52] Sennahoi commented on #18344
Since I don't know who to mention here, I'll bring this topic to the developer forum inside the HA community.

See https://community.home-assistant.io/t/fints-access-needs-product-id/322464

[2021-07-15 08:46] ludeeus commented on #16996
I made a concept to add filters yesterday <https://deploy-preview-18512--home-assistant-docs.netlify.app/integrations/>.
If anyone want to continue on that approach [here are the source](https://github.com/home-assistant/home-assistant.io/pull/18512/files)

It was fast thrown together so it's far from ready but should give a starting point, it would need at least:
- Better styling at least for des

[2021-07-15 09:18] Kane610 commented on #18501
Yes I've started to look how to minimize the rounding errors of the uptime sensor

[2021-07-15 10:03] frenck commented on #17945
the confidence value is a feature of the image processing integration, not the TensorFlow integration.

[2021-07-15 12:00] #17760 closed, assigned to nobody

[2021-07-15 12:12] baracoder opened #18522 "REST API Turn the light on example not working"
### Feedback

The example on https://developers.home-assistant.io/docs/api/rest
In `/api/services/<domain>/<service>`  "Turn the light on"
does not work with Home Assistant 2021.7.1
[code]

I tried to adapt the example to my local instance. It only works if i replace `switch` with `light`

Does not work:
[code]

Works:
[code]

### URL

https://developers.home-assistant.io/docs/api/rest

### Versio

[2021-07-15 12:38] frenck commented on #18522
The example given is correct:

![image](https://user-images.githubusercontent.com/195327/125789194-f89edbfc-8afe-4176-951e-fa78e47aa944.png)

It uses the switch service to turn on a switch entity. If you need to turn on light entities, sure you need to adopt it to your use case (same for things like fans, vacuum cleaners).

It works exactly as within Home Assistant itself, were you cannot use the

[2021-07-15 12:38] #18522 closed, assigned to nobody

[2021-07-15 12:49] baracoder commented on #18522
Oh, I see now. I was confused by the wording "Turn the light on"

[2021-07-15 13:25] azrael783 commented on #18055
See: https://github.com/home-assistant/home-assistant.io/pull/18523

[2021-07-15 13:30] #18055 closed, assigned to nobody

[2021-07-15 13:39] DavidBurela commented on #18093
I had it working previously.
I just did a fresh install, and need to configure Garmin Connect integration again.
But now it gets stuck with a spinning wheel.

The same credentials let me log into the garmin comedy website directly. So it isn't a password or 2FA issue
I'm on core-2021.7.2, supervisor-2021.06.8

Edit:
After more research, seems there is a looong thread of the team trying to fix it.

[2021-07-15 13:41] azrael783 commented on #18048
How did you setup your recorder? Mine is only saving the data of 7 days in a MariaDB. In addition I use an InfluxDB to keep the data for more than 7 days.
My HA does an automatically purge of the Maria DB. I don't think that you can keep only a few data in and purge the rest.

[2021-07-15 14:06] geberl commented on #18093
The version from https://github.com/cyberjunky/home-assistant-garmin_connect works for me, in HA 2021.6.6. The version that's comes bundled with HA 2021.6.6 still doesn't.

I found out about this solution in https://github.com/home-assistant/core/issues/50822#issuecomment-876201506

[2021-07-15 18:00] #17763 closed, assigned to pvizeli

[2021-07-15 20:02] RuntimeError123 opened #18526 "Some sensors have no unique id"
### Feedback

Sensors
- sensor.envoy_current_energy_consumption,
- sensor.envoy_current_energy_production,
- sensor.envoy_last_seven_days_energy_consumption,
- sensor.envoy_last_seven_days_energy_production,
- sensor.envoy_lifetime_energy_consumption,
- sensor.envoy_lifetime_energy_production,
- sensor.envoy_today_s_energy_consumption and
- sensor.envoy_today_s_energy_production

Have no unique id

[2021-07-15 21:44] felipediel commented on #18473
Hi @emontnemery.

These services are relatively new. Not all integrations have implemented them yet, so the documentation may vary.

I created them when I was implementing new features in the Broadlink integration, so it has all the services and the [docs](https://www.home-assistant.io/integrations/broadlink) are up to date, we can basically copy and paste from there, but as I said, they are not 1

[2021-07-15 23:00] #17767 closed, assigned to nobody

[2021-07-16 07:11] frenck commented on #18526
See: <https://www.home-assistant.io/faq/unique_id/>

![image](https://user-images.githubusercontent.com/195327/125907237-baea168b-14bd-4169-89bb-d0e718bb63d7.png)

[2021-07-16 07:11] #18526 closed, assigned to nobody

[2021-07-16 07:38] RuntimeError123 commented on #18526
@frenck I think it would be a great addition if unique ID's could be included to these entities as I prefer to have the entity ID follow a naming scheme and as these entities don't have a unique ID, the entity ID cannot be renamed. Also I believe that many people like to disable the entities they do not actively use. That is also not possible for these entites.

[2021-07-16 15:18] ryangottlieb opened #18531 "Manually change IP Address"
### Feedback

It would be nice to be able to manually adjust the ip address.  (Was setup when PW was on wifi, and just switched to ethernet)

### URL

https://www.home-assistant.io/integrations/powerwall/

### Version

2021.7.3

### Additional information

_No response_

[2021-07-16 15:28] deosrc commented on #14784
Still relevant

[2021-07-17 05:00] #17788 closed, assigned to fabaff

[2021-07-17 10:00] #17791 closed, assigned to rytilahti

[2021-07-17 10:01] fredvd opened #18533 "Adding multiple shelly integrations is not clear from the documentation"
### Feedback

The shelly integration works different from many other integrations when you want to add multiple device through the UI.  I was already a bit confused after reading the integration page that during adding the shelly integration I had to provide a Host/Device IP when the documentation says the integration can work by local push: I configure the homeassistant server it's AIP and CoiOP

[2021-07-17 10:10] thecode commented on #18533
Hi @fredvd,
Shell devices supports using authentication to connect to them, a user may set different credentials to each shelly and in that case using a single integration as suggested above will not work.

This issue was discussed between Shelly integration developers, and although it has some impact on the user experience vs one integration entry, this is the only way to support different creden

[2021-07-17 12:07] fredvd commented on #18533
Thank you for your feed back.  Now I understand the motivation for using the multiple integrations. But my point is this is not mentionned at all in the integration documentation or the setup screen of the integration. And it works contrary to the other integrations. Would it be ok to add this more explicit to the documentation and the integration setup page?

This is not what I experienced when a

[2021-07-17 13:04] #17794 closed, assigned to nobody

[2021-07-17 15:36] drphungky commented on #17865
The referenced page still conflates the two concepts. It's probably easier to call it, "How to add entities", and change very little. Then a page about how integrations add devices, which are made up of entities. This confused me for months when I was new - it definitely needs fixed in the intro documentation.

[2021-07-17 16:07] raoulteeuwen opened #18535 "Optimization in enroll & delete"
### Feedback

Thanks for that integration to anyone that contributed.

My HA reported i had a new integration > i looked > Spotify. So, naive me, i click configure, enter my Spotify credentials and ... nothing. Tried a couple of times. Gave up. Now i see 3 rows on config/integrations in the Spotify integration, all with red exclamation marks. Whatever i tried, they won't disappear. Studying the do

[2021-07-17 17:21] shlomki opened #18536 "Code example of template binary_sensor is incorrect (doesn't pass config validation)"
### Feedback

The following two pieces of code do not pass configuration validation.
The error is:

The reason for this is because binary_sensor doesn't need a minus (-) before it.
When I removed the minus, the config passes validation.
Perhaps this is something that needs to be fixed in and of itself in HA, but for now, the documentation is wrong.

![image](https://user-images.githubusercontent.c

[2021-07-17 19:00] #17765 closed, assigned to rytilahti

[2021-07-18 04:34] Spiffieman opened #18539 "Notification of when Remote Start/Lock could be available"
### Feedback

Hi there. Whoever wrote this is awesome. I just got into HASS stuff and finding that my car has an integration is fantastic. How would I be notified when the integration is able to do the remote start/lock, etc?

### URL

https://www.home-assistant.io/integrations/subaru/

### Version

2021.7.3

### Additional information

Thank you! Amazing work!

[2021-07-18 14:51] thecode commented on #18533
Since you are describing a problem here and not a documentation error, please open a case on the core repo, devices should be discovered without any need to add the integration for the first time

[2021-07-18 15:39] klaasnicolaas commented on #18533
Hi there @fredvd 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. At this point there is no reason to change the documentation.

Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

Klaas

[2021-07-18 15:39] #18533 closed, assigned to bieniu, balloob, thecode, chemelli74

[2021-07-18 18:49] LucTs opened #18545 "Repo for Homematic IP communication not supported anymore"
### Feedback

Hi,

the owner of the repo which is used to communicate with HM IP Servers is not supporting/continouing the work anymore.

https://github.com/coreGreenberet/homematicip-rest-api/issues/383

Maybe you can update that on the integration description and also support to find a successor.

### URL

https://www.home-assistant.io/integrations/homematicip_cloud/

### Version

2021.7.3

###

[2021-07-18 19:09] girlpunk commented on #17794
This is still outstanding

[2021-07-18 23:20] G-Two commented on #18539
Hi @Spiffieman, thanks for the feedback! I just put in a [PR](https://github.com/home-assistant/core/pull/52852) to add remote lock/unlock to the integration. Once it is approved, it will be merged into the main Home Assistant Core repo. There's a pretty good chance it'll be approved in time to make release 2021.8. Following that, I'll add services, including remote engine start/stop.

If you don'

[2021-07-19 02:14] Spiffieman commented on #18539
Hi Garrett -thank you! Do you know off hand why I keep on getting an " Message
malformed: expected dict for dictionary value @
data['sequence'][0]['data']" error message when trying to create a script
to call the remote start service? The full 17 character vin is in there.

sequence:
  - service: subaru.remote_start
    data: 4S4WMAPD*********
mode: single
alias: Start Subaru

The plan would be to

[2021-07-19 02:30] G-Two commented on #18539
Looks like a YAML formatting issue in your code. Data is expected to be a dict, and vin is required key.
[code]
In Developer Tools you can play with the services to verify the integration works. There's a good example of a dashboard [here](https://github.com/G-Two/homeassistant-subaru/discussions/13) with all the remote services exposed as buttons.

[2021-07-19 02:51] Spiffieman commented on #18539
Awesome, thanks!

On Sun, Jul 18, 2021, 19:30 Garrett ***@***.***> wrote:

[2021-07-19 03:33] dbarlocker opened #18547 "More commands"
### Feedback

It would be nice there were more commands for this integrations. Could you add the 2 menu buttons, the triggers and the bumpers.

### URL

https://www.home-assistant.io/integrations/xbox/

### Version

2021.7.3

### Additional information

_No response_

[2021-07-19 04:00] hunterjm commented on #18547
GitHub issues are for problems with the integration, not feature requests. The community forum has a feature request section. That being said, Xbox does not expose input for the bumper buttons in their API.

[2021-07-19 04:00] #18547 closed, assigned to hunterjm

[2021-07-19 08:07] atebeta opened #18548 "Getting the Device ID to use for the send command service"
### Feedback

It took me a while to figure out that in order to get the device ID that is used for the bridge parameter when calling the system_bridge.send_command service you need to go to Developer Tools -> Services and select the  system_bridge.send_command in GUI mode, then you can select your bridge, then switch to YAML mode which reveals the identifier.

This should be included in the docume

[2021-07-19 08:17] frenck commented on #18548
The device ID is a UI-specific feature and not created for manual use. That said, you can use it that way, but... it was not meant to be used like that, thus not documented as such.

[2021-07-19 08:17] #18548 closed, assigned to nobody

[2021-07-19 08:18] frenck commented on #18539
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-07-19 08:18] #18539 closed, assigned to nobody

[2021-07-19 08:19] frenck commented on #18545
The documentation is for the end-user of Home Assistant, not the developer. Therefore, I don't think that such a mention is fitting for our documentation.

Nevertheless, thanks for you suggestion 👍

[2021-07-19 08:19] #18545 closed, assigned to nobody

[2021-07-19 08:22] atebeta commented on #18548
Fair enough, but what if you just wanted to use the send_command service in a script or an automation? Or is the only intended use via the Developer Tools -> Services?

Edit: Nevermind, realise that the same interface will be available in the script and automation GUI on Lovelace. I'm just used to doing everything in YAML.

[2021-07-19 08:52] frenck commented on #18531
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-07-19 08:52] #18531 closed, assigned to bdraco

[2021-07-19 09:02] frenck commented on #18535
This change has been slowly rolling out, I have a task to update the documentation today.

[2021-07-19 09:31] benjycov opened #18550 "iAqualink Limitation"
### Feedback

The iAqualink integration as stands only supports the 'Jandy' (US Pool Systems), the european 'Zodiac' systems such as Exo IQ are not supported.

### URL

https://www.home-assistant.io/integrations/iaqualink/

### Version

2021.7.3

### Additional information

_No response_

[2021-07-19 11:13] frenck commented on #17901
The instructions have been updated on how to work with accounts that have two factor authentication.

[2021-07-19 11:13] #17901 closed, assigned to Quentame

[2021-07-19 15:33] frenck commented on #18313
This is not a typo, both are common occurances.

[2021-07-19 15:33] #18313 closed, assigned to nobody

[2021-07-19 16:14] flz commented on #18550
That's an underlying library limitation. Feel free to open an issue [there](https://github.com/flz/iaqualink-py).

[2021-07-19 16:52] frenck commented on #18550
@flz This is end-user documentation feedback that is given. Maybe the integration page should list supported devices?

[2021-07-19 17:13] benjycov commented on #18550
In essence iAquaLink is an authentication layer for two different families of devices. If I add the integration and the login, it authenticates then throws an error because I have the Zodiac device.

I can list devices it won’t work with if that helps? I’m not family with the devices it will work with.

[2021-07-19 17:22] frenck commented on #18550
We should list what we know what does work, not the other way around.

[2021-07-19 17:26] benjycov commented on #18550
I agree!

On Mon, 19 Jul 2021 at 19:23, Franck Nijhof ***@***.***>
wrote:

[2021-07-19 17:59] frenck commented on #17983
Hi there @andys73 👋

I stumble upon this issue, and I noticed that it tries to report a bug. However; you have submitted documentation feedback. We cannot fix this issue by adjusting documentation.

Issues with Home Assistant integrations should be reported here:

<https://github.com/home-assistant/core/issues>

Sorry for not spotting this sooner!

../Frenck

[2021-07-19 17:59] #17983 closed, assigned to nobody

[2021-07-19 18:11] flz commented on #18550
Oh, my bad. Didn't realize this was the docs repo.

Depending on what the error is, it might not be a ton of work to add support. Could you copy/paste it here.

[2021-07-19 18:19] frenck commented on #18198
I cannot reproduce or understand the problem you are raising?
YAML & UI mode dashboards can be mixed and match. And yes, if you change a dashboard, you'd have to look at the dashboard you've changed to see the actual changes... That sounds logical already?

[2021-07-19 18:20] frenck commented on #18008
Hi there, just spotted this one.

It seems like you are trying to request/suggest a new feature, however, you have submitted documentation feedback instead.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.g

[2021-07-19 18:20] #18008 closed, assigned to nobody

[2021-07-20 03:35] kirstenak opened #18557 "Uninstall HA on Windows"
### Feedback

Onboarding hung, so I closed the window and now I cannot get back in!  I started the hass.cmd again, but it wants me to sign into the installation I started to set up, but was not completed by HA!

I had copied my password to save later, but it did not go to the clipboard. Now I have tried hard as I might to remember the password, it was not too hard, but I cannot get in. Maybe the u

[2021-07-20 09:20] frenck commented on #18557
Hi there @kirstenak 👋

Seems like you are looking for support, however, you have submitted documentation feedback instead.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Additionally, this page in our

[2021-07-20 09:20] #18557 closed, assigned to nobody

[2021-07-20 12:01] #18384 closed, assigned to frenck

[2021-07-20 12:01] #17956 closed, assigned to nobody

[2021-07-20 14:27] TKpizza opened #18562 "climate.set_temperature Heat_cool not working."
### Feedback

I can set my nest thermostat to heat cool but when i try to do it through a service call of climate.set_temperature it doesnt work.

### URL

https://www.home-assistant.io/integrations/nest/

### Version

2021.7.3

### Additional information

_No response_

[2021-07-20 15:06] allenporter commented on #18562
@TKpizza Thank you for the report.  Would you mind including details of the call you're making and the expected result? This will help make sure I understand the issue, since this is not something I regularly do

[2021-07-20 15:43] TKpizza commented on #18562
service: climate.set_temperature
data:
  hvac_mode: heat_cool
  target_temp_high: 71
  target_temp_low: 66
target:
  entity_id: climate.guest_main_floor

im trying to set the thermostat to Heat Cool with a high of 71 and low of 66

[http://imgur.com/a/io7P5D9](url)

[2021-07-20 17:44] ghost commented on #18428
UPDATE If anyone reads this who has the same problem: I Just heard this integration doesnt work with the current TTNv3. It's written for v2, but that info is not in the current documentation. And if you're a new user, you can't acces the v2!
I won't close this post then, since there is still an urgency for this integration/documentation.

[2021-07-20 20:00] #17836 closed, assigned to nobody

[2021-07-21 08:57] rzulian opened #18571 "Path e navigate_path are incomplete"
### Feedback

When you are using multiple dashboards created using the UI, the path of the dashboard is `lovelace-name_of_dashboard`.
This info is completely missing in the doc

### URL

https://www.home-assistant.io/lovelace/dashboards-and-views/

### Version

2021.7.3

### Additional information

_No response_

[2021-07-21 09:56] benjycov commented on #18550
The error reported by the integration is:

No systems detected or supported
19 July 2021, 11:25:37 – (ERROR) Jandy iAqualink

On Mon, 19 Jul 2021 at 20:12, Florent Thoumie ***@***.***>
wrote:

[2021-07-21 13:50] stefanuytterhoeven commented on #18470
Thx. Need to try it again then...

Op ma 12 jul. 2021 08:12 schreef Joakim Sørensen ***@***.***>:

[2021-07-21 21:47] Xesyliad opened #18574 "Control4 Beyond Lights"
### Feedback

Will there be an opportunity to add other Control4 integrations beyond just lights, for example Relays and Scenes? I have additional integrations such as relays for gates and doors, as well as scenes associated with those relays which are through Control4 that are not exposed to HomeAssistant.

Thanks.

### URL

https://www.home-assistant.io/integrations/control4/

### Version

2021.

[2021-07-21 21:50] frenck commented on #18574
Hi there @Xesyliad 👋

It seems like you have a question, however, you have submitted documentation feedback.

If you are in need of support or have general questions, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

To answer your ques

[2021-07-21 21:50] #18574 closed, assigned to nobody

[2021-07-22 12:00] #17849 closed, assigned to nobody

[2021-07-22 12:50] frenck commented on #18306
The documentation has been adjusted for the next release.

[2021-07-22 12:50] #18306 closed, assigned to nobody

[2021-07-22 17:42] davearneson opened #18578 "Blueprints - Using Automation Modes"
### Feedback

It took some digging, but [this blueprint yaml example](https://www.home-assistant.io/docs/blueprint/schema/#example-blueprints) on this page is the only place I could find any documentation referencing the use of automation modes within blueprints.

I saw that this page says "the full schema for an automation applies," but it may still be helpful to add a small section or note regar

[2021-07-22 19:00] #16970 closed, assigned to nobody

[2021-07-22 20:09] frenck commented on #18578
I'm not sure how "everying" is available is confusing for automation modes and not for e.g., triggers? variables?

Don't get me wrong, I try to understand, but it feels weird to highlight just this one...

[2021-07-22 22:04] frenck commented on #17944
![image](https://user-images.githubusercontent.com/195327/126715207-c38cb518-dd69-4600-b1ec-211497219cb7.png)

There is nothing you can do, it is a limitation of the integration used.

[2021-07-22 22:04] #17944 closed, assigned to nobody

[2021-07-22 22:58] davearneson commented on #18578
First of all, I really appreciate all the time and effort you have put into this project.

Regarding this issue, I eventually figured it out, but I had a difficult time interpreting this information using the documentation.

I'm only suggesting adding some clearer guidance because I wanted to try to help make it easier for the next person to figure out. Many HA users, including me, have no program

[2021-07-23 08:25] SefDik opened #18581 "Display a non-mdi icon or another image."
### Feedback

Hello,

I'm using  <ha-icon icon="mdi:home-assistant" /> quite a lot but there are some icons I have in 'www/icon/myicon.png' (/local/icon/myicon.png) that I would like to use;  I have done quite a bit of searching such as below but I cannot do this.
https://community.home-assistant.io/t/lovelace-markdown-card-with-icon-on-text-line/94316

 Can you offer any assistance please?

### U

[2021-07-23 08:38] SefDik commented on #18581
Sorry, a bit more hunting and I found this and it works ...

`<img src="/local/icon/garbage_skip_1.png" alt="Skip" style="float: left; margin-right: 10px;" />`

Source:
https://medium.com/markdown-monster-blog/getting-images-into-markdown-documents-and-weblog-posts-with-markdown-monster-9ec6f353d8ec

/0^0\    8-)

[2021-07-23 10:23] frenck commented on #18581
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-07-23 10:23] #18581 closed, assigned to nobody

[2021-07-23 14:43] SefDik commented on #18581
OK, thanks  Sent from my Galaxy
-------- Original message --------From: Franck Nijhof ***@***.***> Date: 23/07/2021  12:23  (GMT+01:00) To: "home-assistant/home-assistant.io" ***@***.***> Cc: SefDik ***@***.***>, Author ***@***.***> Subject: Re: [home-assistant/home-assistant.io] Display a non-mdi icon or another image. (#18581)

Thank you for reaching out.  We use GitHub for tracking issues, not

[2021-07-23 16:00] #17866 closed, assigned to nobody

[2021-07-23 19:54] rschuiling commented on #17680
The clarification of the way to use the miiocli tool is still equally relevant in HA 2021.7 as it was in previous versions. The token discovery has improved, but finding out your room numbers is unchanged. I would still suggest to improve the documentation.

[2021-07-23 20:44] frenck commented on #17680
Feel free to contribute.

[2021-07-23 20:52] ryphez commented on #18501
Did this change address this problem? https://github.com/home-assistant/core/pull/53111

[2021-07-23 21:17] rschuiling commented on #17680
Sure did, the pull request is still in limbo (linked above).

[2021-07-23 23:01] braymond1776 opened #18592 "Motion Sensors not reporting state other than clear & disconnected."
### Feedback

It appears that the motion sensors are either not reporting or what I believe may be happening is that the state isn’t changed long enough to catch it on the api request. I know the motions are indeed reporting as the app notifications do work.  I wanted to report, just in case this is not expected behavior. Thanks!

### URL

https://www.home-assistant.io/integrations/simplisafe/

##

[2021-07-23 23:06] bachya commented on #18592
[From the docs](https://www.home-assistant.io/integrations/simplisafe/):

Can you confirm that you alter a sensor, wait a full 30 seconds, and that even then, the Home Assistant entity doesn't update?

[2021-07-23 23:47] BriansBravado opened #18593 "examples for configuration variables"
### Feedback

EVERY configuration variable should have an example of how to use it. There are many references to setting title to null to remove it, however, all the variations I have tried do not work, and there are no samples...

### URL

https://www.home-assistant.io/lovelace/picture-elements/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-24 01:16] braymond1776 commented on #18592
I can confirm that I've created motion in front of two seperate sensors (walking between two different rooms) for approx 90 seconds (on high sensitivity) and have not been able to get a successful state change in homeassistant. I have not looked into trying to alter the state via the Simplisafe API.

[2021-07-24 02:25] BriansBravado commented on #18593
after more trial and error, I discovered that the 'title' actually refers to the hover over action. I was displaying badges and thought I could remove the 'title' or 'name' of the badge by setting the title attribute to null (and just see the graphic). Not so much. I don't see a way to remove the 'title' of the badge, so i am going to replace them with state_images. More work, but a better result

[2021-07-24 02:25] #18593 closed, assigned to nobody

[2021-07-24 12:45] VNRARA opened #18594 "Templates link not working"
### Feedback

This link on doesn't seem to work anymore: https://my.home-assistant.io/redirect/developer_templates

It's this one:

"If your automation uses templates in any part, you can do the following to make sure it works as expected:

Go to Developer tools -> [Template tab](https://my.home-assistant.io/redirect/developer_templates)."

### URL

https://www.home-assistant.io/docs/automation/tr

[2021-07-24 16:35] niraviry opened #18595 "Schneider Dimmrs"
### Feedback

It seems like when I reboot HASSIO, I get a temporary warnings when addressing my Schneider Universal Dimmers.
It is a temporary issue as seen in the log file. The GUI is in Hebrew so some of it will not be clear to you but I guess you will understand. Anyway the dimmers do work fine but probably respond slower that normal thus generating this warning.
The Warnings are:

Could not sy

[2021-07-24 17:25] niraviry opened #18596 "Weather Station Not working"
### Feedback

Since few versions ago (might be 2021.3.4 or before) KNX weather does not work.
The weather variables were defined long time ago and stopped working since the above version.
The weather station is from Schneider Electric (Merten). It is not so popular but it works great.

I have enabled debugging for the KNX, and I see bus messages of the weather station for all of my sensors (light,

[2021-07-24 17:28] frenck commented on #18596
Hi there @niraviry 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-07-24 17:28] #18596 closed, assigned to nobody

[2021-07-24 17:31] frenck commented on #18595
Hi there @niraviry 👋

Thanks for your message. It seems like you want to report an issue with the KNX integration of Home Assistant, however, you have submitted documentation feedback instead. There is no amount of documentation I can adjust to fix a bug in the integration.

Please report issues with Home Assistant integration here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../F

[2021-07-24 17:31] #18595 closed, assigned to nobody

[2021-07-24 17:51] farmio commented on #18596
Hi! Before you create this issue elsewhere again be sure to read breaking changes of your updates https://www.home-assistant.io/blog/2021/06/02/release-20216/
TLDR: define sensors in yaml config. `create_sensors` is deprecated - as your log has probably told you.

[2021-07-24 18:01] #17878 closed, assigned to nobody

[2021-07-24 19:40] vvv279 opened #18598 "Проблема с Moon"
### Feedback

Не отрабатывает датчик moon значения (The moon value sensor does not work out):

1. new_moon
2. waxing_crescent
3. first_quarter
4. full_moon
5. last_quarter
6. waning_crescent

### URL

https://www.home-assistant.io/integrations/moon/

### Version

2021.7.4

### Additional information

Выдает датчик moon значения (Outputs the moon value sensor):

1. waxing_gibbous
2. waning_gibbous

[2021-07-24 19:44] frenck commented on #18598
Hi there @vvv279 👋

It seems like you want to report an issue, however, you have submitted documentation feedback instead.
If you want to report an issue with an Home Assistant integration, please report it here:

<https://github.com/home-assistant/core/issues>

Please note: English only 👍

../Frenck

[2021-07-24 19:44] #18598 closed, assigned to fabaff

[2021-07-24 19:48] vvv279 commented on #18598
Thanks

[2021-07-24 20:00] #17879 closed, assigned to nobody

[2021-07-24 20:27] #18242 closed, assigned to allenporter

[2021-07-24 20:36] allenporter commented on #18562
Hi,

I was playing with this and observed that it worked for me, but only when the thermostat is already in the heat_cool HVAC mode.

This behavior is consistent with the Nest SDM API documentation for the set point:
https://developers.google.com/nest/device-access/traits/device/thermostat-temperature-setpoint which says `The thermostat must be in the mode that corresponds to the command being cal

[2021-07-24 20:39] allenporter commented on #18562
When I read the docs for [set_temperature](https://www.home-assistant.io/integrations/climate/#service-climateset_temperature) it says for `hvac_mode`: "HVAC mode to set the climate device to. This defaults to current HVAC mode if not set, or set incorrectly.".  This implies to me that to implement this correctly, the nest integration should
 first tell nest device to move to the correct `hvac_mod

[2021-07-24 22:40] ifuchs opened #18602 "Clarification: Last Activity vs Last Motion"
### Feedback

Can you please explain the difference between Last Motion and Last Activity? Also, I presume that Last Ding is the time that the doorbell was last rung.

### URL

https://www.home-assistant.io/integrations/ring/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-24 23:24] frenck commented on #18602
Last activity is any activity, ding or motion

[2021-07-25 02:02] Nbr1Sniper opened #18604 "Nexia integration not updating"
### Feedback

The integration doesn’t get temperature adjustments that are preformed on the thermostat by hand. Only when I make changes in Home Assistant

### URL

https://www.home-assistant.io/integrations/nexia/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-25 05:53] ghost opened #18606 "Contradictory description for sun elevation"
### Feedback

The elevation variable for the sun entity is described in two different ways in this document.

In the subsection "configuration variables" it is described at "The (physical) elevation of your location, in **meters above sea level**"

In the State attributes table it is described as the "**angle between the sun and the horizon**"

Which one is correct for the current public release c

[2021-07-25 06:31] frenck commented on #18606
Both are correct. One is the configuration, the other a state. Those are different things and different elevations.

[2021-07-25 06:31] #18606 closed, assigned to Swamp-Ig

[2021-07-25 06:32] Agoodpaddlin opened #18607 "Incomplete Instructions"
### Feedback

When setting up a VBox VM using the downloaded image, the instructions assume you know where to locate settings required when going through setup process.

1. Just writing Other Linux 64bit is not enough.
- Type = Linux
- Version - Other Linux 64bit

2. User must select EXPERT to see the option to use an existing virtual hard disk file.

Two very simple additions to save alot of time

[2021-07-25 07:58] npaisnel opened #18608 "Delete..is Python 3.7 3.8 Issues - Does not work as per the instructions if copied and pasted."
### Feedback

Installing HA Core without Docker on Rasp Pi3 with all updates / upgrades done

Get to here
[code]

and get

`bash: python3.8: command not found`

This thought does seem to install stuff...

`python3 -m venv source bin/activate`
if pasted as one line.

Install pip3 wheel completes

On doing installing

pip3 install homeassistant
 It runs but gives this
[code]

I have tried putting th

[2021-07-25 08:34] quaec commented on #17977
Yes, the issue still persist. I think I'll just open a pull request.

[2021-07-25 09:19] #18608 closed, assigned to nobody

[2021-07-25 09:46] npaisnel opened #18610 "config file "path to your config""
### Feedback

You are talking to a simpleton here...

The instructions to create a yaml file I worked out by myself.
I created a homeassistant directory in /home/pi/

then sudo nano docker-compose.yml

I then pasted the text from the RPi3 'box'

`version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/raspberrypi3-homeassistant:stable"
    volum

[2021-07-25 11:01] BBE128 opened #18611 "secrets integration"
### Feedback

I would be helped by examples: what exactly do i need to replace and how?
Adding text to yaml files always turns out to result in errors.
In the instructions i read this:

[code]

however on https://www.home-assistant.io/integrations/toon/ it's just a little different:

[code]

### URL

https://www.home-assistant.io/docs/configuration/secrets/

### Version

2021.7.4

### Additional i

[2021-07-25 13:04] #17885 closed, assigned to nobody

[2021-07-25 18:04] niraviry commented on #18595
OK.

Sorry.

‫בתאריך שבת, 24 ביולי 2021 ב-20:31 מאת ‪Franck Nijhof‬‏ <‪
***@***.***‬‏>:‬

[2021-07-25 18:11] rockymountainnative opened #18612 "Can't seem to add new devices"
### Feedback

I don't know if the auto discover works. I have incrementally added thermostats to my house room by room and each time I add a new one, the Lyric intergration doesn't discover it. The only workaround I know of is to delete the integration and re-add it to where I am prompted through the honeywell api UI interaction where I can select the additional device that needs to be shared. Is

[2021-07-25 18:23] niraviry commented on #18596
Hi Matthias.

I have read the breaking changes. The KNX Climate breaking change is
irrelevant. I am talking about my weather station (a Schneider KNX one) and
not climate devices. The 2021.6 did not kill the sensors. It happened a few
versions before 2021.6.
I define the KNX weather exactly as in the documentation.
I do not get any error from this definition. I have enabled the debug and
see messa

[2021-07-25 18:35] farmio commented on #18596
Read the whole section.

https://github.com/home-assistant/core/pull/49640

[2021-07-25 18:48] bachya commented on #18592
Unfortunately, you may just be experiencing the 30-second update interval: for the motion sensor to trigger in HASS, you'd need it to trigger _exactly_ when the update interval occurs. Not a bug in the integration – just an unfortunate downside of only being able to poll every 30 seconds.

[2021-07-25 18:53] niraviry commented on #18596
OK. Got it.

Thanks.

‫בתאריך יום א׳, 25 ביולי 2021 ב-21:35 מאת ‪Matthias Alphart‬‏ <‪
***@***.***‬‏>:‬

[2021-07-25 19:52] braymond1776 commented on #18592
Thanks that’s what I was assuming, but I just wanted to verify. Thanks

[2021-07-25 19:52] #18592 closed, assigned to bachya

[2021-07-25 22:00] chemelli74 commented on #18478
We can try to check if something appears in debug logs, add the following to `configuration.yaml` , restart HA, and post the logs near the error:
[code]
Note: logs may be hard to read in GitHub, it is better to use a service such as https://pastebin.com/ for uploading the log.

Simone

[2021-07-25 22:30] perozonp opened #18616 "Option for steady values"
### Feedback

I have implemented a water counter with a flow meter that gives pulses for each XXX amout of water.  Image below shows how it looks:

![image](https://user-images.githubusercontent.com/35159481/126915121-d63814d3-e59b-49e5-aec5-5711487ea0e4.png)

That triangle shaped peak shouldn't be like that, it should have been a single vertical line, but since the previous value (0) stayed like

[2021-07-25 23:02] davidrustingha opened #18617 "Splitting up the config"
### Feedback

I think it would be a good idea to update the documentation about splitting the config. I came to this conclusion because I am trying to split my template entities config and can't for the life of me figure out how to split the trigger section. And since there have been lots of upgrades to Home Assistant and the way things have to be coded in the backend, an update would be nice.

##

[2021-07-25 23:12] briandking opened #18618 "Provide a list of devices detected using DHCP"
### Feedback

In the discovery module they list all the devices that can be detected via zeroconf. A similar list for DHCP would be useful so that you know how to have your device auto detected. E.g. Reading the [broadlink page](https://www.home-assistant.io/integrations/broadlink/) it says it is able to be auto-discovered, but provides no clue how to trigger that auto discovery. Browsing through

[2021-07-26 06:21] frenck commented on #18618
Personally I think such list are hard to maintain.

What would be the added benefit?

[2021-07-26 06:24] frenck commented on #18617
In sorry to day, but there hasn't been any upgrades on how templates worked.
I have check the page and the examples are correct.

Which specific part is outdated?

[2021-07-26 07:25] davidrustingha commented on #18617
I don't think it's outdated, because most of it is still relevant. But the part I struggle with is the following:

I have split up my config for the bigger part, like this

template:
  - sensor: !include ...

But I can't figure out how I could do the same for the template trigger because the indentation is different.

[2021-07-26 07:47] frenck commented on #18617
Aah, ok this is a support question.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-07-26 07:47] #18617 closed, assigned to nobody

[2021-07-26 08:06] ludeeus commented on #18610
If you want your configuration files to be located under `/home/pi/homeassistant` on the host, then yes, you replace `/PATH_TO_YOUR_CONFIG` with `/home/pi/homeassistant`
The files are created on first boot of the server if they are missing from the mapped directory

[2021-07-26 08:08] ludeeus commented on #18607
Please make a pull request with your findings against this file <https://github.com/home-assistant/home-assistant.io/blob/current/source/_includes/installation/operating_system.md?plain=1#L177>

[2021-07-26 08:24] frenck commented on #18616
Hi there @perozonp 👋

It seems like to request a feature, however, you have submitted documentation feedback instead.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-07-26 08:24] #18616 closed, assigned to nobody

[2021-07-26 08:25] frenck commented on #18612
Devices are loaded from the Lyric API when the integration is set up. This happens when adding it, reloading the integration instance or when Home Assistant restarts.

[2021-07-26 08:50] frenck commented on #18611
I'm confused about your question?

The example on the secrets pages, shows that a password (or any other secret) can be replaced by `!secret <secret_key>`. I'm not sure how your toon example is related. You can use secrets everywhere.

[2021-07-26 08:52] #17977 closed, assigned to emontnemery

[2021-07-26 08:56] frenck commented on #18604
Hi there @Nbr1Sniper 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

../Frenck

[2021-07-26 08:56] #18604 closed, assigned to bdraco

[2021-07-26 09:13] #17865 closed, assigned to nobody

[2021-07-26 09:55] niraviry commented on #18596
H
Tried to figure out how to hook a sensor template to KNX and I am lost.
All KNX documentation does not show any change. What I have in my
configuration.yaml is what appears in the documentation as follows:
knx: weather: - name: "Home" address_temperature: "7/0/0"
address_brightness_south: "7/0/1" address_brightness_west: "7/0/2"
address_brightness_east: "7/0/3" address_brightness_north: "7/0/11"

[2021-07-26 09:56] haddood opened #18620 "Type of dawn and dusk"
### Feedback

it is not clear from the documentation if the dusk / dawn are civic, nautical or astronomical.

### URL

https://www.home-assistant.io/integrations/sun/

### Version

2021.7.4

### Additional information

ideally the sensor would report the three types.

https://en.wikipedia.org/wiki/Twilight

[2021-07-26 10:32] farmio commented on #18596
Just create normal knx sensors instead of templates. This information was somewhat misleading.

Please stop using this issue tracker as a support channel. There is a community forum discussing this https://community.home-assistant.io/t/knx-cookbook/230972/251?u=farmio or you can find help at the HA discord server.

[2021-07-26 11:01] niraviry commented on #18596
Thanks.

‫בתאריך יום ב׳, 26 ביולי 2021 ב-13:32 מאת ‪Matthias Alphart‬‏ <‪
***@***.***‬‏>:‬

[2021-07-26 14:05] #17630 closed, assigned to dmulcahey, Adminiuga

[2021-07-26 15:07] shahidhussain opened #18622 "Install page"
### Feedback

You should note in the install documentation that installing HA via docker means no supervisor.

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-26 15:13] frenck commented on #18622
It does, on the main installation page:

<https://www.home-assistant.io/installation/#compare-installation-methods>

[2021-07-26 15:13] #18622 closed, assigned to nobody

[2021-07-26 15:16] Alan-Guggenheim commented on #18478
I will try first to put it in the email.

2021-07-26 10:00:00 INFO (MainThread) [homeassistant.components.automation.aromis] Aromis: Running automation actions
2021-07-26 10:00:00 INFO (MainThread) [homeassistant.components.automation.aromis] Aromis: Executing step device automation
2021-07-26 10:00:00 DEBUG (SyncWorker_13) [homeassistant.components.samsungtv] Create SamsungTVWSBridge for name (19

[2021-07-26 17:01] flz commented on #18550
If you enable debugging for the iaqualink module, you might see something like that (which would indicate that the library found a system but it doesn't know how to handle it):

[2021-07-26 17:14] flz commented on #18550
Coincidentally, some people have reverse-engineered at least part of the Exo API in the [community forums](https://community.home-assistant.io/t/jandy-iaqualink-pool-integration/105633/324?u=flauran). I can't commit to delivering support for it anytime soon but I might be able to help.

[2021-07-26 17:23] bLackCat-79 opened #18624 "Innova HP12 ELEC"
### Feedback

Hi!

Can you please give some examples on how to set it up with an innova AC?
I see that on innova the following ports are open, but I don't know what one to use:

80/tcp    open     http
1117/tcp  filtered ardus-mtrns
2738/tcp  filtered ndl-tcp-ois-gw
2956/tcp  filtered ovrimosdbman
3287/tcp  filtered directvdata
3953/tcp  filtered xmlink-connect

### URL

https://www.home-assistant

[2021-07-26 18:22] cmroche commented on #18624
Hi @bLackCat-79

Gree's protocol works using connectionless sockets, UDP on port 7000.

To discover the device, the integration sends a broadcast to your LAN, ie: 192.168.1.255 port 7000 and waits for a response on the same port number.

When it receives a response it will send UDP packets to the device's specific IP address again on port 7000, and responses will come back to the integration on th

[2021-07-26 18:46] briandking commented on #18618
That is a valid point of view. It might be hard to maintain. I'm not sure how often new components are added that use dhcp discovery. Maybe the list would only be good for a few weeks, or maybe for a few years?

The benefit is that end users would have the option of reading the documentation to find answers rather than having to read the code.

What prompted me to submit this as a suggestion was t

[2021-07-26 19:06] frenck commented on #18618
Alright, I'll look into it 👍

[2021-07-26 22:02] ovanpeve opened #18625 "Load history"
### Feedback

Hi,
Is there any way to load the history of SMA production into HA?

### URL

https://www.home-assistant.io/integrations/sma/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-26 22:06] frenck commented on #18625
Hi there @ovanpeve 👋

It seems you are in need of support / have questions about Home Assistant, however, you have submitted documentation feedback.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

As fo

[2021-07-26 22:06] #18625 closed, assigned to kellerza

[2021-07-26 22:12] bLackCat-79 commented on #18624
Well @cmroche
 and what if  your device is not listening on poort 7000 like it is the case with the INNOVA

[2021-07-26 23:53] chemelli74 commented on #18478
Please show the code for `[homeassistant.components.automation.tv_stop_watching] `

Simone

[2021-07-27 03:14] IIREDII opened #18626 "'search for your integration in that list.'"
### Feedback

What if the integrations you are looking for aren't on there? For example, turns out Silvana Smart + off the bat aren't a simple search and add device, meross smart gararge, i still cant figure out how to get that integrated.

Instead of assuming success here, we should assume failure, and start providing resources for devices that might not have simple plug and play functionality, A

[2021-07-27 07:27] ludeeus commented on #18626
None of those 2 examples exist <https://www.home-assistant.io/integrations>? so not sure what you are after here?

[2021-07-27 08:19] npaisnel commented on #18610
OK, thanks

understood

[2021-07-27 08:19] #18610 closed, assigned to nobody

[2021-07-27 12:01] cmroche commented on #18624
If the device is compatible with Gree+ then it has to work on port 7000. Is there some documentation that says it doesn't use 7000? Because I don't see any other way you would be able to know.

[2021-07-27 13:10] Vorms opened #18632 "ph is wrong and need to control the heater"
### Feedback

Hello,
Many thanks for the integration of omnilogic to H.A.
Unfortunatli, the ph is wrong.
Now I have 7.4 in the cell applicaiton and 8.0 in H.A.

And pleas add the heater control.
When it is raining I don't use the swiming pool and I can switch off the heater.

Many thanks for your work !

Best regards

### URL

https://www.home-assistant.io/integrations/omnilogic/

### Version

202

[2021-07-27 13:12] alfonsolsl commented on #18001
This is still alive.

[2021-07-27 13:13] djtimca commented on #18632
The heater control will come in a future release. We have it working, just taking some time to get each platform added to the Home Assistant core.

You should be able to adjust your pH using the integration configuration using the pH offset setting so that it reports correctly in your dashboard.

[2021-07-27 13:21] Vorms commented on #18632
how !
nice for the ph ! thanks a lot !

For your information about the heater, I wrote to hayward to ask to have a
future firmware able to connect the heat pump with the RS485 bus and not
with a single contact.

Best regards and many thanks for your work.
Please take me in touch about the heater switch !

Best regards
Thierry Vorms

Le mar. 27 juil. 2021 à 09:13, djtimca ***@***.***> a écrit :

--

[2021-07-27 13:30] Alan-Guggenheim commented on #18478
It does the same with or without the automation.

Here is the very simple code:

- id: '1626893825076'
  alias: TV stop watching
  description: ''
  trigger:
  - platform: state
    entity_id: media_player.samsung_q90_85_living_room
    from: 'on'
    to: 'off'
    for: 00:00:06
  condition:
  - condition: state
    entity_id: input_select.home_status
    state: Awake
  action:
  - service: input_

[2021-07-27 14:58] bLackCat-79 commented on #18624
Technical  requirements  for  the  proper  functioning  of  the  cloud  connection  TCP  port  80,  443,  19009,  18321,  18009

https://www.innovaenergie.com/site/assets/files/2792/n273027e_manuale_utente_rev03_en-1.pdf

@cmroche

Also if I nmap the device on udp, port 7000 is not open.

nmap -p 7000 -sU -v -T4 192.168.1.102
Starting Nmap 7.70 ( https://nmap.org ) at 2021-07-27 16:58 CEST
Initiat

[2021-07-27 15:37] cmroche commented on #18624
I checked the *GreeRemote* project's issue board on GitHub (not related to the integration, but has info on device compatibility in general with the Gree+ protocol)--reading what I found here: https://github.com/tomikaa87/gree-remote/issues/32 it seems that your device may not easily work, and could require registration and connection to the cloud service before it will work locally. You might eve

[2021-07-27 15:54] bLackCat-79 commented on #18624
@cmroche thanks allready for spending effort in this!

The problem is that when I try to configure it with the gree+ app, that app doesn't reconizes the innova wifi. (Tried it boht on android and IOS). The app hangs on accessing the setup wifi network. It wants that its named ac_xxxx and has a password. The innova setup wifi has no password and is called clima_xxx.

I think therefor that innova is

[2021-07-27 16:23] bioxz opened #18633 "Referenced tool seems to be end of life"
### Feedback

The referenced tool "LANnouncer" seems to be unavailable from official sources. The link to the developers webpage is dead, the application itself from the Play Store seems to be disabled as well (all my devices are incompatible, ranging from Android 4 to 12). I can't tell if the integration itself still works (I would guess so), but the documentation should mention that the used too

[2021-07-27 16:32] frenck commented on #18633
At least 55 installation report the integration as active in use:

![image](https://user-images.githubusercontent.com/195327/127192431-7d5a4188-744a-4fbb-9144-c25a049c4811.png)

[2021-07-27 17:01] IIREDII commented on #18626
That answer alone is the point. You know that they don’t exist, how? Exist as in being? They exist. Exist as in work on homeassistant? They do that too. But not off the shelf there are other steps other things I’m going to have to do to integrate, most of my products do not immediately integrate with homeassistant. And digging out the information I need is terrible.

So to reiterate the existing c

[2021-07-27 17:26] frenck commented on #18626
Hi there Roth,

For each integration there is documentation on our website, which can be found here:

<https://www.home-assistant.io/integrations/>

Well, the above link is how. It is listed everywhere in the documentation and website and even is linked in the top menu of every single page.

As said by Ludeeus above, the ones you mentioned are not on the list. I'm not sure where your suggestion/co

[2021-07-27 17:26] #18626 closed, assigned to nobody

[2021-07-27 20:29] aceindy opened #18639 "No longer available?"
### Feedback

Doesn't show anymore as integration:
![image](https://user-images.githubusercontent.com/94692/127223064-9f1c1731-e056-4ad6-a790-bf65c568b697.png)

### URL

https://www.home-assistant.io/integrations/buienradar/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-27 20:33] #18639 closed, assigned to nobody

[2021-07-27 20:33] aceindy commented on #18639
sorry..was looking at the wrong place...

[2021-07-27 20:37] frenck commented on #18639
Stuff happens! 👍

![](https://media3.giphy.com/media/elsol3P5Jt2ASsxLva/giphy-downsized-medium.gif)

[2021-07-27 21:27] kieranskelly opened #18643 "Clearer Introduction"
### Feedback

The difference between Home Assistant Core and Home Assistant Container is not clear to most novices.

An introductory section could explain that there are three methods for installing Home Assistant.
i.e....

There are three ways to install Home Assistant on the Raspberry Pi.  The first is the easiest and most common, while the second and third are for more special cases.
--
The sug

[2021-07-28 01:20] klaasnicolaas commented on #18643
What about this comparison? https://www.home-assistant.io/installation/#compare-installation-methods

[2021-07-28 12:21] hatjan opened #18645 "Octoprint height sensor"
### Feedback

Hi, great integration, very helpful to monitor printing while chilling in the living room!
I'd like to have one additional sensor: Current height. This is a known Octoprint value and should be easy to transfer.
Thx hatjan

### URL

https://www.home-assistant.io/integrations/octoprint/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-28 13:41] hmmbob commented on #17180
Still not stale

[2021-07-28 15:00] #17510 closed, assigned to fabaff

[2021-07-28 16:15] liksvette opened #18647 "Numeric state for Conditional Card"
### Feedback

It would be nice to set a numeric state for conditional cards. E.g. I have set up a gauge to tell me how many minutes till the bus arrives. This bus only leaves at night. Therefore I only want the gauge to show up when it's less than sixty minutes to departure.

### URL

https://www.home-assistant.io/lovelace/conditional/

### Version

2021.7.4

### Additional information

_No respon

[2021-07-28 17:02] #17180 closed, assigned to nobody

[2021-07-28 17:08] frenck commented on #18647
Hi there @liksvette 👋

It seems like you want to request a feature, however, you have submitted documentation feedback instead. There is no amount of documentation I can adjust that builds a new feature 😉

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to

[2021-07-28 17:08] #18647 closed, assigned to nobody

[2021-07-28 17:20] frenck commented on #18645
Hi there @hatjan 👋

It seems like you want to request a new feature, however, you have submitted documentation feedback instead. There is no amount of documentation that I can adjust to make a new feature appear 😬

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel

[2021-07-28 17:20] #18645 closed, assigned to nobody

[2021-07-28 19:09] liksvette commented on #18647
You're absolutely right. My mistake!
Thanks.

[2021-07-28 19:20] frenck commented on #18647
![](https://media0.giphy.com/media/QUlbCmsuVVAXu/giphy.gif)

[2021-07-29 07:50] hros commented on #18018
I see that this issue is about to be closed
I can try and resolve this issue myself with a pr
Please provide some reference to similar projects, regarding the build process; necessary testing and submission

[2021-07-29 08:44] Sennahoi commented on #18344
So, no one seems to have an opinion on this. We should check whether we can register an open source project ourselves. @flirtysanchez Let's discuss this off this issue. Can you contact me at tonn [dot] johannes [at] the google mail?

[2021-07-29 09:38] glyph-se opened #18652 "Title not editable for stack cards"
### Feedback

I'm not sure if this is a bug in the documentation or something wrong in the Lovelace UI.

The documentation for Lovelace Vertical Stack Card and Horizontal Stack Card says

But as far as I can see this is not true, I can't see the title of the stack card anywhere in the UI to configure (see screenshot below for example)

If it the documentation that is wrong I can submit a PR for it

[2021-07-29 09:51] overas opened #18653 "Missing "data" attributt in Adding a quick switch example"
### Feedback

The example for a quick switch example gives error about "property hvac_mode is not allowed". The fix is to add the missing "data" entry i the example:

`switch:
  - platform: template
    switches:
      ac:
        friendly_name: "AC"
        value_template: "{{ is_state('climate.ac', 'cool') or is_state('climate.ac', 'heat') or is_state('climate.ac', 'dry') or is_state('climate.ac

[2021-07-29 12:06] frenck commented on #18018
Hi there @hros 👋

It seems like you have a feature request, however, you have submitted documentation feedback. This cannot be implemented by adjusting documentation of course.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat serve

[2021-07-29 12:06] #18018 closed, assigned to nobody

[2021-07-29 14:19] diegomontanaduarte opened #18654 "Extra CGI commands PDF outdated"
### Feedback

Please update the link regarding Foscam CGI User Guide documentation.

https://www.foscam.es/descarga/Foscam-IPCamera-CGI-User-Guide-AllPlatforms-2015.11.06.pdf

### URL

https://www.home-assistant.io/integrations/foscam/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-29 23:41] milanmeu opened #18660 "Active installations count is not displayed if it is zero"
### Feedback

The component navigation text: `...it's used by active installations...` is missing the number `0` if there are no active installations.

Example: https://www.home-assistant.io/integrations/watson_iot

Integrations with zero active installations can be found on https://analytics.home-assistant.io/#integrations.

[2021-07-29 23:43] s1230988 opened #18661 "why i can't find service in my HA? (like Service ezviz.alarm_sound, Service ezviz.ptz, Service ezviz.set_alarm_detection_sensibility)"
### Feedback

I success install this Ezviz integration into our HA,  but I just see Service `camera.disable_motion_detection’ and Service `camera.enable_motion_detection’ in our service, other service(like Service ezviz.alarm_sound, Service ezviz.ptz, Service ezviz.set_alarm_detection_sensibility, Service ezviz.sound_alarm, Service ezviz.wake_device) don't show on my service
interface. I'm sure my

[2021-07-29 23:46] chemelli74 commented on #18478
So please, disable the automations and reproduce the issue.
Post a full log in http://pastebin.com

Simone

[2021-07-30 07:18] Sberlone85 opened #18665 "Modbus tcp disconnection"
### Feedback

Hello, I state that for problems connecting to the ADSL network I have to restart the modem every night. Unfortunately, when restarting, the connection to the modbus rs485 / tcp converter remains down. This happens from the core-2021.7.3 release. Before, everything worked fine. Below is my current configuration. Thanks
- name: hub2
     type: tcp
     host: 192.168.1.XX
     port: XX

[2021-07-30 08:08] janiversen commented on #18665
Please make a debug log as pr documentation https://www.home-assistant.io/integrations/modbus/#opening-an-issue

[2021-07-30 09:07] #18660 closed, assigned to nobody

[2021-07-30 09:28] frenck commented on #18661
These services have been added in Home Assistant 2021.7.0, make sure you run at last that version.

[2021-07-30 11:56] s1230988 commented on #18661
Thank you for our reply, I will try update my version

[2021-07-30 17:52] wsdt opened #18669 "Blockchain.com sensor doesn't support SegWit addresses"
### Feedback

My configuration:
[code]

Sensor shows an invalid address error in the logs. I was able to track the error down to the deprecated pyblockchain library.

### URL

https://www.home-assistant.io/integrations/blockchain/

### Version

2021.7.4

### Additional information

Official docu:
https://www.home-assistant.io/integrations/blockchain/

[2021-07-30 17:59] wsdt opened #18670 "Etherscan very unflexible and not properly fetching data"
### Feedback

Ether balance is successfully fetched if the USDC configuration is removed but if both configs are active then even the Ether balance returns `false`.

The USDC configuration does work in that sense that it fetches the correct data but with the wrong decimals. Example: If you set an address with an USDC balance of 2k USDC, then you will get 0.000000002 USDC as an output.

My configur

[2021-07-31 00:34] aquavass opened #18672 "Extend Function to AT Mega boards"
### Feedback

Hi, is it possible to extend Function to AT Mega 256 and UNO boards as I am using wired ethernet connection.

Many Thanks

### URL

https://www.home-assistant.io/integrations/esphome/

### Version

2021.7.4

### Additional information

_No response_

[2021-07-31 01:06] jesserockz commented on #18672
No nice way to say this, but... No, it won't work for regular Arduino boards and it's too much effort to adapt the code.

[2021-07-31 01:06] #18672 closed, assigned to jesserockz, OttoWinter

[2021-07-31 03:04] Sberlone85 commented on #18665
![Cattura2](https://user-images.githubusercontent.com/77581462/127726545-3b120a14-ca7f-492c-b438-3d791cbed99d.JPG)
![Cattura3](https://user-images.githubusercontent.com/77581462/127726552-c37fc925-5294-4aa1-81ec-f050d5bb49df.JPG)
after 03:57:27 (the moment when the modem is turned off) I no longer receive any data and the connection is down. It seems as if a buffer is clogged ..... after restartin

[2021-07-31 10:00] janiversen commented on #18665
Just realised you have reported this issue on our documentation repo, this do not seem to be a documentation issue.

Development issues are here:
https://github.com/home-assistant/core/issues

[2021-07-31 10:10] #18035 closed, assigned to dgomes

[2021-07-31 10:29] janiversen commented on #18665
I made a small test setup to check this issue, and I see the following:
a) start modbus-tcp, start hass, sensor get values.
b) after a while stop modus-tcp, sensors changed to not available.
c1) restart modus-tcp after 10minutes, sensors get values again
c2) After 1 hours the modbus integration still tries to reconnect, and reconnects when modus-tcp is restarted, sensors get values again.

However

[2021-07-31 10:56] skipishere opened #18673 "deConz setup is unclear"
### Feedback

The instructions for getting deConz to work with Home Assistant appears to be missing some information on how to get up and running.

In my example, my Conbee II is connected into my Home Assistant Raspberry Pi which uses the Home Assistant OS.
The documentation (and the below message) don't tell you how you're meant to get to the gateway to do the next steps
![image](https://user-im

[2021-07-31 14:45] Kane610 commented on #18673
This knowledge is expected pre-knowledge since the user needs to set up deconz prior to setting up the integration. What kind of information are you suggesting would help here?

[2021-07-31 17:11] johnbernstein commented on #18037
Adding a comment as this is still relevant.

[2021-07-31 17:13] johnbernstein commented on #18037
Not sure how to add someone to this other than to mention the component's author @teharris1 .

[2021-08-01 01:21] marioawe opened #18679 "Issue with Total Connect Comfort (Honeywell) US"
### Feedback

Hey!

I'm trying to set up my thermostat so I can control it through HA, but I seem to be running into issues getting it to work. I do not see any errors in my log, but when looking for `climate.thermostat` nothing appears. I've restarted multiple times over, double and triple checked that the email and password are correct, and I seem to be at a loss as to what I'm doing wrong

Here

[2021-08-01 07:00] #17976 closed, assigned to nobody

[2021-08-01 08:50] Sberlone85 commented on #18665
I added:
     delay: 5
     timeout: 600
     close_comm_on_error: false
to try to overcome this problem but unfortunately it continues to present itself.
The sensors when they become unavailable do not return until I restart the core or the server.

[2021-08-01 08:59] janiversen commented on #18665
Why do you continue to have “close_comm_on_error: false” as I wrote before that is not what you want.

[2021-08-01 10:00] #17980 closed, assigned to dmulcahey, Adminiuga

[2021-08-01 11:33] gladius7 opened #18684 "The user manual"
### Feedback

The user manual for connecting Google Assistant to nabucasa was written by a professional, not considering that a simple user has never done this. Need details or examples where to go
, what to do. I could not connect. Written through a translator, sorry for the mistakes.

### URL

https://www.home-assistant.io/integrations/google_assistant/

### Version

2021.7.4

### Additional inf

[2021-08-01 11:46] ludeeus commented on #18684
That is explained here <https://www.nabucasa.com/config/google_assistant/> which you get to when clicking the link in:

[2021-08-01 17:16] giuseppe072000 opened #18685 "Cannot watch for dhcp packets: [Errno 13] Permission denied"
### Feedback

Logger: homeassistant.components.dhcp
Source: components/dhcp/__init__.py:291
Integration: DHCP Discovery (documentation, issues)
First occurred: 6:13:47 PM (1 occurrences)
Last logged: 6:13:47 PM

Cannot watch for dhcp packets: [Errno 13] Permission denied

what happend?

### URL

https://www.home-assistant.io/integrations/dhcp/

### Version

2021.7.4

### Additional information

wh

[2021-08-01 22:00] #17990 closed, assigned to nobody

[2021-08-02 00:47] AdamRidley opened #18686 "Manual Polling"
### Feedback

Under manual polling the documentation says "To use more granular polling, disable automated polling in your config entry’s System Options."

As far as I can see there is no information anywhere on the home assistant docs about how to disable automated polling for an entity. I get the impression this can't actually be done! I can't even see documentation on how to change the polling

[2021-08-02 04:46] #18679 closed, assigned to nobody

[2021-08-02 08:01] tomsruk opened #18690 "Workday"
### Feedback

My alarm failed to go off this morning due to workday showing as “off”. Why? I’m in the UK, but more specifically England.

Scotland does have a bank holiday today but England doesn’t. England doesn’t have its own country code though.

Can this be fixed?

### URL

https://www.home-assistant.io/integrations/workday/

### Version

2021.7.4

### Additional information

_No response_

[2021-08-02 09:00] frenck commented on #18690
Hi there @tomsruk 👋

Seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. There is no amount of documentation I can adjust to fix a bug in code.

Please files issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks!

../Frenck

[2021-08-02 09:00] #18690 closed, assigned to fabaff

[2021-08-02 09:40] andrey170183 opened #18692 "input_number"
### Feedback

Why does input_number display numbers with tenths ("..,0") on lovelace? The step = 10;
![1](https://user-images.githubusercontent.com/42129962/127840205-eaca5a59-eccd-41fd-89d7-ffd5f4ae8ef3.jpg)

input_number:
  u_s_air_quality_critical_level:
    name: Крит уровень
    min: 10
    max: 100
    step: 10
    unit_of_measurement: AQI

### URL

https://www.home-assistant.io/integrations

[2021-08-02 09:42] frenck commented on #18692
Hi there @andrey170183 👋

It seems like you have a question, but you have submitted documentation feedback instead.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

To answer your question quickly (and m

[2021-08-02 09:42] #18692 closed, assigned to nobody

[2021-08-02 10:09] frenck commented on #18686
Every integration has the system option to disable polling:

![image](https://user-images.githubusercontent.com/195327/127844811-b13aab0e-d873-46d2-ac81-c14cab9fc507.png)

Next, you can use the `homeassistant.update_entity` service to trigger a manual poll.

https://www.home-assistant.io/integrations/homeassistant/#service-homeassistantupdate_entity

It has also been announced here:

<https://www.

[2021-08-02 10:09] #18686 closed, assigned to nobody

[2021-08-02 10:30] frenck commented on #18685
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-08-02 10:30] #18685 closed, assigned to bdraco

[2021-08-02 10:35] frenck commented on #18684
Closing this as a misinterpretation for the documentation to use for the use case.

[2021-08-02 10:35] #18684 closed, assigned to nobody

[2021-08-02 12:10] #18661 closed, assigned to nobody

[2021-08-02 14:24] bLackCat-79 commented on #18624
Ok, I talked with the manufactoror, NO API, NO integration with any kind of platform and NO plans to do it,... it seems its just a crap product.

[2021-08-02 14:25] #18624 closed, assigned to nobody

[2021-08-02 21:00] #17827 closed, assigned to nobody

[2021-08-02 22:57] ArduinoShop opened #18707 "Indentation error in the example - Images Example"
### Feedback

On line 15 of the "Images Example" example, the style (and it's parameters) are indented 1 indent too many..

### URL

https://www.home-assistant.io/lovelace/picture-elements/

### Version

2021.7.4

### Additional information

_No response_

[2021-08-03 15:20] MiAutomations opened #18714 "Blink integration stops working"
### Feedback

Hello Team

I'm using the Blink integration for a long time, but today the stream stop working the camera entity goes to unavailable in order to try solve this issue I start to disable an re-enable the integration without any luck, after this I try to reload several times but still not working after this I deleted the integration and install it again, but now I only have one  entity

[2021-08-03 20:38] MiAutomations commented on #18714
Hello @fronzbot

After several tries I successfully get the camera again and is working, but with a diferente behavior in the past there is present one device and 7 entities and now no device is present from the integration as you can see in the picture bellow
![image](https://user-images.githubusercontent.com/47602733/128082603-045c1847-ba08-4517-a207-c9eac9e60cbe.png)

Thank you for your support

[2021-08-03 23:31] rpfinneran opened #18716 "Mosquitto Add-On DOCS.md ACL Guidance Breaks Integration"
### Feedback

The docs.md file for the mosquitto add-on has a section on leveraging an ACL to restrict user access to topics. Seems like a good practice.

I'd recommend updating the documentation. If a user implements the ACL file, they must include the 'homeassistant' user with read/write priv to all topics, otherwise HA won't be able to discover new entities or even determine entity availability

[2021-08-04 00:13] jdinkel opened #18717 "Talk"
### Feedback

Something I would be interested in is interacting with Nextcloud Talk - be able send messages from Talk to HA, send messages to Talk from HA, get pushed user status, whether or not in a video conference and whether or not muted, etc.

### URL

https://www.home-assistant.io/integrations/nextcloud/

### Version

2021.7.4

### Additional information

_No response_

[2021-08-04 01:37] rockymountainnative commented on #18612
Strange, I still do not seeing this automatically seeing new thermostats as I add them one by one each time. While the integration reloads, I do not think it goes through the setup process to try to permission my new devices to my api applicaiton.

The workaround I found was to save off the url that does the authentication: https://api.honeywell.com/oauth2/app/login?apikey=XXXXXX&redirect_uri=http

[2021-08-04 06:02] frenck commented on #18717
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-08-04 06:02] #18717 closed, assigned to nobody

[2021-08-04 10:57] skipishere commented on #18673
@Kane610 Given I really didn't get it to work fully, I'm not sure what steps are needed/missing.

From further investigating I assume I needed to install the deCONZ addon (from Supervisor) as well as the deCONZ in the integrations? If that's the case the documentation should really explain that at minimum or at least have some link/steps/further tutorial link. I think expecting it to be pre-knowle

[2021-08-04 11:26] frenck commented on #18673
You need to have deCONZ to be able to integrate with deCONZ. Just like you need have Philips Hue in order to integrate with Philips Hue.

I'm not sure how that could be confusing?

[2021-08-04 11:41] skipishere commented on #18673
But in this instance you need the stick (in my case a Conbee II), deCONZ in integrations (which is what the article is talking about) but also deCONZ in Supervisor (which feels like that part that is missing/lacking) which differs from other integrations when being added (so more a point of confusion than anything else)

If I'd got it fully working I'd have updated the docs with changes, but as I

[2021-08-04 13:31] JanValkenier opened #18735 "Total PV production does not show up in new Energy dahboard for Homeassistant"
### Feedback

The latest home assistant provides a new energy dashboard. Howerver I can't get the sensor.grid_power configured for solar production in this dashboard.

### URL

https://www.home-assistant.io/integrations/sma/

### Version

2021.8.0

### Additional information

https://www.home-assistant.io/more-info/statistics/

[2021-08-04 13:35] frenck commented on #18735
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-08-04 13:35] #18735 closed, assigned to nobody

[2021-08-04 13:56] rkershenbaum opened #18736 "Skybell integration no longer working"
### Feedback

Skybell seems to have changed their authentication mechanism and, unless you're a Skybell partner company, the authentication only works from the Skybell app.  So this integration no longer works.  The authentication fails.

### URL

https://www.home-assistant.io/integrations/skybell/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-04 14:17] x-real-ip opened #18737 "energy missing"
### Feedback

The energy intergration is missing in the list of intergrations on the default config page

### URL

https://www.home-assistant.io/integrations/default_config/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-04 14:39] klaasnicolaas commented on #18737
Already PR open for that: https://github.com/home-assistant/home-assistant.io/pull/18732

[2021-08-04 14:46] #18737 closed, assigned to nobody

[2021-08-04 14:47] frenck commented on #18736
Hi there @rkershenbaum 👋

It seems like you want to report an issue with an integration, however, you have submitted documentation feedback instead.

Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-08-04 14:47] #18736 closed, assigned to nobody

[2021-08-04 16:16] jjmuriel opened #18740 "Broadlink SP3 Power Consumption Not Listed in Energy Configuration"
### Feedback

Broadlink SP3 Power Consumption  is not listed in Energy Configuration:
![image](https://user-images.githubusercontent.com/17131600/128216669-d9af4778-c12a-4df7-b90a-00867b693956.png)
![image](https://user-images.githubusercontent.com/17131600/128216761-8c902cbe-56bb-41ae-911f-9c6a7f6f6af3.png)
![image](https://user-images.githubusercontent.com/17131600/128216831-04762ca5-46a0-47ca-9

[2021-08-04 16:50] frenck commented on #18740
Power is not energy, those are different things.

Whatever is done, a power sensor cannot be added to the energy dashboard, as well, the energy dashboard is for energy, not for power.

[2021-08-04 16:51] frenck commented on #18740
More information can be found here:

<https://www.home-assistant.io/docs/energy/faq/#energy-vs-power>

And you could try this:

<https://www.home-assistant.io/docs/energy/faq/#creating-an-energy-sensor-out-of-a-power-sensor>

[2021-08-04 16:51] #18740 closed, assigned to nobody

[2021-08-04 16:56] jjmuriel commented on #18740
Sorry and thank you, I configured this sensor:
# Calculate Energy (KWh) from Broadlink SP3
  - platform: integration
    source: sensor.toma_ventilador_estudio_switch_current_power
    name: Gasto Energía Ventilador Estudio
    unit_prefix: k
    unit_time: h
    round: 2

[2021-08-04 16:56] jjmuriel commented on #18740
Sorry and thank you.

[2021-08-04 18:02] robot256 opened #18741 "Add category tag "Energy" to the GreenEye Monitor (GEM) integration"
### Feedback

The GreenEye Monitor is primarily a 32-channel AC power measurement device, that has some temperature and pulse inputs as well.  Since it is used to measure home electrical energy use (similar to Sense and TED5000), it would be helpful to include it in the "Energy" category.

### URL

https://www.home-assistant.io/integrations/greeneye_monitor/

### Version

2021.8.0

### Additional

[2021-08-04 18:11] kruzgix opened #18742 "Gauge sections"
### Feedback

Think about values, like humidity, that have several sections with the same colors. E.g.
Red: 0-20%
Yellow: 20-35%
Green: 35-60%
Yellow: 60-75%
Red: 75-100%

### URL

https://www.home-assistant.io/lovelace/gauge/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-04 18:35] booroondook-eng opened #18744 "Need multiple color zones"
### Feedback

For example: I want to use a measurement chart to see the current voltage in my house. There is a standard allowable voltage of 230V ± 10%, that is, the range is 217V to 243V. And I would like the area below 217V to be red on the scale, the area from 217V to 243V to be green, and the area above 243V. - red again.
In other words, it is need to be able to create pairs of "yellow" and "

[2021-08-04 19:17] haddood opened #18747 "Spelling Mistake in Documentation"
### Feedback

the last entry " other_talt_remaining", should read "other_talk_remaining"

### URL

https://www.home-assistant.io/integrations/fido/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-04 21:04] aaronsb opened #18751 "Energy meters do not appear to support split phase metering (North America) "out of the box"."
### Feedback

Hi, in North America, energy meters in residential settings are most often found with split phase panels. That is, two legs and two clamp meters.

Please extend energy meter consumption and return to facilitate this difference in power delivery approach. Or, extend the documentation to give users a hint about how to build a template sensor to assist with this. My suggestion would be

[2021-08-04 21:26] JanOstrowka opened #18753 "GDPR Violation - Trackers on home-assistant.io"
### Feedback

To whom it may concern,

First of all, I would like to state that I have been a big fan of Home Assistant. It has set the new standard of smart homes and open source projects. What convinced me to try it in the first place was the following statement

Unfortunately, today I am opening the following issue, as the earlier mentioned website does not follow these standards. Most of all,

[2021-08-04 21:32] RualdOrdelman opened #18754 "Growatt Solar integration doesn't show up at Energy solar"
### Feedback

I used the Growatt integration for 3 solar panel inverters. Today I tried to add the sensor data from the Growatt integration to the new Energy implementation of the HA 2021.8.0 release. The Energy function doesn't show any of my Growatt sensor entities.

I want to use sensor "sensor.pv_inverter_INVERTERNAME_curent_power_total" to show the current amount of power generated by that in

[2021-08-04 21:35] RualdOrdelman commented on #18754
@frenck. Good to know. Growatt inverters are not fully compatible yet with the new Energy functionality.

[2021-08-04 21:35] defer110 opened #18755 "add another example with current receiver"
### Feedback

Hi Guys,
None of the methods that had examples worked for me so thought it would be helpful if there was another example. Also a few people in the forms struggled.

  - platform: nad
      type: Telnet
      port: 23
      host: "IP_ADDRESS"
      name: NAD T778
      min_volume: -60
      max_volume: -20
      sources:
        1: "TV"
        2: "BluRay"
        6: "bluOS

### URL

[2021-08-04 21:47] balloob commented on #18753
GDPR applies to companies. Home Assistant is not a company.

[2021-08-04 21:47] #18753 closed, assigned to nobody

[2021-08-04 21:48] klaasnicolaas commented on #18751
You can add multiple grid consumption and return to grid entities, if that is what you want/mean?

[2021-08-04 21:50] aaronsb commented on #18751
I was only able to select one entity. Then I realized I was not saving settings properly! Thanks.

[2021-08-04 21:50] #18751 closed, assigned to nobody

[2021-08-04 22:00] mat1583 opened #18756 "Honeywell Total Connect integration is only importing one of my thermostats"
### Feedback

Before upgrading to 2021.8.0 I had the Honeywell total connect setup in my configuration yaml. I have both an upstairs and a downstairs thermostat that are connected via the Redlink gateway. It myTotalConnectComfort, it shows up as two thermostats in one home. Once HA was upgraded, the new integration only shows 1 entity, and my upstairs thermostat is now completely gone from HA. It

[2021-08-04 22:00] #18015 closed, assigned to nobody

[2021-08-04 22:05] ph00lt0 commented on #18753
@balloob sorry but this is complete non sense. The GDPR does not make any mention of it only applying to companies. There are only a few exceptions for example for law enforcement, but definitely not home assistant.

Besides the legal part, I really don't think it matters. Home-assistant states that it puts privacy first, this is not the case on your website currently.

[2021-08-04 22:10] JanOstrowka commented on #18753
@balloob this is a very dull argument.

As @ph00lt0 has already said:

If the Home Assistant is not officially registered as an organization, you @balloob are personally liable for any privacy violation.

Moreover, how can you say that Home Assistant puts "privacy first" if you are openly tracking it's users? Don't you think it is unethical to do so, without even asking for consent or a good reaso

[2021-08-04 22:26] frenck commented on #18754
@RualdOrdelman Not sure why I needed to know?

[2021-08-04 22:33] frenck commented on #18742
This is already supported.

[2021-08-04 22:33] #18742 closed, assigned to nobody

[2021-08-04 22:34] frenck commented on #18744
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-08-04 22:34] #18744 closed, assigned to nobody

[2021-08-05 01:28] gladius7 commented on #18684
Спасибо. Подключил.

[2021-08-05 01:56] Trebacz opened #18759 "New Honeywell integration only shows one of two thermostats in My Account"
### Feedback

I upgraded to the new integration. One of my thermostats cam over perfect. I don't see the second one.

![image](https://user-images.githubusercontent.com/19363347/128278790-d9b73901-4950-4e60-ae7e-e45091c8f929.png)

### URL

https://www.home-assistant.io/integrations/honeywell/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-05 02:31] Trebacz commented on #18759
Actually the second thermostat magically appeared after a restart of HA - followed by waiting (maybe about 20 minutes? Now it's there like it was. The integration on shows one device.
![image](https://user-images.githubusercontent.com/19363347/128281507-cdd9b628-b229-4e80-9aa5-518e8c2f9a36.png)
![image](https://user-images.githubusercontent.com/19363347/128281581-8214c8ec-c42b-4d7a-b947-2961548487

[2021-08-05 03:01] TheBassman opened #18761 "SolarEdge Power consumption meter not selectable for new Energy"
### Feedback

I have a SolarEdge integration (Web API) that provides production, consumption and grid power sensors, but in the new Energy module I can only select "solaredge (Lifetime energy)" sensor or some devices that provide power usage sensors, for the integration. Is there a plan to allow adding the others?:

sensor.solaredge_consumption_power
sensor.solaredge_grid_power

I tried changing t

[2021-08-05 04:42] blade566 opened #18762 "Problem access user"
### Feedback

I don't see the user name in the web. I think it is change in the web in Bmw. Can you change it ? Thanks you

### URL

https://www.home-assistant.io/integrations/bmw_connected_drive/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-05 04:47] blade566 commented on #18762
Yes. But the code user not exist. Only the email in the web bmw connect

El jue., 5 ago. 2021 6:42, probot-home-assistant[bot] <
***@***.***> escribió:

[2021-08-05 05:05] frenck commented on #18761
You cannot use the power sensors for
The energy dashboard, as power is not energy. Those are different things.

[2021-08-05 05:06] frenck commented on #18761
See also:

https://www.home-assistant.io/docs/energy/faq/

[2021-08-05 05:06] #18761 closed, assigned to nobody

[2021-08-05 05:32] frenck commented on #18762
Hi there @blade566 👋

It seems like you have a support question, however, you have submitted documentation feedback instead.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-08-05 05:32] #18762 closed, assigned to nobody

[2021-08-05 05:39] TheBassman commented on #18761
Thanks for the info, I should have picked up on that.
The energy values are available via the API. Who maintains the integration? I would like to request that the values are pulled as part of the polling, and added as a sensor.
API Name: Site Energy
Detailed site energy measurements including meters such as consumption, export (feed-in),
import (purchase), etc.

[2021-08-05 06:07] frenck commented on #18761
That would be a feature request, not a bug.

[2021-08-05 06:23] frenck commented on #18759
Hi there @Trebacz 👋

Two things.

It seems like you want to report an issue with the integration, however, you have submitted documentation feedback instead. If you want to report an issue, please use this issue tracker instead:
<https://github.com/home-assistant/core/issues>

This is a polling integration, it figures out / detects the thermostats on the first poll after startup. So, that sounds l

[2021-08-05 06:23] #18759 closed, assigned to nobody

[2021-08-05 06:51] ServusNL opened #18767 "No mention that there is no support for long-term statistics"
### Feedback

With the new Energy panel in the same version release of this (great) integration, it's a simple assumption that the Energy panel can be used with the YouLess integration. This does not appear to be the case at the moment because apparently the YouLess integration has no support (yet) for long-term stats. I believe it might prevent a lot of confusion and questions being asked if ther

[2021-08-05 06:52] frenck commented on #18767
We don't document this, as we believe all integrations should just support this. Raise an issue in the issue tracker instead (as instructed on the more information page).

[2021-08-05 06:52] #18767 closed, assigned to nobody

[2021-08-05 07:04] RualdOrdelman commented on #18754
I thought you would be interested because Growatt is listed as supported. But nevermind, hopefully the original makers will reply / fix this issue.

[2021-08-05 07:05] frenck commented on #18673
Sorry, I really can't get along with these statements. For hue you need hardware as well, the hub.
The integration is what you are looking at in Home Assistant (all are integrations...?).

As for rest of the text, that depends on how you want to run deCONZ. There are many ways, see the website of the manufacturer for that information. For example, the deCONZ add-ons (and thus the supervisor) is no

[2021-08-05 07:12] muppet3000 commented on #18754
@RualdOrdelman can you please show me where it says that Growatt is supported for the new "energy" functionality?

I only found out about this new functionality yesterday, I believe you're referring to this: https://www.home-assistant.io/lovelace/energy/

The fact that the plugin is tagged as "energy" has nothing to do with whether or not it supports the new energy functionality (afaik).

I believ

[2021-08-05 07:32] patrickdev19 opened #18769 "Incorrect warning of Tesla MFA is not supported"
### Feedback

Since 2021.8.0 the Tesla integration support MFA thanks to BreakingBread0!
But on the documentation page it still says that MFA is not supported. I'm suppose that this can be removed.

Thanks in advance!

### URL

https://www.home-assistant.io/integrations/tesla/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-05 07:50] RualdOrdelman commented on #18754
You are right. I did the assumption that Solar was already fully supported in the new Energy panel because it listed on the Energy page. I will close this issue.

[2021-08-05 07:50] #18754 closed, assigned to nobody

[2021-08-05 07:59] kruzgix commented on #18742
If supported, please link to the documentation. It's not documented unter: https://www.home-assistant.io/lovelace/gauge/

[2021-08-05 08:05] frenck commented on #18742
https://www.home-assistant.io/lovelace/gauge/#severity

[2021-08-05 08:09] frenck commented on #18769
PR is already open for this here: #18750

[2021-08-05 08:45] beta-j opened #18770 "links to open-homeautomation are dead"
### Feedback

The two links to open-homeautomation in the description are dead:
https://www.open-homeautomation.com/2016/07/19/measuring-air-quality/
https://www.open-homeautomation.com/2016/07/20/connecting-an-particulate-matter-sensor-to-your-pc-or-mac/

### URL

https://www.home-assistant.io/integrations/serial_pm/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-05 10:10] kruzgix commented on #18742
There's maybe a misunderstanding. The attached picture shows what I am looking for. The green range for humidity is a range (35-60%), if it's above it must become oragen/red again. Not good for your nor your house...

![ha_gauge_humidity](https://user-images.githubusercontent.com/49858723/128332820-32f2fcf1-20fd-4322-8d3c-161ff9c3b416.jpg)

[2021-08-05 10:44] frenck commented on #18742
That is a feature request, however, you have submitted documentation feedback instead.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-08-05 12:00] #18020 closed, assigned to nobody

[2021-08-05 12:08] zimbab66 commented on #18756
Same issue here. Upper level and downstairs worked fine before update to this new integration.

[2021-08-05 13:12] acrprod commented on #18756
Same issue for me!

[2021-08-05 13:19] mat1583 commented on #18756
It looks like async_setup_entry and the HoneywellService are both only using the first entry in the devices list:

    devices = []

    for location in client.locations_by_id.values():
        for device in location.devices_by_id.values():
            if (not loc_id or location.locationid == loc_id) and (
                not dev_id or device.deviceid == dev_id
            ):
                devic

[2021-08-05 13:42] rdfurman commented on #18759
Dupe of https://github.com/home-assistant/core/issues/53981.

[2021-08-05 13:43] rdfurman commented on #18756
Dupe of https://github.com/home-assistant/core/issues/53981.

[2021-08-05 13:45] rdfurman commented on #18756
Those position 0 references were copied from the old code. The difference is in how the old code was a platform configured (for each sensor) in the config.yaml vs how it is now implemented with config flow (which can only be done once).

Please see the PR I referenced above.

[2021-08-05 13:51] mat1583 commented on #18756
Thanks, I'll try to check it out a little later today. Busy with actual work at the moment. :)

[2021-08-05 14:15] sjikkervisje opened #18772 "Gauge Card does not show Blue color"
### Feedback

Just upgraded to 2021.8.1 and documentation states that is Severity value Green is higher than Min: then it should show the color blue. Instead it shows nothing see image. If I turn of Severity then it shows the whole gauge in the color blue. Please fix this.

![image](https://user-images.githubusercontent.com/1422692/128364961-ee94377a-8850-44d5-8748-57448c2781e7.png)

`type: gauge

[2021-08-05 14:15] warren1201 opened #18773 "two thermostats"
### Feedback

I have two Honeywell thermostats.  the integration seems to show to entities but only one is exposed.

### URL

https://www.home-assistant.io/integrations/honeywell/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-05 14:33] rdfurman commented on #18773
Dupe of https://github.com/home-assistant/core/issues/53981

[2021-08-05 17:00] craigccfl opened #18777 "'Unable to connect to the Litter-Robt API'"
### Feedback

On my system (Hassio) RP4, latest Core update 2021.8.0 & 2021.8.1 seems to break the Litter Robot integration. Tried changing pwd. Robot is online with a good connection, Android app working well.

### URL

https://www.home-assistant.io/integrations/litterrobot/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-05 17:09] natekspencer commented on #18777
This is a duplicate of https://github.com/home-assistant/core/issues/53983

[2021-08-05 17:41] kd7cnz opened #18779 "'Unexpected error' when using the API token provided by CO2 Signal in their email"
### Feedback

I am getting a 'Unexpected error' when I try to configure the integration for CO2 Signal.
![image](https://user-images.githubusercontent.com/24941834/128396164-d767cc4b-a701-48b0-a04a-9c44781d7918.png)

### URL

https://www.home-assistant.io/integrations/co2signal/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-05 17:54] wreuvers opened #18780 "This guage would be very useful if it centered in as positive/negative scenario - to monitor charge vs. discharge in any battery or power system."
### Feedback

In my solar and battery system I have 2x Reclaimed Tesla Model 3 Battery Packs (each 75kWh), 12x Reclaimed Tesla Model S modules (5kWh each for a total of 60kWh) and a bunch of other batteries (Nissan Leaf, etc). Depending on the time of day, the solar and wind production, the batteries are either being charged (receving power, so a negative value in Watts) or discharging power to po

[2021-08-05 18:05] frenck commented on #18780
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-08-05 18:05] #18780 closed, assigned to nobody

[2021-08-05 18:41] ZillionPrey opened #18781 "There is also a way to meter with an ESPCam"
### Feedback

I read the Energy page, since I'm already doing this with an ESPCam infront of my energy meter. I thought this would be a viable option to be added on the website.

The project I'm talking about can be found here: https://github.com/jomjol/AI-on-the-edge-device

### URL

https://www.home-assistant.io/docs/energy/electricity-grid/

### Version

2021.8.0

### Additional information

_N

[2021-08-05 21:21] veenstrahiem opened #18784 "energy"
### Feedback

I cannot add energy sensors myself.
I have some shelly 1PM, and some older sensors that I get values from through node red api calls.
These are nodered.sensors in my home-assistant.\

How to add them in the energy tab

### URL

https://www.home-assistant.io/docs/energy/individual-devices/

### Version

2021.8.0

### Additional information

EXCELLENT THINGS, I love the new energy dash

[2021-08-05 22:47] LouisKleiman opened #18786 "More login information needed"
### Feedback

I need more information regarding how to set up the Dexcom integration.  I have set up a follower in my Dexcom app, the details in the web page for the integration say "Follow the instruction on screen to complete the set up."  I have tried my user name and password with no success.  I didn't have to enter a password for the follower user, and the integration requires a password, so

[2021-08-05 23:03] gagebenne commented on #18786
The login information is the same as the user who is logged in to the Dexcom app (the one who is "sharing" their glucose readings), not the user who is viewing the shared glucose readings. I'd recommend two things: per the [warning](https://www.home-assistant.io/integrations/dexcom/#configuration), try changing your password to something with a mix of numbers and letters, or trying different Dexco

[2021-08-06 01:43] colemorgan opened #18788 "Message: 'Config flow could not be loaded' when attempting to install"
### Feedback

Trying to install from https://www.home-assistant.io/integrations/honeywell/ and I get the error message "Config flow could not be loaded"

I've seen that I need to set my external_url in order for this to work, and I've done that with DuckDns.

### URL

https://www.home-assistant.io/integrations/honeywell/

### Version

2021.8.0

### Additional information

_No response_

[2021-08-06 02:15] MVerBerkmoes commented on #18788
Same issue here .. "Config flow could not be loaded".

Not sure external DNS is required and I'm connecting via my internal address when receiving the error.  HA does have access to the internet.

[2021-08-06 04:21] BobLoblaw06 opened #18789 "New integration is missing thermostats"
### Feedback

I updated to HA Core and that must have updated to the new HW TCC integration. My house has 5 thermostats and only one of them is showing up under the new integration. I disabled\removed\reinstalled the integration with no success. I reverted back to a snapshot using the old yaml configuration and it is working again.

### URL

https://www.home-assistant.io/integrations/honeywell/

#

[2021-08-06 06:27] JakubAnderwald commented on #17322
Hello, the issue is still valid. I don't know if I can contribute somehow to solving it?

[2021-08-06 07:52] HA-TB303 opened #18794 "Integration not working anymore since months. Remove?"
### Feedback

This integration is not working for months and the author seems to have abandoned the project. Remove it from the integrations? or the HA team fixes it maybe?

### URL

https://www.home-assistant.io/integrations/nissan_leaf/

### Version

2021.8.2

### Additional information

_No response_

[2021-08-06 09:18] yasars opened #18795 "logbook card show no automation trigger after update"
### Feedback

i have a problem , after update to the latest update, i can see the trigged automation info , in my lovelance logbook card in the system logbook i see it but not in the widget... before update no problem  any one have an solution<?  bug in automation.trigger? when i set on/off i see it in log card , not when it trigged :(

### URL

https://www.home-assistant.io/lovelace/logbook/

###

[2021-08-06 09:39] #18795 closed, assigned to nobody

[2021-08-06 11:49] JoSpey36 opened #18798 "Color order in gauge card"
### Feedback

Just noticed that the order of the colors in the gauge card changes if you don't put the values in numeric order. green 40 - yellow 60 and red 0 puts red left, green middle and yellow right. Would be nice to mention in the code. (other colors would be nice too but that requires development I guess)

### URL

https://www.home-assistant.io/lovelace/gauge/

### Version

2021.8.2

### Ad

[2021-08-06 13:09] revdbrink opened #18800 "Ambee new terms: only 15 days left for free usage for an unpaid membership"
### Feedback

I just received an email from Ambee that they changed the terms for a free account, which was 100 free requests a day, this will stop working after 15 days (August 21th for me). From then I/you have to pay for all requests.

### URL

https://www.home-assistant.io/integrations/ambee/

### Version

2021.8.2

### Additional information

_No response_

[2021-08-06 15:00] LouisKleiman commented on #18786
I got it working!  The knowledge that it was my login helped me track down a password issue.  Sorry I had bad information, but I still think it would be helpful to state whose login information the config is looking for.  Thanks for the thorough response.

[2021-08-06 15:19] gagebenne commented on #18786
Nice, and yeah, definitely noted.

[2021-08-06 15:45] natekspencer commented on #18777
This is fixed in HA 2021.8.2

[2021-08-06 16:04] raoulteeuwen opened #18803 "Tesla: Account with 2 MFA-devices unable to sign in to HA Tesla integration"
### Feedback

My wife and i want to be able to access the Tesla account our model 3 is assigned to. We have connected both our phones for MFA. So both of us can sign in, upon which we get a choice which of the 2 phones we want to use for MFA, after choosing, we can input the MFA code, and have access to the account.

Why 2 MFA devices: so that when we're not in 1 room, we don't need the other pers

[2021-08-06 16:07] bkr1969 opened #18804 "Honeywell Total Comfort US"
### Feedback

With the new UI integration, this breaks having two thermostats.  I have two configurations, but the second one never shows my thermostat as an entity.

### URL

https://www.home-assistant.io/integrations/honeywell/

### Version

2021.8.2

### Additional information

[2021-08-06 16:11] raoulteeuwen commented on #18803
(to test, i have removed 1 of the 2 MFA devices ... when i now sign in to Tesla.com, i don't get the MFA selection screen .... but still can't get the HA integration to work (getting "Invalid authentication" while having no problem to sign in to tesla.com))

[2021-08-06 16:26] bkr1969 commented on #18804
I have now tried adding both thermostats to the same area, but I still only ever get one entity.

[2021-08-06 18:26] #18707 closed, assigned to nobody

[2021-08-06 19:02] drnichols commented on #18803
I have the same issue. I have three logins with access to my Tesla of which one is MFA enabled and I get the ‘Invalid authentication’ error with both MFA enabled and disabled accounts.

[2021-08-06 19:03] FalconUK commented on #18803
I have a similar issue, I can't sign in, without MFA, since today's upgrade to core-2021.8.2. I get the message "Invalid authentication". Nothing's changed anywhere else, part from the changes made as part of 2021.8.

[2021-08-06 19:37] kata685 commented on #18761
Hola buenas
Tengo creado sensores de energía a través de la platform: integration, pero cuando quiero utilizarlos no me aparecen en el listado de selección sabría decirme porque?

       consumo_casa:
        friendly_name: "consumo total casa"
        unit_of_measurement: "w"
        value_template: "{{ (states('sensor.shellyem_054356_channel_1_power')|float + states('sensor.shellyem_054356_chann

[2021-08-06 20:32] rainyvalley commented on #18779
I am experiencing the same issue, using two different API keys. It will work when I select “us” as the country code but not when I go by home location or manually adding my long/lag and provide the same error.

Hope this helps,

[2021-08-06 20:38] cyrilst commented on #18803
Same here, I have an Invalid auth since 2021.8.2, without MFA.

[2021-08-07 03:44] patrickgohier opened #18815 "Use of net meter, Aeotec energy meter"
### Feedback

It would be great to support metering devices that have one istead of two separate values for feedback vs consumed power.  The Aeotec Energy Meter (and others) only have a single KWH tag that accumulates up when power is consumed and down when feeding back to the grid.

A possible workaround would be supporting templates, but that doesn't even work at the moment.

### URL

https://ww

[2021-08-07 05:01] watzon commented on #18714
I’m having this same issue, though I just stared with HA and just got my Blink cameras, so I can’t say I’ve ever experienced them working together. It would be nice to have a working stream or even just have a working image preview though

[2021-08-07 05:44] vdelab opened #18816 "Envoy Enphase paramaters not compatible with HA long term statistics"
### Feedback

Hello,

having moved recently to the version 2021.8 of HA, there is the new page about Energy synthesis and also the capability to have some long term statistics used.

But when willing to select the adequate data from Enphase, it is not proposed.
There is only "Envoy Lifetime Energy Consumption" and "Envoy Lifetime Energy Production", but not the instantaneous ones...
Also, the inve

[2021-08-07 06:23] kittyscastle opened #18817 "Energy vs Power => they are alike, one is just the other over a certain time."
### Feedback

The start of the page says power is not like energy, the link then points out the wiki page:

Electric power is the rate, per unit time, at which electrical energy is transferred by an electric circuit.

The SI unit of power is the watt, one joule per second.

so the are not alike but one is calculated using the other * a certain time in seconds? I’m not yet sure how to phrase this o

[2021-08-07 07:34] sabatpoznan opened #18819 "Home Assistant - Energy"
### Feedback

Does not show up in new energy dashboard

### URL

https://www.home-assistant.io/integrations/solaredge/

### Version

2021.8.2

### Additional information

_No response_

[2021-08-07 08:17] lenny76 commented on #18815
nice feedback. same problem here with Shelly's and sonnen battery meter.
only one value for grid in and out

[2021-08-07 08:28] FalconUK commented on #18816
The energy calculations currently work with 'meter' values that always increase. The statistics functionality creates a time series from the updating value. So it's not ideal, but it does work.

I've 12 microinverters which I show on a normal graph, with much more frequent updates, so I know what you mean.

[2021-08-07 08:40] jjtoard opened #18820 "Issue with statistics when negative values ?"
### Feedback

I think the statistic integration has issues with negative values.

See same date : statistic and raw
![image](https://user-images.githubusercontent.com/24300782/128594498-712353c7-8cfd-450b-90aa-07d692fcc3c1.png)
![image](https://user-images.githubusercontent.com/24300782/128594504-a4fed8c3-1f53-489e-af73-02cfb4596710.png)

### URL

https://www.home-assistant.io/lovelace/statistics-

[2021-08-07 10:06] middelink opened #18822 "Documentation on mqtt_sensor' last_reset_topic is confusing."
### Feedback

The documentation of the mqtt_sensor states for `last_reset_topic`:

This let me to think I need to set the last_reset_**topic** to this timestamp.

However, when I tried that it did not work and when I look at the zigbee2mqtt code it seems to be implemented differently, https://github.com/Koenkk/zigbee2mqtt/blob/70891eec39018303a43349c875ad04d44b3b43cf/lib/extension/homeassistant.js

[2021-08-07 10:53] Hellplant commented on #18803
Same problem here updated from 2021.7.x to 2021.8.2 to test it and it didn't work. Updated today to 2021.8.3 and no change.
I have tried disabling MFA and it didn't work and enabled it again and I still get invalid authentication.
I don't think it matters to the integration but I have a Model 3 and live in Sweden.

[2021-08-07 11:28] gigatexel commented on #18128
bump.

still present

[2021-08-07 12:03] piluxh opened #18823 "Page does not list WHY a statistics for an entity are not available"
### Feedback

This page is referenced from the energy configuration page when specifying an entity. If the entity is not listed, you are linked to this page. This page only says that it is a bug in the integration, but not WHY.

### URL

https://www.home-assistant.io/more-info/statistics/

### Version

2021.8.3

### Additional information

_No response_

[2021-08-07 12:26] TNTLarsn opened #18824 ""mode_command_template" deprecated???"
### Feedback

althought config variable`mode_command_template` is in the [docs ](https://www.home-assistant.io/integrations/climate.mqtt/#mode_command_template)
VSCode shows an error:

<img width="804" alt="Bildschirmfoto 2021-08-07 um 14 15 30" src="https://user-images.githubusercontent.com/5354495/128599999-91e4dfd2-398d-462c-8fb1-8114a708f21c.png">

as far as I can see, the integration still wo

[2021-08-07 14:00] Giom-V opened #18825 "Option to hide "min/max" legends in the statistics graph"
### Feedback

I really like the statistics graph but I think the color scheme makes it clear what's the mean, the min and the max so I would love to have an option to continue to display the 3 graphs but not their legends.

### URL

https://www.home-assistant.io/lovelace/statistics-graph/

### Version

2021.8.3

### Additional information

_No response_

[2021-08-07 15:15] felipediel commented on #17322
Hi. For now there is no easy way to extract the codes. Many people do it by sniffing the communication between the app and device. It's not interesting to have this in the documentation.

It would be nice to connect to the cloud API with the user account and download the codes in an easy way, but this still needs to be developed by smart, nonconforming people with available time. A possible walk-t

[2021-08-07 16:00] #18054 closed, assigned to Danielhiversen

[2021-08-07 16:23] Ace0510 opened #18827 "Graph with ) values"
### Feedback

Use Shelly EM to display the energy used. However, the new energy display does not show the values. The graph is correct., but all the values are 0.
![image](https://user-images.githubusercontent.com/34573996/128606905-ebb2d477-d14c-40d6-8ac5-a372052c9238.png)

![image](https://user-images.githubusercontent.com/34573996/128606929-ba4235b9-8c75-4a8b-90b8-6464064c45f5.png)

### URL

ht

[2021-08-07 18:09] crustulumtheoneandonly opened #18831 "Please add field 'name' to example configuration.yaml"
### Feedback

Maybe it’s obvious to the most people, but I wondered 30mins why my discord notification wasn’t working. It helped defining a name "discord" for the notify service. Maybe you can ad this in the documentation.

cheers

### URL

https://www.home-assistant.io/integrations/discord/

### Version

2021.8.3

### Additional information

_No response_

[2021-08-07 18:11] ludeeus commented on #18831
This is already documented <https://www.home-assistant.io/integrations/discord/#name>

[2021-08-07 18:11] #18831 closed, assigned to nobody

[2021-08-07 18:16] liksvette opened #18832 "Missing info on sensor.electricity_price_XXX attributes"
### Feedback

There's a plethora of attributes in the aforementioned sensor, but I struggle to understand their relevance and what they might be used for. Would be great to have that available.

app_nickname:
grid_company:
estimated_annual_consumption:
price_level: NORMAL
max_price: 0.856
avg_price: 0.786
min_price: 0.708
off_peak_1: 0.771
peak: 0.782
off_peak_2: 0.826
unit_of_measurement: NOK/kWh

[2021-08-07 18:57] alandtse commented on #18803
This is not the correct place to report this as it's not a documentation issue. Please close this PR and follow https://github.com/home-assistant/core/issues/54177

[2021-08-07 19:14] #18803 closed, assigned to nobody

[2021-08-07 21:00] #18059 closed, assigned to nobody

[2021-08-07 21:00] #18058 closed, assigned to nobody

[2021-08-08 00:00] #18060 closed, assigned to nobody

[2021-08-08 03:11] spraguej248 commented on #18789
Same problem for me.  I have three thermostats.  Since the last HA update it pulls in the configuration into the GUI installation section and only setup one thermostat.  I tried adding adding more with the GUI integration, deleting the integration and adding it manually.  Nothing I do will pull up all three thermostats.  Had to revert back to the last HA 2021.7.

[2021-08-08 03:34] rdfurman commented on #18789
Duplicate of https://github.com/home-assistant/core/issues/53981

[2021-08-08 04:28] GazTheGeek opened #18836 "Entities Register OK - Cannot Control Them"
### Feedback

HI all,

So I have taken the plunge and started a project to integrate my Dynalite system into HA.

I bought an [EByte E810-DTU](https://www.ebyte.com/en/product-view-news.html?id=825) Ethernet to RS485 converter

[More details here](https://community.home-assistant.io/t/philips-dynalite-lighting-switches/89213/143?u=gazthegeek
)
I am getting a solid link light when HA connects.

I a

[2021-08-08 04:51] caitotheonlypotato opened #18837 "Energy management"
### Feedback

Hi.  I've been able to successfully set up energy management, however I can't find an elegant and/or accurate way of setting up the integration with the powerwall home battery.  I have some sensors all ready to go and they are recognised by the energy management integration but no matter where I enter them into the configuration, if throws the calculatrions into chaos.  Is there an i

[2021-08-08 05:17] koskila opened #18838 "Climacell changing rate limits, 500 -> 100 / d. Docs to be updated?"
### Feedback

The documentation mention ClimaCell API call limit to be 500. However, after their v3 API was retired July 1st 2021, only v4 is available and the rate limit there is just 100 calls / day.

I suspect this issue will pop up more and more in the coming months, so updating the documentation now might be a good call.

### URL

https://www.home-assistant.io/integrations/climacell/

### Ver

[2021-08-08 08:43] kata685 opened #18839 "Sensores integración Energy"
### Feedback

Hello,

When trying to select the energy sensors created by myself, they do not appear in the list, I do not know what the reason is.

  - platform: template
    sensors:
       consumo_casa:
        friendly_name: "consumo total casa"
        unit_of_measurement: "w"
        value_template: "{{ (states('sensor.shellyem_054356_channel_1_power')|float + states('sensor.shellyem_054356_

[2021-08-08 10:40] akonstster opened #18840 "Mikrotik integration stop working"
### Feedback

Logger: homeassistant.config_entries
Source: components/mikrotik/hub.py:259
First occurred: 13:36:11 (1 occurrences)
Last logged: 13:36:11

Error setting up entry Mikrotik for mikrotik
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 293, in async_setup
    result = await component.async_setup_entry(hass, self)  # type: ignore

[2021-08-08 12:44] phillipredshirt opened #18841 "add instructions for where to find the network key"
### Feedback

It is mentioned several times that the network key needs to be copied down, but there is no explanation of where you can find it so you can copy it.

This

"Write down/copy your Z-Wave network key somewhere, you are going to need it later."

Should be something like this

"Write down/copy your Z-Wave network key somewhere, you are going to need it later. It can be found in this confi

[2021-08-08 12:45] raoulteeuwen opened #18842 "Add whether and if, how, this integration can use the new Energy dashboard"
### Feedback

I'm happily using this integration. I hoped i could use it as input for the new Energy dashboard. But when trying to config that, the DSMR sensors for consumption and production are not shown in the drop downs of the Energy dashboard config UI.

### URL

https://www.home-assistant.io/integrations/dsmr/

### Version

2021.8.3

### Additional information

(want to express thanks for al

[2021-08-08 12:48] BlueMoon23 opened #18843 "QNAP Update Guidance Useless"
### Feedback

Will someone please provide a structured way to update the QNAP version. I had a good set up, decided to update and have now lost everything.

### URL

https://www.home-assistant.io/installation/alternative/

### Version

2021.8.3

### Additional information

_No response_

[2021-08-08 12:59] RobBie1221 commented on #18842
It should work, I have them on my dashboard. Are you sure you are using the official integration?

[2021-08-08 13:09] lein1013 commented on #18784
Similar issue: energy meter devices do not show up
I propose to change the title to "energy meter devices do not show up for energy consumer configuration"
I have broadlink sp3 power meter plugs. Further I use the integration component to integrate W to Wh  and have template sensors for e.g. a light which I switch on via esp home

It would be helpful to know what properties are needed that a energ

[2021-08-08 13:22] klaasnicolaas commented on #18842
Hi there @raoulteeuwen  👋

It seems like you want to report an issue with an Home Assistant integration, hower, this repository is for documentation feedback.

Please raise an issue in the Home Assistant core issue tracker instead:
https://github.com/home-assistant/core/issues

Thanks! 👍

Klaas

[2021-08-08 13:22] #18842 closed, assigned to frenck

[2021-08-08 13:24] klaasnicolaas commented on #18784
Hi there @veenstrahiem 👋

It seems like you want to report an issue with an Home Assistant integration, hower, this repository is for documentation feedback.

Please raise an issue in the Home Assistant core issue tracker instead (and check if your question has been asked before):
https://github.com/home-assistant/core/issues

Thanks! 👍

Klaas

[2021-08-08 13:24] #18784 closed, assigned to nobody

[2021-08-08 13:29] klaasnicolaas commented on #18839
Hi there @kata685 👋

It seems like you want to report an issue with an Home Assistant integration, hower, this repository is for documentation feedback.

Please raise an issue in the Home Assistant core issue tracker instead (and check if your question has been asked before):
https://github.com/home-assistant/core/issues

But to answer your question, template sensors do not work with the energy da

[2021-08-08 13:29] #18839 closed, assigned to nobody

[2021-08-08 13:39] klaasnicolaas commented on #18837
Hi there @caitotheonlypotato 👋

It seems like you want to report an issue with an Home Assistant integration, hower, this repository is for documentation feedback. At the moment there is no support for batteries such as a powerwall, but this topic has certainly our attention.

Please raise an issue in the Home Assistant core issue tracker instead (and check if your question has been asked before):

[2021-08-08 13:39] #18837 closed, assigned to nobody

[2021-08-08 13:47] klaasnicolaas commented on #18836
Hi there @GazTheGeek 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. There is no amount of documentation we can adjust to fix a bug in the code.

Please raise an issue in the Home Assistant core issue tracker instead:
https://github.com/home-assistant/core/issues

Thanks! 👍

Klaas

[2021-08-08 13:47] #18836 closed, assigned to nobody

[2021-08-08 13:53] raoulteeuwen commented on #18842
Hi @klaasnicolaas . Although the integration doesn't seem to work for me as expected, my 'issue' was that it would be nice that the doc would reflect explicitly whether the integration should already work with the Energy dash, and if so, how.

[2021-08-08 14:13] klaasnicolaas commented on #18842
I don't get that from your earlier post, but I'll bring it up internally to see if we can do something about it 😉

regarding DSMR integration: support has already been made for this and should therefore work fine with the energy dashboard. For further help to get it working in your case, I refer you to the c[ommunity forum](https://community.home-assistant.io) or Discord 😉

[2021-08-08 14:17] ziv1234 commented on #18836
will be happy to look into it. can you reopen under core?

[2021-08-08 14:24] raoulteeuwen commented on #18842
Sorry for not being clear. Will try the forum: tried Discord, and maybe i don't understand how it works, but after posting my question (https://discord.com/channels/330944238910963714/872496321574088765/873223147858583623), i never got a reply, and i assume once new messages get posted in the same thread, once chances on getting a reply decrease fast...

[2021-08-08 14:56] Carlos-HA commented on #18761
Hello, First of all thanks for all hard work!.
I’ve just added my solax variables, but I can’t see any graphs... May be I’ve selected wrong variables.
Is it possible changing variables?. Thanks a lot.
Carlos

[2021-08-08 15:18] ejbernard64 commented on #18759
@frenck.  First, thanks for all that you do for HA that enables us novice users to really enjoy what the product provides.  I've learned a lot from you on this site as well as the monthly release video updates.

With respect to you comment to @Trebacz above, the polling makes sense as a possible cause.  I have 9 thermostats in my house.  It appears that only the first came in after upgrading to 20

[2021-08-08 15:59] Kertz1954 commented on #18800
Same here. I received the email on the Aug. 6.

Platinum score, but at a price !

[2021-08-08 16:35] Kertz1954 opened #18846 "Statistics graph info popup shows values twice on last entry in line and bar mode"
### Feedback

This only happens on last entry in line and bar mode.

![stats-popup-screen](https://user-images.githubusercontent.com/67558244/128638912-4b1ab2f5-10bc-4a5d-bb10-cbc80fd32883.png)

### URL

https://www.home-assistant.io/lovelace/statistics-graph/

### Version

2021.8.3

### Additional information

_No response_

[2021-08-08 22:41] Urbanhunter-hassio opened #18853 "Warning for users to check where solar forecast doesn't work"
### Feedback

With the new energy dashboard and solar production shows, I have found the forecaster does not work for most of my country Australia.

Maybe a warning to check if your location is covered on the PGIS website so you can stop most of the questions about why it is not working.

### URL

https://www.home-assistant.io/integrations/forecast_solar/

### Version

2021.8.3

### Additional inf