[2021-09-12 09:13] ludeeus commented on #19311
Duplicate of https://github.com/home-assistant/home-assistant.io/issues/18905

[2021-09-12 09:13] #19311 closed, assigned to nobody

[2021-09-12 14:30] allenporter commented on #17835
Valid issue

[2021-09-12 16:00] Didou30 commented on #19290
Bonjour,

Avez vous modifiez l'intégration car moi je peut me connecter mais aucune entité n'est remontée !!

Merci de votre aide.

Didier

[2021-09-12 16:00] #19290 closed, assigned to nobody

[2021-09-12 19:20] iambbbb opened #19316 "The HA Tesla account problem"
### Feedback

Hello I’m Calvin. The Tesla China account Cannot login now.  Thank you for helping

### URL

https://www.home-assistant.io/integrations/tesla/

### Version

2021.9.5

### Additional information

I don’t know why the account cannot login now

[2021-09-12 20:49] SHoogland opened #19320 "shallow explanation"
### Feedback

"to be able to do everything it needs to do."
A small specification or example of the process/features that need privileged acces to the docker host would be very nice.
I have been running a docker home assistant image for almost a year without it, so I was curious what it would do and why its necessary.

### URL

https://www.home-assistant.io/more-info/unsupported/privileged/

### V

[2021-09-12 20:58] SHoogland commented on #19320
To add a little context to that, I got there via google, so it took me a while to realise on what kind of issue I landed (unsupported warning apparently) and I think this has to do with a docker install of home assistant.

*a few minutes later*

I learned about the difference between the home assistant container and the home assistant core in a container (I think I have used the latter for the pas

[2021-09-12 21:03] ludeeus commented on #19320
This is a help page that is only linked from inside the supervisor.
If you don't have a supervisor the content here does not apply to you

[2021-09-12 21:04] SHoogland commented on #19320
Fair, but than maybe don't let google index it 🙈

[2021-09-12 21:06] ludeeus commented on #19320
It starts out with:

[2021-09-13 00:42] cjj commented on #19092
Link still not working @chemelli74 . Not sure if this is a country-product availability issue, but I'm in US and just goes to main product page. I think it should be (from products I can see): https://shopusa.shelly.cloud/shelly-em-50a-clamp-wifi-smart-home-automation#198

[2021-09-13 06:25] cjj opened #19323 "Newbie info for templating needed"
### Feedback

I just went through the process of creating my first template, and it was a really basic one...adding the value of two sensors together. It involved a LOT of guess-and-check and reaching out on the discord channel. I did not feel like I had a clue how to actually do this based on the documentation.

Questions I can't answer from the docs (including Templating page and the Jinkx:
* Wh

[2021-09-13 06:43] chemelli74 commented on #19092
@cjj, works fine here.
I bet you get redirected automatically by IP detection and the site structure differ.

[2021-09-13 08:20] ludeeus commented on #18448
We should not document bugs.
If needed it can be added to <https://alerts.home-assistant.io/>

[2021-09-13 08:20] #18448 closed, assigned to nobody

[2021-09-13 10:02] sbesteman opened #19325 "Integration not working anymore"
### Feedback

Logger: homeassistant.components.sensor
Source: components/growatt_server/sensor.py:870
Integration: Sensor (documentation, issues)
First occurred: 11:49:09 AM (1 occurrences)
Last logged: 11:49:09 AM

Error while setting up growatt_server platform for sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 249, in _asy

[2021-09-13 10:03] muppet3000 commented on #19325
Duplicate of: https://github.com/home-assistant/core/issues/56044

[2021-09-13 11:27] TheFes commented on #18536
I noticed this template as well today, the template should evaluate to True or False for a binary sensor.
I guess this would work:
`"{{ states | selectattr('state', 'in', ['unavailalbe', 'unknown', 'none']) | list | count > 0 }}"`

[2021-09-13 11:45] #19325 closed, assigned to nobody

[2021-09-13 12:00] #17642 closed, assigned to frenck

[2021-09-13 12:19] sthorley opened #19326 "Add explanation about stateless covers"
### Feedback

It would be useful to explain the impact of using stateless covers with Google Assistant per the PR here: https://github.com/home-assistant/core/pull/23498

### URL

https://www.home-assistant.io/integrations/cover/

### Version

2021.9.5

### Additional information

_No response_

[2021-09-13 12:19] heffneil opened #19327 "Show a non-grouped example"
### Feedback

It shows groups for the notify section but if you want to use simple notification method like pushover you would use

    notifiers:
      - pushover

NOT
    notifiers:
      - notify.pushover

### URL

https://www.home-assistant.io/integrations/alert/

### Version

2021.9.5

### Additional information

_No response_

[2021-09-13 13:54] andy5211d opened #19330 "DC Solar Systems"
### Feedback

Just a few points about the Energy pages.  I notice that there is often a reference to energy monitors which are purely AC measuring devices such as Shelly EM or CT Clamp Sensor, and will not work on DC solar systems.   The older solar systems may have purely DC solar power generation, which feeds the batteries and the AC inverter all at DC, 12V or 24V.  Thus measuring the energy can

[2021-09-13 14:56] lgloss opened #19331 "Wrong Example"
### Feedback

Your python date format is not correct in your example at the bottom of the page:

You have %-m where it needs to be %-d

sensor:
  # Minimal configuration of the standard time and date sensor
  - platform: time_date
    display_options:
      - 'date_time_iso'
  # Build on the standard sensor to produce one that can be customized
  - platform: template
    sensors:
      time_format

[2021-09-13 15:00] #18434 closed, assigned to nobody

[2021-09-13 15:17] ludeeus commented on #19330
Duplicate of https://github.com/home-assistant/core/issues/55974

[2021-09-13 15:17] #19330 closed, assigned to nobody

[2021-09-13 15:29] Wim-N opened #19332 "Setting for Serial EOL character"
### Feedback

Is it possible to add a parameter to set the EOL character that is being used in the serial sensor platform. It seems to to be a <LF> (0x0A) character. But a lot of devices are using a <CR> (0x0D) as a line termination character.
It would be nice to have a way of specifying that the serial sensor platform should use the <CR> (0x0D) as an EOL character.

### URL

https://www.home-assi

[2021-09-13 15:38] seidel77 opened #19333 "Qubino Smart Meter"
### Feedback

Hello,
I would appreciate if you could make the[ Qubino Smart Meter 3 Phases](https://qubino.com/products/3-phase-smart-meter/#takecontrol) available in the new energy integration.
Shoudl you need any infos, just contact me.
Thanks for your great work !

### URL

https://developers.home-assistant.io/docs/core/entity/sensor#long-term-statistics.

### Version

2021.9.5

### Additional

[2021-09-13 15:41] ludeeus commented on #19333
For that to be possible it has to exist as an integration.
Feature requests for new integrations need to be opened on the forums. Thanks :+1:

[2021-09-13 15:41] #19333 closed, assigned to nobody

[2021-09-13 15:55] iloveicedgreentea opened #19334 "Integration is broken for homekit"
### Feedback

I am hoping to use this integration plus the homebridge integration so I can automate my system with homekit. The problem is when a request to interface with the alarm is sent to HA, there is no pin sent so it will not work. Is there no way to store the pin somewhere and have it get sent instead of relying on user input? Homekit has no way of inputting a pin.

### URL

https://www.ho

[2021-09-13 15:57] iloveicedgreentea commented on #19334
Nevermind... looks like user error. I had the "code" param set which, admittedly due to confusing documentation, is actually to protect the UI and not sent directly.

I would suggest keeping the simplisafe and homekit labels on this for visibility in case someone else has this issue. Considering adding a sentence about the code param to the page as well. Working as expected now.

[2021-09-13 16:01] bachya commented on #19334
FYI, the use of this code is clearly explained when configuring it:

![image](https://user-images.githubusercontent.com/47216/133117721-d09d69c9-4c26-4a82-8830-46daed5a3421.jpeg)

Glad you're good to go!

[2021-09-13 16:01] #19334 closed, assigned to bdraco

[2021-09-13 16:03] iloveicedgreentea commented on #19334
Really wouldn't say that is "clear" if it causes user error :) "Used in Home Assistant UI" is extremely vague. Lots of things are used in the UI. That doesn't really indicate what it really does.

I created a PR to clarify what it does and how it can break homekit integration. https://github.com/home-assistant/home-assistant.io/pull/19335

[2021-09-13 16:15] seidel77 commented on #19333
Hi, thanks for your super fast feedback - the integration exist through z-wave. Isn't it enought ? it needs to be a single integration (sorry for the dumb question)?

[2021-09-13 16:17] ludeeus commented on #19333
If that is the case open a bug report against the zwave integration <https://github.com/home-assistant/core/issues>

[2021-09-13 16:18] seidel77 commented on #19333
Thanks !

[2021-09-13 20:00] #18436 closed, assigned to janiversen

[2021-09-13 20:02] juleztb opened #19338 "Possible to integrate static data?"
### Feedback

I realize that not all Stations have live data on https://www.mvg.de/meinhalt.
Yet it seems that all stations do have data if you just check on the main page and go to "Abfahrten": https://www.mvg.de/#
These propably only show static data.
As the GTFS integration has to be updated manually and HASS has to be restarted everytime, is it possible to somehow integrate static data for Sta

[2021-09-13 20:11] pixeldoc2000 commented on #19303
I am sorry, is misread the Breaking Change. I though we had to replace the @ between username:password@dbserver.

My bad!

[2021-09-13 20:11] #19303 closed, assigned to nobody

[2021-09-13 20:23] isaacandy commented on #19296
noted with thanks.
I was just sharing the issue & was wondering whether can I update the workaround on the site or do I perform the standard processes by raising an issue first.

[2021-09-13 20:23] #19296 closed, assigned to hunterjm, allenporter, uvjustin

[2021-09-13 21:46] andy5211d commented on #19330
OK, yes I agree its a duplicate.  I was concerned that people may think they can monitor DC Power/Energy using current clamps  Don't get me wrong the new Energy monitoring is fantastic, a great start.  Now I need to sort out how to make the energy flow diagram work....

[2021-09-14 00:13] richardsim7 commented on #18755
edit /usr/local/lib/python3.9/site-packages/nad_receiver__init__.py
line 46, from
`cmd = cmd + value`
to
`cmd = cmd + str(value)`

that should get input selection working on the T758 :)

[2021-09-14 05:52] tchesket opened #19341 "Energy dashboard not showing anything even though I have a sensor set up to track my usage"
### Feedback

The title pretty much says it. I set up a python script to get my current energy usage data in kWh from my provider's api. It is working fine, and the sensor shows the correct and current usage. I configured the energy dashboard to use that sensor to track usage, and manually set a price per kWh, but nothing shows up on the graph in the energy dashboard. Not sure what is going wrong

[2021-09-14 06:08] Prahlus opened #19342 "Wants to request an update of the ELIQ integration to work with HA energy metering."
### Feedback

I want to request an update of the ELIQ integration to work with HA energy metering. Where do I go about todo that ?

### URL

https://www.home-assistant.io/integrations/eliqonline/

### Version

2021.9.5

### Additional information

_No response_

[2021-09-14 06:29] ludeeus commented on #19342
That would be on the feature request section of the forum <https://community.home-assistant.io/> :+1:

[2021-09-14 06:29] #19342 closed, assigned to nobody

[2021-09-14 06:31] ludeeus commented on #19341
Does it sound like you want to report an issue?
This tracker is for feedback on the documentation.

This is the place for issues: <https://github.com/home-assistant/core/issues>

[2021-09-14 06:58] banan77 commented on #18755
Thank you richardsim7 !
Just had to find the path to file /nad_receiver/__init__.py (HA in docker) but that was exactly what was needed! Works fine now :)

[2021-09-14 07:47] tchesket commented on #19341
Oops, thank you, I will do that.

[2021-09-14 07:47] #19341 closed, assigned to nobody

[2021-09-14 11:31] janiversen commented on #18665
This is not a documentation issue, if it is still open then please look at the open issues:
https://github.com/home-assistant/core/issues?q=is%3Aissue+is%3Aopen+label%3A%22integration%3A+modbus%22+
and either add your comments on one of these issues or file a new issue.

Closing documentation issue.

[2021-09-14 11:31] #18665 closed, assigned to janiversen

[2021-09-14 11:48] janiversen commented on #18940
Closing since this is not a documentation issue.

Please upgrade your configuration according to the documentation. key "platform" is an old keyword that have not been used since 2021.6 (or something like that).

[2021-09-14 11:48] #18940 closed, assigned to janiversen

[2021-09-14 13:43] climbernl opened #19348 "Issue with Plugwise Smile P1 and Energy Management HA - No Statistics Found"
### Feedback

I've installed the Plugwise integration into HA and it works fine. But recently HA release the Energy Management dashbord. When I try to add the Plugwise S1 as a source for energy use data, it says that no statistics can be found. HA advices the developer of the integration to have a look at the following page:
https://developers.home-assistant.io/docs/core/entity/sensor/#long-term-s

[2021-09-14 14:36] horriblenoises opened #19349 "This page makes no mention of self configured entities."
### Feedback

What do I, the user, have to do to get my manually configured entities consuption entities to show up? MQTT? Rest? This page is a bit of a dead end and offers no helpful resources.

### URL

https://www.home-assistant.io/more-info/statistics/

### Version

2021.9.5

### Additional information

_No response_

[2021-09-14 16:04] deosrc commented on #14784
Still relevant

[2021-09-14 17:04] bouwew commented on #19348
@climbernl please use the Plugwise-beta custom_component https://github.com/plugwise/plugwise-beta instead of the Core Plugwise component. The bug you are reporting has been solved in Plugwise-beta.

It will be solved too in Core Plugwise some time in the future, not very soon...

[2021-09-14 19:55] thomy3k opened #19350 "Mqtt plug (Gosund)"
### Feedback

How is it possible to integrate Gosund Plugs for Energy usage into home assistant.

### URL

https://www.home-assistant.io/docs/energy/individual-devices/

### Version

2021.9.5

### Additional information

_No response_

[2021-09-15 06:25] omelhus commented on #19316
The Tesla component is coming out of core. Remove it and install the custom component from https://github.com/alandtse/tesla or find it on HACS.

[2021-09-15 06:55] #18908 closed, assigned to janiversen

[2021-09-15 13:46] tobox opened #19352 "Support for Solar systems with different anzimut/declination settings"
### Feedback

I have 2 PV systems: on one the house roof an one on the carport.

They have completely different anzimut/declination settings. It would be nice if home assistant could support multiple instances, and compute the sum of the predictions.

### URL

https://www.home-assistant.io/integrations/forecast_solar/

### Version

2021.9.5

### Additional information

_No response_

[2021-09-15 13:53] oldfart101 opened #19353 "flashing odroid n2 - why mention SD card?"
### Feedback

under the section - ENABLE I2C
the subsection - ENABLE I2C WITH AN SD CARD READER

there is no SD card used with  the odrioid n2
is this section a copy from elsewhere?

### URL

https://www.home-assistant.io/common-tasks/os/#flashing-an-odroid-n2

### Version

2021.9.5

### Additional information

_No response_

[2021-09-15 14:20] klaasnicolaas commented on #19352
You can add the integration multiple times, so for each "zone" you can specify the right settings 😉

[2021-09-15 14:24] tobox commented on #19352
Well, thats an easy an clean solution. Somehow I just did not try to add it multiple times. My bad. Thanks for the good work!

[2021-09-15 14:24] #19352 closed, assigned to frenck, klaasnicolaas

[2021-09-16 08:28] kryptonitecb3 opened #19359 "Docker GPSD documentation"
### Feedback

I have been trying to get the docker image working without using network_mode: host, and privileged: true. The issue I ran in to was getting gpsd on my local machine to work with the home assistant docker image. After spending a few hours I was able to find a single post on an RPI forum about changing gpsd.socket so that GPSD would listen on all ports and not only 127.0.0.1 (https://

[2021-09-16 09:15] DarthDestroyer opened #19360 "Missing } in Example"
### Feedback

Missing } in Example at STATE

https://www.home-assistant.io/integrations/template#device-tracker-sensor-with-latitude-and-longitude-attributes

### URL

https://www.home-assistant.io/integrations/template#device-tracker-sensor-with-latitude-and-longitude-attributes

### Version

2021.9.5

### Additional information

_No response_

[2021-09-16 12:00] #18453 closed, assigned to nobody

[2021-09-16 12:19] #19360 closed, assigned to nobody

[2021-09-16 15:44] rec opened #19363 "Twinkly documentation tweak"
### Feedback

Hello.  I wrote [a Twinkly controller for BiblioPixel](https://github.com/rec/bpx/blob/master/bpx.py) so I'm somewhat familiar with it.

Twinkly does store some number of programs on the string itself in non-volatile memory - the specific number depends on the string itself.

More, there's a mode where you can send individual frames to an individual string in real time over the netwo

[2021-09-16 19:18] rytilahti commented on #19185
Afaik the firmware using authentication has been only seen on a limited number of models, so I'd assume that the statement found on the tplink forums is correct. Maybe it's worth updating the alert accordingly?

[2021-09-16 20:07] cokete opened #19365 "TV turns on when automation says turn off and the tv was off"
### Feedback

I have Philips TV Android TV with API 6.

If the TV is off and y launch an automation that turns_off all my devices, the tv turns on.

I’ve tried with using media_player.turn_off and using the tv remote entity that the integration provides.

I’ve used
- remote.send_command —> Standby and PowerOff.

The result is the same, if the tv was off, then turn on when launching this automation

[2021-09-16 22:42] dr1rrb commented on #19363
@rec really interesting! Do you known if there is a way to get the list of effects stored on the device? Does your "BiblioPixel" offers a way to retrieve that list?

[2021-09-17 09:11] NightFalcon650 commented on #19270
I also try to add individual devices like my shelly plugs, dimmers, etc. The only problemen is that they don't show up in the energy settings page.
How is this possible and what do I have to do to get it working?

[2021-09-17 09:28] DCSBL opened #19367 "No integration page for 'Home Energy Management'"
### Feedback

Users [can't find](https://community.home-assistant.io/t/energy-dashboard-not-showing-up/327340) that `default_config:` of `energy:` needs to be added to configuration.yaml. There is no technical documentation/integration page available for the Home Energy Management.

I can't think of other information to add to an integration page other than 'how to enable' as most information is a

[2021-09-17 09:32] ludeeus commented on #19367
Duplicate of https://github.com/home-assistant/home-assistant.io/issues/18905

[2021-09-17 09:32] #19367 closed, assigned to nobody

[2021-09-17 11:34] nikolas22t opened #19369 "Bug in Energy Modem for Shelly 3EM"
### Feedback

In energy module the return value of 3EM every morning at 3 o clock it adds to the daily usage the total return of all time ,
more info about my issue here
https://community.home-assistant.io/t/energy-module-possible-bug/337898/3

### URL

https://www.home-assistant.io/help/

### Version

2021.9.6

### Additional information

_No response_

[2021-09-17 13:05] #17795 closed, assigned to nobody

[2021-09-18 18:50] andras-tim opened #19373 "Missing note about legacy_templates"
### Feedback

I spent a half-day figuring out why the custom weather stuff doesn't work. I have no error message, but the whole weather object was empty.

Now I know, the **legacy_templates** causes my all problems.

After I fixed all of my templates and removed the following settings, everything started to work:

[code]

So, I mentioned, please write a note about this issue.

### URL

https://www

[2021-09-18 19:00] #18500 closed, assigned to nobody

[2021-09-18 19:30] gdt opened #19374 "myq homekit local access is unclear"
### Feedback

In reading this page, it seems pretty  likely must have the myq app and the cloud set up first, but then after using the homekit bridges it should "work locally".   What is unclear is if one were to firewall the openers from the cloud entirely, and perhaps even deprive them of wifi, will HA be able to control the doors?    For me, the point is to avoid not only the unreliability of c

[2021-09-18 19:35] bdraco commented on #19374
Please open a PR to adjust the documentation.  Thanks 👍

[2021-09-18 19:46] MapoDan opened #19375 "Living Now is working"
### Feedback

Hello,
Thanks a lot for all your job.
Just for your info, I've configured the Home+Control Integration with the BTicino Living Now series (https://www.bticino.it/placche-elettriche/living-now), so with its Zigbee Hub, and it is perfectly working for swithces.
I have no power outlets to test them, but I have roller shutter and I will test them as soon as they will be supported.

This

[2021-09-18 20:46] Megachip opened #19376 "Debbugging"
### Feedback

Missing informations for debugging issues...

### URL

https://www.home-assistant.io/integrations/edl21/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-19 09:41] dennismi opened #19378 "WorxLandroid Integration pin validation"
### Feedback

It does not correctly detect a pin with 4 zeros.

The error that hass.io is giving is:
The system cannot restart because the configuration is not valid: Invalid config for [sensor.worxlandroid]: does not match regular expression for dictionary value @ data['pin']. Got 0. (See ?, line ?).

Running HassOS on a pi4

### URL

https://www.home-assistant.io/integrations/worxlandroid/

###

[2021-09-19 09:43] dennismi commented on #19378
not an issue for the site, my bad

[2021-09-19 09:43] #19378 closed, assigned to nobody

[2021-09-19 10:47] sjakief opened #19379 "Solar energy consumed not configurable for me."
### Feedback

Hi,
My solar panels give back energy through phase 2 and phase 3, and i am probably not the only one who has a setup like this: The problem now is that i only have "energy consumed tariff 1 +2" and "energy produced tariff 1+2", and when i configure the energy with those options it looks like this
![image](https://user-images.githubusercontent.com/12416263/133924637-1a8ba9c6-9bd7-41de

[2021-09-19 11:53] blackest opened #19382 "automation.yaml"
### Feedback

The ui editor uses automations.yaml and this page says to create automation.yaml and include it
but having

automation: !include automations.yaml
and
automation: !include automation.yaml

results in just automation.yaml automations getting loaded

further down the page better suggestions are made but it seems wrong to be setting inexperienced users for failure.

### URL

https://www.

[2021-09-19 16:00] #18256 closed, assigned to nobody

[2021-09-19 17:10] pederseg opened #19385 "Password for integration has changed, how can the HA integration be updated with new password"
### Feedback

Ref doc for MILL integration, in HA logs I see that the password I configured the unit with (some time long ago) now is wrong.
Should the doc contain some information about how to store the new password in the HA integration.

Also should the doc contain some information about how to remove the integration, making it possible to redo the integration?

Logger: mill
Source: /usr/local/

[2021-09-19 17:28] Danielhiversen commented on #19385
The Mill integration currently does not support reconfiguration, so you need to remove and add it again.

[2021-09-19 17:46] pederseg commented on #19385
Thanks for quick reply Daniel ! I found a way to change the password by ediing /config/.storage/core.config_entries file - looks like it worked for the passwd. But I was looking into removing the component :-)
I still think the doc could be updated, but I close the issue and let you update if you like to :-)

[2021-09-19 17:46] #19385 closed, assigned to Danielhiversen

[2021-09-19 20:12] boule3 opened #19387 "add a list week for next 7 days instead of fixed week"
### Feedback

Impossible to view the folowing 7 days, instead of viewing a fixed week
list week show the actual week, and if we are on sunday, we see the previous 6 days (useless) and we don't see the next day
please update it, it was ok whith the unofficial google calendar before HA integrated it

### URL

https://www.home-assistant.io/lovelace/calendar/

### Version

2021.9.7

### Additional inf

[2021-09-19 20:13] #19387 closed, assigned to nobody

[2021-09-20 06:18] hsmade opened #19393 "Eenergy docs don't explain what kind of data is expected"
### Feedback

The docs only talk about existing integrations. But when you're rolling your own, or have your own, you need to know what kind of data is expected by the system.
For example, I rolled my own p1 -> mqtt system long ago. It publishes the values of each item in the telegram.
So I have both the current usage in Watt, and the two total (since 'epoch') values for the two tarifs, in kWh.

N

[2021-09-20 11:00] #17945 closed, assigned to nobody

[2021-09-20 14:00] #18048 closed, assigned to nobody

[2021-09-20 14:10] loopy321 commented on #19196
Same issue here with electricity working, but gas does not show up in the config dropdown.

I have tried many different gas sensors, but none work.  Maybe has to do with use of templates which is needed to convert from the raw ft3 to m3....  But, I tried just setting the raw reading to units of m3 with no luck.

[code]

[2021-09-20 15:47] hsmade commented on #19393
While fiddling with it, I found that this config seems to work:
[code]

So a state_class of measurement and device_class of energy, combined with a last_reset_value of epoch.
Note that I had to divide the value by 1000, it seems this telegram event is emitting Wh, not kWh (and I guess I could also fix the unit to make it work, but this works better for my other stuff).
Also, I found out that in or

[2021-09-20 16:00] #18093 closed, assigned to nobody

[2021-09-20 16:35] dpawson opened #19402 "Terminology."
### Feedback

Looking at thermostats. Came across the word 'card'?
No idea what it means - I am a newbie.
Is there sufficient jargon to make a glossary worthwhile?

E.g. ''connector" - seems to mean an interface hw piece etc etc.

### URL

https://www.home-assistant.io/lovelace/shopping-list/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-20 17:53] Kolk123 opened #19403 "No Api key"
### Feedback

after 5 months no api key.
send a email and after 2 months no response.
we better stop with this company

### URL

https://www.home-assistant.io/integrations/co2signal/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-20 18:38] uherting opened #19404 "Minor mistake in an example of input_number being used as a delay in an automation"
### Feedback

In the section "Here’s an example of input_number being used as a delay in an automation." the example says the following:
[code]
I the value 'max: 60' should IMHO set to 'max: 59'.

### URL

https://www.home-assistant.io/integrations/input_number/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-20 20:14] milanmeu commented on #19403
You should receive the API key a few minutes after confirming your registration.
Are you using a Microsoft email? Can you try to register again with a different email address/service?

[2021-09-20 20:57] milanmeu commented on #19402
I'm not quite sure what you're asking, so correct me if this comment doesn't answer your question.

The highlighted area in the image below is the card.

![cards](https://user-images.githubusercontent.com/15276289/134071452-1d3a80e9-b290-4ef1-a0c1-09b17ff76c6c.png)

For me the meaning of card is clear:
- There is a screenshot of a card with caption
- There is a link to the card terminology page in

[2021-09-20 23:00] #18473 closed, assigned to nobody

[2021-09-20 23:45] jschwerdlin opened #19406 "Need to update the recommended templates for new Energy page"
### Feedback

The existing examples need to be updated to the new template format to be usable in the Energy page.  Otherwise the device class and state class aren't correct and won't show up as available options

### URL

https://www.home-assistant.io/integrations/pvoutput/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-20 23:48] jschwerdlin commented on #19406
This is what I've got implemented now and it seems to generally be working

[code]

[2021-09-21 03:36] QuantumStar opened #19407 "PLEASE MARK AS DEPRECATED!"
### Feedback

I wasted hours trying to get the SenseHAT to work with the Pi running HomeAssistant, obviously to no avail since there are dependencies that are missing. I wish I'd read the forum post related to this sooner, instead I trusted the official doccumentation.

Please mark this as DEPRECATED until it can be fixed. It would be awesome to be able to use the SenseHAT with the Pi, but until t

[2021-09-21 04:54] brennanmuir opened #19408 "Clarity on some documentation"
### Feedback

I'm looking to figure out how to use the clean_spot and send_command services, specifically for a Shark IQ Vaccuum. I can't seem to find documentation for how to properly add spot (is it spot:bedroom or location:bedroom?) or a list of commands the vacuum will accept.

If you could add a bit more info for those commands, I'd greatly appreciate it!

### URL

https://www.home-assistant.

[2021-09-21 07:19] dpawson commented on #19402
I note 'for you'. A card? A birthday card? A sheet of plain white card? The use here is overloaded.
I was thinking more generally, for the home assistant project, to collect terms which are not familiar to a newbie,
to help with on-boarding.
  Sorry if I was not clear.

[2021-09-21 07:20] ludeeus commented on #19402
<https://www.home-assistant.io/docs/glossary/> "Card" can be added here

[2021-09-21 07:26] dpawson commented on #19402
Apologies, glossary not found.

[2021-09-21 07:26] #19402 closed, assigned to nobody

[2021-09-21 09:32] CarlosGS opened #19411 "Clarification for tag functionality blog post (need admin help)"
### Feedback

**Note: I can't submit a PR because it is a post in the blog:**
https://www.home-assistant.io/blog/2020/09/15/home-assistant-tags/

The article says:

    “Tags are not bound to the phone that wrote them, any phone can scan them.”
Though technically correct, some of us misinterpreted that tags would be exposing access in some way (i.e. by writing the HASS installation url).

Note the

[2021-09-21 09:50] ruudvddries opened #19412 "Growatt Integration - Login error"
### Feedback

Growatt integration was working flowless. Since two weeks login fails (JSON response unreadible by python script) and no data is being received.

Seems to be related to this issue https://github.com/indykoning/PyPi_GrowattServer/pull/18

I am unable to fix this myself. :(

### URL

https://www.home-assistant.io/integrations/growatt_server/

### Version

2021.9.7

### Additional infor

[2021-09-21 10:25] muppet3000 commented on #19412
This has been fixed in the latest release.
Duplicate of: https://github.com/home-assistant/core/issues/56044

[2021-09-21 10:39] ruudvddries commented on #19412
My apologies! I was trying to find a fix in the past weeks. Just updated to 2021.9.7 and all is fine now. Thanks for the hard work!

[2021-09-21 10:39] #19412 closed, assigned to nobody

[2021-09-21 13:24] lilienthal9 opened #19414 "Only Lifetime energy output entity available"
### Feedback

I added the Growat Integration, works so far.
When tryin to add to the energy panel the solar production there ist only one entit available ( Lifetime energy output). No chance for me to add the current energy or the daily produced energy.

Please update the integration

### URL

https://www.home-assistant.io/integrations/growatt_server/

### Version

2021.9.7

### Additional informa

[2021-09-21 14:12] muppet3000 commented on #19414
Hi @lilienthal9 can you please move this ticket to the 'core' repo not the 'io' one?

This is likely to be a lack of functionality for your specific type of system, we only have support for a few types of Growatt systems.
Can you post a picture from the growatt Web UI (https://server.growatt.com/index) like this:
![image](https://user-images.githubusercontent.com/10612068/134186791-dbf82ab6-715c-4

[2021-09-21 15:01] lilienthal9 commented on #19414
Hi there,

actually I do not know how to move this tot he „core“ repo!

Here is the screenshot:

Von: muppet3000 ***@***.***>
Gesendet: Dienstag, 21. September 2021 16:13
An: home-assistant/home-assistant.io ***@***.***>
Cc: lilienthal9 ***@***.***>; Mention ***@***.***>
Betreff: Re: [home-assistant/home-assistant.io] Only Lifetime energy output entity available (#19414)

Hi @lilienthal9 <https://

[2021-09-21 15:22] frenck commented on #19414
The energy dashboard just works with the lifetime sensor. It is generally considered the best choice of the sensor to use as well.

Furthermore, you are trying to report an issue, however, you have submitted documentation feedback instead. If you still want to report a bug, check www.home-assistant.io/help to find the right place to report one.

Thanks!

[2021-09-21 15:22] #19414 closed, assigned to nobody

[2021-09-21 19:20] frenck commented on #19270
The device should report its energy usage (which is kinda implied as it is the energy dashboard). Furthermore, the integration that provides those entities needs to support it. If not, you can open up an issue for that specific integration. (This is also linked when trying to add a device to the energy dashboard).

This is not a documentation issue in my opinion.

Nevertheless, thanks for taking t

[2021-09-21 19:20] #19270 closed, assigned to nobody

[2021-09-21 19:37] frenck commented on #19359
That is unfortunately not supported by the Home Assistant project.

Nevertheless, thank you for providing feedback 👍

[2021-09-21 19:37] #19359 closed, assigned to fabaff

[2021-09-21 19:50] ralong777 opened #19417 "this doesn't work"
### Feedback

this doesn't work

### URL

https://www.home-assistant.io/integrations/twitch/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-21 19:51] muppet3000 commented on #19414
@frenck thanks for closing. Although this isn't a bug with the energy dashboard, this is a 'bug' with the growatt integration, which has been logged in the same place.
@lilienthal9 can you please log the same bug as above, with the screenshot (which hasn't posted correctly here) to the following location: https://github.com/home-assistant/core/issues/new?assignees=&labels=&template=bug_report.yml

[2021-09-21 19:51] frenck commented on #19417
Hi there @ralong777 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please see www.home-assistant.io/help on where and how to report issues with integrations.

Thanks 👍

[2021-09-21 19:51] #19417 closed, assigned to nobody

[2021-09-21 19:52] #19316 closed, assigned to nobody

[2021-09-21 19:55] frenck commented on #19350
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-21 19:55] #19350 closed, assigned to nobody

[2021-09-21 19:58] frenck commented on #19348
Hi there @climbernl 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please report issues with Home Assistant integration here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-09-21 19:58] #19348 closed, assigned to nobody

[2021-09-21 19:59] frenck commented on #19349
Please consult the documentation of the integration providing the entities. For example, the MQTT documentation.

[2021-09-21 19:59] #19349 closed, assigned to nobody

[2021-09-21 19:59] christopher-walker opened #19418 "Authentication issue?"
### Feedback

Hi,
 Just got my heater installed added a Remote user client API in the Adax app tried to add the Adax integration in home assistant (one thing I notice is that the account id is a number rather than text).
 I selected 1 as the account Id and entered the password provided, got an error message _**Failed to connect**_

 When I look into the logs I see the following:

Logger: adax
Sour

[2021-09-21 20:02] frenck commented on #19418
Hi there @christopher-walker 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:L

<https://github.com/home-assistant/core/issues>

Thanks already! 👍

../Frenck

[2021-09-21 20:02] #19418 closed, assigned to Danielhiversen

[2021-09-21 20:06] thecode commented on #19369
Closing as you already opened an issue in the core repo

[2021-09-21 20:06] #19369 closed, assigned to nobody

[2021-09-21 20:34] frenck commented on #19332
This integration does not support setting that.

[2021-09-21 20:34] #19332 closed, assigned to fabaff

[2021-09-21 20:53] frenck commented on #19323
That is a YAML-related question and not about templates. Please consult documentation about YAML for more information on the delimiters YAML uses.

Not sure what your question is...

Home Assistant can do/support regex in templates, however, we are not here to teach/learn about regex. There are tons of resources out there to learn you all about using regular expressions. This is not a template-rel

[2021-09-21 21:11] balloob commented on #19373
I don't think it's worth mentioning. The feature is very rarely used and should be phased out.

[2021-09-21 21:15] #19265 closed, assigned to emontnemery

[2021-09-21 21:25] christopher-walker commented on #19418
Thanks @frenck
Turns out it is either an Idiot (me) or documentation issue though. I didnt understand what the account id referred to. Apparently this is not included in the Remote user client API screen but the User information screen in the app. Would stop fools like me posting issues if the doc was updated a little 👍

[2021-09-21 21:32] frenck commented on #19284
As described here: <https://www.home-assistant.io/integrations/media_source/#local-media>

[2021-09-21 21:32] #19284 closed, assigned to hunterjm

[2021-09-21 21:40] #19263 closed, assigned to emontnemery

[2021-09-21 21:57] frenck commented on #19205
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-21 21:57] #19205 closed, assigned to nobody

[2021-09-21 22:36] fasavard opened #19419 "Where can we edit value present in the documentation"
### Feedback

Hi,
I loaded the tuya integration with a succesful llogin. I do see my controller but have the know problem of avant the temperature with the wrong digit. The value should be 10 degree but it's 1.

In the documentation, there is such a tool to fix that:
Temperature values divider,

But the setting is nowhere in the UI, well pretty much none of those setting are available. How to i ed

[2021-09-21 22:42] ollo69 commented on #19419
Select Settings -> Integration

In Tuya integration select Options, then select device you want to configure and click submit. Option you are searching for are there

[2021-09-21 23:11] Wim-N commented on #19332
I know, but can it be added?

[2021-09-21 23:19] fasavard commented on #19419
<img width="1792" alt="Screen Shot 2021-09-21 at 7 17 56 PM" src="https://user-images.githubusercontent.com/49327442/134259997-ad72c586-9a7e-491e-89ca-6e205e3c25c6.png"
<img width="1792" alt="Screen Shot 2021-09-21 at 7 18 26 PM" src="https://user-images.githubusercontent.com/49327442/134260040-f31f1f2a-530a-4b76-b87c-e6c916461d80.png">

Im really sorry i think i might be not seeing something obvi

[2021-09-21 23:30] ollo69 commented on #19419
You must select (check) the device and click on submit. A new page will open with the options.

[2021-09-21 23:32] fasavard commented on #19419
Annnnd i'm a shame...
Thank you very much,
Pretty insane the quality of the service you just provided for free.
Thanks again

[2021-09-21 23:32] #19419 closed, assigned to nobody

[2021-09-22 00:14] Erica0011 commented on #18448
It's not a bug.  Enphase changed the API.  Starting in 7.0xxx They are forcing equipment owners to a cloud-based API.  There are rumors that there may be a local API again in a future release, but it will require a cloud token.  The most egregious part is that they did it as an automatic update without warning equipment owners.

Some Envoy owners, like myself, managed to firewall off our gear befo

[2021-09-22 01:53] mkaatman opened #19421 "use_webhook uri"
### Feedback

Would it be possible to document the uri that's used for use_webhook? I assume it's different than the callback.

### URL

https://www.home-assistant.io/integrations/withings/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-22 07:58] dpawson opened #19424 "404 error"
### Feedback

Page https://www.home-assistant.io/docs/automation/using_blueprints/

Text Done! If you want to revisit the configuration values, you can find it by going to Configuration and then Automations.

The hot 'configuration' link is 404

### URL

https://www.home-assistant.io/docs/automation/using_blueprints/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-22 08:15] frenck commented on #19421
I'm confused about your documentation suggestion in this case. The webhook set up and URL is handled by Home Assistant. You don't need to set the URL manually?

[2021-09-22 08:17] dpawson opened #19425 "Duplicate blueprints?"
### Feedback

text: If you just want to practice importing, you can use this URL:

Followed that (is it a 'requirement' to change the filename? Not made clear).
Allowed me to save the automation. I then find that blueprint already exists, seems to be in the same location?
  Is there no 'Overwrite file of same name'?
============
No mention of where blueprints are stored - /config/blueprints/automa

[2021-09-22 08:23] frenck commented on #19244
We consider these properties not user-facing, thus it is not part of the end-user documentation. If an integration doesn't correctly support long-term statistics or things like the energy dashboard, we consider that a bug. In that case, an issue can be filed to get it resolved.

Thanks for the feedback though! 👍

[2021-09-22 08:23] #19244 closed, assigned to nobody

[2021-09-22 09:03] chopperpl opened #19426 "Limitations of Gree?"
### Feedback

It would be nice to have the output from the temp sensor of the HVAC device showing current temperature in the room. This way we don't have to add/rely on additional/external temp sensor for automation via HA.
Thanks

### URL

https://www.home-assistant.io/integrations/gree/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-22 09:09] frenck commented on #19426
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-09-22 09:09] #19426 closed, assigned to nobody

[2021-09-22 09:31] frenck commented on #19207
I agree with @klaasnicolaas on that one. This is more a starting point for ESPHome, once that is in, we can certainly link to it.

[2021-09-22 09:31] #19207 closed, assigned to nobody

[2021-09-22 10:01] frenck commented on #19181
I agree with Ludeeus on this one, therefore closing this issue.

Nevertheless, thank you for providing feedback 👍

[2021-09-22 10:01] #19181 closed, assigned to nobody

[2021-09-22 10:09] johanf85 commented on #19244
Allright, understood.

Good to see you back, saw some messages by you from the hospital. Beterschap gewenst!

[2021-09-22 10:44] frenck commented on #19183
Please consider the environment by not printing

[2021-09-22 10:54] OJBender opened #19428 "OBIS Values of published MQTT topics should be Nr. 1 source for energy data"
### Feedback

Was looking for integration of OBIS data published by smart meter.
Example:   state_topic: "/energy/smartmeter/sensor/1/obis/1-0:1.8.1/255/value"
I am surprised that I did not manage to use such data in the energy section, nor could I find useful hints how to integrate them. The OBIS values 1-0:1.8.2 will also contain the solar power fed into the grid but has all other data of curren

[2021-09-22 11:41] frenck commented on #19428
Your examples show power usage, not energy. Energy and power are not the same things. You need to set up energy sensors, once you do, they will become available for selecting in the energy dashboard.

[2021-09-22 11:41] #19428 closed, assigned to nobody

[2021-09-22 11:58] cmroche commented on #19426
To be clear though, this is already supported by the integration, however many Gree devices do NOT support reporting this information over the network.

[2021-09-22 13:00] stepir commented on #18550
just wanted to add that I'm in the same boat owning a Exo. I'm happy to help in testing and support @flz development as I can: please let me know how I can help

[2021-09-22 13:00] frenck commented on #19158
I agree with Ludeeus on this one. Therefore closing this issue.

Neverthless, thank you for your feedback 👍

[2021-09-22 13:00] #19158 closed, assigned to nobody

[2021-09-22 13:23] frenck commented on #19149
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-22 13:23] #19149 closed, assigned to dgomes

[2021-09-22 13:46] frenck commented on #19143
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-22 13:46] #19143 closed, assigned to nobody

[2021-09-22 13:52] frenck commented on #19139
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-22 13:52] #19139 closed, assigned to nobody

[2021-09-22 14:01] dakoellis commented on #19139
Is this not the way to provide feedback for updates on the wiki? I already had this resolved but the documentation wasn't sufficient for me so I figured I would ask about updating it

[2021-09-22 14:02] frenck commented on #19129
Hi there @faniskou 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-09-22 14:02] #19129 closed, assigned to nobody

[2021-09-22 14:03] frenck commented on #19139
This depends on how you set up and manage your Docker environment and is not specific to this integration.

[2021-09-22 14:04] frenck commented on #19128
Closing this as a duplicate

[2021-09-22 14:04] #19128 closed, assigned to nobody

[2021-09-22 14:06] frenck commented on #19126
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-09-22 14:06] #19126 closed, assigned to nobody

[2021-09-22 14:09] dakoellis commented on #19139
But that's what I'm saying. I tried multiple different docker setups and
while I was able to see everything in the docker container the integration
wasn't picking it up. It seems like /dev/input is hardcoded in the code as
the path to watch (init lines 112-118) so if you pass in the device at a
directory outside of /dev/input the integration will not see it.

On Wed, Sep 22, 2021, 7:03 AM Franck N

[2021-09-22 14:14] frenck commented on #19139
Symlinks to alias devices should not be a problem, however, that depends on your setup.

[2021-09-22 14:18] VNRARA commented on #18594
Still broken link

[2021-09-22 14:26] dakoellis commented on #19139
But regardless if how you set it up, it still has to be under /dev/input based on the integration code and my testing.  What I'm saying is I set up an alias to /dev/airmouse, and I couldn't use that for the integration because it was not under /dev/input.  The only way to use /dev/airmouse (whether it be docker, udev, or something else) would be to set an alias from /dev/airmouse to /dev/input/air

[2021-09-22 14:46] PehrGit opened #19433 "Automation saves previous video"
### Feedback

Hi,

The instructions for saving the video when there is movement result in the video of the _previous_ movement being downloaded. It seems the video_url is only updated 30 seconds after the motion was detected. Which makes sense as it should first record the video belonging with the motion. Should we configure the automation to trigger when the motion goes to off instead of to on?

[2021-09-22 15:29] chopperpl commented on #19426
Hello Clif,
DO you know if this feature is supported by U-Crown model? It seems to be one of the top models, so I would assume this data should be available some how.
Thanks

[2021-09-22 15:44] frenck commented on #19433
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-22 15:44] #19433 closed, assigned to balloob

[2021-09-22 15:58] mkaatman commented on #19421
I'm fighting the infamous error code 293

https://github.com/home-assistant/core/issues/46425

I don't have my instance wide open. I'm reverse proxying specific urls through (oauth2 so far). My suspicion is that there is some webhook url being called that's getting blocked. I'm trying to figure out what that url is but the logs aren't detailed enough.

[2021-09-22 15:58] cmroche commented on #19426
I could not tell you from the model.

But if you set “greeclimate” to debug in your logging and attach those logs it will possibly let us know.. just make sure you set the target temperature to not be the same as the room temperature so we can identify the difference in the response.

[2021-09-22 16:01] frenck commented on #19421
Well, that is not a documentation issue but a bug report. Please keep track of that issue instead.

Thanks 👍

[2021-09-22 16:01] #19421 closed, assigned to nobody

[2021-09-22 16:04] dpawson commented on #19402
Oddly, a search for 'glossary' returned zero results?

[2021-09-22 16:05] mkaatman commented on #19421
If the URL was documented. I could forward it through and it would solve my problem

[2021-09-22 16:09] milanmeu commented on #19402
![image](https://user-images.githubusercontent.com/15276289/134380761-93ed83fc-cdbf-4d06-be37-26d27082f816.png)

[2021-09-22 16:58] frenck commented on #19421
There is no documented URL, it is calculated and automatically handled. Thus not a documentation issue,.

[2021-09-22 18:47] PehrGit commented on #19433
Thanks for the reply. I actually don't see this as a support ticket, I'm of the opinion that the example on the integration page is wrong/broken/faulty. So I'd say an issue is the appropriate place to discuss that, right?

[2021-09-22 19:22] mkaatman commented on #19421
If anyone finds this issue in the future, I found the url.

It's in /config/.storage/core.config_entries

The format is:
<external_url>/api/webhook/<webhook_id>

[2021-09-22 21:55] 0xJoeMartin opened #19437 "Supported in 2021.9.7?"
### Feedback

Updated HA Core to 2021.9.7 today and now I am getting errors for the Rachio integration.
[code]

### URL

https://www.home-assistant.io/integrations/rachio/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-22 22:19] klaasnicolaas commented on #19437
Hi there @0xJoeMartin 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2021-09-22 22:19] #19437 closed, assigned to bdraco

[2021-09-22 23:03] allenporter commented on #18562
Seems relevant still, but looking for input

[2021-09-23 00:03] #18602 closed, assigned to balloob

[2021-09-23 01:21] andras-tim commented on #19373
@balloob, I see your point, but while this compatibility mode exists this will be the only integration(?) that doesn't work, and besides this, the user will not have warning/error messages... so, this will be hard to fix.

[2021-09-23 04:40] JoeDaddy7105 opened #19439 "Add integration of RTLAMR Collect or InfluxDB as Energy meter source"
### Feedback

I use an rtl-sdr receiver and this tool on a Raspberry Pi to pickup the consumption radio signals from my meters and feed them in to InfluxDB.

https://github.com/bemasher/rtlamr
https://github.com/bemasher/rtlamr-collect

Not sure if it would be easier to take in the signals from rtlamr-collect or to just take the reads out of InfluxDB but it would be helpful to see this included as

[2021-09-23 06:36] ludeeus commented on #19439
For feature requests please use our
[forums](https://community.home-assistant.io/). Thanks :+1:

[2021-09-23 06:36] #19439 closed, assigned to nobody

[2021-09-23 10:29] Aviatorpaal opened #19442 "Language configuration"
### Feedback

Great integration! I would love to see customisable weather "output" language, e.g.: Weather: "Overskyet", not cloudy even though my HA install remains in English.

### URL

https://www.home-assistant.io/integrations/met/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-23 10:43] frenck commented on #19442
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-09-23 10:43] #19442 closed, assigned to Danielhiversen

[2021-09-23 10:57] frenck commented on #19373
If the integration doesn't work without enabling legacy templates, it should be reported as a bug and not a documentation issue.

Legacy templates was introduced for a transition possibility for existing users with complex templates, not as a compatibility/fix/option to use for things like these.

Could you please raise the issue you are having, including a reproduction scenario, in our Core issue

[2021-09-23 10:57] #19373 closed, assigned to nobody

[2021-09-23 12:33] StevenL98 commented on #18106
![image](https://user-images.githubusercontent.com/23526224/134507002-07e90a44-f8ff-4ade-b016-3f4b708d4710.png)

I keep getting this error when submitting an API key with the destination and origin.
Am I doing something wrong here?
My API key is a Distance Matrix API created today (23 Sept 2021), but also with an older API key of (8 Apr 2017) with Distance Matrix attribute, it keeps giving this er

[2021-09-23 13:35] dpawson opened #19444 "Device area? Included in Entity ID?"
### Feedback

In developer-tools/state for a device, advanced settings, I can assign a device to an area?
Is this required to uniquely identify a specific device as per example, kitchen.light? Is 'kitchen' the area obtain / set
via the attributes?

### URL

https://www.home-assistant.io/docs/automation/basics/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-23 13:46] dpawson opened #19445 "Missed selections on page"
### Feedback

Text reads 'Press the + sign in the lower right corner to get started. '
Seems to omit the options Create(with help) or Use blueprint or Start with an empty automation.

### URL

https://www.home-assistant.io/docs/automation/editor/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-23 14:31] milanmeu commented on #19424
Please also share the URL that returns the 404.
I tried the link and it works for me on 2021.8.
Is your `Your instance URL` correct?

---
![myconfig](https://user-images.githubusercontent.com/15276289/134525759-09967d43-d5e7-4e87-aa84-5c2fb7e4fa85.gif)

[2021-09-23 14:33] dpawson commented on #19424
I'm guessing it's because my rpi4 wasn't switched on?
How to add to documentation that 'this url is on your HA implementation'?

[2021-09-23 14:33] #19424 closed, assigned to nobody

[2021-09-23 14:42] milanmeu commented on #19424
This is already in the [My Home Assistant FAQ](https://my.home-assistant.io/faq/). Link to the FAQ is at the bottom of the https://my.home-assistant.io/redirect/config/ page. You can propose changes in the My Home Assistant repository: https://github.com/home-assistant/my.home-assistant.io.
You previously set your instance URL, delete your cookies or use another browser to see the configuration pa

[2021-09-23 16:29] frenck commented on #19376
We have generic tools available for debugging issues (unfortunately, your documentation feedback is not providing information on the issue you are experiencing).

Therefore, this documentation suggestion is hard to improve on.

Maybe try starting with getting information from the logger: <https://www.home-assistant.io/integrations/logger>

Please note, that if an integration doesn't work, it is re

[2021-09-23 16:29] #19376 closed, assigned to nobody

[2021-09-23 17:15] DaveDixon opened #19448 "Valuable but confusing"
### Feedback

Thanks for the documentation! The first part "Install Home Assistant Operating System" seems thorough and what I'll do even though I'm a 40-year unix/linux veteran. What isn't clear from the organization of this page is whether the subsequent installation instructions are part of or exclusive to the first part. The disclaimer on the Docker section is that you already have an operatin

[2021-09-23 17:18] ludeeus commented on #19448
We have that here <https://www.home-assistant.io/installation/#compare-installation-methods> which is on the page you see before getting to the raspberrypi page

[2021-09-24 02:06] foxsam21 commented on #19183
While I do appreciate the environment and don't usually print, there are times that there is an overwhelming need for a hard copy of some instructions or the sort.

[2021-09-24 04:52] markcm2 opened #19450 "Cannot find vera_controller_url: to update IP"
### Feedback

I changed the IP of my vera controller and Home Assistant can no longer communicate. I cannot find the vera_controller_url:  to update the IP in HA. I assumed it would be under Configuration > Integrations > Vera but could not find any way to update the IP there.

When searching the documentation via Configuration > Integrations > Vera > documentation, reference to using a static IP

[2021-09-24 07:27] alexswart opened #19451 "use Energy usage graph for other entitys"
### Feedback

i like it to use the style of the energy usage graph for other entity's
so that i can see what was the usage of my fridge or other electical equipment per hour, day, month etc

### URL

https://www.home-assistant.io/lovelace/energy/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-24 08:53] ludeeus commented on #19450
When authentication or connection details to the device/service change.
1) Remove the integration from Configuration > Integrations
2) Add it again with the new details.

This applies to all integrations that you manage in the UI.

[2021-09-24 09:03] dpawson opened #19452 "Incorrect example shown"
### Feedback

At least with 'action' setup, the images are not matched by the actual screens on HA with current issue number.
![Screenshot from 2021-09-24 09-58-50](https://user-images.githubusercontent.com/298535/134648316-53f01d7a-8fa5-4859-903f-251785b87e1b.png)

### URL

https://www.home-assistant.io/docs/automation/editor/

### Version

2021.9.7

### Additional information

Any error requirin

[2021-09-24 10:00] #18535 closed, assigned to frenck

[2021-09-24 13:35] mapulu opened #19459 "Shelly 1 Plus"
### Feedback

New Device "Shelly 1 Plus" seems not supported and it says not supported Firmware Version
"Only supports firmware 1.8 and later"
Firmware version: 0.8.1
Firmware build ID: 20210921
Maybe it would work but it checks the firmware version and it is to low?

### URL

https://www.home-assistant.io/integrations/shelly/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-24 13:37] bieniu commented on #19459
Generation 2 Shelly devices will be supported after 2021.10 release.

[2021-09-24 13:37] #19459 closed, assigned to bieniu, balloob, thecode, chemelli74

[2021-09-24 13:38] thecode commented on #19459
Next core version (2021.10.0) will support Shelly Plus and Pro devices

[2021-09-24 14:33] ApricotFarm opened #19460 "Minor typo - its vs it's"
### Feedback

There is a minor typo which should be corrected here:

https://www.home-assistant.io/integrations/template#change-the-icon-when-a-state-changes

In the following two sentences:

The word `it's` should be changed to `its` (no apostrophe for possessive form)

### URL

https://www.home-assistant.io/integrations/template#change-the-icon-when-a-state-changes

### Version

_No response_

#

[2021-09-24 15:08] cgtobi commented on #19460
Feel free to click that `Edit` button at the bottom of the page and add yourself to the list of contributors.  👍

[2021-09-24 15:16] Hippe-Lip opened #19461 "No gas in the new energy dashboard?"
### Feedback

My DSMR4 energy meter is connected using a USB connection (/dev/ttyUSB0). I can see all electricity values and in the entities I can see a sensor.gas.consumption, but the energy panel shows me grid, solar and home (they work fine), but no gas. Tapping on the sensor.gas.consumption in entities shows me the usage graph, so the information is getting there, but it simply doesn’t show…

[2021-09-24 16:21] abigdeel commented on #18106
Same issue here. Newly created distance matrix API and trying a combination of zones/device trackers, etc. But can't get past "failed to connect".

[2021-09-24 16:33] abigdeel commented on #18106
Okay I think I figured it out. My billing account was not linked to the project that contains the Travel distance API.

When I created a billing account for this, it created a separate New project and attached the billing account to that project only. So in the Google Cloud Platform thing, I went to my HASS project and assigned it the same new billing account that I created. With the account assig

[2021-09-24 18:41] laithalsunni opened #19462 "Phillips TV integration stops contacting to the tv"
### Feedback

After initial connection to the TV there integration will lose connection. The only way to restore the connection is to cut the power to the TV and restart. After that there a Gratian will connect to the TV and then lose connection within seconds. I have tried several versions of the firmware from different countries and all of them behave the same. this is an example of one of the e

[2021-09-24 20:00] #18198 closed, assigned to nobody

[2021-09-24 22:25] elupus commented on #19462
Duplicate of: https://github.com/home-assistant/core/issues/49801

Annoyingly. I have no idea how to solve this. The TV crashes for unknown reasons.

[2021-09-24 22:25] #19462 closed, assigned to elupus

[2021-09-25 06:59] ApricotFarm commented on #19460
I can't bring myself to do that for something so trivial...maybe when I contribute something a bit more substantive :-)

[2021-09-25 09:40] frenck commented on #19444
I'm confused about your question/explanation/documentation suggestion you are trying to make. Could you please clarify the suggestioN?

[2021-09-25 09:52] #19460 closed, assigned to nobody

[2021-09-25 09:58] dpawson commented on #19444
I think the HA term is 'domain'? I see many devices (device ID's?) prefixed with <x> then period, where x seems to vary between a device type (e.g.light) and 'place' / room, e.g. kitchen.
 I find this confusing and I'm looking for an explanation - e.g. how to set up the <x> prefix (or is it done automatically) etc.
 Sorry if I was not clear.

[2021-09-25 10:04] frenck commented on #19444
You cannot set up this prefix.

More in-depth explanation (but out of scope for the linked page for sure).

An entity ID is composed of: `<platform>.<object_id>`

A `<platform>` can be a `light`, `switch`, `climate`, or many of the other entity platform Home Assistant provides. These platforms are a fixed set and not customizable. `<object_id>` is the name of the entity provided by a device (which

[2021-09-25 10:04] #19444 closed, assigned to nobody

[2021-09-25 10:27] frenck commented on #19451
They are statistics graphs: <https://www.home-assistant.io/lovelace/statistics-graph/>

[2021-09-25 10:27] #19451 closed, assigned to nobody

[2021-09-25 10:42] oldfart101 opened #19467 "Owntracks Android documentation - incorrect - HTTP"
### Feedback

Document:
OwnTracks
OwnTracks (and its Android fork NextTracks) is a free and open source application for iOS and Android that allow you to track your location and send it directly to Home Assistant. It can be set up via the integrations panel in the configuration screen.

By default the integration will listen for incoming messages from OwnTracks via HTTP. It will also listen for MQ

[2021-09-25 10:47] frenck commented on #19461
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-25 10:47] #19461 closed, assigned to frenck

[2021-09-25 13:10] Brulijam opened #19468 "Home Assistant behind Reverse Proxy"
### Feedback

Hi,
I am running HA on docker on synology nas.
Docker created a network bridge that HA is using.
Docker assigned 172.17.0.2 to HA.
Authorization of Fitbit is not possible because HA returns http://172.17.0.2:8123/api/fitbit as redirect uri.
HA is accessable through https://home-assistant.[domain] and the redirect url should be https://home-assistant.[domain]/api/fitbit.
When accessin

[2021-09-25 13:53] johanf85 opened #19470 "Statistics page might be confusing with long term statistics"
### Feedback

The statistics integration is for providing certain statistics for chosen entities. It is something different than the Long term statistics. Wouldn't it be better to add some info that there is a distinction between the Statistics integration and the Long Term Statistics?

Users might be thinking they need to to set this integration for long term statistics to be recorded.

### URL

[2021-09-25 14:58] amathews84 opened #19471 "Camera Integration"
### Feedback

Is there any chance you can add camera integration?  Since Nest has direct integration with Smartthings I was hoping to bring in my Nest Hello Doorbell.

Also would a Nest thermostat be available when integrating Smartthings to Home Assistant?

### URL

https://www.home-assistant.io/integrations/smartthings/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-25 15:28] pavoni commented on #19450
@markcm2 As @ludeeus said removing and re-adding is the easiest solution to this.

The devices names shouldn't change - so the only hassle is if you have a lot of excluded devices or switches remapped as lights. My vera isn't currently live - but I think you can just copy and paste that part of the config.

[2021-09-25 19:36] kiro7shiro opened #19473 "How to install libraries mentioned in the documentation?"
### Feedback

In the documentation for the DHT22 sensor. Is described if one wants to use it, you first have to install `libgpiod2` via the command:

`sudo apt install libgpiod2`

But in the Home Assistant cli I don't have access to this or it's not even installed.

How am I suposed to install these dependencies?

### URL

https://www.home-assistant.io/integrations/dht/

### Version

2021.9.7

###

[2021-09-26 03:11] BarryMar opened #19474 "MJPEG support and HomeKit"
### Feedback

Hi there.

(Still learning out how HA works, so bear with me if this seems obvious or I'm missing something.)

Maybe it's worth a note in here to be aware of the info in the HomeKit page (https://www.home-assistant.io/integrations/homekit/) that MJPEG can't be directly passed to the Apple Home application (iOS) and that

a) MJPEG camera feed needs to be converted through ffmpeg first

[2021-09-26 03:28] flattery103 opened #19475 "Error: unknown flag: --content-trust"
### Feedback

You may need to revise your directions or you are missing a step or something.

### URL

https://www.home-assistant.io/more-info/unsupported/content_trust/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-26 09:00] #18571 closed, assigned to nobody

[2021-09-26 09:34] askthomas opened #19477 "Reauth often"
### Feedback

This plugin ask for reconfugure every 2 days to the scale, have 2 persons in app. it ask for booth users.

### URL

https://www.home-assistant.io/integrations/withings/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-26 10:26] frenck commented on #19477
Hi there @askthomas 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. I'm not sure how we can fix this in documentation.

Please report issues with Home Assistant integration here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-09-26 10:26] #19477 closed, assigned to nobody

[2021-09-26 10:34] frenck commented on #19475
Tested using the latest versions:

![image](https://user-images.githubusercontent.com/195327/134804208-51b05f37-fc2f-4b2c-bd62-1429e9bb1161.png)

You might need to look into updating your system? Anyways, the documentation is correct.

[2021-09-26 10:34] #19475 closed, assigned to nobody

[2021-09-26 10:36] frenck commented on #19473
These only apply to manual installation types. For our Home Assistant OS, Supervised and Container, we already provide all needed dependencies.

[2021-09-26 10:36] #19473 closed, assigned to nobody

[2021-09-26 10:40] frenck commented on #19471
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-09-26 10:40] #19471 closed, assigned to andrewsayre

[2021-09-26 10:44] frenck commented on #19468
- `Invalid redirect_uri parameter value`

This means there is a mismatch between the application configuration you created at FitBit & your Home Assistant setup. The URLs need to match. Home Assistant will detect the URL to use based on your browser and internal/external URL settings.

This is not a documentation issue.

If you are in need of support, you should try our [Community Forum](https://c

[2021-09-26 10:44] #19468 closed, assigned to nobody

[2021-09-26 18:19] StoricU opened #19480 "Add information about state icon"
### Feedback

Should also be mentioned how to use state icon.
If I want to use different icon for "ON" and "OFF".

### URL

https://www.home-assistant.io/lovelace/button/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-26 19:20] akloeckner opened #19481 "Extend valid domains"
### Feedback

The docs state:

However, my 2021.8.3 install ships with a `script` example blueprint.

I suggest to extend the description to the correct supported domains. If implementation is currently ongoing, I suggest to include a link to the current state.

### URL

https://www.home-assistant.io/docs/blueprint/schema/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-27 07:24] frenck commented on #19481
Thanks for reporting @akloeckner 👍

I've opened a PR to add the domain. There is nothing to link to for more information (as this is an open source project, which relies on contributions from others made in their free spare time, we cannot plan or predict that).

[2021-09-27 07:27] #19481 closed, assigned to nobody

[2021-09-27 07:41] frenck commented on #19382
The suggestion you are making, is the default configuration. This is already present in every installation.

This page is explaining an advanced subject on splitting configuration and is not aimed towards inexperienced users.

Nevertheless, thanks for providing feedback 👍

[2021-09-27 07:41] #19382 closed, assigned to nobody

[2021-09-27 08:38] DJF3 opened #19490 "Example with multiple hosts"
### Feedback

It woud be nice to see a simple example of a config that scans 2 or 3 IP addresses.

### URL

https://www.home-assistant.io/integrations/ping/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-27 08:46] frenck commented on #19490
`binary_sensor` is a list, as shown in the example:

[code]

Just add more to the list (as applies to all lists in Home Assistant, which is more a YAML concept).

[2021-09-27 08:46] #19490 closed, assigned to nobody

[2021-09-27 08:51] frenck commented on #19201
Thanks, @KevinRiordan 👍

I've opened up a PR to add the device to the list.

[2021-09-27 12:00] frenck commented on #18876
It accepts a time unit:

![image](https://user-images.githubusercontent.com/195327/134903797-0acc32a3-d3c2-4b04-93d1-29e82c943196.png)

This can be the number things, like just a number for seconds, but also a time format (e.g., `00:01:10`) and even a dictionary like `{ minutes: 1, seconds: 10 }"

[2021-09-27 12:00] #18876 closed, assigned to fabaff

[2021-09-27 15:08] frenck commented on #18654
Thanks, @diegomontanaduarte 👍

I've opened up a PR to adjust the documentation.

[2021-09-27 15:15] frenck commented on #18594
Thanks for reporting this one @VNRARA! I've opened up a PR to address the issue 👍

[2021-09-27 16:12] frenck commented on #19407
Hi, I don't think we need to use caps like that. It is considered shouting and therefore I don't think it is polite.

That said, it sounds like you are experiencing an issue with an integration, for which an issue should be reported maybe? That said, there is no context in this documentation feedback (besides frustration and opinion on if something should be deprecated or not); which is not much f

[2021-09-27 16:17] frenck commented on #19259
I've checked the documentation, it seems to be correct and matches the latest stable release of Home Assistant.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-09-27 16:17] #19259 closed, assigned to nobody

[2021-09-27 16:18] #18594 closed, assigned to nobody

[2021-09-27 17:13] QuantumStar commented on #19407
As this issue was raised two years ago, and ignored, I thought maybe if I used all caps it would finally be dealt with. It's not meant to be polite, it's meant to draw your attention to something that wasted hours of my time, and hours of other peoples' time.

If you read my post, you'd see what the issue is. The SenseHAT has dependencies that are missing from current distributions. SenseHAT does

[2021-09-27 17:30] frenck commented on #19407
The linked issue is closed stale. We don't use documentation to document issues, please raise issue for that.

In that case I'll go ahead and close this up.

[2021-09-27 17:30] #19407 closed, assigned to nobody

[2021-09-27 18:06] frenck commented on #19379
Hi there @sjakief 👋

It seems like you want to report an bug with Home Assistant or its integration, however, you have submitted documentation feedback instead.

If you want to report an issue with an integration (or the data it provides), please report it here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-09-27 18:06] #19379 closed, assigned to nobody

[2021-09-27 18:17] #19331 closed, assigned to fabaff

[2021-09-27 18:23] frenck commented on #19288
Thanks for reporting this one @jds11111 👍

I've opened up a PR to adjust this

[2021-09-27 21:32] KMDobrev commented on #19475
This code is not working for me.

[2021-09-27 21:35] frenck commented on #19475
In that case, file a bug report in the appropriate repository, as it is not a documentation issue (this is provided by you are documentation feedback).

See our website for more information on where to go: <https://www.home-assistant.io/help>

Thanks 👍

[2021-09-27 23:00] #18578 closed, assigned to nobody

[2021-09-28 03:38] myevit opened #19499 "Not connecting to Dyson cloud"
### Feedback

Logger: homeassistant.components.dyson
Source: components/dyson/__init__.py:60
Integration: dyson (documentation, issues)
First occurred: 21:28:57 (1 occurrences)
Last logged: 21:28:57

Not connected to Dyson account. Unable to add devices

double checked login info, tested on dyson web site

### URL

https://www.home-assistant.io/integrations/dyson/

### Version

2021.9.7

### Addit

[2021-09-28 05:10] grego1981 opened #19500 "Wakelock app - Xiaomi"
### Feedback

Hi the wakelock app refered does not work with Xiaomi Mi TV Box S. If an alternative is known it would be helpful as at least for me the box will not turn on

### URL

https://www.home-assistant.io/integrations/androidtv/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-28 07:27] frenck commented on #19499
Hi there @myevit 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead.

Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-09-28 07:27] #19499 closed, assigned to nobody

[2021-09-28 08:17] rhemkes opened #19509 "Dead end on getting energy to work"
### Feedback

"Open an issue with the author of the integration and link them to" - but how? For a normal user, this is not a feasible solution. With all the fanfare around the energy dashboard, would it not have been great to inform energy integration authors beforehand, or at least provide us with an easy way to contact them?

### URL

https://www.home-assistant.io/more-info/statistics/

### Ver

[2021-09-28 08:29] frenck commented on #19509
I'm sorry to hear you find that cumbersome, however, looking at the hundreds of issues created each week, I think we are doing fine.

We did.

Anyways, You have submitted documentation feedback, and it is clear that this is not documentation feedback. Therefore I'm going to close this up.

If you need guidance on where to go, see:

<https://www.home-assistant.io/help>

If you are in need of suppor

[2021-09-28 08:29] #19509 closed, assigned to nobody

[2021-09-28 08:44] rhemkes commented on #19509
Hi Frenck, thanks for your reply, but it would have been nice to be able to respond to you before you closed my question. I still feel the documentation could be a bit more eleborative on _how_ I would be able to contact the developer of the integration (Toon in my case). The fact that a lot of people created an issue does in my opinion not invalidate my experience that this is not straightforward

[2021-09-28 08:45] vistalba opened #19510 "Added "name" in configuration but does not change firendly_name"
### Feedback

I added the "name" parameter to the configuration to rename the entity in the energy tab.
After adding "name" and restart of the server the "friendly_name" in the dev-tab still shows the old auto generated friendly_name.

### URL

https://www.home-assistant.io/integrations/utility_meter/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-28 08:58] frenck commented on #19509
Closing an issue does not limit responding. The issue is closed as we do not consider this a documentation issue.

One doesn't contact the author of an integration. See the help page on where to report an issue with Home Assistant.

In this case you'd need to report an issues in the Home Assistant core issue tracker (it will show a nice user friendly form to fill out).

[2021-09-28 09:19] dgomes commented on #19510
Please submit the issue in the core repository and fill in the complete issue template

[2021-09-28 09:19] #19510 closed, assigned to dgomes

[2021-09-28 15:28] billgertz opened #19511 "Document Fallback Behaviour and Functional Requirements"
### Feedback

In the recently closed [PR#56](https://github.com/home-assistant/plugin-dns/pull/56) [pvizeli](https://github.com/pvizeli) wrote that the change suggested would "not solve the main issue which we solved with this."

Fine.

If we have our hearts set on retaining this feature with no way to opt out then please document the fallback behaviour. HA users need to be aware that DoH requests

[2021-09-28 15:46] giantorth commented on #19475
![image](https://user-images.githubusercontent.com/56210456/135120792-da621622-6649-46bb-a34c-bb1deb853c80.png)
Using core-2021.9.7 and supervisor-2021.09.4 I get this message from the host OS shell.  Does this command need to be run inside a docker container?

[2021-09-28 15:54] KMDobrev commented on #19475
It's exactly the same with me.

[2021-09-28 15:55] frenck commented on #19475
Don't use the Host OS to manage your system, use the SSH & Terminal add-on for those proposes

[2021-09-28 15:58] giantorth commented on #19475
Just tested with ssh addon and got identical result.

[2021-09-28 16:12] frenck commented on #19475
See above it works, feel free to raise an issue on the appropriate repository in case it doesn't work with reproduction details.

This issue is part of our documentation, for which we concluded the documentation is on par, hence this issue is closed and handled.

Thanks 👍

[2021-09-28 16:15] frenck commented on #19511
This is not related to the integration where this feedback was provided on, nor do I have clue on where this would fit.

This applies to managed systems, if you want to manage your own system we provide other installation methods that might be a better fit for you (for example, running Home Assistant Core directly or using the Home Assistant Container).

Nevertheless, feel free to provide a PR wit

[2021-09-28 16:15] #19511 closed, assigned to nobody

[2021-09-28 16:18] billgertz commented on #19511
I'm using Home Assistant Container and am seeing this behaviour. So just submit a PR here or is there a document repository where I can suggest and issue a PR?

[2021-09-28 16:21] frenck commented on #19511
You are not, as the Home Assistant DNS plugin isn't used by the Home Assistant Container installation method. So you are either running something else, or not experiencing the referenced issue.

[2021-09-28 16:22] billgertz commented on #19511
Yes I am and yes it is a docker install, although it was upgraded from a much older version. I'll try a fresh install on Debian 10 and import the config from the old install. I'll rattle this cage if I still have the issue.

[2021-09-28 16:23] frenck commented on #19511
Again the Docker install is not using the DNS plugin, as that is only used by the Home Assistant Supervised and Home Assistant Operating System installation types. The Home Assistant Core and Home Assistant Container installation types do not use these plugins, as those latter two installation types don't use a Supervisor.

For more information of installation types and their provided functionalit

[2021-09-28 16:24] frenck commented on #19511
Well this cage would be the wrong one. See my comments above.

[2021-09-28 16:24] billgertz commented on #19511
Thanks for listening. :-/

[2021-09-28 16:26] fenichelar commented on #19511
@frenck

To clarify, this isn't just a problem for people that want to manage HA themselves. If the DNS plugin cannot communicate with Cloudflare for any reason, it can have major performance implications for HA. https://github.com/home-assistant/plugin-dns/pull/56#issuecomment-928967969 describes what happens. I can confirm this to be accurate, I see the same behavior.

[2021-09-28 16:28] frenck commented on #19511
Considering this is documentation feedback: That is not a documentation concern.

[2021-09-28 16:33] fenichelar commented on #19511
Access to Cloudflare's DNS servers is a requirement for HA to function. I didn't know this was required so I blocked TCP port 853. HA then started operating very slowly. It wasn't until I investigated HA code that I found this behavior. This requirement should probably be documented so that people don't block TCP port 853 and find out the hard way.

[2021-09-28 16:39] frenck commented on #19511
See my initial comment for more information, as that still holds.

[2021-09-28 17:08] glyph-se commented on #18652
Hi, is this a bug in the code or in the documentation? If it is in the documentation I can file a PR to update it.

[2021-09-28 21:00] #18501 closed, assigned to Kane610

[2021-09-28 21:43] geoffreygarrett opened #19514 "addons/ssh/ perhaps missing information?"
### Feedback

Installed the add-on, cannot SSH into the homeassistant OS on my raspberry pi, there's definitely documentation missing because the README on the SSH app has no leads.

### URL

https://github.com/home-assistant/addons/tree/master/ssh

### Version

_No response_

### Additional information

_No response_

[2021-09-28 21:54] askthomas opened #19515 "Withings integration ask for Reauthenticate Integration again again, every week"
### Feedback

The Withings scale integration, ask for all users to Reauthenticate Integration API to withings, sevral times a week.

![image](https://user-images.githubusercontent.com/35760597/135170713-ec77e00a-83e5-4328-bacc-50f90c643478.png)
![image](https://user-images.githubusercontent.com/35760597/135170747-ea2292a3-e3cc-4166-865c-b3b530b8eb37.png)
![image](https://user-images.githubusercont

[2021-09-28 23:00] #17680 closed, assigned to syssi, rytilahti

[2021-09-28 23:00] geoffreygarrett commented on #19425
What even is this?'

[2021-09-29 06:47] ludeeus commented on #19514
That is documented on the "Documentation" tab inside the addon.
or here if you prefer <https://github.com/home-assistant/addons/blob/master/ssh/DOCS.md>

[2021-09-29 06:51] jdrescher2006 opened #19518 "Unclear output of datetime.py"
### Feedback

In the example "USAGE OF JSON ATTRIBUTES IN COMMAND OUTPUT" the output of the datetime.py script is unclear. If you do not provide this file, you need at least to give the json output data.

### URL

https://www.home-assistant.io/integrations/sensor.command_line/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-29 06:57] frenck commented on #19518
The goal of that documentation is not to show the scripts that are run, but the usage of the configuration of the command_line sensor itself. That example (as described) shows how to process a command that outputs a JSON format.

What that command does or how it works, isn't relevant for the example.

Nevertheless, thank you for the feedback 👍

[2021-09-29 06:57] #19518 closed, assigned to nobody

[2021-09-29 07:32] evanheckert commented on #19112
Agreed - also, it would be helpful to note the functions of the integration. Does it trigger an MQTT message each time something changes in Home Assistant? Does it cause Home Assistant to automatically listen for certain payloads, and will update entities based on it?

[2021-09-29 07:49] hdebruin opened #19520 "Not all sensors available in Energy Dashboard configuration"
### Feedback

When configuring my solar panels in the Energy configuration in HA, I cannot find all entities/sensors that come with this Growatt integration. The only two I have available are the ones having "lifetime_energy_output" in it. I'm lookin for the "energy_today" sensor, so it will only display current day energy generation.

Anyway I can get this fixed?

### URL

https://www.home-assist

[2021-09-29 07:59] emontnemery commented on #19112
@tggm @evanheckert please help push this forward by clicking the edit button on the page and proposing changes 👍

[2021-09-29 08:03] evanheckert commented on #19112
@emontnemery I certainly would, but I don't know the answers. My examples are guesses. I stumbled upon this thread in search of definitive answers.

[2021-09-29 08:09] muppet3000 commented on #19520
Hi @hdebruin only certain statistics are available on the energy page, basically anything that reports "KWH" as a unit of measurement should be available.
What type of growatt system do you have? Can you post me a screen grab from the growatt website like this please and I can tell you what sensors should be available:

![GrowattSystemType](https://user-images.githubusercontent.com/10612068/135228

[2021-09-29 09:22] hdebruin commented on #19520
Hi,

When I login to my Growatt account, it doesn’t say more than the “Device type”, see below.

***@***.***

I do see that my datalogger has a similar description/name as the value for the “Input/Search Number” in your screenshot, is it the datalogger that you’re looking for? See below.

***@***.***

Vriendelijke groet,

Hans de Bruin

Van: ***@***.***>
Verzonden: woensdag 29 september 2021 10:09

[2021-09-29 09:27] hdebruin commented on #19520
In the Growatt integration entities, I do see that the “Energy Today” sensor returns a kWh value by the way. That makes you think this would be available in the Solar Panel tab under Energy configuration then, right?

Vriendelijke groet,

Hans de Bruin

Van: Hans de ***@***.***>
Verzonden: woensdag 29 september 2021 11:22
Aan: ***@***.***>
Onderwerp: RE: [home-assistant/home-assistant.io] Not all

[2021-09-29 09:42] klaasnicolaas commented on #19520
Could you move this conversation to the core repository?
The issue tracker here is for documentation feedback on the website, integration issues should be in the core repository.

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2021-09-29 10:11] jdrescher2006 commented on #19518
The problem is that I am not abvle to get this example running. I get 2 error messages:
Unable to parse output as JSON: {'time': '03:53:25 AM', 'milliseconds_since_epoch': 1362196405309, 'date': '03-02-2013'}
And:
Template variable error: 'value_json' is undefined when rendering '{{ value_json.time }}'

My guess is that the python scrpt is not giving the correct json on which the example is based.

[2021-09-29 10:12] jdrescher2006 commented on #19518
My python script only does this:
print ({"time": "03:53:25 AM","milliseconds_since_epoch": 1362196405309,"date": "03-02-2013"})

[2021-09-29 11:28] casper255 opened #19521 "Nie da się skonfigurować integracji"
### Feedback

W momencie konfiguracji integracji otrzymuję komunikat "Identyfikator stacji pomiarowej nie jest prawidłowy". Numer stacji wyszukany wg dokumentacji integracji

### URL

https://www.home-assistant.io/integrations/gios/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-29 11:31] bieniu commented on #19521
I jaki to numer stacji?

[2021-09-29 11:33] casper255 commented on #19521
805. Ale np 814 czy 837 też nie działa.

W dniu 29 wrz 2021, 13:31, o 13:31, użytkownik Maciej Bieniek ***@***.***> napisał:

[2021-09-29 11:35] bieniu commented on #19521
Issues related to the integration should be opened here https://github.com/home-assistant/core

[2021-09-29 11:35] #19521 closed, assigned to bieniu

[2021-09-29 11:57] hdebruin commented on #19520
@klaasnicolaas , I don't think I have permission to transfer issues to another repo. Could either you or @muppet3000 transfer this to the corresponding repo? Thanks.

[2021-09-29 14:10] giantorth commented on #19475
Just one final comment, I manually installed os-agent again on my machine from the official repo and the 'unsupported installation' warning has since disappeared.
Despite apparently fixing the issue, the command listed in the documentation still responds with an 'unknown flag' error when attempted.  Is this an issue with os-agent or the supervisor specifically in this case?  I'm not sure where the

[2021-09-29 14:12] frenck commented on #19475
Sorry, its not a documentation issue.

[2021-09-29 19:10] lambrosfl opened #19527 "Compatibility with newer models"
### Feedback

Thank you for this integration, but unfortunately it is missing compatibility with latest Levoit air purifiers, like 400S and 300S.
Can you update it to get compatibility with 400S?

Thank you

### URL

https://www.home-assistant.io/integrations/vesync/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-29 19:12] frenck commented on #19527
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-09-29 19:12] #19527 closed, assigned to nobody

[2021-09-29 23:53] knwpsk opened #19529 "How to authenticate with Control4"
### Feedback

How does HomeAssistant gain access to Control4? What credentials will I need?

I've moved into a home with a pre-existing Control4 setup.
I'm interested in taking more control so I don't need to use an installer for all changes. So, of course, I'm investigating installing HomeAssistant.
In the Control4 integration page, there's no indication of how HA+Integration will gain access to

[2021-09-30 00:11] lawtancool commented on #19529
Hi @knwpsk!

The integration just uses your Control4 mobile app login credentials. If you can login using the Control4 app, you can use this integration.

[2021-09-30 01:34] johnbernstein commented on #18037
Still relevant - keep it open.

[2021-09-30 12:01] knwpsk commented on #19529
Great, thanks @lawtancool, this helps. (Suggest you might put that info on the Integration's page:
https://www.home-assistant.io/integrations/control4/

[2021-09-30 12:01] #19529 closed, assigned to nobody

[2021-09-30 18:10] cinghialino opened #19535 "Not enough info"
### Feedback

The configuration example is too simple, we need more examples,
and how to obtain station ID from https://citybik.es

### URL

https://www.home-assistant.io/integrations/citybikes/

### Version

2021.9.7

### Additional information

_No response_

[2021-09-30 18:12] #19535 closed, assigned to nobody

[2021-09-30 18:31] TangoOversway opened #19537 "Insteon (setup page on HA for Insteon)"
### Feedback

For this page:  https://www.home-assistant.io/integrations/insteon/

The page says that Insteon 2448A7 USB Adaptor works with HA. I bought one. I've plugged it in. Then I checked HA - it has not discovered the adaptor. I have searched and can't find anything about how to start AutoDiscovery. I started trying to add Insteon as a new integration on HA, but I'm not sure what to add. I k

[2021-09-30 21:03] behnam85 opened #19538 "statistics"
### Feedback

Logger: homeassistant.components.statistics.sensor
Source: components/statistics/sensor.py:194
Integration: statistics (documentation, issues)
First occurred: 12:29:47 AM (1 occurrences)
Last logged: 12:29:47 AM

sensor.for_more_detail_please_enter: parsing error, expected number and received None

### URL

https://www.home-assistant.io/integrations/statistics/

### Version

2021.9.7

[2021-09-30 21:08] behnam85 commented on #19538
After Reload Statist Entitys , will become State unknown
After restart Homeassistant, it works

[2021-09-30 21:21] tscibilia opened #19539 "Add Modern Forms preset modes"
### Feedback

I'm not sure if this is a preset mode or a service (like the sleep timers), but my fan has a breeze mode that I'd like to activate.

### URL

https://www.home-assistant.io/integrations/modern_forms/

### Version

2021.9.7

### Additional information

![Screenshot 2021-09-30 172112](https://user-images.githubusercontent.com/585808/135531855-05ac872d-c7b7-4ad4-b9e1-1241fbbdd05e.jpg)

[2021-09-30 22:00] behnam85 commented on #19538
Attributes
Sampling size
1000
Count
0
Mean
unknown
Median
unknown
Quantiles
unknown
Standard deviation
unknown
Variance
unknown
Total
unknown
Min value
unknown
Max value
unknown
Min age
October 1, 2021, 1:24:58 AM
Max age
October 1, 2021, 1:24:58 AM
Change
unknown
Average change
unknown
Change rate
unknown

[2021-09-30 22:32] behnam85 commented on #19538
![Screenshot_2021-10-01-01-28-32-057_io homeassistant companion android](https://user-images.githubusercontent.com/71830953/135538677-e258480b-e4a7-49dd-94e4-415f6b897174.jpg)

[2021-10-01 00:19] DAB42 opened #19540 "Samsung Family Hub camera view not workinjg"
### Feedback

Configured in configuration.yaml per Home Assistant documentation but no image displayed in Picture Glance Card.

### URL

https://www.home-assistant.io/integrations/familyhub/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-01 08:42] jacoscar opened #19543 "Tado related errors possibly causing a restart"
### Feedback

I am experiencing random restarts of my HA (Raspberry PI4) Core 2021.8.2,, OS 6.2

I also find these tado related error in the log, could it be related to that?

`File "/usr/src/homeassistant/homeassistant/components/tado/__init__.py", line 159, in update
    self.update_sensor("device", device["shortSerialNo"])
  File "/usr/src/homeassistant/homeassistant/components/tado/__init__.py

[2021-10-01 08:48] frenck commented on #19543
Hi there @jacoscar 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-01 08:48] #19543 closed, assigned to michaelarnauts

[2021-10-01 09:00] #18611 closed, assigned to frenck

[2021-10-01 09:00] #18607 closed, assigned to nobody

[2021-10-01 09:05] frenck commented on #19540
Hi there @DAB42 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integration here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-10-01 09:05] #19540 closed, assigned to nobody

[2021-10-01 09:10] frenck commented on #19539
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-10-01 09:10] #19539 closed, assigned to nobody

[2021-10-01 10:00] #18620 closed, assigned to Swamp-Ig

[2021-10-01 12:59] KirkKirk opened #19550 "How to read clients traffic from Cisco switch c3650"
### Feedback

HI,

Recently started learning about Home Assistant and I found it is an extremely good platform.
I've done a few automation and I am very satisfied with it.
As a beginner, I am trying to figure out how to show traffic individually for the devices present on my home network.
For example, on the HA dashboard I would like to have live data traffic for a device with MAC: xx:xx:xx:xx:xx.

[2021-10-01 13:21] frenck commented on #19550
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-10-01 13:21] #19550 closed, assigned to nobody

[2021-10-01 15:48] pandabear41 commented on #16074
@farmio Please see PR and review the purposed solution.

[2021-10-01 15:49] pandabear41 commented on #14784
@deosrc Please see PR and review the purposed solution.

[2021-10-01 15:50] teharris1 commented on #19537
Auto discovery is not available for Insteon. You need to go to `Configuration -> Integrations` and select `Instoen`. This wizard will walk you through the setup. 2448A7 USB Adaptor is treated as a PLM. The key item you need to know is the USB port that the modem is connected to. Hope that helps.

[2021-10-01 16:25] TangoOversway commented on #19537
Okay, that’s helpful! Thank you for such a quick reply!

Any tips on how to find the path to the USB port? And won’t that change if I change my USB devices? Right now I have 3 USB devices on my Raspberry Pi and I’m thinking I might get a USB hub so they’re spaced out more and in case I want to add Zigbee or more protocols I don’t have. I know when I was setting up RetroPie on a Pi 3, I found if I

[2021-10-01 17:00] tscibilia commented on #19539
ok thanks. In case anyone finds this issue here, I'll link to the feature request I created...
https://community.home-assistant.io/t/modern-forms-add-additional-modes-breeze-mode/343140

[2021-10-01 18:02] teharris1 commented on #19537
If you are using HASS.IO on your Rpi then you have access to the USB info using `Supervisor` and selecting the `System` tab at the top. Under the `Host` panel there is a menu in the lower right that will show you hardware info including USB paths.

![image](https://user-images.githubusercontent.com/9055260/135666168-8334199a-7db0-44aa-87bb-b26989f0df93.png)

Scroll down to `ttyUSBx` which will sho

[2021-10-01 18:16] liuk84 opened #19555 "doorbell ezviz"
### Feedback

please can you insert, since I have a doorbell db1 ezviz doorbell also the sensor that detects the pressure of the doorbell? it is essential to run subsequent automations

### URL

https://www.home-assistant.io/integrations/ezviz/

### Version

2021.9.7

### Additional information

please can you insert, since I have a doorbell db1 ezviz doorbell also the sensor that detects the pres

[2021-10-01 19:35] bartbakels opened #19556 "Integration interferes with twinkly app"
### Feedback

When the integration is enabled, mapping of light via app is almost impossible i think it has something toto with light status polling.

same with previewing light effects in the app.

issue disappears when has is offline or integration disabled.

### URL

https://www.home-assistant.io/integrations/twinkly/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-01 20:24] #18536 closed, assigned to nobody

[2021-10-01 21:00] #18618 closed, assigned to Danielhiversen, bdraco

[2021-10-01 22:25] TangoOversway commented on #19537
Thank you - I have it listed as installed.

I’m trying to add a device. Am I correct that there is no actual discovery for adding devices? It looks like I have to add a device and pick override and use the device address and category info.

I’ve added a dimmer this way, but I can’t be sure it’s really been added, since the controls in HA don’t change the dimmer. I click what I think is the off/on

[2021-10-02 04:10] WorldOfMaze opened #19558 "Hydrawise Integration Limitation"
### Feedback

The [Hydrawiser ](https://hydrawiser.readthedocs.io/en/latest/) code, which is used in this add-on, has a [limitation ](https://hydrawiser.readthedocs.io/en/latest/#limitations)that only one controller is supported.  It would helpful if this was noted in the documentation.  After spending quite a bit of time trying to get two controllers to work in HA and digging thru the code in Git

[2021-10-02 07:09] frenck commented on #19558
The YAML makes this clear already as this is not a list or dictionary that is shown, but a fixed mapping.

Hopefully multiple can be supported in the future when the integration is ported to the UI.

Please note, this is an integration, not an add-on. Add-ons and integrations are not the same things.

[2021-10-02 07:09] #19558 closed, assigned to nobody

[2021-10-02 08:38] fabaff commented on #19538
The `statistics` sensor consumes the data from another sensor. If that sensor is not working properly then the `statistics` sensor doesn't either.

[2021-10-02 09:02] behnam85 commented on #19538
I’ve been adding some statistics into my config and using the Reload Server management from Configuration > Server Control it's work. but when reload  Statist Entities from Configuration>server Control will become State unknown.

[2021-10-02 15:00] #18632 closed, assigned to nobody

[2021-10-02 15:00] #18001 closed, assigned to nobody

[2021-10-02 16:23] WorldOfMaze commented on #19558
Thanks for the response, @frenck.  For those of you more familiar with HA, the YAML may make it clear but for us newbies, having the limitation spelled out more clearly in the doc would be helpful.

[2021-10-02 18:00] #18633 closed, assigned to nobody

[2021-10-02 18:50] remulasce opened #19568 "Please add "Next" and "Previous" buttons to the bottom of every documentation page."
### Feedback

It's annoying trying to read the documentation from cover to cover because there's no easy way to just get to the next page. Some individual documentation pages have a text link to the next chapter at the bottom, but others don't, and some of them have multiple links.

So you end up having to scroll way back up to get to the navigation sidebar on the right. Then you need to scan all

[2021-10-02 19:45] teharris1 commented on #19537
Adding a device is something I have been meaning to make a lot easier but here are the steps:
1. Go to `Developer Tools` and click on the `Services` tab at the top.
2. In the `Service` box select `Insteon: Add all link`
3. Fill in the form with the following:
  `Group: 0`
  `Mode: controller`
4. Press the `Call Service` button

This will place your modem in linking mode. You then have about 3 minu

[2021-10-02 20:54] banan77 commented on #18755
Hi,
Can this be fixed in source? Seems I need to apply this fix manually after each HA update...

[2021-10-03 00:35] rpfinneran commented on #18716
Still relevant, and a simple fix.

[2021-10-03 01:23] #18643 closed, assigned to nobody

[2021-10-03 09:24] rhgiter opened #19571 "cable device is delayed"
### Feedback

i have issues with device on cable , in my case there is a delay on 3 hours --   wifi device works fine.

### URL

https://www.home-assistant.io/integrations/unifi/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-03 09:33] Kane610 commented on #19571
This is the project for the hass homepage and integration documentation. If you want to report an issue with the integration you should report it on the ha core project.

Furthermore you should try to be more descriptive in your issue as what you have written is far from enough to go on.

[2021-10-03 09:33] #19571 closed, assigned to Kane610

[2021-10-03 11:06] ihagens opened #19572 "Top down shades support?"
### Feedback

we have top down shades. they can drop down the top as well. however the controls for these actions are not included in tis software.

### URL

https://www.home-assistant.io/integrations/hunterdouglas_powerview/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-03 11:15] idiamant opened #19573 "Under "Considerations" section there seems to be a wrong example"
### Feedback

Under "Considerations" section, there is this example for using is_state correctly. The problem is that the same example is used in both cases, instead of showing what should be replaced with what:

```For example, you would replace {{ is_state('switch.source', 'on') }} with this equivalent that returns true/false and never gives an unknown result: {{ is_state('switch.source', 'on')

[2021-10-03 13:46] Firespyer opened #19575 "ID and Token information"
### Feedback

Both of these can be found in the Bond App, which you need to get the device onto your network.
Select the device, go to settings then advanced. The token is listed as "local token" and the IP is under network settings.

### URL

https://www.home-assistant.io/integrations/bond/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-03 15:07] rct commented on #19349
That implies there is usable information about long term statistics in the MQTT documentation.  Maybe I'm just blind, but so far I can't locate any.  For example https://www.home-assistant.io/integrations/sensor.mqtt/ doesn't include any mention of statistics.  (The word doesn't appear on the page.)

The total text under `state_class` is "The state_class of the sensor."

The approach of pushing al

[2021-10-03 16:52] horriblenoises commented on #19349
Agreed. I’m afraid I gave the impression that I needed help with these things when my post is really a critique of the information provided by the first stop everyone will see when they can’t add their devices in the GUI.

[2021-10-03 17:51] Werner7272 opened #19581 "Thank you for the great integration"
### Feedback

Thank you for the great integration

### URL

https://www.home-assistant.io/integrations/emulated_hue/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-03 18:44] rec commented on #19363
Hello, and I'm so sorry to get back to you so late, lots happening!

[BiblioPixel](https://github.com/ManiacalLabs/BiblioPixel) is a generalized LED lighting library.  Unfortunately, it's not under development right now (through no fault of my own - the copyright owners of the name decided unilaterally).

However, it's been very stable for years.

I have written a [tiny little driver for BiblioPix

[2021-10-03 21:32] timothyanderson82 commented on #19404
I second this suggestion. 60 seconds starting at 0 ends at 59 for that minute with 0 starting the next minute.

[2021-10-03 22:38] Nickleaton opened #19587 "Cookies"
### Feedback

Would be useful to handle cookies and persist for a long time.

https://map.blitzortung.org/#5/51.102/-0.639

Is an example of a useful image to embed

### URL

https://www.home-assistant.io/lovelace/iframe/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-04 02:02] Roger4R opened #19590 "Error installing the integration"
### Feedback

I'm trying to enter the username and password (it's correct by site https://server.growatt.com) to integrate, an error occurs: Unknown error.
Any ideas?
Tks.

### URL

https://www.home-assistant.io/integrations/growatt_server/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-04 07:04] muppet3000 commented on #19590
@Roger4R that's odd. It might be that the integration doesn't support your type of Growatt system yet.
Can you post me a picture like the below so I can see what type of system you have:
![GrowattSystemType](https://user-images.githubusercontent.com/10612068/135807585-341ad456-5058-47d4-a3e8-1955727a428b.PNG)

[2021-10-04 09:00] #18344 closed, assigned to nobody

[2021-10-04 09:19] frenck commented on #19587
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-04 09:19] #19587 closed, assigned to nobody

[2021-10-04 09:27] frenck commented on #19581
👍

[2021-10-04 09:27] #19581 closed, assigned to nobody

[2021-10-04 09:46] frenck commented on #19572
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-04 09:46] #19572 closed, assigned to bdraco

[2021-10-04 09:58] frenck commented on #18716
Hi there @rpfinneran 👋

This is the issue tracker for our website: https://www.home-assistant.io,
however, your issue seems to be with an add-on. Please report the issue with the Add-on repository instead:

https://github.com/home-assistant/addons/issues>

Thanks 👍

../Frenck

[2021-10-04 09:58] #18716 closed, assigned to nobody

[2021-10-04 10:15] frenck commented on #19555
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-04 10:15] #19555 closed, assigned to nobody

[2021-10-04 10:20] frenck commented on #19538
Hi there @behnam85 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integration here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-04 10:20] #19538 closed, assigned to fabaff

[2021-10-04 10:25] frenck commented on #19568
There is no next/previous (as in, subject-wise), adding those buttons would be equally as weird in that case. We do use those, in case it does apply (for example, the getting started guide).

Nevertheless, thanks for the suggestion! 👍

[2021-10-04 10:25] #19568 closed, assigned to nobody

[2021-10-04 10:33] Megachip commented on #19376
@frenck issue(s):
https://community.home-assistant.io/t/debugging-edl21/338053
https://community.home-assistant.io/t/edl21-doesnt-work-weidmann-electronics/276344/3
https://community.home-assistant.io/t/logging-for-component-edl21/272773
...

[2021-10-04 10:36] frenck commented on #19376
This is not the issue tracker for integrations. Please consult https://www.home-assistant.io/help on where to go.

[2021-10-04 11:00] #18653 closed, assigned to andrey-git

[2021-10-04 11:17] #17868 closed, assigned to bdraco

[2021-10-04 11:18] HACS-bank opened #19594 "resource_template or value_template ?"
### Feedback

the example says one thing, and the definition says another :)

### URL

https://www.home-assistant.io/integrations/rest/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-04 11:27] frenck commented on #19594
Actually, both. The resource template defines the resource the data comes from, while a value template can be used to modify the value returned from the resource.

[2021-10-04 11:27] vjmaz opened #19595 "Panasonic Comfort Cloud ( has energy useage entity but wont show up )"
### Feedback

Hi team I was hoping to add the HACS integration Panasonic Comfort Cloud to my energy usage in the energy tab .with its two sensors daily_energy or _current_power one of them actually shows the usage , the problem is I cant tell you which one as HA has decided not to work with Panasonic Comfort Cloud integration the moment i started to write this up !!! go figure ..

Anyway I'm hopin

[2021-10-04 11:28] frenck commented on #19595
Custom integration are not supported by the Home Assistant project. If they don't work as expected, please report those issues with the integration author, not Home Assistant.

Thanks! 👍

../Frenck

[2021-10-04 11:28] #19595 closed, assigned to nobody

[2021-10-04 19:10] anatwick opened #19598 "Energy Usage Dashboard in HA"
### Feedback

would be nice to be able to use this sensor for the energy dashboard in ha:  https://developers.home-assistant.io/docs/core/entity/sensor/#long-term-statistics

### URL

https://www.home-assistant.io/integrations/srp_energy/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-04 20:04] briglx commented on #19598
This looks like a great feature request.

[2021-10-04 23:41] francoislegrange opened #19601 "Monoprice blackbird HDMI matrix 4 x 4 notworking"
### Feedback

I can connect to the ip address over http

config as follows
media_player:
  - platform: blackbird
    host: !secret blackbird_ip
    zones:
      1:
        name: BB Master Bedroom
      2:
        name: BB Living Room
      3:
        name: BB BBQ TV
      4:
        name: BB Jacuzzi TV

    sources:
      1:
        name: BB ChromeCast
      2:
        name: BB Kodi
      3:

[2021-10-05 00:43] remulasce commented on #19568
I know it's not necessarily meant to be read back-to-front, but there _is_ an order shown in the navigation sidebar.
![image](https://user-images.githubusercontent.com/1064048/135942492-eb3d1233-b773-42c1-8efc-f23aee4ac426.png)

It seems like a pretty reasonable reading order. For instance, a user reading up on "Automation" would super reasonably want to read each of its subpages, and Conditions m

[2021-10-05 04:43] ammgws opened #19604 "fitbit integration: clarify that external URL is required for auth to work"
### Feedback

After playing around trying to get the Fitbit integration to work, I realised that HA needs to have an external URL setup for the OAUTH flow to complete successfully.

In my case I access HA (and the rest of my local network) remotely via VPN so this isn't an option for me - it would have been nice if it was explicitly mentioned in the docs.

### URL

https://www.home-assistant.io/in

[2021-10-05 06:10] TangoOversway commented on #19537
I hate to keep bothering you on this, but I’m not getting much help on the HA board. I think this is outside of most peoples’ experience.

I don’t want to drag things on and on, but I don’t know enough about how the system works to know what details are important and what you can skip over, so I hope it’s easy to pull out the important points on this and skip the rest!

I have found someone quite

[2021-10-05 06:17] frenck commented on #19568
We know, it has been applied on places we found appropriate, which I already mentioned in my previous response.

[2021-10-05 07:12] frenck commented on #19604
FitBit uses OAuth2, which isn't required to be public accessible in its specifications.
It could be a specific FitBit requirement, however, that would not be according to specifications. Could you point me to a FitBit resource that states this is required?

[2021-10-05 07:17] TangoOversway commented on #19537
SUCCESS!

I tried a number of combinations and found that the 2448A7 wasn’t able to do it on its own. I don’t have 100% solid proof, but my opinion is that it has a weak signal. I finally shut HA down, plugged in the 2413S, and rebooted and things were working.

So, at least in my setup, the 2448A7 was not working on its own, it needs the 2413S to relay signals. All three were in the same room, a

[2021-10-05 07:44] ammgws commented on #19604
I believe it's because they require HTTPS for all URIs including the redirect/callback: https://dev.fitbit.com/build/reference/web-api/oauth2/#redirect-uris. So perhaps I should have said: "clarify that the integration requires your Home Assistant instance to be have a valid SSL certificiate" ?

Maybe I just have to setup a self-signed cert for my Home Assistant instance?

[2021-10-05 07:54] frenck commented on #19604
`The redirect URI requires HTTPS protocol.`

Aah right! I see, not sure if a self-signed cert will work, it might?

Anyways, I agree, we should add something in that case.

[2021-10-05 11:41] ammgws commented on #19604
Used `mkcert` to get a trusted SSL certificate for Home Assisant and now the integration is authorized and (seemingly) working.

The redirect behaved a bit weirdly, but I guess that's a separate issue:

After clicking "Allow", the response from the callback URI (myhomeassistantIP:8123/api/callback) is served up as a file instead of redirecting to an actual page:

![image](https://user-images.githu

[2021-10-05 12:58] tobox opened #19613 "Documentation is unclear for my use case: 2 inverters connected via datcom"
### Feedback

I have 2 inverters, but only one of them has the communications module with ethernet/wifi. The other inverter is connected via datcom. The first inverter shows all information for both devices using the API. But what is the proper configuration in home assistant? I have already tried this:

[code]

I receive the "total/system" values and the values for device 1, but no entities show

[2021-10-05 13:00] frenck commented on #19613
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-10-05 13:00] #19613 closed, assigned to nobody

[2021-10-05 13:21] tobox commented on #19613
Sorry, I just clicked "Provide feedback" on the documentation page. I am now in the discussion chat on discord.

[2021-10-05 13:54] DJF3 opened #19615 "MQTT "property state_class not allowed""
### Feedback

Documentation lists "`state_class`" as a variable.

When using this variable (in VS code) I get a "`Property state_class not allowed`"

Is this a VS Code problem, HA core problem or an MQTT problem?

### URL

https://www.home-assistant.io/integrations/sensor.mqtt/#state_class

### Version

2021.9.7

### Additional information

_No response_

[2021-10-05 13:56] emontnemery commented on #19615
Please report this on the vscode plugin, it's not a bug in Home Assistant core 👍

[2021-10-05 13:56] #19615 closed, assigned to emontnemery

[2021-10-05 16:49] DJF3 commented on #19615
Done [here](https://github.com/hassio-addons/addon-vscode/issues/326)

[2021-10-05 17:40] ghost opened #19618 "Broken Integration"
### Feedback

Can the documentation for this integration be updated to properly indicate that doesn't work and there are no plans to fix it? I've wasted over $2000 on useless crap from eight sleep I thought I was going to be able to use. Now I can't return it.

### URL

https://www.home-assistant.io/integrations/eight_sleep/

### Version

2021.9.7

### Additional information

_No response_

[2021-10-05 17:52] frenck commented on #19618
Hi @mikegrb 👋

Sorry to hear you had a negative experience setting up the integration. Looking at our public analytics, 37 installations currently report the integration in active use. The integration and underlying libraries had updates 3 months ago.

However, it sounds like you should file a bug report so we can get things fixed. That is way more helpful for everybody. For that, please open an i

[2021-10-05 17:52] #19618 closed, assigned to nobody

[2021-10-05 17:57] mezz64 commented on #19618
Thanks @frenck.  Please do open an issue either here or on the pyEight repository and I can take a look to see what isn't working for you.

[2021-10-05 18:00] #18670 closed, assigned to nobody

[2021-10-05 18:04] wsdt commented on #18670
reopen

[2021-10-06 08:14] #18786 closed, assigned to nobody

[2021-10-06 15:48] cartwrightian opened #19627 "Example json is not provided"
### Feedback

Example json that relates to example configuration is not provided or linked, this makes it hard to understand the example and how it might be applied to specific json.

### URL

https://www.home-assistant.io/integrations/rest/

### Version

2021.10.0

### Additional information

_No response_

[2021-10-06 18:59] platypusstudios opened #19630 "Location Usercodes"
### Feedback

Hi - Keep getting the at the following message during install. Any thoughts or guidance here?

Enter the usercode for this user at location 979516

### URL

https://www.home-assistant.io/integrations/totalconnect/

### Version

2021.10.0

### Additional information

_No response_

[2021-10-06 20:12] GordonMoll opened #19632 "Manual integration documentation"
### Feedback

What is the point of the new armed_vacation mode?  How does the Manual alarm behave any differently?

### URL

https://www.home-assistant.io/integrations/manual/

### Version

2021.10.0

### Additional information

_No response_

[2021-10-06 22:35] frenck commented on #19632
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2021-10-06 22:35] #19632 closed, assigned to nobody

[2021-10-06 22:40] frenck commented on #19627
I'm confused, there is no reference to any JSON on that page...

[2021-10-06 22:40] RolandRosier opened #19636 "Clarity about what this integration actually does"
### Feedback

The page does not clearly state what the integration does.

When I installed it, I thought that it was going to replace the airthings integration available via HACS and read values directly from my Airthings device.  I was a little confused why it needed an ID from the airthings website, but I just followed the instructions and provided it.

After installation, I discovered that it h

[2021-10-07 01:05] austinmroczek commented on #19630
Did you enter the user code associated with the user?  It is usually a 4 digit number

[2021-10-07 01:21] platypusstudios commented on #19630
Thanks so much for responding. Maybe I am confused. Is this the same as the alarm code to arm the system? Or something else?

Sent from my iPhone

On Oct 6, 2021, at 6:05 PM, Austin Mroczek ***@***.***> wrote:

﻿
Did you enter the user code associated with the user? It is usually a 4 digit number

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2021-10-07 01:38] austinmroczek commented on #19630
It is the alarm code to arm/disarm the system that you assigned to that user.

[2021-10-07 02:03] platypusstudios commented on #19630
Thanks Austin. That’s where it seems to fail. We enter the code and press submit and it immediately prompts us again. Perhaps there is a config we have incorrect.

Sent from my iPhone

On Oct 6, 2021, at 6:38 PM, Austin Mroczek ***@***.***> wrote:

﻿
It is the alarm code to arm/disarm the system that you assigned to that user.

—
You are receiving this because you authored the thread.
Reply to thi

[2021-10-07 07:18] dragonfly69 opened #19639 "Can add only one device ?"
### Feedback

Hi, I just reconfigure my Tuya integration ( new version with IoT account ) and unfortunately can't have both of my devices :(, What ever I do integration always sees only one - always the same one... How can I force it see both devices ?

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.0

### Additional information

_No response_

[2021-10-07 07:28] smithbill17 opened #19640 "Instructions don't allow for mobile web interface in Google Chrome"
### Feedback

The old Tuya integration has stopped working and users are now compelled to use this new integration (without prior warning!) that requires signing up for a Tuya IoT developer account and following the provided instructions.

However, the instructions simply do not match the web experience for users trying to follow them on a mobile web browser (Google Chrome).

Expected resolution:

[2021-10-07 07:40] frenck commented on #19639
Hi there @dragonfly69 👋

It seems like you want to report an issue with an Home Assistant integration OR are looking for support. Unfortunately, you have submitted documentation feedback instead, which is not helping you with either of those two possibilities.

If you want to report a bug with a Home Assistant integration, please file a bug report here:

<https://github.com/home-assistant/core/iss

[2021-10-07 07:40] #19639 closed, assigned to nobody

[2021-10-07 09:18] smithbill17 commented on #19640
While signing up for the Tuya IoT account, it was apparent that the "Smart Home Devices Management" API service (Basic Edition $0) has a "Validity Period" of 12months - installation instructions for this integration needs to clarify that the API service will be free 'in perpetuity' and whether it requires renewal (at $0) after 12months.

[2021-10-07 11:08] Tom-Heitbrink opened #19642 "Units of measurenent"
### Feedback

It might be handy to define the accepted units of measurement, and possible ways to translate different units to this one. The version of august did accept different values than the one from september/october(current)

### URL

https://www.home-assistant.io/docs/energy/individual-devices/

### Version

2021.10.0

### Additional information

_No response_

[2021-10-07 11:10] jsielect opened #19643 "Vane Control"
### Feedback

Hunter Douglas/Luxaflex make a blind called Twist, where you can control the position of the vanes in addition to the blind position (it has two speed motor to do this). Although I can get round this by using 'scenes' it would be nice to be able to control the vane position directly

### URL

https://www.home-assistant.io/integrations/hunterdouglas_powerview/

### Version

2021.10.0

[2021-10-07 11:17] frenck commented on #19642
Hi there, thanks for the feedback, however, it is not simply a matter of units of measurements; more factors are into play (like a lot).

In general, the energy dashboard will offer devices/entities that are capable by default. If an integration doesn't support the energy dashboard, that can be reported and it will be looked into.

Therefore documenting the unit of measurement isn't going to add i

[2021-10-07 11:17] #19642 closed, assigned to nobody

[2021-10-07 11:35] indykoning commented on #19590
Until 2021.10.0 the integration had the bug that it would return an unknown error if the login credentials were invalid.
If after the update you still get the unknown error could you try checking your home assistant logs? It should have some more information available there

[2021-10-07 14:20] kksligh opened #19648 "Netgear Integration Not Allowing Me To Login"
### Feedback

I have an Orbi Pro with 2 satellites.  I've tried several different ways to login via the new Netgear integration to no avail.  No matter what I do, it throws the same error:

"Connection or login error: please check your configuration".

I know the username and password are correct as I've even reset the router/changed passwords just to be safe.  I've tried changing the port to 80 a

[2021-10-07 14:58] Roger4R commented on #19590
Ok,

I’ll try to install the new version and try it out.

Hugs.

[2021-10-07 15:39] mwright-git opened #19653 "Unable to control tuya/smartlife device from Home Assistant"
### Feedback

I have (I believe) followed the instructions for the new tuya integration in that I now have an entity that appears to be connected to my outdoor light strip.

This light strip responds correctly to the android app but does not respond to the home assistant entity being toggled. In fact, when the entity is toggled it just reverts to the current state after a second or so. Note that t

[2021-10-07 15:42] frenck commented on #19653
Hi there @mwright-git 👋

It seems like you either need support or want to report an issue with an Home Assistant integration. However, you have submitted documentation feedback instead.

If you want to report an issue, please report it here:

<https://github.com/home-assistant/core/issues>

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or

[2021-10-07 15:42] #19653 closed, assigned to nobody

[2021-10-07 18:23] Korte68 opened #19655 "The example sites changed."
### Feedback

Should be check, or create an static example page for demonstration.

### URL

https://www.home-assistant.io/integrations/scrape/

### Version

2021.10.0

### Additional information

_No response_

[2021-10-07 19:39] platypusstudios commented on #19630
Hi Austin. Got this working. User error!

Thanks Austin. That’s where it seems to fail. We enter the code and press submit and it immediately prompts us again. Perhaps there is a config we have incorrect.

Sent from my iPhone

On Oct 6, 2021, at 6:38 PM, Austin Mroczek ***@***.***> wrote:

﻿

It is the alarm code to arm/disarm the system that you assigned to that user.

—
You are receiving this be

[2021-10-07 19:48] adamzimnyy opened #19657 "Header/footer documentation should specify which cards support it"
### Feedback

Right now the docs only say:

```Some Lovelace cards have support for header and footer widgets```

It would be useful to know which cards are those without having to go one by one to check.

### URL

https://www.home-assistant.io/lovelace/header-footer/

### Version

2021.10.0

### Additional information

_No response_

[2021-10-08 02:19] austinmroczek commented on #19630
Would improved directions help in the future?  I'm happy to update them if you could tell me what was missing or not clear enough

[2021-10-08 06:14] szimszon opened #19663 "Installation method is not working for Raspberry Pi home-assistant core"
### Feedback

When I try to install home-assistant via
`pip3 install homeassistant`
it complains about the missing of Rust compiler.

I did every step I saw in the documentation. Please correct the documentation about core installation. Thank you!

### URL

https://www.home-assistant.io/installation/raspberrypi#install-home-assistant-core

### Version

2021.10

### Additional information

_No resp

[2021-10-08 09:17] hcostelha commented on #19590
I had a similar problem. I updated today (running now core-2021.10.1, supervisor-2021.09.6 and Home Assistant OS 6.4), removed and added again the Growatt device, and is now working fine.

[2021-10-08 10:28] Roger4R commented on #19590
Hello my friends, It’s works now!

Core-2021.10.1, Supervisor-2021.09.6 and Home Assistant OS 6.4

Thanks.

[2021-10-08 13:09] psyphin234 opened #19667 "Little documentation available?"
### Feedback

Hi,

I cant see how to actually use this? I had it installed as a custom component but it stopped working recently.

I have now added it as an integration, but what do I do next? It has no entities listed.
Do I still need the configurations.yaml entries?

Thanks

### URL

https://www.home-assistant.io/integrations/growatt_server/

### Version

2021.10.1

### Additional information

_

[2021-10-08 15:02] zivgin opened #19668 "Sensibo - Sync AC state"
### Feedback

Hi,

The documentaion wasn't clear enough for me, but let's skip that as i was manage to get around it and implament it.

I'd like to know how can i set a state (on\off) from home assistant?
The sensibo keep missing the right state (i'm assuming that the signals that sensibo is sending are lost and not getting all the way to the ac, and then sebsibo thinks the AC is on when in realit

[2021-10-08 15:06] platypusstudios commented on #19630
Thanks Austin. I think the instructions are likely clear enough for most experienced Home Assistant users who know what they are doing. My issue was that Total Connect was not really setup correct. We only had one master/admin user. And the option to “prompt for user code” was on. Once I created a new account, as you encourage below, everything went well.

You are highly encouraged to create a Tot

[2021-10-08 15:33] austinmroczek commented on #19630
Thanks for the feedback.  I'll look at the directions again today, and maybe add a section about how you should have TotalConnect setup first.

The latency is not a Home Assistant problem.  Most of the delay is because of the design of TotalConnect.  Your physical alarm panel is not taking instructions from Home Assistant directly.  Home Assistant communicates with TotalConnect, which then communi

[2021-10-08 15:49] wifiuk opened #19669 "Documentation energy"
### Feedback

Can you list out full list of variables we can use instead of just some?

### URL

https://www.home-assistant.io/lovelace/energy/

### Version

2021.10.1

### Additional information

_No response_

[2021-10-08 15:57] RolandGoud opened #19670 "Switchbot Integration looses connection and when connected it does not respond to commands"
### Feedback

The integration looses commection a lot......leading in to all devices and entities being unavailable.

Also neither curtains or switches respond to command when the connection is working.

Also meters are not in the list of devices to add

### URL

https://www.home-assistant.io/integrations/switchbot/

### Version

2021.10.1

### Additional information

_No response_

[2021-10-08 16:01] platypusstudios commented on #19630
Thanks Austin. Makes perfect sense. Thanks for all the insight and your continued work on this!

Our security company suggested upgrading the radio ($150) as Verizon will be turning of the non LTE bands in the future. Do you think this would be worth doing?

[2021-10-08 16:26] austinmroczek commented on #19630
I don't use the cellular module so I'm not much help.  Mine is wired ethernet.

Having the cellular module as a backup is a risk calculation.  If someone is smart enough to figure out how to disable my internet before coming in the house, I assume they'd also be smart enough to jam the cellular.  Also, my house's internet connection is difficult to reach compared to most homes.  For me cellular is

[2021-10-08 17:05] #18669 closed, assigned to nobody

[2021-10-08 18:52] platypusstudios commented on #19630
Great. Thanks again

Sent from my iPhone

On Oct 8, 2021, at 9:26 AM, Austin Mroczek ***@***.***> wrote:

﻿
I don't use the cellular module so I'm not much help. Mine is wired ethernet.

Having the cellular module as a backup is a risk calculation. If someone is smart enough to figure out how to disable my internet before coming in the house, I assume they'd also be smart enough to jam the cellula

[2021-10-08 19:36] bas89 opened #19674 "How to enable LG Connect Apps"
### Feedback

The link in "To begin with enable LG Connect Apps feature in Network settings of the TV instructions." is not working anymore. I actually don't know a similar link.

### URL

https://www.home-assistant.io/integrations/webostv/

### Version

2021.10.1

### Additional information

_No response_

[2021-10-08 19:53] fcassirer opened #19675 "New Tuya integration doesn't work correctly"
### Feedback

Went through the dance at Tuya to create the app developer free trial account.   After walking through the steps I get to the point I have linked the old Tuya account and clicking on `Devices->All Devices` and instead of seeing my devices it is empty.

Now what?  It appears the account is linked.   I chose the Eastern US data center, does this need to match whatever datacenter the Tu

[2021-10-08 19:57] thecode commented on #19674
Seems like the link was removed by LG, you can use this for now:
https://web.archive.org/web/20180604065840/http://www.lg.com/uk/support/product-help/CT00008334-1437131798537-others
I guess we will need to make our own guide how to enable it

[2021-10-08 20:05] Sk33t3rson commented on #19675
my devices are not loading in after i linked my account as well for the Tuya Platform

[2021-10-08 20:08] fcassirer commented on #19675
More info:  Even though the Tuya developer account does not show my devices, I was able to use the secret/client-id in the HA integration and it found the devices so all is well, it is just disconcerting that it doesn't match the docs as described.   Maybe there is an addendum in order for the troubleshooting section.

[2021-10-08 21:36] Sk33t3rson commented on #19675
I have them as well.. but there is some sort of disconnect between HA-Tuya Platform-Smart Life app- Device.. some times color change call works and sometimes it doesnt..

[2021-10-08 23:46] ultimateguy opened #19684 "How do I scan QR code with Smart Life?"
### Feedback

I can't for life of me figure out: where do I go in the Smart Life app to enable it to scan the QR code?

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.1

### Additional information

_No response_

[2021-10-08 23:49] neilschuerch opened #19685 "Tradfri Integration is not working"
### Feedback

The Integration works in the first minute after reboot or reload of the Integration.
I have wasted now +10 H on trying to set this up. I tried raspberry pi 4 iso, normal raspberry install and mostly docker. Nothing is working.
I really like the idea which homeassistant stands for, but this is just unacceptable.

Can i expect an update to come out, or should i give up?
I found people

[2021-10-09 00:13] thecode commented on #19685
This repository is used for documentation issues, please open an issue here: [Home Assistant Core - new issue](https://github.com/home-assistant/core/issues/new?assignees=&labels=&template=bug_report.yml)
When opening the new issue, try to fill in as much as details as possible.

[2021-10-09 00:13] #19685 closed, assigned to janiversen

[2021-10-09 03:52] waterwayne commented on #19675
Thank you HA and Tuya developer for your contribution. Great efforts and really admire the time and enthusiasm you have been putting in.

Same problem as above:
1. Nothing shown under [All devices] tab -
All setup went smoothly according to the Tuya instruction until the last step. Clicking on Devices-->All Devices and nothing is showing. However, under [Link Tuya App Account], it does seem the li

[2021-10-09 06:17] janiversen commented on #19685
Apart from that, please remember homeassistant is driven by volunteers. The bug might be unacceptable to you, but then do something about it and help out. Just complaining will get you nowhere.

Stay assured we are not going to “you can ask me for logs and further information” if you just want to complain please do not bother opening an issue in core.

[2021-10-09 10:30] neilschuerch commented on #19685
Hey guys :)
I want to say sorry. It was 3 AM in the morning and a just lost it.
I tried a lot of things, but nothing worked.

Thanks for doing a great job in developing homeassistant. Unfortunately it doesn't work for me.

Cheers, Neil

[2021-10-09 14:29] twh-tech opened #19689 "Where to find ID and Secret for Airthings Wave"
### Feedback

Thanks for the AirThings integration.
During setup it requests ID and Secret.
Where do I find those?
It would be nice to see the documentation be specific about how to find those.
It only says Login in here to find your credentials, which is a link that leads to the Airthings login.

I have logged into my Airthings account on the web, but find no information about ID and Secret.
In m

[2021-10-09 15:00] Danielhiversen commented on #19689
Tried this https://dashboard.airthings.com/integrations/api-integration ?

[2021-10-09 15:14] GGBMLC opened #19690 "ONVIF refresh rate"
### Feedback

ONVIF refresh rate.
I go my webcam to work with Home Assistant.
Picture is ok.  But the UI only update the picture ever 10 sec.

There is no option to change the refresh rate in the UI?

HW. RPI4-64bit
SW Home Assistant 2021.9.7
Docker 20.10.7

### URL

https://www.home-assistant.io/integrations/onvif/

### Version

2021.10.2

### Additional information

_No response_

[2021-10-09 15:27] GGBMLC opened #19691 "missing basic guide for webcam there use ONVIF"
### Feedback

Missing basic guide for setup FFmpeg and ONVIF webcam setting.

where is the refresh setting in the UI?
Do I need to install other sw for get the video stream?

SW
Home assistant version 2021.9.7
HW
RPI4-64

### URL

https://www.home-assistant.io/integrations/ffmpeg/

### Version

2021.10.2

### Additional information

_No response_

[2021-10-09 15:58] GGBMLC opened #19692 "How do I check that the stream is playable"
### Feedback

I the guide there is stated:
First, check that your stream is playable by ffmpeg outside of Home Assistant with (use option -an or -vn to disable video or audio stream):

But how?
in the MS win 10 command promt? or ?
it is not cleary how to check the streaming is working.

### URL

https://www.home-assistant.io/integrations/ffmpeg/

### Version

2021.10.2

### Additional information

[2021-10-09 18:49] rchiileea opened #19694 "broken some features"
### Feedback

was running netgear enhanced in config and its now broke

### URL

https://www.home-assistant.io/integrations/netgear/

### Version

2021.10.2

### Additional information

which gave me speed test and guest wifi switches, after added intergration from this, these have stopped working, tried rebooting as well as removing from config and rebooting and re adding them and rebooting I did

[2021-10-09 18:59] rchiileea commented on #19694
I thought I would show you what was in my config
under sensors I had

  - platform: netgear_enhanced
    host: !secret netgear_ip
    username: !secret netgear_username
    password: !secret netgear_password
    resources:
      - check_app_fw
      - traffic_meter
      - traffic_meter_on
      - traffic_meter_options
      - get_lan_config_info
      - dns_masq
      - info
      - supported_fea

[2021-10-09 19:48] Farleykri opened #19695 "Please provide data for determining alarm types"
### Feedback

First of all, awesome integration, works flawlessly. i was wondering however if you may be able to add additional support for different alarm types for example:

Burgular Alarm
CO Alarm
Fire Alarm
Gas Alarm ETC.

it would be great to be able to customize different automation/scripts with different alarm types based on the state of the system rather than just the existing "triggered"

[2021-10-09 23:53] dmr1987 opened #19696 "Supported device"
### Feedback

Please add YLDD05YL Color Stripe to supported devices list. I bought this one, and tested with integration all works fine.

### URL

https://www.home-assistant.io/integrations/yeelight/

### Version

2021.10.2

### Additional information

_No response_

[2021-10-10 02:08] kim2140 opened #19697 "Could you please add the RM4C Pro in the broadlink support list?"
### Feedback

Currently, RM4C Pro has not been supported in home assistant, so I am manually updating the RM4C Pro code in the list.
Code is "0x6184"

Thanks,

### URL

https://www.home-assistant.io/integrations/broadlink/

### Version

2021.10.2

### Additional information

_No response_

[2021-10-10 02:33] zlinoliver commented on #19675
@waterwayne

1. Please try to select the correct "Data Center" according to your Tuya App Account country region. For details, you can check this documentation to find the correct Data Center and configure in your cloud project: [Country & Data Center](https://developer.tuya.com/en/docs/iot/oem-app-data-center-distributed?id=Kafi0ku9l07qb)
<img width="939" alt="dataCenter" src="https://user-images

[2021-10-10 03:00] #18612 closed, assigned to nobody

[2021-10-10 03:37] waterwayne commented on #19675
Hi Oliver,
    Thanks so much. The two problems I had are now being resolved with your
prompt instructions. Have a great day and thanks again for your generous
help.

Kind regards,

Wayne

On Sun, 10 Oct 2021, 12:33 Oliver Ou, ***@***.***> wrote:

[2021-10-10 11:39] pacoso81 opened #19699 "Generic thermostat"
### Feedback

i have used generic thermostat whit thermostat card and it is great, but i have one problem.
I'm using home made ESP12-F device for sensor and relay acting as stand alone water heater thermostat running on Tasmota.
My idea is to have thermostat that doesn't relay on wifi and is more safe to use but can be configured by Home Assistant.
So i want to parse the tempsetpoint from current

[2021-10-10 13:17] Sk33t3rson commented on #19675
Yeah the instructions I followed said pick the data center closest to me.. welp that wasn't correct.. everything is showing up now that I loaded the data center for west coast us

[2021-10-10 15:03] RolandGoud commented on #19670
looks like the devices are online for 65 seconds after which they loose connection then it is offline for 65 seconds and this repeats it self.

So when ver you trigger the device in the minute it is not available nothing would happen....this provides a unstable integration and it not workable situation.

should this be solved with the scan interval settings?

[2021-10-10 22:31] joel0 opened #19703 "Explain "Supervisor" for "Compare Installation Methods""
### Feedback

The "Compare Installation Methods" table has a row for "Supervisor," but no explanation of what it is or what benefits it provides.  As a novice trying to install this for the first time, I ended up looking at the comparison table with very little knowledge of the whole system.  I'd guess there's an overview document somewhere that gives a good introduction of Supervisor that could b

[2021-10-11 00:03] bttfw opened #19706 "Only one Value"
### Feedback

Its pretty nice but you can track only one value per eth adress or atleast display only one

ETH Balance
0,000587313688642348 ETH

Shiba Inu Balance
False SHIB

but if you click on that balance you can see it in the graphs

### URL

https://www.home-assistant.io/integrations/etherscan/

### Version

2021.10.2

### Additional information

_No response_

[2021-10-11 07:01] defl opened #19707 "State trigger "to:" default semantics unclear"
### Feedback

I have a case whereby I'm waiting for a trigger with value '9', which in this case can happen multiple times.

[code]

However if the value already is '9', the above trigger doesn't trigger. It only triggers when the value was not what's in the "to:" field. This is unexpected as you can argue that in the absence of a "from:" there is nothing defined about the transition and hence a 9

[2021-10-11 07:18] frenck commented on #19706
Hi there @bttfw 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-11 07:18] #19706 closed, assigned to nobody

[2021-10-11 07:49] frenck commented on #19695
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-11 07:49] #19695 closed, assigned to bdraco

[2021-10-11 07:50] frenck commented on #19694
Hi there @rchiileea 👋

It seems like you want to report an issue with an integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks!

../Frenck

[2021-10-11 07:50] #19694 closed, assigned to nobody

[2021-10-11 08:00] frenck commented on #19692
Please consult the ffmpeg documentation on how to install and use their software. That is considered to be out of scope for Home Assistant.

[2021-10-11 08:00] #19692 closed, assigned to nobody

[2021-10-11 08:03] frenck commented on #19690
That is not the "ONVIF refresh rate" what you are looking for. By default the UI shows a snapshot every 10 seconds, this is default Home Assistant behavior.

You can change the behavior of the UI card showing the picture by enabling live view on the card displaying your camera, see:

<https://www.home-assistant.io/lovelace/picture-entity/#camera_view>

[2021-10-11 08:03] #19690 closed, assigned to hunterjm

[2021-10-11 08:20] psyphin234 commented on #19667
Updated everything I could and its working now. Seems like a bug originally reported early September.

[2021-10-11 08:20] #19667 closed, assigned to nobody

[2021-10-11 08:45] frenck commented on #19669
I've just looked at the page, but it looks complete.

What precisely are you missing?

[2021-10-11 09:01] #19590 closed, assigned to nobody

[2021-10-11 09:07] frenck commented on #19655
Which example specificly?

[2021-10-11 09:09] atxbyea commented on #19696
@dmr1987 which `model ID` did you use to make it work ? `color1` or `color2` ?

[2021-10-11 09:13] atxbyea commented on #19601
https://github.com/home-assistant/core/issues/39330#issuecomment-685098558 @francoislegrange

[2021-10-11 09:16] frenck commented on #19601
Hi there @francoislegrange 👋

It seems like you want to report an issue with an integration, however, you have submitted documentation feedback instead.

Please report issues with integrations in the core issues tracker here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-11 09:16] #19601 closed, assigned to nobody

[2021-10-11 09:16] atxbyea commented on #19601
I have updated the documentation in a PR to reflect the actual supported device better.

https://github.com/home-assistant/home-assistant.io/pull/19710

[2021-10-11 09:21] atxbyea commented on #19375
https://github.com/home-assistant/home-assistant.io/pull/19711

[2021-10-11 09:23] Korte68 commented on #19655
Sorry I just tried the Electricity...that one is not working...others are ok. Thank you

[2021-10-11 09:35] #19573 closed, assigned to nobody

[2021-10-11 09:38] wifiuk commented on #19669
is there not a full list of queries that can be used, just the handful on that page?

[2021-10-11 09:40] frenck commented on #19669
These are the energy cards that are available, could you be more concrete on what is missing?

[2021-10-11 10:00] thecode commented on #19668
Sensibo integration has a service to set the assumed state, but it is missing the documentation, if you go to developer tools you can test it:
![image](https://user-images.githubusercontent.com/1858925/136771581-9fb5ecff-f840-4273-ba31-8e085a275a9f.png)

If you are in need of support I highly recommend to try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat serv

[2021-10-11 10:00] #19668 closed, assigned to andrey-git

[2021-10-11 10:34] Cr4z33 opened #19712 "New Tuya integration not populating devices"
### Feedback

Although I followed step-by-step the instructions, after 3 days the new integration didn't populate yet.

All I have associated with Tuya are bulbs and nothing else.
![Screenshot 2021-10-11 at 11-59-12 Tuya IoT Platform](https://user-images.githubusercontent.com/19343851/136776316-6b5595fe-1bec-402f-9afe-1b05e92f3efa.png)

### URL

https://www.home-assistant.io/integrations/tuya/

##

[2021-10-11 11:18] derekcfoley opened #19713 "And what about Alexa devices?"
### Feedback

Having massive issues getting my HA nodered flows to access TTS, can you show us how to set it up please from HA itself, so I can use the "service" from within NodeRed?

### URL

https://www.home-assistant.io/integrations/tts/

### Version

2021.10.3

### Additional information

_No response_

[2021-10-11 11:41] frenck commented on #19713
TTS is a platform, which provides the base for other Text-to-Speech integrations to use.

To set up Text-To-Speech, please check the integration documentation for one of the integration providing TTS:

<https://www.home-assistant.io/integrations/#text-to-speech>

[2021-10-11 11:41] #19713 closed, assigned to pvizeli

[2021-10-11 11:57] derekcfoley commented on #19713
There is no documentation for Alexa... only google home, which is why I
filled out this!

*Regards*Derek Foley

Email: ***@***.***
Mobile: 07958 758 712

On Mon, 11 Oct 2021 at 12:42, Franck Nijhof ***@***.***>
wrote:

[2021-10-11 12:02] frenck commented on #19713
Alexa isn't exposed as media player, this not available as TTS target.

[2021-10-11 12:23] BrckedmyRMpro commented on #19627
@frenck
I think that is what he is saying. There is currently no Json example. He would like a Json example to be provided to make it easier to understand how to implement the rest function

[2021-10-11 12:39] frenck commented on #19627
Its the same as what is provided, the URL might be different though, but 🤷 there is no difference

Hence I don't understand the suggestion given

[2021-10-11 12:55] #19630 closed, assigned to nobody

[2021-10-11 12:58] #19201 closed, assigned to nobody

[2021-10-11 12:59] #18654 closed, assigned to nobody

[2021-10-11 13:01] #19288 closed, assigned to nobody

[2021-10-11 14:18] cartwrightian commented on #19627
The config example refers to things like

' json_attributes_path: "$.response.system"
        value_template: "OK"
        json_attributes:
          - "runstate"
          - "model"
          - "opmode"
          - "freeze"
          - "time"
          - "sensor1"
          - "sensor2"
          - "sensor3"
          - "sensor4"
          - "sensor5"
          - "version"'

I just thought it woul

[2021-10-11 14:30] frenck commented on #19627
`json_attribute_path` provides the JSON path to the payload of the attribute, and `json_attributes` specifies which attributes to pick from that result (as described in the configuration settings of the rest sensor).

[code]

[2021-10-11 14:44] robi59italy opened #19716 "Smartplugs are losing the power monitor"
### Feedback

all my plugs lost the power monitor capacity.
On device, I can only switch on-off.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.3

### Additional information

_No response_

[2021-10-11 14:45] frenck commented on #19716
Hi there @robi59italy 👋

It sounds like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please, report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-11 14:45] #19716 closed, assigned to nobody

[2021-10-11 14:48] robi59italy commented on #19716
Dear Frenck
I went to tuya integration page and I pushed the button "provide feedback" and it sent me here.
anyway this version (2021.10.X) is a disaster for Tuya and I'll be obliged to invest 50 euro to buy Atom plugs with Tasmota

[2021-10-11 15:51] fcassirer commented on #19675
Same here.  It wasn't obvious how to change the data center once you created a cloud project, but backing up a few screens and selecting the Overview and then edit let me change to the Western Americas data center.  Note that it allows you to select multiple data centers, but this apparently doesn't work, I had to remove the Eastern data center tag to make the devices show up.   I think this is si

[2021-10-11 15:58] dpawson opened #19717 "Device not found, tp-link_smartplug_5FAF (105 plug)"
### Feedback

Followed the advice ('auto detect' and manual - still 'no device found' resulted.)
to no avail.

How to add this device to HA please?

Control via 'KASA' app works fine.

### URL

https://www.home-assistant.io/integrations/tplink/

### Version

2021.10.3

### Additional information

_No response_

[2021-10-11 16:01] linickx opened #19718 "Additional Information for using Chromecast with Internal URL"
### Feedback

Additional consideration is required for users with different External URLs and Internal URLs.  (_Where the Internal URL is a name, not an IP address)_

Users can experience issues & confusion when trying to cast media, this error message:

`Please make sure the URL is: Reachable from the cast device and either a publicly resolvable hostname or an IP address`

Chromecast appliances b

[2021-10-11 16:07] frenck commented on #19717
Hi there @dpawson 👋

It seems like you are in need for support, or are trying to report an issue with an Home Assistant integration. However, you have submitted documentation feedback instead.

In case you want to report an issue with an integration, please report it here:

<https://github.com/home-assistant/core/issues>

If you are in need of support, you should try our [Community Forum](https://

[2021-10-11 16:07] #19717 closed, assigned to rytilahti

[2021-10-11 18:31] #19674 closed, assigned to thecode

[2021-10-11 19:18] emontnemery commented on #19718
Note that the warning message states that the URL must be "either a **publicly resolvable hostname** or an IP address"
It's perfectly fine that the **publicly resolvable** hostname resolves to a **private IP address**, e.g. 192.168.x.x, but it's not fine that the hostname can only be resolved via a private DNS server.

I don't think we should document blocking cast devices from accessing Google's

[2021-10-11 19:32] Hippe-Lip commented on #19461
Sorry for late reaction, but this wasn’t a call for help.
This was to point you to the fact that the energy panel automatically picks up the electricity meter, but lacks the existing gasmeter.
I thought this to be an omission in the standard configuration and wanted to point that out as a suggestion for improvement.
That’s all.

[2021-10-11 19:43] frenck commented on #19461
You have provided documentation feedback, while you are trying to report an issue with an integration that is not working with the energy integration, that is considered a bug and not fixable by adjusting the documentation.

Reporting issues with integrations can be done here:

<https://github.com/home-assistant/core/issues>

../Frenck

[2021-10-11 22:36] 4romany opened #19724 "Envislink plugin "zone dump" command to DSC alarm panels does not work"
### Feedback

The Home Assistant link for the Envislink plugin should have an entry to  set "zonedump_interval" to zero - that will disable this command in the plugin .  This command tells the panel to send back a status of all of its zones - but it does not work correctly  - and it can also cause current zones showing opening to show closed.  Many folks have complained about a "bounce" of a zone

[2021-10-12 00:55] herwig- opened #19725 "Documentation about template creation"
### Feedback

you write how to check if a template works - what is missing is the information on how to add a template to the yml file
which yml file to put it to and how to edit the yml file ...

### URL

https://www.home-assistant.io/docs/configuration/templating/

### Version

2021.10.3

### Additional information

_No response_

[2021-10-12 01:30] jhstrateng commented on #19712
I have a potentially similar issue. However, I have 10 devices, where 8 appear in HA, but 2 do not. The two that do not are wall dimmer switches. Looking at the http traffic on the iot Tuya website, it looks like they are categorized as a "Light Modulator".

![image](https://user-images.githubusercontent.com/6186692/136875555-991a839f-742d-4a53-ae9c-51552bcb0c97.png)

[2021-10-12 07:29] Vector-Int13 opened #19729 "WHY?!!"
### Feedback

Why did someone stop developing a classic web plugin that worked absolutely great?
Who wanted to work in LAN mode with API. Who did not use the WEB plugin.
Now it's complicated, it is necessary to renew the subscription every year, we never know when they will want money for it.
And to top it all, after completing all the steps, only the Tuya devices are displayed and not the Smart L

[2021-10-12 08:19] frenck commented on #19729
Closing this, as this is not documentation feedback.

There are several topics on our community forum you could look at, one of them has some responses from the founder of Home Assistant you can find here:

https://community.home-assistant.io/t/revert-back-to-the-old-way-of-handling-tuya-please/345837/28

../Frenck

[2021-10-12 08:19] #19729 closed, assigned to nobody

[2021-10-12 08:23] Vector-Int13 commented on #19729
Sorry, that sounds like alibi nonsense to me.

You just don't have anything in the documentation or anywhere that describes what to do with the Smart_Life device.
It doesn't work now because only Tuya devices are linked in the developer account co API.
It's convenient enough to bail on everything letting people read a bunch of nothing-resolving comments on the forum.

[2021-10-12 08:27] frenck commented on #19729
Sorry to hear you feel that way. Feel free to jump into the development of Home Assistant to improve things. That will help everybody.

If you read the actual forum thread and the responses from balloob, you will know that that is not a choice. The old API will go away, and this is what they have/offer. 🤷  Its either this or nothing at all, that is not a choice.

That said, this is not the right p

[2021-10-12 10:14] stefanroelofs commented on #15595
This issue may be closed I think. (or remove the no-stale label)
The referenced documentation [(examples)](https://www.home-assistant.io/docs/automation/examples/) does no longer exist.

[2021-10-12 10:21] stefanroelofs commented on #19712
I think you have opened an issue in the wrong place. Here you can open issues for the documentation / website.
Someone with sufficient rights can transfer the issue to the correct repo:
https://github.com/home-assistant/core/issues

[2021-10-12 10:43] frenck commented on #19712
Hi there @jhstrateng @Cr4z33 👋

Seems you both want to report an issue with an integration, however, you have submitted documentation feedback instead. Reporting issues (as mentioned above by @stefanroelofs), can be done here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-10-12 10:43] #19712 closed, assigned to nobody

[2021-10-12 12:14] dpawson opened #19735 "TP-LINK KP 105 plug"
### Feedback

Not seen by HA until after 'connected' via the KASA app on a smartphone.

### URL

https://www.home-assistant.io/integrations/tplink/

### Version

2021.10.3

### Additional information

_No response_

[2021-10-12 14:19] rocketdyke commented on #18800
issue is still relevant. integrations documentation needs to be updated to show this.

[2021-10-12 14:21] frenck commented on #19735
Hi there @dpawson 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. If you want to report an issue with an integration, please do so here:

<https://github.com/home-assistant/core/issues>

Thanks! 👍

../Frenck

[2021-10-12 14:36] dpawson commented on #19735
No. IMHO the documentation should warn users that the app is needed prior to use in HA. Hence a document change suggested.

[2021-10-12 14:38] frenck commented on #19735
Ah! Ok, I misunderstood that. Sorry about that 👍

[2021-10-12 14:59] #15595 closed, assigned to cogneato

[2021-10-13 02:10] jwmcintosh opened #19742 "Service name change"
### Feedback

"Smart Home Data Service" does not exist as I search the site.  As I follow this guide, the only one I manually had to locate and subscribe/authorize to was "Device status notification" -- now aside from three of my lights reporting random colors even though they are white, things appear to work properly.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.1

[2021-10-13 02:40] haze1986 opened #19743 "How to implement limits min max"
### Feedback

I have been trying this step but did not get it to work. Is it still functional?

### URL

https://www.home-assistant.io/lovelace/sensor/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-13 03:34] gerombo opened #19745 "suggestions for google calendar event installation instructions"
### Feedback

it would be good to add the following to the troubleshooting steps for the google calendar event integration:

-If after entering the authentication code, you see the following error in the webpage:

The google account you used needs to be added to the 'Test users' as described in Prerequisites.

### URL

https://www.home-assistant.io/integrations/calendar.google/

### Version

2021.

[2021-10-13 05:28] jeeljain19 commented on #19745
I would like you to assign me this issue and i like it very much . @gerombo

[2021-10-13 07:01] wifiuk commented on #19669
I'm not sure how else to say It?

Is this a full list of what can be used, or are there other queries that can be used to show the results?

[2021-10-13 07:43] #19718 closed, assigned to emontnemery

[2021-10-13 12:00] LukaszSoba opened #19749 "Satel Interga switchable outputs cannot be operated at the same time"
### Feedback

Satel Integra Switchable Outputs can be used for ex. as Alarm Siren Outputs.
If alarm horn have separated OUT for horn and optical flash, system have to switch both to make effect.
It cannot be done at the same time because.
With simple script to turn.on 2 outputs at the same time, system will switch only the first number of output.
It can be done with delay 1s, the same situation wi

[2021-10-13 13:09] #18128 closed, assigned to nobody

[2021-10-13 15:57] NABarnes opened #19751 "Instructions"
### Feedback

Page says "if OS-Agent isn't running, start it", but doesn't even begin to explain how this is achieved.

### URL

https://www.home-assistant.io/more-info/unsupported/os_agent/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-13 16:34] frenck commented on #19751
The OS-Agent is part of the Home Assistant Supervised installation type. For this installation type, we warn someone should have in-depth knowledge on administrating Linux systems. If this question is raised, I would strongly recommend looking into a different or more fitting installation type for you.

Nevertheless, thank you for providing feedback 👍

../Frenck

[2021-10-13 16:34] #19751 closed, assigned to nobody

[2021-10-13 16:36] #19655 closed, assigned to fabaff

[2021-10-13 18:41] frenck commented on #19743
Hi there @haze1986 👋

This part of the documentation seems to be up to date. If something is not working or in case you are experiencing a bug, please file an issue for this specific case at our frontend issue tracker here:

<https://github.com/home-assistant/frontend/issues>

Thanks! 👍

../Frenck

[2021-10-13 18:41] #19743 closed, assigned to nobody

[2021-10-13 19:00] #18832 closed, assigned to Danielhiversen

[2021-10-13 19:22] knwpsk commented on #19529
@lawtancool I've installed HA Blue device, got it connected to Control4. Now I have questions:
1. I see many of my Control4 devices but not all of them. In particular I don't see all of my 5-way programmable "keypad" devices -- it seems the ones that are "loaded" (have a light fixture directly connected to them) show up; but the ones with no "load" are not showing up. I had hoped that HA would all

[2021-10-13 19:26] davidfigueiras20 opened #19754 "Netatmo Thermostat Issue"
### Feedback

The thermostat says that it is not available after a few hours of turning on the server at first everything works fine

### URL

https://www.home-assistant.io/integrations/netatmo/

### Version

2021.10.4

### Additional information

Error doing job: Task exception was never retrieved
12:04:07 – (ERROR) components/netatmo/data_handler.py - el mensaje se produjo por primera vez a las

[2021-10-13 19:31] lawtancool commented on #19529
Hi @knwpsk,

Those two things you mentioned are known limitations of the integration. Home Assistant can only recognize actual light devices, not keypad keys. Lighting is also the only device supported.

The underlying pyControl4 library supports more devices, but I unfortunately do not have time to implement them in Home Assistant. Contributions are always welcome of course!

[2021-10-13 20:01] knwpsk commented on #19529
OK, first, THANKS for the rapid reply!
I'd love to help/contribute, but don't know python... maybe I need to learn it!?

So, for now, what can I do with it?
- Obviously I can create _scheduled_ routines for lighting
- I could create routines driven by triggered events that HA knows, such as "I just got home"
- I don't see a way to create routines based on actions that I take, like "press a button"

[2021-10-13 20:30] cgtobi commented on #19754
Duplicate of https://github.com/home-assistant/core/issues/55757

[2021-10-13 20:32] #19754 closed, assigned to cgtobi

[2021-10-13 22:39] IntExCZ opened #19758 "Card "energy-distribution" does not reflect today"
### Feedback

The independently used card does not reflect actual day (after midnight).
To change day of this card the card "energy-date-selection" must be additionaly used.

### URL

https://www.home-assistant.io/lovelace/energy/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-14 02:54] ToaSD commented on #19648
I have the Netgear Nighthawk MR60 and am having the same issue.  It auto discovers fine with default values:

Default host: (my router internal ip)
Default port: 5000
Default username: admin

Connection or login error: please check your configuration
---------------------------------------------------------------------

Log Details:

Logger: pynetgear
Source: /usr/local/lib/python3.9/site-packages

[2021-10-14 04:02] Katolus opened #19762 "Glossary section needs to be more accessible from navigation points on the page"
### Feedback

It is been 5 days diving deep into the documentation and just now have discovered the "Glossary" section in the documentation.

If I may suggest putting it somewhere in the header, perhaps as one of the dropdown items in the `Documentation` section.

Adding it to the "Getting started" section for people to review before starting to dive deeper into understanding bits and pieces of ho

[2021-10-14 05:28] RenzheLee opened #19763 "Time Too Long"
### Feedback

About 24 hours later,it still:Preparing Home Assistant.  Time Too long
(RespberryPi 4B,last version of OS)

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-14 06:36] frenck commented on #19763
That is not normal, it should be around 20 minutes (depending a bit on your internet speed as well).

I would try to consult/ask for support on our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e) (chat is probably best/fastest for this).

You are more likely to get the answers and type of help you are looking for in those places.

[2021-10-14 06:36] #19763 closed, assigned to nobody

[2021-10-14 07:18] klacol commented on #19196
You could try to leave out the double quotation marks for the volume unit:

`unit_of_measurement: m³`

I think, these entries do **not work** to get the gas entity show up in the energy page:

[code]

[2021-10-14 07:25] frenck commented on #19669
The full list is on that page. That is it, there aren't more cards related to this and the cards don't have any other options available.

[2021-10-14 08:52] adekloet opened #19766 "suggestion to add some text in regards to updating a blueprint incase there is a new revision on github for the blueporint"
### Feedback

I would be good to add some wording arround how to update a blueprint when there is a new revision on it's github. could also be just to import the blueprint again. but to avoid people searching for a way to update their blueprints to the latest revision on github. thanks

### URL

https://www.home-assistant.io/docs/automation/using_blueprints/

### Version

2021.10.4

### Additional

[2021-10-14 11:05] frenck commented on #19758
It should do that; please report issues/bug at:

<https://github.com/home-assistant/frontend/issues>

Thanks 👍

../Frenck

[2021-10-14 11:05] #19758 closed, assigned to nobody

[2021-10-14 11:56] ammgws commented on #19604
Close via https://github.com/home-assistant/core/pull/57116

[2021-10-14 11:56] #19604 closed, assigned to nobody

[2021-10-14 12:52] landaisbenj opened #19768 "Add Bayesian estimated probability in attribute"
### Feedback

I would to use bayesian integration for "in bed" sensor like exemple (and more in futur).
But, i think it's really complex to understand how it's work...

Maybe you can add the result of estimated probability in attribute ?

I think it could help to understand, test and try for another idea...

Another point, i never see in all binary_sensor configuration, state or entity_id write wi

[2021-10-14 12:56] NFis commented on #19684
Touch on the 'profile' button at the bottom of the start screen, and then on the next screen at the top on the rigth side you'll find the scan symbol:  four edges and a horizontal line inside.
Touching this starts the camera and the scanning process. Perhaps you must add camara access rights to the app.

[2021-10-14 14:04] kksligh commented on #19648
in the latest update, I was able to login with no issues.

[2021-10-14 14:04] #19648 closed, assigned to nobody

[2021-10-14 15:02] NoahKamara opened #19769 "KVM Installation Steps lead to UEFI Shell: Disk not found"
### Feedback

I've followed [this guide](https://www.home-assistant.io/installation/linux/#create-the-virtual-machine) but when I try to launch, I get the following error:
[code]

And then the VM is in UEFI Shell with the following output:
[code]

### URL

https://www.home-assistant.io/installation/linux/#create-the-virtual-machine

### Version

2021.10.4

### Additional information

_No response_

[2021-10-14 16:21] starkillerOG commented on #19648
@kksligh I made some fixes specifically for Orbi routers, glad to hear that it fixed your problem and that you are now able to use the integration.

[2021-10-14 16:25] starkillerOG commented on #19648
@ToaSD you don't have an Orbi router so those fixes might not work for you.
Please update to the latest version of HomeAssistant (2021.10.4) and remove any configuration in the YAML files that has to do with Netgear, please also do not use any custom components related to netgear while testing.
If it still does not work, please open a new issue.

What you could try is ignoring the auto-discovered

[2021-10-14 16:44] frenck commented on #19768
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-10-14 16:44] #19768 closed, assigned to nobody

[2021-10-14 16:50] ultimateguy commented on #19684
Thanks, found it!

On Thu, Oct 14, 2021 at 6:57 AM Norbert Fischer ***@***.***>
wrote:

[2021-10-14 17:59] MarekLe opened #19771 "General Options for MySensors than can't be set......."
### Feedback

General options (optimistic, persistence, versions) - where is information how to set this options????
In the past - when this integration was configured in the configuration.yaml file, it could be easily set. Now I do not see such an option, although the Home Assistant's documentation clearly writes that this parameter can be set - but HOW ???

### URL

https://www.home-assistant.io

[2021-10-14 18:05] qazqazie opened #19772 "Cannot add PIR / Motion sensor"
### Feedback

Hello,

I have 4 tuya wifi plugs and 2 motion sensors. I managed to all devices synced from my smart life app to the tuya IOT platform without any issues. However, only the 4 wifi plugs appear in HA. I have tried deleting and adding again to no avail. The integration device category here: https://github.com/tuya/tuya-home-assistant/wiki/Supported-Device-Categor says the PIR sensor is

[2021-10-14 18:19] royvanmanen commented on #19196
this works:

- platform: mqtt
  name: "dsmr_gas_meterreading"
  unique_id: "dsmr_gas_meterreading"
  state_topic: "dsmr/gas_meterreading"
  unit_of_measurement: m³
  icon: "mdi:fire"
  value_template: "{{ value_json.gas_meterreading | round(2) }}"
  device_class: gas
  state_class: total_increasing
  last_reset_topic: "fake/lastreset"

[2021-10-14 18:19] #19196 closed, assigned to nobody

[2021-10-14 19:34] steenderen opened #19774 "Values not down to zero end of the day"
### Feedback

Hi, first of all, thanks very much for this integration!

I noticed that values are not going down to zero when all sun is gone. Internal power stays at around 60wat.

Besides the life time energy is going back to 0.

Any idea if anything strange is going on at my side? Or if something can be done?

### URL

https://www.home-assistant.io/integrations/growatt_server/

### Version

202

[2021-10-14 22:58] MartinHjelmare commented on #19771
The docs are outdated.

Optimistic is deprecated since it's not needed anymore.

Persistence is deprecated. It will be always on.

Version is set when creating the config entry in the frontend.

[2021-10-15 06:09] muppet3000 commented on #19774
Hi @steenderen

Sorry that some of the values aren't performing as you would expect. Unfortunately this isn't something we're in control of as part of the integration. We just pull the values directly from the Growatt Server API (the one that the ShineApp on your phone uses).
If your values aren't behaving as you'd expect on that then you my have to take it up directly with Growatt.

[2021-10-15 06:54] skynet-network opened #19780 "The integration entities was unavalable will not rescan entity"
### Feedback

Please add rescan of entries don't stop if entity is found so we can can remove entitys to troubleshoot are devices.

### URL

https://www.home-assistant.io/integrations/tplink/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-15 07:29] steenderen commented on #19774
OK, sounds logical, but I noticed that values in the Growatt app seem OK, while in Home Assistant they are not. So somehow they are not in sync. I got the feeling that after a certain time or something Home Assistant is not connecting to the API anymore for whatever reason.

[2021-10-15 08:25] ct1dhr opened #19781 "Number of"
### Feedback

I have three whirlpool set, but only one appear on integration.

### URL

https://www.home-assistant.io/integrations/whirlpool/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-15 08:27] Kemmal81 opened #19782 "Real-time ambilight"
### Feedback

Is it possible to know the real-time status of only one of the ambilight LEDs? This should not overload the event bus.
I think it would be useful for creating synchronized scenes with other colored lights.

### URL

https://www.home-assistant.io/integrations/philips_js/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-15 09:21] danielccm opened #19783 "Power plug with metering option stays at 0.1 in current consumption"
### Feedback

I had the V1 integration working.

I updated to V2 because I wanted to get a dimmer switch working, which I will open another issue with.

Now I can only control on/off of the power plug, but I can't use the current consumption as it stays always at 0.1, with or without current flowing.

In the Smart Life app I can see the consumption alright.

I have updated everything in the superv

[2021-10-15 09:25] starcraft04 opened #19784 "Problem connecting to the AWAIR API"
### Feedback

I have received a token and when trying to install this, I get an error aborted.

When looking in the logs, I can see:
[homeassistant.components.awair] Unexpected API error: Error querying the Awair API.

Thanks if you can help...

### URL

https://www.home-assistant.io/integrations/awair/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-15 09:27] abmantis commented on #19781
That was expected on the current version, and was improved with https://github.com/home-assistant/core/pull/57588
Should be available on 2021.11.

[2021-10-15 09:27] elupus commented on #19782
You have to poll the LEDs over http. It's a rather heavy operation inside the TV as well. So doing realtime readout of ambilight status is not too nice.

Untill we have some resolved situation for the crashprone behaviour of the TV, I'm hesitant to add more load.

[2021-10-15 09:28] danielccm opened #19785 "Dimmer switch issues"
### Feedback

I have added a dimmer switch to control a wifi bulb.

I can only control the on/off of the device, not the brightness level...

The device is listed in the Tuya IoT website as

Product Name
欧标旋钮调光器（零火Wi-Fi）

Ideas?

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.4

### Additional information

Home Assistant 2021.10.4
core-2021.10.4

[2021-10-15 11:08] matteocorti opened #19787 "Minimum"
### Feedback

The minimum days to show is not 1 (as documented). I use it with 0.1 (2 hours) and it's working fine.

### URL

https://www.home-assistant.io/lovelace/statistics-graph/

### Version

2021.10.4

### Additional information

_No response_

[2021-10-15 12:01] #18673 closed, assigned to Kane610

[2021-10-15 12:40] ahayworth commented on #19784
Hi @starcraft04 -

Thanks for bringing this to our attention. I just logged in to my instance and also see something similar. In my instance it looks like Home Assistant started experiencing a problem with the Awair API about 4 hours ago (3:17am US Central time).

I won't have time to look into this until later tonight, but I will reach out to Awair and ask if anything has changed. It's possible t

[2021-10-15 14:49] mct370770 opened #19790 "The Google Nest integration looks to be broken"
### Feedback

Hi, I have carefully walked through the documentation on this integration - but Google will not let me access this way anymore. I get a;
"Error 400: invalid_request. You can't sign in to this app because it doesn't comply with Google's OAuth 2.0 policy for keeping apps secure. You can let the app developer know that this app doesn't comply with one or more Google validation rules."
T

[2021-10-15 14:57] MeesMouwen opened #19791 "research into home assistant roadmapping and release planning"
### Feedback

Dear people from Home-assistant,

I hope this message finds you well. We are two master students at the University of Utrecht, majoring in business informatics. Currently we are working on a horizontal research into the documentation and development of open source products and their release planning. Our research goal is to investigate the current state of release planning and roadma

[2021-10-15 14:57] ArdJonker opened #19792 "The InitialView = List seems not to work"
### Feedback

I've added a NextCloud caldav calendar to the configuration.yaml, this works fine.
I have a calendar card in my dashboard and this shows the calendar items.
I've set the initial view to List and the calendar items are shown as a list.

Unexpected behaviours:
1. The List contains one (or more?) item(s) in the past. I expected only future items. This does happen when i click the Listvi

[2021-10-15 15:11] allenporter commented on #19790
You need to access home assistant using your public url, you can't use a local url.

I recently updated the "my home assistant" link in the docs but now realize you may be using nabu casa for that.

Can you repeat the steps but access home assistant from the public hostname?

[2021-10-15 15:18] mct370770 commented on #19790
So - in short terms - the Nabu Case URL does not work - or?
In that case please change the screenshot used in the documentation - otherwise many others will think that is the way to go.

I need an external URL -
This means fixed external IP address and a dns domain name attached to that IP address is that correctly understod?
To get a home system up and running .......

[2021-10-15 15:20] mct370770 commented on #19790
The local URL was mentioned from Google - I was using the NABU Casa external url - just to make sure you understand

[2021-10-15 15:22] allenporter commented on #19790
Nabu casa works, you just need to make sure that is the url in the url bar when accessing home assistant.

E.g. How did Google get the url? It's the redirect url in your url bar.

[2021-10-15 16:00] mct370770 commented on #19790
Hi, I now logged on in my browser with the Nabu Casa external url and I succeeded to get one step further.
Now in the log I get a
"Configuration error: Subscription misconfigured.
Expected topic name to match 'projects/sdm-[a-z]+/topics/.*'
but was 'projects/xyzxyzxyz/topics/xyzxyz'"

I changed the actual names to xyz -
but how is the exact syntax in the configuration.yaml for the "subscriber_id:"

[2021-10-15 16:00] mct370770 commented on #19790
And - thanks a lot :-)

[2021-10-15 16:04] MarekLe commented on #19771
I can't agree. Optimistic is very needed still. I have battery operated
nodes (Mostly sleeping - every 5 minutes waking up and requesting state of
S_BINARY switch). Nodes have S_BINARY devices. When the MySensors
integration had the optimistic = true parameter this switch worked
fine. Now (when the configuration is in gui and I can't set optimistic =
truer) switching in Lovelace causes the switch

[2021-10-15 16:05] allenporter commented on #19790
The line entered looks like the topic name rather than the subscriber id. Check out the Integration docs which have a section about subscriber I'd and the last step talks about how topic and subscriber look similar.

[2021-10-15 17:25] mct370770 commented on #19790
Thanks for helping out - I really appreciate it :-)

I did first time write the wrong topic information in the configuration.yaml file instead of subscriptions
Then I changed it to the correct subscription name that I located in the Google Cloud Platform page - but it still logs the same error with old error. I have even removed the whole nest section from the configuration file - rebooted - and r

[2021-10-15 18:20] MartinHjelmare commented on #19771
You should probably use smart sleep.

[2021-10-15 19:00] #18843 closed, assigned to nobody

[2021-10-15 19:31] apworks1 commented on #19675
I selected Western Europe as DC for Italy and it did not work.
Then I found the above instructions where Central Europe is recommended for Italy and it did not work.
Finally I tried Western America and it worked.

[2021-10-15 20:51] MarekLe commented on #19771
Unfortunately smartsleep has nothing to do with that. I'm toggling the
switch in HA (in Lovelace) while the battery operated device is sleeping
for 5 minutes. So I need to have 'optimistic' mode of Mysensors available.
It is not optimistic and because that the switch toggling 'back' after a
second......

pt., 15 paź 2021 o 20:20 Martin Hjelmare ***@***.***>
napisał(a):

--
pozdrawiam
Marek L.

[2021-10-15 20:54] MartinHjelmare commented on #19771
You can customize each entity to use assumed state if it needs that.

[2021-10-15 20:58] steenderen commented on #19774
Some questions:
1. Can I somewhere see  logs or something of the API checks? If I look at this moment, than it looks like values are not updates since 18:13.
2. Is it possible to force an API check?

[2021-10-15 20:59] MarekLe commented on #19771
Thank you fo quick response but it also not working. I customized the
switch to use assumed state - it not helped..... It changed the switch
appearance but the operation is still the same (it switching back after
second).

pt., 15 paź 2021 o 22:54 Martin Hjelmare ***@***.***>
napisał(a):

--
pozdrawiam
Marek L.

[2021-10-15 21:03] MarekLe commented on #19771
Where did you get the idea that the optimistic parameter is blocked at all?

pt., 15 paź 2021 o 22:59 Marek L. ***@***.***> napisał(a):

--
pozdrawiam
Marek L.

[2021-10-15 23:24] Dewieinns commented on #19675
Can Confirm, I also had to select Western America in order to make this work as expected.

[2021-10-15 23:52] Dewieinns commented on #19742
I too experienced this. I was able to follow other steps and get the devices to show up within the Tuya IoT Platform, was able to link Homeassistant to the account, but I'm not seeing any devices being detected by Homeassistant and I'm wondering if this mystery missing API Service is the reason why.

[2021-10-16 03:19] allenporter commented on #19790
Oh oh, sorry. It's the config in the cloud console. Delete and recreaste the subscriber following the instructions and make sure to enter the topic name manually. The topic name configured by the subscriber is incorrect, not the configuration.yaml -- sorry about that.

[2021-10-16 04:45] CasaTepeji opened #19801 "Integration does not work properly"
### Feedback

when you turning on any entity, after 1 or 2 seconds the button goes back to off but the light is still on. If you just click on the button again nothing happened. and the button state goes back to off. You have to double-click (quickly) on the button again to turn off the light. Same case with any outlet.

Same situation is the switch is on and you want to switch off

### URL

https

[2021-10-16 08:55] fstelte opened #19802 "Plugwise integration"
### Feedback

I use the plugwise integration to read out my P1 port (through the plugwise P1 smile). But I cannot use the measurements from within the energy dashboard

### URL

https://www.home-assistant.io/integrations/plugwise/

### Version

2021.10.5

### Additional information

_No response_

[2021-10-16 09:34] mct370770 commented on #19790
Thank you very much - got it working :-)
Hope you have a beautiful day

[2021-10-16 09:34] #19790 closed, assigned to allenporter

[2021-10-16 10:29] bouwew commented on #19802
First, this issue should not be here but in this github: https://github.com/home-assistant/core

Second, same as https://github.com/home-assistant/core/issues/57802

So please close this issue.

[2021-10-16 10:45] Nick7767 opened #19806 "QR code to add Tuya devices doesn't work"
### Feedback

Hi,  in device tab, when i try to add devices in the tuya app with QR code, the app on the phone says that it's "impossible to add a device already in use on another data center".
I've tried to add different data centers and  all data centers but the issue stays the same.
Thanks for your help

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

2021.10.5

### Addi

[2021-10-16 10:45] frenck commented on #19791
No, we don't. It's an open-source project that is fed by people making open source contributions in their spare time. We can't guess what they will add and when they have time to do that.

We don't. We have a timed-release cycle, with a monthly release cycle. We release what is ready to ship.

What is "this" referring to? If it is about the release cycle, it is monthly.

There is no roadmap/planni

[2021-10-16 10:45] #19791 closed, assigned to nobody

[2021-10-16 13:00] flypenguin opened #19807 "example for reboot script"
### Feedback

unfortunately i am completely unable to come up with a working version of a script rebooting the fritz box. the example tells me to use `fritzbox_tools.reboot`, which triggers the error message `Failed to call service script/fritz_box_reboot. Unable to find service fritzbox_tools.reboot`.

also the fritzbox_tools is discontinued in favor of the official integration, so ... 🤷🏼‍♂️ .

_

[2021-10-16 13:50] chemelli74 commented on #19807
Please read again the documentation.
The correct service name is different: `fritz.reboot`

Simone

[2021-10-16 14:10] ahayworth commented on #19784
Hi @starcraft04 - I spoke with Awair, and they have been experiencing some instability in their APIs. I was able to confirm that at least one of my two devices is reporting data correctly again - can you try as well?

I think otherwise we'll have to wait for them to shore things up on their end.

[2021-10-16 15:14] parautenbach commented on #18214
From the docs:

What is the meaning of the `#`?

[2021-10-16 16:51] starcraft04 commented on #19784
Hi,

It seems to be working fine again now.

Thanks for your quick reaction...

On Sat, 16 Oct 2021 at 16:10, Andrew Hayworth ***@***.***>
wrote:

[2021-10-16 17:32] #19802 closed, assigned to nobody

[2021-10-16 17:50] kitkat270 commented on #19806
Same issue. Previously used tuya integration without issue. Unable to setup new integration in 2021.10.4.
![image](https://user-images.githubusercontent.com/28577458/137597272-713dd51f-c932-4938-a79a-44f8c50960bf.png)

[2021-10-16 18:13] xinux87 commented on #19806
I'm having the same problem, after the update using the given tutorial i can't connect.

[2021-10-16 18:26] frenck commented on #19806
Duplicate of https://github.com/home-assistant/core/issues/57864

[2021-10-16 18:26] #19806 closed, assigned to nobody

[2021-10-16 18:32] #19784 closed, assigned to nobody

[2021-10-16 18:59] frenck commented on #19801
Hi there @CasaTepeji 👋

It seems like you want to report a bug with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise bugs with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2021-10-16 18:59] #19801 closed, assigned to nobody

[2021-10-16 19:28] frenck commented on #19772
See: <https://www.home-assistant.io/integrations/tuya/>

Sensors are not supported. The external documentation you linked is not managed or reflects anything about Home Assistant. Please consult our official resource instead.

[2021-10-16 19:28] #19772 closed, assigned to nobody

[2021-10-16 19:33] #19445 closed, assigned to nobody

[2021-10-16 19:33] #19452 closed, assigned to nobody

[2021-10-16 19:37] datascope11 commented on #19806
Same

[2021-10-16 22:39] CasaTepeji commented on #19801
thanks Frenck. i will do

El sáb, 16 de oct. de 2021 a la(s) 13:59, Franck Nijhof (
***@***.***) escribió:

[2021-10-17 01:28] ikifar2012 commented on #19703
The only explanation we have of the supervisor on the website is [in the glossary](https://www.home-assistant.io/docs/glossary/)

Do you think we should link to that?

[2021-10-17 01:42] danielccm commented on #19716
I'm having the same issue with my plugs... they are not reporting the consumption values correctly... as they sit at 0.1 all day and night, whether there is something plugged or not.