[2022-09-06 16:17] #23158 closed, assigned to Danielhiversen

[2022-09-06 16:34] klaasnicolaas commented on #23997
For all your public activities on GitHub, your name/email will be visible to others, for example in every commit (body) you make. Unless you've shielded this, by following [these steps](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address#setting-your-commit-email-address-on-github).

I a

[2022-09-06 16:34] #23997 closed, assigned to nobody

[2022-09-06 17:27] klaasnicolaas commented on #23277
Hi there 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-09-06 17:27] #23277 closed, assigned to nobody

[2022-09-06 17:28] klaasnicolaas commented on #23933
Hi there 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-09-06 17:28] #23933 closed, assigned to fabaff

[2022-09-06 17:31] klaasnicolaas commented on #23272
You can also make those adjustments yourself if you want 😉

[2022-09-06 17:59] michealespinola commented on #23933
Apologies

[2022-09-06 18:08] glyph-se commented on #18652
Still relevant

[2022-09-06 19:16] klaasnicolaas commented on #23969
You are free to add that information to the documentation yourself. But I do believe that someone who follows this Linux route is an advanced user and therefore also knows what to do to better secure his system.

[2022-09-06 19:23] PanPompa opened #24024 "HIK killed CGI"
### Feedback

Hello Hikvisioncam Developer,

I was using your plugin with success until I have upgraded my camera firmware.... It turns out that HIK no longer supports CGI:
https://www.hikvision.com/content/dam/hikvision/en/support/notice/Hikvision-discontinues-CGI-support-in-IP-cameras.pdf

Is there a chance you could rewrite this plugin using their new API ?

Thank You :)

### URL

https://www.h

[2022-09-06 19:29] klaasnicolaas commented on #24024
Hi there 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-09-06 19:29] #24024 closed, assigned to nobody

[2022-09-06 21:33] Joddie108 opened #24025 "Dynamic Segment Values"
### Feedback

Currently the severity specification requires a fixed integer for beginning and end.
If it would allow use of a variable integer, I could show a dynamic relationship.
For example a power system might show solar supply on the gauge with the severity range for green being defined by the load being demanded.
In this case the severity would show green when the solar exceeds load or other

[2022-09-07 02:41] Zapnologica commented on #23277
I see, ok well in that case I believe the documentation should say that it will not work with accounts that have 2 factor authentication.  Because it took me ages to realise what my issue was

[2022-09-07 09:46] DaHype commented on #23933
@michealespinola @ricoroodenburg @DeaneWheresItAt

May please you can comment here also:

https://github.com/home-assistant/core/issues/77914#issuecomment-1239156312

Thanks

[2022-09-07 10:13] klaasnicolaas commented on #23277
First check whether this is not an issue in the integration, before we put these kinds of warnings in the docs.

[2022-09-07 17:30] fu-kgithubagainplease opened #24033 "broker"
### Feedback

wish someone would put the broker name name on this page i know it's host ???

### URL

https://www.home-assistant.io/integrations/mqtt/

### Version

2022.9.0

### Additional information

_No response_

[2022-09-07 17:56] fgonza2 opened #24034 "documentation for file upload doesn't exist"
### Feedback

documentation for file upload doesn't exist

### URL

https://www.home-assistant.io/integrations/file_upload/

### Version

2022.9.0

### Additional information

_No response_

[2022-09-07 23:32] Farleykri opened #24035 "SERVICE ELKM1.SENSOR_ZONE_TRIGGER does not work"
### Feedback

i've setup a simple service to call a zone trigger and tested it on a known good zone and i've not heard the chime nor seen a notification that the zone was triggered.

manually opening the zone (aka just opening the door) produced a chime and was confirmed on HA as being open

### URL

https://www.home-assistant.io/integrations/elkm1/

### Version

2022.9.0

### Additional informati

[2022-09-08 00:14] gwww commented on #24035
Logs please. Works as expected when I try it -- I get the chime from the keypad; I did not check the zone state.

[2022-09-08 00:51] Farleykri commented on #24035
2022-09-07 19:18:58.445 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection] [139922927031424] Error handling message: must contain at least one of entity_id, device_id, area_id.. Got {'type': 'execute_script', 'sequence': [{'service': 'elkm1.sensor_zone_trigger', 'data': {}}], 'id': 37} (invalid_format)
2022-09-07 19:20:05.606 WARNING (MainThread) [elkm1_lib.connection] Elk

[2022-09-08 01:01] gwww commented on #24035
`handling message: must contain at least one of entity_id, device_id, area_id.. Got {'type': 'execute_script', 'sequence': [{'service': 'elkm1.sensor_zone_trigger', 'data': {}}], 'id': 37} (invalid_format)`

Seems that the entity_id was not supplied. data is empty.

[2022-09-08 01:07] Farleykri commented on #24035
correct that was the first call i made errored out obvi cuz i forgot to put in entity ID

but no other service calls are making any logs
unless i'm searching for the wrong thing.

I have ELKM1 in the search bar

[2022-09-08 01:09] gwww commented on #24035
Can you try calling the service with correct parameters using Services on the developers menu.

[2022-09-08 01:17] Farleykri commented on #24035
you bet,
this is my code and i've been running everything on the services tab
![image](https://user-images.githubusercontent.com/12490327/189012196-872f6312-fbef-44de-97e6-e287004f85c8.png)

[2022-09-08 01:23] gwww commented on #24035
I’m confused by the No ElkM1 with prefix '1' found (unknown_error) message.

Do you have more than one Elk?

Im guessing not. If not did you configure your instance with 1 as the prefix? The prefix is usually empty if you have a single Elk.

[2022-09-08 01:24] Farleykri commented on #24035
that was me messing around with the voice application, trying different numbers, not pertinent to what is going on with trigger. it was me just making sure other services work. i put prefix 1 jus to see what happened

[2022-09-08 01:26] Daali opened #24036 "Great integration!"
### Feedback

This is a clean install for a great integration.  Ecowitt is sending uptime in seconds in a field called "runtime"
, can we get that added to a sensor to track the uptime and trigger off its state changes?

### URL

https://www.home-assistant.io/integrations/ecowitt/

### Version

2022.9.0

### Additional information

_No response_

[2022-09-08 01:27] gwww commented on #24035
In the developer tools try using the gui instead of YAML

[2022-09-08 01:28] Farleykri commented on #24035
![image](https://user-images.githubusercontent.com/12490327/189013358-4947ec73-65b4-4dce-a113-e4c7a6684625.png)

don't seem to be able to edit the targets for some reason which is why i went to YAML mode

[2022-09-08 01:32] gwww commented on #24035
The correct YAML is:
[code]
My service call:
<img width="874" alt="Screen Shot 2022-09-07 at 21 33 15" src="https://user-images.githubusercontent.com/3060128/189013973-aec03631-39f6-4887-8bcd-2376d25e93fe.png">

[2022-09-08 01:37] Farleykri commented on #24035
weird, i wonder why mine isn't showing any targets or giving me the ability to see then.

trying the fixed syntax yielded the same results (no logs but no violating either) but i think we might be narrowing down.

still nothing to show for in the logs though which kinda sucks.

all other services seem to be functioning however, like display text, speak etc. just this one is blanking out

[2022-09-08 01:40] gwww commented on #24035
Latest logs would help.

[2022-09-08 04:28] cliffchen opened #24037 "Can't configure mqtt sensor."
### Feedback

I've followed the updated 2022.9.0 document to change the MQTT sensor configuration, but the following error message showed when checking the configuration.

Invalid config for [mqtt]: [sensors] is an invalid option for [mqtt]. Check: mqtt->mqtt->sensors. (See /config/configuration.yaml, line XXX).

### URL

https://www.home-assistant.io/integrations/sensor.mqtt/

### Version

2022.9

[2022-09-08 07:24] herculesstrydom opened #24040 "New MQTT config.yaml"
### Feedback

Please add what the configuration for multiple binary sensors would look like?

so using your example:

mqtt:
  binary_sensor:
    - name: Bathroom
      state_topic: "home/bathroom/switch/button"
      payload_on: "1"
      payload_off: "0"

Would the second device be a new start with "mqtt:" OR would a new device start at "binary_sensor:"

Thank you

### URL

https://www.home-assis

[2022-09-08 07:36] frenck commented on #24037
Which version of Home Assistant are you running?

[2022-09-08 07:39] frenck commented on #24036
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-08 07:39] #24036 closed, assigned to pvizeli

[2022-09-08 07:42] XcOM987 opened #24041 "Home Assistant Repairs"
### Feedback

Would be nice if there is an option within repairs to check for repairs, IE I've fixed an issue, can I then click a button to get HA to check the issue has been mitigated?

### URL

https://www.home-assistant.io/integrations/repairs/

### Version

2022.9.0

### Additional information

_No response_

[2022-09-08 07:44] frenck commented on #24041
Repairs should resolve or provide a way to resolve them. There is no way to "check" for them.

If you have an repairs issue you seem not to be able to get rid off or resolve, that would be a bug and should be reported as such in our Core issue tracker.

../Frenck

[2022-09-08 07:44] #24041 closed, assigned to nobody

[2022-09-08 07:48] frenck commented on #24033
I'm not sure what your suggestion is, could you try explain it differently?  Or provide an example of the edit you would suggest to make?

../Frenck

[2022-09-08 11:01] dsz79 opened #24042 "Suggestion: Add "Tope de Gas" data."
### Feedback

It would be interesting to add at an informative level the price of the "Tope de Gas" (EXCEDENTE O DÉFICIT DE LA LIQUIDACIÓN DEL MECANISMO DE AJUSTE DE COSTES DE PRODUCCIÓN) as an attribute

It can be obtained e.g. from : "https://www.esios.ree.es/es/analisis/1900?vis=1&start_date=06-09-2022T00%3A00&end_date=06-09-2022T23%3A00&compare_start_date=05-09-2022T00%3A00&groupby=hour"

###

[2022-09-08 11:18] #22096 closed, assigned to nobody

[2022-09-08 12:17] klaasnicolaas commented on #24042
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-08 12:17] #24042 closed, assigned to azogue

[2022-09-08 13:20] momoz opened #24044 "Pushover GUI Edit Config"
### Feedback

How do you edit the configuration of pushover in the GUI?   Since I've removed the API keys etc from YAML, if I need to change this how/where do you edit it?   Under integrations there is no option to edit any of it.

### URL

https://www.home-assistant.io/integrations/pushover/

### Version

2022.9.0

### Additional information

_No response_

[2022-09-08 13:29] engrbm87 commented on #24044
If the api key is not valid a reauthentication flow is initiated where you can enter the new api key to fix this. As for configuring a new user_key or new api_key then means recreating the integration entry.

[2022-09-08 13:46] frenck commented on #24044
If integrations have authentication issues, they should ask for a new key / start a reauthorization process of which a notification will be raised.

If they don't, you can raise an issue for that.

../Frenck

Edit: oh! Wonders of mobile apps :) the right answer was already above 👍

[2022-09-08 13:47] #24044 closed, assigned to nobody

[2022-09-08 14:05] Farleykri commented on #24035
Good morning, so after updating to latest HA version i now get the GUI for the targets but am still unable to trigger a zone when i call service.

here's a full printout of logs
https://pastebin.com/BkSanBsB

and here's full logs
https://pastebin.com/t25HXmAh

[2022-09-08 14:49] AleXSR700 opened #24047 "Entities card show_name and show_icon not working"
### Feedback

Hello,

is it possible that show_name and show_icon no longer work?

[code]
Results in
![image](https://user-images.githubusercontent.com/57034871/189153485-084d8d76-a2a6-4960-ae45-88116f368dd0.png)

Whereas name and icon seem to work
[code]
![image](https://user-images.githubusercontent.com/57034871/189153721-60461a98-43b1-45b5-ac98-ae2b56ee1606.png)

### URL

https://www.home-assis

[2022-09-08 16:03] #23260 closed, assigned to nobody

[2022-09-08 16:05] evlo opened #24049 "How the proxy should work?"
### Feedback

I don't understand how to esphome bluetooth proxy_should work.

i have added
[code]

to one of my existing esphome devices (climate)
I have tried removing it and adding it into home assistant, but no new entries in esphome integration, bluetooth integration says there are no unconfigured adapters.

Also maybe add link to the https://www.home-assistant.io/integrations/homekit_controll

[2022-09-08 17:11] frenck commented on #24035
Hi, there all 👋

It seems like you are trying to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-09-08 17:11] #24035 closed, assigned to bdraco

[2022-09-08 18:57] LindsayReid commented on #24040
I too can get only one binary sensor working with the revised mqtt form in 2022.9.0 but cannot work out how I would now define my multiple binary sensors. I thought I had tried most possibilities but to no avail!

[2022-09-08 19:15] DeanK2022 opened #24051 "How do I use this?"
### Feedback

The help is really clear on how to set up a schedule, but how can I tie that in to _doing_ something?  Like  - living room light on, heating on / off and so on?
That'd be a useful addition to this page

### URL

https://www.home-assistant.io/integrations/schedule/

### Version

2022.9.0

### Additional information

_No response_

[2022-09-08 19:27] frenck commented on #24051
It works like any other helper.

Helpers (and any other integration in Home Assistant, of which everything in Home Assistant exists), provide entities. Entities can be used in automations to act or trigger on. E.g., when a switch entity turns on, a climate entity registers a different temperature, or when a schedule changes its state.

None of that is specific to the schedule integration.

If you

[2022-09-08 19:27] #24051 closed, assigned to nobody

[2022-09-08 19:29] DeanK2022 commented on #24051
Thanks Frenck!

From: Franck Nijhof ***@***.***>
Sent: 08 September 2022 20:28
To: home-assistant/home-assistant.io ***@***.***>
Cc: DeanK2022 ***@***.***>; Author ***@***.***>
Subject: Re: [home-assistant/home-assistant.io] How do I use this? (Issue #24051)

It works like any other helper.

Helpers (and any other integration in Home Assistant, of which everything in Home Assistant exists), provid

[2022-09-08 20:14] nocturnalit opened #24054 "Intrusion detection"
### Feedback

Could you please add smart event intrusion detection?
The basic motion detection is very basic and gets a lot of false triggers and most people use intrusion detection instead, however I cannot add that type of event in home assistant and think it might have just been overlooked.

### URL

https://www.home-assistant.io/integrations/hikvision/

### Version

2022.9.0

### Additional in

[2022-09-08 20:42] frenck commented on #24054
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-08 20:42] #24054 closed, assigned to nobody

[2022-09-08 21:13] alderete opened #24055 "More information about SensorPush system or ecosystem, please"
### Feedback

SensorPush devices are listed, but it's not clear if you need (for example) the SensorPush hub to connect them, or how the SensorPush ecosystem works.

No, it's not the job of the HA docs to cover the full details. But it does seem pretty basic to explain what the minimal SensorPush install that can work with Home Assistant would consist of. If nothing else, a short "Note: SensorPush

[2022-09-08 21:43] alderete commented on #24055
After doing a bit of research on the SensorPush site, I believe the following things are (a) true, and (b) worth adding to the doc. If someone can verify/falsify these assertions, I'm happy to create a PR for the doc changes.

**Assertion**: Supported SensorPush devices use a local Bluetooth connection to communicate with Home Assistant. (This probably implies a minimum version of Home Assistant,

[2022-09-08 22:03] #23250 closed, assigned to nobody

[2022-09-08 22:19] frenck commented on #24025
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-08 22:19] #24025 closed, assigned to nobody

[2022-09-08 22:29] frenck commented on #24040
From the docs:

[code]

As you can see above, the `binary_sensor` key has a list as its value. List can be extended with more items.

For example:

[code]

This is not specific to this integration or anything. You might want to read up into to some YAML guides.

../Frenck

[2022-09-08 22:29] #24040 closed, assigned to emontnemery

[2022-09-09 02:14] cliffchen commented on #24037
The Home Assistant version is  2022.9.0, same as the document version. Thanks.

[2022-09-09 05:15] cliffchen commented on #24037
Same error on version 2022.9.1.

[2022-09-09 09:21] totti4ever opened #24064 "What is meant to happen after setting up Ecowitt Integration? - here nothing happens"
### Feedback

So, I set up the integration (Core/Container) and configured my Froggit DP-1500 to send the data to a custom server in ecowitt format with my Home Assistant's IP (working fine e.g. for shellies in the same network, different port of course).

But I cannot see anything besides the new entry "Ecowitt" on the integration site. No Devices, no entitites, no log lines containing ecowitt.

[2022-09-09 10:10] cliffchen commented on #24037
rechecked, the issue still exists on version 2022.9.1

[2022-09-09 10:11] cliffchen commented on #24037
rechecked, the issue still exists on version 2022.9.1

[2022-09-09 12:13] DUC750 opened #24068 "Nuki not in device list for automations"
### Feedback

I wanted to create an automation that unlocks the lock as soon as the first movement is detected in the morning.
But unfortunately my Nuki is not shown in the device selection of the automations.

### URL

https://www.home-assistant.io/integrations/nuki/

### Version

2022.9.1

### Additional information

_No response_

[2022-09-09 12:51] emontnemery commented on #24037
Please share your MQTT configuration before you updated to 2022.9 as well as after you updated.

[2022-09-09 13:51] rodw-au commented on #24064
i get the same issue here. Nothing happens

[2022-09-09 13:52] JBoye opened #24069 "Here Travel Time not working"
### Feedback

I think somewhere on the documentation page, it should be mentioned that is currently does not work and people shouldn't waste time on it until its fixed

### URL

https://www.home-assistant.io/integrations/here_travel_time/

### Version

2022.9.1

### Additional information

_No response_

[2022-09-09 14:15] eifinger commented on #24069
Thank you for contributing to this open source project.
If you want to help the issue along you can weigh in on the discussion [here](https://github.com/home-assistant/core/pull/76553) and [here](https://github.com/home-assistant/core/pull/74348).

You can also open a PR with your suggested changes to the [documentation file](https://github.com/home-assistant/home-assistant.io/blob/current/source/

[2022-09-09 14:42] mcflier commented on #23675
@starkillerOG Yes, I am running the latest firmware.

![image](https://user-images.githubusercontent.com/42252755/188955251-0ebc2f42-66d3-4954-a852-d78944ccd14b.png)

I also tried with the new release of HomeAssistant 2022.09 and still have the same problem.  To your point, yes my router is old.

[2022-09-09 15:16] stephend61 opened #24070 "MQTT Sensors not available since changing to new format"
### Feedback

Hi,
I have the following version installed and while no errors, I cannot see any of my sensor that are configured in the new format.
Home Assistant 2022.9.1
Supervisor 2022.08.6
Operating System 8.5
Frontend 20220907.0 - latest

here is an example of one config :

mqtt:
  sensor:
    - name: kennel1_Room_Temp
      state_topic: /nexacom/sensor/kennel1/temperature
      value_template

[2022-09-09 16:16] rhaymg opened #24071 "Please fix this thermostat card problem."
### Feedback

https://www.reddit.com/r/homeassistant/comments/x9ifl7/lost_ability_to_change_thermostat_temp/

### URL

https://www.reddit.com/r/homeassistant/comments/x9ifl7/lost_ability_to_change_thermostat_temp/

### Version

2022.9.1

### Additional information

_No response_

[2022-09-09 21:35] petron1e opened #24074 "ClearGrass Air Monitor is not supported"
### Feedback

Hello,
would be possible add support also for Qingping Air Monitor (https://www.qingping.co/air-monitor/specifications)? I have this type have but unfortunately is missing on your list of supported devices. Seems to be quite popular device. Thank you. BR, Pavel

### URL

https://www.home-assistant.io/integrations/qingping/

### Version

2022.9.1

### Additional information

_No respo

[2022-09-09 21:36] bdraco commented on #24074
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-09 21:36] #24074 closed, assigned to bdraco

[2022-09-10 03:14] cliffchen commented on #24037
Just realized I used "sensors" instead of "sensor" in the configuration. Sorry for the confusion caused.

[2022-09-10 03:14] #24037 closed, assigned to emontnemery

[2022-09-10 07:53] jmcollin78 opened #24077 "How to use this Scheduler component ?"
### Feedback

The page explains how to create and configure the Scheduler component. That's great but no explanation on how to use the scheduler.
I try to schedule something with automation but my scheduler is not visible.

### URL

https://www.home-assistant.io/integrations/schedule/

### Version

2022.9.1

### Additional information

_No response_

[2022-09-10 10:16] boardyuk opened #24078 "Configurable time increments for schedule"
### Feedback

Absolutely love the new schedule helper, it's got rid around 6-8 other helpers used in automations already and still going.

What would be really nice is to have a configurable time increment for the schedules instead of just incrementing in 30min intervals, whether this is global or per helper I'm not sure, global would certainly work if individual overrides isn't possible.

Example

[2022-09-10 18:03] #23276 closed, assigned to nobody

[2022-09-10 18:17] balloob commented on #24077
Scheduler entities are created as `schedule.<name>` and have a state of `on` or `off`. You need to use state triggers to test when they are on/off.

[2022-09-10 18:17] #24077 closed, assigned to nobody

[2022-09-10 21:36] Inkblot720 commented on #23675
@starkillerOG  - I too am still unable to log in.

[2022-09-10 22:16] schmic79 opened #24083 "Minimum version of Synology DSM is missing"
### Feedback

Hi there,

you should state the minimum version of Synology DSM needed for this integration to work.  I could not find it in the docu....

.... but I tried with a DSM 6 device (it worked) and with a DSM 4 device (and it didn't worked).

On DSM 4, I get the same error as here:

https://community.home-assistant.io/t/synology-expected-support-for-older-devices/223535

Thanks,
Michael

#

[2022-09-11 00:14] #23184 closed, assigned to nobody

[2022-09-11 03:45] jhbl opened #24084 "Question about MQTT dimming value"
### Feedback

I have set up a mqtt dimmer, but when I move the slider to the far left, the value shows "1" instead of "0". The switch status still shows the "on" state.
When I use the switch to turn off the light, the slider moves to the far left also, the value is also shown as "1", not "0".

[code]

### URL

https://www.home-assistant.io/integrations/light.mqtt/

### Version

2022.8.7

### Addit

[2022-09-11 06:43] stephend61 commented on #24070
Don't worry I fouund the issue and it works now, it was due to having multiple mqtt sections, as I had just changed my config entries where they were instead of bringing them all together under one mqtt section.

[2022-09-11 06:43] #24070 closed, assigned to emontnemery

[2022-09-11 09:27] hklages opened #24087 "Home Assistant Cloud - documentation"
### Feedback

It would be nice to have on the Home Assistant cloud page `http://<ha>/config/cloud/account` on every card a link to the according documentation topic. There is already a link "learn how it works" for the "remote control card" but it is missing for google `https://www.nabucasa.com/config/google_assistant/` and alexa card `https://www.nabucasa.com/config/amazon_alexa/`.

### URL

http

[2022-09-11 14:12] Mopfus opened #24089 "BTHome request: Change number of digits"
### Feedback

BTHome does a great job! It works perfectly with my ATCs from Xiaomi. :

One Option is missing for me. If I use the [TelelinkMiFlasher.html of pvvx](https://github.com/pvvx/ATC_MiThermometer), the ATC is sending always two digits. This is not neccesary to show them (especially for relative humidity).
It is possible with the old way of using [passive BLE monitor](https://github.com/cu

[2022-09-11 14:34] ShadowRep commented on #21756
This is not fixed and really should be.

[2022-09-11 15:24] cookiestheone commented on #23905
same here 2022.9.1

[2022-09-11 18:24] gabyxze opened #24091 "After HA update"
### Feedback

Hello,
we try to install FLuxLed from Integration but the following error appears:
"Error
This integration does not support configuration via the UI. If you followed this link from the Home Assistant website, make sure you run the latest version of Home Assistant."

I have  HA  2022.9.1 version

thanks for you help.
Gaby

### URL

https://www.home-assistant.io/integrations/flux_led/

[2022-09-11 19:57] Ernst79 commented on #24089
I've discussed it with the HA devs, but it is not common to add configurable precision in integrations. Sensor data should be reported as accurate as the sensor is, and can only be changed in the underlying library (for everybody). So I wont implement this request, unfortunately.

As a workaround, you can use a template sensor, if you want less precision in the UI.

BTW, you are addressing this is

[2022-09-11 20:12] #24089 closed, assigned to nobody

[2022-09-11 21:03] #23292 closed, assigned to nobody

[2022-09-11 23:05] Automot360 opened #24095 "LEDBLE failed to connect"
### Feedback

2 Error Messages coming up:
No.1
LEDBLE-00BCD9 (BCD9)
Logger: led_ble.led_ble
Source: /usr/local/lib/python3.10/site-packages/led_ble/led_ble.py:649

LEDBLE-00BCD9: characteristic missing: Read characteristic missing; Stopping trying; RSSI: -60
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/site-packages/led_ble/led_ble.py", line 637, in _send_command_while_conn

[2022-09-11 23:07] bdraco commented on #24095
Which device is this?  It doesn’t look like a supported one

[2022-09-11 23:12] Automot360 commented on #24095
Thank you for answering.
I board this one for testing purpose:
Brand | LKELEC
Indoor/Outdoor Usage | Outdoor, Indoor
Light Source Type | LED
Power Source | Corded Electric
Product Site
https://www.amazon.com/dp/B08RS5CPYN?psc=1&ref=ppx_yo2ov_dt_b_product_details

[2022-09-11 23:23] bdraco commented on #24095
Looks like this one speaks a different protocol unfortunately so it won’t work

[2022-09-11 23:25] Automot360 commented on #24095
OK thank you, will try another one,
due you have a recommendation for a small device like this one?

[2022-09-11 23:36] bdraco commented on #24095
If you want a wifi one this will
Work with magic home Comoyda WiFi Led String Lights with Remote Control, RGB Color Changing Sliver Wire Starry USB Fairy Lights 33 Ft 100 Led, Waterproof Fairy Lights for Bedroom Party, Works with Alexa, Google Home https://a.co/d/1zaBJjj

Anything labeled happy lighting or tritones will likely work with led Ble if you want Bluetooth

[2022-09-11 23:39] Automot360 commented on #24095
Alright thank you will try this one.

Thank you you for all your work on Home Assistant!

[2022-09-11 23:39] #24095 closed, assigned to bdraco

[2022-09-12 01:10] ThaDuhFeez commented on #21756
This is still VERY MUCH an ongoing issue.

[2022-09-12 01:47] jonwaland opened #24097 "Speedtest integration documentation out of date"
### Feedback

Speedtest integration page references the now deprecated service call.

### URL

https://www.home-assistant.io/integrations/speedtestdotnet/

### Version

2022.9.2

### Additional information

_No response_

[2022-09-12 10:02] cowboysdude opened #24103 "Turn_off service not working"
### Feedback

The input_boolean.turn_on works perfectly but upon trying to run the input_boolean.turn_off service it does not toggle the boolean off as it should.

I have to use homeassistant.toggle to turn the input_boolean off

[code]

Here is where I'm asking the boolean to turn off.... the only way it works is with homeassistant.toggle service.
It seems that the input_boolean_turn_off service

[2022-09-12 13:16] Bejjje opened #24109 "Lacking info on sensors supported"
### Feedback

This integration is lacking documentation on what kind of data the sensors collect/show, should be included.
Below is a table if what I think I managed to puzzle together from Tibbers API documentation, please correct and adjust as needed and include in documentation.

|sensor Name:|Value:|Comment:|
| --------------- | --------------- | --------------- |
|sensor.accumulated_cost_HOME

[2022-09-12 13:27] teocannata opened #24110 "Wake_on_lan switch not working anymore"
### Feedback

I've a switch with wake_on_lan platform that is not working anymore.
How should I configure home assistant in order to have it back?

Thanks!
Matteo

### URL

https://www.home-assistant.io/integrations/wake_on_lan/

### Version

2022.9.2

### Additional information

_No response_

[2022-09-12 14:24] #24110 closed, assigned to nobody

[2022-09-12 14:24] teocannata commented on #24110
Don't know why but HA renamed my entity, everything is working fine after a rename back to the old name.
Thanks!

[2022-09-12 15:09] Beefycakerson opened #24112 "Air demand"
### Feedback

Is there any way of force starting the "air demad"?

i.e. starting or running the fan without the the setpoint on thermostat being reached?

### URL

https://www.home-assistant.io/integrations/airzone/

### Version

2022.9.2

### Additional information

_No response_

[2022-09-12 16:24] nikrumzi opened #24114 "The prayer times are not updated."
### Feedback

Assaalamualaykum broth. Lately I've noticed that the prayer times are not updated after midnight. I have to reload the integration in order to get the latest prayer times.

### URL

https://www.home-assistant.io/integrations/islamic_prayer_times/

### Version

2022.9.2

### Additional information

_No response_

[2022-09-12 20:36] Duke-Box opened #24115 "Update to say that this integration is broken as of 2022.7.x"
### Feedback

This integration was broken by 2022.7.x and there is no solution as of 2022.9.x

### URL

https://www.home-assistant.io/integrations/bluetooth_tracker/

### Version

2022.6.7

### Additional information

_No response_

[2022-09-13 02:11] Alekisan opened #24116 "No instruction on how to implement"
### Feedback

You have information about what the helper does but no examples on how to use it.

### URL

https://www.home-assistant.io/integrations/schedule/

### Version

2022.9.2

### Additional information

_No response_

[2022-09-13 07:20] emontnemery commented on #24103
@cowboysdude Please include an example of what's not working for you.

[2022-09-13 08:54] kohekohebigsky opened #24119 "More detailed instruction of input fields "valid input" required"
### Feedback

The instructions here state the obvious.
Then when you get to the last instruction
"Follow the instruction on screen to complete the set up."
This is why people have navigated to the help!
they need more explanation or examples of what is expected in the required fields!
there should be some rules or schema provided to show what qualifies as a valid input.
As a code writer, always pu

[2022-09-13 10:40] frenck commented on #24084
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-09-13 10:40] #24084 closed, assigned to emontnemery

[2022-09-13 14:52] frenck commented on #24115
This is not an documentation issue, issues with integrations can be reported in the Core issue tracker.

Thanks 👍

../Frenck

[2022-09-13 14:52] #24115 closed, assigned to nobody

[2022-09-13 15:57] frenck commented on #24119
That is asked? Could you be more specific on what fields exactly causes confusion for you?

../Frenck

[2022-09-13 15:58] #24064 closed, assigned to pvizeli

[2022-09-13 16:08] frenck commented on #21756
So the reason this issue is still open probably (or at least will never be closed), it because this isn't the issue tracker for Core integrations.

This tracker is used to collect documentation feedback, not for handling or reporting issue.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

When report an issue, please make sure your issue isn't reporte

[2022-09-13 16:08] #21756 closed, assigned to Quentame

[2022-09-13 17:58] #24091 closed, assigned to bdraco

[2022-09-13 18:22] Duke-Box commented on #24115
Hi Frank

So I think there is a misunderstanding.
I thought the documentation should reflect the fact that this integration
doesn't work since 2022.7.x
I think a user should know from the documentation that the integration is
broken.

I was not trying to report an issue.

Thanks Mike

On Tue, 13 Sep 2022, 15:52 Franck Nijhof, ***@***.***> wrote:

[2022-09-13 18:33] frenck commented on #24115
An integration listed should work, if not, it should be reported and fixed.

[2022-09-13 18:56] Duke-Box commented on #24115
Franck,

But you know it doesn't work!
It is in your release notes for 2022.7.x that it is broken.
It is already reported
bluetooth_tracker doesn't work in 2022.7.x (not compatible with python
3.10) · Issue #75049 · home-assistant/core (github.com)
<https://github.com/home-assistant/core/issues/75049>
as an issue with bdraco saying this is caused by the adoption of python 3.10

I fail to understan

[2022-09-13 19:55] frenck commented on #24115
We don't document issues, we have an issue tracker to track issues.

See my first response.

[2022-09-13 20:17] Duke-Box commented on #24115
This isn't a request to document an issue, it is a response to the "help us
to improve our documentation"

And to that end it would be helpful to document that the integration
doesn't work anymore, at the moment.

If I was a new user looking for classic bluetooth tracking and saw the
current documentation I would think it would work.
Isn't this request the same as your warning boxes that a certain

[2022-09-13 23:35] NickDorak opened #24123 "How to Use Color Mode"
### Feedback

Please let us know how to use Color Mode.
I can change colors by going into services, but wife and kids aren't going to figure that out. When they open the light in the dashboard, there is only an option to turn on/off and nothing about color.

### URL

https://www.home-assistant.io/integrations/screenlogic/

### Version

2022.8.7

### Additional information

_No response_

[2022-09-14 17:10] #23258 closed, assigned to davet2001

[2022-09-14 18:03] #21438 closed, assigned to nobody

[2022-09-14 22:26] kohekohebigsky commented on #24119
HA-OS, bare metal install on HP290.  Integrations, Add Device, After the name is added, HOST* ?  Is this: Name given to device? Machine running ESP? (host), IP V4 address? Where do I find the "host" name?
In the ESP Help for this it does not give any examples,  Just says "Follow the instruction on screen to complete the set up."
This is not helpful.  Now I'm lost.

[2022-09-14 22:58] abochmann commented on #23383
The documentation hasn't been updated with the correct syntax yet,

[2022-09-15 01:23] #24114 closed, assigned to nobody

[2022-09-15 01:24] nikrumzi commented on #24114
Everything is working as usual now.

[2022-09-15 01:40] mark-reijerkerk opened #24132 "Hyper-v did not start up"
### Feedback

After importing the VDHX everything looks done, however for some strange "Microsoft policy", the "secure boot " option is turned on by default after importing a VHDX. After turning off the VM and changing to "no secure boot" everything went great.

### URL

https://www.home-assistant.io/installation/windows/

### Version

2022.9.4

### Additional information

![Screenshot 2022-09-15

[2022-09-15 01:43] mark-reijerkerk commented on #24132
Sorry, I pretend to have ADHD so I do before read RTFM (Read The F**king Manual)

[2022-09-15 01:43] #24132 closed, assigned to nobody

[2022-09-15 01:48] loopy321 opened #24133 "Possible for scripts to update .yaml files?"
### Feedback

Thanks for the updates and hard work!

I was curious if it would be possible to have a script propose updates to the .yaml files that user could accept or amend accordingly to stay current with the changes.

I have a lot of mqtt sensors and a couple of climates and this would be very helpful!

Thanks for considering!

### URL

https://www.home-assistant.io/integrations/sensor.mqtt/

[2022-09-15 09:19] xtr3me opened #24135 "Generic x86-64 installation guide Balena Etcher issue"
### Feedback

The guide talks about booting Ubuntu live on the target system:

[code]

And afterwards suggests to use BalenaEtcher to write the image to the disk of the target system. Unfortunately BalenaEtcher doesn't work out of the box on Ubuntu 22.04 as it is missing Fuse2.

When using Ubuntu 20.04 everything works correctly. It took me a couple of hours to find out why it wasn't working and u

[2022-09-15 14:16] frenck commented on #24123
Sounds like you are experiencing a bug. When clicking an light entity in Home Assistant, you should be able to change colors of the light directly from the UI (if the light is turned on).

If not, that would be a bug. There is no need to use services for this.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-09-15 14:16] #24123 closed, assigned to bdraco

[2022-09-15 14:53] frenck commented on #24112
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-09-15 14:53] #24112 closed, assigned to nobody

[2022-09-15 16:26] frenck commented on #24133
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-09-15 16:26] #24133 closed, assigned to emontnemery

[2022-09-15 16:27] frenck commented on #23905
This has been fixed.

[2022-09-15 16:27] #23905 closed, assigned to nobody

[2022-09-15 16:48] #24097 closed, assigned to rohankapoorcom

[2022-09-15 19:55] magicus commented on #24017
@DavidMStraub What is this "configuration/ authentication process" that the documentation is referring to?

[2022-09-15 20:04] dieselrabbit commented on #24123
The Pentair controllers (and thus the ScreenLogic interface device) do not report or track the current color mode of any color-capable lights controlled by the system, yet provide a way to _set_ the mode. This is why we cannot cleanly support colors or effects in the light entities and instead have to rely on a service call. (this was pre-Button entities, IIRC).

@NickDorak In this case, you would

[2022-09-15 20:48] frenck commented on #24123
It would need to assume state of the color mode in such cases. The above confirm me this is a bug. A user should be able to control a light as expected directly from the UI.

[2022-09-15 21:09] AdamWoodward22 opened #24138 "Cannot find grid consumption entity"
### Feedback

Hi, I’m trying to set up the Energy tab in my home assistant. When I click on the drop down tab for grid consumption or grid return the only entity that appears is ‘inverter daily generation’. I have a Sungrow SG5K-D inverter which is currently displaying all values in the ‘Sensor’ section of my main overview through the ModbusTCP2MQTT add on. Sensors available are inverter import, e

[2022-09-16 06:58] mmick08 opened #24139 "Enhancement proposal"
### Feedback

Hi Guys,
as the Gas part in general can be used for different fuels would it be possible to grant some more units like f.e. kg, lb, liters, ...
The section than can be used also for example for Wood Pellets, Wood, Oil and many more...
This would satisfy the needs of many users I think, several Feature requests went into the community already.

To round this up it would maybe be an id

[2022-09-16 07:15] frenck commented on #24139
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-16 07:15] #24139 closed, assigned to nobody

[2022-09-16 10:03] #23355 closed, assigned to nobody

[2022-09-16 12:24] buhito81 commented on #24115
Clearly, it doesn't work as @Duke-Box writes. I second his motivation that as a new user one gets the impression that this is part of what HA offers - whereas this is clearly not working as of 2022.7.*

All the work that @bdraco is doing currently on Bleak is on/for BL**E** There currently isn't any supported bluethooth_tracker in HA as of 2022.7 and the **documentation doesn't reflect that**.

Re

[2022-09-16 12:27] frenck commented on #24115
I am not repeating myself. The issue can be reported. Please do so.

As a matter of fact, the integration will actually work on on a core installation type in a Python 3.9 venv (which is a supported official installation type).

If you have an issue, use the issue tracker. That is what is for.

[2022-09-16 12:35] buhito81 commented on #24115
https://github.com/home-assistant/core/issues/75049#issuecomment-1181688762
Your own words: "We can't mitigate this issue. If you are using one of these integrations, these will no longer work. "

But since you seem to be aware of the issues; "the integration will actually work on on a core installation type in a Python 3.9 venv (which is a supported official installation type)" maybe you would be

[2022-09-16 13:12] frenck commented on #24115
We can now.

Cool, please track those issues and feel free to contribute a fix.

../Frenck

[2022-09-16 13:50] RabidWombatz opened #24145 "HOME ASSISTANT AUTOMATION DOCUMENTATION IS NOT GOOD"
### Feedback

I have tried to develop a bunch of basic automations for when my solar power generation exceeds certain values. the information around numeric is utterly misleading and no good example exists.
I am using the in-app, not YAML or code, just the "easy" method. why? because I can't work out where to put code and blueprints didnt work easily and no blueprints on the linked forum were clos

[2022-09-16 13:57] frenck commented on #24145
This sounds more like frustration than actual constructive feedback. Especially witnessing the all-caps title (which is considered shouting).

Therefore closing this feedback.

Please note, we have quite a big community (forums, Discord chat, Facebook groups, Subredits) that can help you out and for asking questions. If you figured out what is actually wrong, we are happy to receive a concrete sug

[2022-09-16 13:57] #24145 closed, assigned to nobody

[2022-09-16 14:38] klaasnicolaas commented on #24138
Hi there 👋

It seems like you want to report an issue about a third-party add-on (ModbusTCP2MQTT), however, you have submitted documentation feedback instead. It's best to open an issue on the add-on repository, you may already find your answer in the old issues there 😉

Thanks! 👍

./Klaas

[2022-09-16 14:38] #24138 closed, assigned to nobody

[2022-09-16 14:47] frenck commented on #24015
Scenes themself do not have a state that can be a controller (or be restored using a scene). It is not just scenes, but applies to anything that doesn't have a user-settable state.

For example, weather entities. You can't change the weather by including it in a scene.

[2022-09-16 19:30] thibaultmol opened #24152 "Mention Zuidwijk's Slimmelezer"
### Feedback

There are a bunch of diy solutions listed on the documenation page, yet the device from Zijdwijk seems like the best one yet it's not even mentioned

https://www.zuidwijk.com/product/slimmelezer-plus/

### URL

https://www.home-assistant.io/integrations/dsmr/

### Version

2022.9.4

### Additional information

_No response_

[2022-09-16 21:52] mjacobs63 opened #24154 "Repairs documentation seems incomplete."
### Feedback

The documentation for "Repairs" does not indicate how to clear the notification.  Should it automatically disappear when the repair is made?  What happens when I ignore a repair?  Does the notification return after a restart?  Does it return after an upgrade?  Is it gone forever?

What brings up the question is that I got 2 notifications regarding MQTT configuration.  I had MQTT conf

[2022-09-16 22:03] #22667 closed, assigned to nobody

[2022-09-16 22:26] gmcaesar commented on #24103
He may be having the same problem I am, I can call it in developer tools, and I can go directly to the entity and toggle it, but when I use a button on the dashboard it returns an entity id needed error.

[2022-09-16 23:50] klaasnicolaas commented on #23445
In the meantime, I think the current warning is sufficient with regard to the current status of Insteon.

[2022-09-16 23:50] #23445 closed, assigned to teharris1

[2022-09-17 00:36] circlotron opened #24157 "Missing Dependency"
### Feedback

In Install Home Assistant Core, there is a missing dependency for rustc (python crypto needs it)

### URL

https://www.home-assistant.io/installation/raspberrypi/

### Version

2022.9.4

### Additional information

_No response_

[2022-09-17 03:03] gmcaesar commented on #24103
system info:
 Home Assistant 2022.9.4 Supervisor 2022.08.6 Operating System 9.0 Frontend 20220907.2 - latest

button yaml
[code]

also tried the same service call in a normal button card with no problems,
but when I call this from the dev panel it works fine:
`service: input_select.select_next
data: {}
target:
  entity_id: input_select.kori_morning_routine`

[2022-09-17 08:27] frenck commented on #24157
That depends on the OS and setup you are using. As per warning on the installation method you are using:

![CleanShot 2022-09-17 at 10 27 38](https://user-images.githubusercontent.com/195327/190847852-60de7b8f-416c-426a-84bd-74ca075fb72e.png)

[2022-09-17 08:27] #24157 closed, assigned to nobody

[2022-09-17 09:40] bdraco commented on #24123
I wrote a PR at one point to add color support for the light entity but didn't end up moving it forward:

- The device only support 5 actual colors.  (its not RGB, it 5 fixed values)
- Color is not reported by the device so everything is lost on restart
- Changing the color changes the color for ALL devices connected to the controller not just a single light

The UX was just not so great consideri

[2022-09-17 09:45] frenck commented on #24103
@gmcaesar Your issue seems to be unrelated to this issue. Please don't stack different issues in a single report. Thanks 👍

[2022-09-17 10:50] Milan1989 opened #24160 "QVR Pro integration is not working"
### Feedback

My QVR Pro integration is not working.

QTS version: QTS 5.0.1.2145
QVR Pro version: v.2.2.0.0

Home Assitant LOG:
Logger: homeassistant.components.qvr_pro.camera
Source: components/qvr_pro/camera.py:108
Integration: QVR Pro (documentation, issues)
First occurred: 2022. szeptember 16. 09:19:49 (4 occurrences)
Last logged: 10:02:47

Error getting image: {'{\n"success":false,\n"error_c

[2022-09-17 11:20] klaasnicolaas commented on #24160
Hi there 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-09-17 11:20] #24160 closed, assigned to nobody

[2022-09-17 12:07] nerra0pos opened #24161 "TTL for alerts in order to reduce too many alerts in case of highly fluctuating sensor data"
### Feedback

It would be good if some sort of TTL could be added as an option.

For example, if a sensor has highly fluctuating data, the alert should not be triggered every time.

TTL=60 could mean that the alert is only triggered if it was not triggered within the last 60 seconds already.

### URL

https://www.home-assistant.io/integrations/alert/

### Version

2022.9.4

### Additional informat

[2022-09-17 12:21] jktikka commented on #24110
I still have this issue. The error on two WOL switches was "entity not provided by wake_on_lan" or something similar.

I tried completely removing the entity, restarting, then readding, but no luck.

Old WOL switches are just unavailable with nothing in the log, code under switch: in configuration.yaml below:
(This code has been working for nearly 3 years with no fuss)

`  - platform: wake_on_lan

[2022-09-17 15:43] gmcaesar commented on #24103
@frenck sorry, I thought it might be related, but on a double check it looks a bit different - I'll open my ticket in the frontend repo

[2022-09-17 16:20] blue-hound commented on #23445
Well, the current status of Insteon is open and accepting new subscriptions. So the warning isn't correct. It says they HAVE shutdown their cloud service but it has reopened.

[2022-09-17 17:07] #22811 closed, assigned to Danielhiversen

[2022-09-17 21:03] #23360 closed, assigned to nobody

[2022-09-17 22:45] #23459 closed, assigned to nobody

[2022-09-17 23:19] jacix commented on #23460
I think the only chance necessary is in the docs so that users are aware of the subscription requirements.

[2022-09-18 05:17] bmcgair opened #24164 "pushover broken, "Failed to connect""
### Feedback

Hmm... pushover worked for years, but now its broken inin  configuration.yaml, with some cryptic message saying that my configuration has been imported automatically, when it hasn't, and then the pushover integration doesn't work with the same values. All I get when I enter my api and user keys are "Failed to connect".

### URL

https://www.home-assistant.io/integrations/pushover/

#

[2022-09-18 05:21] bmcgair commented on #24164
<img width="610" alt="Screen Shot 2022-09-17 at 10 21 03 PM" src="https://user-images.githubusercontent.com/468193/190886995-4d0ad45d-59a3-4fe3-91c7-793059991db2.png">

[2022-09-18 05:22] bmcgair commented on #24164
<img width="401" alt="Screen Shot 2022-09-17 at 10 22 03 PM" src="https://user-images.githubusercontent.com/468193/190887022-48b3cbf3-9989-4eda-a01b-e19b5459923c.png">

[2022-09-18 09:57] thwe1966 opened #24166 "Error during setup"
### Feedback

After installing and configuring the platform, I am not getting any entities -> error setting up on the integrations page.

A call to the API with my API key using:
https://creativecommons.tankerkoenig.de/json/list.php?lat=48.1506496&lng=10.8097448&rad=10&sort=price&type=diesel&apikey=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
results in an immediate response, so my key is OK (and also ent

[2022-09-18 10:00] frenck commented on #24166
That is an integration issue. Either in the integration itself of upstream with the service provider. However, you have submitted documentation feedback, which is not really a place where we can address issues with core integration.

Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-09-18 10:00] #24166 closed, assigned to mib1185

[2022-09-18 12:05] SeraphicRav opened #24168 "Adding a little bit more information about tags"
### Feedback

Hello!

I think rhat the documentation should mention that when using a phone as a **NFC** tag reader, it needs Home Assistant installed (from what I understood). Also mentioning if an account in Home Assistant is necessary or not.

What do you think?

Best regards

### URL

https://www.home-assistant.io/integrations/tag/

### Version

2022.9.4

### Additional information

_No respon

[2022-09-18 14:15] frenck commented on #24168
No?

No, should not be needed.

I feel like you are suggesting X by are struggling with Y (something different). That causes this feedback to be raised.

../Frenck

[2022-09-18 15:32] SeraphicRav commented on #24168
Sorry, let me detail.

I made an NFC tag using the Tag feature from the companion app from a Google Pixel 3.
I asked a friend with the same phone model to scan the NFC to trigger a dumb automation I wanted him to trigger. Instead, it prompted to install the companion app. I believe that people using Home Assistant in their daily life might accept to install it, but not people just passing by. This

[2022-09-18 15:39] frenck commented on #24168
It depends on that tag used I guess. Or maybe a limitation of the phone? I can make a QR code as a tag that is just scannable by anybody without apps.

Maybe it is an issue of the companion app?

[2022-09-18 15:51] SeraphicRav commented on #24168
Cannot really tell, I could make another NFC to share wifi settings using another app, that one does not need an application to be usable.

No idea.

I hope that someone can provide more information about this.

[2022-09-18 15:54] SeraphicRav commented on #24168
I mentioned NFC in the description of the request as QR seems to not have problems.

[2022-09-18 17:34] frenck commented on #24168
Both are just "tags". Anyways, in all cases you end up on:

https://www.home-assistant.io/tag/

Which describes your cases already?

[2022-09-18 17:41] frenck commented on #23496
That is correct. YAML can sometimes allow for more advanced configuration options not available via the UI.

In general, `scan_interval` settings are considered legacy and slowly being removed from everywhere in Home Assistant.

[2022-09-18 17:41] #23496 closed, assigned to nobody

[2022-09-18 17:46] frenck commented on #23870
The page doesn't list such a feature, so the current page looks correct.

Thanks for sharing feedback 👍

../Frenck

[2022-09-18 17:46] #23870 closed, assigned to nobody

[2022-09-18 17:49] Someone0nEarth opened #24171 "Updating the Apple TV integration examples: How to deal with a turned off remote entity"
### Feedback

Sometimes the Apple TV remote entity is not turned on, so the scripts in the examples are not working (at least for me on tvOS 16.0 and Apple TV 4K 2. Gen).

Fix: Ensuring in the scripts, that the remote entity is turned on.

Maybe updating the examples on the integration page?

Example:

[code]

Thanks for the integration!

Best regards,
 Someone

### URL

https://www.home-assistant

[2022-09-18 17:54] frenck commented on #23991
You can't create dynamic entries for integrations. Each has to be added fixed.

../Frenck

[2022-09-18 17:54] #23991 closed, assigned to nobody

[2022-09-18 22:37] DanielTheCoder opened #24173 "Add documentation for ha os, eg. how to roll back ha os to a previous version"
### Feedback

It would be really helpful to know which `ha os` cli commands are available.
With ha os version 9.0 stuff broke (eg. rasperrymatic integration).
It took me a while to find the following community post to realize that it's possible to downgrade a ha os upgrade via cli
https://community.home-assistant.io/t/edit-ble-broken-since-9-0-update/461371/2?u=danielthecoder

like `ha os update —

[2022-09-19 00:17] mpoffo1231 opened #24174 "Ring Integration not recognizing new camera, now allowing control over the Siren and Lights"
### Feedback

The Ring Floodlight Cam Wired Pro shows up as "unknown" in home assistant.  I can view the cameras but have no control over the lights and siren like I did with the previous Ring Floodlight camera. This has been reported before and it appears the issue was closed or at least I am not clear if this is something that will be addressed.

I have used these controls for various automation

[2022-09-19 05:04] SeraphicRav commented on #24168
"For NFC tag readers on Android, the companion app is necessary" is worth mentioning in the documentation, I believe.

The current documentation says

[2022-09-19 07:28] frenck commented on #24168
That is what it states?

Sorry, I really don't want to troll (I feel that it might come across as such at this point). But it literally states:

![CleanShot 2022-09-19 at 09 27 16](https://user-images.githubusercontent.com/195327/190968803-e8586959-0854-4856-83c2-11c9fd0ddacf.png)

[2022-09-19 13:45] #24083 closed, assigned to nobody

[2022-09-19 14:24] AndreKR commented on #23387
That is a bit... misleading.

I could prepare a PR if there's a chance it'll get merged?

[2022-09-19 14:45] ludeeus commented on #23387
IMO I do not think these should be changed.
The integration should get a config flow instead.

[2022-09-19 14:56] AndreKR commented on #23387
Ah, I see. That's a bit beyond my current Python skills unfortunately.

[2022-09-19 15:20] frenck commented on #23741
This was an issue, that has been fixed in the latest stable releases of Home Assistant.

[2022-09-19 15:20] #23741 closed, assigned to nobody

[2022-09-19 15:24] frenck commented on #23563
Tested it as well, the link works and is correct.

../Frenck

[2022-09-19 15:24] #23563 closed, assigned to nobody

[2022-09-19 15:26] frenck commented on #23840
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-19 15:26] #23840 closed, assigned to fabaff

[2022-09-19 15:35] SeraphicRav commented on #24168
@frenck I think, we just keep on misunderstanding each other.

The page you linked is shown when a tag is already set up and when using it (am I correct?).

I am talking about https://www.home-assistant.io/integrations/tag/. This page is describing the tag feature and is accessible from the list of integrations (so usually at the ideation level). I think it would be better for people to know the l

[2022-09-19 15:37] SeraphicRav commented on #24168
Sorry for insisting but if my issue does not seem pertinent, it is OK to close it.

[2022-09-19 15:54] ThomDietrich commented on #23840
@BenBrcl thanks for your feedback. I had the same thought and agree. It's on my todo list but I won't get to this within the next couple of weeks. Pull Request welcome. Cheers

[2022-09-19 17:21] vijghph opened #24180 "system resources"
### Feedback

I think it would be worth indicating what is the recommended system resources to run Home Assistant in a Docker container.

I have a Synology 412+ equipped with only 1Gb of RAM in hardware and I suspect it is insufficient to preserve decent NAS performance, isn't it?

### URL

https://www.home-assistant.io/installation/alternative/

### Version

2022.9.5

### Additional information

[2022-09-19 19:43] avviano opened #24182 "Impossible to change IP socket address of ZHA zigbee bridge?"
### Feedback

Why is it not possible to change the IP Socket address of my Zigbee Bridge within ZHA? I got a new router and now I am stuck with a bridge and 20 zigbee devices not being recognized. This is a real nightmare!!!!

### URL

https://www.home-assistant.io/integrations/zha/

### Version

2022.9.5

### Additional information

_No response_

[2022-09-19 19:52] frenck commented on #24182
Thank you for reaching out.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-09-19 19:52] #24182 closed, assigned to dmulcahey, Adminiuga, puddly

[2022-09-19 19:57] frenck commented on #24180
It all depends on what you run with it / on it / do with it.
Home Assistant will run fine on a Raspberry Pi3 even, and some still run it on a Raspberry Pi2.
Your system sounds more than capable.

../Frenck

[2022-09-19 19:57] #24180 closed, assigned to nobody

[2022-09-19 20:00] frenck commented on #24078
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-09-19 20:00] #24078 closed, assigned to nobody

[2022-09-19 22:03] #23393 closed, assigned to emontnemery

[2022-09-20 03:37] ocalvo commented on #23992
Could you also add the link to where to buy this device?

[2022-09-20 03:53] #23398 closed, assigned to emontnemery

[2022-09-20 11:48] FerronN opened #24188 "Better definitions references"
### Feedback

I'm new to HASS and have been looking a lot at the documentation to figure out how things works.
The hardest part for me is how object references are displayed. There are many useful scenarios, but I miss a complete reference.
As a person who is new to the HASS definitions it's hard to figure out how to put it all together.

I work a lot with yaml files and I find [this kind of refer

[2022-09-20 12:26] Lx commented on #18257
Still relevant.

[2022-09-20 12:54] spicuzza opened #24189 "Rhasspy"
### Feedback

Not enough information to evan learn how to spell Rhasspy

### URL

https://www.home-assistant.io/integrations/rhasspy/

### Version

2022.9.5

### Additional information

_No response_

[2022-09-20 13:09] #24189 closed, assigned to balloob

[2022-09-20 13:13] foolip commented on #21191
"further activity occurs"

[2022-09-20 13:24] dotsoltecti opened #24190 "KNX climate preset mode - docs unclear how to set a mode using a service/automation"
### Feedback

The docs indicate that 5 preset modes are available:

- Auto (maps internally to PRESET_NONE within Home Assistant)
- Comfort (maps internally to PRESET_COMFORT within Home Assistant)
- Standby (maps internally to PRESET_AWAY within Home Assistant)
- Night (maps internally to PRESET_SLEEP within Home Assistant)
- Frost Protection (maps internally to PRESET_ECO within Home Assistant)

[2022-09-20 13:32] domerich opened #24191 "Current Power"
### Feedback

Hi guys, this all works well but how can I get the current power readings out of my volkszähler?

monitored_conditions:
- current power?

### URL

https://www.home-assistant.io/integrations/volkszaehler/

### Version

2022.9.5

### Additional information

_No response_

[2022-09-20 13:32] #22707 closed, assigned to Danielhiversen

[2022-09-20 13:32] #22715 closed, assigned to nobody

[2022-09-20 13:32] #22695 closed, assigned to nobody

[2022-09-20 13:37] domerich opened #24192 "VZlogger in Home Assistant"
### Feedback

Hi guys, this all works well but how can I get the current power readings out of my volkszähler?

monitored_conditions:
- current power?

### URL

https://www.home-assistant.io/integrations/volkszaehler/

### Version

2022.9.5

### Additional information

_No response_

[2022-09-20 13:53] klaasnicolaas commented on #24192
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e) or check the [Community for

[2022-09-20 13:53] #24192 closed, assigned to nobody

[2022-09-20 13:56] #24191 closed, assigned to nobody

[2022-09-20 14:17] #22491 closed, assigned to nobody

[2022-09-20 17:14] hnkmlndks opened #24194 "Instruction incorrect"
### Feedback

Under configuration it reads
The preferred way to configure input boolean helpers is via the user interface, in which they are known as Toggle Helpers. To add one, go to [Settings -> Devices & Services -> Helpers](https://my.home-assistant.io/redirect/helpers)

 -> Devices & Services ->
should be replaced with
->  Automation & Scenes ->

### URL

https://www.home-assistant.io/integra

[2022-09-20 17:36] marvin-w commented on #24190
Good point. Do you maybe want to update the docs and open
a PR?

[2022-09-20 17:56] tkozel70 opened #24195 "Configuration of the Tuya IoT Platform issue with attaching App Account"
### Feedback

In step 6 of the "LINK DEVICES BY APP ACCOUNT" section of this page, it says "If zero devices are imported. Try changing the DataCenter and check the account used is the “Home Owner”." Not sure what account the text is referring to, other than the Tuya IoT Platform account. I do not see any reference to that in the IoT platform account settings, and it would be helpful if there was s

[2022-09-20 19:31] farmio commented on #24190
Imho using a climate entities `set_preset_mode` service is not specific to the Knx climate integration and should thus be documented here <https://www.home-assistant.io/integrations/climate/#service-climateset_preset_mode>.
The mapping is just a hint because of the different naming in Knx and HA for users to find the correct preset mode (in UI or for automation).

[2022-09-21 05:57] Joakim-Wallman opened #24197 "No Sensor data available"
### Feedback

I'm not really sure how it is supposed to work, but it looks like something is wrong.
The Tibber integration shows my full name, which comes from Tibber and I can send notifications to my Tibber App, so the tibber tag seem to work as it should.
But I can't find any related Sensors anywhere.
Is the tibber integration supposed to show any services or entyties? It does not show any for

[2022-09-21 09:15] CJerard opened #24198 "The first 'easy' option disables your existing PI OS!"
### Feedback

I tried the "if you have little to no Linux experience" option - at least that one will automatically install dependencies etc I thought (Install Home Assistant Core in a py venv gave me a couple of headaches and no working HA). It turns out after starting the pi with HA added, I can't use my original PI OS anymore. Is it gone? No idea, it seems I do need Linux experience to figure t

[2022-09-21 09:37] frenck commented on #24071
Hi there @rhaymg 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with Home Assistant integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-09-21 09:37] #24071 closed, assigned to nobody

[2022-09-21 09:43] AndySymons opened #24199 "Bluetooth Tracker"
### Feedback

The page is unclear. First, an overview would be handy for new HA users before diving into the detail.
The section on what to do if a device is not detected is especially unclear - what has scanning with a phone got to do with anything? Why is IoS treated like an exceptional case (in brackets)?

### URL

https://www.home-assistant.io/integrations/bluetooth_tracker/

### Version

2022

[2022-09-21 09:45] klaasnicolaas commented on #24198
When you flash the Home Assistant OS to your SD card, you will get a message in Balena Etcher that existing files on the SD card will be deleted. So you overwrite everything that was on your SD card with the new OS and that is more than logical 🤷🏻

[2022-09-21 10:52] CJerard commented on #24198
Sure, but it doesn't hurt telling novices what will happen, right? Similar to the powersupply warning for example, special box on top of the section. After all, that novice section is for people who are most likely not 100% sure what they are doing.

The page asks for feedback to improve info. Well, here is some feedback. My PI is just a playground, all I lost is some time.

[2022-09-21 11:52] klaasnicolaas commented on #24198
Of course we are very happy with your feedback, it also shows us what users encounter. Maybe we can indicate in step 4 that users will get a popup and if they agree, the SD card will be erased and HA OS will be installed 🤔

[2022-09-21 14:23] elucas2uy opened #24200 "error documentation on i2c activation?"
### Feedback

on the ENABLE I2C VIA HOME ASSISTANT OPERATING SYSTEM TERMINAL section, I think it should say:

echo dtparam=i2c_vc=on >> /tmp/mnt/config.txt
echo dtparam=i2c_arm=on >> /tmp/mnt/config.txt

INSTEAD of:
echo dtparam=i2c_vc=on >> /tmp/mnt/CONFIG/config.txt
echo dtparam=i2c_arm=on >> /tmp/mnt/CONFIG/config.txt

### URL

https://www.home-assistant.io/common-tasks/os/

### Version

2022.9

[2022-09-21 15:32] rucanunes opened #24201 "Sensors showing 1, 2, 3, 4 instead of dark, dim, normal, bright, excellent, good, normal, bad, quiet, normal, noisy"
### Feedback

My sensors are showing 1, 2, 3, 4 instead of dark, dim, normal, bright,  excellent, good,  normal, bad,  quiet, normal, noisy, etc.

![Screenshot 2022-09-21 at 16-28-32 Visão Geral – Home Assistant](https://user-images.githubusercontent.com/44728693/191546906-4b866f39-af54-4681-884f-e475b43bfb77.png)

### URL

https://www.home-assistant.io/integrations/broadlink/

### Version

2022.9

[2022-09-21 21:42] Lordeds opened #24205 "S3 Hub Support"
### Feedback

When will this support S3 hub?

### URL

https://www.home-assistant.io/integrations/broadlink/

### Version

2022.9.5

### Additional information

_No response_

[2022-09-21 23:03] #22010 closed, assigned to nobody

[2022-09-22 07:39] frenck commented on #24205
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-09-22 07:39] #24205 closed, assigned to Danielhiversen

[2022-09-22 18:03] #23427 closed, assigned to nobody

[2022-09-22 20:58] kaasszje commented on #23124
2022.09.6 regretfully still has this issue, any sollution?

[2022-09-22 22:43] DaiZack opened #24217 "Cannot read Celsius and Fahrenheit properly"
### Feedback

It reads Fahrenheit from my thermostats but shows Celsius. And I don't have a way to convert it.

<img width="408" alt="image" src="https://user-images.githubusercontent.com/45176371/191863845-fd8711da-1edf-4723-88c7-30f26cdd1d30.png">
<img width="317" alt="image" src="https://user-images.githubusercontent.com/45176371/191864001-046b4161-1a4a-4c5a-800f-b990dd044431.png">

### URL

ht

[2022-09-22 23:02] imthefrizzlefry opened #24218 "Unable to configure or obtain local access key as described."
### Feedback

Regarding the configuration, I think it is important to note that Home Assistant MUST detect the bluetooth device before the user is able to add the integration manually.  This threw me off for the first couple of days because I would repeatedly get a message indicating `No unconfigured devices found.` However, after Home Assistant notified me that it found the bluetooth device, I wa

[2022-09-23 02:03] #23644 closed, assigned to bdraco

[2022-09-23 02:09] bgala opened #24220 "systemmonitor using legacy YAML syntax"
### Feedback

Documentation for System Monitor shows following example:
[code]

Should this not be updated to format used in other places with sensors
[code]

### URL

https://www.home-assistant.io/integrations/systemmonitor/

### Version

2022.9.6

### Additional information

_No response_

[2022-09-23 02:27] KL2001 opened #24221 "Examples need to be improved"
### Feedback

I have multiple covers, which in the past could be configured like this:
[code]

When I try this:
[code]

or this:
[code]

It fails to parse the configuration. Are we only allowed one cover now?

### URL

https://www.home-assistant.io/integrations/cover.mqtt/

### Version

2022.9.6

### Additional information

_No response_

[2022-09-23 02:59] #23432 closed, assigned to nobody

[2022-09-23 09:41] Hedda opened #24224 "Rename docs for "ZHA" / "Zigbee Home Automation" integration to read just "Zigbee"?"
### Feedback

For reference, similar integration rename was recently done by zsarnett for Z-Wave JS -> https://github.com/home-assistant/home-assistant.io/pull/23382 and https://github.com/home-assistant/core/pull/75136

Now suggest renaming "ZHA" / "Zigbee Home Automation" integration in the docs to read just "Zigbee" (preferably also UI too).

https://www.home-assistant.io/integrations/zha

![im

[2022-09-23 09:54] Hedda commented on #24224
Also see matching suggestion to change name of `Zigbee Home Automation` to be called `Zigbee` in zha for Home Assistant core:

https://github.com/home-assistant/core/issues/78992

[2022-09-23 16:08] casamtl opened #24227 "Error in Insteon scene YAML example"
### Feedback

Your example for triggering an Insteon scene needs to be corrected (missing 'data:' line). Took me a while to figure out the problem.

automation:
  # Trigger an INSTEON scene 25
  - id: trigger_scene_25_on
    alias: "Turn on scene 25"
    action:
      - service: insteon.scene_on
        **data:
          group: 25**

### URL

https://www.home-assistant.io/integrations/insteon/

##

[2022-09-23 22:03] viskor opened #24229 "Error on add integration"
### Feedback

Hi, when i try to add integration i have the message : "Des données de jeton non valides ont été reçues"

Can you tell me why?

### URL

https://www.home-assistant.io/integrations/google/

### Version

2022.9.6

### Additional information

_No response_

[2022-09-23 22:05] SemoTech commented on #23527
@matrixd2 Can you or anyone help with this?
Thank you.

[2022-09-23 22:18] #24229 closed, assigned to nobody

[2022-09-23 22:18] viskor commented on #24229
probleme solve with  add a new idclient oauth

[2022-09-24 05:16] darazi opened #24230 "Working example of counter incrementing using an if statement"
### Feedback

There is currently a non-working example of incrementing a variable outside its scope using an if statement.
There is no example of how one would define a default value then increment it using an if statement.

Thanks!

### URL

https://www.home-assistant.io/docs/scripts/

### Version

2022.9.6

### Additional information

_No response_

[2022-09-24 11:10] frenck commented on #24224
Docs reflect integration changes. The integration is called ZHA at this point.

Closing the issue, as it is not documentation related.

[2022-09-24 11:10] #24224 closed, assigned to nobody

[2022-09-24 19:41] lscorcia opened #24232 "Freebox integration - Add details for Italian Iliadbox"
### Feedback

Freebox integration also supports the Iliadbox fiber wifi router provided by Iliad in Italy. It works great out of the box, but it requires trusting the Iliad ECC Root CA to complete the configuration. The routers' root certificate is self signed and is neither available on the internet nor is provided by the router web server, but it can be retrieved in the routers' Developers page.

[2022-09-24 20:01] homeassistant commented on #24230
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`script`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L531) for? Thanks!

[2022-09-24 20:01] homeassistant commented on #24227
Hey there @teharris1, mind taking a look at this feedback as it has been labeled with an integration (`insteon`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L297) for? Thanks!

[2022-09-24 20:02] homeassistant commented on #24221
Hey there @emontnemery, mind taking a look at this feedback as it has been labeled with an integration (`mqtt`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L390) for? Thanks!

[2022-09-25 08:48] eddiex666 opened #24233 "Authentication error"
### Feedback

Logger: bimmer_connected.api.authentication
Source: components/bmw_connected_drive/config_flow.py:42
First occurred: 23. september 2022, 19:42:04 (4 occurrences)
Last logged: 10:44:46

Authentication error (invalid_client): Client authentication failed (e.g., login failure, unknown client, no client authentication included or unsupported authentication method)

### URL

https://www.h

[2022-09-25 09:02] eddiex666 commented on #24233
tryed to reset password many times, the MyBMW app is now working.
Hass, Homey and OpenHAB is NOT working..

has BMW done something to awoid smarhouse integrations?

[2022-09-25 10:21] fuzzznet opened #24235 "After upgrading from 2022.9.4 to 2022.9.6, the Yeelight integration stopped working"
### Feedback

After upgrading from 2022.9.4 to 2022.9.6, the Yeelight integration stopped working

### URL

https://www.home-assistant.io/integrations/yeelight/

### Version

2022.9.6

### Additional information

Model: yeelink.light.colorb

[2022-09-25 11:54] #24235 closed, assigned to nobody

[2022-09-25 12:15] klaasnicolaas commented on #24233
Hi there @eddiex666 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-09-25 12:15] #24233 closed, assigned to nobody

[2022-09-25 12:41] garbast opened #24238 "Installation of missing packages in Home Assistant Supervised"
### Feedback

For supervised the installation of missing packages is not

`sudo apt-get install libxml2-dev libxslt1-dev zlib1g-dev`

but instead you need to use

`apk add libxml2-dev libxslt-dev zlib-dev`

### URL

https://www.home-assistant.io/integrations/caldav/

### Version

2022.9.6

### Additional information

_No response_

[2022-09-25 12:47] ludeeus commented on #24238
The only supported Supervised OS is Debian, `apk` does not exist there.

[2022-09-25 12:47] #24238 closed, assigned to nobody

[2022-09-25 12:51] garbast commented on #24238
I dont want to be rude, but what version do i have here? I have to use apk to install packages.

`
| |  | |                          /\           (_)   | |            | |
| |__| | ___  _ __ ___   ___     /  \   ___ ___ _ ___| |_ __ _ _ __ | |_
|  __  |/ _ \| '_ \ _ \ / _ \   / /\ \ / __/ __| / __| __/ _\ | '_ \| __|
| |  | | (_) | | | | | |  __/  / ____ \\__ \__ \ \__ \ || (_| | | | | |_
|_|  |_|\

[2022-09-25 13:06] ludeeus commented on #24238
That is Home Assistant Operating System (not Supervised).
That OS does not have a package manager at all, so if you used APK you installed something I a container.
That will not be kept and is not how you add packages, and not something we should document.

If you have an issue with this integration using the OS, open an issue here <https://github.com/home-assistant/core/issues/new?labels=integrat

[2022-09-25 14:10] jgclark commented on #22267
Letting the issue bot know that this is still an issue.

On Sat, 24 Sept 2022 at 20:03, github-actions[bot] ***@***.***>
wrote:

--
-- Jonathan

[2022-09-25 15:14] stefanfrena opened #24240 "docker[minus]compose up -d"
### Feedback

shouldnt it be "docker-compose up -d" instead of "docker compose up -d" in the documentation?

### URL

https://www.home-assistant.io/installation/alternative/

### Version

2022.9.6

### Additional information

_No response_

[2022-09-25 15:44] klaasnicolaas commented on #24240
`docker-compose` comes from v1.0 and `docker compose` works from v2.0 and higher.

See also: https://www.docker.com/blog/announcing-compose-v2-general-availability/

[2022-09-25 18:32] 404frank opened #24242 "Webex Notify does not work"
### Feedback

Hi, I'm trying to get the webex integration implemented but do always receive "Unable to find service notify.webex"

Should it work in general?

I'm using the same credentials from the FHEM integration, which works. A bit wondering that the BOT-ID is not used here.

Here my integration:
    notify:
  - name: webex
    platform: cisco_webex_teams
    token: N2E1Y2Q5NDItOWRmNy00ODhiLTh

[2022-09-25 19:07] klaasnicolaas commented on #24242
Hi there @404frank 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-09-25 19:07] #24242 closed, assigned to nobody

[2022-09-25 19:08] #23474 closed, assigned to nobody

[2022-09-25 19:36] fortepc opened #24243 "Google Domains: How to update Multiple Domains"
### Feedback

This doc page doesn't show what to do if you need to update multiple domains, it's not uncommon for users to have multiple domains they need to keep updated.

### URL

https://www.home-assistant.io/integrations/google_domains/

### Version

2022.9.6

### Additional information

I asked this previously and was told to do this, but it's not been working. https://hastebin.com/depicinuma

[2022-09-25 20:59] 404frank commented on #24242
Many thanks Klaas. I opened an issue. But may we can also adjust the
manuell to be more precise. A bit confused as I describe in the opened
issue. Thanks for your help.

Regards,
Frank

Am So., 25. Sept. 2022 um 21:07 Uhr schrieb Klaas Schoute <
***@***.***>:

[2022-09-25 21:43] klaasnicolaas commented on #24242
Depends on what you mean with

As far as I can judge now, this issue belongs in the core repository 🤷🏻‍♂️

[2022-09-25 21:55] klaasnicolaas commented on #24220
This is only possible if the integration has also been adapted for this and until now it still works as shown in the documentation.

[2022-09-25 23:41] boriken72 opened #24244 "Lyric Integration Hard Coded URL"
### Feedback

Spend many hours trying to figure this out -docs should be updated unless the integration is fixed

The app is hardcoded to use "https://my.home-assistant.io/redirect/oauth "

<img width="601" alt="image" src="https://user-images.githubusercontent.com/24843834/192170764-cd227984-3453-4959-bdff-f3dd763d14da.png">

so this is what you must use when you configure it in the "app" at the

[2022-09-26 11:03] #23477 closed, assigned to nobody

[2022-09-26 11:29] rucanunes commented on #24201
Someone, please?

[2022-09-26 11:39] homeassistant commented on #24244
Hey there @timmo001, mind taking a look at this feedback as it has been labeled with an integration (`lyric`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L356) for? Thanks!

[2022-09-26 11:51] homeassistant commented on #24232
Hey there @hacf-fr, @quentame, mind taking a look at this feedback as it has been labeled with an integration (`freebox`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L210) for? Thanks!

[2022-09-26 14:51] timmo001 commented on #24244
This is part of Home Assistant's default oauth strategy

https://www.home-assistant.io/integrations/lyric/#setup

[2022-09-26 14:54] frenck commented on #24244
Well, that is exactly what is written in the docs:

![CleanShot 2022-09-26 at 16 53 36](https://user-images.githubusercontent.com/195327/192309666-3341dacb-7cf3-48c4-99f1-8af9335becfe.png)

[2022-09-26 14:54] #24244 closed, assigned to nobody

[2022-09-26 15:02] boriken72 commented on #24244
I fall under “I have manually disabled my home assistant”

![image](https://user-images.githubusercontent.com/24843834/192312494-a57a518f-987b-4caf-a94b-dc826d7353ab.png)

and those instructions DO NOT WORK – it only works with  "my.home-assistant.io/redirect/oauth <https://my.home-assistant.io/redirect/oauth>  "

From: Franck Nijhof ***@***.***>
Sent: Monday, September 26, 2022 10:55 AM
To: home-

[2022-09-26 15:04] boriken72 commented on #24244
Yes but issue is there are two ways to provision “automatic” if you have “My Home Assistant” enabled and manual if you have this disabled:

The latter doesn’t work – it is hard coded to the "my.home-assistant.io/redirect/oauth <https://my.home-assistant.io/redirect/oauth>  "

From: Aidan Timson ***@***.***>
Sent: Monday, September 26, 2022 10:52 AM
To: home-assistant/home-assistant.io ***@***.***>

[2022-09-26 17:14] frenck commented on #24244
Only when the My Home Assistant integration is active, otherwise it falls back to what is described in the documentation. This is tested and confirmed working.

For more information on the My integration, see: <https://www.home-assistant.io/integrations/my>

You can check if the integration is active on your instance, by going to:

Settings -> System -> Repairs, next in the top right click the thr

[2022-09-26 17:28] boriken72 commented on #24244
I struggled with this for 2 days and can most definitely tell you that it’s not working as I disabled “My Home Assistant” when I built my server.

When I go to Settings -> System -> Repairs, next in the top right click the three dots and click on "Integration startup time" from the menu I am not redirected it stays at my local url.

The reason I had to follow the path I documented was because I ke

[2022-09-26 17:31] frenck commented on #24244
? I think you are not reading what I wrote. Therefore I cannot help you any further.

[2022-09-26 17:43] boriken72 commented on #24244
My Home assistant is not loaded – I simply misread what you were implying.

This integration is working but you are by far the most unprofessional person I’ve ever had the displeasure of working with.

While I am appreciative of the work you are doing it doesn’t give you the right to talk down to people who are simply seeking your assistance, or even trying to help improve the user experience so o

[2022-09-26 17:53] frenck commented on #24244
Sorry, the integration doesn't handle this, but Home Assistant handles that. It only does this behavior when the `my` integration is loaded. This is a tested scenario (covered by automated tests).

It isn't hardcoded, if the `my` integration is not loaded. See:

https://github.com/home-assistant/core/blob/c777e8592cdd1957da85f6d41b7a283add834cff/homeassistant/helpers/config_entry_oauth2_flow.py#L1

[2022-09-26 19:02] Lordakis opened #24252 "Error"
### Feedback

Although I have the latest version of HA the below message appears

 Error
This integration does not support configuration via the UI. If you followed this link from the Home Assistant website, make sure you run the latest version of Home Assistant.

### URL

https://www.home-assistant.io/integrations/gree/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-26 19:02] homeassistant commented on #24252
Hey there @cmroche, mind taking a look at this feedback as it has been labeled with an integration (`gree`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L243) for? Thanks!

[2022-09-26 19:05] #23480 closed, assigned to nobody

[2022-09-26 19:52] tvl9ops commented on #23975
What I did was to allow for negative values, otherwise it shows the absolute value, which is not correct. Since HA expects only positive values I created special outputs with the `max()` function for GridReturn and GridComsumption to show always zero when it goes negative. If you reload the iotawatt integration, you'll see the new outputs as new sensors in HA.

[2022-09-26 19:55] tvl9ops commented on #23975
Actually HA should be much more configurable what concerns negative and positive values, because now there needs to be double transformations to please the rigid energy model of HA.

[2022-09-26 20:50] greyhound3 opened #24253 "Could you clarify a bit on the -- backup on the downgrade, please"
### Feedback

I downgraded to 2022.9.6 but what does this sentence mean, i think, i can read it but i do not understand it:
"The --backup flag here ensures that you have a partial backup of your current setup incase you need to downgrade." ?
does this mean
"The --backup flag here makes a partial backup of your current setup before you install another version. It may work on another version or not,

[2022-09-26 20:53] frenck commented on #24253
You should not downgrade using that CLI. The command examples are meant for upgrading (`--backup` creates a backup before upgrading).

If you need to downgrade, please restore a previously created backup.

../Frenck

[2022-09-26 20:53] #24253 closed, assigned to nobody

[2022-09-26 21:09] greyhound3 commented on #24253
Your info
" (--backup creates a partial backup before upgrading)." is more explorative than
"The --backup flag here ensures that you have a partial backup of your current setup incase you need to downgrade."
"creates/makes" >better than>  "ensures that you have"
OK, can be closed, thank you. My lights are working again.
And thank you very much for answering to quickly :)

[2022-09-26 22:00] AndySymons opened #24254 "How to install it?"
### Feedback

Usually there is a section on installing an integration, but not here. 'proximity' is not found in the standard integrations

### URL

https://www.home-assistant.io/integrations/proximity/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-26 22:21] frenck commented on #24254
See: <https://www.home-assistant.io/integrations/proximity/#configuration-variables>

![CleanShot 2022-09-27 at 00 21 20](https://user-images.githubusercontent.com/195327/192390892-c4fe82fb-2e34-4038-9f97-0597240fcbd5.png)

This is a manual integration, that you need to configure by adjusting the YAML configuration.

../Frenck

[2022-09-26 22:21] #24254 closed, assigned to nobody

[2022-09-26 22:26] frenck commented on #24252
I cannot reproduce this, when I click the link, it actually works and tries to set up the Gree integration.

Are you using a custom integration for Gree?

../Frenck

[2022-09-27 10:37] garbast commented on #24238
Thanks for clarifying that. I will change my installation to supervised, to be more flexible.

[2022-09-27 10:49] frenck commented on #24238
Those commands and instructions would still not apply to Supervised installation methods. The OS, Supervised & Container installation methods all use the same Docker containers to run Home Assistant.

Please be sure to dive into the difference in installation methods and be sure you know what you are doing before choosing one. Supervised is by far the most complicated installation method we have.

[2022-09-27 11:50] Lahim26 opened #24258 "SMTP notify not visible in Developer Tools"
### Feedback

I made  two configs but none of them is visible in DevTools.
There is just notify.notify
notify:
  - name: tes
    platform: smtp
    server: ********
    port: 465
    timeout: 15
    sender: ********
    #encryption: starttls
    username: ********
    password:********
    recipient: ********
    sender_name: test
    verify_ssl: true

  - name: "test2"
    platform: smtp
    serv

[2022-09-27 14:43] frenck commented on #24258
Hi there @Lahim26 👋

It seems like you want to report an issue with a Home Assistant integration. However, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-09-27 14:43] #24258 closed, assigned to nobody

[2022-09-27 15:04] #23490 closed, assigned to nobody

[2022-09-27 15:25] Reynders1 opened #24259 "weak search engine"
### Feedback

Since the beginning, I have been struggling finding information in the documentation. Although I know it is available, many things cannot be found from the search function. Unless you spend time surfing the website or get the direct link, you won't find it. The last example I got was with the keyword "schedule". This is what you find:
<img width="504" alt="Screenshot 2022-09-27 at 17

[2022-09-27 15:25] homeassistant commented on #24259
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`schedule`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L527) for? Thanks!

[2022-09-27 15:25] homeassistant commented on #24259
Hey there @epenet, mind taking a look at this feedback as it has been labeled with an integration (`renault`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L503) for? Thanks!

[2022-09-27 16:28] rakoivun opened #24260 "2 processors required with Virtualbox. Default 1 won't boot"
### Feedback

Processor needs to be set to 2 in Virtualbox. If 1 the image won't boot.

See also
https://community.home-assistant.io/t/virtualbox-haos-ova-8-4-vdi-wont-boot/447485

Seen on haos_ova-9.0

### URL

https://www.home-assistant.io/installation/windows/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-27 17:11] frenck commented on #24260
Sound more like a bug? Have you reported it at the operating system issue tracker?

[2022-09-27 19:10] rakoivun commented on #24260
I thought it was just a documentation issue rather than bug. I will check if I find right place to report it.
Now reported.

[2022-09-27 19:25] fjbosscha opened #24262 "No value for gas"
### Feedback

I have installed the /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AQ4MI46Y-if00-port0
DSMR Slimme Meter integration in Home Assistant (latest version). I do get values for power and gas, but I cannot graph the gas value. It is not available.

The values I get are:

2022-09-27 21:11:11.727 DEBUG (MainThread) [dsmr_parser.clients.protocol] got telegram: /ISK5\2M550T-1013

1-3:0.2.8(50)
0

[2022-09-27 19:25] homeassistant commented on #24262
Hey there @robbie1221, @frenck, mind taking a look at this feedback as it has been labeled with an integration (`dsmr`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L150) for? Thanks!

[2022-09-28 03:13] cmoore42 opened #24263 "MQTT integration documentation feedback"
### Feedback

Under "Manual configuration steps" it just says to use the UI and add the integration.
The next paragraph says that some options require changes to configuration.yaml.
What options?  There is no mention anywhere of how to configure MQTT in the configuration.yaml file, it just says you might have to do it.

### URL

https://www.home-assistant.io/integrations/mqtt/

### Version

2022.9

[2022-09-28 03:13] homeassistant commented on #24263
Hey there @emontnemery, mind taking a look at this feedback as it has been labeled with an integration (`mqtt`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L390) for? Thanks!

[2022-09-28 06:07] frenck commented on #24260
Alright! Going to close this issue on this end in the mean time, until it confirmed this is either bug or intended functionality.

../Frenck

[2022-09-28 06:07] #24260 closed, assigned to nobody

[2022-09-28 07:21] iwojima1 opened #24267 "Scheduler helper visual"
### Feedback

hello i found that if I set schediler visually to 8:30 and save it, it will show number and also visual bar from 8:00.
In atributes to next change is correct 8:30. I thing it is bug that it shows 8:00

is it possible to edit it in yaml for exaple to 8:12??
I have HA core 2022.9.4

Thanks
Ivan
![1664349494669](https://user-images.githubusercontent.com/58654060/192714118-7e5f8682-b28c-

[2022-09-28 07:21] homeassistant commented on #24267
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`schedule`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L527) for? Thanks!

[2022-09-28 07:28] frenck commented on #24262
Hi there @fjbosscha 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-09-28 07:28] #24262 closed, assigned to frenck

[2022-09-28 07:31] frenck commented on #24267
Hi there @iwojima1 👋

It seems like you want to report a bug with the Home Assistant frontend; however, you have submitted documentation feedback instead.

Please report issues with the Home Assistant frontend here:

<https://github.com/home-assistant/frontend/issues>

Thanks 👍

../Frenck

[2022-09-28 07:31] #24267 closed, assigned to nobody

[2022-09-28 08:04] iwojima1 commented on #24267
THX

[2022-09-28 11:20] Server131 opened #24269 "Failed to verify your verification code, try again"
### Feedback

I get this message over and over

### URL

https://www.home-assistant.io/integrations/icloud/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-28 11:21] homeassistant commented on #24269
Hey there @quentame, @nzapponi, mind taking a look at this feedback as it has been labeled with an integration (`icloud`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L284) for? Thanks!

[2022-09-28 11:28] frenck commented on #24269
Hi there @Server131 👋

Cool, but it seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integrations here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-09-28 11:28] #24269 closed, assigned to Quentame

[2022-09-28 12:37] alessiovalvano opened #24270 "Not working"
### Feedback

Always receive this error, it's not working anymore.
URL is correct from application to my.home-assistant.io
{
  "error": "invalid_request",
  "error_description": "The reply url host my.home-assistant.io doesn't match with the ones configured on the application"
}

### URL

https://www.home-assistant.io/integrations/home_plus_control/

### Version

2022.9.7

### Additional informati

[2022-09-28 12:37] homeassistant commented on #24270
Hey there @chemaaa, mind taking a look at this feedback as it has been labeled with an integration (`home_plus_control`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L263) for? Thanks!

[2022-09-28 12:41] frenck commented on #24270
Hi there @alessiovalvano 👋

Thank you for reaching out. You have submitted documentation feedback, this tracker is not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

That said, c

[2022-09-28 12:41] #24270 closed, assigned to nobody

[2022-09-28 14:08] rmikke opened #24271 "HOW do I start D-bus daemon? There should be a link in this document"
### Feedback

HOW do I start D-bus daemon? There should be a link in this document

### URL

https://www.home-assistant.io/more-info/unsupported/dbus/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-28 14:14] rmikke opened #24272 "Update uhealthy system loop"
### Feedback

I got here because I could not update the Home Assistant. The message was that the system is unhealthy, so I have checked and the problem was that Supervisor is not privileged. So I got to this document and it says "update your Home Assistant OS". But that's exactly what I cannot do while the Supervisor is not privleged.

### URL

https://www.home-assistant.io/more-info/unsupported/p

[2022-09-28 14:19] frenck commented on #24271
The Home Assistant Supervised installation method is the most advanced installation method we have. As warned for, is that it requires advanced knowledge of Linux system administration.

Don't get me wrong, but if you have to ask this question, it might be that this installation method is not a good fit for you. You'd probably have a much better experience by running a different installation metho

[2022-09-28 14:19] #24271 closed, assigned to nobody

[2022-09-28 14:21] frenck commented on #24272
Second paragraph:

![image](https://user-images.githubusercontent.com/195327/192804134-14810080-b4d6-4c37-be51-d60dc957017c.png)

../Frenck

[2022-09-28 14:21] #24272 closed, assigned to nobody

[2022-09-28 14:22] Reynders1 commented on #24259
This has nothing to do with the renault integration. Instead, this is a more generic issue for the documentation.
Sorry for the confusion;

[2022-09-28 17:37] clydefrog76 commented on #24116
Yeah, I am struggling with this too. Do I use automations, scenes, scripts? Where can I select the schedule I just created for the device I want to control? It's a bit of a mystery at the moment. Thanks!

[2022-09-29 01:43] guitarmanusa commented on #24116
Agreed.  I have switch that I would like to turn on at the begin of the scheduled time, and turn off at the end.  It is not obvious how to use the entity next_event in an Automation, and even when using the UI to make a new automation, there are no options for Schedules in the Trigger section, where as a user I would expect this to be.

[2022-09-29 03:56] #23504 closed, assigned to nobody

[2022-09-29 04:45] guitarmanusa commented on #24116
Found the following in the user forums, apparently you're supposed to use a 'state' trigger, even though the doc has no mention of a state with values of 'on' and 'off' listed.

[Question: How to Use the Scheduler / Helper Function in the 2022.9 Release](https://community.home-assistant.io/t/question-how-to-use-the-scheduler-helper-function-in-the-2022-9-release/459188)

I should note, I haven't g

[2022-09-29 09:35] clydefrog76 commented on #24116
I made it work using the UI. I created 2 separate automations, one for the on trigger and one for the off trigger. I didn't want to use toggle but that's fine for me.

Create new empty automation -> trigger = state -> entity = your schedule -> attribute from = off / attribute to = on -> action = device -> pick your device and your action -> save automation

[2022-09-29 12:54] rameister opened #24279 "There is no documentation item for lacrosse authentication"
### Feedback

There is no documentation item for lacrosse authentication. Whe I config the lacrosse integration an window appears and ask me for a username and password. What does this Application need, which password? I need this Integration for finding out the ID's from my Temperture-Sensors after renewing the batteries.

![Home Assistant – lacrosse](https://user-images.githubusercontent.com/593

[2022-09-29 12:54] homeassistant commented on #24279
Hey there @icebotyt, mind taking a look at this feedback as it has been labeled with an integration (`lacrosse_view`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L329) for? Thanks!

[2022-09-29 13:14] IceBotYT commented on #24279
Hi there! Are your devices La Crosse View-enabled? A list of supported devices can be viewed [here](https://www.lacrossetechnology.com/collections/lacrosse-view-connected). The username is the email you use to sign in to LaCrosse View. The password is the password for LaCrosse View. They must be added to the app beforehand.

[2022-09-29 13:22] rameister commented on #24279
Hi, I have 4 Temperatur-Sensors TX29IT standalone coupled with a Jeelink Stick via USB. Is there any chance to get the ID's whit my equipment? Otherwise I think that my issue is personal item.

[2022-09-29 13:28] IceBotYT commented on #24279
Hi. As noted in the documentation, this integration is _not_ for the Jeelink sensors. Please use [this](https://home-assistant.io/integrations/lacrosse) instead.

[2022-09-29 13:32] hklages opened #24280 "device_id: how to get it for a device"
### Feedback

I suggest adding a hint how to get the device_id for the "cleanup" services. I found the device_id in integration -> devices -> (searching for the device fritzbox) -> selecting device -> extract it from the url.

Maybe it would make sense to add the "device_id" to the device info.

### URL

https://www.home-assistant.io/integrations/fritz/

### Version

2022.9.7

### Additional infor

[2022-09-29 13:33] homeassistant commented on #24280
Hey there @mammuth, @aarondavidschneider, @chemelli74, @mib1185, mind taking a look at this feedback as it has been labeled with an integration (`fritz`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L212) for? Thanks!

[2022-09-29 13:33] rameister commented on #24279
Hi, I have tried this command: sudo pylacrosse -d /dev/ttyUSB0 scan with my ttyPort (it's ttyAMA0) then I get: bash: pylacrosse: command not found  . Is there a missing Integration of py software?

[2022-09-29 13:36] IceBotYT commented on #24279
Hi, do you have container or OS?

If container:
`docker exec -it <containername> pylacrosse -d /dev/<tty port> scan`
If OS:
`sudo pylacrosse -d /dev/ttyUSB0 scan`

If you get an error that it wasn't found:
Container:
`docker exec -it <containername> pip install pylacrosse`
OS:
`pip install pylacrosse`

And try again.

[2022-09-29 13:43] rameister commented on #24279
Hi, I have OS on an Raspi, no docker. When I try pip install pylacrosse I get the same message bash: pip: command not found.

[2022-09-29 14:30] IceBotYT commented on #24279
Okay, I don't have any experience with OS. Please add the line `pylacrosse:` to your `configuration.yaml` and restart then try the command again. Then update your `pylacrosse:` config as necessary.

[2022-09-29 14:49] rameister commented on #24279
Hi, then I get a message and cannot reboot:
**The system cannot restart because the configuration is not valid: Integration error: pylacrosse - Integration 'pylacrosse' not found.**
Below you can see a short cut from my configuration.yaml until the lacrosse sensors. The pylacrosse entry on this position is correct?

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

[2022-09-29 21:26] damitjimii opened #24285 "Service plex.refresh_library missing from Plex integration."
### Feedback

I don’t see anything blocking, or anything in disabled, so is this deprecated or is there something missing in docs to enable?

### URL

https://www.home-assistant.io/integrations/plex/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-29 21:26] homeassistant commented on #24285
Hey there @jjlawren, mind taking a look at this feedback as it has been labeled with an integration (`plex`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L464) for? Thanks!

[2022-09-29 23:46] IceBotYT commented on #24279
Ahhh sorry, I mean `lacrosse` instead of `pylacrosse` in the config

[2022-09-30 00:27] Superkikim commented on #24068
What type of Nuki do you have ?

I have Nuki 3 Pro (integrated Wifi) and it works well.

I just setup an automation to auto-lock after one minute if my shelly door/window 2 detect the door has been closed:

[code]

[2022-09-30 11:14] ghost opened #24286 "Watermeter does not show the water items"
### Feedback

After several attempts the outcome is the same every time. The water meter integrates fine, but does not have the entities "total_liter_m3" and "active_liter_lpm".
The only entities that the watermeter is showing are "wifi_ssid" and "wifi_strength", which is very anoying.

### URL

https://www.home-assistant.io/integrations/homewizard/

### Version

2022.9.7

### Additional informati

[2022-09-30 11:14] homeassistant commented on #24286
Hey there @dcsbl, mind taking a look at this feedback as it has been labeled with an integration (`homewizard`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L269) for? Thanks!

[2022-09-30 11:17] klaasnicolaas commented on #24286
Hi there @DockerBee 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Thanks! 👍

./Klaas

[2022-09-30 11:17] #24286 closed, assigned to nobody

[2022-09-30 11:17] DCSBL commented on #24286
Hey! First of all, this is issue page for documentation on the website, not for issues about the integration. No problem, it is a bit confusing. Can you recreate this issue here → https://github.com/home-assistant/core/issues/new/choose ?

[2022-09-30 15:10] rsokoloff opened #24289 "Tank Utility (tank_utility) integration device ID"
### Feedback

At this time the device ID is the 8 character ID printed above the device QR code. It can also be found on the side of the packaging.

### URL

https://www.home-assistant.io/integrations/tank_utility/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-30 15:23] realflash opened #24290 "Unclear how to specify list of tariffs"
### Feedback

The page says:

It does not give an example of how one formats a list in the UI. Am I supposed to enter
`tariff1,tariff2`
or
`["tariff1","tariff2"]`

or something else?

### URL

https://www.home-assistant.io/integrations/utility_meter/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-30 15:23] homeassistant commented on #24290
Hey there @dgomes, mind taking a look at this feedback as it has been labeled with an integration (`utility_meter`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L666) for? Thanks!

[2022-09-30 15:25] dpawson opened #24291 "How to use please?"
### Feedback

Looking at CPU temperature , no indication of how this might be used?
I'd find that interesting.

### URL

https://www.home-assistant.io/integrations/sensor.command_line/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-30 15:27] dgomes commented on #24290
Have you tried typing the tariff and pressing enter :) ?

[2022-09-30 17:28] rameister commented on #24279
Hi, you can see in my config that lacrosse: is anounced. My question is why I cannot start any python commands, where is python installed and how I can set python commands. There is another issue open about pylacrosse and no user is working at this issue. Is there a way to solve this?

[2022-09-30 18:28] dgtal1 opened #24292 "Link Dashboard docu with dedicated Feature Requests post /area in the community forum"
### Feedback

Today I wanted to file a feature request regarding the UI / dashboard, but first I thought I'm gonna search if something like this already exists in the community forum. The forum is huge and it's easy to miss some similar post.

I thought it may be a great idea to create sections in the community forum Feature Requests area and link these sections with each UI/Dashboard type. Eg. de

[2022-09-30 18:41] IceBotYT commented on #24279
I'm sorry. I'm not the code owner of the `lacrosse` integration. Please create a new issue for that integration. Thanks!

[2022-09-30 19:12] espsjurs opened #24294 "Configuration page"
### Feedback

The config page has two mandatory fields; host and security key. The key is described as the key printed on the label under the gateway, but the host is not. Is this the host name, ip or other info?
Please include this information in the description.

### URL

https://www.home-assistant.io/integrations/tradfri/

### Version

2022.9.7

### Additional information

_No response_

[2022-09-30 19:30] realflash commented on #24290
I hadn't. Now that I have, I can see how it works (and of course it seems obvious with hindsight). Having run HA for nearly two years, this is the first time encountering a list through the UI. Could you add a sentence explaining this? Like "Enter values one at a time and press enter"

I realise now that the issue is that it is a text entry field surrounded by other text entry fields, with nothing

[2022-09-30 20:02] dgomes commented on #24290
Yes this is not specific to utility_meter...

[2022-09-30 20:02] #24290 closed, assigned to dgomes

[2022-09-30 20:03] #23501 closed, assigned to janiversen

[2022-10-01 02:15] audunmg commented on #23881
I came here to figure out how to reconfigure the energy dashboard.

[2022-10-01 02:53] audunmg commented on #23989
Choice of words matter.

I'm sure it's not difficult for you vs someone who never did it before.

It would be much more accessible if it was explained that the energy dashboard measures energy in kWh, and need sensors to be converted to that, and a list:

* Sensors which provide power usage in Watts, can be used like this (with yaml example)
* Sensors with voltage and ampere only can be adapted wi

[2022-10-01 07:41] hklages opened #24300 "Why switch and not button?"
### Feedback

Wouldn't it make more sense to implement that as a "button"?

If you use a switch, then everyone expects that it shows the right status but after turning on/off the device manually the switch does not show it.

### URL

https://www.home-assistant.io/integrations/wake_on_lan/

### Version

2022.9.7

### Additional information

_No response_

[2022-10-01 07:41] homeassistant commented on #24300
Hey there @ntilley905, mind taking a look at this feedback as it has been labeled with an integration (`wake_on_lan`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L684) for? Thanks!

[2022-10-01 08:12] stepscout opened #24301 "700 series controllers incompatible"
### Feedback

Last weeks I tried to get a Razberry 7 controller working. Updated to latest firmware.

After many hours investigating issues in Z-Way Expert UI and Home Assistant I can only conclude that the 700 chip is not a consumer product. The last year several fixes and upgrades have been published, but the product is Beta!

I strongly recommend to exclude 700 series controllers from the docum

[2022-10-01 08:51] ingoau opened #24304 "Other remote access method"
### Feedback

There is another remote access method for ha using a cloudflare tunnel with the cloudflared addon.
Please see video
https://www.youtube.com/watch?v=xXAwT9N-7Hw
You could add this to the docs

### URL

https://www.home-assistant.io/docs/configuration/remote/

### Version

2022.9.7

### Additional information

_No response_

[2022-10-01 11:03] #23534 closed, assigned to nobody

[2022-10-01 13:55] frenck commented on #24304
There are many more possibilities on doing this. However, we don't want to list or maintain them all. Therefore we list the most common cases at this point.

Feel free to share additional community guides on our community forums (in the special Community Guides section, which acts as a Wiki).

Thanks 👍

../Frenck

[2022-10-01 13:55] #24304 closed, assigned to nobody

[2022-10-01 13:57] frenck commented on #24301
We currently support and test with the 700 series. They should just work.
If you are experiencing issues with it, please report an issue so it can be investigated.

../Frenck

[2022-10-01 13:57] #24301 closed, assigned to nobody

[2022-10-01 13:58] frenck commented on #24300
This is part of history, buttons are fairly new.

Closing this documentation feedback, as it does not contain documentation feedback 😉

../Frenck

[2022-10-01 13:58] #24300 closed, assigned to nobody

[2022-10-01 14:01] frenck commented on #23989
That will not work, as it is an energy dashboard (e.g., kWh) and not a power (e.g., W) dashboard. Power and Energy are not the same things (which is also explained in the FAQ).

Those are also not energy values.

If a device doesn't report energy, it isn't supported by the energy dashboard. I'm not entirely following the documentation suggestion you are trying to make?

../Frenck

[2022-10-01 14:05] #23535 closed, assigned to mdegat01

[2022-10-01 15:26] frenck commented on #24291
I'm not sure if I follow. This is the documentation on how to use command line commands and turn their results into a sensor. Your question seems to be about: "How to use a sensor in Home Assistant"? Is that correct?

../Frenck

[2022-10-01 15:47] mib1185 commented on #24280
the UI supports the user by providing so called selectors - in this case the [device selector](https://www.home-assistant.io/docs/blueprint/selectors/#device-selector) is used - example screenshot

![image](https://user-images.githubusercontent.com/35783820/193417254-b9129e9d-ec69-4e80-a95b-bd17e1c125ca.png)

[2022-10-01 15:50] frenck commented on #24280
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2022-10-01 15:50] #24280 closed, assigned to mib1185, chemelli74

[2022-10-01 15:52] dpawson commented on #24291
Yes, that's correct. I have the command line version working, how to use the sensor script please?

[2022-10-01 16:29] frenck commented on #24291
There is no sensor script? It creates a sensor entity in Home Assistant. It works just like every other sensor that Home Assistant provides.

An average HA installation has dozens (and more often hundreds) of those, they all work the same.

So, that is not anything specific to this integration or documentation page?

../Frenck

[2022-10-01 22:45] N1co93 commented on #24194
Why should "Devices & Services" replaced by "Automation & Scenes"?
The documentation seems to be correct for me, you will find the helpers under "Settings -> Devices & Services -> Helpers"

![image](https://user-images.githubusercontent.com/59510296/193430959-4f956c65-6ab6-4633-94f1-d2aba4eefbc2.png)

[2022-10-02 03:42] lyricnz opened #24330 "Please update docs to suggest iotawatt's integrator sensors"
### Feedback

As discussed in #68445 and #67698 please update the docs at https://www.home-assistant.io/integrations/iotawatt/ to describe this way of getting data for the Energy Dashboard.  Without that, new people will continue to have problems with the iotawatt accumulated sensors

### URL

https://www.home-assistant.io/integrations/iotawatt/

### Version

_No response_

### Additional informat

[2022-10-02 03:42] homeassistant commented on #24330
Hey there @gtdiehl, @jyavenard, mind taking a look at this feedback as it has been labeled with an integration (`iotawatt`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L302) for? Thanks!

[2022-10-02 08:09] dpawson commented on #24291
If it is so common, please provide a link to a page where they are described, in general perhaps with an example?

[2022-10-02 08:09] #24291 closed, assigned to nobody

[2022-10-02 08:51] joriws opened #24335 "Picture elements - allow setting of static titles and sensor precision"
### Feedback

First request: allow setting static titles with sensor or document it better that I can understand how to do it. For example using condition if number of alarms > 0, show text "ALARM!". It would be also nice to be able to set color of text on every item type. So documentation missing for conditinal text only.

Second request: sensor precision. Sometimes sensor provides like 2 digit v

[2022-10-02 10:01] dotsoltecti commented on #24190
I've created a pull request. I get your point that the climate.preset_mode could use some clarification as well. Since the mapping within HA differs from what is expected within KNX, in my opinion the docs should contain rather clear instructions (instead of just a hint) how this works in HA.

[2022-10-02 20:35] ghost opened #24346 "Etcher won't run in Ubuntu"
### Feedback

I had this problem and it seems a few others too, so it would be great to have the install instructions edited to help new users like myself.  I can't work out how to edit the page so I'll leave it to someone with more skills.

When booting from a Ubuntu usb drive, Balana Etcher won't run due to a missing libfuse2 library

Thanks to reddit user Vortec4800

https://old.reddit.com/r/ho

[2022-10-02 21:37] mib1185 commented on #23590
the former HACS addon does also "only" provide switches to turn on or off the internet access/profil for a device.
So it is exactly the same behaviour.

If you still think, it is a missing feature, please don't hesitate to use the [feature request](https://community.home-assistant.io/c/feature-requests) section of our forum.

Thanks! 👍

[2022-10-02 21:37] #23590 closed, assigned to mib1185, chemelli74

[2022-10-03 08:54] #24263 closed, assigned to emontnemery

[2022-10-03 09:46] PatricDahl opened #24350 "Change the way individual devices is reported in Energy Management"
### Feedback

Today it's possible to have individual power sources reported in system. Unfortunately they don't report cost as Grid consumption do, Would it we possible to change  this to be more easily to overview how much cost is for those individual ones?

Maybe it could be a mixture of they presenting?

### URL

https://www.home-assistant.io/docs/energy/

### Version

2022.9.7

### Additional

[2022-10-03 09:48] frenck commented on #24330
I'm not sure what your suggestion is based on the text above?

Could you provide a suggested edit? Or describe what is actual wrong with the page? This feedback does not contain or does not point out anything specific.

../Frenck

[2022-10-03 09:53] depuits commented on #21433
+1

[2022-10-03 10:00] #24190 closed, assigned to marvin-w, farmio

[2022-10-03 10:00] farmio commented on #24190
Great, thanks! 👍

[2022-10-03 10:42] piek768 opened #24351 "Complete instructions of making an HAOS image via Ubuntu / BalenaEtcher"
### Feedback

I was unable to perform the tutorial for installing HAOS on a x86 system, by using method 2 (using a live operating system)

This guide points to an ubuntu USB bootable stick, in my case version 22.04
Downloading and extracting BalenaEtcher was easy
Exectuting however was not. Double clicking resulted in nothing

After a LOT of troubleshooting and help, i found that on the Ubuntu USB

[2022-10-03 10:56] klaasnicolaas commented on #24350
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests) or the [What the heck](https://community.home-assistant.io/c/what-the-heck) topic

Thanks! 👍

[2022-10-03 10:56] #24350 closed, assigned to nobody

[2022-10-03 11:42] frenck commented on #24351
That would be a very specific exception, isn't it the job of BelenaEtcher to document that?

[2022-10-03 12:27] #23608 closed, assigned to allenporter

[2022-10-03 13:18] IceBotYT commented on #24279
Please close this issue unless you have problems with the `lacrosse_view` integration, thank you!

[2022-10-03 13:35] #24230 closed, assigned to nobody

[2022-10-03 14:59] piek768 commented on #24351
yeah I agree. An easier solution for end users would be the possibility to make a bootable HAOS installer on a USB stick to install HAOS on an intel system. This is currrently not the case. If you cannot attach the new boot media to the PC, flashing Ubuntu 22.04 on a bootable USP stick and then flashing the HAOS boot media in the new pc with HAOS is the most prominent route to do this. And this ro

[2022-10-03 16:32] frenck commented on #24351
That is not easy, as it is specific for Ubuntu, which is used by just a very small percentage of our users. That makes it a weird exception that most people do not need. Adding it adds the risk to complicate and overwhelm. Additionally, users of Linux are generally considered more than capable of handling things like this.

Well, I'm one of the peeps that decide on things like these.

[2022-10-03 17:12] piek768 commented on #24351
Haha ok, I'm dicussing directly with the maker :). Thanks for the awesome product!

I;m not sure I get the message along. I do not run home assistant using ubuntu. I run HAOS directly on a NUC. But to get HAOS on the NUC, you either have to take the boot disk out of this system, connect it to a current pc and flash HAOS on that disc directly with Balenaetcher (in windows in my case).

OR you have

[2022-10-03 17:19] frenck commented on #24351
Aah, now I get it! Thanks for clarifying. Good point 🤔

[2022-10-03 20:36] lyricnz commented on #24330
Sorry - I assumed quoting the issue IDs would have linked, but that's in home-assistant/core project, not this one.

https://github.com/home-assistant/core/issues/68445
https://github.com/home-assistant/core/issues/67698

The instructions on the [iotawatt page](https://www.home-assistant.io/integrations/iotawatt/) describe using two new outputs on iotawatt MainsConsumption and MainsExport which ar

[2022-10-04 03:59] euhkah opened #24362 "Update"
### Feedback

the method has evolved and the page is not up to date

### URL

https://www.home-assistant.io/integrations/slack#bot-posting-as-its-own-user

### Version

_No response_

### Additional information

_No response_

[2022-10-04 03:59] homeassistant commented on #24362
Hey there @bachya, @tkdrob, mind taking a look at this feedback as it has been labeled with an integration (`slack`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L560) for? Thanks!

[2022-10-04 04:51] bachya commented on #24362
Please provide more detail.

[2022-10-04 05:49] euhkah commented on #24362
the "BOT POSTING AS YOU" section is apparently the new method. the "POSTING AS ITS OWN USER" section is deprecated. But that's not the only problem, because when I apply the complete procedure, I never get the notify service (on some points the guide is not very detailed, example: default channel, with or without #?). Something is missing to make it simple. Also, applications can now be created wi

[2022-10-04 12:07] tkdrob commented on #24362
Post your HA version. Configuration from Yaml is deprecated.

[2022-10-04 12:15] ludeeus commented on #12249
Handled with https://github.com/home-assistant/home-assistant.io/pull/19715

[2022-10-04 12:15] #12249 closed, assigned to nobody

[2022-10-04 12:31] ludeeus commented on #21191
Docker documents this and that is where it belongs, we should not add this, you are expected to manage that on your own with this installation method.
As an alternative, you can use our OS if you do not want to manage these things yourself.
https://www.home-assistant.io/installation/raspberrypi#install-home-assistant-operating-system

[2022-10-04 12:31] #21191 closed, assigned to nobody

[2022-10-04 12:33] euhkah commented on #24362
Home Assistant 2022.9.7
Supervisor 2022.09.1
Operating System 9.0
Interface utilisateur : 20220907.2 - latest

[2022-10-04 12:33] ludeeus commented on #21433
That option is documented here: <https://www.home-assistant.io/integrations/telegram_bot>

[2022-10-04 12:50] tkdrob commented on #24362
Looks like something has changed a bit. I'm thinking that the manifest option will not be supported rn as it is still in beta on Slack's end.

[2022-10-04 12:52] IceBotYT commented on #24279
@balloob Sorry for the mention. Please close this issue at your earliest convenience. Thank you!

[2022-10-04 12:57] #20390 closed, assigned to nobody

[2022-10-04 13:01] #24279 closed, assigned to nobody

[2022-10-04 13:04] euhkah commented on #24362
yes, there are many things that have changed a bit, and the sum of all these little things has created a big problem for me. for example, we cannot send photos directly with the only chat:write, another scopes is necessary

[2022-10-04 13:45] EuleMitKeule opened #24369 "MQTT HVAC documentation is missing information on command templates"
### Feedback

The `command_template` feature of the MQTT HVAC component is missing the crucial information on how to access the target command value from within the template.
[code]
This would be an example of a command template accessing the temperature target value by using the template variable `value`.

### URL

https://www.home-assistant.io/integrations/climate.mqtt

### Version

_No response

[2022-10-04 13:45] homeassistant commented on #24369
Hey there @emontnemery, mind taking a look at this feedback as it has been labeled with an integration (`mqtt`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L390) for? Thanks!

[2022-10-04 18:43] ludeeus commented on #24335
This section is to provide feedback for the documentation not to request features to be added.
Please raise feature requests on the forums <https://community.home-assistant.io/c/feature-requests/13> 👍

[2022-10-04 18:43] #24335 closed, assigned to nobody

[2022-10-04 18:45] ludeeus commented on #24292
What you are requesting is already possible, all post authors can add tags to their posts

[2022-10-04 18:45] #24292 closed, assigned to nobody

[2022-10-04 18:46] #24240 closed, assigned to nobody

[2022-10-04 18:47] homeassistant commented on #24218
Hey there @bdraco, mind taking a look at this feedback as it has been labeled with an integration (`yalexs_ble`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L716) for? Thanks!

[2022-10-04 18:50] ludeeus commented on #23136
This section is to provide feedback for the documentation not to request features to be added.
Please raise feature requests on the forums <https://community.home-assistant.io/c/feature-requests/13> 👍

[2022-10-04 18:50] #23136 closed, assigned to nobody

[2022-10-04 18:51] homeassistant commented on #23717
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`energy`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L172) for? Thanks!

[2022-10-04 18:51] #23896 closed, assigned to nobody

[2022-10-04 18:52] ludeeus commented on #23901
Please open an issue in the core repository against the integration that provides that entity. 👍

[2022-10-04 18:52] #23901 closed, assigned to nobody

[2022-10-04 18:53] homeassistant commented on #23983
Hey there @emontnemery, mind taking a look at this feedback as it has been labeled with an integration (`mqtt`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L390) for? Thanks!

[2022-10-04 20:00] HarvsG opened #24374 "Why is 64-bit recommended for rpi 3?"
### Feedback

https://github.com/home-assistant/home-assistant.io/blame/current/source/_includes/installation/operating_system.md#L120-L121

rpi3 is a significantly memory limited board and 32 bit consumes less of it

https://github.com/home-assistant/operating-system/issues/1999#issuecomment-1261006397

### URL

https://www.home-assistant.io/installation/raspberrypi

### Version

2022.9.7

### Ad

[2022-10-04 21:03] #23580 closed, assigned to nobody

[2022-10-04 22:56] fallingcats opened #24379 "Mikrotik: undocumented ui configuration options"
### Feedback

When pressing "configure" in the ui the following options are undocumented:

 - Force scanning using DHCP
 - Enable ARP ping

To me it is unclear
- how the integration detects devices with both checked,
- which metric dhcp detection uses (last seen / lease expiry / both / other?)

### URL

https://www.home-assistant.io/integrations/mikrotik

### Version

2022.9.5

### Additional info

[2022-10-04 22:56] homeassistant commented on #24379
Hey there @engrbm87, mind taking a look at this feedback as it has been labeled with an integration (`mikrotik`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L375) for? Thanks!

[2022-10-05 07:07] alpe66 opened #24382 "Documentation"
### Feedback

Hi the switchbot Team,
In the step of configurating an switchbot on HomeAssistant it would be nice to specify that before configuring the switchbot, the calibration of the switchbot must be before whith the phone. Because if no calibration unable to got switchbot working in Home Assistant.
Thank a lot

### URL

http://home-assistant.io

### Version

_No response_

### Additional info

[2022-10-05 07:08] homeassistant commented on #24382
Hey there @bdraco, @danielhiversen, @renierm26, @murtas, @eloston, mind taking a look at this feedback as it has been labeled with an integration (`switchbot`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L609) for? Thanks!

[2022-10-05 11:45] CommanderROR9 opened #24384 "Scan_interval for EDL21 integration?"
### Feedback

It seems that the current edl21 integration only updates it's entities ever 60+ Seconds. This is a problem for the current power display that I use for many automations.
Can we get a way to update this data every 5 Seconds?
Thanks!

### URL

https://www.home-assistant.io/integrations/edl21

### Version

2022.9.07

### Additional information

_No response_

[2022-10-05 11:45] homeassistant commented on #24384
Hey there @mtdcr, mind taking a look at this feedback as it has been labeled with an integration (`edl21`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L159) for? Thanks!

[2022-10-05 12:10] frenck commented on #24384
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-10-05 12:10] #24384 closed, assigned to nobody

[2022-10-05 12:41] raypanggh opened #24385 "Documentation does not cover schedules that overlap from one day to another"
### Feedback

What happens if I want a schedule to be from 23:00 to 07:00? It appears that I have to create two separate schedules 23:00-00:00 and 00:00-07:00. Will that cause an on-off-on event at midnight?

### URL

https://www.home-assistant.io/integrations/schedule/

### Version

_No response_

### Additional information

_No response_

[2022-10-05 12:41] homeassistant commented on #24385
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`schedule`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L527) for? Thanks!

[2022-10-05 16:55] pjdubya opened #24390 "Logger output for shell commands doesn't work for me"
### Feedback

I'm following the guidance at https://www.home-assistant.io/integrations/shell_command and subsequently linked page https://www.home-assistant.io/integrations/logger/ to try to capture logs of the output of my shell scripts. It says:

stdout and stderr output from the command are both captured and will be logged by setting the [log level](https://www.home-assistant.io/integrations/lo

[2022-10-05 16:55] homeassistant commented on #24390
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`shell_command`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L547) for? Thanks!

[2022-10-05 16:55] homeassistant commented on #24390
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`logger`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L347) for? Thanks!

[2022-10-05 17:47] RobertGetzner opened #24392 "HA Restart required after adding picture to /config/www"
### Feedback

Hi,
it looks like a HA Restart is required after adding picture to /config/www and using the in a Picture card on the lovelace dashboard. Maybe this is general knowledge with HA, but I didn´t know. So pls kindly add this info to the picture card doc.
Thanks!
Robert

### URL

https://www.home-assistant.io/dashboards/picture

### Version

2022.4.7

### Additional information

_No respo

[2022-10-05 17:48] pjdubya commented on #24390
Looking over things again, it's possible I have misunderstood how logger works and whether there's actually any linkage to "logbook entries" in the UI. For more context, I navigated to Logbook in the left panel of the UI, then to the most recent automation execution (which does appear as a line item in Logbook), then it takes me to some options to view the automation results. Here's what it looks

[2022-10-05 19:02] A-Oakes opened #24393 "Please Update URL for Aeotec Update Instructions for Windows"
### Feedback

Please update the link for Aeotec Windows installation.  The new URL is:

https://aeotec.freshdesk.com/support/solutions/articles/6000252296-update-z-stick-7-with-windows

The current URL just loads up to an error page.

### URL

https://www.home-assistant.io/docs/z-wave/controllers/#supported-z-wave-usb-sticks--hardware-modules

### Version

_No response_

### Additional information

[2022-10-06 03:27] cheakheang opened #24407 "Wrong Flage while sort by Language."
### Feedback

on the new function with radio browser.  it was setting wrong flag image for **Khmer** language. but sort by country is correct,

Country Name : **Cambodia**
Language : **Khmer**
Nationality : Cambodian ( also call Khmer)
Flag:  https://en.wikipedia.org/wiki/Flag_of_Cambodia

![image](https://user-images.githubusercontent.com/48879063/194205707-3c19a7e3-7dbd-4c1b-bb53-e2589cdd2db6.pn

[2022-10-06 04:38] Hedda commented on #21565
Still not stale, just missing reviewers.

[2022-10-06 06:26] encor50 opened #24408 "Radarr integration add Queue"
### Feedback

Hello,

can you add queue sensor to Radarr integration please same like we have on sonarr integration

Thank you very much for all the hard work

### URL

https://www.home-assistant.io/integrations/radarr/

### Version

2022.10.0

### Additional information

_No response_

[2022-10-06 06:26] homeassistant commented on #24408
Hey there @tkdrob, mind taking a look at this feedback as it has been labeled with an integration (`radarr`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L504) for? Thanks!

[2022-10-06 09:35] N1co93 commented on #24392
Hi Robert.

just tested your described issue. For me, the images are available immediately, after I moved them to the folder `/config/www`
So I don't see there any issue.

[2022-10-06 09:38] JL-EU opened #24412 "Open an issue with the author of the integration"
### Feedback

This page states "Open an issue with the author of the integration". Yes, but how do I see who is the author. In this situation I am using a vibration detector (DJT11LM) via zigbee2mqtt. Who is then the author, would that be zigbee2mqtt?

### URL

https://www.home-assistant.io/more-info/statistics/

### Version

_No response_

### Additional information

_No response_

[2022-10-06 09:48] starkillerOG commented on #23675
@mcflier @Inkblot720 could you try to update to HomeAssistant 2022.10, then reboot your Netgear router, wait untill the router has fully started. Then restart HomeAssistant.

If that still does not fix the issue, please run the following python script to try to debug the problem:

[code]

This can be run from any computer connected to the same network as the router, does not have to be the HomeAss

[2022-10-06 09:54] klaasnicolaas commented on #24412
This happens automatically when you create an issue for an integration in the core repository of Home Assistant: https://github.com/home-assistant/core

However, Zigbee2MQTT is not part of core, so if you have problems with that you should create an issues in [their repository](https://github.com/Koenkk/zigbee2mqtt)

[2022-10-06 09:54] #24412 closed, assigned to nobody

[2022-10-06 14:36] LucaBoschetto opened #24417 "Explain `config_entry` in the docs for the Google Sheets integration"
### Feedback

I find it is not clear for whoever is not very skilled at HA what the field `config_entry` should be populated with.

I'm quite a noob myself, and in the end I found out what it should have been populated with by selecting _Integration* = Google Sheets_ in a button card I was creating to test this integration.

I suggest you explain a bit better where to find the value for this.

###

[2022-10-06 14:38] homeassistant commented on #24417
Hey there @tkdrob, mind taking a look at this feedback as it has been labeled with an integration (`google_sheets`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L245) for? Thanks!

[2022-10-06 16:25] tkdrob commented on #24417
Explanation was not really thought of as needed since we expect most people to use the UI for writing service calls in automations. The applicable config entry ids are the one's available from the drop-down in automations or developer tools.

[2022-10-06 17:35] tkdrob commented on #24417
When you try to use this in an automation from the UI, please explain what about it is confusing.

[2022-10-06 18:21] #24393 closed, assigned to nobody

[2022-10-06 18:27] frenck commented on #24374
Sure! But there are also many other downsides to it. For example, most of the world is abandoning 32-bits (Ubuntu is a great example). More and more issues arise keeping things rolling and working for 32-bits. It has no future.

Besides that, there are more known add-ons/integrations to work on 64-bits.

Thus we recommend 64-bits. Feel free to choose differently if you feel like it better matches

[2022-10-06 18:27] #24374 closed, assigned to nobody

[2022-10-06 18:36] HarvsG commented on #24374
Makes sense. Thanks for the explanation

[2022-10-06 20:43] MiguelCosta opened #24425 "Shelly integration has a breaking change undocumented in the version 2022.10.0"
### Feedback

The new HA version (2022.10.0) has a breaking change in the update firmare sensor of the Shelly devices and the documention doesn't have any reference (https://www.home-assistant.io/blog/2022/10/05/release-202210/).

Example:
In the previous version (<= 2022.9.X) the sensor was `binary_sensor.luz_casa_de_banho_firmware_update`.

Now the sensor is (2022.10.0): `update.luz_casa_de_banh

[2022-10-06 20:58] MiguelCosta commented on #24425
Correction: the MR related is https://github.com/home-assistant/core/pull/78305

[2022-10-06 21:03] #23594 closed, assigned to nobody

[2022-10-06 21:03] #23592 closed, assigned to nobody

[2022-10-07 01:44] eckolaw opened #24428 "New Home Assistant MQTT config for lights"
### Feedback

No matter how I add a second mqtt light the new way in the config file shows duplicate key used for light. The old way with `light:  -platform: mqtt'` still works

`mqtt:
   light:
    name: "Office"
   ....
  light:
    name: "Hallway"`

### URL

https://www.home-assistant.io/integrations/light.mqtt/#new_format

### Version

2022.10.1

### Additional information

`mqtt:
  light:

[2022-10-07 01:44] homeassistant commented on #24428
Hey there @emontnemery, mind taking a look at this feedback as it has been labeled with an integration (`mqtt`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L402) for? Thanks!

[2022-10-07 03:24] jjlawren commented on #24285
This is a service call which can be triggered from scripts/automations or from the frontend under `Developer Tools > Services`:
![image](https://user-images.githubusercontent.com/1203111/194461328-2a1ae06e-51b0-4965-b92e-426c33ee1dcd.png)

[2022-10-07 05:19] TheRealBenForce commented on #23699
Still relevant.

[2022-10-07 08:30] Hedda commented on #21565
Giving this another try with a fresh new pull request for ZHA docs -> https://github.com/home-assistant/home-assistant.io/pull/24432

[2022-10-07 08:33] LucaBoschetto commented on #24417
If I use the automation from the UI, I can see the config entry, so nothing confusing there. But not everybody uses this integration from the UI, and not everybody knows what a config entry is (even googling it on home-assistant.io is not very straightforward).

[2022-10-07 10:41] tkdrob commented on #24417
I still don't see a need for it. The config entry id is what is put there in yaml which is a long set of characters. Same goes with device and entity ids for targets. That's not something I think we should explain. Just use the UI at first and then go into yaml for those who prefer it. Throwing more details in there will cause more confusion for the common user then will help.

[2022-10-07 10:59] pyrrolizin commented on #24392
Have you cleared the browser cache or tried a hard reload (ctrl+F5 or similar)?

[2022-10-07 11:05] ludeeus commented on #24392
You do not have to restart after adding images to `/config/www`.
You do have to restart when you create the `/config/www` folder as described in the hosting documentation that is linked from that page in the description for the `image` key <https://www.home-assistant.io/dashboards/picture#image>

<https://www.home-assistant.io/integrations/http/#hosting-files>

[2022-10-07 11:30] LucaBoschetto commented on #24417
I think that what you are writing would be a sufficient explanation: «A 32-digit hex identifier of the integration. To find what config_entry to use, use the UI where you can find it listed under "Integration*" as "Google Sheets"».

[2022-10-07 12:40] pree commented on #24068
I've created the PR https://github.com/home-assistant/core/pull/79806 to register the entities as devices.

[2022-10-07 12:52] bert269 opened #24437 "Setup Z-Wave.Me RaZberry 7 Pro (700 series) on Yellow With HAOS 9.01"
### Feedback

I followed the instructions on: https://www.home-assistant.io/docs/z-wave/controllers/#supported-z-wave-usb-sticks--hardware-modules for CM4 module.
In coot/config.txt disabled BT and enabled UART.
First rebooted without Razberry 7 module installed (BT still shows up) and then added module and rebooted again.
BT still shows up. Tried to install Z-Wave JS, but got "Unknown error occur

[2022-10-07 13:19] DUC750 commented on #24068
Sorry I didn't reply. I'm on the road for several months and can't deal with it at the moment. But thank you for your answer.

[2022-10-07 14:15] #23603 closed, assigned to nobody

[2022-10-07 16:33] flemmingss commented on #24417
at least it should be explained on the integration page that this integration can be added via ui.
I will try that.

(YAML should be documented anyway btw, my opinion)

[2022-10-07 16:36] tkdrob commented on #24417
[](url)> at least it should be explained on the integration page that this integration can be added via ui. I will try that.

![Screenshot 2022-10-07 123606](https://user-images.githubusercontent.com/21083073/194603748-aa8f97bf-b01f-49f3-9965-682ab07c8c8e.png)

[2022-10-07 18:08] #23548 closed, assigned to nobody

[2022-10-07 19:54] higbyk opened #24442 "No mention of scan_interval on the Scrape page"
### Feedback

scan_interval is not mentioned on the page, but I see it in example configurations in the forums. Is this an optional parameter? How else can I define when the sensor updates?

### URL

https://www.home-assistant.io/integrations/scrape/

### Version

2022.10.1

### Additional information

_No response_

[2022-10-07 19:54] homeassistant commented on #24442
Hey there @fabaff, mind taking a look at this feedback as it has been labeled with an integration (`scrape`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L544) for? Thanks!

[2022-10-07 20:07] goofv opened #24443 "Track AP"
### Feedback

Hi,

is it maybe possible to add the last 3 digits of the host to the dev_id?
So every time a device connect to a different AP it has a different id.
Then it is possible to track a device in different zones in the house.

### URL

https://www.home-assistant.io/integrations/device_tracker/#device_trackersee-service

### Version

_No response_

### Additional information

_No response_

[2022-10-07 20:07] homeassistant commented on #24443
Hey there @home-assistant/core, mind taking a look at this feedback as it has been labeled with an integration (`device_tracker`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L139) for? Thanks!

[2022-10-07 20:46] gjohansson-ST commented on #24442
All sensors based on the "old" yaml syntax has the optional parameter to set `scan_interval`. It's just not mentioned perhaps on every integration page which still has this syntax for configuration.
Ex:
[code]

[2022-10-07 21:03] #22757 closed, assigned to nobody

[2022-10-07 21:23] higbyk commented on #24442
That's good to know - could the Scrape page be updated with that information anyways?

[2022-10-07 21:32] higbyk commented on #24442
I added a pull request to include the scan_interval parameter since it is an optional parameter: https://github.com/home-assistant/home-assistant.io/compare/current...higbyk:home-assistant.io:patch-1

[2022-10-07 21:35] gjohansson-ST commented on #24442
You made a commit but didn't make the PR yet.

[2022-10-07 21:36] gjohansson-ST commented on #24442
I was doing one too but then I let yours go through.
Set the PR as it fixes this issue

[2022-10-07 21:51] bm97ppc opened #24445 "TFL - New Line"
### Feedback

Hi is the new Elizabeth line available in this integration? if so can you update the documentation?

https://tfl.gov.uk/tube-dlr-overground/status/

### URL

https://www.home-assistant.io/integrations/london_underground/

### Version

_No response_

### Additional information

_No response_

[2022-10-07 22:04] fabaff commented on #24442
`scan_interval` is available for all sensor which do polling and it's documented [here](https://www.home-assistant.io/docs/configuration/platform_options/#scan-interval).

[2022-10-08 07:43] gjohansson-ST commented on #24442
I think it's still worth having it on each integration page which still remains with old configuration.
Don't seem as @higbyk made his PR so now I made one.

[2022-10-08 07:57] ChrigouTav opened #24451 "Missing commands in case of reboot"
### Feedback

I think it miss the commands to launch HASS after a reboot of the pi comparing to the commands to install it.
I will suggest theses commands, am I right ?

- sudo -u homeassistant -H -s
- cd /srv/homeassistant
- python3.9 -m venv .
- source bin/activate
- hass

### URL

https://www.home-assistant.io/installation/raspberrypi#install-home-assistant-core

### Version

2022.10.1

### Add

[2022-10-08 12:32] higbyk commented on #24442
@gjohansson-ST Thank you! I'm not sure how to do a PR, this was my first attempt.

[2022-10-08 12:47] AgentFalcon commented on #24417
@tkdrob

I found the data input part to be explained wrongly on the integration page.
It says to put in ["foo"], but actually you need to put in something like: ColumnName: Row1

or more specifically, if you want some usable data in there you have to put something like: TemperatureValue: "{{ states.sensor.tempsensor1.state }}"

Putting in the template brackets forces you to leave the UI mode and g

[2022-10-08 13:59] tkdrob commented on #24417
That's not possible yet at this time to have easy data sources without templating. The "foo" example is just that, an example. It can be whatever the user wants it to be. Since the possibilities are endless, it's not for people who are just starting out. For anyone else reading this, check out: https://www.home-assistant.io/integrations/template

Additionally, config entry selector is also already

[2022-10-08 16:06] kupietools opened #24459 "Mac doesn't have apt"
### Feedback

You specify to install HA core on Mac using apt-get. Mac doesn't have apt and doesn't understand .deb files. Also, you specify to use the "useradd" command, which doesn't exist on Mac. Overall it seems like these are Linux instructions, not Mac instructions, just with a MacOS title added at the top of the page.

### URL

https://www.home-assistant.io/installation/macos

### Version

[2022-10-09 00:17] #23622 closed, assigned to StevenLooman

[2022-10-09 00:17] #23597 closed, assigned to nobody

[2022-10-09 04:34] damitjimii commented on #24285
Yeah, I was expecting button.plex_scan_library_<enum libraries>
I don't even see a way to create that based on the

'service: plex.refresh_library
'data:
'  library_name: tv

not to mention you have to know what the library name is that plex is
expecting.
Can we get a code example of using this in the docs?  like a complete code
example, not the snip above.

On Thu, Oct 6, 2022 at 10:24 PM jjlawre

[2022-10-09 05:18] #23553 closed, assigned to nobody

[2022-10-09 06:15] westfa opened #24463 "Add new model to Synology SRM platform documentation"
### Feedback

This integration also works for the latest Synology RT6600ax router with SRM 1.3.

### URL

https://www.home-assistant.io/integrations/synology_srm/

### Version

2022.10.1

### Additional information

_No response_

[2022-10-09 06:15] homeassistant commented on #24463
Hey there @aerialls, mind taking a look at this feedback as it has been labeled with an integration (`synology_srm`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L632) for? Thanks!

[2022-10-09 07:25] TCAby opened #24464 "Can't install final stage"
### Feedback

Final part of my log:
===============================
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [29 lines of output]

              =============================DEBUG ASSISTANCE==========================

[2022-10-09 11:20] TCAby commented on #24464
And I upgraded pip by instruction: Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [29 lines of output]

              =============================DEBUG ASSISTANCE==========================
              If you are seeing an error here please try the following to

[2022-10-09 11:55] TCAby commented on #24464
And I upgraded pip by instruction: Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [29 lines of output]

              =============================DEBUG ASSISTANCE==========================
              If you are seeing an error here please try the following to

[2022-10-09 11:55] #24464 closed, assigned to nobody

[2022-10-09 11:58] TCAby commented on #24464
I tried some times. I re-install wheel, Rust & Cargo... and as a result I've installed it! Bingo ))

[2022-10-09 13:27] #23108 closed, assigned to nobody

[2022-10-09 18:03] RobertGetzner commented on #24392
Hi,  @ludeeus thank you, I missed the step with restart after creating the /config/www folder. My bad, sorry....
Best, Robert

[2022-10-09 18:03] #24392 closed, assigned to nobody

[2022-10-09 20:15] ikifar2012 commented on #24459
It seems it is supposed to be that way
![image](https://user-images.githubusercontent.com/20800434/194777616-4e1610ef-85d9-4773-8c40-faa7a7c92249.png)
I really think we should direct the user to home assistant container on this page

[2022-10-09 20:54] ikifar2012 commented on #24217
Should we add a note to this page?
The thermostat uses the unit system defined in your configuration
![image](https://user-images.githubusercontent.com/20800434/194778994-d71ddf58-c848-4691-8ee3-8a17e1245257.png)

[2022-10-10 00:29] SemoTech commented on #23527
@matrixd2 Sorry to bug you, but can you or anyone else help with this?
Thank you.

[2022-10-10 00:57] klaasnicolaas commented on #23527
Hi there @SemoTech 👋

It seems like you want to report an issue with an Home Assistant integration or ask for a feature request, however, you have submitted documentation feedback instead. Please raise an issue in the Home Assistant core issue tracker instead:

https://github.com/home-assistant/core/issues

Or in case you want to suggest a feature, you should try our [Community Forum: Feature Requ

[2022-10-10 00:57] #23527 closed, assigned to nobody

[2022-10-10 02:06] klaasnicolaas commented on #23637
The url works, but the documentation could be more streamlined on the steps to take.
Will assign this issue to myself to check it out soon.

[2022-10-10 07:20] Hellis81 commented on #24417
Just to give some clarity here, this is my automation that (should) writes all TRV actions to sheets:

My setup is that I have Climate TRV entities and generic thermostat climate entities.
I trigger on the TRV entity and use templates to get values from the generic thermostat entity also, so that is the reason for all the replaces.

[code]

[2022-10-10 09:24] Alethio36 opened #24489 "Amazon Alexa Smart Home Skill cloudflare issue"
### Feedback

after following the instructions to a letter, i absolutely couldn't not get the lambda function to properly test. my issue was in cloudflare (its always dns isn't it?). I had "bot fight mode" (Security->Bots in cloudflare) turned on, and it was blocking any attempt at connecting the app, as well as the lambda test. as a work around under WAF -> Tools, i added
AS16509 (make sure to hi

[2022-10-10 09:24] homeassistant commented on #24489
Hey there @starkillerog, mind taking a look at this feedback as it has been labeled with an integration (`smart_home`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L582) for? Thanks!

[2022-10-10 09:24] homeassistant commented on #24489
Hey there @starkillerog, mind taking a look at this feedback as it has been labeled with an integration (`smart_home`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L582) for? Thanks!

[2022-10-10 09:38] starkillerOG commented on #24489
HomeAssistant bot is tagging me wrong, I am not a code owner of alexa.smart_home, only of the smart_home documentation, which is about smart window blinds, not alexa. smart_home is a supported brand of the motion_blinds integration.
Link to the smart_home website of the brand: https://smart-home.hu/en/

[2022-10-10 09:50] #24463 closed, assigned to nobody

[2022-10-10 10:17] Alethio36 commented on #24489
that seems like a small oversight. ironically, sounds like a issue needs to be raised :/

[2022-10-10 10:50] homeassistant commented on #24489
Hey there @home-assistant/cloud, @ochlocracy, mind taking a look at this feedback as it has been labeled with an integration (`alexa`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L30) for? Thanks!

[2022-10-10 10:50] homeassistant commented on #24489
Hey there @home-assistant/cloud, @ochlocracy, mind taking a look at this feedback as it has been labeled with an integration (`alexa`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L30) for? Thanks!

[2022-10-10 13:12] frenck commented on #24442
It is documented here: <https://www.home-assistant.io/docs/configuration/platform_options/>

Please note, this is not an option provided by the integration, hence it is not documented by the integration.

../Frenck

[2022-10-10 13:12] #24442 closed, assigned to fabaff

[2022-10-10 13:19] gjohansson-ST commented on #24442
Yes but to keep it simple to a user I also thought it was a good idea.
But I'll not fight for this one.

[2022-10-10 13:19] frenck commented on #24451
It depends on your setup and how you wish to start it. Some people create a service e.g., systems or whatever init system they use.

Please note, this is a very advanced installation method, and as the documentation described, we expect people to have knowledge about these things. If this raises a question for you, you might be better of picking a different installation method (don't get me wrong,

[2022-10-10 15:12] Ralcidonis opened #24496 "Use of graphics makes documentation inaccessible to screen reader users"
### Feedback

Please do not use "graphics" or "screenshots" in the body of the documentation to show examples. This is not accessible for users of assistive technology / screen readers. Please use text to give examples. It is still fine to include a screen shot for visual users but this needs to be in addition to the text. Otherwise, the documentation is not helpful to screen reader users.

### UR

[2022-10-10 15:12] homeassistant commented on #24496
Hey there @allenporter, mind taking a look at this feedback as it has been labeled with an integration (`google`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L242) for? Thanks!

[2022-10-10 15:15] allenporter commented on #24496
Thank you for the report, usable documentation, for everyone, is a priority!

My impression is that the screenshots here are entirely supplemental to the written instructions. Can you help me understand an example of where that is not the case and this can be improved?

[2022-10-10 15:17] allenporter commented on #24496
Like oauth step 3? It doesn't say "enter a code" but shows a screenshot of code text box.

[2022-10-10 17:12] #24445 closed, assigned to nobody

[2022-10-10 21:02] ikifar2012 commented on #24351
Could this be accomplished by a note or should we make a separate section?

[2022-10-10 23:42] Ralcidonis commented on #24496
Hi Allen:

Thank you for considering. Indeed, that would be a good example. However, the one that prompted me to submit the feedback is regarding what I believe is an example of how to use the “Google.create_calendar_event” service. My screen reader was reading a graphic right under that entry and I believe it is the actual information that I was looking for.

[2022-10-11 00:14] ikifar2012 commented on #24346
Duplicate of #24351

[2022-10-11 02:16] samuelmcconnell commented on #24417
Perhaps there should be a link to that piece of documentation, to add a bit of clarity? I've been writing automations for years, and I've never seen a config entry selector before. That documentation is for Blueprints (which I don't really use much) and this is not a Blueprint, so if config_entry is going to be showing up outside of Blueprints, maybe it belongs somewhere else in documentation.

[2022-10-11 03:06] allenporter commented on #24496
That particular entry says:

"You can use the service google.create_event to create a new calendar event in a calendar."

Then it has an expandable text box with the title "Create Event Service details" with more information about the service. There is not a screenshot there, but maybe that box is a problem.

I'll do some more investigation.

[2022-10-11 03:40] allenporter commented on #24496
I installed the "Screen Reader" chrome extension, however I am not sure it represents the right experience.  I am curious if the "Create Event Service details" was the problematic entry given that it is a collapsable detail box. When you click it open, it has a description of the service parameters in a table.

This collapsable detail box is a common widget used in many parts of the documentation,

[2022-10-11 04:14] Yowaishi opened #24507 "How to tell what days count as holidays for Workday Sensor"
### Feedback

I want to check what days the workday sensor is going to already count as holidays so that I don't need to bother adding/excluding holidays unnecessarily. My work holidays might not match just based on the country etc. I tried reading all the provided documentation but couldn't find a list to check or anything.

### URL

https://www.home-assistant.io/integrations/workday

### Version

[2022-10-11 04:14] homeassistant commented on #24507
Hey there @fabaff, mind taking a look at this feedback as it has been labeled with an integration (`workday`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L723) for? Thanks!

[2022-10-11 05:42] piek768 commented on #24351
An instruction as a second bullit under the section “ Copying a live operating system (e.g. Ubuntu) onto a USB device” explaining you need to install fuse when using the Ubuntu live OS, via the cli and what commands to use (like I triestig do  in my start post) , would be perfect.

But a link to the solution and explanation that this is a known issue would also be nice.

That would have saved me h

[2022-10-11 07:20] frenck commented on #24346
Closing as duplicate

[2022-10-11 07:20] #24346 closed, assigned to nobody

[2022-10-11 09:27] BoMaDB opened #24513 "\config is missing to connect properly to samba server (from windows)"
### Feedback

Description in HA is atm: If you are on Windows you use \\<IP_ADDRESS>\, if you are on MacOS you use smb://<IP_ADDRESS> to connect to the shares.

Please add: \\<IP_ADDRESS>\config

I wasn't able to connect with my credentials from windows without \config. Now it works!

### URL

local home assistant info

### Version

2022.10.3

### Additional information

_No response_

[2022-10-11 10:28] pmffromspace opened #24517 "Offset in CALDAV event title/message not working"
### Feedback

I added my **nextcloud calender via CalDAV** in configuration.yaml. The events are shown properly.
Problem is, the calender events have start time 2 hours later than shown in my nextcloud calender. I configured timezone in nextcloud and in homeassistant to be same. Tried to offset the timezone  in nextcloud, now difference, changed back to my location.

My solution now would be to us

[2022-10-11 10:32] JL-EU opened #24518 "Unclear how to use the UI for adding MQTT sensor"
### Feedback

I want to add a mqtt sensor, however reading the page: https://www.home-assistant.io/integrations/sensor.mqtt/
it only describe how to do this manually via the configuration.yaml. Maybe this means that it is only possible to do manually but then it would be good if it is stated on the page. As more and more configurations becomes available via the UI it would be good if the documenta

[2022-10-11 10:32] homeassistant commented on #24518
Hey there @emontnemery, mind taking a look at this feedback as it has been labeled with an integration (`mqtt`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L402) for? Thanks!

[2022-10-11 11:07] mkatwijk opened #24519 "Switchbot Remote not supported"
### Feedback

I bought the W0301700 Switchbot Remote but it seems it is not supported by the Switchbot integration. I was looking for a mention of this on the integration page but could not find any.

It seems more people are wondering about the support of the remote: https://community.home-assistant.io/t/switchbot-remote-the-buttons-that-control-the-curtains/365098/4

### URL

https://www.home-as

[2022-10-11 11:07] homeassistant commented on #24519
Hey there @bdraco, @danielhiversen, @renierm26, @murtas, @eloston, mind taking a look at this feedback as it has been labeled with an integration (`switchbot`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L626) for? Thanks!

[2022-10-11 11:25] frenck commented on #24518
It explicitly states how to configure it:

![image](https://user-images.githubusercontent.com/195327/195077691-ada0ef8d-6727-4f23-8b73-96aae6992a86.png)

I'm not sure how that is ambiguous?

[2022-10-11 11:31] frenck commented on #24513
Which page is this feedback for?

[2022-10-11 11:35] JL-EU commented on #24518
So this means only manually configuration I assume? I understand that for you working with the system everthing is obvious, but for me it is not.

[2022-10-11 11:37] frenck commented on #24518
That is what it says, yes. It explicitly tells you that if you want to use your MQTT sensor, you have to add things to the `configuration.yaml` file...

[2022-10-11 12:11] frenck commented on #24517
Hi there @pmffromspace 👋

It seems like you want to report an issue with an Home Assistant integration, however, you have submitted documentation feedback instead. Please report issues with integration here:

<https://github.com/home-assistant/core/issues>

Thanks 👍

../Frenck

[2022-10-11 12:11] #24517 closed, assigned to nobody

[2022-10-11 12:25] jhbl opened #24520 "Paste icon returns error"
### Feedback

In the Chinese language interface, whenever you want to create a numer helper element, go through the following steps: Settings -> Devices & Services -> Helpers -> + CREATE HELPERS -> Create Number.When you want to use the icon that has been copied on the pasteboard, use ctrl+v to paste, and the webpage will be stuck and report an error without response. Finally, an error code will b

[2022-10-11 13:11] stefanroelofs commented on #24507
It is usually based on a Wikipedia entry. For example: [UK Bank holidays](https://en.wikipedia.org/wiki/Public_holidays_in_the_United_Kingdom)

Search for your country in this list and check the code to see your holidays:
https://github.com/dr-prodigy/python-holidays/tree/master/holidays/countries

[2022-10-11 13:13] Ralcidonis commented on #24496
Indeed, that was the problem. The screen reader is not seeing it as a “collapsible” or “clickable” box leading one to believe it is a graphical element. I interpreted it as a screenshot but this was what I walked-away with.

I just went back on the page:

The “Create event Service Details” appears as if it is the title of the graphical element that appears right below it.

I clicked on the create

[2022-10-11 14:14] #22696 closed, assigned to nobody

[2022-10-11 15:01] allenporter commented on #24496
Thank you for the extra detail. This is a big problem as there are many, many, clickable elements like throughout the entire documentation on this page and other pages. I will do some research for a fix.

[2022-10-11 15:50] frenck commented on #24520
Hi there @jhbl!

It seems like you want to report an issue with the Home Assistant frontend, however, you have submitted documentation feedback instead.

Please report issues with the Home Assistant frontend here:

<https://github.com/home-assistant/frontend/issues>

Thanks 👍

../Frenck

[2022-10-11 15:50] #24520 closed, assigned to nobody

[2022-10-11 16:05] #23666 closed, assigned to bdraco

[2022-10-11 16:12] mcginnie opened #24524 "Provide link to Python re module in discussion of regex filters"
### Feedback

https://www.home-assistant.io/docs/configuration/templating/#regular-expressions

Request that this section include a statement about the formatting of the specification of regular expressions, which can be disambiguated by a link to the Python re module help page: https://docs.python.org/3/library/re.html

### URL

https://www.home-assistant.io/docs/configuration/templating/#regular

[2022-10-11 16:14] knwpsk opened #24525 "Update Hayward Omnilogic integration page to point to HACS version"
### Feedback

If I understand the community chat correctly, this Hayward Omnilogic integration has been abandoned in favor of a newer version on HACS. If that's correct, then it seems like the documentation page should say that.

### URL

https://www.home-assistant.io/integrations/omnilogic/

### Version

_No response_

### Additional information

_No response_

[2022-10-11 16:15] homeassistant commented on #24525
Hey there @oliver84, @djtimca, @gentoosu, mind taking a look at this feedback as it has been labeled with an integration (`omnilogic`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L450) for? Thanks!

[2022-10-11 16:15] knwpsk commented on #24525
For example:
https://community.home-assistant.io/t/hayward-omnilogic/122522/170

[2022-10-11 16:33] djtimca commented on #24525
The core integration still exists, just the developers who worked on the initial version of that have moved on to working on a HACS version and are no longer active in expanding on the core integration.

That doesn't mean someone else won't pick up the torch on the core, just that we had to point our limited free cycles in a different direction.

[2022-10-11 16:34] frenck commented on #24525
We don't support custom integrations. PRs to improve and update the core integration are welcome 👍

[2022-10-11 16:35] #24525 closed, assigned to nobody

[2022-10-11 16:55] Ralcidonis commented on #24496
Please do not hesitate to reach out if you would like me to try it again once you have identified a fix.

I am thinking, if it is feasible, that inserting a screen reader flag may be the best option as to not avoid modifying existing work. Only the screen reader will see the flag identifying the element as “clickable.”

[2022-10-11 17:11] knwpsk commented on #24525
@djtimca I can't find the HACS version. I searched for "hayward" and for "omnilogic" in the HACS front end, and it finds nothing. Any help?

[2022-10-11 17:14] djtimca commented on #24525
It is a custom repository. Add https://GitHub.com/djtimca/haomnilogic to your HACS and you can install from there.

[2022-10-11 17:15] knwpsk commented on #24525
Found the instructions in your github, thanks. Installing it now.

[2022-10-11 17:41] knwpsk commented on #24525
OK @djtimca I got it installed.
So... in the Hayward app, I have saved "themes". I click one to shift my system from pool mode to spa mode, and it automatically shifts a couple of valves, turns on the pump (if it's not on), starts the heater, etc.

How would I replicate that in HA? I don't see Themes represented in the integration (right?).
I assume I can create an Automation for this. But I don't

[2022-10-11 17:42] allenporter commented on #24496
I did some reading about the attributes to add to give more semantic context to the screen reader. I installed a reader so I think I have what I need for now, but may ask for you to re-review later once the docs are updated.  Thanks.

[2022-10-11 18:11] djtimca commented on #24525
Best is to ask on the add-on GitHub repo rather than here. Themes are not supported.

Valves should be found as switches generally but the one thing with OmniLogic is that it is extremely flexible and we have found several things that don't necessarily show up the way we would think they should.

[2022-10-11 19:22] droneman83 opened #24528 "how to reconfig from scract with the google nest"
### Feedback

how to get stateded from scratch need a new setup after changes

### URL

https://www.home-assistant.io/integrations/nest/#configuration

### Version

lates

### Additional information

_No response_

[2022-10-11 19:22] homeassistant commented on #24528
Hey there @allenporter, mind taking a look at this feedback as it has been labeled with an integration (`nest`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L415) for? Thanks!

[2022-10-11 19:29] droneman83 commented on #24528
i have figurede it out under intergration and the 3 dot i top corner

[2022-10-11 20:04] #23333 closed, assigned to frenck

[2022-10-11 20:07] droneman83 commented on #24528
but i can still not conect to the project i just say i have to contact my device-access console when i look at the list all files have been created pub sub

[2022-10-11 20:24] knwpsk commented on #24525
Thanks @djtimca
https://github.com/djtimca/haomnilogic/issues/37

[2022-10-11 21:58] Ralcidonis commented on #24496
Glad to  be part of the community! Thanks.

[2022-10-12 06:06] allenporter commented on #24528
ok glad you found the application credentials.  i am having trouble understanding your issue now with device access console. Are you getting a specific error?

[2022-10-12 13:50] antimix opened #24537 "UNABLE TO SELECT HDMI PORT SOURCE"
### Feedback

Using:
 Home Assistant 2022.10.3 Supervisor 2022.10.0 Operating System 8.2 Frontend 20221010.0 - latest

KD-55X8507C
Sony Bravia TV

The source combo list selection only contains TV channels and not the HDMI input ports. So the video source from an external HDMI port can't be selected. However clicking on the Sony Bravia Playing text and getting the details, it is possible to see in

[2022-10-12 13:50] homeassistant commented on #24537
Hey there @bieniu, @drafteed, mind taking a look at this feedback as it has been labeled with an integration (`braviatv`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L87) for? Thanks!

[2022-10-12 13:55] bieniu commented on #24537
You have opened an issue in the documentation repository.  If you have problems with the integration, open an issue in the core repository.

[2022-10-12 13:55] #24537 closed, assigned to bieniu

[2022-10-12 14:03] allenporter commented on #24496
@Ralcidonis the [documentation](https://www.home-assistant.io/integrations/google/) has been updated, including many other pages with the same trouble. I tested this on two different readers, but would like your review as well when you have a moment. Thanks!

[2022-10-12 14:33] antimix commented on #24537
ooops :(

[2022-10-12 14:37] klaasnicolaas commented on #24537
Small side note, avoid text in all capital letters. This comes across as aggressive and you don't want a maintainer to close your issue for those reasons 😉

[2022-10-12 15:54] Ralcidonis commented on #24496
Beautiful! It is now fairly intuitive to the screen reader by adding the collapsible element. Thanks for the quick fix.

[2022-10-12 18:40] droneman83 commented on #24528
this is in danish, i have removede my 2 steps from my google account and redo all of the steps and it still come up with fault
![Skærmbillede 2022-10-12 203652](https://user-images.githubusercontent.com/51987690/195421920-68d26884-629c-4774-841d-55ff2af715a0.jpg)

[2022-10-12 20:32] Rotif opened #24541 "Goodwe Inverter integration - Inverter operation mode"
### Feedback

Hi,
entity select.inverter_operation_mode doesn't work for me. I tried to use it in automation but it doesn't work. The button in the main panel doesn't work either. Pleas is there a way how to switch the operating mode of the inverter using HA?
Thank you
Fitor

### URL

https://www.home-assistant.io/integrations/goodwe

### Version

2022.10.2

### Additional information

In the olde

[2022-10-12 20:32] homeassistant commented on #24541
Hey there @mletenay, @starkillerog, mind taking a look at this feedback as it has been labeled with an integration (`goodwe`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L241) for? Thanks!

[2022-10-13 03:12] allenporter commented on #24528
The common reasons for this "no access to partner" are:
- different accounts used in google cloud console or device access console (check login bar)
- not using a google account but instead using a legacy nest account
- not having any devices on the google account

[2022-10-13 03:13] allenporter commented on #24496
Awesome, thank you for the report.
Marking as closed.

[2022-10-13 03:13] #24496 closed, assigned to allenporter

[2022-10-13 12:07] osmeest opened #24545 "Data Center <-> Country mapping"
### Feedback

In the "Invalid skill id" section, it is referred to some file from the Tuya integration on github.
It might be worth to refer to that file only as a backup since the real source should be in tuya's documentation:
https://developer.tuya.com/en/docs/iot/oem-app-data-center-distributed

### URL

https://www.home-assistant.io/integrations/tuya

### Version

_No response_

### Additional

[2022-10-13 12:07] homeassistant commented on #24545
Hey there @tuya, @zlinoliver, @frenck, mind taking a look at this feedback as it has been labeled with an integration (`tuya`) you are listed as a [code owner](https://github.com/home-assistant/home-assistant.io/blob/current/CODEOWNERS#L667) for? Thanks!

[2022-10-13 17:15] #23672 closed, assigned to bdraco

[2022-10-13 23:08] Yowaishi commented on #24507
Thank you stefanroelofs!

[2022-10-14 10:50] frenck commented on #24428
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-10-14 10:50] #24428 closed, assigned to emontnemery

[2022-10-14 12:39] rozie opened #24563 "Cannot sign CLA"
### Feedback

I can't sign CLA. Tried on two browsers - Firefox normal mode, with noscript etc. and later using pure Chrome in incognito mode. In both cases I can press "Sign CLA" button, but nothing happens.

### URL

https://www.home-assistant.io/developers/cla_sign/

### Version

_No response_

### Additional information

_No response_

[2022-10-14 12:53] Remc000tje commented on #24017
so I followed the same steps, used my internal IP, and now HA is stuck in trying to connect to : https://api.home-connect.com/security/oauth/authorize?response_type...................:
Starting a new integration won't work, as it is trying to connect everytime with the wrong credentials.
any idea's how to start over again in HA?

[2022-10-14 13:09] #24563 closed, assigned to nobody

[2022-10-14 15:28] calebmah commented on #24221
You are missing a space in your config in `- name`, this should work:
[code]

[2022-10-14 18:55] higbyk commented on #24442
Would you consider adding a link to the page where that parameter is described?

As a user, I learned of the rest sensor in the forums, decided I'd like to integrate it and looked up the documentation for the rest sensor. I expected all relevant parameters to either be on that page or referenced from that page.

End users are not developers and should not be expected to implicitly understand the i

[2022-10-14 21:05] DarthDestroyer commented on #24017
Just remove your Credentials (top right three dots) and you can reenter your ClientID and Secret...

But i think that the Integrations is not working at the moment...
I've tried any tip here, but no success!

it doenst matter which url you put into home connect, the first browser window opens always with: **&redirect_uri=https://my.home-assistant.io/redirect/oauth&state=**

after trying to change

[2022-10-15 04:45] DuckersMcQuack opened #24571 "Tibber integration suddenly decided to go full error and make 1 cpu core go 100% all the time."
### Feedback

"python3 -m homeassistant --config /config" was the process that constantly used 100% of any core at all times.

Could it be because i switched power company a few days ago? that when they turn off the pulse, the HA config will freak out?

![firefox_fQQsOXswV1](https://user-images.githubusercontent.com/9039370/195969134-5a11beeb-9261-4b66-b192-36f54b8f6012.png)

### URL

https://www.

[2022-10-15 09:10] #23705 closed, assigned to nobody

[2022-10-15 09:26] orandasoft opened #24573 "Missing Error Message SmartThings Integration: Unable to setup the SmartApp."
### Feedback

While entering the Personal Access Token for the SmartThings integration, I am getting this error: "Unable to setup the SmartApp. Please try again." This error is not documented.

### URL

https://www.home-assistant.io/integrations/smartthings/

### Version

2022.10.3

### Additional information

_No response_

[2022-10-15 13:29] Bejjje opened #24575 "“Sunset_time” is mentioned once in text but never explained."
### Feedback

Is “sunset_time:” a variabel that needs to be set, does it use geolocation and uses the real sunset time if not entered or is it deprecated?

It’s mentioned in the text once:

“During the day (in between start time and sunset time), it will fade the lights from the start_colortemp to the sunset_colortemp. After sunset (between **sunset_time** and stop_time), the lights will fade from

[2022-10-15 13:35] NickDorak commented on #24123
Does that mean I would need individual buttons for each different color mode supported?

[2022-10-15 13:37] NickDorak commented on #24123
Do you have a link to that PR so I can go upvote it?

[2022-10-15 16:37] Soltaniuss opened #24577 "Wrong event source type"
### Feedback

Hello there,

i tried to connect my HA with Alexa via AWS..
I followed the instruction letter by letter and ended up in this situation.

I tried to "Configure the Smart Home Service Endpoint".
Everytime i put in the ARN I get the message:
_Please make sure that "Alexa Smart Home" is selected for the event source type, for provided arn [Invalid value] : 'my ARN'_

In my Lambda I only

[2022-10-15 23:03] #23715 closed, assigned to fabaff

[2022-10-16 08:30] thedude911 opened #24580 "max_gps_accurancy variable in OwnTracks integration"
### Feedback

Regarding the OwnTracks integration, there is a variable called "max_gps_accurancy". The variable describes the minimal quality level in terms of meters of gps reports that are accepted, As accurancy is a term of quality, would it not make more sense to call the variable "min_gps_accurancy"? Because you essentially configure the minmal level of accurancy you are willing to accept.

#

[2022-10-16 10:08] ernstkl opened #24581 "Documentation mentions parameter that can no longer be changed"
### Feedback

The page explains the scan_interval parameter. But apparently that parameter was removed as a user accessible option in Feb 2022. Please adapt the docu page as it is misleading now.

### URL

https://www.home-assistant.io/integrations/vicare

### Version

_No response_

### Additional information

_No response_

[2022-10-16 10:29] mkoch66 opened #24582 "Another friendly_name for workday sensor"
### Feedback

I am missing a document on how I can set a friendly_name for the workday sensor to have e.g. a German text in the UI.

### URL

https://www.home-assistant.io/integrations/workday/

### Version

_No response_

### Additional information

_No response_

[2022-10-16 13:15] #24575 closed, assigned to nobody

[2022-10-16 17:02] petermcd opened #24584 "Missing regions when selecting United Kingdom"
### Feedback

When selecting United Kingdom as the country the state/region only appears to provide regions in England and not other areas of the United Kingdom.

On further looking there is a seperate option for Scotland as a country. I suggest changing United Kingdom to be just be England as it the available options does not reflect the regions within the United Kingdom.

### URL

https://www.ho

[2022-10-17 08:53] vitormcbarros opened #24598 "Integration with Home connect documentation"
### Feedback

I had a lot of back and forth until getting the to the right solution, suggesting some fixes on documentation:

Replace link
https://my.home-assistant.io/redirect/oauth
with:
https://my.home-assistant.io/auth/external/callback

Second:
On the "I have manually disabled the My Home Assistant" section.
By default the installation came with it disabled I guess...
I had to activate and co

[2022-10-17 10:58] frenck commented on #24598
That suggestion is incorrect, it must be exactly `https://my.home-assistant.io/redirect/oauth`.

No, it is enabled by default and part of the default configuration. See also: <https://www.home-assistant.io/integrations/default_config>

[2022-10-17 15:17] dieselrabbit commented on #24123
@NickDorak Yes. Here is my lovelace config for all the buttons. Replace `[your_screenlogic_device_id]` with the device ID of your ScreenLogic device. You can get it by going to Services in the Developer Tools menu, building a `screenlogic.set_color_mode` service call through the UI, selecting your ScreenLogic device as the Target, then switching to YAML view.

[code]

[2022-10-17 20:19] kmanan opened #24608 "Code to add image of game being played"
### Feedback

Would it be possible to add the code to show currently being played / last played game?

### URL

https://www.home-assistant.io/integrations/steam_online#examples

### Version

_No response_

### Additional information

_No response_

[2022-10-17 21:06] frenck commented on #24608
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2022-10-17 21:06] #24608 closed, assigned to nobody

[2022-10-17 21:57] #24524 closed, assigned to nobody

[2022-10-18 02:29] withoutgettingwet opened #24610 "Example configuration.yaml uses deprecated format on "Adding devices to home assistant page""
### Feedback

The example given on the "Adding devices to Home Assistant" page uses the following format
[code]
According to [the MQTT sensor page](https://www.home-assistant.io/integrations/sensor.mqtt/) that is an old, deprecated layout, and this should be used instead
[code]

I considered opening a PR myself, but I don't know if "Style 2" on the page is deprecated and/or what its replacement wo

[2022-10-18 05:07] rberger opened #24611 "Supervisor will not update and block all other updates if IPv6 interface is funky"
### Feedback

## Problem

Supervisor will not update and is in unhealthy state because it failed to update in Hassio. Current documentation didn't really tell me how to debug the issue.

Core version: 2022.10.2
Supervisor version 2022.09.1
OS version: Home Assistant OS 9.0

Tried the things on this page. Also the [DNS Server Issue](https://www.home-assistant.io/more-info/unsupported/dns_server/) p

[2022-10-18 11:36] Soltaniuss commented on #24577
No one here to help me?

[2022-10-18 12:09] joshobrienau opened #24613 "Internet Printing Protocol (IPP) - configuration.yaml Options"
### Feedback

What are the options to manually configure Internet Printing Protocol (IPP) printer via configuration.yaml?

The integrations page doesn't list this.

ie;
# Internet Printing Protocol (IPP)
internetprintingprotocol:
    - host: IPADDRESS

### URL

https://www.home-assistant.io/integrations/ipp/

### Version

_No response_

### Additional information

_No response_

[2022-10-18 16:35] TRusselo opened #24615 "Torque integration been broken for years."
### Feedback

https://github.com/home-assistant/core/issues/44241
https://github.com/home-assistant/core/issues/31166
https://github.com/home-assistant/core/issues/28836
https://github.com/home-assistant/core/issues/1515

https://community.home-assistant.io/t/wth-why-is-it-so-difficult-to-setup-torque-obdii-in-ha/470697/4

@dshokouhi

### URL

https://www.home-assistant.io/integrations/torque/

##

[2022-10-18 16:43] dshokouhi commented on #24615
The torque integration is separate from the companion app so I will not be able to help with that. My comment was based on how ot use the companion app to leverage the torque intent system.  We should not be updating this documentation with companion app specific things as those are already documented on the companion site as mentioned in the WTH linked.

[2022-10-18 16:52] jwaldrip commented on #24437
Having the same issue here. The boot/config.txt doesn't seem to do anything.

[2022-10-18 17:10] Bejjje opened #24616 "Better description of how to perform bindings should be added"
### Feedback

A better description of the procedure for example bindings should be added by someone who can confirm how it is supposed to be done.

This is an better, step by step example on how it should be written: https://gist.github.com/HarvsG/d43344cbe07e046cdda50c2458018c33#pairing-onoff-switches-to-ikea-bulbs

(I would write it but I can't get it to work and therefore don't know if it's the

[2022-10-18 19:37] Harald-P commented on #23803
yes, i am talking about modbus TCP over Wifi.

[2022-10-18 22:44] rytilahti commented on #22458
I think we can close this as I'm not seeing an alert at https://alerts.home-assistant.io/ nor at https://www.home-assistant.io/integrations/tplink/ .

[2022-10-18 22:44] #22458 closed, assigned to rytilahti

[2022-10-18 23:08] bert269 commented on #24437
I did get mine eventually to work.
I disabled BT and wifi, and reboot

Then the Zwave device came up.

On Tue, Oct 18, 2022, 10:53 Jason Waldrip ***@***.***> wrote:

[2022-10-19 01:49] tverett opened #24620 "2406: skill id invalid error resolution"
### Feedback

The resolution for the 2406: skill id invalid error is often times also accomplished by unlinking the app from the project and then relinking it. This should be added to the error code section as its well documented in the forums.

### URL

https://www.home-assistant.io/integrations/tuya/

### Version

_No response_

### Additional information

_No response_

[2022-10-19 02:58] #23748 closed, assigned to nobody

[2022-10-19 07:22] sibay opened #24623 "Please provide more information about restarting dbus"
### Feedback

on the dbus issue page is only a short help:

"If the D-Bus daemon is not running, start it."

But how? PLease provide a link, bash command, ....

Thanks

### URL

https://www.home-assistant.io/more-info/unsupported/dbus

### Version

_No response_

### Additional information

_No response_

[2022-10-19 07:26] frenck commented on #24623
This is regarding a supervised installation, right?

[2022-10-19 20:29] #24351 closed, assigned to nobody

[2022-10-19 22:20] Peter83 commented on #24232
worked like a charm, thanks for sharing!

[2022-10-20 01:33] #22795 closed, assigned to nobody

[2022-10-20 04:42] by415304229 opened #24631 "Failure with OPPLE intergtation"
### Feedback

Error while setting up opple platform for light.
Microsoft Visual C++ 14.0 is required when importing pyoppleio.

### URL

https://www.home-assistant.io/integrations/opple/

### Version

_No response_

### Additional information

Here is the log.
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 281, in _async_setup_plat

[2022-10-20 08:19] Jaeensson commented on #24571
I'd like to mention I have a similar issue although I don't see the same warning messages in the log.
After a while after starting HA the CPU usage shoots through the roof and stays at 100% until I disable the polling or the entire integration on my Intel NUC.

I'm still a paying Tibber customer.

[2022-10-20 09:53] Soltaniuss commented on #24577
Nevermind. after 5 days i found out, that i miss typed the skill id. i missed the last digit to copy.

[2022-10-20 09:53] #24577 closed, assigned to ochlocracy

[2022-10-20 14:17] #23765 closed, assigned to nobody

[2022-10-20 16:39] GGBMLC opened #24637 "new MQTT configuration format"
### Feedback

The example at
https://www.home-assistant.io/integrations/sensor.mqtt/#new_format
is not very useful.

Please create a complete syntax example for the MQTT format in the configuration format.
like:
 - platform: mqtt
    name: "XXXX GV"
    state_topic: "mytopic/test_GV"
    command_topic: "mytopic/test_GV"
    payload_on: 1
    payload_off: 0

I also not know how to add the IP for th

[2022-10-20 17:22] ovizii opened #24638 "Can you please provide an explanation of all the icons of the thermostat card?"
### Feedback

Can you please provide an explanation of all the icons of this card?
Some are self-explanatory, but some are a total mystery to me.

i.e. I have no clue what the circled one means
![image](https://user-images.githubusercontent.com/837902/197016446-53cf95cb-5911-47c0-9bff-f86163aeaa90.png)

### URL

https://www.home-assistant.io/dashboards/thermostat/

### Version

2022.10.4

### Addi

[2022-10-20 17:28] ovizii commented on #24638
I'm sorry, I noticed I wasn't even using the simple thermostst card but this one: https://github.com/KartoffelToby/better-thermostat-ui-card

[2022-10-20 17:28] #24638 closed, assigned to nobody

[2022-10-20 18:59] degrashopper opened #24640 "Energy integration: Missing information energy configuration"
### Feedback

On the energy integration page the following text is missing.

Configured by default
This dashboard is by default configured and installed, and you don’t need to configure it yourself, unless you’ve disabled or removed the [default_config:](https://www.home-assistant.io/integrations/default_config/) line from your YAML configuration.

If that is the case, you will need to add the ene